<template>
  <header>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="4">
        <p>活动名称:</p>
      </el-col>
      <el-col :span="8">
        <el-input v-model="form.name" style="width:70%" placeholder="请输入活动名称" clearable v-if="pageType !== 'see'"></el-input>
        <div v-text="form.name" style="margin-top: 6px;" v-else></div>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="4">
        <p>活动时间:</p>
      </el-col>
      <el-col :span="8">
        <el-date-picker
          clearable
          v-model="form.time"
          :picker-options="form.pickerOptions"
          type="datetimerange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          v-if="pageType !== 'see'"
        ></el-date-picker>
        <div style="margin-top: 7px;" v-else>{{form.time[0].substr(0, form.time[0].length - 2) + ' 至 ' + form.time[1].substr(0, form.time[1].length - 2)}}</div>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="4">
        <p style="line-height: 18px">
          <span class="asterisk">*</span>定向人群:
        </p>
      </el-col>
      <el-col :span="12">
        <el-checkbox-group v-model="form.checkboxDatas.option" v-if="pageType !== 'see'">
          <el-checkbox
            :label="item.label"
            v-for="(item, index) in form.checkboxDatas.checkboxOptions"
            :key="index"
            :disabled="form.checkboxDatas.disabled.includes(item.label - 0)"
          >{{item.name}}</el-checkbox>
        </el-checkbox-group>
        <div v-text="form.checkboxDatas.value" v-else></div>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="4">
        <p>列表角标文案:</p>
      </el-col>
      <el-col :span="8">
        <el-tooltip class="item" effect="dark" content="仅限三汉字符位置" placement="top" v-if="pageType !== 'see'">
          <el-input
            v-model="form.content"
            style="width:30%"
            placeholder="请输入"
            @blur="handleBlur"
            @change="handleChange"
            ref="input"
            clearable
          ></el-input>
        </el-tooltip>
        <div style="margin-top: 7px;" v-else>{{form.content.length === 0 ? '暂无设置' : form.content}}</div>
      </el-col>
    </el-row>
  </header>
</template>

<script>
import { localforageDo, transferredMeaning } from "@/utils";
import { mapActions } from "vuex";

export default {
  props: {
    pageType: {
      requried: false,
      type: String,
      default: ''
    },
    SearchRef: {
      requried: true,
      type: Function | Object
    }
  },
  data() {
    return {
      popupPage: 1,
      popupSize: 10,
      form: {
        name: "",
        time: ['',''],
        pickerOptions: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },
        content: "",
        checkboxDatas: {
          option: [],
          disabled: [],
          value: '',
          checkboxOptions: [
            {
              name: "不限",
              label: "0"
            },
            {
              name: "新人",
              label: "1"
            },
            {
              name: "白人（包括新人）",
              label: "2"
            },
            {
              name: "VIP+店主",
              label: "3"
            }
          ]
        },
        inputStatus: false
      }
    };
  },
  methods: {
    ...mapActions([
      "saveElTableEditData",
      "saveTalbeLodingEditStatus",
      "saveTableDatasTotal"
    ]),
    handleBlur() {
      let value = this.form.content.replace(/\s+/g, "");
      if (value.length > 3) {
        // this.$refs.input.$el.children[0].style.border = "1px solid red";
        this.form = Object.assign(this.form, { inputStatus: false });
      }
      if (value.length < 1)
        this.form = Object.assign(this.form, { inputStatus: false });
      if (value.length > 0 && value.length < 4)
        this.form = Object.assign(this.form, { inputStatus: true });
      return this.form.inputStatus;
    },
    handleChange() {
      // this.$refs.input.$el.children[0].style.border = "";
    },
    getJoinProductList(page) {
      if (page === 'reset') this.SearchRef.changeCurrentPage();
      let pId = ''
      let arr = []
      let popupTotal = 0
      let count = 0
      let pageNum = 1
      let lastIndexArr = [-1]
      this.saveTalbeLodingEditStatus(true);
      setTimeout(async _=>{
        const currentPage = sessionStorage.getItem('currentPage')
        let activityData = await localforageDo({
          key: "activityData",
          type: "get"
        })
        activityData.map((item, index) => {
          if (item.pId !== pId) {
            popupTotal++
            count++
            pId = item.pId
            if (count === 10 * pageNum + 1) {
              lastIndexArr.push(index - 1)
              pageNum++
            }
          }
          if (count < 10 * currentPage + 1 && index > lastIndexArr[currentPage - 1]) {
            arr.push(item)
          }
        })
        const activityDataMain = await localforageDo({
          key: "activityDataMain",
          type: "get"
        })
        if(activityDataMain && activityDataMain.length > 0) {
          this.saveTableDatasTotal(activityDataMain[0].activityProductList.length);
          this.form = Object.assign(this.form, {
            name: activityDataMain[0].pName,
            time: [activityDataMain[0].effectFrom, activityDataMain[0].effectTo],
            checkboxDatas: Object.assign(this.form.checkboxDatas, {
              option: activityDataMain[0].customerType.split(",")
            }),
            content: activityDataMain[0].cornerTab
          });
        }
        this.saveTableDatasTotal(popupTotal);
        this.saveElTableEditData(arr);
        this.saveTalbeLodingEditStatus(false);
      }, 600)
    },
    getFormDatas() {
      return this.form
    }
  },
  created() {
    // this.getJoinProductList();
  },
  watch: {
    "form.checkboxDatas.option": function() {
      if (this.form.checkboxDatas.option.includes("0")) {
        this.form.checkboxDatas.disabled = [1, 2, 3];
      } else if (this.form.checkboxDatas.option.length === 0) {
        this.form.checkboxDatas.disabled = [];
      } else this.form.checkboxDatas.disabled = [0];
      this.form.checkboxDatas.option.map((item, index)=>{
        let str = ''
        if(index + 1 !== this.form.checkboxDatas.option.length) str = '、'
        this.form.checkboxDatas.value += transferredMeaning({
          data: this.form.checkboxDatas.checkboxOptions,
          targetAttributeName: "label",
          correspondingAttributeName: "name",
          value: item,
          returnType: "string"
        }) + str
      })
    }
  }
};
</script>

<style lang="scss" scoped>
p {
  margin: 0;
  padding: 0;
  text-align: right;
  line-height: 35px;
}
</style>