<template>
  <div class="handleExcel">
    <el-button type="success" icon="el-icon-upload2" @click="importFile" v-loading="btnLoading"  v-show="isTableFull">导入Excel数据</el-button>
    <el-button type="warning" icon="el-icon-download" @click="downExcel"  v-show="isTableFull">下载折扣促销导入模版</el-button>
    <el-button type="info" icon="el-icon-message" @click="importNotes"  v-show="isTableFull">导入须知</el-button>
    <el-button type="danger" icon="el-icon-full-screen" @click="tableFull" style="margin-right: 50px">{{isTableFull ? '表格全屏' : '退出全屏'}}</el-button>
    <span  v-show="!isTableFull">表格高度调整：</span>
    <el-input-number controls-position="right" @change="handleChange" :min="120" :max="1500" v-show="!isTableFull" v-model="heightTable"></el-input-number>
    <div class="excel">
      <input
        type="file"
        name="upload"
        @change="inputChange"
        ref="input"
        accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      >
    </div>
    <el-dialog :title="elDialog.title" :visible.sync="dialogVisible" width="45%" center>
      <div v-html="elDialog.content"></div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">{{elDialog.btnName}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import XLSX from "xlsx";
import { transferredMeaning, localforageDo, subtraction, downExcelTemplate } from "@/utils";
import { mapActions, mapGetters } from 'vuex';
import {getGoodsMsg} from '@/service/hanweiUrlApi'

export default {
  props: {
    getJoinProductList: {
      required: true,
      type: Function
    },
    btnLoading: {
      required: true,
      type: Boolean
    }
  },
  data() {
    return {
      heightTable: 500,
      elDialog: {
        title: "温馨提示",
        content: "",
        btnName: ""
      },
      dialogVisible: false,
      elTableColumnData: [
        { title: "首页展示", width: 50, target: "show", isCheckbox: true, fixed: true},
        { title: "商品ID", width: 120, target: "pId", fixed: true},
        { title: "sku编码", width: 200, target: "skucode", fixed: true},
        { title: "商品名称", width: 168, target: "name" },
        { title: "规格", width: 168, target: "spec" },
        { title: "售价", width: 100, target: "originalprice" },
        { title: "活动价", width: 100, target: "activityprice", isInput: true },
        {
          title: "兑换价",
          width: 100,
          target: "conversionprice",
          isInput: true
        },
        { title: "德分", width: 100, target: "point" },
        { title: "立减", width: 100, target: "reduction", isInput: true },
        { title: "推广费", width: 100, target: "promoAmt", isInput: true },
        { title: "服务费", width: 100, target: "serverAmt", isInput: true },
        { title: "净值", width: 100, target: "netWorth", isInput: true },
        { title: "库存", width: 100, target: "stock" },
        {
          title: "活动库存",
          width: 100,
          target: "activitystock",
          isInput: true,
          isEdit: false
        },
        { title: "限购数量", width: 100, target: "buylimit", isInput: true }
      ]
    };
  },
  methods: {
    ...mapActions(['changeElCheckboxNum', 'changeStrArr', 'changeTableFull', 'changeTableHeight']),
    async importFile() {
      this.$refs.input.click();
    },
    async inputChange(file) {
      const excelData = await localforageDo({
        key: "excelData",
        type: "get"
      });
      let activityData = await localforageDo({
        key: "activityData",
        type: "get"
      });
      const files = file.target.files;
      let isStop = false
      if (files.length > 0) {
        if (excelData && excelData.length > 0) {
          isStop = await this.$confirm('此操作将删除之前导入的Excel数据, 是否继续导入?', "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          }).then(_ => {
            let arr = []
            activityData.map((item, index) => {
              if(!item.isExcel) {
                arr.push(item)
              } else {
                if (item.show && !item.isExcelTrue) {
                  this.changeStrArr({type: 'del', value: item.pId})
                }
              }
            })
            localforageDo({
              key: "activityData",
              value: arr,
              type: "set"
            });
            return false
          }).catch(_ => true)
        }
        if (isStop) {
          file.target.value = null
          return false
        }
        const fileReader = new FileReader();
        fileReader.onload = ev => {
          file.target.value = null
          try {
            const data = ev.target.result;
            const workbook = XLSX.read(data, {
              type: "binary"
            });
            const sheets = workbook.SheetNames[0]
            const sheetArray = XLSX.utils.sheet_to_json(
              workbook.Sheets[sheets]
            );
            if (sheetArray.length > 0) this.checkData(sheetArray);
            else {
              this.$message.warning(`导入失败：工作表【${sheets}】数据为空`);
            }
          } catch (err) {
            this.dialogVisible = true;
            this.elDialog = Object.assign(this.elDialog, {
              content: `导入失败：${err}，请知悉～`,
              btnName: "我知道了"
            });
            return false;
          }
        };
        fileReader.readAsBinaryString(files[0]);
      }
    },
    Trim(str){
      if (str) {
        str = str + ''
        return str.replace(/(^\s*)|(\s*$)/g, ""); 
      }
    },
    async checkData(data) { // 检查excel导入的数据
      console.log(data, '原始数据')
      const artArr = ['skucode', '活动价', '兑换价', '立减', '推广费', '服务费', '净值', '活动库存', '限购数量']
      const mustArr = ['skucode']
      let errArr = []
      let skucodeArr = []

      artArr.map(atr => {
        if (data[0][atr] == null) {
          errArr.push(atr)
        }
      })
      if (errArr.length > 0) { // 模版不对
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content: `导入失败：模版不匹配，程序检测到导入的excel存在缺少字段【${errArr.join('，')}】，模版正常字段：【${artArr.join('，')}】，请点击页面上的下载折扣促销导入模版，使用该模版导入数据，请知悉～`,
          btnName: "我知道了"
        });
        return false;
      }
      for (let [index, item] of Object.entries(data)) {
        mustArr.map(atr => {
          if (item[atr] == null) {
            errArr.push([index - 0 + 2])
          } else {
            let atrValue = (item[atr] + '').replace(/\s+/g, "")
            atrValue === '' ? errArr.push([index - 0 + 2]) : skucodeArr.push(atrValue)
          }
        })
      }
      if (errArr.length > 0) { // skucode存在空内容
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content: `导入失败：程序检测到导入的excel其skucode存在空内容的行索引有【${errArr.join('，')}】，索引定义是除空行，模版必填字段：【${mustArr.join('，')}】，请知悉～`,
          btnName: "我知道了"
        });
        return false;
      }
      skucodeArr.map((item, index) => { // 检查skucode是否有重复性
        skucodeArr.map((ele, count) => {
          if (item === ele && index !== count) {
            if (!errArr.includes(ele)) errArr.push(ele)
          }
        })
      })
      if (errArr.length > 0) {
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content: `导入失败：程序检测到导入的excel其skucode存在重复性，重复skucode有【${errArr.join('，')}】，请知悉～`,
          btnName: "我知道了"
        });
        return false
      }
      const config = {
        method: 'post',
        body: skucodeArr
      }
      const res = await this.$http(getGoodsMsg, config) // 校验skucode是否合法
      if (!res.httpRequestError) {
        const moreInfo = res.moreInfo || '未知错误'
        if (moreInfo === '' || moreInfo == null) {
          this.collatingData([data, res.data, artArr])
        } else {
          if (moreInfo.includes('&skuCode')) {
            let skuCodeIndex = moreInfo.indexOf('&skuCode')
            let skuCodeStr = moreInfo.lastIndexOf(',') === moreInfo.length - 1 ? moreInfo.substring(skuCodeIndex + 9, moreInfo.length - 1) : moreInfo.substring(skuCodeIndex + 9, moreInfo.length)
            let error = moreInfo.substring(0, skuCodeIndex)
            if (error.length > 0) {
              this.$message({
                message: moreInfo.substring(0, skuCodeIndex),
                type: "error"
              });
            }
            if (skuCodeStr.length > 0) {
              this.dialogVisible = true;
              this.elDialog = Object.assign(this.elDialog, {
                content: `导入失败：存在问题的skucode有【${skuCodeStr}】，这些skucode无法查询到对应数据，请知悉～`,
                btnName: "我知道了"
              });
            }
            if (error.length === 0 && skuCodeStr.length === 0) this.collatingData([data, res.data, artArr])
          } else {
            this.dialogVisible = true;
            this.elDialog = Object.assign(this.elDialog, {
              content: `导入失败：${moreInfo}，请知悉～`,
              btnName: "我知道了"
            });
          }
        }
      } else {
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content: `导入失败：${res.httpRequestError || "系统异常"}，请知悉～`,
          btnName: "我知道了"
        });
      }
    },
    async collatingData([data, res, artArr]) { // 整理数据
      let excelData = []
      let excelObj = {
        show: false,
        pId: '',
        skucode: '',
        name: '',
        spec: '',
        originalprice: 0,
        activityprice: 0,
        conversionprice: 0,
        point: 0,
        reduction: 0,
        promoAmt: 0,
        serverAmt: 0,
        netWorth: 0,
        stock: 0,
        activitystock: 0,
        buylimit: 0
      }
      let xquarkSkulistPid = []
      let dataArr = []
      let xquarkSkulist = []
      let outObj = {
        img: '',
        name: '',
        pId: '',
        productStatus: '',
        productamount: '',
        productprice: '',
        sourceId: null
      }
      if (res.length === 0) {
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content: `导入失败：获取服务器数据为空，请知悉～`,
          btnName: "我知道了"
        });
        return false
      }
      for(let [index, item] of Object.entries(res)) {
        const activityprice = (Number((data[index][artArr[1]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
        const conversionprice = (Number((data[index][artArr[2]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
        let point = (activityprice - conversionprice) * 10
        point = point.toFixed(2) - 0
        excelObj = Object.assign(excelObj, {
          pId: item.pid,
          skucode: item.skuCode,
          name: item.name,
          spec: item.spec,
          originalprice: item.originalPrice,
          stock: item.stock,
          activityprice,
          conversionprice,
          point,
          reduction: (Number((data[index][artArr[3]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0,
          promoAmt: (Number((data[index][artArr[4]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0,
          serverAmt: (Number((data[index][artArr[5]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0,
          netWorth: (Number((data[index][artArr[6]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0,
          activitystock: (Number((data[index][artArr[7]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0,
          buylimit: (Number((data[index][artArr[8]] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
        })
        excelData.push(excelObj)
        excelObj = {
          show: false,
          pId: '',
          skucode: '',
          name: '',
          spec: '',
          originalprice: 0,
          activityprice: 0,
          conversionprice: 0,
          point: 0,
          reduction: 0,
          promoAmt: 0,
          serverAmt: 0,
          netWorth: 0,
          stock: 0,
          activitystock: 0,
          buylimit: 0
        }
      }
      for(let [index, item] of Object.entries(excelData)) {
        for(let [int, ele] of Object.entries(excelData)) {
          if (item.pId === ele.pId && !xquarkSkulistPid.includes(item.pId)) {
            outObj = Object.assign(outObj, ele)
            xquarkSkulist.push(outObj)
            outObj = {
              img: '',
              name: '',
              pId: '',
              productStatus: '',
              productamount: '',
              productprice: '',
              sourceId: null
            }
          }
          if (int - 0 === excelData.length - 1 && !xquarkSkulistPid.includes(item.pId)) {
            xquarkSkulistPid.push(item.pId)
            outObj = Object.assign(outObj, {
              pId: item.pId,
              name: item.name,
              isExcel: true,
              isExcelTrue: item.show,
              xquarkSkulist
            })
            dataArr.push(outObj);
            xquarkSkulist = []
            outObj = {
              img: '',
              name: '',
              pId: '',
              productStatus: '',
              productamount: '',
              productprice: '',
              sourceId: null
            }
          }
        }
      }
      this.importData(dataArr)
    },
    async importData (data) { // 导入展示数据
      let pidArr = []
      let skucodeArr = []
      let activityData = await localforageDo({
        key: "activityData",
        type: "get"
      }) || []
      activityData.map(item => {
        if(!pidArr.includes(item.pId))pidArr.push(item.pId)
        item.xquarkSkulist.map(ele => {
          if(!skucodeArr.includes(ele.skucode))skucodeArr.push(ele.skucode)
        })
      })
      const url = window.location.href
      for (let [index, item] of Object.entries(activityData)) {
        for (let [int, ele] of Object.entries(data)) {
          if (item.pId === ele.pId) {
            item.xquarkSkulist.map((itemA, indexA) => {
              let isRepeat = true
              ele.xquarkSkulist.map((eleA, intA) => {
                if (itemA.skucode === eleA.skucode) {
                  itemA = Object.assign(itemA, eleA, {
                    fzSkuCode: item.fzSkuCode,
                    productId: item.productId,
                    fzId: item.fzId,
                    sourceId: item.sourceId,
                    activitystock: url.includes('type=edit') ? item.activitystock : eleA.activitystock
                  })
                } else if (!skucodeArr.includes(eleA.skucode)) {
                  item.xquarkSkulist.unshift(eleA)
                  skucodeArr.push(eleA.skucode)
                }
              })
            })
          } else if (!pidArr.includes(ele.pId)) {
            pidArr.push(ele.pId)
            activityData.unshift(ele)
          }
        }
      }
      if (activityData.length === 0) activityData = data
      let newArr = []
      let pIdArr = []
      activityData.map(item => {
        item.xquarkSkulist.map(ele => {
          if (!pIdArr.includes(item.pId)) {
            item = {...item, ...ele}
            newArr.push(item)
          }
        })
        if (!pIdArr.includes(item.pId)) pIdArr.push(item.pId)
      })
      localforageDo({
        key: "excelData",
        value: newArr,
        type: "set"
      });
      localforageDo({
        key: "neWpopupTableSelectData",
        value: newArr,
        type: "set"
      });
      localforageDo({
        key: "activityData",
        value: newArr,
        type: "set"
      });
      this.getJoinProductList('reset');
      let doubleCount = 0
      let pIdArrN = []
      data.map(item => {
        if (item.xquarkSkulist.length > 1 && !pIdArrN.includes(item.pId)) doubleCount ++
        if (!pIdArrN.includes(item.pId)) pIdArrN.push(item.pId)
      })
      this.dialogVisible = true;
      this.elDialog = Object.assign(this.elDialog, {
        content: `导入成功：总共${data.length}条数据，其中有${doubleCount}个多规格商品，和${pIdArrN.length - doubleCount}个单规格商品，请知悉～`,
        btnName: "我知道了"
      });
    },
    downExcel () {
      const data = [{ //表格内容
          'skucode': '',
          '活动价': '',
          '兑换价': '',
          '立减': '',
          '推广费': '',
          '服务费': '',
          '净值': '',
          '活动库存': '',
          '限购数量': ''
      }];
      downExcelTemplate(data, '折扣促销导入模版')
    },
    importNotes () {
      this.dialogVisible = true;
      this.elDialog = Object.assign(this.elDialog, {
        content: `
                    <p>1.Excel导入模版不允许对单元格进行合并，合并单元格会导致取值不准确</p>
                    <p>2.Excel导入模版中只有【skucode】字段为必填，非必填字段值默认为0</p>
                    <p>3.脚本会自动将读取到的Excel导入模版中所有字段值内容，进行所有空格清除处理</p>
                    <p>4.脚本会对读取到的除【skucode】字段外，其余字段值内容如果不是数字，脚本自动转化为0</p>
                    <p>5.重复导入Excel数据，脚本会将上一次导入的Excel数据全部删除，然后再写入</p>
                    <p>6.Excel导入是覆盖式导入</p>
                    <p>7.编辑页是不支持Excel导入去修改活动库存的，必须点击需要修改的活动库存输入框，通过弹窗去修改值</p>
                  `,
        btnName: "我知道了"
      });
    },
    tableFull() {
      this.heightTable = 500
      this.changeTableHeight(500)
      this.changeTableFull(!this.isTableFull)
      scroll(0, 0)
    },
    handleChange (value) {
      this.changeTableHeight(value)
    }
  },
  computed: {
    ...mapGetters([
      'elCheckboxNum',
      'atrArr',
      'isTableFull'
    ])
  }
};
</script>

<style lang="scss" scoped>
.handleExcel {
  .excel {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
</style>

