<template>
  <el-dialog title :visible.sync="dialogTableVisible" :width="width">
    <TableP
      :elTableData="elTableData"
      :elTableColumnData="elTableColumnData"
      :elButtonData="elButtonData"
      ref="tableP"
      :location="'left'"
      :handleSelectionChange="handleSelectionChange"
      :handleDo="handleDo"
      :total="popupTotal"
      :tableLoading="tableLoading"
      :handleCurrentChange="handleCurrentChange"
      :othersOption="othersOption"
      :confirm="confirm"
      :handleAll="handleAll"
      :typeTem= "'TableP'"
    ></TableP>
  </el-dialog>
</template>

<script>
import TableP from "@/components/TableP";
import { localforageDo } from "@/utils";
import { mapActions, mapGetters } from "vuex";

export default {
  props: {
    elTableData: {
      requried: true,
      type: Array
    },
    updatedData: {
      requried: true,
      type: Function
    },
    width: {
      requried: false,
      type: String,
      default: "80%"
    },
    tableLoading: {
      requried: true,
      type: Boolean
    },
    popupTotal: {
      requried: true,
      type: Number
    },
    getJoinProductList: {
      requried: true,
      type: Function
    },
    handleAll: {
      requried: false,
      type: Function
    },
    handleDo: {
      requried: false,
      type: Function
    }
  },
  data() {
    return {
      dialogTableVisible: false,
      elTableColumnData: [
        // { title: "操作", width: 50, type: "selection" },
        { title: "商品图片", width: 100, target: "img", isImg: true },
        { title: "商品名称", width: 'auto', target: "name" },
        { title: "状态", width: 200, target: "productStatus" },
        { title: "价格", width: 168, target: "productprice" },
        { title: "库存", width: 168, target: "productamount" }
      ],
      elButtonData: [
        {
          title: "添加",
          type: "warning",
          status: [false],
          isMargin: true
        },
        {
          title: "取消",
          type: "info",
          status: [true],
          isMargin: true
        }
      ],
      elTableBorder: false,
      othersOption: {
        hasComfirm: true,
        hasSelect: true
      },
      comfirm: ""
    };
  },
  components: {
    TableP
  },
  computed: {
    ...mapGetters([
      'elCheckboxNum',
      'atrArr'
    ])
  },
  methods: {
    ...mapActions([
      'changeElCheckboxNum', 'changeStrArr'
    ]),
    handleCurrentChange(page) {
      this.updatedData(page);
    },
    handleElDialog() {
      this.comfirm = "";
      if (this.dialogTableVisible) {
        this.$refs.tableP.changeCurrentPage();
        this.dialogTableVisible = false;
      } else {
        this.dialogTableVisible = true;
        if (this.$refs.tableP) this.$refs.tableP.changeCurrentPage();
      }
    },
    handleSelectionChange(val) {},
    async confirm(length) {
      this.comfirm = "确认";
      this.$refs.tableP.changeCurrentPage();
      this.dialogTableVisible = false;
      if (length === 0) return false;
      const neWpopupTableSelectData = await localforageDo({
        key: "neWpopupTableSelectData",
        type: "get"
      });
      const activityData = await localforageDo({
        key: "activityData",
        type: "get"
      });
      if (neWpopupTableSelectData) {
        let arr = [];
        neWpopupTableSelectData.map(item => {
          let obj = {};
          item.xquarkSkulist.map(ele => {
            obj = { ...obj, ...item };
            obj = { ...obj, ...ele };
            arr.push(obj)
          })
        });
        let count = 0
        let maxIndex = 0
        let index = activityData.length - arr.length
        if (index > 0) maxIndex = index
        for (let [i, val] of activityData.entries()) {
          if(val.show && !val.isHttpAdd) {
            if  (count < maxIndex) {
              this.atrArr.map((itemDel, indexDel) => {
                if (itemDel === val.pId && val.show && !val.isHttpAdd) {
                  this.changeStrArr({type: 'del', value: val.pId})
                }
              })
              count++
            } else break
          }
        }
        localforageDo({ key: "activityData", value: arr, type: "set" });
        localforageDo({
          key: "neWpopupTableSelectData",
          value: arr,
          type: "set"
        });
        this.getJoinProductList();
      }
    }
  },
  watch: {
    dialogTableVisible: function() {
      if (!this.dialogTableVisible && this.comfirm === "") {
        const activityData = localforageDo({
          key: "activityData",
          type: "get"
        });
        activityData.then(data => {
          if (data) {
            localforageDo({
              key: "neWpopupTableSelectData",
              value: data,
              type: "set"
            });
          }
        });
      }
    }
  }
};
</script>
