<template>
  <div class="PublishNewActivitiesF">
    <el-steps :active="step" align-center style="margin-bottom: 20px" v-show="isTableFull">
      <el-step title="基本信息" icon="el-icon-edit"></el-step>
      <el-step title="活动设置" icon="el-icon-setting"></el-step>
    </el-steps>
    <slot></slot>
    <div style="text-align:right">
      <el-button size="small" type="primary" v-for="(item, index) in btns" :key="index" :disabled="item.disabled" @click.native.prevent="handleClick(item, index)" v-show="item.isShow" v-loading="item.loading">{{item.name}}</el-button>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  props: {
    step: {
      required: true,
      type: Number
    },
    btns: {
      required: true,
      type: Array
    },
    handleClick: {
      required: false,
      type: Function,
      default: _=>{}
    }
  },
  computed: {
    ...mapGetters(['isTableFull'])
  }
}
</script>

