<template>
  <div class="secondStep">
    <Search :isButton="false" :getJoinProductList="getJoinProductList" ref="Search" :isComputed="isComputed" :max="max"/>
  </div>
</template>

<script>
import Search from '@/views/activityManagement/commodityPromotion/components/Search'
import { localforageDo } from "@/utils";
import { mapActions } from "vuex";

export default {
  props: {
    isComputed: {
      required: true,
      type: Number | String
    },
    max: {
      required: true,
      type: Number
    }
  },
  data() {
    return {
      popupPage: 1,
      popupSize: 10
    }
  },
  components: {
    Search
  },
  methods: {
    ...mapActions([
      "saveElTableEditData",
      "saveTalbeLodingEditStatus",
      "saveTableDatasTotal"
    ]),
    getJoinProductList(page) {
      if (page === 'reset') this.$refs.Search.changeCurrentPage();
      let pId = ''
      let arr = []
      let popupTotal = 0
      let count = 0
      let pageNum = 1
      let lastIndexArr = [-1]
      this.saveTalbeLodingEditStatus(true);
      setTimeout(async _=>{
        const isComputed = sessionStorage.getItem('isComputed')
        const currentPage = sessionStorage.getItem('currentPage')
        let activityData = await localforageDo({
          key: "activityData",
          type: "get"
        })
        activityData.map((item, index) => {
          if (isComputed == 0) {
            item = Object.assign(item, {
              reduction: 0,
              serverAmt: 0,
              promoAmt: 0,
              netWorth: 0
            });
          }
          if (item.pId !== pId) {
            popupTotal++
            count++
            pId = item.pId
            if (count === 10 * pageNum + 1) {
              lastIndexArr.push(index - 1)
              pageNum++
            }
          }
          if (count < 10 * currentPage + 1 && index > lastIndexArr[currentPage - 1]) {
            arr.push(item)
          }
        })
        this.saveTableDatasTotal(popupTotal);
        this.saveElTableEditData(arr);
        this.saveTalbeLodingEditStatus(false);
        console.log(lastIndexArr)
      }, 600)
    }
  }
}
</script>
