<template>
  <div class="firstStep">
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="5"><p><span class="asterisk">*</span>活动名称:</p></el-col>
      <el-col :span="8"><el-input v-model="form.name" style="width:70%" placeholder="请输入活动名称" clearable></el-input></el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="5"><p><span class="asterisk">*</span>活动时间:</p></el-col>
      <el-col :span="8"><el-date-picker
          clearable
          v-model="form.time"
          :picker-options="form.pickerOptions"
          type="datetimerange"
          align="left"
          unlink-panels
          placeholder="请选择活动时间"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="5"><p style="line-height: 18px"><span class="asterisk">*</span>选择活动资源位:</p></el-col>
      <el-col :span="16">
        <el-radio v-model="form.radioResourceLocation.option" :label="item.label" v-for="(item, index) in form.radioResourceLocation.radioOptions" :key="index">{{item.name}}</el-radio>
        <div class="imgBox">
          <div class="imgMsg" v-for="(item, index) in form.imgData" :key="item.inputName">
            <div class="imgArea" @click="addImg(item)">
              <svg class="icon addIcon" aria-hidden="true" v-show="item.src.length < 3">
                <use xlink:href="#icon-plus-add-copy"></use>
              </svg>
            </div>
            <img :style="{zIndex: item.src.length > 3 ? 999 : -999}" :src="item.src" @click="addImg(item)"/>
            <div class="inputArea"><input :ref="item.inputName" type="file" accept="image/*" @change="inputChange($event, index)"/></div>
            <div class="imgMark" v-text="item.mark"></div>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="5"><p style="line-height: 18px"><span class="asterisk">*</span>定向人群:</p></el-col>
        <el-col :span="12">
          <el-checkbox-group v-model="form.checkboxDatas.option">
            <el-checkbox :label="item.label" v-for="(item, index) in form.checkboxDatas.checkboxOptions" :key="index" 
            :disabled="form.checkboxDatas.disabled.includes(item.label - 0)"
            >{{item.name}}</el-checkbox>
          </el-checkbox-group>
        </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;" v-for="(item, index) in form.radioData" :key="index">
      <el-col :span="5"><p style="line-height: 18px"><span class="asterisk">*</span>{{item.title}}</p></el-col>
        <el-col :span="12">
          <el-radio-group v-model="item.value">
            <el-radio :label="ele.label" v-for="(ele, i) in item.options" :key="i">{{ele.name}}</el-radio>
          </el-radio-group>
        </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="5"><p>列表商品主图的角标文案:</p></el-col>
      <el-col :span="8">
        <el-tooltip class="item" effect="dark" content="仅限三汉字符位置" placement="top">
          <el-input v-model="form.content" style="width:30%" placeholder="请输入" @blur="handleBlur" @change="handleChange" ref="input" clearable></el-input>
        </el-tooltip>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        time: '',
        pickerOptions: {
          disabledDate(time) {
            return time.getTime() < Date.now() - 8.64e7;
          }
        },
        content: '',
        radioResourceLocation: {
          option: '',
          radioOptions: [{
            name: '资源位一 > 橱窗型',
            label: 1
          },{
            name: '资源位二 > banner广告型',
            label: 0
          }]
        },
        checkboxDatas: {
          option: [],
          disabled: [],
          checkboxOptions: [{
            name: '不限',
            label: '0'
          },{
            name: '新人',
            label: '1'
          },{
            name: '白人（包括新人）',
            label: '2'
          },{
            name: 'VIP+店主',
            label: '3'
          }]
        },
        inputStatus: false,
        imgData: [{
          src: '',
          inputName: 'input1',
          mark: '二级页面banner尺寸为：750*356'
        },
        {
          src: '',
          inputName: 'input2',
          mark: '首页banner尺寸为：750*280'
        },
        {
          src: '',
          inputName: 'input3',
          mark: '二级页面banner尺寸为：750*356'
        }],
        radioData: [{
          title: '是否展示倒计时:',
          value: '',
          options: [{
            label: '0',
            name: '不展示'
          },{
            label: '1',
            name: '展示'
          }]
        },{
          title: '是否计算收益:',
          value: '',
          options: [{
            label: '0',
            name: '不计算'
          },{
            label: '1',
            name: '计算'
          }]
        },{
          title: '运费:',
          value: '',
          options: [{
            label: '0',
            name: '不包邮'
          },{
            label: '1',
            name: '包邮'
          }]
        }]
      }
    }
  },
  methods: {
    addImg(item) {
      if (this.form.radioResourceLocation.option === 1 && item.inputName === 'input1') this.$refs[item.inputName][0].click()
      if (this.form.radioResourceLocation.option === 0 && item.inputName !== 'input1') this.$refs[item.inputName][0].click()
      
    },
    inputChange(ev, index) {
      const vm = this
      let message = ''
      let width = 0
      let height = 0
      if(index === 0 || index === 2) {
        width = 750
        height = 356
        message = '您传入的图片尺寸不符合，二级页面banner尺寸为750*356，请重新上传'
      } else {
        width = 750
        height = 280
        message = '您传入的图片尺寸不符合，首页banner尺寸为750*280，请重新上传'
      }
      const file = ev.target.files[0]
      ev.target.value = null
      if (file == null) return false
      const url = window.URL.createObjectURL(file)
      const image = new Image()
      image.onload = _=>{
        if(image.width !== width || image.height !== height) {
          this.$message({
            message,
            type: 'warning'
          });
        } else vm.form.imgData[index] = Object.assign(vm.form.imgData[index], {src: url, file})
      }
      image.src = url
    },
    handleBlur() {
      let value = this.form.content.replace(/\s+/g, '')
      if (value.length > 3) {
        // this.$refs.input.$el.children[0].style.border = '1px solid red'
        this.form = Object.assign(this.form, {inputStatus: false})
      }
      if (value.length < 1) this.form = Object.assign(this.form, {inputStatus: false})
      if (value.length > 0 && value.length < 4) this.form = Object.assign(this.form, {inputStatus: true})
      return this.form.inputStatus
    },
    handleChange() {
      // this.$refs.input.$el.children[0].style.border = ''
    },
    getFormDatas() {
      return this.form
    }
  },
  watch: {
    'form.checkboxDatas.option': function(){
      if (this.form.checkboxDatas.option.includes('0')) {
        this.form.checkboxDatas.disabled = [1,2,3]
      } else if (this.form.checkboxDatas.option.length === 0) {
        this.form.checkboxDatas.disabled = []
      } else this.form.checkboxDatas.disabled = [0]
    },
    'form.radioResourceLocation.option': function () {
      sessionStorage.setItem('activityType', this.form.radioResourceLocation.option)
      if (this.form.radioResourceLocation.option === 1) {
        sessionStorage.setItem('minNum', 2)
        this.form.imgData[1] = Object.assign(this.form.imgData[1], {src: ''})
        this.form.imgData[2] = Object.assign(this.form.imgData[2], {src: ''})
      }
      if (this.form.radioResourceLocation.option === 0) {
        sessionStorage.setItem('minNum', 1)
        this.form.imgData[0] = Object.assign(this.form.imgData[0], {src: ''})
      }
     }
  }
}
</script>

<style lang="scss" scoped>
p {
  margin: 0;
  padding: 0;
  text-align: right;
  line-height: 35px;
}
.asterisk {
  color: red;
  padding-right: 5px;
  vertical-align: middle;
  display: inline-block;
}
.imgBox {
  display: flex;
}
.imgBox div {
  &:nth-child(2){
    margin: 20px 10px 0 35px;
  }
}
.imgMsg {
  position: relative;
  margin-top: 20px;
  width: 135px;
  display: flex;
  flex-direction: column;
  .imgArea {
    display: flex;
    width: 135px;
    height: 100px;
    border: 1px dashed #eee;
    .addIcon {
      width: 25px;
      height: 25px;
      margin: auto;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 135px;
    height: 100px;
  }
  .inputArea {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .imgMark {
    text-align: left;
    color: #bbb;
  }
}
</style>

