<template>
  <div class="searchAndTable">
    <PopupTable
      :updatedData="getActivityList"
      :elTableData="PopupElTableData"
      ref="popupTable"
      :tableLoading="PopupTableLoading"
      :popupTotal="popupTotal"
      :getJoinProductList="getJoinProductList"
      :handleAll="handleAll"
      :handleDo="handleDoPopup"
      :max="max"
    />
  <div v-if="pageType !== 'see'" v-show="isTableFull">
    <div
      v-for="(item,index) in selectData"
      :key="index"
      style="display:inline-block;width:12%"
      v-show="pageType !== 'see'"
    >
      <div v-text="item.title"></div>
      <el-select
        v-model="item.value"
        placeholder="请选择"
        style="margin-top:8px;margin-bottom:20px;width:95%"
        :clearable="item.clearable"
      >
        <el-option
          v-for="(ele, index) in item.options"
          :key="index"
          :value="ele.status || ele.name"
        ></el-option>
      </el-select>
    </div>
    <div
      v-for="item in otherSearch"
      :key="item.title"
      style="display:inline-block;width:18%"
      v-show="pageType !== 'see'"
    >
      <div v-text="item.title"></div>
      <el-input
        v-model="item.value"
        style="margin-top:8px;margin-bottom:20px;width:95%"
        :placeholder="item.placeholder"
        clearable
      ></el-input>
    </div>
    <div style="display:inline-block;width:auto" v-show="pageType !== 'see'">
      <el-button
        type="primary"
        icon="el-icon-search"
        :disabled="!(selectData[0].value.length > 0 || selectData[1].value.length > 0 || otherSearch[0].value.length > 0 || otherSearch[1].value.length > 0)"
        @click.native="getActivityList('search')"
        v-loading="tableLoadingSearch || talbeLoadingEdit"
      >搜索</el-button>
    </div>
  </div>
    <handleExcel v-if="!isButton || pageType === 'edit'" :getJoinProductList="getJoinProductList" :pageType="pageType" :btnLoading="tableLoadingSearch || talbeLoadingEdit"/>
    <p v-show="!isImpot">参加活动产品详情：</p>
    <TableP
      :max="max"
      :elTableData="elTableEditData"
      :elTableColumnData="elTableColumnData"
      :elButtonData="elButtonData"
      ref="tableP"
      :objectSpanMethod="objectSpanMethod"
      :handleDo="handleDo"
      :total="tableDataTotal"
      :tableLoading="talbeLoadingEdit"
      :handleCurrentChange="handleCurrentChange"
      :checkboxDisabled="pageType === 'see'"
      :handleEdit="handleEdit"
    ></TableP>
    <div class="saveS" v-if="isButton && pageType !== 'see'">
      <el-button type="primary" @click.native="save" v-loading="isSaveLoading" :disabled="talbeLoadingEdit">保存</el-button>
    </div>
    <el-dialog :title="elDialog.title" :visible.sync="dialogVisible" width="30%">
      <span v-text="elDialog.content"></span>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">{{elDialog.btnName}}</el-button>
      </span>
    </el-dialog>
    <el-dialog title="增加活动库存" :visible.sync="dialogTableVisible" :width="'30%'" id="test">
        <div class="content">
            <p>温馨提示：请在当前活动库存【{{freshStock}}】基础上增减</p>
            <div>
            <span>活动库存：</span>
            <el-input-number v-model="activeInventory"></el-input-number>
            </div>
            <div class="btn">
            <el-button
                type="primary"
                @click="activeInventoryComfirm(false)"
                v-loading="isActiveInventoryLoading"
            >确定</el-button>
            <el-button @click="activeInventoryCancel">取消</el-button>
            </div>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import {checkActiveInventoryF,getActiveInventory,queryActivityProduct, saveActivity} from '@/service/hanweiUrlApi'
import TableP from "@/components/TableP";
import { localforageDo, transferredMeaning, dateChangeover } from "@/utils";
import PopupTable from "@/views/activityManagement/commodityPromotion/components/PopupTable";
import handleExcel from "@/views/activityManagement/commodityPromotion/components/handleExcel";
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    checkboxDisabled: {
      required: false,
      type: Boolean,
      default: false
    },
    isComputed: {
      required: false,
      type: Number | String
    },
    isImpot: {
      required: false,
      type: Boolean,
      default: false
    },
    isButton: {
      required: false,
      type: Boolean,
      default: true
    },
    getJoinProductList: {
      required: false,
      type: Function
    },
    getFormDatas: {
      required: false,
      type: Function
    },
    pageType: {
      required: false,
      type: String,
      default: ""
    },
    max: {
      required: true,
      type: Number
    },
    isDisplay: {
      required: false,
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      rowObj: {},
      freshStock: 0,
      dialogTableVisible: false,
      isActiveInventoryLoading: false,
      activeInventory: 0,
      errorArr: [],
      isSaveLoading: false,
      isPassNum: 0,
      activitystockNum: 0,
      elDialog: {
        title: "提示",
        content: "",
        btnName: ""
      },
      dialogVisible: false,
      PopupTableLoading: false,
      tableLoadingSearch: false,
      popupPage: 1,
      popupSize: 10,
      popupTotal: 0,
      otherSearch: [
        {
          title: "名称",
          value: "",
          placeholder: "请输入商品名称"
        },
        {
          title: "编码",
          value: "",
          placeholder: "请输入商品SKU/ID"
        }
      ],
      selectData: [
        {
          title: "商品分类",
          value: "",
          options: [],
          clearable: true
        },
        {
          title: "商品状态",
          value: "上架",
          options: [
            { status: "草稿", id: "DRAFT" },
            { status: "预售", id: "FORSALE" },
            { status: "下架", id: "INSTOCK" },
            { status: "上架", id: "ONSALE" }
          ],
          clearable: false
        }
      ],
      PopupElTableData: [],
      elTableColumnData: [
        { title: "首页展示", width: 50, target: "show", isCheckbox: true, fixed: true},
        { title: "商品ID", width: 120, target: "pId", fixed: true},
        { title: "sku编码", width: 200, target: "skucode", fixed: true },
        { title: "商品名称", width: 168, target: "name" },
        { title: "规格", width: 168, target: "spec" },
        { title: "售价", width: 100, target: "originalprice" },
        { title: "活动价", width: 100, target: "activityprice", isInput: true },
        {
          title: "兑换价",
          width: 100,
          target: "conversionprice",
          isInput: true
        },
        { title: "德分", width: 100, target: "point" },
        { title: "立减", width: 100, target: "reduction", isInput: true },
        { title: "推广费", width: 100, target: "promoAmt", isInput: true },
        { title: "服务费", width: 100, target: "serverAmt", isInput: true },
        { title: "净值", width: 100, target: "netWorth", isInput: true },
        { title: "库存", width: 100, target: "stock" },
        {
          title: "活动库存",
          width: 100,
          target: "activitystock",
          isInput: true,
          isEdit: false
        },
        { title: "限购数量", width: 100, target: "buylimit", isInput: true }
      ],
      elButtonData: [{ title: "取消", type: "warning", status: "btn" }],
      elTableBorder: false,
      spanArr: []
    };
  },
  components: {
    TableP,
    PopupTable,
    handleExcel
  },
  methods: {
    ...mapActions(["saveElTableEditData", 'changeElCheckboxNum', 'changeStrArr', 'changeTableFull', 'changeTableHeight']),
    exitFull() {
      this.changeTableHeight(500)
      this.changeTableFull(true)
      scroll(0, 0)
    },
    handleEdit(obj, id) {
      if (obj.column.label === '活动库存' && obj.row.sourceId) {
        const input = document.getElementById(id)
        if (input) input.focus()
        this.activeInventoryComfirm(true, obj)
      }
    },
    activeInventoryCancel() {
        this.isActiveInventoryLoading = false
        this.dialogTableVisible = false
    },
    activeInventoryComfirm(bl, obj) {
      obj = obj || this.rowObj
      if (bl) {
          this.rowObj = obj
          const res = this.$http(getActiveInventory, {
              method: 'get',
              params: {
                skuCode: obj.row.fzSkuCode
              }
          })
          res.then(data => {
              if (!data.httpRequestError && data.data) {
                  this.freshStock = data.data.activityStock
                  for (let [index, item] of Object.entries(this.elTableEditData)) {
                    if (item.skucode === obj.row.skucode && index == obj.$index) {
                      item = Object.assign(item, {
                        activitystock: this.freshStock
                      })
                      item.xquarkSkulist.map(ele => {
                        if (ele.skucode === obj.row.skucode) {
                          ele = Object.assign(ele, {
                            activitystock: this.freshStock
                          })
                        }
                      })
                    }
                  }
                  localforageDo({
                    key: "activityData",
                    value: this.elTableEditData,
                    type: "set"
                  });
                  this.dialogTableVisible = bl
              } else {
                  this.$message({
                      message: '网络异常，无法调节库存，请稍后重试',
                      type: "error"
                  });
              }
          })
      } else {
        if (this.isActiveInventoryBtn) return false
        this.isActiveInventoryBtn = true
        this.isActiveInventoryLoading = true;
        const res = this.$http(checkActiveInventoryF, {
            method: 'get',
            params: {
                skuCode: obj.row.fzSkuCode,
                count: this.activeInventory,
                pCode: sessionStorage.getItem("activityPcode"),
                type: 'productSale'
            }
        })
        res.then(data=>{
            if (!data.httpRequestError) {
                if (data.data.flag) {
                    for (let [index, item] of Object.entries(this.elTableEditData)) {
                      if (item.skucode === obj.row.skucode && index == obj.$index) {
                        item = Object.assign(item, {
                          activitystock: data.data.result
                        })
                        item.xquarkSkulist.map(ele => {
                          if (ele.skucode === obj.row.skucode) {
                            ele = Object.assign(ele, {
                              activitystock: data.data.result
                            })
                          }
                        })
                      }
                    }
                    this.$message({
                        message: '操作成功',
                        type: "success"
                    });
                    this.dialogTableVisible = bl
                } else {
                    this.$message({
                        message: `操作失败：${data.moreInfo}`,
                        type: "error"
                    });
                }
            }
            else {
                this.$message({
                    message: data.httpRequestError || "系统异常",
                    type: "error"
                });
            }
            this.isActiveInventoryLoading = false;
            this.isActiveInventoryBtn = false
        })
      }
    },
    handleDo([i, data, name, obj]) {
      if (name === "取消") {
        this.$confirm(`此操作将清除该商品名称是【${obj.name}】，其商品id是【${obj.pId}】，skuCode是【${obj.skucode}】的商品, 是否继续?`, "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(async _ => {
        let arr = [];
        let newArr = [];
        let index = 0;
        let pId = "";
        let count = 0;
        let xquarkSkulist = [];
        let activityData = await localforageDo({
          key: "activityData",
          type: "get"
        });
        activityData.map((ele, h) => {
          if (ele.skucode === obj.skucode) {
            index = h;
            pId = ele.pId;
          } else newArr.push(ele.pId);
          if (h === activityData.length - 1) {
            this.atrArr.map((itemDel, indexDel) => {
              if (itemDel === obj.pId) {
                this.changeElCheckboxNum({type: 'reduce'})
              }
            })
            activityData.splice(index, 1);
            newArr.map((item, j) => {
              if (item === pId) {
                if (count === 0) {
                  activityData[j].xquarkSkulist.map((value, m) => {
                    if (value.skucode === obj.skucode) {
                      activityData[j].xquarkSkulist.splice(m, 1);
                    }
                  });
                  xquarkSkulist = activityData[j].xquarkSkulist;
                }
                count++;
                activityData[j].xquarkSkulist = xquarkSkulist;
              }
            });
          }
        });
        localforageDo({
          key: "activityData",
          value: activityData,
          type: "set"
        });
        localforageDo({
          key: "neWpopupTableSelectData",
          value: activityData,
          type: "set"
        });
        this.getJoinProductList();
        })
        .catch(_=>{})
      }
    },
    getSpanArr(data) {
      this.spanArr = [];
      let pos = 0;
      for (let i = 0; i < data.length; i++) {
        if (i === 0) {
          this.spanArr.push(1);
          pos = 0;
        } else {
          // 判断当前元素与上一个元素是否相同
          if (data[i].pId === data[i - 1].pId) {
            this.spanArr[pos] += 1;
            this.spanArr.push(0);
          } else {
            this.spanArr.push(1);
            pos = i;
          }
        }
      }
    },
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 0 || columnIndex === 1 || columnIndex === 3) {
        const _row = this.spanArr[rowIndex];
        const _col = _row > 0 ? 1 : 0;
        return {
          rowspan: _row,
          colspan: _col
        };
      }
    },
    async getActivityList(handleType) {
      if (handleType === "search") {
        this.popupPage = 1;
        this.tableLoadingSearch = true;
      } else {
        this.popupPage = handleType;
        this.PopupTableLoading = true;
      }
      let neWpopupTableSelectData = await localforageDo({
        key: "neWpopupTableSelectData",
        type: "get"
      });
      if (handleType === "search")
        neWpopupTableSelectData = this.collatingData(neWpopupTableSelectData);
      const status = transferredMeaning({
        data: this.selectData[1].options,
        targetAttributeName: "status",
        correspondingAttributeName: "id",
        value: this.selectData[1].value,
        returnType: "string"
      });
      const type = transferredMeaning({
        data: this.selectData[0].options,
        targetAttributeName: "name",
        correspondingAttributeName: "id",
        value: this.selectData[0].value,
        returnType: "number"
      });
      const config = {
        method: "post",
        body: {
          productName: this.otherSearch[0].value || null,
          status: status,
          productId: this.otherSearch[1].value || null,
          type,
          pageSize: this.popupSize,
          pageNo: this.popupPage
        }
      };
      const res = this.$http(queryActivityProduct, config);
      res.then(data => {
        if (!data.httpRequestError) {
          if (data.result) {
            this.popupTotal = data.result.totalCount;
            let res = data.result.resultList;
            res.map(item => {
              if (neWpopupTableSelectData)
                neWpopupTableSelectData.map(ele => {
                  if (item.pId === ele.pId) {
                    item = Object.assign(item, {
                      status: true // 已添加
                    });
                  }
                });
              item = Object.assign(item, {
                productStatus: transferredMeaning({
                  data: this.selectData[1].options,
                  targetAttributeName: "id",
                  correspondingAttributeName: "status",
                  value: item.productStatus,
                  returnType: "string"
                })
              });
            });
            this.PopupElTableData = res;
            if (this.popupPage < this.popupTotal % this.popupSize)
              this.popupPage++;
            if (handleType === "search") {
              this.$refs.popupTable.handleElDialog();
            }
          } else {
            this.$message({
              type: "error",
              message: "操作失败"
            });
          }
          this.tableLoadingSearch = this.PopupTableLoading = false;
        } else {
          this.$message({
            message: data.httpRequestError || "系统异常",
            type: "error"
          });
          this.tableLoadingSearch = this.PopupTableLoading = false;
        }
      });
    },
    async getCommodityClassificationData() {
      const commodityClassificationData = await localforageDo({
        key: "commodityClassificationData",
        type: "get"
      });
      this.selectData[0].options = commodityClassificationData;
    },
    handleCurrentChange(popupPage) {
      this.getJoinProductList(popupPage);
    },
    async handleAll(type) {
      let bl;
      let arr = [];
      let arr2 = [];
      let neWpopupTableSelectDataArr = [];
      let neWpopupTableSelectData = await localforageDo({
        key: "neWpopupTableSelectData",
        type: "get"
      });
      let isContinue = true
      
      switch (type) {
        case "add":
          bl = true;
          isContinue = false
          break;
        case "cancel":
          const res = await this.$confirm('此操作将批量清除当前页所有商品, 是否继续?', "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          }).then(_ => true).catch(_ => false)
          isContinue = !res
          bl = false;
          break;
      }
      if (isContinue) return false
      this.PopupElTableData.forEach(row => {
        if (bl) {
          if (!row.status) {
            row = Object.assign(row, {
              status: bl
            });
            arr.push(row);
          }
          neWpopupTableSelectDataArr.push(row);
        } else {
          if (neWpopupTableSelectData) {
            for (let [index, item] of neWpopupTableSelectData.entries()) {
              if (row.pId === item.pId) {
                neWpopupTableSelectData.splice(index, 1);
              }
            }
          }
          row = Object.assign(row, {
            status: bl
          });
          arr2.push(row);
        }
      });
      if (bl) {
        if (neWpopupTableSelectData) {
          this.PopupElTableData = neWpopupTableSelectDataArr;
          arr = arr.concat(neWpopupTableSelectData);
          localforageDo({
            key: "neWpopupTableSelectData",
            value: arr,
            type: "set"
          });
        }
      } else {
        localforageDo({
          key: "neWpopupTableSelectData",
          value: neWpopupTableSelectData,
          type: "set"
        });
        this.PopupElTableData = arr2;
      }
    },
    async handleDoPopup([i, data, name]) {
      let arr = [];
      let arrN = [];
      let neWpopupTableSelectData = await localforageDo({
        key: "neWpopupTableSelectData",
        type: "get"
      });
      // 操作
      switch (name) {
        case "添加":
          this.PopupElTableData.map((item, index) => {
            if (index === i) {
              item = Object.assign(item, { status: true });
              arrN.push(item);
            }
            arr.push(item);
          });
          this.PopupElTableData = arr;
          if (neWpopupTableSelectData && neWpopupTableSelectData.length > 0) arrN = arrN.concat(neWpopupTableSelectData);
          localforageDo({
            key: "neWpopupTableSelectData",
            value: arrN,
            type: "set"
          });
          break;
        case "取消":
          this.$confirm(`此操作将清除该商品名称是【${data[i].name}】的商品, 是否继续?`, "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
          .then(_ => {
            this.PopupElTableData.map((item, index) => {
              if (index === i) {
                item = Object.assign(item, { status: false });
                neWpopupTableSelectData.map((ele, h) => {
                  if (ele.pId === item.pId) {
                    if (ele.show) this.changeElCheckboxNum({type: 'reduce'})
                    neWpopupTableSelectData.splice(h, 1);
                  }
                });
              }
              arr.push(item);
            });
            this.PopupElTableData = arr;
            localforageDo({
              key: "neWpopupTableSelectData",
              value: neWpopupTableSelectData,
              type: "set"
            });
          })
          .catch(_ => {})
          break;
      }
    },
    beforeSubmit(form) {
      let content = "";
      let name = form.name.replace(/\s+/g, "");
      if (name.length === 0) {
        content = "【活动名称】一栏不能为空";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (name.length > 10) {
        content = "【活动名称】字符设置过多，不能超过10个字符";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (form.time == null || form.time.length < 1) {
        content = "【活动时间】一栏不能为空";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (form.checkboxDatas.option.length === 0) {
        content = "请选择定向人群";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (form.content.length > 3) {
        content = "列表商品主图的角标文案字符设置过多，仅限3个字符";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      return true
    },
    async save() {
      if (this.isSaveLoading) return false
      this.isSaveLoading = true
      let min = 0
      const activityDataMain = await localforageDo({
        key: "activityDataMain",
        type: "get"
      })
      if (activityDataMain && activityDataMain.length > 0) {
        activityDataMain[0].type ? min = 3 : min = 2
      }
      if (this.elCheckboxNum < min) {
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content: activityDataMain[0].type == 1 ? `保存失败：您选择了橱窗型，首页展示至少需要选择2个产品，请继续添加首页展示产品` : `保存失败：您选择了banner活动型，首页展示至少需要选择1个产品，请继续添加首页展示产品`,
          btnName: "我知道了"
        });
        this.isSaveLoading = false
        return false
      }
      const form = this.getFormDatas();
      if (!this.beforeSubmit(form)) {
        this.isSaveLoading = false
        return false;
      }
      let customerType = form.checkboxDatas.option;
      customerType = customerType.join(",");
      let activityData = await localforageDo({
        key: "activityData",
        type: "get"
      });
      let length = 0;
      let arr = [];
      let count = 1;
      let xquarkSkulist = [];
      let obj = {};
      let regUpperCase = /^[A-Z]+$/;
      this.isPassNum = 0
      this.activitystockNum = 0
      this.skucode = ''
      activityData.map(item => {
        this.checkData(item)
        length = item.xquarkSkulist.length;
        let xquarkSkulistObj = {
          skucode: item.skucode,
          spec: item.spec,
          sourceSkuCode: item.sourceSkuCode,
          originalprice: item.originalprice,
          activityprice: item.activityprice,
          conversionprice: item.conversionprice,
          point: item.point,
          reduction: item.reduction,
          serverAmt: item.serverAmt,
          promoAmt: item.promoAmt,
          netWorth: item.netWorth,
          activitystock: item.activitystock,
          buylimit: item.buylimit,
          show: item.show == null ? false : item.show,
          isDeleted: item.isDeleted,
          stock: item.stock,
          fzSkuCode: item.fzSkuCode,
          productId: item.productId,
          fzId: item.fzId
        };
        xquarkSkulist.push(xquarkSkulistObj);
        obj = {
          img: item.img,
          productamount: item.productamount,
          name: item.name,
          productprice: item.productprice,
          pId: item.pId,
          productStatus: regUpperCase.test(item.productStatus)
            ? item.productStatus
            : transferredMeaning({
                data: this.selectData[1].options,
                targetAttributeName: "status",
                correspondingAttributeName: "id",
                value: item.productStatus,
                returnType: "string"
              }),
          sourceId: item.sourceId,
          xquarkSkulist: xquarkSkulist
        };
        count++;
        if (count - 1 === length) {
          arr.push(obj);
          count = 1;
          xquarkSkulist = [];
          obj = {};
        }
      });
      if (this.errorArr.length > 0) console.log(this.errorArr, '红色圈记的原因')
      if (this.isPassNum > 0 || this.activitystockNum > 0) {
        if (this.isPassNum > 0) {
          this.isSaveLoading = false
          let content = `操作失败：请修复红色圈记异常数据`;
          this.dialogVisible = true;
          this.elDialog = Object.assign(this.elDialog, {
            content,
            btnName: "我知道了"
          });
          return false
        }
        let doubleCount = 0
        let pIdArr = []
        let totalSkuCodeCount = 0
        let content = ''
        arr.map(item => {
          if (item.xquarkSkulist.length > 1 && !pIdArr.includes(item.pId)) doubleCount ++
          if (!pIdArr.includes(item.pId)) pIdArr.push(item.pId)
          totalSkuCodeCount += item.xquarkSkulist.length
        })
        this.activitystockNum === 0
         ? content = `此次提交总共${totalSkuCodeCount}条数据，其中${doubleCount}个多规格商品，和${pIdArr.length - doubleCount}个单规格商品，请知悉～`
         : content = `此次提交总共${totalSkuCodeCount}条数据，其中${doubleCount}个多规格商品，和${pIdArr.length - doubleCount}个单规格商品，程序发现总共${this.activitystockNum}处活动库被设置为【0】，如果需要调整，请关注橙色圈记的输入框，请知悉～`
        const res = await this.$confirm(content, "温馨提示", {
          confirmButtonText: "保存并提交",
          cancelButtonText: "取消",
          type: "warning"
        }).then(_ => {
          return true
        })
        .catch(_=>{
          this.isSaveLoading = false
          return false
        })
        if (!res) return false
      }
      const sendDatas = await localforageDo({
        key: "sendDatas",
        type: "get"
      });
      let newPidArr = []
      let newSkucodeArr = []
      sendDatas.map(item => {
        if (!newPidArr.includes(item.pId)) newPidArr.push(item.pId)
        item.xquarkSkulist.map(ele => {
          if(!newSkucodeArr.includes(ele.skucode)) newSkucodeArr.push(ele.skucode)
        })
      })
      sendDatas.map((itemA, indexA) => {
        let bl = true
        arr.map((valueA, keyA) => {
          if (itemA.pId === valueA.pId) {
            bl = false
            itemA.xquarkSkulist.map((itemB, indexB) => {
              let blB = true
              valueA.xquarkSkulist.map((valueB, keyB) => {
                if (itemB.skucode === valueB.skucode && !keyB.isDeleted) {
                  itemB = Object.assign(itemB, valueB)
                  blB = false
                }
                if(!newSkucodeArr.includes(itemB.skucode)) {
                  newSkucodeArr.push(valueB.skucode)
                  itemA.xquarkSkulist.unshift(valueB)
                }
              })
              if (blB) {
                itemB = Object.assign(itemB, {
                  isDeleted: false
                })
              }
            })
          }
          if(!newPidArr.includes(valueA.pId)) {
            newPidArr.push(valueA.pId)
            sendDatas.unshift(valueA)
          }
        })
        if (bl) {
          itemA.xquarkSkulist.map(itemB => {
            itemB = Object.assign(itemB, {
              isDeleted: false
            })
          })
        }
      })
      const pCode = sessionStorage.getItem("activityPcode");
      const config = {
        method: "post",
        body: {
          pCode,
          pName: form.name,
          effectFrom: dateChangeover([form.time[0], , "dateStamp"]) + "",
          effectTo: dateChangeover([form.time[1], , "dateStamp"]) + "",
          customerType: customerType,
          cornerTab: form.content,
          activityProductList: sendDatas
        }
      };
      const res = this.$http(saveActivity, config);
      res.then(data => {
        if (!data.httpRequestError) {
          this.isSaveLoading = false
          if (data.data) {
            this.$message({
              showClose: true,
              message: "保存成功",
              type: "success"
            });
            this.exitFull()
            this.$router.push("/activityManagement/commodityPromotion");
          } else {
            this.$message({
              showClose: true,
              message: "操作失败",
              type: "warning"
            });
          }
        } else {
          this.isSaveLoading = false
          this.$message({
            message: data.httpRequestError || "系统异常",
            type: "error"
          });
        }
      });
    },
    collatingData(datas) {
      // 整理数据格式
      let length = 0;
      let arr = [];
      let count = 0;
      let xquarkSkulist = [];
      let obj = {};
      let regUpperCase = /^[A-Z]+$/;
      datas.map(item => {
        length = item.xquarkSkulist.length;
        let xquarkSkulistObj = {
          skucode: item.skucode,
          spec: item.spec,
          sourceSkuCode: item.sourceSkuCode,
          originalprice: item.originalprice,
          activityprice: item.activityprice,
          conversionprice: item.conversionprice,
          point: item.point,
          reduction: item.reduction,
          serverAmt: item.serverAmt,
          promoAmt: item.promoAmt,
          netWorth: item.netWorth,
          activitystock: item.activitystock,
          buylimit: item.buylimit,
          show: item.show == null ? false : item.show,
          isDeleted: item.isDeleted || false,
          stock: item.stock,
          isHttpAdd: item.isHttpAdd,
          isExcel: item.isExcel,
          isExcelTrue: item.isExcelTrue,
          fzSkuCode: item.fzSkuCode,
          productId: item.productId,
          fzId: item.fzId
        };
        xquarkSkulist.push(xquarkSkulistObj);
        obj = {
          img: item.img,
          productamount: item.productamount,
          name: item.name,
          productprice: item.productprice,
          pId: item.pId,
          productStatus: item.productStatus,
          sourceId: item.sourceId,
          xquarkSkulist: xquarkSkulist
        };
        count++;
        if (count === length) {
          arr.push(obj);
          count = 0;
          xquarkSkulist = [];
          obj = {};
        }
      });
      localforageDo({
        key: "neWpopupTableSelectData",
        value: arr,
        type: "set"
      });
      return arr;
    },
    changeCurrentPage() {
      this.$refs.tableP.changeCurrentPage();
    },
    checkData(datas) {
      let atr = [
        "activityprice",
        "conversionprice",
        "reduction",
        "serverAmt",
        "promoAmt",
        "netWorth",
        "activitystock",
        "buylimit"
      ];
      if (this.skucode !== datas.skucode) {
        atr.map(str => {
          const value = datas[str]
          const currentPage = sessionStorage.getItem('currentPage') || 1
          const id = `page${currentPage}${str}${datas.pId}${datas.skucode}`
          const inputS = document.getElementById(id)
          if (inputS) inputS.style.border = '1px solid #dcdfe6'
          if (!isNaN(Number(value)) && value !== '' && value != null) {
            if (datas[str] < 0) {
              if (inputS) inputS.style.border = '1px solid red'
              this.errorArr.push({
                atr: str,
                value: datas[str],
                index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                type: 'datas[str] < 0'
              })
              this.isPassNum++
            } else if (str === 'activityprice') {
              if (datas[str] === 0) {
                if (inputS) inputS.style.border = '1px solid red'
                this.errorArr.push({
                  atr: str,
                  value: datas[str],
                  index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                  type: 'datas[str] === 0'
                })
                this.isPassNum++
              } else {
                let subtrahend = datas[str]
                let minuend = datas['conversionprice']
                subtrahend = (Number((subtrahend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
                minuend = (Number((minuend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
                let point = (subtrahend - minuend) * 10
                point = point.toFixed(2)
                if (point != datas.point) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map((item, i) => {
                    let idS = `page${currentPage}${item}${datas.pId}${datas.skucode}`
                    let input = document.getElementById(idS)
                    if (input) input.style.border = '1px solid red'
                    this.errorArr.push({
                      atr: str,
                      value: datas[str],
                      index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                      type: 'point != datas.point'
                    })
                    this.isPassNum++
                  })
                } else if (datas.point < 0) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map(item => {
                    if (inputS) inputS.style.border = '1px solid red'
                    this.errorArr.push({
                      atr: str,
                      value: datas[str],
                      index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                      type: 'datas.point < 0'
                    })
                    this.isPassNum++
                  })
                } else if ((datas.point + '').indexOf('.') > 0) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map(item => {
                    if (inputS) inputS.style.border = '1px solid red'
                    this.errorArr.push({
                      atr: str,
                      value: datas[str],
                      index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                      type: "(datas.point + '').indexOf('.') > 0"
                    })
                    this.isPassNum++
                  })
                }
              }
            }
            if (str === 'activitystock') {
              const reg = /^[0-9]\d*$/
              if (!reg.test(datas[str])) {
                if (inputS) inputS.style.border = '1px solid red'
                this.errorArr.push({
                  atr: str,
                  value: datas[str],
                  index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                  type: '非整数'
                })
                this.isPassNum++
              }else if (datas[str] == 0) {
                if (inputS) inputS.style.border = '1px solid orange'
                this.activitystockNum++
              } else if (datas[str] > datas["stock"]) {
                if (inputS) inputS.style.border = '1px solid red'
                this.errorArr.push({
                  atr: str,
                  value: datas[str],
                  index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                  type: 'datas[str] === 0 || datas[str] > datas["stock"]'
                })
                this.isPassNum++
              }
            }
          if (str === 'buylimit') {
            const reg = /^[0-9]\d*$/
            if (!reg.test(datas[str])) {
              if (inputS) inputS.style.border = '1px solid red'
              this.errorArr.push({
                atr: str,
                value: datas[str],
                index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                type: '非整数'
              })
              this.isPassNum++
            }
          }
        } else {
          if (inputS) inputS.style.border = '1px solid red'
          this.errorArr.push({
            atr: str,
            value: datas[str],
            index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
            type: 'other'
          })
          this.isPassNum++
        }
      });
        this.skucode = datas.skucode;
      }
    },
  },
  created() {
    this.getCommodityClassificationData();
  },
  computed: {
    ...mapGetters(["elTableEditData", "talbeLoadingEdit", "tableDataTotal", 'elCheckboxNum','atrArr', 'isTableFull'])
  },
  watch: {
    elTableEditData: function() {
      this.getSpanArr(this.elTableEditData);
    },
    pageType: function() {
      if (this.pageType === "see") {
        this.elTableColumnData.map(item => {
          switch (item.title) {
            case "首页展示":
              item = Object.assign(item, { disabled: true });
              break;
            case "活动价":
              item = Object.assign(item, { isInput: false });
              break;
            case "兑换价":
              item = Object.assign(item, { isInput: false });
              break;
            case "立减":
              item = Object.assign(item, { isInput: false });
              break;
            case "服务费":
              item = Object.assign(item, { isInput: false });
              break;
            case "推广费":
              item = Object.assign(item, { isInput: false });
              break;
            case "净值":
              item = Object.assign(item, { isInput: false });
              break;
            case "活动库存":
              item = Object.assign(item, { isInput: false });
              break;
            case "限购数量":
              item = Object.assign(item, { isInput: false });
              break;
          }
        });
        this.elButtonData = [];
      }
    },
    isComputed: function() {
      sessionStorage.setItem("isComputed", this.isComputed);
      this.elTableColumnData.map(item => {
        switch (item.title) {
          case "立减":
            item = Object.assign(item, {
              disabled: this.isComputed == 1 ? false : true
            });
            break;
          case "服务费":
            item = Object.assign(item, {
              disabled: this.isComputed == 1 ? false : true
            });
            break;
          case "推广费":
            item = Object.assign(item, {
              disabled: this.isComputed == 1 ? false : true
            });
            break;
          case "净值":
            item = Object.assign(item, {
              disabled: this.isComputed == 1 ? false : true
            });
            break;
        }
      });
      if (this.isComputed != 1) {
        let activityData = localforageDo({
          key: "activityData",
          type: "get"
        });
        activityData.then(data => {
          if (data) {
            data.map(item => {
              item = Object.assign(item, {
                reduction: 0,
                serverAmt: 0,
                promoAmt: 0,
                netWorth: 0
              });
            });
            localforageDo({
              key: "activityData",
              value: data,
              type: "set"
            });
          }
        });
      }
      this.getJoinProductList();
    },
    dialogTableVisible () {
      if (!this.dialogTableVisible) this.activeInventory = 0
    }
  }
};
</script>

<style lang="scss" scoped>
.saveS {
  width: 100%;
  text-align: right;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .btn {
    margin-top: 20px;
  }
}
</style>
