<template>
    <section style='padding:10px;'>
         <el-row style='font-size:16px;'>轮播图管理</el-row>
         <!-- 工具条 -->
        <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;'>
                <el-col :span="8">
                    <span style='display:inline-block;width:80px;text-align:center'>状态:</span>
                    <el-select v-model="status" filterable placeholder="请选择" style="width:60%;">
                            <el-option v-for="(item,index) in stateList" :key="index" :value="item.value" >
                            </el-option>
                    </el-select> 
                    <!-- <el-input v-model="inputVal2" placeholder="请输入条件" style='width:60%;'> </el-input> -->
                </el-col>
                <!-- <el-col :span="8">
                    <span style='display:inline-block;width:80px;text-align:center'>条件2:</span>
                    <el-input v-model="inputVal2" placeholder="请输入条件" style='width:60%;'> </el-input>
                </el-col> -->
                <el-col :span="8">
                    <el-button icon="search" type="primary" size="medium" @click='getList'>查询</el-button>
                    <el-button icon="plus" type="primary" size="medium" @click='handleClick()'>新增</el-button>
                </el-col>
        </el-row>
        <el-row>
            <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                    <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
                </el-col>
        </el-row>
        <el-row>
            <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width:99%;margin-top:5px;font-size:14px;" border >
                <el-table-column type='index' width="110" label='轮播图位置'>
                </el-table-column>
                <el-table-column  width="110" label='图片'>
                    <template slot-scope='scope'>
                        <el-popover placement="left" title="" trigger="hover">
                            <img :src="scope.row.imgUrl" style="max-height:500px;max-width: 500px"/>
                            <img slot="reference" :src="scope.row.imgUrl" style="max-height: 50px;max-width: 80px;">
                       </el-popover>
                    </template>
                </el-table-column>
                <!-- <el-table-column prop="index" label="名称" width="auto">
                </el-table-column> -->
                <el-table-column prop="width" label="宽度" width="100">
                </el-table-column>
                <el-table-column prop="height" label="高度" width="100">
                </el-table-column>
                <!-- <el-table-column prop="createdAt" width="180" label='创建时间'>
                </el-table-column> -->
                 <el-table-column width="auto" label='商品链接' prop='imgLink'>
                     <!-- <template slot-scope='scope'>
                            <span>{{scope.row.imgLink | transfer}}</span>
                         </template> -->
                </el-table-column>
                <el-table-column prop="updatedAt" label="修改时间" width="180">
                </el-table-column>
                <el-table-column width="180" label='有效时间'>
                    <template slot-scope="scope">
                        {{scope.row.effectFrom}}至{{scope.row.effectTo}}
                    </template>
                </el-table-column>
                <el-table-column prop="status" label="排序" width="70" >
                    <template slot-scope="scope">
                        <div style='display:flex;flex-direction:column;justify-content:flex-start'>
                            <el-button icon='caret-top' type='text' style='width:10px;padding:0px !important' @click="sort(scope.row,'up')" :disabled="scope.$index === 0"></el-button>
                            <el-button icon='caret-bottom' type='text' style='width:10px;margin-left:0px !important;padding:0px !important' @click="sort(scope.row,'down')" :disabled="scope.$index === (total-1)"></el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width='120'>
                    <template slot-scope="scope" style="display:flex">
                        <el-button type='text' @click='handleClick(scope.row)'>编辑</el-button>
                        <el-button type='text' @click='handleDelete(scope.row)' :disabled="scope.row.archive === 0" style="color:red">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog :visible.sync='visible' :close-on-click-modal="false" :title='title' customClass="carouselW">
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label='有效时间' required>
                        <el-date-picker
                            v-model="form.startTime"
                            type="datetime"
                            placeholder="开始时间" style='width:40%'>
                        </el-date-picker>
                        <span> ~ </span>
                         <el-date-picker
                            v-model="form.endTime"
                            type="datetime"
                            placeholder="结束时间"  style='width:40%' :picker-options="pickerOptions">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label='商品链接'>
                         <!-- <el-select v-model="form.product" filterable placeholder="请选择" style="width:78%;">
                            <el-option v-for="(item,index) in productList" :key="index" :value="item.id+':'+item.name" >
                            </el-option>
                        </el-select>  -->
                        <el-input v-model='form.imgLink' style='width:60%' placeholder='请输入商品链接'></el-input>
                    </el-form-item>
                    <el-form-item label="图片" required>
                        <div style='display:flex;flex-flow:row|nowrap'>
                            <div v-if="title === '编辑'" >
                            <el-popover  placement="top"  trigger="hover" >
                                <img :src="form.imgUrl" alt="" style='max-width:500px;max-height:500px;'>
                                <img :src="form.imgUrl" alt="" style='width:100px;height:100px;' v-if='form.imgUrl' slot="reference"> 
                            </el-popover>
                        </div>
                       <div v-if="title === '编辑'" style='margin:auto 40px;'>
                            <span>修改为</span>
                       </div>
                       <div v-if='form.updateImgUrl' >
                            <el-popover  placement="top"  trigger="hover" >
                                <img :src="form.updateImgUrl" alt="" style='max-width:500px;max-height:500px;'>
                                <img :src="form.updateImgUrl" alt="" style='width:100px;height:100px;' slot="reference"> 
                            </el-popover>
                       </div>
                        <div class="uploadImgBtn" id="uploadImgBtn" v-else >
                            <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                            <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage">
                        </div>
                        </div>
                        <el-row>
                            <span style='fontSize:12px;color:red;'>*请选择3560x1918尺寸的图片</span>
                        </el-row>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" size="small" @click='handleSubmit'>提交</el-button>
                    </el-form-item>
                    
                </el-form>
            </el-dialog>
        </el-row>
    </section>
</template>
<script>
import * as qiniu from 'qiniu-js'
import b64toBlob from 'b64-to-blob'
import global from '../../common/common.vue'
import dayjs from 'dayjs'
import { defaultCipherList } from 'constants';
export default {
    data(){
        return{
            inputVal1:'',
            inputVal2:'',
            listLoading:false,
            tableData:[],
            visible:false,
            title:'',
            uploadImgToken:'',
            bucketHostName:'',
            imgUrl:'',
            imgObj:{
                img: '',
                width: '',
                height: '',
            },
            form:{
                imgUrl:'',
                id:'',
                updateImgUrl:'',
                startTime:'',
                endTime:'',
                url:'',
                width:0,
                height:0,
                // product:'',
            },
            total:0,
            stateList:[
                {id:'0',value:'全部'},
                {id:'1',value:'已删除'},
            ],
            status:'',
            len:0,
            pickerOptions:{
                disabledDate: time => {
                    return time.getTime() < this.form.startTime - 8.64e7
                },
            },
            productList:[],
        }
    },
    mounted(){
        this.getQiniuToken();
        this.getList();
    },
    methods:{
        //获取列表信息
        getList(){
            this.listLoading = true;
            let showList;
            switch(this.status){
                case '全部' : showList = 'all';break;
                case '已删除' : showList = 'archive' ;break;
                default:showList = 'notArchive';break;
            }
            fetch(global.getAllRotationCharts + `?showList=${showList}`,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'Access-Control-Allow-Origin':'*'
                },
            }).then(res=>res.json())
            .then(res=>{
                this.listLoading = false;
                // for(let ele of res.data.allRotationCharts){
                //     for(let el of res.data.products){ 
                //         if(ele.imgLink == el.id) {ele.productName = el.id +':'+el.name;}
                //     }
                // }
                this.tableData = res.data.allRotationCharts;
                this.total = this.tableData.length;
                this.len = res.data.total;
                // let arr = [{id:'0',name:'不选择'}]
                // this.productList=arr.concat(res.data.products.sort(function(a,b){return a.id - b.id}));
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'获取信息失败，请重试!',
                    type:'error'
                })
            })
        },
         //获取token
        getQiniuToken: function() {
            const _this = this;
            let formData = new FormData()
            formData.append('json', JSON.stringify({}))
            fetch(global.queryUpToken, {
                method: 'POST',
                body: formData
            })
                .then(res => res.json())
                .then(res => {
                if (res.isSuccess === 1) {
                    _this.uploadImgToken = res.result.key;
                    _this.bucketHostName = res.result.bucketHostName;
                } else {
                    _this.$message({
                        message: res.errorMsg,
                        duration: 2000,
                        type: 'warning'
                    })
                }
            })
        },
        fileImage(ev) {
            let file, imgSize, reader
            file = ev.target.files[0];
            imgSize=file.size/1024;
            let splitTemp;
            reader = new FileReader();
            reader.readAsDataURL(file); // 读出 base64
            reader.onloadend = ()=> {
                this.dataURL1 = reader.result;  // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                splitTemp = this.dataURL1.split(';base64,')
                let contentType = splitTemp[0].replace('data:', '')
                let b64Data = splitTemp[1]
                let blob = b64toBlob(b64Data, contentType)
                this.uploadPhoto(blob)
            }
        },
         // 上传图片到七牛云
        uploadPhoto(file) {
            const IMG_HOST = this.bucketHostName;
            let img = new Image()
            img.src = URL.createObjectURL(file)
            let vm = this
            let fileName = Date.now() +  Math.random().toString().slice(-5)
            let putExtra = {
                mimeType: ['image/png', 'image/jpeg', 'image/gif']
            }
            let config = {
                useCdnDomain: true
            }
            return new Promise((resolve, reject) => {
                let observable = qiniu.upload(
                    file,
                    fileName,
                    vm.uploadImgToken,
                    putExtra,
                    config
                )
                let observer = {
                error(err) {
                    console.log('observer error err')
                },
                complete(res) {
                    console.log('observer complete')
                    vm.imgObj={
                        img: IMG_HOST + res.key,
                        width: img.width,
                        height: img.height
                    }
                    vm.form.updateImgUrl = vm.imgObj.img;
                 }
              }
                let subscription = observable.subscribe(observer) // 上传开始
            })
        },
        handleClick(val){
            this.visible = true;
            this.form = Object.assign({},{imgUrl:'',id:'',updateImgUrl:'', startTime:'',  endTime:'',})
            this.imgObj = Object.assign({},{ img: '',  width: '', height: ''})
            if(val){
                this.title = '编辑';
                this.form = Object.assign({},{
                    imgUrl:val.imgUrl,
                    id:val.id,
                    updateImgUrl:'',
                    startTime:val.effectFrom, 
                    endTime:val.effectTo, 
                    width:val.width,
                    height:val.height,
                    imgLink:val.imgLink
                    // product:val.productName
                })
            }else{
                this.title = '新增';
            }
        },
        //提交
        handleSubmit(){
            if(this.title === '新增'){
                if(this.form.updateImgUrl == ''){
                    this.$message({
                        message:'请选择需要上传的图片',
                        type:'error'
                    })
                    return false
                }else if(this.form.startTime === '' || this.form.endTime === ''){
                    this.$message({
                        message:'请选择有效时间',
                        type:'error'
                    })
                    return false
                }
                // else if(this.imgObj.width !== 1080 || this.imgObj.height !== 496){
                //     this.$message({
                //         message:'请选择1080x496尺寸的图片',
                //         type:'error'
                //     })
                //     this.form.updateImgUrl = '';
                //     return false
                // }
                else{
                    let imgLink;
                    if(this.form.product !== '0:不选择'){
                         for(let ele of this.productList){
                            if(this.form.product.split(':')[0] == ele.id){
                                imgLink = ele.id + (ele.series_type == 2 ?  '&shop' : null);
                            }
                        }
                    }else{
                        imgLink = null;
                    }
                    fetch(global.addRotationChart,{
                        method:'POST',
                        body:JSON.stringify({
                            imgUrl:this.imgObj.img,
                            width:this.imgObj.width,
                            height:this.imgObj.height,
                            effectFromStr:this.changeTime(this.form.startTime),
                            effectToStr:this.changeTime(this.form.endTime),
                             imgLink:this.form.imgLink
                        }),
                         headers:{
                            'Content-Type':'application/json',
                             'Access-Control-Allow-Origin':'*'
                        }
                    }).then(res=>res.json()
                    ).then(res=>{
                        this.visible = false;
                        if(res.data){
                            this.$message({message:'添加图片成功',type:'info'})
                            this.getList();
                        }else{
                             this.$message({message:'添加图片失败',type:'error'})
                        }
                        
                    }).catch(e=>{
                        this.visible = false;
                        this.$message({
                            message:'网络错误，请重试！',
                            type:'error'
                        })
                    })
                }
            }else{
                //编辑
                if(this.form.updateImgUrl === '' && this.form.imgUrl == ''){
                    this.$message({
                        message:'请选择需要上传的图片',
                        type:'error'
                    })
                    return false
                }else if(this.form.startTime === '' || this.form.endTime === ''){
                    this.$message({
                        message:'请选择有效时间',
                        type:'error'
                    })
                    return false
                }else{
                    //编辑
                    // let imgLink;
                    // console.log(this.form.product != '0:不选择')
                    // if(this.form.product != '0:不选择'){
                    //      for(let ele of this.productList){
                    //         if(this.form.product.split(':')[0] == ele.id){
                    //             imgLink = ele.id + (ele.series_type == 2 ?  '&shop' : null);
                    //         }
                    //     }
                    // }else{
                    //     imgLink = null;
                    // }
                    fetch(global.updateRotationChart,{
                        method:'POST',
                        body:JSON.stringify({
                            id:this.form.id,
                            imgUrl:this.imgObj.img ? this.imgObj.img:this.form.imgUrl,
                            width:this.imgObj.width ? this.imgObj.width:this.form.width,
                            height:this.imgObj.height ? this.imgObj.height:this.form.height,
                            effectFromStr:this.changeTime(this.form.startTime),
                            effectToStr:this.changeTime(this.form.endTime),
                            imgLink:this.form.imgLink,
                        }),
                        headers:{
                            'Content-Type':'application/json',
                             'Access-Control-Allow-Origin':'*'
                        }
                    }).then(res=>res.json()
                    ).then(res=>{
                        this.visible = false;
                        if(res.data){
                            this.$message({message:'编辑图片成功',type:'info'})
                            this.getList();
                        }else{
                             this.$message({message:'编辑图片失败',type:'error'})
                        }
                        this.getList();
                    }).catch(e=>{
                        this.visible = false;
                        this.$message({
                            message:'网络错误，请重试！',
                            type:'error'
                        })
                    })
                }
            }
        },
        //删除
        handleDelete(val){
            this.$confirm('确认删除该条信息？','提示',{}).then(()=>{
                let formData = new FormData();
                fetch(global.deleteRotationChart,{
                    method:'POST',
                    body:JSON.stringify({id:val.id}),
                    headers:{
                        'Content-Type':'application/json',
                         'Access-Control-Allow-Origin':'*'
                    }   
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.data){
                            this.$message({message:'删除图片成功',type:'info'})
                            this.getList();
                            // this.tableData.findIndex(item => {
                            //     if (item.id === val.id) {
                            //         item.archive = 0;
                            //      }
                            // })
                        }else{
                             this.$message({message:'删除图片失败',type:'error'})
                        }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试！',
                        type:'error'
                    })
                })
            }).catch(()=>{})
           
        },
        //排序
        sort(val,val2){
           let title;
           title = val2 === 'up' ? '升序' : '降序';
            this.$confirm('是否确认'+title+'?', '提示', {}).then(() => {
                let formData = new FormData();
                formData.append("json", JSON.stringify
                        ({
                            id : val.id,
                            sequence : val2
                        })
                )
                fetch(global.adjustRotationChart,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.data){
                            this.$message({message:'更新成功',type:'info'})
                            this.getList();
                        }else{
                             this.$message({message:'更新失败',type:'error'})
                        }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试!',
                        type:'error'
                    })
                })
            }).catch(()=>{})
        },
        changeTime(val){
            return dayjs(val).format('YYYY-MM-DD HH:mm:ss')
           
        },

    }
}
</script>
<style>
.uploadImgBtn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  background: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border: 1px solid #ccc;
}

.uploadImgBtn .uploadImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.carouselW{
    width:40%;
}
</style>

