<template>
    <section style='padding:10px;'>
         <el-row style='font-size:16px;'>公告&订单弹窗提示管理</el-row>
         <!-- 工具条 -->
        <!-- <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;'>
                <el-col :span="8">
                    <el-button icon="plus" type="primary" size="medium" @click="handleClick('新增')">新增</el-button>
                </el-col>
        </el-row> -->
        <el-row>
            <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                    <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
                </el-col>
        </el-row>
        <el-row>
            <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width:99%;margin-top:5px;font-size:14px;" border >
                <el-table-column  width="auto" label='类型' prop='msgType'>
                    <template slot-scope='scope'>
                        {{scope.row.msgType===1?'公告信息':'订单弹窗提示信息'}}
                    </template>
                </el-table-column>
                <el-table-column prop='content' width="auto" label='内容'>
                </el-table-column>
                <el-table-column prop="effectFrom" label="生效时间" width="auto">
                </el-table-column>
                <el-table-column prop="effectTo" label="失效时间" width="auto">
                </el-table-column>
                 <el-table-column width="auto" label='是否开启' prop='isOpen'>
                      <template slot-scope="scope">
                            <el-switch v-model="scope.row.isOpen"  active-color="#13ce66" inactive-color="#ff4949" @change='handleChange(scope.row)'>
                            </el-switch>
                      </template>
                </el-table-column>
                <el-table-column label="操作" width='auto'>
                    <template slot-scope="scope" style="display:flex">
                        <el-button type='text' @click="handleClick(scope.row)">编辑</el-button>
                        <!-- <el-button type='text' @click='handleDelete(scope.row)' :disabled="scope.row.archive === 0">删除</el-button> -->
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
           <el-dialog title="编辑" :visible.sync="visible" :close-on-click-modal="false" customClass="visssWidth">
                    <el-form :model="form" label-width="100px"  ref="form" :rules='rules'>
                        <el-form-item label="内容" prop='content'>
                            <el-col :span="16">
                                <el-input v-model="form.content" type='textarea' style='width:130%'></el-input>
                            </el-col>   
                        </el-form-item>
                        <el-form-item label="生效时间" prop='effectFrom'>
                          <el-date-picker
                            v-model="form.effectFrom"
                            type="datetime"
                            placeholder="选择日期时间" style='width:60%'>
                          </el-date-picker>
                        </el-form-item>
                        <el-form-item label="失效时间" prop='effectTo'>
                            <el-date-picker
                                v-model="form.effectTo"
                                type="datetime"
                                placeholder="选择日期时间" :picker-options="pickerOptions" style='width:60%'>
                          </el-date-picker>
                        </el-form-item>
                         <el-form-item>
                           <el-button type="primary" size='small' @click="submit('form')">提交</el-button> 
                           <el-button type="primary" size='small' @click.native="visible=false">取消</el-button> 
                        </el-form-item>
                    </el-form>
                </el-dialog>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
export default {
    // beforeRouteEnter (to, from, next) {
        //     next(vm => {
        //         vm.type = parseInt(vm.$route.query.msgType);
        //         vm.prompt = vm.type ===1 ?'公告管理':'提示管理';
        //     })
        // },
        // watch: {
        //     '$route': function() {
        //         this.type = parseInt(this.$route.query.msgType);
        //         this.prompt = this.type === 1 ?'公告管理':'提示管理';
        //     },
        //     type() {
        //         this.getList(this.type);
        //         console.log(this.type)
        //     },
        //     tableData(){
        //         for(let ele of this.tableData){
        //             if(ele.isOpen){
        //                 this.disabled = true;
        //                 break;
        //             }
        //         }
        //     }
    // },
    data(){
        return{
            prompt:'',
            listLoading:false,
            tableData:[],
            visible:false,
            title:'',
            form:{
               content:'',
               effectFrom:'',
               effectTo:'',
               id:'',
               isOpen:'',
               archive:''
            },
            pickerOptions:{
                disabledDate: time => {
                    return time.getTime() < this.form.effectFrom - 8.64e7
                },
            },
            caption:'',
            rules:{
                content:[
                    { required: true, message: '请输入公告内容', trigger: 'blur' }
                ],
                effectFrom:[
                     { required: true, message: '请输入生效时间', trigger: 'change' ,type: 'date',}
                ],
                effectTo:[
                     { required: true, message: '请输入失效时间',trigger: 'change' ,type: 'date', }
                ],
            },
        }
    },
    mounted(){
        this.getList();
    },
    methods:{
        //获取列表信息
        getList(){
            this.listLoading = true;
            let showList;
            fetch(global.getAll,{
                method:'post',
                body:JSON.stringify({}),
                headers:{
                    'Content-Type':'application/json',
                    'Access-Control-Allow-Origin':'*'
                },
            }).then(res=>res.json())
            .then(res=>{
                console.log(res);
                this.listLoading = false;
                this.tableData=res.data.noticeVos;
                for(let ele of this.tableData){
                    if(ele.isOpen){this.disabled = true;break;}
                }
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'获取信息失败，请重试!',
                    type:'error'
                })
            })
        },
        handleClick(val){
            this.visible = true;
            this.form = Object.assign({},{
                content:val.content,
                effectFrom:new Date(val.effectFrom),
                effectTo:new Date(val.effectTo),
                id:val.id,
                isOpen:val.isOpen,
                archive:val.archive,             
            })
        },
        //提交
        submit(form){
             this.$refs[form].validate((valid) =>{
                if (valid) {
                    let data = Object.assign({}, {
                        id:this.form.id,
                        content : this.form.content,
                        effectFrom : dayjs(this.form.effectFrom).format('YYYY-MM-DD HH:mm:ss'),
                        effectTo : dayjs(this.form.effectTo).format('YYYY-MM-DD HH:mm:ss'),
                        isOpen : this.form.isOpen == '' ? null : this.form.isOpen,
                        archive :this.form.archive == '' ? null : this.form.archive,
                    })
                    
                    fetch(global.save,{
                        method:'POST',
                        body:JSON.stringify(data),
                        headers:{
                            'Content-Type':'application/json',
                            'Access-Control-Allow-Origin':'*'
                        },
                    }).then(res=>res.json()
                    ).then(res=>{
                        this.visible = false;
                        this.getList(this.type);
                    }).catch(e=>{
                        this.visible = false;
                        this.$message({
                            message:'网络错误,请重试!',
                            type:'error'
                        })
                    })
                    
                }else{
                     return false;
                }
            })
        },
        handleChange(val){
            let prompt;
            val.isOpen ? prompt = '开启'  : prompt = '关闭';
            this.$confirm('确认'+prompt+'?', '提示', {}).then(() => {
               let data = JSON.stringify
                    ({
                        id:val.id,
                        effectFrom : val.effectFrom,
                        effectTo : val.effectTo,
                        isOpen : val.isOpen,
                        archive : val.archive,
                        msgType:this.type,
                    })
                fetch(global.save,{
                    method:'POST',
                    body:data,
                    headers:{
                            'Content-Type':'application/json',
                            'Access-Control-Allow-Origin':'*'
                        },
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.data.statusCode){
                        this.$message({
                            message:prompt+'成功!',
                            type:'info'
                        })
                    }else{
                        this.$message({
                            message:prompt+'失败!',
                            type:'error'
                        })
                        this.tableData.findIndex(item => {
                            if (item.id === val.id) {
                                item.isOpen = !val.isOpen;
                            }
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }).catch(() => {
               this.tableData.findIndex(item => {
                    if (item.id === val.id) {
                        item.isOpen = !val.isOpen;
                    }
                })
            });
        },
        //删除
            // handleDelete(val){
            //         this.$confirm('确认删除该条信息？','提示',{}).then(()=>{
            //              let data = JSON.stringify
            //                 ({
            //                     id:val.id,
            //                     effectFrom : val.effectFrom,
            //                     effectTo : val.effectTo,
            //                     isOpen : val.isOpen,
            //                     archive : false,
            //                     msgType:this.type,
            //                 })
            //             fetch(global.save,{
            //                 method:'POST',
            //                 body:data,
            //                 headers:{
            //                     'Content-Type':'application/json',
            //                      'Access-Control-Allow-Origin':'*'
            //                 }   
            //             }).then(res=>res.json()
            //             ).then(res=>{
            //                 console.log(res);
            //                if(res.data.statusCode){
            //                     this.$message({
            //                         message:'删除成功!',
            //                         type:'info'
            //                     })
            //                     this.getList(this.type);
            //                 }else{
            //                     this.$message({
            //                         message:'删除失败!',
            //                         type:'error'
            //                     })
            //                 }
            //             }).catch(e=>{
            //                 this.$message({
            //                     message:'网络错误，请重试！',
            //                     type:'error'
            //                 })
            //             })
            //         }).catch(()=>{

            //         })
                
        // },
    },
    filters:{
        changeTime(val){
            return dayjs(val).format('YYYY-MM-DD HH:mm:ss')
        },
    }
}
</script>
<style>
.visssWidth{
    width:35%;
}
</style>

