<template>
   <section>
        <el-row style='margin-top:20px;'>
            <span>发布列表:</span>
        </el-row>
        <el-row>
            <el-table :data="tableData" highlight-current-row  style="width: 100%;margin-top:5px;font-size:14px;" border>
                <el-table-column prop="systemType" label="系统类型" width="120">
                </el-table-column>
                <el-table-column prop="versionNo" label="版本号" width="120">
                </el-table-column>
                 <el-table-column prop="phoneValidate" label="微信登录" width="120">
                    <template slot-scope='scope'>
                        <span>{{scope.row.phoneValidate ? '否' : '是'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="forceUpdate" label="强制更新" width="120">
                    <!-- <template slot-scope='scope'>
                        <span>{{scope.row.forceUpdate ? '是' : '否'}}</span>
                    </template> -->
                </el-table-column>
                <el-table-column prop="downloadUrl" label="下载地址" width="auto">
                </el-table-column>
                <el-table-column prop="status" label="状态" width="120">
                    <template slot-scope='scope'>
                        <span>{{ scope.row.status | transfer}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width='120'>
                    <template slot-scope="scope" style="display:flex">
                        <el-button type='text' @click="handleEdit(scope.row,'审核')" :disabled='scope.row.status==2' style="color:#7511a9">审核</el-button>
                        <el-button type='text' @click="handleEdit(scope.row,'发布')">发布</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <el-dialog :title="title" :visible.sync="formVisible" :close-on-click-modal="false" customClass="pubWidth">
            <el-form :model="form" label-width="110px"  ref="form" :rules='rules'>
                <el-form-item label="类型" prop='name' > 
                    <span>{{form.systemType}}</span>
                </el-form-item>
                <el-form-item label="版本号" prop='publish'>
                    <el-input v-model='form.versionNo' style='width:70%' :disabled="title == '编辑-发布操作'"></el-input>
                </el-form-item>
                 <el-form-item label="是否强制更新" prop='isRenew' v-if="title == '编辑-发布操作'">
                    <el-radio v-model="form.forceUpdate" label='是'>是</el-radio>
                    <el-radio v-model="form.forceUpdate" label='否'>否</el-radio>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" size='small' @click="submit('form')" v-if="title == '编辑-审核操作'" >审核</el-button> 
                    <el-button type="primary" size='small' @click="submit('form')" v-else>发布</el-button> 
                    <el-button type="primary" size='small' @click.native="formVisible = false">取消</el-button> 
                </el-form-item>
            </el-form>
        </el-dialog>
   </section>
</template>
<script>
import global from '../../common/common.vue'
export default {
    data(){
        return {
            tableData:[ ],
            title:'',
            form:{
            },
            formVisible:false,
            rules:{
                publish:[
                    // { required: true, message: '请输入版本号', trigger: 'blur' }
                ],
            }
        }
    },
    mounted(){
        this.getData();
    },
    methods:{
        handleEdit:function(val,status){
          status === '审核' ?this.title = '编辑-审核操作'  : this.title = '编辑-发布操作';
          this.formVisible = true;
          this.form = Object.assign({},val)
        },
        submit(form){
             this.$refs[form].validate((valid) => {
                 if(valid){
                    let formData ;
                    if(this.title === '编辑-审核操作'){
                        formData = JSON.stringify({
                            id:this.form.id,
                            versionNo : this.form.versionNo,
                            phoneValidate : true,
                            status : 2,
                            isRelease :false,
                        })
                        
                    }else{
                        formData = JSON.stringify({
                            id:this.form.id,
                            phoneValidate : false,
                            forceUpdate : this.form.forceUpdate == '是' ? true:false,
                            status : 1,
                            isRelease :true,
                        })
                    }
                   
                    fetch(global.systemupdate,{
                        method:'POST',
                        body:formData,
                         headers:{
                            'Content-Type':'application/json',
                            'Access-Control-Allow-Origin':'*'
                        },
                    }).then(res=>res.json()
                    ).then(res=>{
                        if(res.data.statusCode){  
                           this.formVisible = false;
                           this.getData(); 
                        }else{
                            this.$message({
                                message:res.data.msg,
                                type:'error'
                            })
                        }
                    }).catch(e=>{
                        this.$message({
                            message:'编辑失败',
                            type:'error'
                        })
                    })
                 }
             })
        },
        getData:function(){
            fetch(global.systemgetAll,{
                method:'POST',
                body:JSON.stringify({})
            }).then(res=>res.json()
            ).then(res=>{
                for(let ele of res.data.systemVersionVos){
                    ele.forceUpdate ? ele.forceUpdate = '是':ele.forceUpdate = '否';
                }
                console.log(res.data.systemVersionVos);
                this.tableData = res.data.systemVersionVos;
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        },
    },
    filters:{
        transfer(val){
            switch(val){
                case 1:return '已发布';break;
                case 2:return '已审核';break;
            }
        }
    }
}
</script>
<style>
.pubWidth{
    width:28%
}
</style>


