<template>
  <el-tabs type="border-card" v-model="activeObj.name" @tab-click="handleClickTab">
    <el-tab-pane :label="item.label" :name="item.name" v-for="item in elTabPaneData" :key="item.name" :disabled="item.disabled">
      <Search :activeObj="activeObj" ref="searchRef" :searchExportOrder="searchExportOrder"/>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import Search from '@/views/externalOrder/components/search'
import {mapActions, mapGetters} from 'vuex'
import {searchExportOrder} from '@/service/sprintUrlApi'
import {dateChangeover, transferredMeaning} from '@/utils'

export default {
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.saveTableCurrentPage(1)
      vm.saveElTableColumn(vm.elTableColumn)
      vm.saveTableConfigP({
        border: true
      })
      vm.savePaginationConfigP({
        pageSize: 10
      })
      vm.searchExportOrder({})
    })
  },
  beforeRouteLeave (to, from, next) {
    this.saveTableSelectBtnP({
      show: false,
      text: '全选',
      type: 'primary',
      disabled: true
    })
    next()
  },
  data () {
    return {
      activeObj: {
        name: '0',
        isClick: true
      },
      elTabPaneData: [{
        label: '所有订单',
        name: '0',
        disabled: false
      },{
        label: '待审核',
        name: '1',
        disabled: false
      },{
        label: '待发货',
        name: '2',
        disabled: false
      },{
        label: '已发货',
        name: '3',
        disabled: false
      }],
      elTableColumn: [{
        prop: 'thirdOrderNo',
        label: '订单编号',
        width: 100,
        type: 'normal'
      },{
        prop: 'hvOrderNo',
        label: '汉薇订单号',
        width: 100,
        type: 'normal'
      },{
        prop: 'skuCode',
        label: 'sku编码',
        width: 100,
        type: 'normal'
      },{
        prop: 'name',
        label: '商品信息',
        width: 100,
        type: 'normal'
      },{
        prop: 'amount',
        label: '数量',
        width: 100,
        type: 'normal'
      },{
        prop: 'importTime',
        label: '导入时间',
        width: 150,
        type: 'normal'
      },{
        prop: 'checkState',
        label: '订单状态',
        width: 100,
        type: 'normal'
      },{
        prop: 'receiver',
        label: '收件人',
        width: 100,
        type: 'normal'
      },{
        prop: 'phone',
        label: '联系方式',
        width: 100,
        type: 'normal'
      },{
        prop: 'street',
        label: '详细地址',
        width: 100,
        type: 'normal'
      },{
        prop: 'company',
        label: '物流公司',
        width: 100,
        type: 'normal'
      },{
        prop: 'wayNum',
        label: '运单号',
        width: 100,
        type: 'normal'
      },{
        prop: 'leadType',
        label: '来源',
        width: 'auto',
        type: 'normal'
      }]
    }
  },
  components: {
    Search
  },
  computed: {
    ...mapGetters([
      'paginationConfigP',
      'tableCurrentPage',
      'tableLoadingP'
    ])
  },
  methods: {
    ...mapActions([
      'saveTableDatap',
      'saveElTableColumn',
      'saveTableBtnsP',
      'saveTableConfigP',
      'savePaginationConfigP',
      'saveTableLoadingP',
      'saveBtnLoading',
      'saveTableCurrentPage',
      'saveTableSelectBtnP'
    ]),
    handleClickTab() {
      this.saveTableCurrentPage(1)
      if (this.activeObj.name === '3' && this.elTableColumn[0].label !== '选择') {
        this.elTableColumn.unshift({
          prop: 'all',
          label: '选择',
          width: '50',
          type: 'select'
        })
      }
      if (this.activeObj.name !== '3' && this.elTableColumn[0].label === '选择') {
        this.elTableColumn.shift()
      }
      this.saveElTableColumn(this.elTableColumn)
      const data = this.$refs.searchRef[this.activeObj.name].getSearchData()
      this.searchExportOrder(data)
      if (this.activeObj.name === '3') {
        this.saveTableSelectBtnP({
          show: true,
          text: '全选',
          type: 'primary',
          disabled: false
        })
      } else {
        this.saveTableSelectBtnP({
          show: false,
          disabled: true
        })
      }
    },
    async searchExportOrder ({thirdOrderNo, hvOrderNo, source, startTime, endTime}) { // 查询导入订单
      if (this.tableLoadingP) return false
      this.saveBtnLoading({
        search: true
      })
      this.saveTableLoadingP(true)
      const orderSourceOption = [{
        value: '',
        label: '全部'
      },{
        value: '1',
        label: 'ERP'
      },{
        value: '2',
        label: '非ERP'
      }]
      const config = {
        params: {
          thirdOrderNo: thirdOrderNo || '',
          hvOrderNo: hvOrderNo || '',
          source: source || '',
          startTime: startTime || '',
          endTime: endTime || '',
          orderStatus: this.activeObj.name - 0 ? this.activeObj.name : '',
          page: this.tableCurrentPage - 1,
          size: this.paginationConfigP.pageSize
        }
      }
      const res = await this.$http(searchExportOrder, config);
      if (!res.httpRequestError) {
        if (res.data) {
          let data = res.data.list || []
          data.map(item => {
            item = Object.assign(item, {
              importTime: dateChangeover([item.importTime,,'dateformat']),
              leadType: transferredMeaning({
                data: orderSourceOption,
                targetAttributeName: "value",
                correspondingAttributeName: "label",
                value: item.leadType,
                returnType: "string"
              }),
              disabled: Boolean(item.checkState - 0),
              checked: false
            })
          })
          this.saveTableDatap(res.data.list || [])
          this.savePaginationConfigP({
            total: res.data.count || 0
          })
        } else {
          this.$message({
            message: '请求失败',
            type: "error"
          });
        }
      } else {
        this.$message({
          message: res.httpRequestError || '系统异常',
          type: "error"
        });
      }
      this.saveTableLoadingP(false)
      this.saveBtnLoading({
        search: false
      })
    }
  }
}
</script>

