<template>
  <div class="journal">
    <JournalQuery ref="journalQueryRef"/>
    <div style="width: 100%"><TableC ref="tableRef" :handleClick="handleClick"  :handleCurrentChange="handleCurrentChange" :handleSizeChange="handleSizeChange"/></div>
  </div>
</template>

<script>
import JournalQuery from '@/views/externalOrder/components/journalQuery'
import TableC from '@/views/externalOrder/components/table'
import {mapActions} from 'vuex'
import {exportLog, exportLogNoErp, getLogtype} from '@/service/sprintUrlApi'
import {downloadExcel} from '@/utils'

export default {
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.saveTableCurrentPage(1)
      const elTableColumn = [{
        prop: 'importTime',
        label: '导入时间',
        width: 200,
        type: 'normal'
      },{
        prop: 'importaccount',
        label: '导入账号',
        width: 200,
        type: 'normal'
      },{
        prop: 'importResult',
        label: '导入结果',
        width: 200,
        type: 'normal'
      },{
        prop: 'do',
        label: '操作',
        width: 'auto',
        type: 'btn'
      }]
      const tableBtnsP = [{
        isShowList: ['Maple'],
        color: 'orange',
        text: '查看详情',
        disabled: false,
        loading: false
      },{
        isShowList: ['Maple'],
        color: 'blue',
        text: '导出',
        disabled: false,
        loading: false
      }]
      vm.saveTableBtnsP(tableBtnsP)
      vm.saveElTableColumn(elTableColumn)
      vm.saveTableConfigP({
        border: true
      })
      vm.savePaginationConfigP({
        pageSize: 10
      })
      vm.$refs.journalQueryRef.searchLog({})
    })
  },
  components: {
    JournalQuery,
    TableC
  },
  methods: {
    ...mapActions([
      'saveTableDatap',
      'saveElTableColumn',
      'saveTableBtnsP',
      'saveTableConfigP',
      'savePaginationConfigP',
      'saveTableCurrentPage'
    ]),
    async handleClick (type, data) {
      const lot = data.row.lot.substring(0, 3)
      let url = exportLogNoErp
      let title = '非Erp日志'
      let lotType = '非erp'
      if (lot === 'IME') {
        url = exportLog
        title = 'Erp日志'
        lotType = 'erp'
      }
      switch (type) {
        case '查看详情':
          this.$router.push({
            path: '/externalOrder/logDetails',
            query: {
              type: lotType,
              lot: data.row.lot
            }
          })
          break
        case '导出':
          downloadExcel({
            url: `${url}?lot=${data.row.lot}`,
            that: this,
            title
          })
          break
      }
    },
    handleSizeChange (pageSize) {
      this.savePaginationConfigP({
        pageSize
      })
      this.$refs.journalQueryRef.searchLog({})
    },
    handleCurrentChange (pageNum) {
      if (sessionStorage.getItem('reduceHttp') - 0) return false
      sessionStorage.setItem('reduceHttp', 1)
      setTimeout(_ => {
        sessionStorage.setItem('reduceHttp', 0)
      }, 99)
      this.saveTableCurrentPage(pageNum)
      this.$refs.journalQueryRef.searchLog({})
    }
  }
}
</script>

