<template>
    <TableC ref="tableRef" :handleSizeChange="handleSizeChange" :handleCurrentChange="handleCurrentChange"/>
</template>

<script>
import TableC from '@/views/externalOrder/components/table'
import {mapGetters, mapActions} from 'vuex'
import {seeLogDetail, seeNoErpLogDetail} from '@/service/sprintUrlApi'
import {dateChangeover, transferredMeaning} from '@/utils'

export default {
    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.saveTableCurrentPage(1)
            const api = vm.$route.query.type === 'erp' ? seeLogDetail : seeNoErpLogDetail
            let elTableColumn = [{
                prop: 'erp_order_no',
                label: '系统订单号',
                width: 200,
                type: 'normal'
                },{
                prop: 'way_num',
                label: '运单号',
                width: 200,
                type: 'normal'
                },{
                prop: 'company',
                label: '快递公司',
                width: 200,
                type: 'normal'
                },{
                prop: 'order_model',
                label: '快递模板名称',
                width: 200,
                type: 'normal'
                },{
                prop: 'warehouse',
                label: '仓库名称',
                width: 200,
                type: 'normal'
                },{
                prop: 'buy_name',
                label: '买家昵称',
                width: 200,
                type: 'normal'
                },{
                prop: 'receiver',
                label: '收件人',
                width: 200,
                type: 'normal'
                },{
                prop: 'phone',
                label: '联系方式',
                width: 200,
                type: 'normal'
                },{
                prop: 'street',
                label: '详细地址',
                width: 200,
                type: 'normal'
                },{
                prop: 'third_order_no',
                label: '订单编号',
                width: 200,
                type: 'normal'
                },{
                prop: 'flag_color',
                label: '插旗颜色',
                width: 200,
                type: 'normal'
                },{
                prop: 'shop_name',
                label: '店铺名称',
                width: 200,
                type: 'normal'
                },{
                prop: 'seller_remark',
                label: '卖家备注',
                width: 200,
                type: 'normal'
                },{
                prop: 'buyer_remark',
                label: '买家留言',
                width: 200,
                type: 'normal'
                },{
                prop: 'order_remark',
                label: '快递单备注',
                width: 200,
                type: 'normal'
                },{
                prop: 'order_status',
                label: '订单状态',
                width: 200,
                type: 'normal'
                },{
                prop: 'order_type',
                label: '订单类型',
                width: 200,
                type: 'normal'
                },{
                prop: 'order_item_no',
                label: '子订单编号',
                width: 200,
                type: 'normal'
                },{
                prop: 'good_name',
                label: '商品名称',
                width: 200,
                type: 'normal'
                },{
                prop: 'name_sing',
                label: '商品简称',
                width: 200,
                type: 'normal'
                },{
                prop: 'seller_no',
                label: '商家编码',
                width: 200,
                type: 'normal'
                },{
                prop: 'sku_name',
                label: '规格名称',
                width: 200,
                type: 'normal'
                },{
                prop: 'sku_code',
                label: '规格编码',
                width: 200,
                type: 'normal'
                },{
                prop: 'count',
                label: '商品数量',
                width: 200,
                type: 'normal'
                },{
                prop: 'price',
                label: '单价',
                width: 200,
                type: 'normal'
                },{
                prop: 'pay_money',
                label: '实收金额',
                width: 200,
                type: 'normal'
                },{
                prop: 'discounts',
                label: '优惠金额',
                width: 200,
                type: 'normal'
                },{
                prop: 'carriage',
                label: '运费',
                width: 200,
                type: 'normal'
                },{
                prop: 'order_time',
                label: '下单时间',
                width: 200,
                type: 'normal'
                },{
                prop: 'pay_time',
                label: '付款时间',
                width: 200,
                type: 'normal'
                },{
                prop: 'send_time',
                label: '发货时间',
                width: 200,
                type: 'normal'
                },{
                prop: 'print_send',
                label: '打发货单时间',
                width: 200,
                type: 'normal'
                },{
                prop: 'print_no',
                label: '打快递单时间',
                width: 200,
                type: 'normal'
                },{
                prop: 'print_send_man',
                label: '打发货单操作人',
                width: 200,
                type: 'normal'
                },{
                prop: 'print_no_man',
                label: '打快递单操作人',
                width: 200,
                type: 'normal'
                },{
                prop: 'province',
                label: '省',
                width: 200,
                type: 'normal'
                },{
                prop: 'city',
                label: '市',
                width: 200,
                type: 'normal'
                },{
                prop: 'area',
                label: '区',
                width: 200,
                type: 'normal'
                },{
                prop: 'first_order_no',
                label: '原始单号',
                width: 200,
                type: 'normal'
                },{
                prop: 'reason',
                label: '原因',
                width: '300',
                type: 'normal'
                }]
            if (vm.$route.query.type !== 'erp') {
                elTableColumn = [{
                prop: 'order_no',
                label: '订单编号',
                width: 200,
                type: 'normal'
                },{
                prop: 'receiver',
                label: '收件人',
                width: 200,
                type: 'normal'
                },{
                prop: 'phone',
                label: '联系方式',
                width: 200,
                type: 'normal'
                },{
                prop: 'street',
                label: '详细地址',
                width: 200,
                type: 'normal'
                },{
                prop: 'buyer_remark',
                label: '买家留言',
                width: 200,
                type: 'normal'
                },{
                prop: 'good_name',
                label: '商品名称',
                width: 200,
                type: 'normal'
                },{
                prop: 'sku_name',
                label: '规格名称',
                width: 200,
                type: 'normal'
                },{
                prop: 'sku_code',
                label: '规格编号',
                width: 200,
                type: 'normal'
                },{
                prop: 'count',
                label: '商品数量',
                width: 200,
                type: 'normal'
                },{
                prop: 'reason',
                label: '原因',
                width: '300',
                type: 'normal'
                }]
            }
            vm.saveElTableColumn(elTableColumn)
            vm.savePaginationConfigP({
                pageSize: 10
            })
            vm.getLogDetails(vm.$route.query.lot, api)
        })
    },
    data() {
        return {
        }
    },
    components: {
        TableC
    },
    computed: {
        ...mapGetters([
        'paginationConfigP',
        'tableCurrentPage',
        'btnLoading'
        ])
    },
    methods: {
        ...mapActions([
        'saveTableDatap',
        'saveElTableColumn',
        'saveTableBtnsP',
        'saveTableConfigP',
        'savePaginationConfigP',
        'saveTableLoadingP',
        'saveTableCurrentPage',
        'saveBtnLoading'
        ]),
        async getLogDetails (lot, api) {
            if (this.tableLoadingP) return false
            this.saveBtnLoading({
                search: true
            })
            this.saveTableLoadingP(true)
            const config = {
                params: {
                lot,
                page: this.tableCurrentPage - 1,
                size: this.paginationConfigP.pageSize
                }
            }
            const res = await this.$http(api, config);
            if (!res.httpRequestError) {
                if (res.data) {
                    let data = res.data.list || []
                    data.map(item => {
                        item = Object.assign(item, {
                            importTime: dateChangeover([item.importTime,,'dateformat']),
                            order_time: dateChangeover([item.order_time,,'dateformat']),
                            pay_time: dateChangeover([item.pay_time,,'dateformat']),
                            send_time: dateChangeover([item.send_time,,'dateformat']),
                            print_send: dateChangeover([item.print_send,,'dateformat']),
                            print_no: dateChangeover([item.print_no,,'dateformat'])
                        })
                    })
                    this.saveTableDatap(res.data.list || [])
                    this.savePaginationConfigP({
                        total: res.data.count || 0
                    })
                    } else {
                        this.$message({
                            message: '请求失败',
                            type: "error"
                        });
                    }
            } else {
                this.$message({
                message: res.httpRequestError || '系统异常',
                type: "error"
                });
            }
            this.saveTableLoadingP(false)
            this.saveBtnLoading({
                search: false
            })
        },
        handleSizeChange (pageSize) {
            this.savePaginationConfigP({
                pageSize
            })
            const api = this.$route.query.type === 'erp' ? seeLogDetail : seeNoErpLogDetail
            this.getLogDetails(this.$route.query.lot, api)
        },
        handleCurrentChange (pageNum) {
            if (sessionStorage.getItem('reduceHttp') - 0) return false
            sessionStorage.setItem('reduceHttp', 1)
            setTimeout(_ => {
                sessionStorage.setItem('reduceHttp', 0)
            }, 99)
            this.saveTableCurrentPage(pageNum)
            const api = this.$route.query.type === 'erp' ? seeLogDetail : seeNoErpLogDetail
            this.getLogDetails(this.$route.query.lot, api)
        }
    }
}
</script>

