<template>
  <el-tabs type="border-card" v-model="activeObj.name" @tab-click="handleClickTab">
    <el-tab-pane :label="item.label" :name="item.name" v-for="item in elTabPaneData" :key="item.name" :disabled="item.disabled">
      <ReviewSearch  :activeObj="activeObj" ref="ReviewSearch" :seachExamine="seachExamine"/>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import ReviewSearch from '@/views/externalOrder/components/reviewSearch'
import {mapActions, mapGetters} from 'vuex'
import {seachExamine} from '@/service/sprintUrlApi'
import {dateChangeover, transferredMeaning} from '@/utils'

export default {
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.saveTableCurrentPage(1)
      const tableBtnsP = [{
        isShowList: ['待审核'],
        color: 'blue',
        text: '通过',
        disabled: false,
        loading: false,
        atr: 'checkState'
      },{
        isShowList: ['待审核'],
        color: 'red',
        text: '拒绝',
        disabled: false,
        loading: false,
        atr: 'checkState'
      },{
        isShowList: ['待审核', '审核通过', '审核不通过'],
        color: '#08ada5',
        text: '查看详情',
        disabled: false,
        loading: false,
        atr: 'checkState'
      }]
      vm.saveTableBtnsP(tableBtnsP)
      vm.saveElTableColumn(vm.elTableColumn)
      vm.saveTableConfigP({
        border: true
      })
      vm.savePaginationConfigP({
        pageSize: 10
      })
      vm.saveTableSelectBtnP({
        show: true,
        disabled: false
      })
      vm.seachExamine({})
    })
  },
  beforeRouteLeave (to, from, next) {
    this.saveTableSelectBtnP({
      show: false,
      text: '全选',
      type: 'primary',
      disabled: true
    })
    next()
  },
  data () {
    return {
      elTableColumn: [{
        prop: 'all',
        label: '选择',
        width: '50',
        type: 'select'
      },{
        prop: 'importTime',
        label: '导入时间',
        width: 200,
        type: 'normal'
      },{
        prop: 'importAccount',
        label: '导入账号',
        width: 200,
        type: 'normal'
      },{
        prop: 'checkState',
        label: '审核状态',
        width: 150,
        type: 'normal'
      },{
        prop: 'sourceFrom',
        label: '来源',
        width: 150,
        type: 'normal'
      },{
        prop: 'do',
        label: '操作',
        width: 'auto',
        type: 'btn'
      }],
      activeObj: {
        name: '3',
        isClick: true
      },
      elTabPaneData: [{
        label: '所有订单',
        name: '3'
      },{
        label: '待审核',
        name: '0'
      },{
        label: '审核通过',
        name: '1'
      },{
        label: '审核不通过',
        name: '2'
      }]
    }
  },
  components: {
    ReviewSearch
  },
  computed: {
    ...mapGetters([
      'paginationConfigP',
      'tableCurrentPage',
      'btnLoading'
    ])
  },
  methods: {
    ...mapActions([
      'saveTableDatap',
      'saveElTableColumn',
      'saveTableBtnsP',
      'saveTableConfigP',
      'savePaginationConfigP',
      'saveTableLoadingP',
      'saveTableCurrentPage',
      'saveTableSelectBtnP'
    ]),
    handleClickTab() {
      this.saveTableCurrentPage(1)
      const data = this.$refs.ReviewSearch[this.activeObj.name].getSearchData()
      if ((this.activeObj.name === '3' || this.activeObj.name === '0') && this.elTableColumn[0].label !== '选择') {
        this.elTableColumn.unshift({
          prop: 'all',
          label: '选择',
          width: '50',
          type: 'select'
        })
      }
      if (this.activeObj.name !== '3' && this.activeObj.name !== '0' && this.elTableColumn[0].label === '选择') {
        this.elTableColumn.shift()
      }
      this.saveElTableColumn(this.elTableColumn)
      this.seachExamine(data)
      if (this.activeObj.name === '3' || this.activeObj.name === '0') {
        this.saveTableSelectBtnP({
          show: true,
          text: '全选',
          type: 'primary',
          disabled: false
        })
      } else {
        this.saveTableSelectBtnP({
          show: false,
          disabled: true
        })
      }
    },
    async seachExamine ({source, startTime, endTime}) { // 查询导入订单
      this.saveTableLoadingP(true)
      const config = {
        params: {
          source: source || '',
          startTime: startTime || '',
          endTime: endTime || '',
          orderStatus: this.activeObj.name === '3' ? '' : this.activeObj.name,
          page: this.tableCurrentPage - 1,
          size: this.paginationConfigP.pageSize
        }
      }
      const res = await this.$http(seachExamine, config);
      if (!res.httpRequestError) {
        if (res.data) {
          let data = res.data.list || []
          this.saveTableSelectBtnP({
            text: '全选'
          })
          let count = 0
          data.map(item => {
            item = Object.assign(item, {
              importTime: dateChangeover([item.importTime,,'dateformat']),
              checkState: transferredMeaning({
                data: this.elTabPaneData,
                targetAttributeName: 'name',
                correspondingAttributeName: 'label',
                value: item.checkState,
                returnType: 'string'
              }),
              disabled: Boolean(item.checkState - 0),
              checked: false
            })
            if (item.disabled) count++
          })
          if (count === data.length && (this.activeObj.name === '3' || this.activeObj.name === '0')) {
            this.saveTableSelectBtnP({
              show: true,
              disabled: true
            })
          } else if (this.activeObj.name === '3' || this.activeObj.name === '0') {
            this.saveTableSelectBtnP({
              disabled: false
            })
          }
          this.saveTableDatap(res.data.list || [])
          this.savePaginationConfigP({
            total: res.data.count || 0
          })
        } else {
          this.$message({
            message: '请求失败',
            type: "error"
          });
        }
      } else {
        this.$message({
          message: res.httpRequestError || '系统异常',
          type: "error"
        });
      }
      this.saveTableLoadingP(false)
    }
  }
}
</script>