<template>
    <section>
        <el-row style='margin-top:10px;'>
            <el-form ref="form">
                    <el-col :span='4'>
                        <el-form-item label="活动状态:">
                            <el-select v-model="state" placeholder="请选择" style='width:80%;'>
                                <el-option v-for="item in goodstates" :key="item.id"  :value="item.value" >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span='4'>
                        <el-form-item label="开团时间:">
                            <el-date-picker v-model="openTime" type="datetime" placeholder="选择日期" style='width:80%'>
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span='4'>
                        <el-form-item label="成团时间:">
                            <el-date-picker v-model="DoneTime" type="datetime" placeholder="选择日期" style='width:80%'>
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span='4'>
                        <el-form-item label="拼团编码:" >
                            <el-input v-model="groupCode" style='width:80%;' placeholder="拼团编码"></el-input>
                        </el-form-item>
                    </el-col>
                    
                    <el-col :span='4'>
                        <el-form-item label="拼团会员:" >
                            <el-input v-model="memberId" style='width:80%;' placeholder="会员ID"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span='4' style='margin-top:35px;'>
                        <el-form-item>
                                <el-button type="primary" @click='handleSearch'>搜索</el-button>
                            </el-form-item>
                    </el-col>
            </el-form>
        </el-row>
        <el-table :data="data"  border   style="width: 100%;margin-top:10px; font-size:13px;" v-loading="listLoading">
            <el-table-column  prop="pieceGroupTranCode"  label="拼团编码"  width='auto'>
            </el-table-column>
            <el-table-column  prop="productName"  label="商品名称" width='auto'>
            </el-table-column>
            <el-table-column  prop="groupOpenMemberId" label="开团CPID" width='auto'>
            </el-table-column>
            <el-table-column  prop="groupOpenMemberNickName" label="开团人姓名" width="auto">
            </el-table-column>
             <el-table-column  prop="groupHeadId" label="团长CPID" width='auto'>
            </el-table-column>
             <el-table-column  prop="groupHeadIdName" label="团长姓名" width='100'>
            </el-table-column>
             <el-table-column  prop="pieceGroupNum" label="成团人数" width='100'>
            </el-table-column>
             <el-table-column  prop="groupOpenTime" label="开团时间" width='170'>
                <template slot-scope='scope'>
                    {{scope.row.groupOpenTime | transfer}}
                </template>
            </el-table-column>
            <el-table-column  prop="promotionPgInfoUpdatedAt" label="成团时间" width='170'>
                <template slot-scope='scope'>
                    {{scope.row.promotionPgInfoUpdatedAt | transfer}}
                </template>
            </el-table-column>
             <el-table-column  label="管理"  width='90'>
                 <template slot-scope='scope'>
                    <el-button type='text' size='small' @click='handleClick(scope.row)'>查看详情</el-button>
                 </template>
            </el-table-column>
        </el-table>
        <el-pagination  :page-size="pageNum"  layout="prev, pager, next" :total="total"   @current-change="handleCurrentChange">
        </el-pagination>
        <!-- 查看详情 -->
        <el-dialog :visible.sync='formVisible' :close-on-click-modal="false" customClass="customWidth">
            <el-table :data='formData' style='font-size:12px;'> 
                <el-table-column prop='groupCode' label='拼团编码' width='auto'>
                </el-table-column>
                <el-table-column prop='productName' label='拼团商品' width='auto'>
                </el-table-column>
                <el-table-column prop='memberId' label='拼团人会员编号' width='auto'>
                </el-table-column>
                <el-table-column prop='memberName' label='拼团人员' width='auto'>
                </el-table-column>
                <el-table-column prop='orderNo' label='订单编号' width='170'>
                </el-table-column>
                <el-table-column prop='pizNo' label='支付单号' width='166'>
                </el-table-column>
                <el-table-column prop='ptSuccessTime' label='支付时间' width='150'>
                    <template slot-scope='scope'>
                        {{scope.row.ptSuccessTime|transfer}}
                    </template>
                </el-table-column>  
            </el-table>
            
        </el-dialog>
    </section>
</template>
<script>
import global from '../../common/common.vue'
export default {
    data(){
        return {
            goodstates:[
                {id:'0',value:'开团未支付'},
                {id:'1',value:'已开团'},
                {id:'2',value:'已成团'},
                {id:'3',value:'库存不足取消'},
                {id:'4',value:'失效取消'},
            ],     //拼团交易状态  0:开团未支付  1:已开团   2:已成团 3:库存不足取消   4:失效取消',
            state:'',
            formVisible:false,
            formData:[],
            groupCode:'',                   //拼团编码
            pStatus:'',                     //成团状态
            openTime:'',                    //开团时间
            DoneTime:'',                    //成团时间
            memberId:'',                    //拼团会员
            data:[],
            total:1,        //总条数
            pageNum:20,     //页大小
            currentPage:1,   //当前页
            listLoading:false,
            ptActivity : global.ptActivityUrl,       //获取列表接口
            PtDetail : global.PtDetailUrl
        }
    },
    mounted(){
        this.getdata();
    },
    methods:{
        //获取列表
        getdata:function(){
             this.listLoading = true;
             let formData = new FormData();
             let pStatus;
             if(this.state === ''){
                 pStatus = null;
             }else{
                for(let ele of this.goodstates){
                    if(ele.value === this.state) pStatus = ele.id;
                }
             }
             formData.append("json", JSON.stringify
                ({
                    groupCode:this.groupCode === '' ? null:this.groupCode,                   //拼团编码
                    pStatus:pStatus,                        //成团状态
                    openTime:this.openTime === '' ? null:this.changeti(this.openTime),                    //开团时间
                    DoneTime:this.DoneTime === '' ? null:this.changeti(this.DoneTime),                   //成团时间
                    memberId:this.memberId === '' ? null:this.memberId,                    //拼团会员
                    pageNum:this.currentPage,          //当前页
                })
             )       
            fetch(this.ptActivity,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                this.listLoading = false;
                if(res.isSuccess === 1){
                    this.data = res.result;
                    this.total = res.count; 
                }else{
                    this.$message({
                        message:'获取信息失败',
                        type:'error'
                    })
                }
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })   
            })
        },
        handleClick:function(val){
            this.formVisible = true;
            fetch(this.PtDetail+'/'+val.pieceGroupTranCode,{
                method:'GET'
            }).then(res=>res.json()
            ).then(res=>{
                this.formData = res.result;
                // for(let ele of this.formData){
                //     ele.ptSuccessTime = this.changeti(ele.ptSuccessTime);
                // }
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
               })
            }) 
        },
        //分页切换
        handleCurrentChange:function(val){
            this.currentPage = val;
            this.getdata();
        },
        //搜索
        handleSearch:function(){
            this.currentPage = 1;
            this.getdata();
        }, 
        changeti(val){
             let time = new Date(val);
            let yy = time.getFullYear();
            let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
            let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
            let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours();
            let min = time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes();
            let ss = time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds();
            return yy + '-' + mm + '-' + dd + ' ' + hh + ':' + min + ':' + ss
        }
    },
    filters:{
        transfer: function (val) {
            if(val==null){
                return '';
            }else{
                let time = new Date(val);
                let yy = time.getFullYear();
                let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
                let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
                let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours();
                let min = time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes();
                let ss = time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds();
                return yy + '-' + mm + '-' + dd + ' ' + hh + ':' + min + ':' + ss
            }
          
        },
    }
    
}
</script>
<style>
.customWidth{
    width:70%;
}
</style>

