<template>
    <section style='padding:10px;'>
        <el-row>
            <el-row>
                <span style='font-size:18px'>预约管理>添加预约</span>
            </el-row>
            <el-form ref="obj" v-model="formInlinetwo" label-width="180px">
                <el-form-item label="预约活动名称" required>
                    <el-input prop="name" v-model="formInlinetwo.name" size='small' style='width:50%' :disabled="isDisabledForm"></el-input>
                </el-form-item>

                <el-form-item label="预约起止时间" required>
                    <el-col :span='9'>
                        <el-date-picker
                                v-model="formInlinetwo.value1"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始时间"
                                end-placeholder="结束时间"
                                @change="changeTime(formInlinetwo.value1)"
                        >
                        </el-date-picker>
                        <!--  <el-date-picker v-model="formInlinetwo.effectFromTime" type="datetime" placeholder="开始时间" style='width:35%' :disabled="isDate"></el-date-picker>
                          <span style='             line-height:36px;'>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                          <el-date-picker v-model="formInlinetwo.effectToTime"  type="datetime" placeholder="结束时间" style='width:35%'></el-date-picker>-->
                    </el-col>
                </el-form-item>
                <el-form-item label="支付起止时间" required>
                    <el-col :span='9'>
                        <el-date-picker
                                v-model="formInlinetwo.value2"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始时间"
                                end-placeholder="结束时间"
                                @change="changePayTime(formInlinetwo.value2)">
                        </el-date-picker>
                        <!--<el-date-picker v-model="formInlinetwo.payFromTime" type="datetime" placeholder="开始时间" style='width:35%'></el-date-picker>
                        <span style='line-height:36px;'>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                        <el-date-picker v-model="formInlinetwo.payToTime"  type="datetime" placeholder="结束时间" style='width:35%'></el-date-picker>-->
                    </el-col>
                </el-form-item>
                <el-form-item label="定向人群" required>
                    <el-radio-group v-model="formInlinetwo.targetPerson" :disabled="isDisabledForm">
                        <el-radio label="1">不限</el-radio>
                        <el-radio label="2">非会员(新人＋白人)</el-radio>
                        <el-radio label="3">会员(Vip+店主)</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="计算收益" required>
                    <el-radio-group v-model="formInlinetwo.isCountEarning" :disabled="isDisabledForm">
                        <el-radio label="0">不计算</el-radio>
                        <el-radio label="1">计算</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="运费" required>
                    <el-radio-group v-model="formInlinetwo.isDeliveryReduction" :disabled="isDisabledForm">
                        <el-radio label="0">不包邮</el-radio>
                        <el-radio label="1">包邮</el-radio>
                    </el-radio-group>
                </el-form-item>
            </el-form>
        </el-row>
        <el-button size="small" @click="addTab(editableTabsValue2)" icon='plus' type="primary" :disabled="editDisabled">添加类目</el-button>
        <el-tabs v-model="editableTabsValue2" type="card"  @tab-remove="removeTab" @tab-click="handlerClick(index,item)">
            <el-tab-pane
                    v-for="(item, index) in editableTabs2"
                    :key="item.name"
                    :label="item.title"
                    :name="item.name"
                    :closable="item.close">
                <el-form>
                    <el-form-item label="类目名称">
                        　<el-input v-model="item.categoryName" size='small' style='width:20%' :disabled="item.isDisabled"></el-input>
                        <el-button type="primary"  @click='handleAdd(item,index)' icon='plus' style="margin-left: 800px" :disabled="editDisabled">添加商品</el-button>
                    </el-form-item>
                    <el-table :data="item.reserveProductDetailInfo">
                        <el-table-column prop="productImg" v-model="formInline.productImg" label="图片" width="auto">
                            <template slot-scope="scope">
                                <img :src="scope.row.productImg" min-width="50" height="50"/>
                            </template>
                        </el-table-column>
                        <el-table-column prop="productName" label="商品名称" v-model="formInline.productName" width="200"></el-table-column>
                        <el-table-column prop="price" label="原价" width="auto" v-model="formInline.price" style="width: auto"></el-table-column>
                        <el-table-column prop="amount" label="sku库存" width="100" v-model="formInline.amount"></el-table-column>
                        <el-table-column  prop="reservePrice" label="预约价" width="150">
                            <template slot-scope="scope">
                                <div class="item_box">
                                    <el-input size="small"   v-model="scope.row.reservePrice" v-on:input="computeCount1(scope.row)" :disabled="scope.row.isDisabledPro" type="number" :min="0"></el-input>　<span>元</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="conversionPrice" label="兑换价" width="150">
                            <template slot-scope="scope">
                                <div class="item_box">
                                    <el-input size="small"  v-model="scope.row.conversionPrice" v-on:input="computeCount1(scope.row)" :disabled="scope.row.isDisabledPro" type="number" :min="0"></el-input>　<span>元</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="point" label="德分" width="150">
                            <template slot-scope="scope">
                                <el-input size="small"  style="width:auto" v-model="scope.row.point" :disabled="true"></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column prop="amountLimit" label="活动库存上限" width="150">
                            <template slot-scope="scope">
                                <div class="item_box">
                                    <el-input size="small" v-model="scope.row.amountLimit"  style="width: auto" @change="computeCount3(scope.row.amountLimit)" :disabled="scope.row.isDisabledPro" type="number" :min="0" @blur="BlurText($event)"></el-input>　<span>件</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="amountLimit" label="每人限购数" width="150">
                            <template slot-scope="scope">
                                <div class="item_box">
                                    <el-input size="small" v-model="scope.row.buyLimit"  style="width: auto" @change="computeCount4(scope.row.buyLimit)" :disabled="scope.row.isDisabledPro" type="number" :min="0" @blur="BlurText($event)"></el-input>　<span>件</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="reserveLimit" label="可预约数量" width="150">
                            <template slot-scope="scope">
                                <div class="item_box">
                                    <el-input size="small" v-model="scope.row.reserveLimit"  style="width: auto" @change="computeCount5(scope.row.reserveLimit)" :disabled="scope.row.isDisabledPro" type="number" :min="0" @blur="BlurText($event)"></el-input>　<span>件</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="preReserveLimit" label="设置前端已预约数量" width="200">
                            <template slot-scope="scope">
                                <div class="item_box">
                                    <el-input size="small" v-model="scope.row.preReserveLimit"  style="width: 50%" @change="computeCount6(scope.row.preReserveLimit)" :disabled="scope.row.isDisabledPro" type="number" :min="0" @blur="BlurText($event)"></el-input>　<span>件</span>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="auto">
                            <template slot-scope="scope">
                                <el-button size='small' type="danger"  @click="deleteReserveProduct(scope.$index,scope.row)" :disabled="isShade">删除</el-button>
                            </template>
                        </el-table-column>
                        <el-table-column  label="调整库存" width="200" v-if="isShow===true">
                            <template slot-scope="scope" >
                                <el-input-number v-model="scope.row.pAmount"  type='number'
                                                 controls-position="right" size='small'>
                                </el-input-number>
                            </template>
                        </el-table-column>
                        <el-table-column  width="auto" v-if='isShow===true'>
                            <template slot-scope="scope">
                                <el-button size='small' type="text"  @click="updateAmount(scope.row)" v-if=true>调整库存</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-form>

            </el-tab-pane>
        </el-tabs>
        <div class="btnBox">
            <el-button type="primary" @click="submit" v-if='isSubmit===true'>保存</el-button>
            <el-button @click="cancel">取消</el-button>
        </div>

        <!-- 添加商品界面-->
        <el-dialog :title="title" :close-on-click-modal="true" customClass="cWidth" @closed="onClosed" :visible.sync="addFormVisible">
            <el-row>
                <span style='font-size:18px;color:#deddcc'>添加商品</span>
            </el-row>
            <el-row style='margin-top:10px;' :gutter="20">
                <el-col :span='5'>
                    <span style='line-height:30px;'>商品分类</span>
                    <el-select v-model="classify" placeholder="请选择" size="small" width="100" @change="selectCatedory">
                        <el-option v-for="item in allclass" :key="item.id" :label="item.name" :value="item.id" v-html="item.name"></el-option>
                    </el-select>
                    <el-select v-model="category" filterable size="small" placeholder="二级分类" width="100">
                        <el-option v-for="(item,index) in categorylist" :key="index" :value="item.id" :label="item.name"></el-option>
                    </el-select>
                </el-col>
                <el-col :span='5'>
                    <span style='line-height:30px;'>商品状态</span>
                    <el-select v-model="pStatus" placeholder="所有状态" size='small' style='width:auto'>
                        <el-option v-for="item in allpStatus" :key="item.id"  :label="item.name" :value="item.name"  v-html='item.name' ></el-option>
                    </el-select>
                </el-col>
                <el-col :span='5' style="margin-right: 5px">
                    <span style='line-height:30px;'>名称</span>
                    <el-input v-model="productName" placeholder="请输入商品名称" style="width:auto;"></el-input>
                </el-col>
                <el-col :span='5' style="margin-right: 5px">
                    <span style='line-height:30px;'>编码</span>
                    <el-input v-model="skuCode" placeholder="请输入商品编码" style="width:auto;"></el-input>
                </el-col>
                <span>
                        <el-button type="primary" @click='handleSearch'>搜索</el-button>
                    </span>
            </el-row>
            <el-table :data="tableDataSelected" highlight-current-row  v-loading="listLoading" style="margin-top: 10px" border ref="multipleTable" @selection-change="handleSelectionChange">
                <el-table-column type="selection"  width="40" label='选择' v-model="multipleSelection" prop="productId"></el-table-column>
                <el-table-column prop="productImg" label="商品图片" width="auto">
                    <template slot-scope='scope'>
                        <img :src="scope.row.productImg" alt="" style='width:50px;height:50px;border-radius:50%'>
                    </template>
                </el-table-column>
                <el-table-column prop="productName" label="商品名称" width="auto"></el-table-column>
                <el-table-column label="状态" width="auto">
                    <template slot-scope="scope">
                        <span>{{ scope.row.productStatus | changeStatus }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="price" label="价格" width="auto"></el-table-column>
                <el-table-column prop="amount" label="库存" width="auto"></el-table-column>
            </el-table>
            <el-pagination
                    :page-size="size"
                    layout="prev, pager, next"
                    :total="total"
                    @current-change="handleCurrentChange"
            ></el-pagination>
            <p>
                <el-button type="primary" @click="allSelected()">添加</el-button>
            </p>
        </el-dialog>
    </section>
</template>
<script>
    import global from '../../common/common.vue'
    export default {
        data() {
            return {
                falseeee:false,
                isDisabledPro: false,
                isDisabledForm: false,
                isDate: false,
                test11: '',
                tempReservePrice: '',
                tempConversionPrice: '',
                tempPoint: '',
                tempAmountLimit: '',
                ReserveForm: {
                    PromotionReserveProduct: {},
                    name: ''
                },
                tables: [],
                currentPage: 1,
                currentItem: '',
                currentIndex: '',
                tableGr: [],
                table: [],
                num1: 1,
                isShow: '',
                isSubmit: true,
                reservePrice: '',
                conversionPrice: '',
                effectToTime: '',
                payFromTime: '',
                point: 0,
                amountLimit: '',
                reserveId: 0,
                buyLimit: '',
                reserveLimit: '',
                preReserveLimit: '',
                pAmount: 1,
                add: '',
                productId: '',
                productImg: '',
                productName: '',
                productStatus: '',
                price: '',
                amount: '',
                size: 10,
                page: 1,
                total: 1,
                pageSize: 10,
                pageNum: 1,
                totalNum: 1,
                sizeNum: 5,
                multipleSelection: [],
                allclass: [{id: '', name: "全部", categories: []}], //分类列表
                classify: "",
                allpStatus: [
                    {id: "DRAFT", name: "草稿"},
                  /*  {id: "FORSALE", name: "预售"},*/
                    {id: "INSTOCK", name: "下架"},
                    {id: "ONSALE", name: "上架"}
                ],
                listLoading: false,
                flag: false,
                tableDataSelected: [],                       //可被选择的数据
                selectIdArray: [],                           //被选中的id
                list: [],
                pStatus: '',
                isSelected: false,
                name: '',
                skuCode: '',
                supplier: '',
                sup: [{id: '', name: '全部'}],
                activeName2: 'first',
                isChecked: '',
                productResultList: [],
                arr: [],
                removeDisabled: true,
                inputValue: '',
                isChecked1: '',
                isChecked2: '',
                isChecked3: '',
                isChecked4: '',
                isChecked5: '',
                changeEffectFrom: '',
                changeEffectTo: '',
                changePayFrom: '',
                changePayTo: '',
                oldEffectFrom: '',
                categorylist: "",
                category: "",
                oldEffectTo: '',
                oldPayTime: '',
                delProductArr: [],
                oldPayTo: '',
                index: '',
                item: '',
                addFormVisible: false,
                title: '',
                tableData: [],
                tableData1: [],
                addarr: [],                //预约活动商品
                activeIndex: '',
                ids: [],
                categoryflag: true,
                promotionId: '',
                promotionProductId: [],
                productflag: true,
                productArrflag: true,
                categoryArr: [],
                categoryArrFlag: true,
                editDisabled: false,
                isShade: false,
                categoryNum: true,
                formInline: {},
                formInlinetwo: {
                    name: '',
                    value1: [],
                    value2: [],
                    targetPerson: '不限',
                    isCountEarning: '',
                    isDeliveryReduction: ''
                }, //基础信息
                editableTabsValue2: '1',
                batchOperation: [],
                editableTabs2: [{
                    categoryName: '',
                    title: '类目一',
                    name: '1',
                    reserveProductDetailInfo: [],
                    messArr: [],
                    close: true,
                }],
                categories: [],
                tabIndex: 1,
                obj: {
                    object: {
                        productId: '',
                        productCategory: '',
                        productStatus: '',
                        productName: '',
                        skuCode: '',
                        productImg: '',
                        price: '',
                        amount: ''
                    }
                }
            }
        },
        methods: {
            changeTime(val){
                this.changeEffectFrom = val[0];
                this.changeEffectTo = val[1];
            },
            changePayTime(val){
                this.changePayFrom= val[0];
                this.changePayTo = val[1];
            },
            computeCount1(row) {
                let val = (row.reservePrice - row.conversionPrice) * 10;
                if(row.reservePrice === undefined || row.conversionPrice === undefined){
                    row.point = 0;
                }else{
                    row.point = Math.round(val);
                }
            },
            computeCount3(val) {
                this.amountLimit = val;
            },
            computeCount4(val) {
                this.buyLimit = val;
            },
            computeCount5(val) {
                this.reserveLimit = val;
            },
            computeCount6(val) {
                this.preReserveLimit = val;
            },
            onClosed() {
                this.$emit('closed', this.$refs.multipleTable.store.states.selection)
            },
            chooseDate(val){
            },
            /* 获取商品分类 */
            getAllClass: function() {
                fetch(global.categoryUrl, {
                    method: "get"
                })
                    .then(res => res.json())
                    .then(res => {
                        if (res.isSuccess === 1) {
                            this.allclass = this.allclass.concat(res.result);
                        } else {
                            this.$message({
                                message: "查询不到数据，请稍候重试",
                                type: "error"
                            });
                        }
                    })
                    .catch(e => {
                        this.$message({
                            message: "网络数据有误，请重新刷新",
                            type: "error"
                        });
                    });
            },
            BlurText(e){
                let aBoolean = new RegExp("^[1-9][0-9]*$").test(e.target.value);
                if(!aBoolean){
                    this.$message({
                        message: "请输入正整数",
                        type: "success"
                    });
                    e.target.value = ''
                }
            },
            /* 获取二级分类 */
            selectCatedory(val) {
                let o = this.allclass.filter(v => v.id == val);
                let catedoryList = o[0].categories;
                let arr = [];
                catedoryList.forEach(element => {
                    let obj = {
                        id: element.id,
                        name: element.name
                    };
                    arr.push(obj);
                });
                this.category = "";
                this.categorylist = arr;
            },
            updateAmount(row) {
                this.$confirm("是否修改库存？此操作无法撤回。", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(() => {
                    var myHeaders = new Headers({
                        "Content-type": "application/json;charset-8"
                    });
                    fetch(
                        global.updateAmountUrl + "?reserveId=" + row.reserveId + "&skuId=" + row.skuId + "&pAmount=" + row.pAmount, {
                            method: "POST",
                            headers: myHeaders
                        })
                        .then(res => res.json())
                        .then(res => {
                            if (res.errorCode === 200) {
                                this.$message({
                                    message: "修改库存成功",
                                    type: "success"
                                });
                            } else {
                                this.$message({
                                    message: res.message,
                                    type: "error"
                                });
                            }
                            row.pAmount = 0;
                        });
                })
                    .catch(() => {
                        this.$message({
                            type: "info",
                            message: "已取消修改库存"
                        });
                    });
            },
            deleteReserveProduct(index,item) {
                this.$confirm("是否删除该商品？此操作无法撤回。", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                })
                    .then(() => {
                        this.editableTabs2[this.editableTabsValue2-1].reserveProductDetailInfo.splice(index,1);
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        });
                    }) .catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除"
                    });
                });
            },
            handlerClick(index, item) {
                /*this.editableTabs2[index].content = this.batchOperation;
                    this.editableTabs2[0].content = ''*/
            },
            handleChange(value) {
                console.log(value);
            },
            getAllClass: function () {
                fetch(global.categoryUrl, {
                    method: "get"
                })
                    .then(res => res.json())
                    .then(res => {
                        if (res.isSuccess === 1) {
                            this.allclass = this.allclass.concat(res.result);
                        } else {
                            this.$message({
                                message: "查询不到数据，请稍候重试",
                                type: "error"
                            });
                        }
                    })
                    .catch(e => {
                        this.$message({
                            message: "网络数据有误，请重新刷新",
                            type: "error"
                        });
                    });
            },
            handleSearch() {
                let categoryId = "";
                let pStatusId = "";
                for (let ele of this.allclass){
                    if(ele.id === this.classify) categoryId = ele.id;
                }
                for (let ele of this.allpStatus) {
                    if (ele.name === this.pStatus) pStatusId = ele.id;
                }
                let formData = JSON.stringify({
                    productStatus: pStatusId === "" ? undefined:pStatusId,
                    category: this.category === "" ? undefined : this.category,
                    productName: this.productName === "" ? undefined : this.productName,
                    skuCode: this.skuCode === "" ? undefined : this.skuCode,
                    pageIndex: this.page,
                    pageSize: this.size,
                });
                fetch(global.getReserveProductListUrl, {
                    method: "POST",
                    body: formData,
                    headers: {"Content-Type": "application/json;charset=UTF-8"}
                }).then(res => res.json())
                    .then(res => {
                        this.tableDataSelected = res.data.productResultList;
                        this.total = res.data.productCount;
                    });
            },
            handleCurrentChange(val) {
                this.page = val;
                this.handleSearch();
            },
            handleSelectionChange(val) {
                this.batchOperation = val;
            },
            handleAdd(item, index) {
                this.isChecked = '',
                    this.isChecked1 = '',
                    this.isChecked2 = '',
                    this.title = '添加预约 > 选择商品';
                this.addFormVisible = true;
                this.currentItem = item;
                this.currentIndex = index;
            },
            allSelected: function () {
                this.addFormVisible = false;
                this.batchOperation.forEach((element,index)=>{
                    this.editableTabs2[this.editableTabsValue2-1].reserveProductDetailInfo.push(element);
                });
                this.$refs.multipleTable.clearSelection();
            },
            submit: function () {
                const isEdit = this.flag;
                let productList = [];
                let categoryArr = [];
                let productInfoArr = [];
                let tabsLength = this.editableTabs2.length;
                this.categoryflag = true;
                this.categoryArrFlag = true;
                this.productflag = true;
                this.productArrflag = true;
                for(let i=0;i<tabsLength;i++){
                    if(this.editableTabs2[i].categoryName === ''|| this.editableTabs2[i].categoryName === undefined){
                        this.categoryflag = false;
                        break;
                    }
                }
                for(let i=0;i<tabsLength;i++){
                    if(this.editableTabs2[i].categoryName.length > 4){
                        this.categoryNum = false;
                        break;
                    }
                }
                for(let i=0;i<tabsLength;i++){
                    if(this.editableTabs2[i].categoryName !== ''|| this.editableTabs2[i].categoryName !== undefined){
                        categoryArr.push(this.editableTabs2[i].categoryName);
                        if(new Set(categoryArr).size !== categoryArr.length){
                            this.categoryArrFlag = false;
                            break;
                        }
                    }
                }
                for(let i=0;i<tabsLength;i++){
                    if(this.editableTabs2[i].reserveProductDetailInfo === ''|| this.editableTabs2[i].reserveProductDetailInfo === undefined){
                            this.productflag = false;
                            break;
                    }
                }
                for(let i=0;i<tabsLength;i++){
                    if(this.editableTabs2[i].reserveProductDetailInfo !== ''|| this.editableTabs2[i].reserveProductDetailInfo !== undefined){
                        this.editableTabs2[i].reserveProductDetailInfo.forEach((element,index)=>{
                            productInfoArr.push(element.skuId);
                        });
                        if(new Set(productInfoArr).size !== productInfoArr.length){
                            this.productArrflag = false;
                            break;
                        }
                    }
                }
                this.editableTabs2.forEach((element,index)=>{
                    element.reserveProductDetailInfo.forEach((ele,index2)=>{
                        productList.push(ele);
                    })
                });

                if (this.formInlinetwo.name === '') {
                    this.$message({
                        message: '请添加预约活动名称！',
                        type: 'error'
                    })
                } else if (this.formInlinetwo.value1.length === 0 || this.formInlinetwo.value1[0] === null || this.formInlinetwo.value1[1] === null) {
                    this.$message({
                        message: '请添加预约起止时间！',
                        type: 'error'
                    })
                } else if (this.formInlinetwo.value2.length === 0 || this.formInlinetwo.value2[0] === null || this.formInlinetwo.value2[1] === null) {
                    this.$message({
                        message: '请添加支付起止时间！',
                        type: 'error'
                    });
                }else if(this.formInlinetwo.value1[1] > this.formInlinetwo.value2[0]){
                    this.$message({
                        message: '支付起止时间应该大于预约起止时间！',
                        type: 'error'
                    });
                } else if (this.formInlinetwo.targetPerson === '') {
                    this.$message({
                        message: '请选择目标人群！',
                        type: 'error'
                    });
                } else if (this.formInlinetwo.isCountEarning === '') {
                    this.$message({
                        message: '请选择计算收益！',
                        type: 'error'
                    });
                } else if (this.formInlinetwo.isDeliveryReduction === '') {
                    this.$message({
                        message: '请选择是否包邮！',
                        type: 'error'
                    });
                }else if(!this.categoryflag){
                    this.$message({
                        message: '类目名称不能为空',
                        type: 'error'
                    });
                }
                else if(!this.categoryNum){
                    this.$message({
                        message: '类目名称不能超过4个汉字',
                        type: 'error'
                    });
                    this.categoryNum = true;
                }
                else if(!this.categoryArrFlag){
                    this.$message({
                        message: '类目名称不能重复',
                        type: 'error'
                    });
                }
                else if(!this.productflag){
                    this.$message({
                        message: '添加的活动商品不能为空',
                        type: 'error'
                    });
                }
                else if(!this.productArrflag){
                    this.$message({
                        message: '添加的活动商品不能重复',
                        type: 'error'
                    });
                }
                else if(!isEdit && this.formInlinetwo.value1[0].getTime() < new Date()){
                    this.$message({
                        message: '预约开始时间必须大于当前时间',
                        type: 'error'
                    });
                }
                else if (isEdit && this.changeEffectFrom !== '' && this.changeTi(this.oldEffectFrom) !== this.changeTi(this.changeEffectFrom)) {
                        this.$message({
                            message: '预约开始时间不能修改',
                            type: "error"
                        });
                    }
                else if (isEdit && (this.oldPayTime < new Date().getTime() && new Date().getTime() < this.oldPayTo) && this.changeEffectFrom !== '' && this.changeTi(this.oldEffectTo) !== this.changeTi(this.changeEffectTo)) {
                    this.$message({
                        message: '已经到达了支付时间，预约结束时间不能修改',
                        type: "error"
                    });
                }
                else if (isEdit && (this.oldPayTime < new Date().getTime() && new Date().getTime() < this.oldPayTo) && this.changePayFrom !== '' && (this.changeTi(this.oldPayTime) !== this.changeTi(this.changePayFrom))) {
                    this.$message({
                        message: '已经到达了支付时间，支付开始时间不能修改',
                        type: "error"
                    });
                }
                else {
                    this.effectFromTime = this.formInlinetwo.value1[0];
                    this.effectToTime = this.formInlinetwo.value1[1];
                    this.payFromTime = this.formInlinetwo.value2[0];
                    this.payToTime = this.formInlinetwo.value2[1];
                    this.formInlinetwo.effectFromTime = this.effectFromTime;
                    this.formInlinetwo.effectToTime = this.effectToTime;
                    this.formInlinetwo.payFromTime = this.payFromTime;
                    this.formInlinetwo.payToTime = this.payToTime;
                    let reserveForm = {};
                    reserveForm.promotionReserve = this.formInlinetwo;
                    reserveForm.promotionReserve.id = this.$route.query.reserveId;
                    let reserveProductList = [];
                    this.editableTabs2.forEach((ele, index) => {
                        ele.reserveProductDetailInfo.forEach((element => {
                            let promotionReserveProduct = {
                                categoryName: ele.categoryName,
                                skuId: element.skuId,
                                productId: element.productId,
                                reservePrice: element.reservePrice,
                                conversionPrice: element.conversionPrice,
                                point: element.point,
                                amountLimit: element.amountLimit,
                                buyLimit: element.buyLimit,
                                reserveLimit: element.reserveLimit,
                                preReserveLimit: element.preReserveLimit,
                                id: isEdit?element.id:null
                            };
                            reserveProductList.push(promotionReserveProduct);
                        }));
                    });
                    reserveForm.reserveProductList = reserveProductList;
                    fetch(
                            global.addReserveUrl,
                        {
                            method: "POST",
                            headers: {"Content-type": "application/json;charset-8"},
                            body: JSON.stringify(reserveForm)
                        }
                    )
                        .then(res => res.json())
                        .then(res => {
                            if (res.errorCode === 200) {
                                if (!isEdit) {
                                    this.flag = res.data;
                                    this.$message({
                                        message: '添加成功',
                                        type: "success"
                                    });
                                } else {
                                    this.$message({
                                        message: '修改成功',
                                        type: "success"
                                    });
                                }
                                this.$router.push({
                                    path: '/reserveList',
                                    query: {}
                                })
                                this.pageNum = 1;
                            } else {
                                this.$message({
                                    message: res.message,
                                    type: "error"
                                });
                            }

                        });
                }
                },
            cancel: function () {
                this.page = 1;
                this.$router.push({
                    path: '/reserveList',
                    query: {}
                })
            },
            changeTi(val)
            {
                let date = new Date(val);
                let yy = date.getFullYear() + '-';
                let mm = ((date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-';
                let dd = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
                let hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
                let min = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
                let ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
                let aa = yy + mm + dd + hh + min + ss;
                return aa
            },
            getDetailMessage() {
                this.flag = true;
                if (this.$route.query.isShow) {
                    this.isShow = this.$route.query.isShow;
                    this.isSubmit = this.$route.query.isSubmit;
                    let length = this.editableTabs2.length;
                    this.isDisabledForm = true;
                    fetch(global.editReserveListUrl + '?reserveId=' + this.$route.query.reserveId, {
                        method: 'get',
                    })
                        .then(res => res.json())
                        .then(res => {
                            this.promotionId = res.data.reserveResult.promotionId;
                            this.formInlinetwo.name = res.data.reserveResult.name;
                            this.oldEffectFrom = res.data.reserveResult.effectFromTime;
                            this.oldEffectTo = res.data.reserveResult.effectToTime;
                            this.formInlinetwo.value1.push(this.oldEffectFrom);
                            this.formInlinetwo.value1.push(this.oldEffectTo);
                            this.oldPayTime = res.data.reserveResult.payFromTime;
                            this.oldPayTo = res.data.reserveResult.payToTime;
                            this.formInlinetwo.value2.push(this.oldPayTime);
                            this.formInlinetwo.value2.push(this.oldPayTo);
                            if (res.data.reserveResult.targetPerson === 1) {
                                this.formInlinetwo.targetPerson = "1"
                            } else if (res.data.reserveResult.targetPerson === 2) {
                                this.formInlinetwo.targetPerson = "2"
                            } else if(res.data.reserveResult.targetPerson === 3){
                                this.formInlinetwo.targetPerson = "3"
                            }
                            this.formInlinetwo.isDeliveryReduction = res.data.reserveResult.isDeliveryReduction === 0 ? '0' : '1';
                            this.formInlinetwo.isCountEarning = res.data.reserveResult.isCountEarning === 0 ? '0' : '1';
                            res.data.reCategoryList.forEach((ele,index)=>{
                                ele.title = '类目'+ (index+1);
                                ele.isDisabled = true;
                                this.tabIndex ++ ;
                                ele.name = (index).toString();
                                ele.close= false;
                                ele.reserveProductDetailInfo.forEach((element,index1)=>{
                                    element.isDisabledPro = true;
                                });
                            });
                                this.editDisabled = true;
                                this.isShade = true;
                            this.editableTabs2 = res.data.reCategoryList;
                            console.log(this.editableTabs2);
                            this.tabIndex--;
                        });
                    this.editableTabsValue2 = '0';
                }
            },
            addTab(targetName) {
                let reservePd = [];
                let newTabName = ++this.tabIndex + '';
                this.editableTabs2.push({
                    title: '类目' + this.tabIndex,
                    name: newTabName,
                    reserveProductDetailInfo: reservePd,
                    close: true
                });
                this.editableTabsValue2 = newTabName;
            },
            removeTab(targetName) {
                    this.$confirm("是否删除该类目？此操作无法撤回。", "提示", {
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        type: "warning"
                    })
                        .then(() => {
                            let tabs = this.editableTabs2;
                            let activeName = this.editableTabsValue2;
                            if (activeName === targetName) {
                                tabs.forEach((tab, index) => {
                                    if (tab.name === targetName) {
                                        let nextTab = tabs[index + 1] || tabs[index - 1];
                                        if (nextTab) {
                                            activeName = nextTab.name;
                                            if(index === (this.editableTabs2.length-1)){
                                                this.editableTabs2[index].categoryName= ''
                                            }else{
                                                this.editableTabs2[index].categoryName = this.editableTabs2[index+1].categoryName;
                                            }
                                        }
                                    }
                                });
                            }
                            this.tabIndex -- ;
                            this.editableTabsValue2 = activeName;
                            this.editableTabs2 = tabs.filter(tab => tab.name !== targetName);
                            this.$message({
                                message: "删除成功",
                                type: "success"
                            });
                        }) .catch(() => {
                        this.$message({
                            type: "info",
                            message: "已取消删除"
                        });
                    });
            },

        },
        mounted() {
            if(this.$route.query.isShow === true){
                this.getDetailMessage();
            }

        },
        computed: {
            cumputePoint () {
                return  (this.reservePrice-this.conversionPrice)*10;
            },

        },
        filters: {
            changeStatus: function (val) {
                switch (val) {
                    case 'DRAFT' :
                        return '草稿';
                        break;
                    case 'INSTOCK' :
                        return '下架';
                        break;
                    case 'ONSALE' :
                        return '上架';
                        break;
                }
            }
            ,

        }
        ,
        created()
        {
            this.getAllClass();
            this.handleSearch();
        }
    }
</script>
<style>
    .addClass{
        margin-top: 30px;
        margin-right: 50%;
        margin-left: 70%;
    }
    .btnBox {
        width: 100%;
        margin-left: 40%;
        margin-top: 20px;
    }
    .item_box{
        display: flex;
    }
    .item_box span{
        margin: 4px 0 0 5px;
    }
</style>