<template>
    <section>
        <div v-if="showFirst">
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="砍价活动ID：">
                    <el-input v-model="formInline.id"></el-input>
                </el-form-item>
                <el-form-item label="商品名称：">
                    <el-input v-model="formInline.productName"></el-input>
                </el-form-item>
                <el-form-item label="砍价活动状态：">
                    <el-select v-model="formInline.state" placeholder="全部">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="未开始" value="0"></el-option>
                        <el-option label="已生效" value="1"></el-option>
                        <el-option label="已过期" value="2"></el-option>
                        <el-option label="人工下线" value="3"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div class="btnBox">
                <el-button type="primary" @click="getBargainList()">查询</el-button>
                <el-button type="primary" @click="addBargain('add')">+ 新建砍价活动</el-button>
                <el-button type="primary" @click="addBargainRule" class="add_bargain_rule">砍价额度通用规则配置</el-button>
            </div>
            <div>
                <p>砍价活动列表</p>
                <el-table :data="tableData" border="" style="width: 100%" v-loading="loading">
                    <el-table-column prop="bargainId" label="活动ID"></el-table-column>
                    <el-table-column label="砍价活动时间" width="230">
                        <template slot-scope="scope">
                            <div>
                                <span>{{ scope.row.startTimes }}</span>
                                <span>至</span>
                            </div>
                            <span>{{ scope.row.endTimes }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="productId" label="商品ID （SPU）"></el-table-column>
                    <el-table-column prop="productName" label="商品名称"></el-table-column>
                    <el-table-column prop="states" label="活动状态" ></el-table-column>
                    <el-table-column label="操作" prop="state" width="300">
                        <template slot-scope="scope">
                            <el-button  size="small" @click="addBargain('view',scope.row)" type="primary">查看</el-button>
                            <el-button  size="small" @click="addBargain('edit',scope.row)" v-if="scope.row.state != 3" type="info">编辑</el-button>
                            <el-button  type="danger" size="small" @click="lapseBargain(scope.row)"  v-if="scope.row.state != 3">作废失效</el-button>
                            <el-button  size="small" @click="statisticsBargain('view',scope.row)">统计</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 商品推荐列表分页 -->
                <el-pagination
                    @current-change="handleCurrentChange"
                    :page-size='size'
                    background
                    layout="prev, pager, next"
                    :total="bargainTotal">
                </el-pagination>
            </div>
        </div>
        <!-- 新建 -->
        <div v-if="showCreate">
            <el-form :model="ruleForm"  label-width="120px" >
                <p>基本信息</p>
                <el-form-item label="活动名称" prop="name">
                    <el-input v-model="ruleForm.name" style="width: 60%" size="small" :disabled="isDisabled"></el-input>
                </el-form-item>
                <el-form-item label="拼团活动时间" >
                    <el-date-picker v-model="ruleForm.activeRange" size='small' type="datetimerange" :disabled="isDisabled" range-separator="至"
                                    start-placeholder="开始日期" end-placeholder="结束日期" style="width:60%">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="助力规则" prop="resource">
                    <el-radio-group v-model="ruleForm.resource" >
                        <el-radio label='1'>仅限新人（没有在汉薇APP内支付成功的用户） 助力帮砍</el-radio>
                        <el-radio label='0'>助力用户新老不做限制</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="已选商品">
                    <el-table :data="hadSelected" style="width: 100%">
                        <el-table-column prop="img" label="图片" width="180">
                            <template  slot-scope="scope">
                                <img :src="scope.row.img" width="50" height="50" />
                            </template>
                        </el-table-column>
                        <el-table-column prop="name" label="商品名称" width="180">
                        </el-table-column>
                        <el-table-column prop="supplier" label="供应商">
                        </el-table-column>
                        <el-table-column prop="category" label="分类">
                        </el-table-column>
                        <el-table-column prop="brand" label="品牌">
                        </el-table-column>
                    </el-table>
                    <div class="specBox" v-if="hadSelected.length != 0">
                        <el-table :data="selectSpec" :show-header = 'false'> 
                            <el-table-column  prop='spec' label='spec'>
                            </el-table-column>
                            <el-table-column  prop='skuPrices' label='售价' >
                            </el-table-column>
                            <el-table-column  prop='show' label='显示兑换价和德分' >
                            </el-table-column>
                            <!-- 新增修改底价 -->
                            <el-table-column  prop='conversionPrices' label='底价'   width='250' v-if="!isView && !isEdit">
                                <template slot-scope='scope'>
                                    <span class="price">底价：</span>
                                    <el-input-number controls-position="right" v-model='scope.row.conversionPrices' size="small" :min='scope.row.conversionPrice' style="width:120px"></el-input-number>
                                </template>
                            </el-table-column>
                            <!-- 编辑修改底价 -->
                            <el-table-column  prop='conversionPrices' label='底价'   width='250' v-if="isView || isEdit">
                                <template slot-scope='scope'>
                                    <span class="price">底价：</span>
                                    <el-input-number controls-position="right" v-model='scope.row.conversionPrices' size="small" :min='scope.row.conversonPrice' style="width:120px"></el-input-number>
                                </template>
                            </el-table-column>

                            <el-table-column  prop='skuAmounts' label='库存' >
                            </el-table-column>
                            <!-- 新增修改活动库存 -->
                            <el-table-column  prop='skuAmounts' label='活动库存'  width = '250' v-if="!isView && !isEdit">
                                <template slot-scope='scope'>
                                    <span class="price">活动库存：</span>
                                    <el-input-number controls-position="right" :min="0" :max="scope.row.skuAmount" size="small" v-model="scope.row.skuAmountSetted" style="width:130px"></el-input-number>
                                </template>
                            </el-table-column>
                            <!-- 编辑修改活动库存 -->
                            <el-table-column  prop='stock' label='活动库存'  width = '250' v-if="isView || isEdit">
                                <template slot-scope='scope'>
                                    <span class="price">活动库存：</span>
                                    <el-input-number controls-position="right" :min="0" :max='scope.row.amount' size="small" v-model="scope.row.stock" style="width:130px"></el-input-number>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </el-form-item>
                <el-form-item label="添加商品">
                    <div>
                        <el-form :inline="true" :model="formGoods" class="demo-form-inline">
                            <el-row >
                                <el-col :span="5">
                                    <el-form-item label="">
                                        <span class="searchSpan">商品供应商：</span>
                                        <el-select v-model="proSupplier" placeholder="请选择" size='small'>
                                            <el-option v-for="item in proSup" :key="item.id"  :label="item.name" :value="item.name">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="9">
                                    <el-form-item label="">
                                        <span class="searchSpan">商品分类：</span>
                                        <div style="display:flex">
                                            <el-select v-model="classify"  placeholder="请选择" size="small"   @change="selectCatedory" >
                                                <el-option v-for="item in allclass" :key="item.id" :label="item.name" :value="item.id"></el-option>
                                            </el-select>
                                            <el-select v-model="category" filterable placeholder="二级分类"   size="small" >
                                                <el-option v-for="item in categorylist" :key="item.id" :label="item.name" :value="item.id" ></el-option>
                                            </el-select>
                                        </div>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="5">
                                    <el-form-item label="">
                                        <span class="searchSpan">商品品牌：</span>
                                        <el-select v-model="bd" placeholder="请选择" size='small'>
                                            <el-option v-for="item in brands" :key="item.id"  :label="item.name" :value="item.name"  v-html='item.name'>
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="5">
                                    <el-form-item label="">
                                        <span class="searchSpan">商品状态：</span>
                                        <el-select v-model="proState" placeholder="请选择" size='small'>
                                        <el-option v-for="(item,index) in goodstates" :key="index"  :label="item.name" :value="item.name"  v-html='item.name' >
                                        </el-option>
                                    </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row style="top: 20px">
                                <el-col :span="7">
                                    <el-form-item label="商品名称">
                                        <el-input v-model="formGoods.name" placeholder="商品名称" class="productName"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="5">
                                    <el-form-item>
                                        <el-button type="primary" @click="search">查询</el-button>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div style="position: relative;top: 40px">
                            <el-table :data="selectTableData" style="width: 100%"  v-loading="loadingAdd">
                                <el-table-column prop="productId" label="SPU ID" width="180">
                                </el-table-column>
                                <el-table-column  prop="name"  label="商品名称" width="180">
                                </el-table-column>
                                <el-table-column prop="supplier" label="供应商">
                                </el-table-column>
                                <el-table-column prop="category" label="分类">
                                </el-table-column>
                                <el-table-column prop="brand" label="品牌">
                                </el-table-column>
                                <el-table-column label="操作" width="100">
                                    <template slot-scope="scope" style="display:flex">
                                        <el-button size="small"  @click="handleAdd(scope.$index,scope.row)" v-if="!(activeIndex === scope.row.productId)"  style="color:#20a0ff"
                                        >添加</el-button>
                                        <el-button size="small" v-if="activeIndex === scope.row.productId">已添加</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination
                                background
                                layout="prev, pager, next"
                                :total="selectedTotal"
                                :page-size="selectedSize"
                                @current-change="selectedHandleCurrentChange"
                            ></el-pagination>
                        </div>
                    </div>
                </el-form-item>
                <div style="position: relative;top: 40px">
                <el-form-item>
                    <el-button type="primary" @click="submitForm(createType,ruleForm)" v-if="!isView">保存</el-button>
                    <el-button @click="cancel">取消</el-button>
                </el-form-item>
                </div>
            </el-form>
        </div>
        <!-- 通用规则配置 -->
        <div v-if="showEdit" class="ruleSetted">
            <el-form ref="form" :model="ruleSettedForm" label-width="100px">
                <p>砍价管理>砍价额度通用规则配置</p>
                <el-form-item label="助力次数配置">
                    <div class="itemBox">
                        <span>（）期间 同一用户 最多可以助力</span>
                        <el-input-number v-model="ruleSettedForm.maxCutTime" style="width: 120px" size="small" :min="0"></el-input-number>
                        <span>次不同用户的砍价</span>
                    </div>
                </el-form-item>
                <el-form-item label="活动额度规则">
                    <div class="ruleBox">
                        <div class="ruleBoxOne">
                            <p>发起新砍价 减免额度 基于 商品原售价减去底价 的恒定值为 计算基数 百分比 区间 设置</p>
                            <p class="bottomLine"></p>
                            <div>
                                <span>新用户
                                    <el-input-number v-model="ruleSettedForm.launchDiscountNewMin" style="width: 120px" size="small" :min="0" :max="ruleSettedForm.launchDiscountNewMax-1"></el-input-number> % 至
                                    <el-input-number v-model="ruleSettedForm.launchDiscountNewMax" style="width: 120px" size="small" :min="ruleSettedForm.launchDiscountNewMin+1" :max="100"></el-input-number> %
                                </span>
                                <span class="tip">仅允许填写数字，且数字不可大于100</span>
                            </div>
                            <div>
                                <span class=""> 老用户 
                                    <el-input-number v-model="ruleSettedForm.launchDiscountOldMin" style="width: 120px" size="small" :min="0" :max="ruleSettedForm.launchDiscountOldMax-1"></el-input-number> % 至
                                    <el-input-number v-model="ruleSettedForm.launchDiscountOldMax" style="width: 120px" size="small" :min="ruleSettedForm.launchDiscountOldMin+1" :max="100"></el-input-number> %
                                </span>
                                <span class="tip">仅允许填写数字，且数字不可大于100</span>
                            </div>
                        </div>
                        <div class="ruleBoxtwo">
                            <p>帮好友砍价 减免额度 基于 商品原售价减去底价 的恒定值为 计算基础 百分比 区间 设置</p>
                            <p class="bottomLine"></p>
                                <div>
                                    <span class="">新用户
                                        <el-input-number v-model="ruleSettedForm.supportDiscountNewMin" style="width: 120px" size="small" :min="0" :max="ruleSettedForm.supportDiscountNewMax-1"></el-input-number> % 至
                                        <el-input-number v-model="ruleSettedForm.supportDiscountNewMax" style="width: 120px" size="small" :min="ruleSettedForm.supportDiscountNewMin+1" :max="100"></el-input-number> %
                                    </span>
                                    <span class="tip">仅允许填写数字，且数字不可大于100</span>
                                </div>
                                <div>
                                    <span class="">老用户
                                        <el-input-number v-model="ruleSettedForm.supportDiscountOldMin" style="width: 120px" size="small" :min="0" :max="ruleSettedForm.supportDiscountOldMax-1"></el-input-number> % 至
                                        <el-input-number v-model="ruleSettedForm.supportDiscountOldMax" style="width: 120px" size="small" :min="ruleSettedForm.supportDiscountOldMin+1" :max="100"></el-input-number> %
                                    </span>
                                    <span class="tip">仅允许填写数字，且数字不可大于100</span>
                                </div>
                        </div>
                        <div  class="ruleBoxtwo">
                            <p class="bottomLine">奖励 * 助力用户</p>
                            <div>
                                <span>新用户德分奖励</span>
                                <span class="tip"><el-input v-model="ruleSettedForm.supportPointNew" style="width: 50px" size="small"></el-input></span>
                            </div>
                            <div>
                                <span>老用户德分奖励</span>
                                <span class="tip"><el-input v-model="ruleSettedForm.supportPointOld" style="width: 50px" size="small"></el-input></span>
                            </div>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item>
                        <el-button type="primary" @click="onSubmit(ruleSettedForm)">确认保存</el-button>
                        <el-button @click="cancel">取消</el-button>
                </el-form-item>
            </el-form>
        </div>
    </section>
</template>

<script>
    import global from "../../common/common.vue";
    export default {
        data() {
            return {
                bargainTotal:1,
                loadingAdd:true,
                loading:true,
                activeId:'',
                isView:false,
                isEdit:false,
                createType:"add",
                selectedTotal:0,
                selectedSize:6,
                selectedPage:1,
                bargainPage:0,
                classify: '',
                category:'',
                proState:"",/* 商品状态 */
                bd: '',
                proSupplier:"",/* 商品供应商 */
                goodstates:[ //商品状态
                    {id:'',name:'全部'},
                    {id:'ONSALE',name:'已上架'},
                    {id:'DRAFT',name:'草稿箱'},
                    {id:'FORSALE',name:'已发布'},
                    {id:'INSTOCK',name:'已下架'},
                ],
                statusShow: {
                    ONSALE: "上架",
                    FORSALE: "预售",
                    DRAFT: "草稿箱",
                    INSTOCK: "下架"
                },
                brands:[{id:'',name:'全部'}], 
                proSup:[{id:'',name:'全部'}], 
                categorylist: [] /* 二级分类数组 */,
                allclass: [{ id: "", name: "全部", categories: [] }], //商品分类
                isDisabled:false,
                ruleSettedForm:{},/* 通用规则配置 */
                productId:'',
                selectSpec:[],
                hadSelected:[],
                activeIndex:'',
                formInline: {},
                formGoods: {},
                tableData: [],
                selectTableData:[],/* 可选商品table */
                supplier: {},
                name: '',
                id:"",
                size: 10,
                page: 0,
                total: 0,
                showFirst: true,
                showCreate: false,
                showEdit: false,
                input: '',
                ruleForm: {
                    name: '',
                    delivery: false,
                    resource: '',
                },
                form: {
                    name: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                rules: {
                    name: [
                        {required: true, message: '请输入活动名称', trigger: 'blur'},
                        {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
                    ],
                    date: [
                        {type: 'date', required: true, message: '请选择日期', trigger: 'change'}
                    ],
                    type: [
                        {type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change'}
                    ],
                    resource: [
                        {required: true, message: '请选择活动资源', trigger: 'change'}
                    ],
                    desc: [
                        {required: true, message: '请填写活动形式', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            //添加按钮
            handleAdd:function(index,item){
                this.productId = item.productId;
                this.activeIndex = item.productId;
                if (this.hadSelected.length === 1) {
                    this.hadSelected = [];
                    this.hadSelected.push(item);
                } else {
                    this.hadSelected.push(item);
                }
                item.skuList.forEach(element=>{
                    element.skuPrices = '售价：'+ element.skuPrice;
                    element.show = '兑换价：￥'+ element.conversionPrice + '+' + element.point;
                    element.skuAmounts = '库存：' + element.skuAmount;
                })
                this.selectSpec = item.skuList;
            }, 
            /*页面取消*/
            cancel() {
                this.isView = false;
                this.showEdit = false;
                this.showFirst = true;
                this.showCreate = false;
                this.search();
                this.clear();
            },
            /* 获取单个砍价信息 */
            getBargainInfo(id){
                fetch(global.selectInfo+'?id='+id,{
                    method:"GET"
                }).then(res=>res.json())
                .then(res=>{
                        this.selectTableData.forEach(element=>{
                            if(element.productId.toString() === res.data.productId){
                                this.activeIndex = element.productId
                            }
                        })
                        let obj = {
                            name:res.data.promotionName,
                            supplier:res.data.supplierName,
                            category:res.data.category,
                            brand:res.data.brandName,
                            img:res.data.productImg
                        }
                        this.hadSelected[0]=obj;
                        res.data.skus.forEach(element=>{
                            element.skuPrices = '售价：'+ element.price;
                            element.show = '兑换价：￥'+ element.conversonPrice + '+' + element.point;
                            element.skuAmounts = '库存：' + element.amount;
                        })
                        this.selectSpec = res.data.skus;
                        this.ruleForm.name = res.data.promotionName;
                        this.ruleForm.activeRange = [res.data.startTime,res.data.endTime];
                        this.ruleForm.resource = res.data.supportLimit.toString();
                    })
            },
            /* 添加砍价活动 */
            async addBargain(type,row) {
                this.showFirst = false;
                this.showCreate = true;
                this.clear();
                //获取可选列表
                await this.search();
                if(type === 'add'){
                    console.log(type,row)
                    this.isDisabled = false;
                    
                }else if (type === 'view'){
                    console.log(type,row)
                    this.isView = true;
                    this.isDisabled = true;
                    this.productId = row.productId;
                    this.getBargainInfo(row.bargainId);
                }else{
                    console.log(type,row)
                    this.activeId = row.bargainId;
                    this.isEdit = true;
                    this.isDisabled = false;
                    this.createType = 'edit';
                    this.productId = row.productId;
                    this.getBargainInfo(row.bargainId)
                }
                
            },
            /* 通用规则保存 */
            onSubmit(ruleSettedForm) {
                fetch(global.bargainUpdate,{
                    method:"POST",
                    body:JSON.stringify(ruleSettedForm),
                    headers:{"Content-Type": "application/json;charset=UTF-8"}
                }).then(res=>res.json())
                .then(res=>{
                    if(res.errorCode === 200){
                        this.$message.success("修改成功");
                        this.showEdit = false;
                        this.showFirst = true;
                    }else{
                        this.$message.error("修改失败")
                    }
                })
            },
            /* 搜索 */
            async search() {
                let _this = this;
                let spu, goodstate, skuname, skucode, brand, category, supname, productId;
                if (_this.proSupplier === "") {
                    spu = "";
                } else {
                    for (let ele of this.proSup) {
                    if (ele.name === this.proSupplier) spu = ele.code;
                    }
                }
                for (let ele of this.goodstates) {
                    if (ele.name === this.proState) goodstate = ele.id;
                }
                for (let ele of this.brands) {
                    if (ele.name === this.bd) brand = ele.id;
                }
                goodstate = this.proState === "" ? "" : goodstate;
                brand = this.bd === "" || brand === "" ? 0 : brand;
                category = this.category === "" || category === "" ? 0 : this.category;
                let formData = {
                    supcode: spu, //供应商
                    supname: _this.proSupplier, //供应商名称
                    goodstate: goodstate, //状态
                    brand: brand, //商品品牌
                    category: category, //商品分类
                    skuname:this.formGoods.name,
                    pageNum: this.selectedPage, //当前页码
                };
                await fetch(global.listUrl, {
                    method: "POST", 
                    body:JSON.stringify(formData)  
                })
                    .then(res => res.json())
                    .then(res => {
                    if (res.isSuccess === 1) {
                        _this.total = res.count;
                        _this.selectTableData = res.result;
                        this.loadingAdd = false;
                        this.selectedTotal = res.count;
                        _this.selectTableData.forEach(element => {
                            element.status = this.statusShow[element.status];
                        });
                        
                    } else {
                        _this.$message({
                        message: res.errorMsg,
                        type: "error"
                        });
                    }
                    })
                },
            /* 被选择商品分类 */
            selectedHandleCurrentChange(val){
                console.log(val);
                this.selectedPage = val;
                this.search();
            },
            /* 获取砍价列表分页 */
            handleCurrentChange(val){
                this.bargainPage = val-1;
                this.getBargainList();
            },
            /* 获取砍价列表 */
            getBargainList() {
                let id = this.formInline.id === undefined ? '' : this.formInline.id;
                let productName = this.formInline.productName === undefined ? '' :this.formInline.productName;
                let state = this.formInline.state === undefined ? '' : this.formInline.state;
                fetch(global.getBargainsList +"?pageNum=" + this.bargainPage +"&pageSize=" + this.size
                + '&bargainId=' + id + '&productName=' + productName +'&stage=' +state
                ,{
                        method: "GET"
                    }
                ).then(res => res.json())
                .then(res => {
                    this.loading = false;
                    this.tableData = res.data.list;
                    console.log(res.data.count)
                    this.bargainTotal  = res.data.count;
                    res.data.list.forEach(element => {
                        element.startTimes = this.changeTime(element.startTime);
                        element.endTimes = this.changeTime(element.endTime);
                        if(element.state === "0"){
                            element.states = '未开始'
                        }else if(element.state === "1"){
                            element.states = '进行中'
                        }else if(element.state === "2"){
                            element.states = '已过期'
                        }else{
                            element.states = "人工下线"
                        }
                    });
                    
                    });
            },
            /* 失效 */
            lapseBargain(row) {
                fetch(global.bargainChangeState+'?id='+row.bargainId,{
                    method:"POST",
                    headers: {"Content-Type": "application/json;charset=UTF-8"}
                }).then(res=>res.json())
                .then(res=>{
                    if(res.errorCode === 200){
                        this.getBargainList();
                        this.$message.success(res.data);
                    }
                })
            },
            /* 统计 */
            statisticsBargain(row){},
            /* 砍价额度通用规则配置 */
            addBargainRule() {
                this.showFirst = false;
                this.showCreate = false;
                this.showEdit = true;
                //查询规则
                fetch(global.bargainRule,{
                    method:"GET",
                }).then(res=>res.json())
                .then(res=>{
                    this.ruleSettedForm = res.data;
                })
            },
            submitForm(type,form) {
                console.log(type,form);
                let errorMsg = '';
                if(form.name === '' || form.name == undefined){
                    errorMsg = "活动名称不能为空"
                }else if(form.activeRange === undefined || form.activeRange[0] === null){
                    errorMsg = "请选择拼团活动时间"
                }else if(form.resource === ''){
                    errorMsg = '请选择助力规则'
                }else if (this.selectSpec.length === 0){
                    errorMsg = "请添加活动商品"
                }
                let startTime,endTime,arr;
                if(type === 'edit'){
                    startTime = form.activeRange[0];
                    endTime = form.activeRange[1];
                    console.log(this.activeId,'----------')
                    arr = this.selectSpec.map(ele=>{
                        return { 
                            skuId:ele.skuId,
                            priceEnd:ele.conversonPrice,
                            stock:ele.stock,   
                            priceStart:ele.price
                        }
                    })
                }else{
                    startTime = form.activeRange[0].getTime();
                    endTime = form.activeRange[1].getTime();
                    arr = this.selectSpec.map(ele=>{
                        return { 
                            skuId:ele.skuId,
                            priceEnd:ele.conversionPrice,
                            stock:ele.skuAmountSetted,   
                            priceStart:ele.skuPrice
                        }
                    })
                }
                if(errorMsg !== ''){
                    return this.$message.error(errorMsg);
                } 
                let obj = {
                    bargainId:this.activeId,
                    promotionName:form.name,
                    startTime,
                    endTime,
                    supportLimit:form.resource,
                    productId:this.productId,
                    skus:arr
                };
                fetch(type === 'add'? global.addBargain : global.updateBargain,{
                    method:"POST",
                    body:JSON.stringify(obj),
                    headers: {"Content-Type": "application/json;charset=UTF-8"}
                }).then(res=>res.json())
                .then(res=>{
                    if(res.errorCode === 200){
                        this.$message.success(res.data);
                        this.clear();
                        this.showCreate = false;
                        this.showFirst = true;
                        this.getBargainList();
                    }else{
                        this.$message.error(res.message);
                    }
                })
            },
            /* 清空添加表单数据 */
            clear(){
                this.ruleForm = {}; /* 清空表单数据 */
                this.selectSpec = []; /* 清空选中商品信息 */
                this.hadSelected = []; /* 清空选中商品 */
                this.activeIndex = '';/* 清空选中状态 */
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            selectCatedory() {
            },
            changeTime: function (val) {
                let time = new Date(val);
                let yy = time.getFullYear();
                let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
                let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
                let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours();
                let min = time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes();
                let ss = time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds();
                return yy.toString() + '-' + mm.toString() + '-' + dd.toString() + ' ' + hh.toString() + ':' + min.toString() + ':' + ss.toString()
            },
            //获得商品供应商
            getSup(){
                fetch(global.supplierUrl,{
                    method:'get',
                }).then(res=>res.json())
                .then(res=>{
                    if(res.isSuccess===1){
                        this.proSup=this.proSup.concat(res.result);
                    }else{
                        this.$message({
                            message:'查询不到数据，请稍候重试',
                            type:'error'
                        })
                    }
                })
            },
            //获得所有商品品牌
            getBrand(){
                fetch(global.brandUrl,{
                    method:'get',
                }).then(res=>res.json())
                .then(res=>{
                    if(res.isSuccess===1){
                        this.brands=this.brands.concat(res.result);
                    }else{
                        this.$message({
                            message:'查询不到数据，请稍候重试',
                            type:'error'
                        })
                    }
                })
            },
            //获得商品分类
            getAllClass() {
                fetch(global.categoryUrl, {
                    method: "get"
                })
                .then(res => res.json())
                .then(res => {
                if (res.isSuccess === 1) {
                    this.allclass = this.allclass.concat(res.result);
                } else {
                    this.$message({
                    message: "查询不到数据，请稍候重试",
                    type: "error"
                    });
                }
                })
                .catch(e => {
                this.$message({
                    message: "网络数据有误，请重新刷新",
                    type: "error"
                });
                });
            },
            /* 获取二级分类 */
            selectCatedory(val) {
                let o = this.allclass.filter(v => v.id == val);
                let catedoryList = o[0].categories;
                let arr = [];
                console.log(val, o[0].categories);
                catedoryList.forEach(element => {
                    let obj = {
                    id: element.id,
                    name: element.name
                    };
                    arr.push(obj);
                });
                this.category = "";
                this.categorylist = arr;
            },
        },
        created() {
            this.getBargainList();
            this.getSup();
            this.getBrand();
            this.getAllClass();
        }
    };

</script>

<style>
    section {
        width: 100%;
        position: relative;
    }
    .btnBox{
        margin: 0  0 30px;
    }
    .el-pagination{
        padding:  5px 0;
    }
    .searchSpan{
       color: rgb(72, 87, 106);
    }
    .el-table .cell img{
        margin-top: 6px;
    }
    .specBox{
        margin-top: -1px;
    }
    .specBox  .cell{
        display: flex;
    }
    .specBox .cell span{
        line-height: 29px;
    }
    .specBox .cell .el-input{
        margin-top: 0px;
    }
    .demo-form-inline{
        margin-top:25px;
    }
    .ruleSetted{
        box-sizing: border-box;
        padding: 10px 10px;
    }
    .ruleSetted p{
        color: rgb(81, 81, 81);
    }
    .itemBox{
        border: 1px solid rgb(239, 239, 239);
        margin-top: 10px;
        box-sizing: border-box;
        padding: 10px 40px;
        height: 150px;
    }
    .ruleBox{
        border: 1px solid rgb(239, 239, 239);
        box-sizing: border-box;
        padding: 10px 20px;
    }
    .ruleBoxOne{
        border: 1px solid rgb(239, 239, 239);
        margin-top: 10px;
        box-sizing: border-box;
        padding: 0px 20px 20px;
    }
    .ruleBoxtwo{
        border: 1px solid rgb(239, 239, 239);
        margin:20px 0;
        box-sizing: border-box;
        padding: 0px 20px 20px;
    }
    .bottomLine{
        width: 650px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    .tip{
        color: rgb(81, 81, 81);
        margin-left: 50px;
    }
</style>