<template>
    <section style='padding:10px;'>
        <el-row>
            <span style='font-size:18px;'><b>{{obj.pName}}</b></span> 
        </el-row>
        <el-row style='margin-top:8px;'>
            <span>活动时间 : {{obj.effectFrom | transferTi}} ~ {{obj.effectTo | transferTi}}</span>
        </el-row>
        <el-row  style='margin:10px auto;'>
            <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
        </el-row>
        <el-row id='tableList' style='display:flex;flex-direction:row;justify-content:space-between ;text-align:center;flex-wrap:wrap'>
            <el-col :span='11'>
                <div>
                    <div><b>订单状态</b></div>
                    <div style='margin-top:5px;height:202px;'>
                        <el-table style='fontSize:14px;' :data='orderList'>
                            <el-table-column label='状态' prop='status'>
                            </el-table-column>
                            <el-table-column label='订单数量' prop='count'>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
                <div style='margin-top:10px;'>
                        <div><b>库存</b></div>
                        <div style='overflow-y: auto;margin-top:5px;max-height:262px'>
                            <el-table style='fontSize:14px;' :data='obj.stock' >
                                <el-table-column label='商品名称' prop='name'>
                                </el-table-column>
                                <el-table-column label='skuCode' prop='skuCode'>
                                </el-table-column>
                                <el-table-column label='剩余库存' prop='pUsableSkuNum'>
                                </el-table-column>
                                <el-table-column label='活动库存' prop='pSkuNum'>
                                </el-table-column>
                            </el-table>
                        </div>
                </div>
               
            </el-col>
             <el-col :span='11'>
                    <div><b>按小时统计</b></div>
                     <div style='overflow-y: auto;margin-top:5px;max-height:498px'>
                        <el-table style='fontSize:14px;' :data='obj.hourRanks'>
                        <el-table-column label='日期' prop='dateTime' width='auto'>
                            <template slot-scope='scope'>
                                {{scope.row.dateTime | transferD}}
                            </template>
                        </el-table-column>
                        <el-table-column label='整点小时' prop='hourTime' width='auto'>
                        </el-table-column>
                        <el-table-column label='订单数量' prop='orderCount'  width='auto'>
                        </el-table-column>
                        <el-table-column label='订购数量' prop='buyCount' width='auto'>
                        </el-table-column>
                        </el-table>
                    </div>
                
            </el-col>
        </el-row>
        <el-row  style='margin:10px auto;'>
            <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
        </el-row>
        <el-row>
            <el-col :span='24'>
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;'>订单号</span>
                    <el-input style='width:60%' v-model = 'inputVal1'></el-input>
                </el-col>
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;'>CPID</span>
                    <el-input style='width:60%' v-model = 'inputVal2'></el-input>
                </el-col>
                <el-col :span='4'>
                    <el-button @click='handleSearch' type="primary" size='medium'>查询订单</el-button>
                </el-col>
            </el-col>
            <el-col :span='24' style='margin-top:10px;'>
                <el-table :data="data"  border   style="width: 100%;margin-top:10px; font-size:13px;" v-loading="listLoading" v-if='data.length !== 0'>
                    <el-table-column  prop="orderHeadCode"  label="订单号"  width='auto'>
                    </el-table-column>
                    <el-table-column  prop="productName"  label="商品名称" width='auto'>
                    </el-table-column>
                    <el-table-column  prop="skuCode" label="skuCode" width='100'>
                    </el-table-column>
                    <el-table-column  prop="amount" label="商品数量" width="90">
                    </el-table-column>
                     <el-table-column  prop="giftAmount" label="赠品数量" width="90">
                    </el-table-column>
                    <el-table-column  prop="price" label="支付价格" width='100'>
                    </el-table-column>
                   <el-table-column  prop="placeOrderTime" label="下单时间" width='170'>
                        <template slot-scope='scope'>
                            {{scope.row.placeOrderTime | transferTi}}
                        </template>
                    </el-table-column>
                    <el-table-column  prop="paidAt" label="支付时间" width='170'>
                        <template slot-scope='scope'>
                            {{scope.row.paidAt | transferTi}}
                        </template>
                    </el-table-column>
                     <el-table-column  prop="status" label="订单状态" width='120'>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
export default {
    beforeRouteLeave (to, from, next) {
       if(this.$route.query.isTrue){
             clearInterval(webWorkeTimer)
        }
        this.webWorke = null
        next()

    },
    data(){
        return{
            listLoading:false,
            obj:{},
            formVisible:false,
            formData:[],
            webWorke: Function,
            inputVal1:'',//订单号
            inputVal2:'',//CPID
            data:[],
            orderList:[]
        }
    },
    mounted() {
        this.testFn()
        if(this.$route.query.isTrue == true){
            // console.log(this.$route.query.isTrue);
            this.worke()
        } else{
            this.c = null
        }     
    },
    methods:{
        worke(){ // 开始worke进程
           window.that = this
           window.webWorkeTimer = ''
           this.webWorke = this.$worker.run(
               ()=> 999
           )
            .then(res => {
                webWorkeTimer = setInterval(()=> that.testFn(), 5*60*1000)

            })
            .catch(console.error)
        },
        testFn() {
            fetch(global.selectMeetingInfo +`?pCode=${this.$route.query.pCode}`,{
                method:'get'
            }).then(res=>res.json()
            ).then(res=>{
                this.obj = res;
                console.log(res);
                this.orderList = [
                    {status:'待付款',count:res.submit},
                    {status:'已支付',count:res.paid},
                    {status:'已发货',count:res.shipped},
                    {status:'已取消',count:res.cancelled},
                ];
            }).catch(e=>{
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })
        },
        handleSearch(){
            if(this.inputVal1 ==='' && this.inputVal2 ===''){
                 this.$message({
                    message:'请先输入订单号或CPID',
                    type:'error'
                })
                return false
            }else{
               this.listLoading = true;
                let formData = new FormData();
                let cpid,orderNo;
                orderNo = this.inputVal1 === '' ? undefined:this.inputVal1;
                cpid = this.inputVal2 === '' ? undefined:this.inputVal2;
                formData.append("json", JSON.stringify
                    ({
                       pCode:this.$route.query.pCode,
                       cpid: cpid,
                       orderNo:orderNo,
                    })
                )       
                fetch(global.selectMeetingInfoDetail,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    this.listLoading = false;      
                    this.data = res.result;
                }).catch(e=>{
                    this.listLoading = false;
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })   
                })
            }
        },
    },
    filters:{
        transferTi(val){
            return val == null ? null:  dayjs(val).format('YYYY-MM-DD HH:mm:ss')
        },
        transferD(val){
             return val == null ? null:  dayjs(val).format('YYYY-MM-DD')
        }
    }
}
</script>
<style>

.customWidth{
    width:70%;
}
.cusWidth{
    width:70%;
}
</style>

