<template>
    <section style='padding:10px;'>
        <span style='font-weight:bold;padding-left:30px;font-size:18px;'>{{$route.query.title}}</span>
        <el-form ref="obj" v-model="obj" label-width="160px">
            <el-form-item label="活动名称" required>
                <el-input v-model="obj.prmotionName"   size='small' style='width:50%'></el-input>
            </el-form-item> 
                <el-form-item label="选择活动资源位" required>
                <el-radio-group v-model="obj.showType" >
                    <el-radio label="资源位一 > 广告型"></el-radio>
                    <el-radio label="资源位二 > 橱窗型"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="活动图片" required>  
                <template >
                    <div style='display:inline-block;width:110px;'>
                        <img :src="obj.showUrl" style='width:100px;height:100px;' v-if='obj.showUrl'/>
                        <a href="javascript:void(0)" class="up-file">
                            <input type="file" value="" @change="fileImage" data-input = '2' @click='handleClear'/>选择橱窗图片
                        </a>
                    </div>
                    <div style='display:inline-block;width:110px;' v-if="obj.showType === '资源位一 > 广告型'">
                        <img :src="obj.broadUrl" style='width:100px;height:100px;' v-if='obj.broadUrl'/>
                        <a href="javascript:void(0)" class="up-file">
                            <input type="file" value="" @change="fileImage" data-input = '1' @click='handleClear'/>选择广告图片
                        </a>
                    </div>
                </template>
            </el-form-item>  
            <el-form-item label="会议活动时间" required>
                <el-date-picker v-model="obj.effect_from"  size='small' type="datetime" placeholder="开始日期" style="width:30%"  :disabled='disabled' :picker-options="pickerOptions">
                </el-date-picker>
                <span>-</span>
                <el-date-picker v-model="obj.effect_to" :picker-options="pickerOptions1" size='small' type="datetime" placeholder="结束日期" style="width:30%" >
                </el-date-picker>
            </el-form-item>   
            <el-form-item label="启用邀请码" required >
                <el-radio-group v-model="obj.isCode">
                    <el-radio label="启用"></el-radio>
                    <el-radio label="不启用"></el-radio>
                </el-radio-group>
                <div v-if="obj.isCode === '启用'" >
                    <!-- <span>限制邀请码使用次数</span>
                    <el-input type='number' size='small'  style='width:20%' :min='1' v-model='obj.codeNum'></el-input>
                    <span style='font-size:10px;color:red;'>*不填不限制使用次数</span> -->
                    <el-form-item label='App首页活动码提示语' required>
                        <el-input  v-model='obj.codeValidRemind'  style='width:40%' size='small' placeholder="例:请输入活动码进入活动专场"></el-input>
                    </el-form-item>
                    <el-form-item label='App活动码失效提示语' required>
                        <el-input  v-model='obj.codeInvalidRemind'  style='width:40%' size='small' placeholder="例:活动码有误或失效"></el-input>
                    </el-form-item>       
                </div>
            </el-form-item>  
            <el-form-item label='是否推送WMS' required>
                <el-radio-group v-model="obj.isWMS" >
                    <el-radio label="推送"></el-radio>
                    <el-radio label="不推送"></el-radio>
                </el-radio-group>
            </el-form-item>  
            <el-form-item label='限制活动商品购买金额'>
                <el-input  v-model='obj.top_value' :min='1' type='number' style='width:20%' size='small'></el-input>
                <span style='font-size:10px;color:red;'>*为空，则不限额</span>
            </el-form-item>        
        </el-form>
        <el-row style="float:right;margin-bottom:10px;"> 
                <el-button size='small' type="primary" @click='addProduct'>添加商品</el-button>
        </el-row>
        <div v-if='formData.length > 0'>
            <span style='font-size:10px;color:red;'>*商品限购为0,表示不限购;&nbsp;&nbsp;优惠不选择，默认无优惠</span>
            <el-table :data='formData' style='margin-bottom:10px;font-size:12px;'>
                <el-table-column label='橱窗展示' width='90'>
                    <template slot-scope='scope'>
                            <el-checkbox v-model="scope.row.isShow"></el-checkbox>
                    </template>
                </el-table-column>
                <el-table-column label='商品图' prop='img' width='80'>
                    <template slot-scope='scope'>
                        <img :src="scope.row.img" alt="" style='width:40px;height:40px;'>
                    </template>
                </el-table-column>
                <el-table-column label='商品名称' prop='name' width='auto'>
                </el-table-column>
                <el-table-column label='SKU' prop='skuCode' width='90'>
                </el-table-column>
                <el-table-column label='商品库存' prop='amount' width='90'>
                </el-table-column>
                <el-table-column label='活动库存' prop='skuNum' width='140'>
                    <template slot-scope="scope">
                         <span v-if='$route.query.isShow' >
                             <span>{{scope.row.skuNum}}</span>
                             <i  class='el-icon-edit' @click="handleIcon('up',scope.row)" style='margin-left:20px;'></i>
                        </span>
                        <el-input type='number' v-model="scope.row.skuNum" :min="1" :max='scope.row.amount' size='small' style='width: 70%;' @keyup.native="handleChange(scope.row,scope.$index)" v-else></el-input>  
                       
                    </template> 
                </el-table-column>
                <el-table-column label='商品限购' prop='restriction' width='115'>
                        <template slot-scope="scope">
                        <el-input type='number' v-model="scope.row.restriction" :min="0" :max='scope.row.skuNum' size='small' style='width: 100%;' @keyup.native='handleChange(scope.row, scope.$index)'></el-input>  
                    </template> 
                </el-table-column>
                <el-table-column label='优惠' width='134'>
                    <template slot-scope='scope'>
                            <el-select v-model="scope.row.isCheck" placeholder="请选择" style='font-size:12px;' size='small'>
                            <el-option v-for="item in offerList" :key="item.id"  :value='item.value' style='font-size:12px;' >
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="150" v-if="isShow == 1||$route.query.pStatus==3">
                    <template slot-scope='scope'>
                        <el-button type="primary" size='small' v-if="isShow == 1 && scope.row.isDeleted == '0'" @click="handleShelf(scope.row,1)">生效</el-button>
                        <el-button type="primary" size='small' v-if="isShow == 1 && scope.row.isDeleted == '1'" @click="handleShelf(scope.row,0)">失效</el-button>
                        <el-button type="danger" size='small' @click="deleteProduct(scope.$index,formData)" v-if="parseInt($route.query.pStatus) == 3">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-row style='display:flex;margin-top:10px;' v-if="$route.query.title==='编辑'"> 
                <el-button size='small' @click="handleUpdate()"  :loading='submitLoading'>&nbsp;确认&nbsp;</el-button>
                <el-button size='small' @click='handleBack' >&nbsp;取消&nbsp;</el-button>
            </el-row> 
        </div>
        <!-- 点击添加商品 -->
        <el-dialog title="会议专享促销活动 > 增加加商品" :visible.sync="formVisible" :close-on-click-modal="true" style='font-size:12px;' customClass="autoWidth" >
            <el-row>
                <el-col :span='5' style='margin: auto 5px;'>
                    <template>
                        <el-select v-model="opt" placeholder="请选择" size='small'> 
                            <el-option v-for="item in options" :key="item.value" :label="item.label"  :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-col>
                <el-col :span='5' style='margin: auto 5px;'>
                    <el-input v-model='name' placeholder="请输入商品名称" size='small'></el-input>
                </el-col>
                <el-col :span='5' style='margin: auto 5px;'>
                    <el-input v-model='code' placeholder="请输入商品编码" size='small'></el-input>
                </el-col>
                <el-col :span='5' style='margin: auto 5px;'>
                    <template>
                        <el-select v-model="pStatus" placeholder="请选择" size='small'>
                            <el-option v-for="item in psList" :key="item.value" :label="item.label"  :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span='6' style='margin-top:10px;'>
                    <el-button size='small' type='primary' @click='getProduct'>搜索</el-button>
                </el-col>
            </el-row>
            <el-table :data='productData'  style='margin-bottom:10px;font-size:12px;margin-top:5px;' @selection-change="handleSelectionChange" v-loading="productLoading">
                <el-table-column type="selection"  width="55" label='选择'>
                </el-table-column>
                <el-table-column prop="img" label="商品图" width="80">
                    <template slot-scope='scope'>
                        <img :src="scope.row.img" alt="" style='width:40px;height:40px;'>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="商品名称" width="auto">
                </el-table-column>
                <el-table-column prop="skuCode" label="SKU" width="100">
                </el-table-column>
                <el-table-column prop="price" label="价格" width="60">
                </el-table-column>
                <el-table-column prop="amount" label="库存" width="80">
                </el-table-column>
                <el-table-column prop="status" label="状态" width="100">
                    <template slot-scope='scope'>
                        <span>{{scope.row.status  | transfer}}</span>
                    </template>
                </el-table-column>
            </el-table>
            <div style='display:flex;justify-content:space-between'>
                <el-pagination  layout="prev, pager, next"  :total="pTotal" small :pageSize='pSize'  @current-change="handleCurrent"></el-pagination>
                <div>
                    <el-button size='small' type='primary' @click='handleConfirm'>确认</el-button>
                    <el-button size='small' type='primary' @click.native=' formVisible = false '>取消</el-button>
                </div>
            </div> 
        </el-dialog>
        <!-- 追加或删除活动库存 -->
        <el-dialog title='追加活动库存' :visible.sync='reserveVisible' :close-on-click-modal="true" custom-class="reserveWidth">
             <span style='fontSize:12px;margin-left:30px'><b>提示:在当前活动库存基础上增减</b></span>
            <el-form :model='reserveForm' :rules='rules' ref='reserveForm' label-width="100px">
                <el-form-item>
                   
                </el-form-item>
                <el-form-item label='活动库存' prop='reserve'>
                    <el-input v-model='reserveForm.reserve' style='width:60%' type='number'></el-input>
                </el-form-item>
                
                <el-form-item>
                    <el-button type="primary" size='small' @click="handleSubmit('reserveForm')">确认</el-button>
                    <el-button type="primary" size='small' @click.native='reserveVisible = false'>取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
import b64toBlob from 'b64-to-blob'
import * as qiniu from 'qiniu-js'
export default {
    data(){
        return {
            obj:{
                prmotionName:'',
                effect_from : '',
                effect_to:'',
                showType :'',
                isCode : '',
                codeNum : '',  
                broadUrl:'',
                showUrl:'',
                isWMS:''
            }, 
             options:[
                {id:'',value:'所有分类'},
                {id:'NORMAL',value:'普通'},
                {id:'COMBINE',value:'组合'}
            ],
            offerList:[
                {id:'0',value:'无优惠'},
                {id:'1',value:'买一赠一'},
                {id:'2',value:'买二赠一'},
                {id:'3',value:'买三赠一'},
            ],
            pStatus : '',                             //商品状态
            psList : [                                //商品状态列表
                {id:'',value:'全部'},
                {id:'DRAFT',value:'草稿'},
                {id:'FORSALE',value:'预售'},
                {id:'INSTOCK',value:'下架'},
                {id:'ONSALE',value:'上架'}
            ],
            disabled:  false ,
            pickerOptions:{
                disabledDate: (time) => {
                    return time.getTime() < Date.now() - 8.64e7;
                }
            },
            pickerOptions1:{
                disabledDate: (time) => {
                    return time.getTime() < new Date(this.obj.effect_from) - 8.64e7;
                }
            }, 
            formVisible:false,                       //会议专享促销活动 > 增加加商品弹出框  
            formData:[],                             //编辑页面的参与活动的商品列表
            productData:[],                          //商品列表
            productLoading : false,
            pTotal:3,                                //商品页面的分页
            pCurrent:1,
            pSize:10,
            name:'',                                 //商品名称
            code:'',                                 //商品编码
            opt : '',
            submitLoading:false,
            title:'',
            reserveVisible:false,
            reserveForm:{},
            rules:{
               reserve:[
                   { required: true, message: '请输入增加或减少的活动库存数', trigger: 'blur' },
               ] 
            },
            type:'',
            isShow:true,
        }
    },
    mounted(){
        this.getData();
        this.getQiniuToken();
        this.isShow = this.$route.query.isShow;
    },
    methods:{
        handleClear(ev){
            ev.target.value='';
        },
        fileImage(ev) { 
            let file, imgSize, reader
            file = ev.target.files[0];
            imgSize=file.size/1024;
            if(imgSize>3072){
                console.log('请上传大小不要超过400KB的图片')
            }else{
                let splitTemp;
                reader = new FileReader();
                reader.readAsDataURL(file); // 读出 base64
                reader.onloadend = ()=> {
                    if(ev.target.getAttribute('data-input') === '1'){
                        this.dataURL1 = reader.result;  // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                        splitTemp = this.dataURL1.split(';base64,')
                        let contentType = splitTemp[0].replace('data:', '')
                        let b64Data = splitTemp[1]
                        let blob = b64toBlob(b64Data, contentType)
                        this.uploadPhoto(blob,'1')
                    }else{
                        this.dataURL2 = reader.result;  // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                        splitTemp = this.dataURL2.split(';base64,')
                        let contentType = splitTemp[0].replace('data:', '')
                        let b64Data = splitTemp[1]
                        let blob = b64toBlob(b64Data, contentType)
                        this.uploadPhoto(blob,'2')
                    }
                }
            }
        },
        //获取token
        getQiniuToken: function() {
            const _this = this;
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({})
            )
            fetch( global.queryUpToken,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if (res.isSuccess === 1) {
                    _this.uploadImgToken = res.result.key;
                    _this.url = res.result.bucketHostName;
                }
            })
        },
        // 上传图片到七牛云
        uploadPhoto(file,val) {
            const IMG_HOST = this.url;
            let img = new Image()
            img.src = URL.createObjectURL(file)
            let vm = this
            let fileName = Date.now() + Math.random().toString().slice(-5)
            let putExtra = {
                mimeType: ['image/png', 'image/jpeg', 'image/gif']
            }
            let config = {
                useCdnDomain: true
            }
            return new Promise((resolve, reject) => {
                let observable = qiniu.upload(file, fileName, this.uploadImgToken, putExtra, config)
                let observer = {
                    next(res) {
                        console.log('observer next res')
                        console.log(res)
                    },
                    error(err) {
                        console.log('observer error err')
                        console.log(err)
                    },
                    complete(res) {
                        console.log('observer complete')
                        console.log(res)
                        if(val == '1'){
                            vm.obj.broadUrl = IMG_HOST + res.key;
                        }else{
                            vm.obj.showUrl = IMG_HOST + res.key;;
                        }
                    }
                    
                }
                let subscription = observable.subscribe(observer) // 上传开始
                // subscription.unsubscribe() // 上传取消
            })
        },
        getData(){
            let _this = this;
             fetch(global.promotionUrl+'?pCode='+this.$route.query.pCode+'&pageNum=0&pageSize=10',{
                    method:'GET'
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        let result = res.result;
                        _this.type=res.result.p_type;
                        _this.obj.prmotionName = res.result.p_name;
                        _this.obj.effect_from=dayjs(res.result.effect_from).format('YYYY-MM-DD HH:mm:ss');
                        _this.obj.effect_to = dayjs(res.result.effect_to).format('YYYY-MM-DD HH:mm:ss');
                        for(let ele of result.configs){
                            switch(ele.config_name){
                                case 'isCode'    :  _this.obj.isCode = ele.config_value === 'on' ? '启用' : '不启用';break;
                                case 'codeNum'   :  _this.obj.codeNum = ele.config_value;break;
                                case 'showType'  :  _this.obj.showType = ele.config_value === '1' ? '资源位一 > 广告型' : '资源位二 > 橱窗型';;break;
                                case 'top_value' :  _this.obj.top_value = ele.config_value;break;
                                case 'broadUrl'  :  _this.obj.broadUrl = ele.config_value;break;
                                case 'showUrl'   :  _this.obj.showUrl = ele.config_value;break;
                                case 'isWMS'     :  _this.obj.isWMS = ele.config_value === 'on' ? '推送' : '不推送';break;
                                case 'codeValidRemind'  :  _this.obj.codeValidRemind = ele.config_value;break;
                                case 'codeInvalidRemind':  _this.obj.codeInvalidRemind = ele.config_value;break;
                            }
                        }
                        // let now = new Date();
                        // if(new Date( this.obj.effect_from.replace(/-/,"/")).getTime() < now.getTime()  &&  res.result.p_status > 3){
                        //     this.disabled = true;
                        // }    
                        for(let ele of res.result.products){
                            switch(ele.gift){
                                case 0 : ele.isCheck='无优惠';break;
                                case 1 : ele.isCheck='买一赠一';break;
                                case 2 : ele.isCheck='买二赠一';break;
                                case 3 : ele.isCheck='买三赠一';break;
                            }
                            ele.isShow = ele.isShow === 1 ? true : false;
                            ele.skuNum = ele.skuNum;
                        }   
                        
                        this.formData = res.result.products;
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
        },
        // 添加商品
        addProduct:function(){
            this.formVisible = true;
            this.getProduct();
        },
        //新增商品查询接口
        getProduct:function(){
            this.productLoading = true;
            let formData = new FormData();
            let status='',type='',skuCodes=[];
            for(let ele of this.options){
                if(ele.value === this.opt) type = ele.id ;
            }
            for(let ele of this.psList) {
                if(ele.value === this.pStatus) status = ele.id ;
            }
            for(let ele of this.formData){
                skuCodes.push(ele.skuCode);
            }
            skuCodes = skuCodes.length === 0 ? null : skuCodes;
            formData = JSON.stringify
                ({
                    skuCodes : skuCodes,
                    status : status,                     //商品状态DRAFT=草稿,FORSALE=预售,INSTOCK=下架,ONSALE=上架
                    type : type,                         //商品分类NORMAL-普通  COMBINE-组合
                    name : this.name,
                    code : this.code,
                    pageNum : this.pCurrent,
                    pageSize : this.pSize	
                })
            fetch(global.promotionProductUrl,{
                method:'POST',
                body:formData,
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(res=>res.json()
            ).then(res=>{
                this.productLoading = false;
                if(res.isSuccess === 1){
                    for(let ele of res.result.list){
                        ele = Object.assign(ele,{gift:false,skuNum:'',restriction:'',isShow:false});
                    }
                    this.productData = res.result.list;
                    this.pTotal = res.result.total;
                }else{
                    this.$message({
                        message:'获取商品信息失败！',
                        type:'error'
                    })
                }
            }).catch(e=>{
                this.productLoading = false;
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })

        },
        //实时获取被选中的商品
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        handleCurrent:function(val){
            this.pCurrent = val;
            if(this.multipleSelection){
                 for(let ele of this.multipleSelection){
                    ele.skuNum = ele.amount;
                    ele.restriction = 0;
                }
                this.formData=this.formData.concat(this.multipleSelection);
            }
           
            this.getProduct();
        },
        //添加商品页面
        handleConfirm:function(){
            this.formVisible = false;
            for(let ele of this.multipleSelection){
                ele.skuNum = ele.amount;
                ele.restriction = 0;
            }
            this.formData=this.formData.concat(this.multipleSelection);
        },
        deleteProduct(index,rows){
           this.$confirm('确认删除该商品?', '提示', {}).then(()=>{
               rows.splice(index, 1)
           }).catch(()=>{})          
        },
        handleIcon(val,rows){
           this.reserveForm = Object.assign({},{
               reserve:'',
               skuCode : '',
               pCode : '',
               status : ''
           })
           this.reserveVisible = true;
           this.reserveForm = Object.assign({},{
               reserve:'',
               skuCode : rows.skuCode,
               pCode : this.$route.query.pCode,
               status : val
           })
        },
        handleSubmit(reserveForm){
            this.$refs[reserveForm].validate((valid) => {
                if(valid){
                    let addStock =this.reserveForm.reserve;
                    let data = JSON.stringify({
                        pCode : this.reserveForm.pCode,
                        skuCode : this.reserveForm.skuCode,
                        addStock : parseInt(addStock)
                    })
                     this.reserveVisible = false;
                    fetch(global.addMeetingStock,{
                        method:'POST',
                        body:data,
                        headers: {'Content-Type': 'application/json;charset=UTF-8'}
                    }).then(res=>res.json()
                    ).then(res=>{
                        if(res.isSuccess===1){
                            this.$message({
                                message:res.result,
                                type:'info'
                            })
                            this.getData();
                        }else{
                            this.$message({
                                message:'修改库存失败',
                                type:'info'
                            })
                        }
                    }).catch(e=>{
                        this.$message({
                            message:'修改库存失败',
                            type:'error'
                        })
                    })
                }
            })
        },
        //修改活动
        handleUpdate:function(val,val1){
            if(this.obj.prmotionName === ''){
                this.$message({
                    message:'活动名称不能为空!',
                    type:'error'
                })
                return false
            }else if(this.obj.effect_to === '' && this.obj.effect_from ==='' ){
                this.$message({
                    message:'会议活动时间不能为空!',
                    type:'error'
                })
                return false
            }else if(this.obj.showType === ''){
                this.$message({
                    message:'请选择活动资源位!',
                    type:'error'
                })
                return false
            }else if(this.obj.showUrl === ''){
                this.$message({
                    message:'请选择需要上传的图片!',
                    type:'error'
                })
                return false
            }else if(this.obj.showType === '资源位一 > 广告型' && this.obj.broadUrl === ''){
                 this.$message({
                    message:'请选择需要上传的图片!',
                    type:'error'
                })
                return false
            }else if(this.obj.isCode === ''){
                this.$message({
                    message:'请选择是否启用邀请码!',
                    type:'error'
                })
                return false
            }else if(this.obj.isCode === '启用' && this.obj.codeValidRemind === ''){
                this.$message({
                    message:'请输入App首页活动码提示语!',
                    type:'error'
                })
                return false
            }else if(this.obj.isCode === '启用' && this.obj.codeInvalidRemind === ''){
                 this.$message({
                    message:'请输入App活动码失效提示语!',
                    type:'error'
                })
                return false
            }else if(this.obj.isWMS === ''){
                this.$message({
                    message:'请选择是否推送WMS!',
                    type:'error'
                })
                return false
            }else{
                this.submitLoading = true;
                let showType = this.obj.showType === '资源位一 > 广告型' ? 1 : 2;
                let isWMS = this.obj.isWMS === '推送' ? 'on':'off';
                let products = [];
                for(let ele of this.formData){
                   let el = Object.assign({},{productId:'',skuCode:'',skuNum:'',restriction:'',gift:'',isShow:'',isDeleted:0});
                   el.productId = ele.productId;
                   el.skuCode = ele.skuCode;
                   el.skuNum = ele.skuNum;
                   el.restriction = ele.restriction;      
                   el.isDeleted = ele.isDeleted;                              
                   switch(ele.isCheck){
                       case '无优惠'   : el.gift = 0 ;break;
                       case '买一赠一' : el.gift = 1 ;break;
                       case '买二赠一' : el.gift = 2 ;break;
                       case '买三赠一' : el.gift = 3 ;break;
                       default: el.gift = 0 ;break;
                   }                                                                    //1(选择买一送一)/0(都不选择)/2(买二赠一)/3(买三赠一)
                   el.isShow = ele.isShow ===true ? 1 : 2;                              //1(显示)/2(不显示)
                   products.push(el);
                }
                let isCode = this.obj.isCode === '启用' ? 'on' : 'off';
                let formData = JSON.stringify({
                    projectCode : this.$route.query.pCode,
                    prmotionName : this.obj.prmotionName,
                    beginDate : dayjs(this.obj.effect_from).format('YYYY-MM-DD HH:mm:ss'),
                    endDate : dayjs(this.obj.effect_to).format('YYYY-MM-DD HH:mm:ss'),
                    type : this.type,
                    status : this.$route.query.pStatus,
                    configs : [
                        {configName:"isCode",configValue:isCode},                                                 //是否启用邀请码on/off(on开启邀请码/off取消邀请码)
                        {configName:"code",configValue:""},                                                       //邀请码
                        {configName:"codeNum",configValue:this.obj.codeNum},                                       //限制邀请码使用次数
                        {configName:"top_value",configValue:this.obj.top_value},                             // 限制购买金额
                        {configName:"showType",configValue:showType},                                              //1/2（1 广告型/2 橱窗型）
                        {configName:"isWMS",configValue:isWMS},
                        {configName:"broadUrl",configValue:this.obj.broadUrl},
                        {configName:"showUrl",configValue:this.obj.showUrl},
                        {configName:"codeValidRemind",configValue:this.obj.codeValidRemind} ,
                        {configName:"codeInvalidRemind",configValue:this.obj.codeInvalidRemind}  
                         
                    ],
                    products : products,
                   
                });
                
                fetch(global.promotionEditUrl,{
                    method:'POST',
                    body:formData,
                    headers: {
                        'Content-Type': 'application/json',
                     },
                }).then(res=>res.json()
                ).then(res=>{
                    this.submitLoading = false;
                    this.addFormVisible = false;
                    if(res.isSuccess === 1){
                        this.$message({
                            message:res.result,
                            type:'info'
                        })
                         this.$router.push({
                            path: '/meeting',
                         })
                    }else{
                        this.$message({
                            message:'修改活动失败！',
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.submitLoading = false;
                    this.addFormVisible = false;
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }
        },
        handleBack(){
            this.$router.push({ path: '/meeting' })
        },
        //单品上下架的接口
        handleShelf(rows,state){
            let title = state == 1 ?'生效':'失效';
            let formData = JSON.stringify({
                pCode:this.$route.query.pCode,
                skuCode:rows.skuCode,
                groundType:state
            })
            this.$confirm('确认'+title+'该商品?', '提示', {}).then(()=>{
              fetch(global.meetingProductGrounding,{
                  method:'post',
                  body:formData,
                  headers: {'Content-Type': 'application/json;charset=UTF-8'}
              }).then(res=>res.json()
              ).then(res=>{
                  if(res.isSuccess===1){
                      this.$message({
                          message:res.result,
                          type:'info'
                      })
                      this.getData();
                  }else{
                      this.$message({
                          message:res.result,
                          type:'error'
                      })
                  }
              }).catch(e=>{
                console.log(e);
             }) 
           }).catch(()=>{})
        }
    },
    filters:{
          transfer:function(val){
            let value = val;
            switch(value){
                case 'DRAFT' : return '草稿';break;
                case 'FORSALE' : return '预售';break;
                case 'INSTOCK' : return '下架';break;
                case 'ONSALE' : return '上架';break;
            }   
        },
    }
}
</script>
<style>
 .up-file {
     /* padding: 4px 10px; */
     text-decoration:none;
     height: 25px;
     width: 100px;
     text-align: center;
     line-height: 25px;
     position: relative;
     cursor: pointer;
     background: #44bbff;
     color: #FFFFFF;
     border: 1px solid #ddd;
     border-radius: 4px;
     overflow: hidden;
     display: inline-block;
     *display: inline;
    *zoom: 1;
}
 .up-file input {
     position: absolute;
     font-size: 100px;
    right: 0;
     top: 0;
     opacity: 0;
     filter: alpha(opacity=0);
    cursor: pointer;
 }
 .reserveWidth{
     width:30%
 }
</style>

