<template>
    <section style="padding:10px;">
        <el-row>
            <span style="font-size:18px;color:#deddcc">拼团基本信息</span>
        </el-row>
        <el-form ref="obj" v-model="obj" label-width="180px">
            <el-form-item label="活动名称" required>
                <el-input v-model="obj.pName" size="small" style="width:50%"></el-input>
            </el-form-item>
            <el-form-item label="拼团活动时间" required>
                <el-date-picker
                    v-model="obj.pGTime"
                    size="small"
                    type="datetimerange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    style="width:60%"
                ></el-date-picker>
            </el-form-item>
            <el-form-item label="成团有效时间" required>
                <el-input-number
                    v-model="obj.pEffectTime"
                    controls-position="right"
                    :min="0"
                    type="number"
                    size="small"
                ></el-input-number>&nbsp;小时
            </el-form-item>
            <el-form-item label="组团资格" required>
                <el-checkbox-group v-model="obj.orgGroupQua">
                    <el-checkbox label="纯白人"></el-checkbox>
                    <el-checkbox label="白人"></el-checkbox>
                    <el-checkbox label="VIP|SR"></el-checkbox>
                    <el-checkbox label="SO|店主"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="参团资格" required>
                <el-checkbox-group v-model="obj.joinGroupQua">
                    <el-checkbox label="纯白人"></el-checkbox>
                    <el-checkbox label="白人"></el-checkbox>
                    <el-checkbox label="VIP|SR"></el-checkbox>
                    <el-checkbox label="SO|店主"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="是否包邮" required>
                <el-radio-group v-model="obj.isDeliveryReduction">
                    <el-radio label="不包邮"></el-radio>
                    <el-radio label="包邮(运费为0)"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="每次限购(拼主,参团人)" required>
                <el-input-number
                    v-model="obj.skuLimit"
                    controls-position="right"
                    :min="1"
                    size="small"
                ></el-input-number>
                <span>&nbsp;件</span>
            </el-form-item>
            <el-form-item label="每人限购(参团人)" required>
                <el-input-number
                    v-model="obj.buyLimit"
                    controls-position="right"
                    :min="1"
                    size="small"
                ></el-input-number>
                <span>件</span>
            </el-form-item>
            <el-form-item label="成团后允许插队拼团时间" required>
                <el-input
                    v-model="obj.jumpQueueTime"
                    controls-position="right"
                    :min="1"
                    style="width:10.3%"
                    size="small"
                ></el-input>
                <span>小时</span>
            </el-form-item>
        </el-form>
        <el-row>
            <span style="font-size:18px;color:#999999;line-height:56px;">活动商品</span>
        </el-row>
        <!-- 参加的活动的商品列表 -->
        <el-table :data="addarr" style="width: 100%;">
            <el-table-column prop="img" label="图片" width="100">
                <template slot-scope="scope">
                    <img :src="scope.row.img" min-width="50" height="50">
                </template>
            </el-table-column>
            <el-table-column prop="productId" label="商品ID" width="100"></el-table-column>
            <el-table-column prop="skuId" label="SKU ID" width="100"></el-table-column>
            <el-table-column prop="name" label="商品名称" width="120"></el-table-column>
            <el-table-column prop="category" label="商品类别" width="150"></el-table-column>
            <el-table-column prop="brand" label="商品品牌" width="100"></el-table-column>
            <el-table-column prop="supplier" label="供应商" width="100"></el-table-column>
            <el-table-column prop="spec" label="规格" width="150"></el-table-column>
            <el-table-column prop="skuPrice" label="售价" width="auto"></el-table-column>
            <el-table-column prop="conversionPrice" label="兑换价" width="auto"></el-table-column>
            <el-table-column prop="dpoint" label="德分" width="auto"></el-table-column>
            <el-table-column prop="reduction" label="立减" width="auto"></el-table-column>
            <el-table-column prop="net_worth" label="净值" width="auto"></el-table-column>
            <el-table-column prop="promo_amt" label="推广费" width="auto"></el-table-column>
            <el-table-column prop="server_amt" label="服务费" width="auto"></el-table-column>
            <el-table-column prop="skuAmount" label="库存" width="auto"></el-table-column>
            <el-table-column label="活动库存" width="150">
                <template slot-scope="scope">
                    <el-input-number
                        v-model="scope.row.pSkuNum"
                        controls-position="right"
                        :min="0"
                        :max="scope.row.skuAmount"
                        size="small"
                        style="width: 100%;"
                    ></el-input-number>
                </template>
            </el-table-column>
        </el-table>
        <el-row style="margin-top:5px;">
            <el-col :span="12" v-if="isShow == true">
                <el-pagination
                    background=""
                    layout="prev, pager, next"
                    :total="total"
                    :page-size="pageSize"
                    @current-change="handleCurrentChange"
                ></el-pagination>
            </el-col>
        </el-row>
        <div class="setUpPageDiv">
            <div class="setUpPage" v-for="(item,index) in formArray" :key="index">
                <!-- 设置成团人数 -->
                <el-form
                    ref="form"
                    :model="formArray[index]"
                    label-width="130px"
                    :label-position="'right'"
                    :rules="rules"
                >
                    <div class="settedNumber">
                        <el-checkbox  v-model="formArray[index].checked">成团人数 ：</el-checkbox>
                        <el-input-number
                            size="small"
                            v-model="formArray[index].pieceGroupNum"
                            :disabled="!formArray[index].checked"
                        ></el-input-number>人
                    </div>
                    <div class="settedPrice">
                        <el-form-item label="拼团价 ：" prop="promotionPrice">
                            <el-input
                                v-model="formArray[index].promotionPrice"
                                style="width: 30%;"
                                size="small"
                                :disabled="!formArray[index].checked"
                            ></el-input>元 可用
                            <el-input
                                v-model="formArray[index].point"
                                style="width: 30%;"
                                size="small"
                                :disabled="!formArray[index].checked"
                            ></el-input>德分
                        </el-form-item>
                        <el-form-item label="立减 ：">
                            <el-input
                                v-model="formArray[index].reduction"
                                style="width: 30%;"
                                size="small"
                                placeholder="请输入立减"
                                :disabled="!formArray[index].checked"
                            ></el-input>立减
                        </el-form-item>
                        <el-form-item label="净值 ：">
                            <el-input
                                v-model="formArray[index].netWorth"
                                style="width: 30%;"
                                size="small"
                                placeholder="请输入净值"
                                :disabled="!formArray[index].checked"
                            ></el-input>净值
                        </el-form-item>
                        <el-form-item label="推广费 ：">
                            <el-input
                                v-model="formArray[index].promoAmt"
                                style="width: 40%;"
                                size="small"
                                placeholder="请输入推广费"
                                :disabled="!formArray[index].checked"
                            ></el-input>推广费
                        </el-form-item>
                        <el-form-item label="服务费 ：">
                            <el-input
                                v-model="formArray[index].serverAmt"
                                style="width: 40%;"
                                size="small"
                                placeholder="请输入服务费"
                                :disabled="!formArray[index].checked"
                            ></el-input>服务费
                        </el-form-item>
                        <el-form-item label="拼主价/次数 ：">
                            <el-radio-group
                                v-model="formArray[index].unifiedSetup"
                                :disabled="!formArray[index].checked"
                                :change="emptyInfo(formArray[index])"
                            >
                                <el-radio label="0" >不设置</el-radio>
                                <el-radio label="1">统一设置</el-radio>
                                <el-radio label="2">分别设置</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="" v-if="formArray[index].unifiedSetup === '1'">
                            <el-input
                                style="width: 20%;"
                                size="small"
                                v-model="formArray[index].memberPrice"
                                :disabled="!formArray[index].checked"
                            ></el-input>元
                            <el-input
                                style="width: 20%;"
                                size="small"
                                v-model="formArray[index].frequency"
                                :disabled="!formArray[index].checked"
                            ></el-input>次
                        </el-form-item>
                        <div class="flexBox">
                            <div class="flexLeft">
                                <el-form-item
                                    label="纯白人："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].pureMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].pureFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                                <el-form-item
                                    label="VIP/SP："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].vipMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].vipFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                            </div>
                            <div class="flexRight">
                                <el-form-item
                                    label="白人："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].whiteMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].whiteFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                                <el-form-item
                                    label="SO/店主："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].merchantMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].merchantFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                            </div>
                        </div>
                        <el-form-item label="">
                            <el-checkbox-group v-model="formArray[index].newFree">
                                <el-checkbox
                                    label="新人免单"
                                    name="type"
                                    :disabled="!formArray[index].checked"
                                ></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
        </div>
        <!-- 按钮集合 -->
        <div  class="btnGroup">
            <el-button size="small" @click="back" v-if='isShow == true'>上一页</el-button>
            <el-button size="small" type="primary" @click="handleConfirm" v-if='isShow == true'>确认</el-button>
            <el-button size="small" @click="back">取消</el-button>
        </div>
    </section>
</template>
<script>
import global from "../../common/common.vue";
import productList from "./ProductList";

export default {
  computed: {
      str(){
         console.log(obj.orgGroupQua);
         return 1;
      }
  },
  data() {
    return {
      formArray: [],
      rules: {
        promotionPrice: [
          { required: true, message: "请输入拼团价", trigger: "blur" }
        ]
      },
      addarr: [],
      pSkuNum: 0,
      obj: {
        flag:false,/* 验证是否通过 */
        jumpQueueTime: "" /* 允许插队时间 */,
        buyLimit: "",
        isDeliveryReduction: "",
        pName: "", //拼团名称
        pGTime: "", //拼团时间
        pEffectTime: "", //成团时间
        orgGroupQua: [], //成团资格
        joinGroupQua: [], //参团资格
        isWithPoint: "", //是否使用德分
        isAchiev: "", //是否计算业绩
        partSpecs: [], //成团人数
        skuLimit: "" //限购件数
      },
      isChecked: "",
      isChecked1: "",
      isChecked2: "",
      isChecked3: "",
      isChecked4: "",
      isChecked5: "",
      arr: [], //商品列表
      sup: [{ id: "", name: "全部" }], //商品供应商列表
      allclass: [
        //商品分类
        { id: "", name: "全部" }
      ],
      brands: [{ id: "", name: "全部" }], //商品品牌
      goodstates: [
        //商品状态
        { id: "", name: "全部" },
        { id: "ONSALE", name: "已上架" },
        { id: "DRAFT", name: "草稿箱" },
        { id: "FORSALE", name: "已发布" },
        { id: "INSTOCK", name: "已下架" }
      ],

      supplier: "", //商品供应商
      classify: "", //商品分类
      bd: "", //商品品牌
      state: "", //商品状态
      skuname: "", //商品名称
      skucode: "", //商品SKU
      currentPage: 1, //当前页
      pageSize: 6, //页大小
      total: 1, //商品列表总数
      activeIndex: "",
      supplierUrl: global.supplierUrl,
      category: global.categoryUrl,
      brand: global.brandUrl,
      list: global.listUrl,
      create: global.createUrl,
      len: "",
      isShow: true
    };
  },
  components: { productList },
  mounted() {
    this.getDetailMessage();
  },
  methods: {
    getDetailMessage() {
      this.isShow = this.$route.query.isShow;
      fetch(global.getInfo + "?pCode=" + this.$route.query.pCode, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess == 1) {
            this.obj.pName = res.result.pName;
            this.obj.pGTime = res.result.pGTime.split("/");
            this.obj.pEffectTime = res.result.pEffectTime;
            for (let ele of res.result.orgGroupQua.split("|")) {
              if (ele === "SP") ele = "SO|店主";
              else if (ele === "DS") ele = "VIP|SR";
              else if (ele === "RC") ele = "白人";
              else if (ele === "PW") ele = "纯白人";
              this.obj.orgGroupQua.push(ele);
            }
            for (let ele of res.result.joinGroupQua.split("|")) {
              if (ele === "SP") ele = "SO|店主";
              else if (ele === "DS") ele = "VIP|SR";
              else if (ele === "RC") ele = "白人";
              else if (ele === "PW") ele = "纯白人";
              this.obj.joinGroupQua.push(ele);
            }
            this.obj.isDeliveryReduction =
            res.result.isDeliveryReduction === 0 ? "不包邮" : "包邮(运费为0)";
            this.obj.skuLimit = res.result.skuLimit;
            this.obj.buyLimit = res.result.buyLimit;
            this.obj.jumpQueueTime = res.result.jumpQueueTime;
            this.addarr = res.result.pgProduct;
             res.result.partSpecs.forEach(element => {
                element.pieceGroupNum === null ? element.checked =false:element.checked = true;
                let unifiedSetup = element.unifiedSetup;
                /* 显示选单选框选中信息 */
                if(element.unifiedSetup === 0){
                    element.unifiedSetup = "0";
                }else if(element.unifiedSetup === 1){
                    element.unifiedSetup = "1"
                }else if(element.unifiedSetup === 2){
                    element.unifiedSetup = "2"
                }
            });
            this.formArray = res.result.partSpecs;
            console.log('------',res.result.pgProduct[0].pSkuNum);
            this.pSkuNum = res.result.pgProduct[0].pSkuNum;
            this.len = res.result.partSpecs.length;
            if (this.len === 1) {
              this.isChecked = true;
            } else if (this.len === 2) {
              this.isChecked = true;
              this.isChecked1 = true;
            } else if (this.len === 3) {
              this.isChecked = true;
              this.isChecked1 = true;
              this.isChecked2 = true;
            }
          } else {
            this.$message({
              message: res.errorMsg,
              type: "error"
            });
          }
        });
    },
    //分页点击
    handleCurrentChange: function(val) {
      this.currentPage = val;
      this.handleSearch();
    },
    // //添加按钮
    // handleAdd: function(index, item) {
    //   this.activeIndex = index;
    //   this.pSkuNum = 0;
    //   if (this.addarr.length === 1) {
    //     this.addarr = [];
    //     this.addarr.push(item);
    //   } else {
    //     this.addarr.push(item);
    //   }
    // },
    //获得商品供应商
    getSup: function() {
      fetch(this.supplierUrl, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.sup = this.sup.concat(res.result);
          } else {
            this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
        })
        .catch(e => {
          this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
    },
    //获得商品分类
    getAllClass: function() {
      fetch(this.category, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.allclass = this.allclass.concat(res.result);
          } else {
            this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
        })
        .catch(e => {
          this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
    },
    //获得所有商品品牌
    getBrand: function() {
      fetch(this.brand, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          //console.log(res);
          if (res.isSuccess === 1) {
            this.brands = this.brands.concat(res.result);
            //this.bd=res.result[0].name;
          } else {
            this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
        })
        .catch(e => {
          this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
    },
    //搜索
    handleSearch: function() {
      let _this = this;
      let spu, goodstate, skuname, skucode, brand, category, supname;
      if (_this.supplier === "") {
        spu = "";
      } else {
        for (let ele of this.sup) {
          if (ele.name === this.supplier) spu = ele.code;
        }
      }
      for (let ele of this.goodstates) {
        if (ele.name === this.state) goodstate = ele.id;
      }
      for (let ele of this.allclass) {
        if (ele.name === this.classify) category = ele.id;
      }
      for (let ele of this.brands) {
        if (ele.name === this.bd) brand = ele.id;
      }
      goodstate = this.state === "" ? "" : goodstate;
      brand = this.bd === "" || brand === "" ? 0 : brand;
      category = this.classify === "" || category === "" ? 0 : category;
      skuname = this.skuname === "" ? "" : this.skuname;
      skucode = this.skucode === "" ? "" : this.skucode;
      let formData = JSON.stringify({
        supcode: spu, //供应商
        supname: _this.supplier, //供应商名称
        goodstate: goodstate, //状态
        skuname: skuname, //商品名称
        skucode: skucode, //商品sku
        pageNum: _this.currentPage, //当前页码
        brand: brand, //商品品牌
        category: category //商品分类
      });
      fetch(this.list, {
        method: "POST", //请求方法
        body: formData //请求体
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            _this.total = res.count;
            _this.arr = res.result;
            // console.log(res);
          } else {
            _this.$message({
              message: res.errorMsg,
              type: "error"
            });
          }
        })
        .catch(e => {
          _this.$message({
            message: e,
            type: "error"
          });
        });
    },
    //确认
    handleConfirm: function() {
        let _this = this;
        let obj = [];
        let formData = new FormData();
        let arr = [];
        this.addarr.forEach(element => {
          let obj = {
            skuCode: element.skuCode,
            pSkuNum: element.pSkuNum
          };
          arr.push(obj);
        });
        this.obj.pGTime[0] = this.changeTi(this.obj.pGTime[0]);
        this.obj.pGTime[1] = this.changeTi(this.obj.pGTime[1]);
        for (let i = 0; i < this.obj.orgGroupQua.length; i++) {
          if (this.obj.orgGroupQua[i] === "VIP|SR")
            this.obj.orgGroupQua[i] = "DS";
          else if (this.obj.orgGroupQua[i] === "SO|店主")
            this.obj.orgGroupQua[i] = "SP";
          else if (this.obj.orgGroupQua[i] === "白人")
            this.obj.orgGroupQua[i] = "RC";
          else if (this.obj.orgGroupQua[i] === "纯白人")
            this.obj.orgGroupQua[i] = "PW";
        }
        for (let i = 0; i < this.obj.joinGroupQua.length; i++) {
          if (this.obj.joinGroupQua[i] === "VIP|SR")
            this.obj.joinGroupQua[i] = "DS";
          else if (this.obj.joinGroupQua[i] === "SO|店主")
            this.obj.joinGroupQua[i] = "SP";
          else if (this.obj.joinGroupQua[i] === "白人")
            this.obj.joinGroupQua[i] = "RC";
          else if (this.obj.joinGroupQua[i] === "纯白人")
            this.obj.joinGroupQua[i] = "PW";
        }
        this.obj.isDeliveryReduction = this.obj.isDeliveryReduction === "计算" ? 0 : 1;
        let formArr = this.formArray.filter(item => item.checked != false);
        this.obj.pName = this.obj.pName.replace(/\s+/g,"");
        if(this.obj.pName === ''){
        this.$message({
            message:'请添加活动名称！',
            type:'error'
        })
        } else if(this.obj.pGTime === ''){
                this.$message({
                message:'请选择拼团活动时间！',
                type:'error'
            })
        }else if(this.obj.pEffectTime === ''){
            this.$message({
                message:'请选择成团小时！',
                type:'error'
            })
            return;
        }else if(this.obj.orgGroupQua.length === 0){
            this.$message({
                message:'请选择组团资格！',
                type:'error'
            })
            return;
        }else if(this.obj.joinGroupQua.length === 0){
            this.$message({
                message:'请选择参团资格！',
                type:'error'
            })
            return;
        }else if(this.obj.isDeliveryReduction === ''){
            this.$message({
                message:'请选择是否包邮！',
                type:'error'
            })
        }
        else if(this.obj.skuLimit === 0){
            this.$message({
                message:'请设置每次限购件数！',
                type:'error'
            })
        }else if(this.obj.buyLimit === 0){
            this.$message({
                message:'请设置每人限购件数！',
                type:'error'
            })
        }else if(this.obj.jumpQueueTime === ''){
            this.$message({
                message:'请选择成团后允许插队拼团时间！',
                type:'error'
            })
        }else if(formArr.length < 1){
            this.$message({
                message:'请配置成团信息',
                type:'error'
            })
        }else{
            let str;
            let res = formArr.some((item,index)=>{
                if (item.pieceGroupNum < 1 ) return (str = "成团人数必须大于0");
                if(item.promotionPrice === undefined || item.promotionPrice === ' ') return str = '请设置拼团价';
            })
            if(res) return this.$message.error(str);
        }
        formData = JSON.stringify({
            pCode: this.$route.query.pCode,
            pName: this.obj.pName,
            pGTime: this.obj.pGTime.join("/"),
            pEffectTime: this.obj.pEffectTime,
            orgGroupQua: this.obj.orgGroupQua.join("|"),
            joinGroupQua: this.obj.joinGroupQua.join("|"),
            skuLimit: this.obj.skuLimit,
            buyLimit: this.obj.buyLimit,
            jumpQueueTime: this.obj.jumpQueueTime,
            isDeliveryReduction: this.obj.isDeliveryReduction,
            pgProduct: arr,
            partSpecs: formArr
        });
        // console.log(JSON.parse(formData))
        fetch(global.updateInfo, {
        method: "POST",
        body: formData,
        headers: { "Content-Type": "application/json;charset=UTF-8" }
        })
        .then(res=>res.json())
        .then(res => {
          console.log(res);
            if (res.isSuccess == 1) {
            _this.$message({
                message: res.result,
                type: "success"
            });
            this.$router.push('/fightList');
            } else {
            _this.$message({ message: res.message, type: "error" });
            }
        })
        .catch(e => {
            _this.$message({ message: e, type: "error" });
        });
    },
    /* 切换单选按钮清空数据 */
    emptyInfo(info){
        if(info.unifiedSetup === '0' || info.unifiedSetup === null){
            info.memberPrice = '';
            info.frequency = '';
            info.pureMemberPrice = '';
            info.pureFrequency = '';
            info.vipMemberPrice = '';
            info.vipFrequency = '';
            info.whiteMemberPrice = '';
            info.whiteFrequency = '';
            info.merchantMemberPrice = '';
            info.merchantFrequency = '';
        }else if(info.unifiedSetup === '1'){
            info.pureMemberPrice = '';
            info.pureFrequency = '';
            info.vipMemberPrice = '';
            info.vipFrequency = '';
            info.whiteMemberPrice = '';
            info.whiteFrequency = '';
            info.merchantMemberPrice = '';
            info.merchantFrequency = '';
        }else{
            info.memberPrice = '';
            info.frequency = '';
        }
    },
    //上一页
    back: function() {
      this.$router.back(-1);
    },
    changeTi: function(val) {
      let date = new Date(val);
      let yy = date.getFullYear() + "-";
      let mm =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      let dd =
        (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
      let hh =
        (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":";
      let min =
        (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) +
        ":";
      let ss =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      let aa = yy + mm + dd + hh + min + ss;
      return aa;
    }
  }
};
</script>
<style>
.setUpPageDiv {
  width: 100%;
  display: flex;
}
.setUpPage{
  box-sizing: border-box;
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
  margin-top: 15px;
  border: none;
}
</style>
