<template>
    <section>
        <!-- 工具条 -->
        <el-row style="line-height:56px; margin-top:10px;">
            <el-col :span="6">
                <span style='display:inline-block;width:100px;text-align:center'>商品ID</span>
                <el-input v-model="pgSkuId" placeholder="请输入内容" style="width:60%;"></el-input>
            </el-col>
            <el-col :span="6">
                <span style='display:inline-block;width:100px;text-align:center'>商品名称</span>
                <el-input v-model="pgSkuName" placeholder="请输入内容" style="width:60%;"></el-input>
            </el-col>
            <el-col :span='6'>
                <span style='display:inline-block;width:100px;text-align:center'>活动开始状态</span>
                <el-select v-model="pStatus" placeholder="请选择" style='width:60%'>
                    <el-option v-for="item in options" :key="item.id" :label="item.value" :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row style="line-height:30px; margin-top:10px;">
            <el-col :span='7' style="display:flex;justify-content:space-around">
                <el-button type="primary" @click='handleSearch' icon='search'>查询</el-button>
                <el-button type="primary" @click="handleAdd('新建')" icon='plus'>新建拼团活动</el-button>
                <el-button type="primary" @click='handleWhitelist()'>白名单</el-button>
            </el-col>

        </el-row>
        <el-row style=' margin-top:10px;'>
            <span style='font-size:18px;color:#cccedd'>拼团清单</span>
        </el-row>
        <!-- 商品列表 -->
        <el-table :data="arr" style="width: 100%;margin-top:10px;font-size:13px;" border highlight-current-row v-loading="listLoading">
            <el-table-column prop="id" label="活动ID" width="auto">
                <template slot-scope='scope'>
                    <el-popover placement="bottom" trigger="hover">
                        <el-form label-position="right" class="demo-table-expand" size='mini' label-width="100px">
                            <el-form-item label="成团总数" style='margin-bottom:4px !important'>
                                <span>{{ codeObj.pieceSuccessCount}}</span>
                            </el-form-item>
                            <el-form-item label="成团总订单数" style='margin-bottom:4px !important'>
                                <span>{{ codeObj.pieceSuccessOrderCount }}</span>
                            </el-form-item>
                            <el-form-item label="成团数" style='margin-bottom:4px !important'>
                                <template v-if='codeObj.pieceSuccessList.length !== 0'>
                                    <el-table :data='codeObj.pieceSuccessList' style='font-size:12px;'>
                                        <el-table-column prop='pieceGroupNum' label='人数'>
                                            <template slot-scope="scope">
                                                <span>{{scope.row.pieceGroupNum}} 人团</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop='count' label='成团数'></el-table-column>
                                    </el-table>
                                </template>
                            </el-form-item>
                            <el-form-item label="订单数" style='margin-bottom:4px !important'>
                                <template v-if='codeObj.pieceSuccessList.length !== 0'>
                                    <el-table :data='codeObj.pieceSuccessOrderCountList ' style='font-size:12px;'>
                                        <el-table-column prop='pieceGroupNum' label='人数'>
                                            <template slot-scope="scope">
                                                <span>{{scope.row.pieceGroupNum}} 人团</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop='count' label='订单数'></el-table-column>
                                    </el-table>
                                </template>
                            </el-form-item>
                            <el-form-item label="失败团总数" style='margin-bottom:4px !important'>
                                <span>{{ codeObj.pieceFailCount }}</span>
                            </el-form-item>
                            <el-form-item label="失败订单数" style='margin-bottom:4px !important'>
                                <span>{{ codeObj.pieceFailOrderCount }}</span>
                            </el-form-item>
                        </el-form>
                        <a slot="reference" @mouseenter='getMsg(scope.row)'>{{scope.row.id}}</a>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column prop="productId" label="商品ID" width="90">
            </el-table-column>
            <el-table-column prop="pName" label="拼团活动名称" width="100">
            </el-table-column>
            <el-table-column prop="name" label="商品名称" width="auto">
            </el-table-column>
            <el-table-column prop="price" label="原价" width="80">
            </el-table-column>
            <el-table-column prop="promotionPrice" label="拼团价" width="90">
            </el-table-column>
            <el-table-column prop="pSkuNum" label="活动库存" width="90">
                <!-- <template slot-scope="scope">
                    <span>{{ scope.row.pSkuNum | handleFilter }}</span>
                </template> -->
            </el-table-column>
            <el-table-column label="拼团活动时间" width="180">
                <template slot-scope="scope">
                    <span>{{ scope.row.effectFrom | changeTime }}</span>
                    <span>至</span>
                    <span>{{ scope.row.effectTo | changeTime }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="pieceEffectTime" label="成团有效时间(h)" width="90">
            </el-table-column>
            <el-table-column prop="pieceGroupNum" label="成团人数" width="90">
                <!-- <template slot-scope="scope">
                    <span>{{ scope.row.pieceGroupNum  | handleFilter}}</span>
                </template> -->
            </el-table-column>
            <el-table-column label="活动状态" width="130">
                <template slot-scope="scope">
                    <span>{{ scope.row.pStatus | changeStatus }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" width="250">
                <template slot-scope="scope" >
                    <el-button size="small" v-if='scope.row.pStatus < 5' @click='editClick(scope.row.pCode,true)' style='margin:0 5px 10px 0' type="info">
                        编辑
                    </el-button>
                    <el-button size="small" v-if='scope.row.pStatus < 6' @click='updateAmountClick(scope.row,true)' style='margin:0 5px 10px 0' type="warning">
                        修改库存
                    </el-button>
                    <el-button size="small" v-if='scope.row.pStatus >= 5' @click='editClick(scope.row.pCode,false)' style='margin:0 5px 10px 0' type="primary">
                        查看
                    </el-button>
                    <el-button size="small" v-if="scope.row.pStatus < 4" @click='handleRelease(scope.row)' style='margin:0 5px 10px 0' type="success">
                        发布
                    </el-button>
                    <el-button type="danger" size="small" plain v-if="scope.row.pStatus == 5" style='margin:0 5px 10px 0'
                               @click='handleInvalid(scope.row)'>
                        失效
                    </el-button>
                    <el-button size="small" v-if="scope.row.effectFrom < nowDate && scope.row.pStatus>3" style='margin:0 5px 10px 0' @click='jumTo(scope.row)'>统计</el-button>
                    <el-button size="small" v-if="scope.row.pStatus < 4" @click="handleRelease(scope, 'delete')" style='margin:0 5px 10px 0' type="danger">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination :page-size="pageSize" layout="prev, pager, next" :total="total" @current-change="handleCurrentChange">
        </el-pagination>
        <!--新建拼团活动界面-->
        <el-dialog :title="title" :visible.sync="addFormVisible" :close-on-click-modal="true" customClass="cWidth">
            <el-row>
                <span style='font-size:18px;color:#deddcc'>拼团基本信息</span>
            </el-row>
            <el-form ref="obj" v-model="obj" label-width="180px">
                <el-form-item label="活动名称" required>
                    <el-input v-model="obj.pName" size='small' style='width:50%'></el-input>
                </el-form-item>
                <el-form-item label="拼团活动时间" required>
                    <el-date-picker v-model="obj.pGTime" size='small' type="datetimerange" range-separator="至"
                                    start-placeholder="开始日期" end-placeholder="结束日期" style="width:60%">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="成团有效时间" required>
                    <el-input-number v-model="obj.pEffectTime" controls-position="right" :min="1" type='number'
                                     size='small'></el-input-number>&nbsp;小时
                </el-form-item>
                <el-form-item label="组团资格" required>
                    <el-checkbox-group v-model="obj.orgGroupQua">
                        <el-checkbox label="纯白人"></el-checkbox>
                        <el-checkbox label="白人"></el-checkbox>
                        <el-checkbox label="VIP|SR"></el-checkbox>
                        <el-checkbox label="SO|店主"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="参团资格" required>
                    <el-checkbox-group v-model="obj.joinGroupQua">
                        <el-checkbox label="纯白人"></el-checkbox>
                        <el-checkbox label="白人"></el-checkbox>
                        <el-checkbox label="VIP|SR"></el-checkbox>
                        <el-checkbox label="SO|店主"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="是否包邮" required>
                    <el-radio-group v-model="obj.isDeliveryReduction">
                        <el-radio label="不包邮"></el-radio>
                        <el-radio label="包邮(运费为0)"></el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="每次限购(拼主,参团人)" required>
                    <el-input-number v-model="obj.skuLimit" controls-position="right" :min="1"
                                     size="small"></el-input-number>
                    <span>&nbsp;件</span>
                </el-form-item>
                <el-form-item label="每人限购(参团人)" required>
                    <el-input-number v-model="obj.buyLimit" controls-position="right" :min="1" size="small"></el-input-number>
                    <span>件</span>
                </el-form-item>
                <el-form-item label="成团后允许插队拼团时间" required>
                    <el-input-number v-model="obj.jumpQueueTime" size='small' :min="0" style='width:130px'></el-input-number>
                    <span>小时</span>
                </el-form-item>

                <el-card style="margin-left: 11%; width: 50%">
                    <el-row> 注释</el-row>
                    <el-row> 1.拼主价如果为空，拼主开团的价格等同拼团价</el-row>
                    <el-row> 2.如果有拼主价，拼主价限制不填代表不限次数，最小值大于0</el-row>
                </el-card>
                <br>
                <el-form-item>
                    <el-button type="primary" @click="saveDatas">选择商品</el-button>
                    <el-button @click.native=" addFormVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <!-- 白名单 -->
        <el-dialog title='白名单' :visible.sync='whiteForm.visibleList' :close-on-click-modal="true" customClass="vcodeWidth">
            <el-row :gutter='20'>
                <el-col :span='6'> <el-input style='width:100%' size='small' v-model='whiteForm.cpId' placeholder="请输入CPID"></el-input></el-col>
                <el-button size='small' icon='plus' type="primary" @click='addWhite()'>添加</el-button>
                <el-button type="primary" size="small" @click="uploadExcall" icon='upload2'>
                    <input type="file" ref="input" @change="uploadChange" style="display:none">批量导入
                </el-button>
                <el-button size='small' icon='search' type="primary" @click="getWhiteList('查询')">查询</el-button>
                <el-button size='small' type="primary" v-if="whiteForm.pCodeStatus == 0" @click="handleSwitch('开启')">开启白名单</el-button>
                <el-button size='small' type="primary" v-else @click="handleSwitch('关闭')">关闭白名单</el-button>
            </el-row>
            <el-table :data="whiteForm.whiteList" highlight-current-row style='font-size:13px;margin-top:10px;' border>
                <el-table-column prop="cpId" label="cpId" width="auto">
                </el-table-column>
                <el-table-column prop="status" label="状态" width="auto">
                    <template slot-scope="scope">
                        <span>{{scope.row.status===0?"已失效":"已生效"}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="auto">
                    <template slot-scope='scope'>
                        <el-button size='small' type="primary" @click="update(scope.row)" v-if='scope.row.status == 0'>生效</el-button>
                        <el-button size='small' type="primary" @click="update(scope.row)" v-if='scope.row.status == 1'>失效</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination layout="prev, pager, next" :total="whiteForm.total" small :pageSize='whiteForm.pageSize' :current-page='whiteForm.currentPage' @current-change="handleCurrentChange" pagination='4' ref='current'></el-pagination>
        </el-dialog>
        <!-- 修改库存弹窗 -->
        <el-dialog title="修改库存" :visible.sync="dialogTableVisible" customClass="cWidth">
            <el-col class="tag">
                <el-card shadow="always">
                    提示:在当前活动库存基础上增减
                </el-card>
            </el-col>
            <el-table :data="gridData">
                <el-table-column property="productId" label="商品ID" width="100"></el-table-column>
                <el-table-column property="skuId" label="SKU ID"></el-table-column>
                <el-table-column property="productName" label="商品名称" width="260"></el-table-column>
                <el-table-column property="spec" label="规格" width="200"></el-table-column>
                <el-table-column property="promotionPrice" label="拼团价"></el-table-column>
                <el-table-column property="amount" label="库存"></el-table-column>
                <el-table-column label="修改库存" width="200">
                    <template slot-scope="scope">
                        <el-input-number v-model="scope.row.skuNum" type='number'
                                         controls-position="right" size='small'>
                        </el-input-number>
                    </template>
                </el-table-column>
            </el-table>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogTableVisible = false">取 消</el-button>
                <el-button type="primary" @click="updateAmount">确 定</el-button>
            </span>
        </el-dialog>
    </section>
</template>
<script>
    import global from '../../common/common.vue'
    import {deleteActivity} from '@/service/hanweiUrlApi'
    export default {
        data() {
            return {
                updatePCode: '',/* 修改库存pcode */
                updateForm: [],/* 修改库存数组 */
                gridData: [],/* 获取当前pcode内容 */
                dialogTableVisible: false,/* 修改库存弹框是否显示 */
                nowDate: '', //当前时间
                isChecked: '',
                isChecked1: '',
                isChecked2: '',
                isChecked3: '',
                isChecked4: '',
                isChecked5: '',
                pgSkuId: '',
                pgSkuName: '',
                pStatus: '',
                arr: [],
                options: [
                    // {id: '1', value: '草稿'},
                    { id: '2', value: '待锁库存' },
                    // {id: '3', value: '待发布'},
                    // {id: '4', value: '已发布待生效'},
                    { id: '5', value: '已生效' },
                    { id: '6', value: '人工下线' },
                    { id: '7', value: '已失效（结束）' }
                ],
                editForm: [],                 //编辑界面数据
                editFormVisible: false,       //新增界面是否显示
                editLoading: false,
                addFormVisible: false,
                //新增界面数据
                obj: {
                    buyLimit: '',
                    jumpQueueTime: '',//允许插队时间
                    isDeliveryReduction: '',
                    pName: '',                   //拼团名称
                    pGTime: "",                   //拼团时间
                    pEffectTime: '',              //成团时间
                    orgGroupQua: [],              //成团资格
                    joinGroupQua: [],             //参团资格
                    skuLimit: '',                  //限购件数
                },
                len: 0,
                queryBackPGVOList: global.queryBackPGVOListUrl,
                updatePGStatus: global.updatePGStatusUrl,
                title: '',
                currentPage: 1,
                pageSize: 10,
                total: 1,
                listLoading: false,
                codeObj: {
                    pieceFailCount: '',
                    pieceFailOrderCount: '',
                    pieceSuccessCount: '',
                    pieceSuccessList: [
                        {
                            count: '',
                            pieceGroupNum: ''
                        }
                    ],
                    pieceSuccessOrderCount: '',
                    pieceSuccessOrderCountList: [
                        {
                            count: '',
                            pieceGroupNum: ''
                        }
                    ]
                },
                whiteForm: {
                    whiteList: [],
                    visibleList: false,
                    cpId: '',
                    pCode: '',
                    currentPage: 1,
                    pageSize: 10,
                    total: 1,
                    pCodeStatus: 0,
                }
            }
        },
        mounted() {
            this.handleSearch();
            this.nowDate = Date.parse(new Date());
        },
        methods: {
            handleAdd(val, row) {
                this.obj = Object.assign({}, {
                    isDeliveryReduction: '',
                    pName: '',                   //拼团名称
                    pGTime: "",                   //拼团时间
                    pEffectTime: '',              //成团时间
                    orgGroupQua: [],              //成团资格
                    joinGroupQua: [],             //参团资格
                    skuLimit: '',                  //限购件数
                });
                this.isChecked = '',
                    this.isChecked1 = '',
                    this.isChecked2 = '',
                    this.title = '拼团管理 > 创建拼团';
                this.addFormVisible = true;
            },
            //查询
            handleSearch() {
                //let formData = new FormData();
                this.listLoading = true;
                let id = '';
                let pgSkuId, pgSkuName;
                for (let ele of this.options) {
                    if (ele.value === this.pStatus) id = ele.id;
                }
                pgSkuId = this.pgSkuId;
                pgSkuName = this.pgSkuName;
                let data = JSON.stringify
                    ({
                        productId: pgSkuId,
                        productName: pgSkuName,
                        pStatus: id,
                        page: this.currentPage.toString(),
                        pageSize: this.pageSize.toString()
                    })
                // return console.log(JSON.parse(data));
                fetch(this.queryBackPGVOList, {
                    method: 'POST',
                    body: data,
                    headers: { 'Content-Type': 'application/json;charset=UTF-8' }
                }).then(res => res.json()
                ).then(res => {
                    this.listLoading = false;
                    if (res.isSuccess === 200) {
                        res.result.forEach(element => {
                            element.pieceGroupNum = element.pieceGroupNum.substring(0, element.pieceGroupNum.length - 1)
                        });
                        this.arr = res.result;
                        res.result.length === 0 ? this.total = 0 : this.total = res.result[0].pageCount;

                    } else {
                        this.$message({
                            message: "查询拼单清单异常",
                            type: 'error'
                        })
                    }
                })
                // .catch(e => {
                //     this.listLoading = false;
                //     this.$message({
                //         message: '网络错误，请重试！',
                //         type: 'error'
                //     })
                // })
            },
            handleEdit() {
            },
            //点击下一页
            saveDatas() {
                if (this.obj.pName === '') {
                    this.$message({
                        message: '请添加活动名称！',
                        type: 'error'
                    })
                } else if (this.obj.pGTime === '') {
                    this.$message({
                        message: '请选择拼团活动时间！',
                        type: 'error'
                    })
                } else if (this.obj.pEffectTime === 0) {
                    this.$message({
                        message: '请选择成团小时！',
                        type: 'error'
                    })
                } else if (this.obj.orgGroupQua.length === 0) {
                    this.$message({
                        message: '请选择组团资格！',
                        type: 'error'
                    })
                } else if (this.obj.joinGroupQua.length === 0) {
                    this.$message({
                        message: '请选择参团资格！',
                        type: 'error'
                    })
                } else if (this.obj.isDeliveryReduction === '') {
                    this.$message({
                        message: '请选择是否包邮！',
                        type: 'error'
                    })
                }
                else if (this.obj.skuLimit === 0) {
                    this.$message({
                        message: '请设置每次限购件数！',
                        type: 'error'
                    })
                } else if (this.obj.buyLimit === 0) {
                    this.$message({
                        message: '请设置每人限购件数！',
                        type: 'error'
                    })
                } else if (this.obj.jumpQueueTime === '') {
                    this.$message({
                        message: '请选择成团后允许插队拼团时间！',
                        type: 'error'
                    })
                }
                else {
                    this.addFormVisible = false;
                    let savedate = sessionStorage.setItem('groupDatas', JSON.stringify(this.obj));
                    this.$router.push('/productLIst');
                }
            },
            handleDel(value) {
                this.$confirm('确认修改该记录吗?', '提示', {}).then(() => {
                    this.arr.splice(value, 1);
                }).catch(() => {
                });
            },
            changeTi(val) {
                let date = new Date(val);
                let yy = date.getFullYear() + '-';
                let mm = ((date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-';
                let dd = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
                let hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
                let min = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
                let ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
                let aa = yy + mm + dd + hh + min + ss;
                return aa
            },
            //发布按钮
            handleRelease(row, type) {
                if (type && type === 'delete') {
                    this.$confirm('此操作将会删除当前活动，请知悉~')
                    .then(_ => {
                        const res = this.$http(deleteActivity, {
                            params: {
                                pCode: row.row.pCode
                            }
                        });
                        res.then(data => {console.log(data)
                            if (!data.httpRequestError) {
                                if (data.data) {
                                    this.arr.splice(row.$index, 1)
                                    this.$message({
                                        message: '操作成功',
                                        type: 'success'
                                    });
                                } else {
                                    this.$message({
                                        message: '操作失败',
                                        type: "error"
                                    });
                                }
                            } else {
                                this.$message({
                                    message: data.httpRequestError || "系统异常",
                                    type: "error"
                                });
                            }
                        });
                    })
                    .catch(_ => {});
                } else {
                    let pCode = row.pCode;
                    this.$confirm('请确认活动商品是上架状态?', '提示', {}).then(() => {
                        fetch(this.updatePGStatus + `/${pCode}`, {
                            method: 'GET'
                        }).then(res => {
                            if (res.status == 200) {
                                this.$message({
                                    message: '发布成功',
                                    type: 'info'
                                })
                                this.arr.findIndex(item => {
                                    if (item.pCode === pCode) {
                                        item.pStatus = 5;
                                    }
                                })
                            } else {
                                this.$message({
                                    message: '更新活动状态异常',
                                    type: 'error'
                                })
                            }
                        }).catch(e => {
                            this.$message({
                                message: '网络错误，请重试!',
                                type: 'error'
                            })
                        })
                    }).catch(() => { })
                }
            },
            //失效按钮
            handleInvalid(val) {
                let pCode = val.pCode;
                this.$confirm('活动失效后，请将对应商品下架！', '提示', {}).then(() => {
                    fetch(global.updateStatusUrl + `/${pCode}`, {
                        method: 'GET'
                    }).then(res => {
                        if (res) {
                            this.$message({
                                message: '该商品已失效',
                                type: 'success'
                            })
                            this.arr.findIndex(item => {
                                if (item.pCode === pCode) {
                                    item.pStatus = 6;
                                }
                            })
                        } else {
                            this.$message({
                                message: '更新活动状态异常',
                                type: 'error'
                            })
                        }
                    }).catch(e => {
                        this.$message({
                            message: '网络错误，请重试!',
                            type: 'error'
                        })
                    })
                }).catch(() => { })

            },
            //编辑
            editClick(pCode, bool) {
                //编辑
                this.$router.push({
                    path: '/editActivity',
                    query: {
                        pCode: pCode,
                        isShow: bool
                    }
                })
            },
            /* 获取修改库存相关信息 */
            getUpdateAmountInfo(val) {
                console.log(val);
                fetch(global.getUpdateAmountInfo + `/${val}`, {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json;charset=UTF-8' },
                }).then(res => res.json())
                    .then(res => {
                        this.dialogTableVisible = true;
                        this.gridData = res.result;
                    })

            },
            /* 确认修改btn */
            updateAmount() {
                this.updateForm = [];
                this.gridData.forEach((element, index) => {
                    let obj = {
                        skuId: element.skuId,
                        pCode: this.updatePCode,
                        pAmount: element.skuNum
                    };
                    this.updateForm.push(obj);
                })
                fetch(global.updateAmount, {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json;charset=UTF-8' },
                    body: JSON.stringify(this.updateForm)
                }).then(res => res.json())
                    .then(res => {
                        if (res.errorCode === null) {
                            this.$message({
                                message: '更新库存成功',
                                type: 'success'
                            })
                            this.dialogTableVisible = false;
                            this.handleSearch();
                        } else {
                            this.$message({
                                message: res.message,
                                type: 'error'
                            })
                        }
                    })
            },
            /* 修改库存 */
            updateAmountClick(val) {
                fetch(global.getUpdateAmountInfo + `/${val.pCode}`, {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json;charset=UTF-8' },
                }).then(res => res.json())
                    .then(res => {
                        // console.log(res);
                        this.dialogTableVisible = true;
                        this.gridData = res.result;
                        this.updatePCode = val.pCode;
                        console.log(this.gridData);
                        // this.updateForm = [];
                        // this.gridData.forEach((element,index)=>{
                        //     let obj = {
                        //         skuId:element.skuId,
                        //         pCode:val,
                        //         pAmount:1
                        //     };
                        //     this.updateForm.push(obj);
                        // })
                        // console.log(this.updateForm);
                    })

            },
            handleCurrentChange(val) {
                if (this.whiteForm.visibleList === true) {
                    this.whiteForm.currentPage = val;
                    this.getWhiteList();
                } else {
                    this.currentPage = val;
                    this.handleSearch();
                }
            },
            getMsg(val) {
                fetch(global.PromotionCount + '?pCode=' + val.pCode, {
                    method: 'GET',
                }).then(res => res.json()
                ).then(res => {
                    console.log(res);
                    this.codeObj = res;
                }).catch(e => {
                    this.$message({
                        message: '网络错误，请重试!',
                        type: 'error'
                    })
                })
            },
            jumTo(val) {
                // console.log(val);
                let isTrue;
                let now = new Date();
                now.getTime() < val.effectTo ? isTrue = true : isTrue = false;
                this.$router.push({
                    path: '/statistic',
                    query: { pCode: val.pCode, isTrue: isTrue }
                })
            },
            uploadChange(e) {
                let file = e.target.files[0]
                let formData = new FormData()
                formData.append('file', file)
                fetch(global.excel + '/piece', {
                    method: 'POST',
                    body: formData
                }).then(res => res.json())
                    .then(res => {
                        this.$refs.input.value = '';
                        if (res.errorCode == 200) {
                            this.$message({
                                message: res.data,
                                type: 'info'
                            })
                            this.getWhiteList();
                        } else {
                            this.$message({
                                message: res.data,
                                type: 'error'
                            })
                        }
                    })
                    .catch(e => {
                        this.$refs.input.value = '';
                        console.log(e);
                    })
            },
            uploadExcall() {
                let input = this.$refs.input
                input.click()
            },
            handleWhitelist() {
                this.whiteForm.visibleList = true;
                this.whiteForm.cpId = '';
                this.getWhiteList();
                this.getStatus();
            },
            getWhiteList(val) {
                if (val) {
                    this.whiteForm.currentPage = 1;
                }
                let url;
                let cpId = this.whiteForm.cpId.replace(/\s*/g, "");
                cpId === '' ? url = global.query + `?page=${this.whiteForm.currentPage - 1}&size=${this.whiteForm.pageSize}&pCode=piece`
                    :
                    url = global.query + `?page=${this.whiteForm.currentPage - 1}&size=${this.whiteForm.pageSize}&pCode=piece&cpId=${cpId}`
                fetch(url, {
                    method: 'GET',
                }).then(res => res.json()
                ).then(res => {
                    res.data.pageInfo === "" ? this.whiteForm.whiteList = [] : this.whiteForm.whiteList = res.data.pageInfo;
                    this.whiteForm.total = res.data.total;
                }).catch(e => {
                    this.$message({
                        message: '获取数据失败，请重试',
                        type: 'error'
                    })
                })
            },
            update(val) {
                let data = JSON.stringify({
                    cpId: val.cpId,
                    status: val.status == 1 ? 0 : 1,
                })
                fetch(global.whiteUpdate + '/piece', {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8',
                    },
                }).then(res => res.json()
                ).then(res => {
                    if (res.errorCode == 200) {
                        this.$message({
                            message: '更新成功',
                            type: 'info'
                        })
                        this.getWhiteList();
                    } else {
                        this.$message({
                            message: '更新失败',
                            type: 'error'
                        })
                    }
                }).catch(e => {
                    this.$message({
                        message: '操作失败',
                        type: 'error'
                    })
                })
            },
            //开启或关闭
            handleSwitch(val) {
                this.$confirm('确定' + val + '?', '提示', {}).then(() => {
                    let data = JSON.stringify({
                        pCode: 'piece',
                        status: this.whiteForm.pCodeStatus == 0 ? 1 : 0,
                    })
                    fetch(global.whitePromotion, {
                        method: 'POST',
                        body: data,
                        headers: { 'Content-Type': 'application/json;charset=UTF-8' }
                    }).then(res => res.json()
                    ).then(res => {
                        this.whiteForm.visibleList = false;
                        if (res.errorCode == 200) {
                            this.$message({
                                message: res.data,
                                type: 'info'
                            })
                        } else {
                            this.$message({
                                message: '更新失败',
                                type: 'error'
                            })
                        }
                    }).catch(e => {
                        this.whiteForm.visibleList = false;
                        this.$message({
                            message: '更新失败',
                            type: 'error'
                        })
                    })
                }).catch(() => { })
            },
            addWhite() {
                if (this.whiteForm.cpId === '') {
                    this.$message({
                        message: '请输入CPID',
                        type: 'error'
                    })
                    return false
                } else {
                    let data = JSON.stringify({
                        pCode: 'piece',
                        cpId: this.whiteForm.cpId
                    })
                    fetch(global.commit + '/group', {
                        method: 'POST',
                        body: data,
                        headers: { 'Content-Type': 'application/json;charset=UTF-8' }
                    }).then(res => res.json()
                    ).then(res => {
                        if (res.errorCode === 200) {
                            this.$message({
                                message: res.data,
                                type: 'info'
                            })
                            this.whiteForm.cpId = '';
                            this.getWhiteList();
                        }
                    }).catch(e => {
                        this.$message({
                            message: '新增白名单失败',
                            type: 'error'
                        })
                    })
                }

            },
            getStatus() {
                fetch(global.getStatus + '/piece', {
                    method: 'GET'
                }).then(res => res.json()
                ).then(res => {
                    this.whiteForm.pCodeStatus = res.data[0].status;
                }).catch(e => {
                    this.$message({
                        message: '获取状态失败',
                        type: 'error'
                    })
                })
            }
        },
        filters: {
            //过滤
            changeStatus: function (val) {
                switch (val) {
                    case 1: return '草稿'; break;
                    case 2: return '待锁库存'; break;
                    case 3: return '待发布'; break;
                    case 4: return '已发布待生效'; break;
                    case 5: return '已生效'; break;
                    case 6: return '人工下线'; break;
                    case 7: return '已失效（结束）';
                }
            },
            //删除/
            handleFilter: function (val) {
                if(val) val = val.substr(0, val.length - 1);
                return val
            },
            changeTime: function (val) {
                let time = new Date(val);
                let yy = time.getFullYear();
                let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
                let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
                let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours();
                let min = time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes();
                let ss = time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds();
                return yy.toString() + '-' + mm.toString() + '-' + dd.toString() + ' ' + hh.toString() + ':' + min.toString() + ':' + ss.toString()
            },

        }

    }
</script>
<style>

    .el-col-7 {
        line-height: 56px;
    }

    /* .el-row{
        margin-top:10px;
    } */
    .sp {
        margin-left: 27px;
    }

    .cWidth {
        width: 70%
    }

    .tag {
        margin: 0 0 20px;
        text-align: center;
        letter-spacing: 1px;
    }
</style>