<template>
  <div class="largeScaleTableCompoent">
    <el-table :data="largeScaleTableData.tableData" style="width: 100%" v-loading="largeScaleTableData.loading">
      <template v-for="(item, index) in elTableColumn">
        <el-table-column :key="item.label" v-if="item.type === 'normal'"
          :prop="item.prop"
          :label="item.label"
          :width="item.width">
        </el-table-column>
        <el-table-column :key="item.label" v-if="item.type === 'input'"
          :prop="item.prop"
          :label="item.label"
          :width="item.width">
          <template slot-scope="scope">
              <el-input :placeholder="scope.row.placeholder" v-model="scope.row[scope.column.property]" clearable @change="handleInputChange(scope, 'updateCopywriting')"></el-input>
          </template>
        </el-table-column>
        <el-table-column :key="index" v-if="item.type === 'btn'"
          :prop="item.prop"
          :label="item.label"
          :width="item.width">
          <template slot-scope="scope">
            <el-button :type="item.type" v-for="(item, index) in btns" :key="index" :size="item.size" @click="handleClick(scope, item.text)">{{item.text}}</el-button>
          </template>
        </el-table-column>
      </template>
    </el-table>
    <el-pagination
      @current-change="handleCurrentChange"
      :current-page.sync="currentPage"
      v-show="largeScaleTableData.tableData.length > 0"
      layout="prev, pager, next"
      :page-size="10"
      :total="largeScaleTableData.total">
    </el-pagination>
  </div>
</template>

<script>
import {updateGrandSaleMainShare} from '@/service/hanweiUrlApi'
import {mapGetters, mapActions} from 'vuex'
import {dateChangeover} from '@/utils'

export default {
  props: {
    getAllGrandSaleMainShareData: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      currentPage: 1,
      elTableColumn: [{
        prop: 'index',
        label: '序号',
        width: '90',
        type: 'normal'
      },{
        prop: 'title',
        label: '分享标题',
        width: 'auto',
        type: 'input',
        placeholder: "请输入分享标题"
      },{
        prop: 'content',
        label: '分享文案名',
        width: 'auto',
        type: 'input',
        placeholder: "请输入分享文案名"
      },{
        prop: 'startAt',
        label: '开始时间',
        width: '150',
        type: 'normal'
      },{
        prop: 'endAt',
        label: '结束时间',
        width: '150',
        type: 'normal'
      },{
        prop: 'updatedAt',
        label: '更新时间',
        width: '150',
        type: 'normal'
      },{
        prop: 'do',
        label: '操作',
        width: '150',
        type: 'btn'
      }],
      btns: [{
        text: '更新',
        type: 'warning',
        loadding: false,
        size: 'small'
      }]
    }
  },
  methods: {
    ...mapActions([
      'saveLargeScaleTableData'
    ]),
    handleClick (scope, type) {
      switch (type) {
        case '更新' :
          const mainShareContent = scope.row.content.replace(/^\s+|\s+$/g,'')
          const title = scope.row.title.replace(/^\s+|\s+$/g,'')
          if (mainShareContent === '') {
            this.$message({
                showClose: true,
                message: '更新失败：分享文案名不能为空~',
                type: 'error'
            });
            return false
          }
          if (mainShareContent.includes('&')) {
            this.$message({
                showClose: true,
                message: '更新失败：分享文案内容不能存在符号【&】',
                type: 'error'
            });
            return false
          }
          if (title.includes('&')) {
            this.$message({
                showClose: true,
                message: '更新失败：分享标题内容不能存在符号【&】',
                type: 'error'
            });
            return false
          }
          if (title.length > 10) {
            this.$message({
                showClose: true,
                message: '更新失败：分享标题至多10个字符，请修复～',
                type: 'error'
            });
            return false
          }
          this.$confirm('确认更新？')
          .then( async _ => {
            const data = await this.$http(updateGrandSaleMainShare, {
                method: 'post',
                body: {
                    id: scope.row.id,
                    mainShareContent: `${title}&${mainShareContent}`,
                    mainStartAt: dateChangeover([scope.row.startAt,,'dateStamp']),
                    mainEndAt: dateChangeover([scope.row.endAt,,'dateStamp'])
                }
            });
            if (!data.httpRequestError) {
                if (data.data === 'OK') {
                    this.$message({
                        showClose: true,
                        message: '更新成功',
                        type: 'success'
                    });
                } else {
                    this.$message({
                        message: data.moreInfo || "更新失败",
                        type: "error"
                    });
                }
            }  else {
                this.$message({
                    message: data.httpRequestError || "系统异常",
                    type: "error"
                });
            }
          })
          .catch(_ => {});
          break
      }
    },
    handleInputChange (scope, type) {
      switch (type) {
        case 'updateCopywriting' : 
          let value = scope.row.content.replace(/^\s+|\s+$/g,'')
          this.largeScaleTableData.tableData[scope.$index] = Object.assign(this.largeScaleTableData.tableData[scope.$index], {
              content: value
          })
          break
      }
    },
    handleCurrentChange () {
      this.getAllGrandSaleMainShareData(this.currentPage - 1, 10)
    },
    changeCurrentPage (page) {
      this.currentPage = page
    }
  },
  computed: {
    ...mapGetters([
      'largeScaleTableData'
    ])
  }
}
</script>


