<template>
    <section>
        <div class="fix">
            <p>活动模块 > 主KV</p>
            <el-button type="primary"  @click="dialogFormVisible = true">添加</el-button>
        </div>
        <el-table  :data="tableData" border style="width: 100%">
            <el-table-column prop="img" label="图片" width="130">
                <template slot-scope="scope">
                    <img :src="scope.row.img" alt="">
                </template>
            </el-table-column>
            <el-table-column label="标题" prop="title">
            </el-table-column>
            <el-table-column   label="创建时间" prop="createTim">
                
            </el-table-column>
            <el-table-column   label="起止时间" prop="range">
                
            </el-table-column>
            <el-table-column   label="操作" prop="">
                <template slot-scope="scope">
                    <el-button type="danger" size="small" @click="delKV(scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="btnBoxR">
            <el-button @click="backToLargeScale">取消</el-button>
            <el-button type="primary">确认</el-button>
        </div>
        <el-dialog title="添加活动KV" :visible.sync="dialogFormVisible">
            <el-form :model="form" :label-position="labelPosition" label-width="150px">
                <el-form-item label="名称：">
                    <el-input v-model="form.actNam" auto-complete="off" style="width:351px;"></el-input>
                </el-form-item>
                <el-form-item label="图片(750*750px)：" >
                    <div v-if='imgList.length>0'>
                        <ul style='padding:0;margin:0;list-style:none;display:flex;flex-direction:row;'>
                            <li v-for="(item,index) in imgList" :key='index' >
                                <img :src="item.img" alt="" style='width:100px;height:100px;'>
                                <div>
                                    <el-button type='text' size='small' @click='deleteImg(index)' class="dele" style="color:red">删除</el-button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uploadImgBtn" id="uploadImgBtn" v-if='imgList.length<1'>
                        <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                        <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage">
                    </div>
                </el-form-item>
                <el-form-item label="显示时间：" >
                    <el-date-picker
                        v-model="form.actRange"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button @click="dialogFormVisible = false">取消</el-button>
                    <el-button  type="primary" @click="submit(form)">确认</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </section>
</template>
<script>
    import 'quill/dist/quill.core.css'
    // import 'quill/dist/quill.snow.css'
    import '../../common/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import * as qiniu from 'qiniu-js'
    import b64toBlob from 'b64-to-blob'
    import global from "../../common/common.vue";
    export default {
        data() {
            return {
                dialogImageUrl: '',
                dialogVisible: false,
                imgList: [],
                uploadImgToken: '',
                dataURL: '',
                newUrl: global.newUrl,
                draftUrl: global.draftUrl,
                url:'',
                queryUpToken:global.queryUpToken,
                labelPosition: 'right',/* 弹窗表单右对齐 */
                form:{
                    actNam:'',
                    actImg:"",
                    actRange:"",   
                },/* 添加活动表单 */
                dialogFormVisible:false,/* 添加弹窗 */
                value1: '',
                tableData:[
                    {
                        img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1554901873518&di=54939420f24241d771c767b06dd04431&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fphotoblog%2F1611%2F02%2Fc14%2F29324133_1478093922896_mthumb.jpg",
                        title:"美妆",
                        createTim:"2019-10-20",
                        range:"2019-2020",
                    },
                    {
                        img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1554901873518&di=54939420f24241d771c767b06dd04431&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fphotoblog%2F1611%2F02%2Fc14%2F29324133_1478093922896_mthumb.jpg",
                        title:"美妆",
                        createTim:"2019-10-20",
                        range:"2019-2020",
                    },
                    {
                        img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1554901873518&di=54939420f24241d771c767b06dd04431&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fphotoblog%2F1611%2F02%2Fc14%2F29324133_1478093922896_mthumb.jpg",
                        title:"美妆",
                        createTim:"2019-10-20",
                        range:"2019-2020",
                    },
                ],
                
            }
        },

        methods: {
            /* 删除活动kv */
            delKV(row){
                /* 此处删除需要调接口 */
                console.log(row);
            },
            /* 提交表单 */
            submit(form){
                let msg = '';
                if(form.actNam === ''){
                    msg ="活动名称不能为空";
                }else if(this.imgList.length === 0){
                    msg ="请上传图片";
                }else if(form.actRange[0] === undefined || form.actRange[0] === null){
                    msg ="请选择显示时间";
                }
                if(msg !== ''){
                    return this.$message.error(msg)
                }
                let obj = {
                    actNam:form.actNam,
                    actImg:this.imgList[0].img,
                    actStatTim:this.changeTime(form.actRange[0]),
                    actEndTim:this.changeTime(form.actRange[1])
                }
                console.log(obj);
                this.dialogFormVisible = false;
                
            },
             /* 返回大型促销页 */
             backToLargeScale(){
                 this.$router.push({
                    path: '/LargeScale',
                    query: { isBack:true }
                })
             },
             /* **************************上传图片相关***************************** */
            fileImage(ev) {
                this.files = ev.target.files
                this.filesIndex = this.files.length > 9 ? 9 : this.files.length
                this.doPictrues(this.files[0])
            },
            doPictrues(file) {
                let imgSize, reader
                imgSize = file.size / 1024
                if (imgSize > 5120) {
                    this.$message.error("请上传大小不要超过5MB的图片");
                } else {
                    let splitTemp
                    reader = new FileReader()
                    reader.readAsDataURL(file) // 读出 base64
                    reader.onloadend = () => {
                    this.dataURL = reader.result // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                    splitTemp = this.dataURL.split(';base64,')
                    let contentType = splitTemp[0].replace('data:', '')
                    let b64Data = splitTemp[1]
                    let blob = b64toBlob(b64Data, contentType)
                    this.uploadPhoto(blob)
                    }
                }
            },
            //获取token
            getQiniuToken: function() {
                const _this = this;
                let formData = new FormData()
                formData.append('json', JSON.stringify({}))
                fetch(this.queryUpToken, {
                    method: 'POST',
                    body: formData
                })
                    .then(res => res.json())
                    .then(res => {
                    if (res.isSuccess === 1) {
                        _this.uploadImgToken = res.result.key;
                        _this.url = res.result.bucketHostName;
                    } else {
                        _this.$message({
                        message: res.errorMsg,
                        duration: 2000,
                        type: 'warning'
                        })
                    }
                })
            },
            // 上传图片到七牛云
            uploadPhoto(file) {
                const IMG_HOST = this.url;
                let img = new Image()
                img.src = URL.createObjectURL(file)
                let vm = this
                let fileName =
                    Date.now() +
                    Math.random()
                    .toString()
                    .slice(-5)
                let putExtra = {
                    mimeType: ['image/png', 'image/jpeg', 'image/gif']
                }
                let config = {
                    useCdnDomain: true
                }
                return new Promise((resolve, reject) => {
                    let observable = qiniu.upload(
                    file,
                    fileName,
                    vm.uploadImgToken,
                    putExtra,
                    config
                    )
                    let observer = {
                    error(err) {
                        console.log('observer error err')
                    },
                    complete(res) {
                        console.log('observer complete')
                        vm.imgList.push({
                        img: IMG_HOST + res.key,
                        width: img.width,
                        height: img.height
                        })
                        vm.completeNum++
                        if (
                        vm.completeNum < vm.filesIndex - 1 ||
                        vm.completeNum == vm.filesIndex - 1
                        ) {
                        vm.doPictrues(vm.files[vm.completeNum])
                        }
                    }
                    }
                    let subscription = observable.subscribe(observer) // 上传开始
                })
            },
            //图片删除
            deleteImg: function(val) {
                this.imgList.splice(val, 1)
            },
            /* 时间转换 */
            changeTime: function (val) {
                let time = new Date(val);
                let yy = time.getFullYear();
                let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
                let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
                let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours();
                let min = time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes();
                let ss = time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds();
                return yy.toString() + '-' + mm.toString() + '-' + dd.toString() + ' ' + hh.toString() + ':' + min.toString() + ':' + ss.toString()
            },
        },
        created() {
            this.getQiniuToken();
        },
    };
</script>
<style >
    section p{
        color: rgb(51, 51, 51);
        font-size: 16px;
        line-height: 10px;
    }
    .btnBoxR{
        text-align: right;
    }
    .cell img{
        height: 50px;
        width: 80px;
        margin: 10px 0 4px;
    }
    .fix{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    .fix .el-button{
        height: 50%;
    }
    ul,li{
        list-style: none;;
    }
    .uploadImgBtn {
        width: 100px;
        height: 100px;
        cursor: pointer;
        position: relative;
        background: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        border: 1px solid #ccc;
    }

    .uploadImgBtn .uploadImg {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    /* 这是一个用做回显的盒子的样式 */
    .pic {
        width: 100px;
        height: 100px;
    }
    .pic img {
        width: 100%;
        height: 100%;
    }
    /* .dele{
        color: salmon;
        position: absolute;
        top: 35px;
        left: 35px;
    } */
</style>

