<template>
    <section>
        <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;flex-wrap: wrap;margin-left:20px;'>
            <el-col :span="6">
                <span style='display:inline-block;width:80px;line-height:36px;'>活动名称:</span>
                <el-input v-model='projectName' style='width:60%;'></el-input>
            </el-col>
            <el-col :span="6" >
                <span style='display:inline-block;width:80px;line-height:36px;'>活动状态:</span>
                <el-select v-model="projectState" placeholder="请选择" style='width:60%'>
                    <el-option v-for="item in stateList" :key="item.state" :label="item.label" :value="item.state">
                    </el-option>
                </el-select>
            </el-col> 
            <el-col :span="6">
                <span style='display:inline-block;width:80px;line-height:36px;'>skuCode:</span>
                <el-input v-model='skuCode' style='width:60%;'></el-input>
            </el-col>
            <el-col :span="6">
                <span style='display:inline-block;width:80px;line-height:36px;'>商品名称:</span>
                <el-input v-model='productName' style='width:60%;'></el-input>
            </el-col>
            
        </el-row>
        <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;flex-wrap: wrap;margin-left:20px;margin-bottom:30px;'>
            <el-col :span="6">
                <el-button icon="search" type="primary" size="medium" @click='handleSearch'>查询</el-button>
            </el-col>
        </el-row>
        <div style='display:flex;justify-content:space-between;margin:10px 20px;'>
            <span style='font-weight:bold'>会议专享促销活动</span>
            <el-button type="primary" size='small' icon='plus' @click="handleClick('添加')">添加活动</el-button>
        </div>
        <div>
            <el-table :data="tableData" highlight-current-row v-loading="listLoading" style='font-size:13px;' border>
                <el-table-column prop="id" label="活动ID" width="auto">
                </el-table-column>
                <el-table-column prop="pName" label="活动名称" width="auto">
                </el-table-column>
                <el-table-column prop="pStatus" label="状态" width="90">
                    <template slot-scope='scope'>
                        <span>{{scope.row.pStatus | transferStatus}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="effectFrom" label="活动时间" width="170">
                    <template slot-scope='scope'>
                        <span>{{scope.row.effectFrom | changeti}}至{{scope.row.effectTo | changeti}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="createdAt" label="发布时间" width="160">
                    <template slot-scope='scope'>
                        <span>{{scope.row.createdAt | changeti}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="showType" label="资源位" width="80">
                </el-table-column>
                <el-table-column prop="isCode" label="邀请码" width="80">
                    <template slot-scope='scope'>
                        <el-button type='text' v-if="scope.row.isCode == '已生成'" size='small'  @click='handleCode(scope.row)'>{{scope.row.isCode}}</el-button>
                        <span v-else>{{scope.row.isCode}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="isWMS" label="WMS" width="80">
                </el-table-column>
                <el-table-column prop="top_value" label="限制活动商品购买金额" width="110">
                </el-table-column>
                <el-table-column label="操作"  width='300'>
                    <template slot-scope="scope">
                        <el-button size='small' v-if="scope.row.pStatus === 3" @click="handleFrame(scope.row,'5','上架')" type="primary" style="margin-bottom: 10px">上架</el-button>
                        <el-button size='small' v-if="scope.row.pStatus === 5" @click="handleFrame(scope.row,'6','下架')" type="warning" style="margin-bottom: 10px">下架</el-button> 
                        <el-button size='small' @click="handleClick('编辑',scope.row)" v-if='scope.row.pStatus <6 ' type="info" style="margin-bottom: 10px">编辑</el-button>
                        <el-button size='small' v-if='scope.row.pStatus >= 6' @click="handleClick('查看',scope.row)" type="primary" style="margin-bottom: 10px">查看</el-button>
                        <el-button size='small' v-if='scope.row.pStatus > 4'  @click='jumTo(scope.row)' style="margin-bottom: 10px">统计</el-button>
                        <el-button size='small' v-if="scope.row.isCode === '启用' && scope.row.initCode === 'false'" @click='generateCode(scope.row)' type="primary" plain style="margin-bottom: 10px">生成邀请码</el-button>
                        <el-button size='small'  @click='handleWhitelist(scope.row)' type="info" plain style="margin-bottom: 10px">白名单</el-button>   
                        <el-button size='small'  @click='handleDelete(scope.row.pCode)' v-if="scope.row.pStatus ==3" type="danger" style="margin-bottom: 10px">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination  layout="prev, pager, next"  :total="total" small :pageSize='pageSize'  @current-change="handleCurrentChange"  :current-page='currentPage' ref='current' pagination='1'></el-pagination>
             <!-- 添加/编辑页面的参与活动的商品列表 ,（formData是否有值）点击添加不显示，编辑显示,查看显示-->
            <el-dialog :title="title" :visible.sync="addFormVisible" :close-on-click-modal="true" style='font-size:10px;' customClass="autoWidth">
                <el-form ref="obj" v-model="obj" label-width="160px">
                    <el-form-item label="活动名称" required>
                        <el-input v-model="obj.prmotionName"   size='small' style='width:50%'></el-input>
                    </el-form-item> 
                     <el-form-item label="选择活动资源位" required>
                        <el-radio-group v-model="obj.showType" >
                            <el-radio label="资源位一 > 广告型"></el-radio>
                            <el-radio label="资源位二 > 橱窗型"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="活动图片" required>  
                        <template >
                            <div style='display:inline-block;width:110px;'>
                                <img :src="obj.showUrl" style='width:100px;height:100px;' v-if='obj.showUrl'/>
                                <a href="javascript:void(0)" class="up-file">
                                    <input type="file" value="" @change="fileImage" data-input = '2'  @click='handleClear'/>选择橱窗图片
                                </a>
                            </div>
                            <div style='display:inline-block;width:110px;' v-if="obj.showType === '资源位一 > 广告型'">
                                <img :src="obj.broadUrl" style='width:100px;height:100px;' v-if='obj.broadUrl'/>
                                <a href="javascript:void(0)" class="up-file">
                                    <input type="file" value="" @change="fileImage" data-input = '1' @click='handleClear'/>选择广告图片
                                </a>
                            </div>
                        </template>
                    </el-form-item>  
                    <el-form-item label="会议活动时间" required>
                        <el-date-picker v-model="obj.effect_from"  size='small' type="datetime" placeholder="开始日期" style="width:30%"  :disabled='disabled' :picker-options="pickerOptions">
                        </el-date-picker>
                        <span>-</span>
                        <el-date-picker v-model="obj.effect_to" :picker-options="pickerOptions1" size='small' type="datetime" placeholder="结束日期" style="width:30%" >
                        </el-date-picker>
                    </el-form-item>   
                    <el-form-item label="启用邀请码" required >
                        <el-radio-group v-model="obj.isCode">
                            <el-radio label="启用"></el-radio>
                            <el-radio label="不启用"></el-radio>
                        </el-radio-group>
                        <div v-if="obj.isCode === '启用'" >
                            <!-- <span>限制邀请码使用次数</span>
                            <el-input type='number' size='small'  style='width:20%' :min='1' v-model='obj.codeNum'></el-input>
                            <span style='font-size:10px;color:red;'>*不填不限制使用次数</span> -->
                            <el-form-item label='App首页活动码提示语' required>
                                <el-input  v-model='obj.codeValidRemind'  style='width:40%' size='small' placeholder="例:请输入活动码进入活动专场"></el-input>
                            </el-form-item>
                            <el-form-item label='App活动码失效提示语' required>
                                <el-input  v-model='obj.codeInvalidRemind'  style='width:40%' size='small' placeholder="例:活动码有误或失效"></el-input>
                            </el-form-item>       
                        </div>
                    </el-form-item>  
                    <el-form-item label='是否推送WMS' required>
                        <el-radio-group v-model="obj.isWMS" >
                            <el-radio label="推送"></el-radio>
                            <el-radio label="不推送"></el-radio>
                        </el-radio-group>
                    </el-form-item>  
                    <el-form-item label='限制活动商品购买金额'>
                        <el-input  v-model='obj.top_value' :min='1' type='number' style='width:20%' size='small'></el-input>
                        <span style='font-size:10px;color:red;'>*为空，则不限额</span>
                    </el-form-item>        
                </el-form>
                <el-row style="float:right;margin-bottom:10px;"> 
                     <el-button size='small' type="primary" @click='addProduct'>添加商品</el-button>
                </el-row>
               <div v-if='formData.length > 0'>
                   <span style='font-size:10px;color:red;'>*商品限购为0,表示不限购;&nbsp;&nbsp;优惠不选择，默认无优惠</span>
                    <el-table :data='formData' style='margin-bottom:10px;font-size:12px;'>
                        <el-table-column label='橱窗展示' width='90'>
                            <template slot-scope='scope'>
                                 <el-checkbox v-model="scope.row.isShow"></el-checkbox>
                            </template>
                        </el-table-column>
                        <el-table-column label='商品图' prop='img' width='80'>
                            <template slot-scope='scope'>
                                <img :src="scope.row.img" alt="" style='width:40px;height:40px;'>
                            </template>
                        </el-table-column>
                        <el-table-column label='商品名称' prop='name' width='auto'>
                        </el-table-column>
                        <el-table-column label='SKU' prop='skuCode' width='90'>
                        </el-table-column>
                        <el-table-column label='商品库存' prop='amount' width='90'>
                        </el-table-column>
                        <el-table-column label='活动库存' prop='skuNum' width='115'>
                            <template slot-scope="scope">
                                <el-input type='number' v-model="scope.row.skuNum" :min="1" :max='scope.row.amount' size='small' style='width: 100%;' @keyup.native="handleChange(scope.row,scope.$index)"></el-input>  
                            </template> 
                        </el-table-column>
                        <el-table-column label='商品限购' prop='restriction' width='115'>
                             <template slot-scope="scope">
                                <el-input type='number' v-model="scope.row.restriction" :min="0" :max='scope.row.skuNum' size='small' style='width: 100%;' @keyup.native='handleChange(scope.row, scope.$index)'></el-input>  
                            </template> 
                        </el-table-column>
                        <el-table-column label='优惠' width='134'>
                            <template slot-scope='scope'>
                                 <el-select v-model="scope.row.isCheck" placeholder="请选择" style='font-size:12px;' size='small'>
                                    <el-option v-for="item in offerList" :key="item.id"  :value='item.value' style='font-size:12px;' >
                                    </el-option>
                                </el-select>
                            </template>
                        </el-table-column>
                        <el-table-column label='' width='70'>
                            <template slot-scope='scope'>
                                <el-button type="danger" size='small' @click="deleteProduct(scope.$index,formData)">删除</el-button>
                            </template> 
                        </el-table-column>
                    </el-table>
                    <el-row style='display:flex;margin-top:10px;'> 
                        <el-button size='small' @click="handleCreate"   :loading='submitLoading'>&nbsp;确认&nbsp;</el-button>
                        <el-button size='small' @click.native='addFormVisible = false' >&nbsp;取消&nbsp;</el-button>
                    </el-row> 
                </div>
            </el-dialog>
            <!-- 点击添加商品 -->
            <el-dialog title="会议专享促销活动 > 增加加商品" :visible.sync="formVisible" :close-on-click-modal="true" style='font-size:12px;' customClass="autoWidth" >
                <el-row>
                    <el-col :span='5' style='margin: auto 5px;'>
                        <template>
                            <el-select v-model="opt" placeholder="请选择" size='small'> 
                                <el-option v-for="item in options" :key="item.value" :label="item.label"  :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-col>
                    <el-col :span='5' style='margin: auto 5px;'>
                        <el-input v-model='name' placeholder="请输入商品名称" size='small'></el-input>
                    </el-col>
                    <el-col :span='5' style='margin: auto 5px;'>
                        <el-input v-model='code' placeholder="请输入商品编码" size='small'></el-input>
                    </el-col>
                    <el-col :span='5' style='margin: auto 5px;'>
                        <template>
                            <el-select v-model="pStatus" placeholder="请选择" size='small'>
                                <el-option v-for="item in psList" :key="item.value" :label="item.label"  :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-col>
                </el-row>
               <el-row>
                   <el-col :span='6' style='margin-top:10px;'>
                       <el-button size='small' type='primary' @click='getProduct'>搜索</el-button>
                   </el-col>
               </el-row>
                <el-table :data='productData'  style='margin-bottom:10px;font-size:12px;margin-top:5px;' @selection-change="handleSelectionChange" v-loading="productLoading">
                    <el-table-column type="selection"  width="55" label='选择'>
                    </el-table-column>
                    <el-table-column prop="img" label="商品图" width="80">
                        <template slot-scope='scope'>
                            <img :src="scope.row.img" alt="" style='width:40px;height:40px;'>
                        </template>
                    </el-table-column>
                    <el-table-column prop="name" label="商品名称" width="auto">
                    </el-table-column>
                    <el-table-column prop="skuCode" label="SKU" width="100">
                    </el-table-column>
                    <el-table-column prop="price" label="价格" width="60">
                    </el-table-column>
                    <el-table-column prop="amount" label="库存" width="80">
                    </el-table-column>
                    <el-table-column prop="status" label="状态" width="100">
                        <template slot-scope='scope'>
                            <span>{{scope.row.status  | transfer}}</span>
                        </template>
                    </el-table-column>
                </el-table>
                <div style='display:flex;justify-content:space-between'>
                    <el-pagination  layout="prev, pager, next"  :total="pTotal" small :pageSize='pSize'  @current-change="handleCurrentChange" ref='current' pagination='2'></el-pagination>
                    <div>
                        <el-button size='small' type='primary' @click='handleConfirm'>确认</el-button>
                        <el-button size='small' type='primary' @click.native=' formVisible = false '>取消</el-button>
                    </div>
                </div> 
            </el-dialog>
            <el-dialog title='邀请码' :visible.sync='visible' :close-on-click-modal="true" customClass="codeWidth">
                <el-form ref="form" v-model="form" label-width="180px">
                    <el-form-item label='请输入生成邀请码的数量' required>
                        <el-input v-model='form.codeNum' type='number' :min='0' style='width:80%' :max='10000'></el-input>
                        <span style='display:block;font-size:10px;color:red'>*生成邀请码数量0~10000之间</span>
                    </el-form-item>
                </el-form>
                <el-button size='small' type='primary' @click='handleSubmit'>确认</el-button>
            </el-dialog>
            <el-dialog title='邀请码列表' :visible.sync='visibleCode' :close-on-click-modal="true" customClass="vcodeWidth">
                <el-row>
                    <el-input style='width:30%' size='small' v-model='inputVal'></el-input>
                    <el-button size='small' icon='search' type="primary" @click='codeListSearch'>查询</el-button>
                    <el-checkbox v-model="isChecked">未绑定cpid</el-checkbox>
                </el-row>
                <el-table :data="codeList" highlight-current-row  style='font-size:13px;margin-top:10px;' border>
                    <el-table-column prop="code" label="code" width="auto">
                    </el-table-column>
                    <el-table-column prop="cpId" label="cpId" width="auto">
                    </el-table-column>
                    <el-table-column prop="bindAt" label="绑定时间" width="auto">
                    </el-table-column>
                </el-table>
                <el-pagination  layout="prev, pager, next"  :total="cTotal" small :pageSize='cPage'  @current-change="handleCurrentChange" :current-page='cCurrent' pagination='3' ref='current'></el-pagination>
            </el-dialog>
            <el-dialog title='白名单' :visible.sync='whiteForm.visibleList' :close-on-click-modal="true" customClass="vcodeWidth">
                <el-row :gutter='20'>
                    <el-col :span='6'> <el-input style='width:100%' size='small' v-model='whiteForm.cpId' placeholder="请输入CPID"></el-input></el-col>
                    <el-button size='small' icon='plus' type="primary" @click='addWhite()'>添加</el-button>
                    <el-button type="primary" size="small" @click="uploadExcall" icon='upload2'>
                        <input type="file" ref="input" @change="uploadChange" style="display:none">批量导入
                    </el-button>
                    <el-button size='small' icon='search' type="primary" @click="getWhiteList('查询')">查询</el-button>
                    <el-button size='small' type="primary" v-if="whiteForm.pCodeStatus===0" @click="handleSwitch('开启')">开启白名单</el-button>
                    <el-button size='small' type="primary" v-else @click="handleSwitch('关闭')">关闭白名单</el-button>
                </el-row>
                <el-table :data="whiteForm.whiteList" highlight-current-row  style='font-size:13px;margin-top:10px;' border>
                    <el-table-column prop="cpId" label="cpId" width="auto">
                    </el-table-column>
                    <el-table-column prop="status" label="状态" width="auto">
                        <template slot-scope="scope">
                            <span>{{scope.row.status===0?"已失效":"已生效"}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column  label="操作" width="auto">
                        <template slot-scope='scope'>
                            <el-button size='small' type="primary" @click="update(scope.row)" v-if='scope.row.status == 0'>生效</el-button>
                            <el-button size='small' type="warning"  @click="update(scope.row)" v-if='scope.row.status == 1'>失效</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination  layout="prev, pager, next"  :total="whiteForm.total" small :pageSize='whiteForm.pageSize' :current-page='whiteForm.currentPage' @current-change="handleCurrentChange" pagination='4' ref='current'></el-pagination>
            </el-dialog>
        </div>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import * as qiniu from 'qiniu-js'
import b64toBlob from 'b64-to-blob'
export default {
    data(){
        return {
            projectName:'',
            projectState:'',
            stateList:[
                {id:undefined,state:'全部'},
                {id:3,state:'待发布'},
                {id:5,state:'已生效'},
                {id:6,state:'人工下线'},
                {id:7,state:'已失效'},
            ],
            skuCode:'',
            productName:'',
            nowDate:'', //当前时间
            tableData : [],                           //活动列表查询
            listLoading : false,
            total:3,                                 //会议促销页面的分页
            currentPage:1,
            pageSize:10,
            pTotal:3,                                //商品页面的分页
            pCurrent:1,
            pSize:10,
            addFormVisible :false,                   //会议专享促销活动 > 增加活动弹出框
            formVisible:false,                       //会议专享促销活动 > 增加加商品弹出框
            obj:{
                prmotionName:'',
                effect_from : '',
                effect_to:'',
                showType :'',
                isCode : '',
                codeNum : '',  
                broadUrl:'',
                showUrl:'',
                isWMS:''
            }, 
            formData:[],                             //编辑页面的参与活动的商品列表
            productData:[],                          //商品列表
            imageUrl1:'',
            imageUrl2:'',
            name:'',                                 //商品名称
            code:'',                                 //商品编码
            opt : '',
            options:[
                {id:'',value:'所有分类'},
                {id:'NORMAL',value:'普通'},
                {id:'COMBINE',value:'组合'}
            ],
            offerList:[
                {id:'0',value:'无优惠'},
                {id:'1',value:'买一赠一'},
                {id:'2',value:'买二赠一'},
                {id:'3',value:'买三赠一'},
            ],
            pStatus : '',                             //商品状态
            psList : [                                //商品状态列表
                {id:'',value:'全部'},
                {id:'DRAFT',value:'草稿'},
                {id:'FORSALE',value:'预售'},
                {id:'INSTOCK',value:'下架'},
                {id:'ONSALE',value:'上架'}
            ],
            disabled:  false ,
            pickerOptions:{
                disabledDate: (time) => {
                    return time.getTime() < Date.now() - 8.64e7;
                }
            },
            pickerOptions1:{
                disabledDate: (time) => {
                    return time.getTime() < new Date(this.obj.effect_from) - 8.64e7;
                }
            },                      
            productLoading : false,
            productCode:'',
            clickName:'',
            multipleSelection : [],
            middle:[],
            isButton:true,
            uploadImgToken:'',
            cropImg:'',
            title:'',                              //点击添加为会议专享促销活动 > 增加活动 ，点击编辑会议专享促销活动 > 编辑活动
            submitLoading : false,                 //点击确认按钮时，loading  
            promotionProduct : global.promotionProductUrl,
            promotion : global.promotionUrl,
            queryPromotionBaseInfoList : global.queryPromotionBaseInfoList,
            updatePromotionStatusByPcode : global.updatePromotionStatusByPcode,
            promotionEdit : global.promotionEditUrl,
            initInviteCode : global.initInviteCodeUrl,
            dataURL1:'', //图片路径
            dataURL2:'',
            type:'',
            visible:false,
            form:{
                codeNum:'',
                pCode:''
            },
            url:'',
            queryUpToken:global.queryUpToken,
            visibleCode:false,
            codeList:[],
            cTotal:1,
            cCurrent:1,
            cPage:20,
            isChecked:false,
            inputVal:'',
            pCode:'',
            whiteForm:{
                whiteList:[],
                visibleList:false,
                cpId:'',
                pCode:'',
                currentPage:1,
                pageSize:10,
                total:1,
                pCodeStatus:0,
            }

        }
    },
    mounted(){
        this.getData();
        this.getQiniuToken();
        this.nowDate = Date.parse(new Date());
    },
    methods:{
        handleClear(ev){
            ev.target.value='';
        },
        fileImage(ev) {
            let file, imgSize, reader
            file = ev.target.files[0];
            imgSize=file.size/1024;
            if(imgSize>3072){
                console.log('请上传大小不要超过400KB的图片')
            }else{
                let splitTemp;
                reader = new FileReader();
                reader.readAsDataURL(file); // 读出 base64
                reader.onloadend = ()=> {
                    if(ev.target.getAttribute('data-input') === '1'){
                        this.dataURL1 = reader.result;  // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                        splitTemp = this.dataURL1.split(';base64,')
                        let contentType = splitTemp[0].replace('data:', '')
                        let b64Data = splitTemp[1]
                        let blob = b64toBlob(b64Data, contentType)
                        this.uploadPhoto(blob,'1')
                    }else{
                        this.dataURL2 = reader.result;  // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                        splitTemp = this.dataURL2.split(';base64,')
                        let contentType = splitTemp[0].replace('data:', '')
                        let b64Data = splitTemp[1]
                        let blob = b64toBlob(b64Data, contentType)
                        this.uploadPhoto(blob,'2')
                    }
                }
            }
        },
        //获取token
        getQiniuToken: function() {
            const _this = this;
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({})
            )
            fetch( this.queryUpToken,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if (res.isSuccess === 1) {
                    _this.uploadImgToken = res.result.key;
                    _this.url = res.result.bucketHostName;
                }
            })
        },
        // 上传图片到七牛云
        uploadPhoto(file,val) {
            const IMG_HOST = this.url;
            let img = new Image()
            img.src = URL.createObjectURL(file)
            let vm = this
            let fileName = Date.now() + Math.random().toString().slice(-5)
            let putExtra = {
                mimeType: ['image/png', 'image/jpeg', 'image/gif']
            }
            let config = {
                useCdnDomain: true
            }
            return new Promise((resolve, reject) => {
                let observable = qiniu.upload(file, fileName, this.uploadImgToken, putExtra, config)
                let observer = {
                    next(res) {
                        console.log('observer next res')
                        console.log(res)
                    },
                    error(err) {
                        console.log('observer error err')
                        console.log(err)
                    },
                    complete(res) {
                        console.log('observer complete')
                        console.log(res)
                        if(val == '1'){
                            vm.obj.broadUrl = IMG_HOST + res.key;
                        }else{
                            vm.obj.showUrl = IMG_HOST + res.key;;
                        }
                    }
                    
                }
                let subscription = observable.subscribe(observer) // 上传开始
                // subscription.unsubscribe() // 上传取消
            })
        },
        //获取会议促销列表
        getData:function(){
            this.listLoading = true;
            let pStatus;
            for(let ele of this.stateList){
                if( ele.state === this.projectState ) pStatus = ele.id;
            }
            let formData = JSON.stringify({
                pageNum : this.currentPage,
                pageSize : this.pageSize,
                pName : this.projectName?this.projectName:undefined,
                pStatus : pStatus?pStatus:undefined,
                productName : this.productName?this.productName:undefined,
                skuCode : this.skuCode?this.skuCode:undefined,

            })
            fetch(this.queryPromotionBaseInfoList,{
                method : 'POST',
                body : formData,
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then(res=>res.json()
            ).then(res=>{
                this.listLoading = false;
                if(res.isSuccess === 1){
                    this.total = res.result.totalCount;
                    for(let ele of res.result.resultList){
                        ele.isCode = ele.isCode === 'on' ? ele.initCode === 'true' ? '已生成' : '启用' : '不启用';
                        ele.isWMS =  ele.isWMS === 'on' ? '推送' : '不推送';
                        ele.showType = ele.showType === '1' ? '广告型' : '橱窗型';
                    }
                    this.tableData = res.result.resultList;
                }else{
                    this.$message({
                        message:'获取信息失败，请重试！',
                        type:'error'
                    })
                }
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        },
        //分页切换
        handleCurrentChange(val){
            if(this.visibleCode === true){
                 this.cCurrent = val;
                this.getCodeList();
            }else if(this.whiteForm.visibleList === true){
                 this.whiteForm.currentPage = val;
                this.getWhiteList();
            }else if(this.formVisible===true){
                this.pCurrent = val;
                for(let ele of this.multipleSelection){
                    ele.skuNum = ele.amount;
                    ele.restriction = 0;
                }
                this.formData=this.formData.concat(this.multipleSelection);
                this.getProduct();
            }else{
                 this.currentPage = val;
                 this.getData();
            }
        },
        // 点击添加活动或编辑
        handleClick:function(val,rows){ 
            if(val==='添加'){
                this.title='会议专享促销活动 > 添加活动'
                this.addFormVisible = true;
                this.obj = Object.assign({},{ 
                    prmotionName:'',
                    effect_from :'',
                    effect_to:'',
                    showType :'',
                    isCode : '',
                    codeNum : '',
                    isWMS:'',
                    top_value:'' ,
                    broadUrl:'',
                    showUrl:'',
                    codeValidRemind:'',
                    codeInvalidRemind:''
                });
                this.formData.length = 0;
            } else{
                let now = new Date();
                let bool;
                now.getTime() < rows.effectTo && (rows.pStatus == 5 || rows.pStatus == 3) ? bool = 1 : bool = 0;
                this.$router.push({
                     path: '/meeting/editMeeting',
                     query: {
                        pCode: rows.pCode ,
                        isShow:bool,
                        pStatus:rows.pStatus,
                        title:val
                     }
                })
            }   
        },
        // 添加商品
        addProduct:function(){
            this.formVisible = true;
            this.getProduct();
        },
        //实时获取被选中的商品
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        //添加商品页面
        handleConfirm:function(){
            this.formVisible = false;
            for(let ele of this.multipleSelection){
                ele.skuNum = ele.amount;
                ele.restriction = 0;
            }
            this.formData=this.formData.concat(this.multipleSelection);
        },
        //创建活动确定
        handleCreate:function(){
            if(this.obj.prmotionName === ''){
                this.$message({
                    message:'活动名称不能为空!',
                    type:'error'
                })
                return false
            }else if(this.obj.effect_to === '' && this.obj.effect_from ==='' ){
                this.$message({
                    message:'会议活动时间不能为空!',
                    type:'error'
                })
                return false
            }else if(this.obj.showType === ''){
                this.$message({
                    message:'请选择活动资源位!',
                    type:'error'
                })
                return false
            }else if(this.obj.showUrl === ''){
                this.$message({
                    message:'请选择需要上传的图片!',
                    type:'error'
                })
                return false
            }else if(this.obj.showType === '资源位一 > 广告型' && this.obj.broadUrl === ''){
                 this.$message({
                    message:'请选择需要上传的图片!',
                    type:'error'
                })
                return false
            }else if(this.obj.isCode === ''){
                this.$message({
                    message:'请选择是否启用邀请码!',
                    type:'error'
                })
                return false
            }else if(this.obj.isCode === '启用' && this.obj.codeValidRemind === ''){
                this.$message({
                    message:'请输入App首页活动码提示语!',
                    type:'error'
                })
                return false
            }else if(this.obj.isCode === '启用' && this.obj.codeInvalidRemind === ''){
                 this.$message({
                    message:'请输入App活动码失效提示语!',
                    type:'error'
                })
                return false
            }else if(this.obj.isWMS === ''){
                this.$message({
                    message:'请选择是否推送WMS!',
                    type:'error'
                })
                return false
            }else{
                this.submitLoading = true;
                let showType = this.obj.showType === '资源位一 > 广告型' ? 1 : 2;
                let isWMS = this.obj.isWMS === '推送' ? 'on':'off';
                let products = [];
                for(let ele of this.formData){
                   let el = Object.assign({},{productId:'',skuCode:'',skuNum:'',restriction:'',gift:'',isShow:'',});
                   el.productId = parseInt(ele.productId);
                   el.skuCode = ele.skuCode;
                   el.skuNum = ele.skuNum;
                   el.restriction = ele.restriction;                                     
                   switch(ele.isCheck){  
                       case '无优惠'   : el.gift = 0 ;break;
                       case '买一赠一' : el.gift = 1 ;break;
                       case '买二赠一' : el.gift = 2 ;break;
                       case '买三赠一' : el.gift = 3 ;break;
                       default: el.gift = 0 ;break;
                   }                               //1(选择买一送一)/0(都不选择)/2(买二赠一)/3(买三赠一)
                   el.isShow = ele.isShow ===true ? 1 : 2;                              //1(显示)/2(不显示)
                   products.push(el);
                }
                let isCode = this.obj.isCode === '启用' ? 'on' : 'off';
                let formData = JSON.stringify({
                    prmotionName : this.obj.prmotionName,
                    beginDate : this.changeTime(this.obj.effect_from),
                    endDate : this.changeTime(this.obj.effect_to),
                    status : 0,
                    configs : [
                        {configName:"isCode",configValue:isCode},                                                 //是否启用邀请码on/off(on开启邀请码/off取消邀请码)
                        {configName:"code",configValue:""},                                                       //邀请码
                        {configName:"codeNum",configValue:this.obj.codeNum},                                      //限制邀请码使用次数
                        {configName:"top_value",configValue:this.obj.top_value},                             // 限制购买金额
                        {configName:"showType",configValue:showType} ,                                              //1/2（1 广告型/2 橱窗型）
                        {configName:"isWMS",configValue:isWMS},
                        {configName:"broadUrl",configValue:this.obj.broadUrl},
                        {configName:"showUrl",configValue:this.obj.showUrl},
                        {configName:"codeValidRemind",configValue:this.obj.codeValidRemind} ,
                        {configName:"codeInvalidRemind",configValue:this.obj.codeInvalidRemind}  
                    ],
                    products : products,
                })
                fetch(this.promotion,{
                    method:'POST',
                    body:formData,
                    headers: {
                        'Content-Type': 'application/json',
                     },
                }).then(res=>res.json()
                ).then(res=>{
                    this.submitLoading = false;
                    if(res.isSuccess === 1){
                        this.addFormVisible = false;
                        this.getData();
                        this.$message({
                            message:res.result,
                            type:'info'
                        })   
                    }else{
                        this.$message({
                            message:'创建活动失败,请重试!',
                            type:'error'
                        })   
                    }
                }).catch(e=>{
                    this.submitLoading = false;
                    this.addFormVisible = false;
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }
        
 
        },
        //新增商品查询接口
        getProduct:function(){
            this.productLoading = true;
            let formData = new FormData();
            let status='',type='',skuCodes=[];
            for(let ele of this.options){
                if(ele.value === this.opt) type = ele.id ;
            }
            for(let ele of this.psList) {
                if(ele.value === this.pStatus) status = ele.id ;
            }
            for(let ele of this.formData){
                skuCodes.push(ele.skuCode);
            }
            skuCodes = skuCodes.length === 0 ? null : skuCodes;
            formData = JSON.stringify
                ({
                    skuCodes : skuCodes,
                    status : status,                     //商品状态DRAFT=草稿,FORSALE=预售,INSTOCK=下架,ONSALE=上架
                    type : type,                         //商品分类NORMAL-普通  COMBINE-组合
                    name : this.name,
                    code : this.code,
                    pageNum : this.pCurrent,
                    pageSize : this.pSize	
                })
            fetch(this.promotionProduct,{
                method:'POST',
                body:formData,
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(res=>res.json()
            ).then(res=>{
                this.productLoading = false;
                if(res.isSuccess === 1){
                    for(let ele of res.result.list){
                        ele = Object.assign(ele,{gift:false,skuNum:'',restriction:'',isShow:false});
                    }
                 
                    this.productData = res.result.list;
                    this.pTotal = res.result.total;
                }else{
                    this.$message({
                        message:'获取商品信息失败！',
                        type:'error'
                    })
                }
            }).catch(e=>{
                this.productLoading = false;
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })

        },
        //活动上下架接口 
        handleFrame:function(row,status,value){
            let rows = row;
            let sta = status;
            let val = value;
            let title;
            if(val === '上架'){
                title = '请确认活动商品是上架状态'
            }else{
                title = '活动下架后，请将对应的商品下架'
            }
            this.$confirm(title, '提示', {}).then(() => {
                this.editFormVisible = false;
                let formData = JSON.stringify({
                    pCode : rows.pCode,
                    pStatus : sta
                })
                fetch(this.updatePromotionStatusByPcode,{
                    method:'POST',
                    body:formData,
                    headers: {
                        'Content-Type': 'application/json',
                    }, 
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.$message({
                            message:val+'成功!',
                            type:'info'
                        })
                        this.getData();
                    }else{
                        this.$message({
                            message:val+'失败!',
                            type:'error'
                        }) 
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }).catch(() => {
                
            });
        },
        //时间转换
        changeTime:function(val){
            let date = new Date(val);
            let yy = date.getFullYear() + '-';
            let mm = ((date.getMonth()+1) < 10 ? '0'+(date.getMonth()+1) :(date.getMonth()+1)) + '-';
            let dd = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
            let hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours())+ ':';
            let min = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
            let ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
            let aa= yy  + mm  + dd  + hh  + min + ss;
            return aa
        },
        //限制商品限购数量小于活动库存
        handleChange:function(val,index){
            if((val.restriction + '').substr(0,1) == 0 && (val.restriction + '').length > 1) 
                this.formData[index] = Object.assign(this.formData[index], {restriction: (val.restriction + '').substr(1)})
            if(val.skuNum - 0 <= 0 || val.skuNum - 0 > val.amount - 0 || val.skuNum == ''){
                this.formData[index] = Object.assign(this.formData[index], {skuNum: 1})
            }
            if(val.skuNum - 0 < val.restriction - 0 || val.restriction == ''){
               this.formData[index] = Object.assign(this.formData[index], {restriction: 0})
            }
            
        },
        //生成邀请码
        generateCode:function(val){
            this.form.codeNum = '';
            this.form.pCode = val.pCode;
            this.visible = true;
        },
        //生成邀请码数量界面
        handleSubmit:function(val){
            if(this.form.codeNum > 0 && this.form.codeNum <= 10000){
                this.visible = false;
                 this.listLoading = true;
                fetch(this.initInviteCode+'?pCode='+this.form.pCode+'&codeNum='+this.form.codeNum,{
                        method:'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                }).then(res=>res.json()
                ).then(res=>{
                        this.listLoading = false;
                        if(res.isSuccess === 1){
                            this.$message({
                                message:res.result,
                                type:'info'
                            })
                            this.getData();
                        }else{
                        this.$message({
                                message:'生成邀请码失败,请重试!',
                                type:'error'
                            })  
                        }
                }).catch(e=>{     
                        this.listLoading = false;  
                        this.$message({
                            message:'网络错误,请重试!',
                            type:'error'
                        })
                })
            }else{
                this.form.codeNum = '';
                this.$message({
                    message:'请输入0~10000的数字',
                    type:'error'
                })
            }
           
        },
        //邀请码查询列表
        handleCode(val){
            this.pCode = val.pCode;
            this.isChecked = false;
            this.inputVal = '';
            this.codeListSearch();
        },
        getCodeList(){
            this.visibleCode=true;
            let code = this.inputVal == '' ? "":this.inputVal;
            let formData = {
                    pCode : this.pCode,
                    isTrue : this.isChecked,
                    code : code,
                    pageNo : this.cCurrent,
                    pageSize : this.cPage	
                }
            fetch(global.promotionCodeInfo,{
                method:'post',
                body:JSON.stringify(formData),
                 headers: {'Content-Type': 'application/json;charset=UTF-8'}
            }).then(res=>res.json()
            ).then(res=>{
                for(let ele of res.resultList){
                    ele.cpId = ele.cpId == '0' ? '未绑定cpid' : ele.cpId
                }
                this.codeList = res.resultList;
                this.cTotal = res.totalCount;
            }).catch(e=>{
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })
        },
        codeListSearch(){
            this.cCurrent = 1;
            this.getCodeList();
        },
        //统计跳转
        jumTo(val){
            let isTrue;
            let now = new Date();
            now.getTime() < val.effectTo ? isTrue = true : isTrue = false;
            this.$router.push({
                path: '/conferenceData',
                query: { pCode: val.pCode,isTrue : isTrue}
            })
        },
        deleteProduct(index,rows){
           this.$confirm('确认删除该商品?', '提示', {}).then(()=>{
               rows.splice(index, 1)
           }).catch(()=>{})          
        },
        handleWhitelist(val){
            this.whiteForm = Object.assign({},{
                whiteList:[],
                visibleList:false,
                cpId:'',
                pCode:'',
                currentPage:1,
                pageSize:10,
                total:1,
                pCodeStatus:0,
            })
            this.whiteForm.visibleList = true;
            this.whiteForm.pCode = val.pCode;
            this.whiteForm.pCodeStatus = val.pCodeStatus;
            this.getWhiteList();
        },
        uploadChange(e) {
            let file = e.target.files[0]
            let formData = new FormData()
            formData.append('file', file)
            fetch(global.excel+'/'+this.whiteForm.pCode, {
                method: 'POST',
                body: formData
            }).then(res=>res.json())    
            .then(res=> {
                this.$refs.input.value = '';
                if(res.errorCode==200){
                    this.$message({
                        message:res.data,
                        type:'info'
                    })
                    this.getWhiteList();
                }else{
                    this.$message({
                        message:res.data,
                        type:'error'
                    })
                }
            })
            .catch(e => {
                this.$refs.input.value = '';
                console.log(e);
            })
        },
        uploadExcall() {
            let input = this.$refs.input
            input.click()
        },
        addWhite(){
            if(this.whiteForm.cpId === ''){
                this.$message({
                    message:'请输入CPID',
                    type:'error'
                })
                return false
            }else{
                let data = JSON.stringify({
                    pCode : this.whiteForm.pCode,
                    cpId : this.whiteForm.cpId
                })
                fetch(global.commit+'/meeting',{
                    method:'POST',
                    body:data,
                    headers: {'Content-Type': 'application/json;charset=UTF-8'}
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.errorCode === 200){
                        this.$message({
                            message:res.data,
                            type:'info'
                        })
                        this.getWhiteList();
                    }
                }).catch(e=>{
                    this.$message({
                        message:'新增白名单失败',
                        type:'error'
                    })
                })
            }
           
        },
          //白名单查询
        getWhiteList(val){
            if(val){
                this.whiteForm.currentPage = 1
            }
            let url ;
            let cpId=this.whiteForm.cpId.replace(/\s*/g,"");
            cpId === '' ? url = global.query + `?page=${this.whiteForm.currentPage-1}&size=${this.whiteForm.pageSize}&pCode=${this.whiteForm.pCode}`
                        :
                       url=global.query + `?page=${this.whiteForm.currentPage-1}&size=${this.whiteForm.pageSize}&pCode=${this.whiteForm.pCode}&cpId=${cpId}`
            fetch(url,{
                method:'GET',
            }).then(res=>res.json()
            ).then(res=>{
                res.data.pageInfo === ""?this.whiteForm.whiteList=[]: this.whiteForm.whiteList = res.data.pageInfo;
                this.whiteForm.total = res.data.total;
            }).catch(e=>{
                this.$message({
                    message:'获取数据失败，请重试',
                    type:'error'
                })
            })
        },
        update(val){ 
          let data=JSON.stringify({
              cpId:val.cpId,
              status:val.status == 1?0:1,
          })
            fetch(global.whiteUpdate+'/'+this.whiteForm.pCode,{
               method:'POST',
               body:data,
               headers:{
                    'Content-Type':'application/json;charset=UTF-8',
               },
           }).then(res=>res.json()
           ).then(res=>{
               if(res.errorCode==200){
                   this.$message({
                       message:'更新成功',
                       type:'info'
                   })
                   this.getWhiteList();
               }else{
                     this.$message({
                       message:'更新失败',
                       type:'error'
                   })
               }
           }).catch(e=>{
               this.$message({
                   message:'操作失败',
                   type:'error'
               })
           })
        },
        //开启或关闭
        handleSwitch(val){
            this.$confirm('确定'+val+'?','提示',{}).then(()=>{
                let data = JSON.stringify({
                    pCode:this.whiteForm.pCode,
                    status:this.whiteForm.pCodeStatus==0?1:0,
                })
                fetch(global.whitePromotion,{
                    method:'POST',
                    body:data,
                    headers: {'Content-Type': 'application/json;charset=UTF-8'}
                }).then(res=>res.json()
                ).then (res=>{
                    this.whiteForm.visibleList=false;
                    if(res.errorCode==200){
                        this.$message({
                            message:res.data,
                            type:'info'
                        })
                        this.tableData.findIndex(item => {
                            if (item.pCode === this.whiteForm.pCode) {
                                item.pCodeStatus = this.whiteForm.pCodeStatus==0?1:0;
                            }
                        })
                    }else{
                        this.$message({
                            message:'更新失败',
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.whiteForm.visibleList=false;
                    this.$message({
                        message:'更新失败',
                        type:'error'
                    })
                })
            }) .catch(()=>{})
        },
        //待发布状态删除
        handleDelete(val){
            this.$confirm('确定删除该活动?','提示',{}).then(()=>{
                fetch(global.deletedPromotion+'?pCode='+val,{
                    method:'POST',
                    headers: {'Content-Type': 'application/json;charset=UTF-8'}
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.result){
                        this.$message({
                            message:'删除成功',
                            type:'info'
                        })
                        this.getData();
                    }else{
                        this.$message({
                            message:'删除失败',
                            type:'error'
                        })
                    }
                    // console.log(res);
                }).catch(e=>{
                    console.log(e);
                })
            }).catch(()=>{})
            
            
        },
        handleSearch(){
            this.currentPage = 1;
            this.getData();
        }
        
    },
    filters:{
        // 转换对应状态
        transfer:function(val){
            let value = val;
            switch(value){
                case 'DRAFT' : return '草稿';break;
                case 'FORSALE' : return '预售';break;
                case 'INSTOCK' : return '下架';break;
                case 'ONSALE' : return '上架';break;
            }   
        },
        changeti:function(val,e){
            let date = new Date(val);
            let yy = date.getFullYear() + '-';
            let mm = ((date.getMonth()+1) < 10 ? '0'+(date.getMonth()+1) :(date.getMonth()+1)) + '-';
            let dd = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
            let hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours())+ ':';
            let min = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
            let ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
            let aa= yy  + mm  + dd  + hh  + min + ss;
            return aa
        },
        transferStatus:function(val){
            let value = val;
            // （1：草稿 2：待锁库存 3：待发布 4：已发布待生效 5：已生效 6：人工下线 7：已失效）
            switch(value){
                case 1 : return '草稿';break;
                case 2 : return '待锁库存';break;
                case 3 : return '待发布';break;
                case 4 : return '已发布待生效';break;
                case 5 : return '已生效';break;
                case 6 : return '人工下线';break;
                case 7 : return '已失效';break;
            }
        }
    }
}
</script>
<style >
 .up-file {
     /* padding: 4px 10px; */
     text-decoration:none;
     height: 25px;
     width: 100px;
     text-align: center;
     line-height: 25px;
     position: relative;
     cursor: pointer;
     background: #44bbff;
     color: #FFFFFF;
     border: 1px solid #ddd;
     border-radius: 4px;
     overflow: hidden;
     display: inline-block;
     *display: inline;
    *zoom: 1;
}
 .up-file input {
     position: absolute;
     font-size: 100px;
    right: 0;
     top: 0;
     opacity: 0;
     filter: alpha(opacity=0);
    cursor: pointer;
 }
 .autoWidth{
     width:70%;
 }
 .codeWidth{
     width:30%;
 }
</style>


