<template>
    <section style='padding:10px;'>
        <el-table :data='tableData'  highlight-current-row>
            <el-table-column prop="id" label="模块ID" width="auto">
            </el-table-column>
            <el-table-column prop="name" label="模块名称" width="auto">
            </el-table-column>
            <el-table-column  label="排序" width="auto">
                <template slot-scope="scope" >
                    <div style='display:flex;flex-direction:column;justify-content:flex-start'>
                        <el-button icon='caret-top' type='text' style='width:10px;padding:0px !important' @click="sort(scope.row,'up')" :disabled="scope.$index === 0"></el-button>
                        <el-button icon='caret-bottom' type='text' style='width:10px;margin-left:0px !important;padding:0px !important' @click="sort(scope.row,'down')" :disabled="scope.$index == tableData.length-1"></el-button>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="status" label="状态" width="auto">
                <template slot-scope='scope'>
                    {{scope.row.status==0?'已禁用':'已启用'}}
                </template>
            </el-table-column>
            <el-table-column prop="cpid" label="创建账号" width="auto">
            </el-table-column>
            <el-table-column prop="updatedAt" label="修改时间" width="auto">
                 <template slot-scope='scope'>
                    {{scope.row.updatedAt|transfer}}
                </template>
            </el-table-column>
            <el-table-column label="操作" width="auto">
                <template slot-scope='scope'>
                    <el-button type='text' @click="handleEdit(scope.row)" style="color:#7511a9">编辑</el-button>
                    <el-button type='text' @click="handleClick('禁用',scope.row)" v-show="scope.row.status ==1" style="color:red">禁用</el-button>
                    <el-button type='text' @click="handleClick('启用',scope.row)" v-show="scope.row.status ==0">启用</el-button>
                </template>
            </el-table-column>
        </el-table>
        <!-- 编辑新人专区 -->
        <el-dialog title='编辑新人专区'  :visible.sync="newCommerVisible" label-width="100px" customClass='newChannel' width= "90%" id="maple" :close-on-click-modal= "false">
            <el-form ref="newForm" :model="freshManForm" :rules="rules" :inline="true" label-position='right' >
                <el-row>
                    <el-col :span='12'>
                        <el-tooltip class="item" effect="dark" content="最多支持6个字符" placement="top">
                            <el-form-item label='模块标题' prop='title'>
                                <el-input v-model='freshManForm.title'></el-input>
                            </el-form-item>
                        </el-tooltip>
                    </el-col>
                    <!-- <el-col :span='12'>
                        <el-form-item label='模块副标题' >
                            <el-input v-model='freshManForm.subtitle' ></el-input>
                        </el-form-item>
                    </el-col> -->
                </el-row>
                <el-row>
                    <el-col :span='12'>
                        <el-form-item label='专区限购'  required>
                            <el-input v-model='freshManForm.buylimit' type='number' style='width:60%' min=1 
                                @keyup.native="handleBlur"
                            ></el-input>&nbsp;&nbsp;件
                        </el-form-item>
                    </el-col>
                    <el-col :span='12'>
                        <el-form-item label='专区邮费' required>
                            <el-input v-model='freshManForm.postfree' type='number' style='width:60%' min='0'  @keyup.native="handleBlur"></el-input>&nbsp;&nbsp;元
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-tabs v-model="activeName" @tab-click="handleSwitch" type="border-card" ref='tabs'>
                <el-tab-pane label="tab1" name="first" >
                    <Tabs :tabs="'tabs1'" :handleAdd='handleAdd' :content='freshManForm.tabname1' :activeName="activeName" :deleteActivedIndex = 'deleteActivedIndex' :loading='product.loading'
                    :activeInventoryComfirm= "activeInventoryComfirm" :arraySpanMethod= "arraySpanMethod" :mergeCell= "mergeCell" v-if="isShowTabs" :hasTabLoading="hasTabLoading"></Tabs>
                </el-tab-pane>
                <el-tab-pane label="tab2" name="second">
                    <Tabs :tabs="'tabs2'" :handleAdd='handleAdd' :content='freshManForm.tabname2' :activeName="activeName" :deleteActivedIndex = 'deleteActivedIndex' :loading='product.loading'
                    :activeInventoryComfirm= "activeInventoryComfirm" :arraySpanMethod= "arraySpanMethod" :mergeCell= "mergeCell" v-if="isShowTabs" :hasTabLoading="hasTabLoading"></Tabs>
                </el-tab-pane>
                <el-tab-pane label="tab3" name="third">
                    <Tabs :tabs="'tabs3'" :handleAdd='handleAdd' :content='freshManForm.tabname3' :activeName="activeName" :deleteActivedIndex = 'deleteActivedIndex' :loading='product.loading'
                    :activeInventoryComfirm= "activeInventoryComfirm" :arraySpanMethod= "arraySpanMethod" :mergeCell= "mergeCell" v-if="isShowTabs" :hasTabLoading="hasTabLoading"></Tabs>
                </el-tab-pane>
                <el-tab-pane label="tab4" name="fourth">
                    <Tabs :tabs="'tabs4'" :handleAdd='handleAdd' :content='freshManForm.tabname4' :activeName="activeName" :deleteActivedIndex = 'deleteActivedIndex' :loading='product.loading'
                    :activeInventoryComfirm= "activeInventoryComfirm" :arraySpanMethod= "arraySpanMethod" :mergeCell= "mergeCell" v-if="isShowTabs" :hasTabLoading="hasTabLoading"></Tabs>
                </el-tab-pane>
            </el-tabs>
            <el-row style='margin-top:20px;text-align:center'>
                <el-button type="primary" size='small' @click="freshManSave('newForm')" :loading="loading"> &nbsp;&nbsp;保存&nbsp;&nbsp;</el-button>
                <el-button style='background-color:#606266;color:#fff' size='small' @click.native='cancel'>&nbsp;&nbsp;取消&nbsp;&nbsp;</el-button>
            </el-row>
            
        </el-dialog>
        <!-- 添加商品 -->
        <el-dialog title='添加商品' :visible.sync="productVisible" customClass='newChannel' width="65%">
            <el-row :gutter='20' style='margin-top:10px;'>
                <el-col :span='10'>
                    <span class='spanTxt'>商品ID:</span>
                    <el-input style='width:70%' v-model='product.id' clearable></el-input>
                </el-col>
                <el-col :span='10'>
                    <span class='spanTxt'>商品名称:</span>
                    <el-input style='width:70%' v-model='product.name' clearable></el-input>
                </el-col>
            </el-row>
            <el-row :gutter='20' style='margin-top:10px;'>
                <el-col :span='10'>
                    <span class='spanTxt'>商品分类:</span>
                    <el-select style='width:70%' v-model='product.type' @change="getTypeList()">
                        <el-option v-for="item in product.typeList" :key="item.id" :value="item.name">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span='10'>
                    <el-select style='width:70%' v-model='product.secondry'>
                        <el-option v-for="item in product.secondryList" :key="item.id"  :value="item.name">
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row :gutter='20' style='margin-top:10px;'>
                <el-col :span='10'>
                    <span class='spanTxt'>商品品牌:</span>
                    <el-select style='width:70%' v-model='product.brand'>
                         <el-option v-for="item in product.brandList" :key="item.id"  :value="item.name">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span='10'>
                    <el-button type='primary' size='medium' style='float:right' @click='getProductList'>&nbsp;&nbsp;搜索&nbsp;&nbsp;</el-button>
                </el-col>
            </el-row>
            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;margin-top:20px;"/>
            <el-table :data='product.list' highlight-current-row @selection-change="handleSelectionChange">
                <el-table-column  type="selection" width="55" v-if='newCommerVisible == true'>
                </el-table-column>
                <el-table-column prop='productId' label='商品ID' width='auto'></el-table-column>
                <el-table-column prop='typeName' label='商品类别' width='auto'></el-table-column>
                <el-table-column prop='brandName' label='商品品牌' width='auto'></el-table-column>
                <el-table-column prop='productName' label='商品名称' width='300'></el-table-column>
                <el-table-column prop='productStatus' label='状态' width='auto' fixed="right">
                    <template slot-scope='scope'>
                        {{ scope.row.productStatus | transferStatus}}
                    </template>
                </el-table-column>
                <el-table-column label='操作'>
                    <template slot-scope='scope'>
                        <el-button type='text' @click="addSubmit(scope.row)" v-if='newCommerVisible == true'>
                            <span v-if="activedIndex.includes(scope.row.productId) && !deleteIndex.includes(scope.row.productId)" style="color:#666">已添加</span>
                            <span v-else>添加</span>
                        </el-button>
                        <el-button type='text' v-if="bannerVisible==true" @click='queren(scope.row)'>确定</el-button>
                    </template>
                </el-table-column>       
            </el-table>
            <el-row>
                <el-col :span='12' >&nbsp;
                    <el-button type='text' @click="addListSubmit" v-show="product.isVisible">批量添加</el-button>
                </el-col>
                <el-col :span='12' style='text-align:right'>
                     <el-pagination small layout="prev, pager, next" :total="product.total" @current-change="handleCurrentChange" >
                    </el-pagination>
                </el-col>
            </el-row>
        </el-dialog>
        <!-- 编辑banner -->
        <el-dialog title='编辑banner' :visible.sync="bannerVisible" customClass='newChannel'>
            <el-tabs type="border-card"  @tab-click="handleTab">
                <el-tab-pane :label="'图片'+item.id"  v-for='item of bannerEdit' :key='item.id' >
                    <EditBanner :obj="item" :changeObj = "changeObj" :func="handleChange" :funcBtn='handleButton'></EditBanner>
                    <el-row style='margin-top:20px;text-align:center'>
                    <el-button type="primary" size='small' @click="bannerSave(item)">&nbsp;&nbsp;保存&nbsp;&nbsp;</el-button>
                    <el-button style='background-color:#606266;color:#fff' size='small' @click.native='bannerVisible=false'>&nbsp;&nbsp;取消&nbsp;&nbsp;</el-button>
                </el-row>
                </el-tab-pane>
                
            </el-tabs>
            
        </el-dialog>
        <!-- 选择分类 -->
        <el-dialog title='选择分类' :visible.sync="classifyVisible" >
            <el-row>
                <span>商品分类</span>
                <el-select style='width:40%' v-model='type' @change="getTypeList(type)">
                    <el-option v-for="item in arr" :key="item.id" :value="item.name">
                    </el-option>
                </el-select>
                <hr style="height:1px;border:none;border-top:1px dashed #0066CC;margin-top:20px;"/>
                <el-row  :gutter='20'>
                    <el-col :span='9'>
                        <span>&nbsp;</span>
                        <div v-for="item in arr1" :key="item.id" class="list-complete-item">
                            <div class="list-complete-item-handle">
                                <span>{{item.name}}</span>
                                <span @click="addEle(item)">
                                <i style="color:#999;" class="el-icon-plus"/>
                                </span>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span='6' style='margin-top:20px;'>
                        <div style='margin-top:20px'>
                            <el-button style='width:60%' @click="handleAll('addAll')">添加全部</el-button>
                        </div>
                        <div style='margin-top:20px'>
                            <el-button style='width:60%' @click="handleAll('deleteAll')">清空全部</el-button>
                        </div>
                    </el-col>
                    <el-col :span='9'>
                        <span>&nbsp;</span>
                        <div v-for="item in arr2" :key="item.id" class="list-complete-item">
                            <div class="list-complete-item-handle2" >
                                <span>{{item.name}}</span>
                                    <span @click="deleteEle(item)">
                                    <i style="color:#999;" class="el-icon-minus"/>
                                </span>
                            </div>
                        </div>
                    </el-col>
                </el-row>
                <el-row style='margin-top:20px;text-align:center'>
                    <el-button type="primary" size='small' @click="btnSave"> &nbsp;&nbsp;保存&nbsp;&nbsp;</el-button>
                    <el-button style='background-color:#606266;color:#fff' size='small' @click.native='classifyVisible = false'>&nbsp;&nbsp;取消&nbsp;&nbsp;</el-button>
                </el-row>
            </el-row>
        </el-dialog>
        <el-dialog
            :title="elDialog.title"
            :visible.sync="elDialog.dialogVisible"
            width="35%"
            >
            <span v-text="elDialog.content"></span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="elDialog.dialogVisible = false" v-show="elDialog.isCancel" v-text="elDialog.cancel"></el-button>
                <el-button type="primary" @click="elDialog.dialogVisible = false" v-show="elDialog.isComfirm" v-text="elDialog.comfirm"></el-button>
            </span>
        </el-dialog>
        <el-dialog title="增加活动库存" :visible.sync="dialogTableVisible" :width="'30%'" id="test">
            <div class="content">
                <p>温馨提示：请在当前活动库存【{{freshStock}}】基础上增减</p>
                <div>
                <span>活动库存：</span>
                <el-input-number v-model="activeInventory"></el-input-number>
                </div>
                <div class="btn">
                <el-button
                    type="primary"
                    @click="activeInventoryComfirm(false)"
                    v-loading="isActiveInventoryLoading"
                >确定</el-button>
                <el-button @click="activeInventoryCancel">取消</el-button>
                </div>
            </div>
        </el-dialog>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
import * as qiniu from 'qiniu-js'
import Tabs from '../../components/Tabs'
import EditBanner from '../../components/EditBanner'
import { setTimeout } from 'timers';
import {checkActiveInventoryF,getActiveInventory} from '@/service/hanweiUrlApi'
import {mapGetters, mapActions} from 'vuex'
import {subtraction} from '@/utils'

export default {
    data(){
        return {
            moduleId: 1,
            freshStock: 0,
            hasTabLoading: false,
            isShowTabs: false,
            isFreshManSave: false,
            tabsObj: {},
            spanArr: [],
            dialogTableVisible: false,
            isActiveInventoryLoading: false,
            isActiveInventoryBtn: false,
            activeInventory: 0,
            elDialog: {
                title: '温馨提示',
                dialogVisible: false,
                content: '',
                cancel: '取消',
                comfirm: '我知道',
                isCancel: false,
                isComfirm: true
            },
            activedIndex: [],
            deleteIndex: [],
            tableData:[],
            newCommerVisible:false,
            loading:false,
            freshManForm : {
                tabname1 : { freshmanProducts:[],name:'',tabId:''},
                tabname2 : { freshmanProducts:[],name:'',tabId:''},
                tabname3 : { freshmanProducts:[],name:'',tabId:''},
                tabname4 : { freshmanProducts:[],name:'',tabId:''},
                title : '',
                subtitle : '',
                buylimit : 1,
                postfree : 0,
            },
            rules:{},
            activeName:'first',
            productVisible:false,
            product:{
                id:'',
                name:'',
                typeList:[],//一级分类
                type:'',
                secondryList:[],//二级分类
                secondry:'',
                brandList:[],//品牌
                brand:'',
                list:[],
                total:1,
                pageNo:1,
                pageSize:10,
                multipleSelection: [],
                isVisible:false,
                index:'',
                loading:false,
            },
            editForm:{
                form1:{},
                form2:{},
                form3:{},
                form4:{},
            },
            bannerVisible:false,
            bannerEdit:{
            },
            classifyVisible:false,
            arr:[],
            arr1:[],
            arr2:[],
            type:'',
            index:1,
        }
    },
    components:{
        Tabs,EditBanner
    },
    mounted(){
        this.getList();
        this.getBrandList()
        this.getTypeList();
        this.getBanner();
    },
    computed: {
        ...mapGetters([
            'sendFreshmanProducts'
        ]),
        filterList2() {
        return this.list2.filter(v => {
            if (this.isNotInList1(v)) {
            return v
            }
            return false
        })
        }
    },
    methods:{
        ...mapActions([
            'saveFreshmanProducts'
        ]),
        activeInventoryComfirm(bl, data) {
            if (bl) {
                this.tabsObj = Object.assign(this.tabsObj, data)
                const res = this.$http(getActiveInventory, {
                    method: 'get',
                    params: {
                        skuCode: this.tabsObj.skuCode
                    }
                })
                res.then(data => {
                    if (!data.httpRequestError && data.data) {
                        this.freshStock = data.data.activityStock
                        this.dialogTableVisible = bl
                    } else {
                        this.$message({
                            message: '网络异常，无法调节库存，请稍后重试',
                            type: "error"
                        });
                    }
                })
            } else {
                if (this.isActiveInventoryBtn) return false
                this.isActiveInventoryBtn = true
                this.isActiveInventoryLoading = true;
                const res = this.$http(checkActiveInventoryF, {
                    method: 'get',
                    params: {
                        skuCode: this.tabsObj.skuCode,
                        count: this.activeInventory,
                        userName: JSON.parse(localStorage.getItem('datas')).u,
                        moduleId: this.moduleId
                    }
                })
				res.then(data=>{
                    if (!data.httpRequestError) {
                        if (data.data.flag) {
                            for (let [int, val] of Object.entries(this.freshManForm)) {
                                if (val.freshmanProducts) {
                                    for (let [index, item] of Object.entries(val.freshmanProducts)) {
                                        if (this.tabsObj.skuCode === item.skuCode) {
                                            item = Object.assign(item, {
                                                freshStock: data.data.result
                                            })
                                            break
                                        }
                                    }
                                }
                            }
                            let intIndex = 0
                            switch(this.activeName) {
                                case 'first' : intIndex = 1;
                                break;
                                case 'second' : intIndex = 2;
                                break;
                                case 'third' : intIndex = 3;
                                break;
                                case 'fourth' : intIndex = 4;
                                break;
                            }
                            let dataMap = JSON.parse(JSON.stringify(this.sendFreshmanProducts))
                            for(let [index, item] of Object.entries(dataMap[`tabname${intIndex}`].freshmanProducts)) {
                                if (item.freshmanProductSkus) {
                                    for (let [int, ele] of Object.entries(item.freshmanProductSkus)) {
                                        if (ele.skuCode === this.tabsObj.skuCode) {
                                            ele = Object.assign(ele, {
                                                freshStock: data.data.result
                                            })
                                            break
                                        }
                                    }
                                }
                            }
                            this.saveFreshmanProducts({type: 'sendFreshmanProducts', value: dataMap})
                            this.$message({
                                message: '操作成功',
                                type: "success"
                            });
                            this.dialogTableVisible = bl
                            this.getList();
                        } else {
                            this.$message({
                                message: `操作失败：${data.moreInfo}`,
                                type: "error"
                            });
                        }
                    }
                    else {
                        this.$message({
                            message: data.httpRequestError || "系统异常",
                            type: "error"
                        });
                    }
                    this.isActiveInventoryLoading = false;
                    this.isActiveInventoryBtn = false
				})
            }
        },
        activeInventoryCancel() {
            this.isActiveInventoryLoading = false
            this.dialogTableVisible = false
        },
        trim(str) {
            return str.replace(/(^\s*)|(\s*$)/g, ""); 
        },
        btnSave(){
            for(let ele of this.bannerEdit){
                if(ele.id == this.index){
                    let redirectUrl = '';
                    for(let ele of this.arr2){
                        redirectUrl += ele.id+',';
                    }
                    ele = Object.assign(ele,{ redirectUrl : redirectUrl.substring(0,redirectUrl.length-1)})    
                    this.classifyVisible = false;            
                }
            }
        },
        handleTab(tab){
            this.index = 1+parseInt(tab.index);
        },
        bannerSave(rows){
            if(rows.status == ''){
                this.$message({
                    message:'请选择状态',
                    type:'error'
                })
                return false
            }else if(rows.startAt == undefined || rows.endAt== undefined || rows.startAt == '' || rows.endAt == '' ){
                this.$message({
                    message:'请选择起止时间',
                    type:'error'
                })
                return false
            }else if(rows.imgUrl == ''){
                 this.$message({
                    message:'请选择图片',
                    type:'error'
                })
                return false
            }else if(rows.redirectType != '自定义' && rows.redirectUrl == ''){
                this.$message({
                    message:'请填写URL',
                    type:'error'
                })
                return false
            }else{
                let form = Object.assign({},rows, {
                    userName: JSON.parse(localStorage.getItem('datas')).u,
                    moduleId: this.moduleId
                });
                form.startAt = dayjs(form.startAt).format('YYYY-MM-DD HH:mm:ss');
                form.endAt = dayjs(form.endAt).format('YYYY-MM-DD HH:mm:ss');
                form.status =  form.status == '是' ? 1 : 0 ;
                switch(form.redirectType){
                    case '自定义' : form.redirectType = 0; break;
                    case '商品'  : form.redirectType = 1 ; break;
                    case '分类' : form.redirectType = 2 ; break;
                }
                fetch(global.updateBannerInfo,{
                    method:'POST',
                    body:JSON.stringify(form),
                    headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.result){
                        this.getList();
                        this.$message({
                            message:'保存成功',
                            type:'info'
                        })
                        this.bannerVisible = false;
                    }
                }).catch(e=>{
                    console.log(e);
                })
            }
        },
        queren(rows){
            for(let ele of this.bannerEdit){
                if(ele.id == this.index){
                    ele = Object.assign(ele,{ redirectUrl : rows.productId })    
                    this.productVisible = false;            
                }
            }
        },
        //跳转类型
       async handleChange(ev){
            if(ev === '商品'){
                let g = await this.getProductList();
                if(g){
                    this.productVisible = true;
                    this.product.loading = false;
                }   
            }
        },
        // 分类点击
       async  handleButton(){
           this.arr2 = [];
            let a = await this.getTypeList();
            if(a){
                this.classifyVisible = true;
                
            }  
        },
        handleAll(val){
            if(val === 'addAll'){
                this.arr2 = this.arr2.concat(this.arr1);
                this.arr1.splice(0,this.arr1.length);
            }else{
                this.arr1 = this.arr1.concat(this.arr2);
                this.arr2.splice(0,this.arr2.length);
            }
        },
        addEle(ele) {
            for (let item of this.arr1) {
                if (item.id === ele.id) {
                    const index = this.arr1.indexOf(item)
                    this.arr1.splice(index, 1)
                    break
                }
            }
            if (this.isNotInList2(ele)) {
                this.arr2.unshift(ele)
            }
        },
        deleteEle(ele) {
            for (let item of this.arr2) {
                if (item.id === ele.id) {
                    const index = this.arr2.indexOf(item)
                    this.arr2.splice(index, 1)
                    break
                }
            }
            if (this.isNotInList1(ele)) {
                this.arr1.unshift(ele)
            }
            // this.arr1.push(ele);
        },
        isNotInList1(v) {
            return this.arr1.every(k => v.id !== k.id)
        },
        isNotInList2(v) {
            return this.arr2.every(k => v.id !== k.id)
        },
        handleBlur(ev){
            setTimeout(()=> {
                if(ev.target.value.length === 0) ev.target.value = this.freshManForm.buylimit = ev.target.min
            }, 33)
        },
        deleteActivedIndex(data, freshmanProductSkusArr){
            let bl = true
            for(let [index, value] of Object.entries(this.activedIndex)){
                if (value === data - 0) {
                    if (freshmanProductSkusArr.length === 1) {
                        this.activedIndex.splice(index, 1)
                        this.deleteIndex.push(data - 0)
                    } else {
                        freshmanProductSkusArr.map(item => {
                            if (item.status) bl = false
                        })
                        if (bl) {
                            this.activedIndex.splice(index, 1)
                            this.deleteIndex.push(data - 0)
                        }
                    }
                }
            }
        },
        cancel(){
            this.activedIndex = this.deleteIndex = []
            this.newCommerVisible=false
        },
        getList(){
            fetch(global.selectFreshmanModule,{
                method:'get',
            }).then(res=>res.json()
            ).then(res=>{
                res.result.map((item, index)=>{
                    item = Object.assign(item, {index: index + 1})
                })
                this.tableData = res.result
            }).catch(e=>{
                console.log(e);
            })
        },
        //启用、禁用
        handleClick(val,row){
            let title;
            title = val === '启用' ? '启用后前端会对应生效，是否确定启用' : '禁用后前端不展示，是否确定禁用';
            this.$confirm(title,'温馨提示',{
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'info',
                center: true
            }).then(()=>{
                let formData = new FormData();
                formData.append('json',JSON.stringify({
                    id:row.id+'',
                    userName: JSON.parse(localStorage.getItem('datas')).u
                }))
                fetch(global.freshmanUpdateStatus,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.result){
                        this.$message({
                            type:'info',
                            message:val+'成功'
                        });
                         this.getList();
                    }else{
                        this.$message({
                            type:'error',
                            message:val+'失败'
                        });
                    }
                }).catch(e=>{
                    console.log(e);
                })
            }).catch(()=>{})
        },
        handleSwitch(){
            this.mergeCell()
            this.checkDatas(this.sendFreshmanProducts)
        },
        handleCurrentChange(val){
            this.product.pageNo = val;
            this.getProductList();
        },
        async handleAdd(){
            this.product.loading = true;
            let g = await this.getProductList();
            if(g){
                this.productVisible = true;
                this.product.loading = false;
            }   
            this.product.index = this.$refs.tabs.currentName;   
        },
        sort(rows,val){
            let title;
            title = val== 'up' ?'确认升序？':'确认降序？';
            let formData = new FormData();
            formData.append('json',JSON.stringify({
                nowSortNum:rows.sort,
                id : rows.id,
                sort : val,
                userName: JSON.parse(localStorage.getItem('datas')).u
            }))
            this.$confirm(title,'提示',{}).then(()=>{
                fetch(global.freshmanSortNum,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    this.getList();
                })
            }).catch(()=>{})
        },
        // 编辑
        handleEdit(rows){
            this.moduleId = rows.id
            this.isShowTabs = true
            if(rows.name === '新人专区'){
                this.getFreshMan();
            }else if(rows.name === 'BANNER'){
                this.bannerVisible = true;
                this.getBanner();
            }
        },
        getBanner(){
            fetch(global.selectBannerInfo,{
                method:'GET'
            }).then(res=>res.json()
            ).then(res=>{
                for(let ele of res.result){
                    if(ele.redirectType==0){
                         ele.redirectType = '自定义';
                    }else if(ele.redirectType==1){
                        ele.redirectType = '商品';
                    }else{
                        ele.redirectType = '分类';
                    }
                    ele.status =  ele.status == 1 ? '是' : '否';
                }
                // for(let ele of res.result){
                //     ele.startDate = new Date(Date.parse(ele.startDate.replace(/-/g,"/")));
                //     ele.endDate = new Date(Date.parse(ele.endDate.replace(/-/g,"/")));
                // }
                this.bannerEdit = res.result;
                
            }).catch(e=>{
                console.log(e);
            })

            
        },
        getFreshMan(){
            this.hasTabLoading = true
            fetch(global.tabproduct,{
                method:'get'
            }).then(res=>res.json()
            ).then(res=>{
                let tabproduct = this.collatingData(res.data.tabproduct)
                this.freshManForm = Object.assign({
                        tabname1:{freshmanProducts:[],name:'',tabId:''},
                        tabname2:{freshmanProducts:[],name:'',tabId:''},
                        tabname3:{freshmanProducts:[],name:'',tabId:''},
                        tabname4:{freshmanProducts:[],name:'',tabId:''},
                }, tabproduct);
                for(let ele of res.data.title){
                    switch(ele.name){
                        case 'title' : this.freshManForm.title = ele.value;break;
                        case 'buylimit' : this.freshManForm.buylimit = ele.value;break;
                        case 'subtitle' : this.freshManForm.subtitle = ele.value;break;
                        case 'postfree' : this.freshManForm.postfree = ele.value;break;
                    }
                }
                this.newCommerVisible = true;
                this.collatingSendData(this.freshManForm)
            }).catch(e=>{
                console.log(e);
            })
        },
        freshManSave(formName){
            if (this.isFreshManSave) return false
            this.isFreshManSave = true
            this.loading = true;
            let title = this.trim(this.freshManForm.title)
            let subtitle = this.trim(this.freshManForm.subtitle)
            let buylimit = this.freshManForm.buylimit
            let postfree = this.freshManForm.postfree
            let tabname1 = this.freshManForm.tabname1.name
            let tabname2 = this.freshManForm.tabname2.name
            let tabname3 = this.freshManForm.tabname3.name
            let tabname4 = this.freshManForm.tabname4.name
            if (title.length > 6) {
                this.elDialog = Object.assign(this.elDialog, {
                    dialogVisible: true,
                    content: '保存失败：【模块标题】最多支持6个字符，请修复~'
                })
                this.loading = false;
                this.isFreshManSave = false
                return false
            }
            if (buylimit < 1 || buylimit && (buylimit + '').includes('.')) {
                this.elDialog = Object.assign(this.elDialog, {
                    dialogVisible: true,
                    content: '保存失败：【专区限购】必须大于1的整数，请修复~'
                })
                this.loading = false;
                this.isFreshManSave = false
                return false
            }
            if (tabname1.length === 0 && tabname2.length === 0 && tabname2.length === 0 && tabname3.length === 0) {
                this.elDialog = Object.assign(this.elDialog, {
                    dialogVisible: true,
                    content: '保存失败：至少需要设置一个tab名称，请修复~'
                })
                this.loading = false;
                this.isFreshManSave = false
                return false
            }
             this.$refs[formName].validate(valid => {
                 if(valid){
                    let freshmanProducts = this.sendFreshmanProducts
                    freshmanProducts = Object.assign({}, freshmanProducts)
                    freshmanProducts = Object.assign({},{ 
                        buylimit,
                        title,
                        postfree,
                        subtitle,
                        tabname1:{name:this.freshManForm.tabname1.name,tabId:freshmanProducts.tabname1.tabId,freshmanProducts:freshmanProducts.tabname1.freshmanProducts},
                        tabname2:{name:this.freshManForm.tabname2.name,tabId:freshmanProducts.tabname2.tabId,freshmanProducts:freshmanProducts.tabname2.freshmanProducts},
                        tabname3:{name:this.freshManForm.tabname3.name,tabId:freshmanProducts.tabname3.tabId,freshmanProducts:freshmanProducts.tabname3.freshmanProducts},
                        tabname4:{name:this.freshManForm.tabname4.name,tabId:freshmanProducts.tabname4.tabId,freshmanProducts:freshmanProducts.tabname4.freshmanProducts},
                    });
                    let verificationResult = this.checkDatas(freshmanProducts)
                    if (verificationResult.status) {
                        this.elDialog = Object.assign(this.elDialog, {
                            dialogVisible: true,
                            content: verificationResult.content
                        })
                        this.loading = false;
                        this.isFreshManSave = false
                        return false
                    }
                freshmanProducts = Object.assign(freshmanProducts, {
                    userName: JSON.parse(localStorage.getItem('datas')).u,
                    moduleId: this.moduleId
                })
                fetch(global.updateFreshman,{
                    method:'post',
                    body: JSON.stringify(freshmanProducts),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(res=>res.json()
                ).then(res=>{
                    if ('data' in res && res.data && res.error === 'Success') {
                        this.getList();
                        this.newCommerVisible = false;
                        this.$message({
                            message:'操作成功',
                            type:'success'
                        })
                    } else {
                        this.$message({
                            showClose: true,
                            message: '操作失败',
                            type: 'error'
                        });
                    }
                    this.loading = false;
                    this.isFreshManSave = false
                }).catch(e=>{
                    this.$message({
                        showClose: true,
                        message: '操作失败',
                        type: 'error'
                    });
                    this.loading = false;
                    this.isFreshManSave = false
                })
              } else {
                  this.$message({
                    showClose: true,
                    message: '操作失败：数据异常',
                    type: 'error'
                });
                this.loading = false;
                this.isFreshManSave = false
              }
             })
        },
        checkDatas(data) {
            let errArr = []
            let errObj = {status: false}
            let atr = ['freshStock', 'freshManPrice', 'freshConversionPrice', 'reduction', 'promoAmt', 'serverAmt', 'netWorth']
            let activeName = ''
            for (let [index, item] of Object.entries(data)) {
                if (item.freshmanProducts) {
                    let name = this.trim(item.name)
                    let tabNameIndex = item.tabId.substring(item.tabId.length - 1)
                        switch(tabNameIndex - 0) {
                            case 1 :
                               activeName = 'first'
                               break
                            case 2 :
                               activeName = 'second'
                               break
                            case 3 :
                               activeName = 'third'
                               break
                            case 4 :
                               activeName = 'fourth'
                               break
                        }
                    if (name.length === 0 && item.freshmanProducts.length > 0) {
                        errObj = Object.assign(errObj, {
                            content: `保存失败：tab${tabNameIndex}名称不能为空`,
                            type: 'msg',
                            status: true
                        })
                        return errObj
                    }
                    item.freshmanProducts.map((ele, int) => {
                        if (ele.freshmanProductSkus) {
                            ele.freshmanProductSkus.map((val, num) => {
                                if (val.status) {
                                    atr.map(atrItem => {
                                        let numb = val[atrItem]
                                        let id = atrItem + val.skuCode + activeName
                                        let input = document.getElementById(id)
                                        if(input) input.style.border = '1px solid #dcdfe6'
                                        if (numb === '' || numb == null || isNaN(Number(numb))) {
                                            let id = atrItem + val.skuCode + activeName
                                            let input = document.getElementById(id)
                                            if(input) input.style.border = '1px solid red'
                                            errObj = Object.assign(errObj, {
                                                content: '保存失败：数据填写有误，请重新填写',
                                                type: 'msg',
                                                status: true
                                            })
                                            errArr.push({
                                                type: "numb === '' || numb == null || isNaN(Number(numb))",
                                                value: numb,
                                                target: id,
                                                activeName,
                                                val
                                            })
                                        } else if (numb < 0) {
                                            let id = atrItem + val.skuCode + activeName
                                            let input = document.getElementById(id)
                                            if(input) input.style.border = '1px solid red'
                                            errObj = Object.assign(errObj, {
                                                content: '保存失败：数据填写有误，请重新填写',
                                                type: 'msg',
                                                status: true
                                            })
                                            errArr.push({
                                                type: "numb < 0",
                                                value: numb,
                                                target: id,
                                                activeName,
                                                val
                                            })
                                        }
                                        if (atrItem === 'freshConversionPrice') {
                                            let subtrahend = val.freshManPrice
                                            let minuend = val.freshConversionPrice
                                            let freshPoint = (subtraction(subtrahend, minuend)) * 10
                                            if (freshPoint !== val.freshPoint || freshPoint < 0 || (freshPoint + '').includes('.')) {
                                                let id1 = 'freshManPrice' + val.skuCode + activeName
                                                let input1 = document.getElementById(id1)
                                                if (input1) input1.style.border = '1px solid red'
                                                let id2 = 'freshConversionPrice' + val.skuCode + activeName
                                                let input2 = document.getElementById(id2)
                                                if (input2) input2.style.border = '1px solid red'
                                                    errObj = Object.assign(errObj, {
                                                    content: '保存失败：数据填写有误，请重新填写',
                                                    type: 'msg',
                                                    status: true
                                                })
                                                errArr.push({
                                                    type: "freshPoint !== val.freshPoint || freshPoint < 0 || (freshPoint + '').includes('.')",
                                                    value: freshPoint,
                                                    target: id1 + ":" +  id2,
                                                    activeName,
                                                    val
                                                })
                                            } else if (val['freshManPrice'] > 0 && val['freshConversionPrice'] > 0) {
                                                let id1 = 'freshManPrice' + val.skuCode + activeName
                                                let input1 = document.getElementById(id1)
                                                if (input1) input1.style.border = '1px solid #dcdfe6'
                                                let id2 = 'freshConversionPrice' + val.skuCode + activeName
                                                let input2 = document.getElementById(id2)
                                                if (input2) input2.style.border = '1px solid #dcdfe6'
                                            }
                                        }
                                        if (atrItem === 'freshStock') {
                                            if ((numb + '').includes('.') || numb > val.amount) {
                                                let id = atrItem + val.skuCode + activeName
                                                let input = document.getElementById(id)
                                                if (input) input.style.border = '1px solid red'
                                                    errObj = Object.assign(errObj, {
                                                    content: '保存失败：数据填写有误，请重新填写',
                                                    type: 'msg',
                                                    status: true
                                                })
                                                errArr.push({
                                                    type: "(numb + '').includes('.') || numb > val.amount",
                                                    value: numb,
                                                    target: id,
                                                    activeName,
                                                    val
                                                })
                                            }
                                        }
                                    })
                                }
                            })
                        }
                    })
                }
            }
            console.log(errArr, 'error')
            return errObj
        },
        //获取商品信息列表
        async getProductList(){
            let typeId='',brandId='';
            if (this.product.id) {
                if (isNaN(Number(this.product.id)) || this.product.id && (this.product.id + '').includes('.')) {
                    this.$message({
                        showClose: true,
                        message: '商品ID存在非法输入',
                        type: 'error'
                    });
                    return false
                }
            }
            if(this.product.secondry){
                for(let ele of this.product.secondryList){
                    if(ele.name === this.product.secondry) typeId = ele.id;
                }
            }
             if(this.product.brand){
                for(let ele of this.product.brandList){
                    if(ele.name === this.product.brand) brandId = ele.id;
                }
            }
            let form =  JSON.stringify({
                productId : this.product.id ? this.product.id : null,
                productName : this.product.name ? this.product.name : null,
                typeId : typeId == '' ? null : typeId,
                brandId : brandId == '' ? null : brandId,
                productList : null,
                pageNo : this.product.pageNo,
                pageSize : this.product.pageSize,
            });
            return await fetch(global.selectProductInfo,{
                method:'POST',
                body:form,
                headers: {'Content-Type': 'application/json;charset=UTF-8'}
            }).then(res=>res.json()
            ).then(res=>{   
                this.product.list = res.result.resultList;
                for(let [index, value] of Object.entries(this.product.list)) {
                    if (value.status - 0 === 1 && !this.deleteIndex.includes(value.productId - 0)) 
                        this.activedIndex.push(value.productId - 0)
                }
                this.product.total = res.result.totalCount;
                return true
            }).catch(e=>{
                return false
                console.log(e);
            })
        },
        
        //获取商品品牌列表
        async getBrandList(){
            return  await fetch(global.selectBrand,{
                method:'GET'
            }).then(res=>res.json()
            ).then(res=> {
                this.product.brandList = [{name:'全部品牌',id:''}];
                this.product.brand = '全部品牌';
                this.product.brandList = this.product.brandList.concat(res.result) ;
                 return true
            }
            ).catch(e=> false)
        },
        //获取商品分类
        async getTypeList(){
            let type='-1';
            if(type=='-1'){
                if(this.bannerVisible == true){
                    for(let ele of this.arr){
                        if(ele.name === this.type) type = ele.id;
                    }
                }else{
                     for(let ele of this.product.typeList){
                        if(ele.name === this.product.type) type = ele.id;
                    }
                }
            }
           
            let url = type == '-1' ? global.selectType : global.selectType + '?parentId='+type;
            return await fetch(url,{
                method:'GET'
            }).then(res=>res.json()
            ).then(res=>{
                if(type == '-1'){
                    this.arr = res.result;
                    this.type = res.result[0].name;
                    this.product.typeList = [{name:'全部分类',id:'0'}];
                    this.product.type='全部分类';
                    this.product.typeList = this.product.typeList.concat(res.result);
                }else{
                    this.arr1 = res.result;
                    this.product.secondryList = res.result ; 
                    this.product.type == '全部分类' ? this.product.secondry == Object.assign(this.product,{secondry:''}) : this.product.secondry = res.result[0].name;
                }
                return true;
            }).catch(e=>{
                return false
                console.log(e);
            })
        },
        addSubmit(rows){
            if(this.activedIndex.includes(rows.productId) && !this.deleteIndex.includes(rows.productId)) return false
            let intIndex = 0
            switch(this.activeName) {
                case 'first' : intIndex = 1;
                  break;
                case 'second' : intIndex = 2;
                  break;
                case 'third' : intIndex = 3;
                  break;
                case 'fourth' : intIndex = 4;
                  break;
            }
            if(this.freshManForm[`tabname${intIndex}`].freshmanProducts.length > 30 || this.freshManForm[`tabname${intIndex}`].freshmanProducts.length === 30) {
                this.$message({
                    type:'error',
                    message:`添加失败：每个tab最多支持添加30个商品`
                });
                return false
            }
            this.activedIndex.push(rows.productId - 0)
            for(let [index, value] of Object.entries(this.deleteIndex)){
                if (value - 0 === rows.productId - 0) {
                    this.deleteIndex.splice(index, 1)
                }
            }
            rows.freshmanProductSkus.map(val => {
                let obj = {...rows, ...val, ...{status:1}}
                this.freshManForm[`tabname${intIndex}`].freshmanProducts.push(obj);
            })
            this.saveFreshmanProducts({type: 'sendFreshmanProducts', value: this.freshManForm})
            this.collatingSendData(this.freshManForm)
            this.mergeCell()
        },
        addListSubmit(){
            this.product.isVisible = false;
            for(let ele of this.product.multipleSelection){
                this.addSubmit(ele);
            }
        },
        handleSelectionChange(val) {
            this.product.multipleSelection = val;
            this.product.isVisible = true;
            if (this.product.multipleSelection.length == 0) {   
                // 如不进行判断则勾选完毕后批量删除按钮还是会在
                this.product.isVisible = false;
            }
        },
        changeObj(obj) {
            this.bannerEdit = Object.assign(this.bannerEdit, obj);
        },
        getSpanArr(data) {
            this.spanArr = [];
            let pos = 0;
            for (let i = 0; i < data.length; i++) {
                if (i === 0) {
                this.spanArr.push(1);
                pos = 0;
                } else {
                // 判断当前元素与上一个元素是否相同
                if (data[i].productId === data[i - 1].productId) {
                    this.spanArr[pos] += 1;
                    this.spanArr.push(0);
                } else {
                    this.spanArr.push(1);
                    pos = i;
                }
              }
            }
        },
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
            if (columnIndex === 0 || columnIndex === 1) {
                const _row = this.spanArr[rowIndex];
                const _col = _row > 0 ? 1 : 0;
                return {
                    rowspan: _row,
                    colspan: _col
                };
            }
        },
        mergeCell(data, type) {
            let intIndex = 0
            switch(this.activeName) {
                case 'first' : intIndex = 1;
                  break;
                case 'second' : intIndex = 2;
                  break;
                case 'third' : intIndex = 3;
                  break;
                case 'fourth' : intIndex = 4;
                  break;
            }
            type === 'freshmanProducts'
            ? this.getSpanArr(data)
            : this.getSpanArr(data && data[`tabname${intIndex}`].freshmanProducts || this.freshManForm[`tabname${intIndex}`].freshmanProducts)
        },
        collatingData(data) { // 整理成表格可以渲染的数据结构
            for(let [index, item] of Object.entries(data)) {
                let arr = []
                item.freshmanProducts.map((ele, int) => {
                    ele.freshmanProductSkus.map((val, i) => {
                        let obj = {...ele, ...val}
                        arr.push(obj)
                    })
                })
                item.freshmanProducts = arr
            }
            return data
        },
        collatingSendData(data) { // 整理成可以发送的数据
            let length = 0;
            let arr = [];
            let count = 0;
            let freshmanProductSkus = [];
            let obj = {};
            let tabId = 'Maple'
            let dataMap = JSON.parse(JSON.stringify(data))
            for (let [int, val] of Object.entries(dataMap)) {
                if (val.freshmanProducts) {
                    val.freshmanProducts.map((item, index) => {
                        length = item.freshmanProductSkus.length;
                        let freshmanProductSkusObj = {
                            amount: item.amount,
                            freshConversionPrice: item.freshConversionPrice,
                            freshManPrice: item.freshManPrice,
                            freshPoint: item.freshPoint,
                            freshStock: item.freshStock,
                            netWorth: item.netWorth,
                            productIdsku: item.productIdsku,
                            promoAmt: item.promoAmt,
                            reduction: item.reduction,
                            serverAmt: item.serverAmt,
                            skuCode: item.skuCode,
                            sourceConversionPrice: item.sourceConversionPrice,
                            sales: item.sales,
                            sourcePrice: item.sourcePrice,
                            spec: item.spec,
                            status: item.status
                        }
                        freshmanProductSkus.push(freshmanProductSkusObj);
                        let obj = {
                            conversionPrice: item.conversionPrice,
                            count: item.count,
                            createdAt: item.createdAt,
                            exchangePoint: item.exchangePoint,
                            exchangePrice: item.exchangePrice,
                            freshmanProductSkus,
                            freshprice: item.freshprice,
                            id: item.id,
                            price: item.price,
                            productId: item.productId,
                            productName: item.productName,
                            skuCode: item.skuCode,
                            sourceId: item.sourceId,
                            stock: item.stock,
                            tabId: item.tabId,
                            updatedAt: item.updatedAt,
                            fpSkuCode: item.fpSkuCode
                        }
                        count++;
                        if (count === length) {
                            if (obj.freshmanProductSkus.length > 0) {
                                arr.push(obj);
                            }
                            count = 0;
                            freshmanProductSkus = [];
                            obj = {};
                        }
                    })
                    if (val.tabId) {
                        val = Object.assign(val, {
                            freshmanProducts: arr,
                            name: val.name,
                            tabId: val.tabId
                        })
                        arr = []
                    }
                }
            }
            this.saveFreshmanProducts({type: 'sendFreshmanProducts', value: dataMap})
            this.hasTabLoading = false
        }
    },
    filters:{
        transfer(val){
            return dayjs(val).format('YYYY-MM-DD HH:mm:ss')
        },
        transferStatus(val){
            switch(val){
                case 'DRAFT' : return '草稿'; break;
                case 'FORSALE' : return '预售';break;
                case 'INSTOCK' : return '下架';break;
                case 'ONSALE' : return '上架';break;
            }
        }
    },
    watch: {
        freshManForm() {
            this.mergeCell()
        },
        newCommerVisible() {
            if (!this.newCommerVisible) {
                this.freshManForm = {
                    tabname1 : { freshmanProducts:[],name:'',tabId:''},
                    tabname2 : { freshmanProducts:[],name:'',tabId:''},
                    tabname3 : { freshmanProducts:[],name:'',tabId:''},
                    tabname4 : { freshmanProducts:[],name:'',tabId:''},
                    title : '',
                    subtitle : '',
                    buylimit : 1,
                    postfree : 0,
                },
                this.activeName = 'first'
                this.saveFreshmanProducts({type: 'clear'})
                this.isShowTabs = false
                this.product = {
                    id:'',
                    name:'',
                    typeList:[],//一级分类
                    type:'',
                    secondryList:[],//二级分类
                    secondry:'',
                    brandList:[],//品牌
                    brand:'',
                    list:[],
                    total:1,
                    pageNo:1,
                    pageSize:10,
                    multipleSelection: [],
                    isVisible:false,
                    index:'',
                    loading:false,
                }
                this.activedIndex = []
                this.deleteIndex = []
            }
        },
        dialogTableVisible() {
            if (!this.dialogTableVisible) {
                this.activeInventory = 0
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.newChannel{
    width:60%
}
.spanTxt{
    display: inline-block;
    width:100px; 
    text-align: right;
    
}
.list-complete-item{
    width:70%;
    border:1px solid #ddd;
    margin-bottom:5px;
    padding:4px;
}
.list-complete-item-handle,.list-complete-item-handle2{
    padding:4px;
    display:flex;
    justify-content:space-between
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .btn {
    margin-top: 20px;
  }
}
</style>

