<template>
    <section>
        <!-- 搜索框 -->
        <div class="searchBox" v-if="!IsSetUpPageShow">
      <el-row>
                <span style="font-size:18px;color:#999999;line-height:56px;">商品选择</span>
      </el-row>
            <el-form :label-position="labelPosition" label-width="80px">
                <el-row>
                    <el-col :span="7">
                        <el-form-item label="商品ID：" label-width="120px">
                            <el-input
                                v-model="productId"
                                placeholder="请输入商品ID"
                                size="small"
                                class="selectWidth"
                            ></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="7">
                        <el-form-item label="商品名称：" label-width="120px">
                            <el-input
                                v-model="skuname"
                                placeholder="请输入商品名称"
                                size="small"
                                class="selectWidth"
                            ></el-input>
                        </el-form-item>
         </el-col>
                    <el-col :span="7">
                        <el-form-item label="商品品牌：" label-width="120px">
                            <el-select
                                v-model="bd"
                                placeholder="请选择"
                                size="small"
                                class="selectWidth"
                            >
                                <el-option
                                    v-for="item in brands"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.name"
                                    v-html="item.name"
                                ></el-option>
            </el-select>
                        </el-form-item>
         </el-col>
                </el-row>
                <el-row>
                    <el-col :span="7">
                        <el-form-item label="商品状态：" label-width="120px">
                            <el-select
                                v-model="state"
                                placeholder="请选择"
                                size="small"
                                class="selectWidth"
                            >
                                <el-option
                                    v-for="(item,index) in goodstates"
                                    :key="index"
                                    :label="item.name"
                                    :value="item.name"
                                    v-html="item.name"
                                ></el-option>
            </el-select>
                        </el-form-item>
         </el-col>
                    <el-col :span="7">
                        <el-form-item label="供应商：" label-width="120px">
                            <el-select
                                v-model="supplier"
                                placeholder="请选择"
                                size="small"
                                class="selectWidth"
                            >
                                <el-option
                                    v-for="item in sup"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.name"
                                ></el-option>
            </el-select>
                        </el-form-item>
         </el-col>
      </el-row>
                <el-row>
                    <div class="supplierBox">
                        <el-col :span="10">
                            <el-form-item label="商品分类：" label-width="120px">
                                <el-select
                                    v-model="classify"
                                    placeholder="请选择"
                                    size="small"
                                    style="width:50%"
                                    @change="selectCatedory"
                                >
                                    <el-option
                                        v-for="item in allclass"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id"
                                    ></el-option>
                                </el-select>
                                <el-select
                                    v-model="category"
                                    filterable
                                    placeholder="二级分类"
                                    style="width:49%"
                                    size="small"
                                >
                                    <el-option
                                        v-for="item in categorylist"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id"
                                    ></el-option>
                                </el-select>
                            </el-form-item>
         </el-col>
                        <el-col :span="14">
                            <el-button type="primary" @click="handleSearch" size="small" class="searchBtn">搜索</el-button>
         </el-col>
                    </div>
      </el-row>
            </el-form>
            <p class="dottedLine"></p>
            <p>活动商品</p>
        </div>
        <!-- 参加的活动的商品列表 -->
        <el-table :data="addarr" style="width: 100%;" border="" class="borderBottom">
            <el-table-column prop="productId" label="商品ID" width="100"></el-table-column>
            <el-table-column label="SKU ID" width="100">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.skuId}}</p>
                 </template>
			</el-table-column>
            <el-table-column prop="name" label="商品名称" width="200" align="center"></el-table-column>
            <el-table-column prop="category" label="商品类别" width="100"></el-table-column>
            <el-table-column prop="brand" label="商品品牌" width="100"></el-table-column>
            <el-table-column prop="supplier" label="供应商"></el-table-column>
            <el-table-column prop label="规格" width="200" align="center">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.spec}}</p>
                </template>
			</el-table-column>
            <el-table-column prop="price" label="售价">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.skuPrice}}</p>
                </template>
			</el-table-column>
            <el-table-column prop label="立减">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.point}}</p>
                </template>
            </el-table-column>
            <el-table-column prop label="净值">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.netWorth}}</p>
                </template>
			</el-table-column>
            <el-table-column prop label="推广费">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.promoAmt}}</p>
                </template>
			</el-table-column>
            <el-table-column prop label="服务费">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.serverAmt}}</p>
                </template>
			</el-table-column>
            <el-table-column prop label="商品库存" width="100">
                <template slot-scope="scope">
                    <p v-for="(item,index) in skuNumber" :key="index">{{item.skuAmount}}</p>
                </template>
			</el-table-column>
            <el-table-column label="活动库存" width="150" v-if="IsSetUpPageShow">
                <template slot-scope="scope">
                    <el-input-number
                        :min="0"
                        :max="scope.row.skuList[index].skuAmount"
                        size="small"
                        v-for="(item,index) in activeAmountArray"
                        :key="index"
                        v-model="activeAmountArray[index]"
                    ></el-input-number>
                </template>
			</el-table-column>
        </el-table>
        <!-- 所有商品列表 -->
        <div class="allProductList" v-if="!IsSetUpPageShow">
            <p class="dottedLine"></p>
            <el-table :data="arr" style="width: 100%;margin-top:10px;">
                <!-- <el-table-column prop="img" label="图片" width="100">
                        <template  slot-scope="scope">
                            <img :src="scope.row.img"  min-width="50" height="50" />
                        </template>
                </el-table-column>-->
                <el-table-column prop="productId" label="商品ID" width="100"></el-table-column>
                <el-table-column prop="category" label="商品类别"></el-table-column>
                <el-table-column prop="brand" label="商品品牌"></el-table-column>
                <el-table-column prop="name" label="商品名称" width="230"></el-table-column>
                <el-table-column prop="status" label="商品状态"></el-table-column>
                <el-table-column prop="price" label="售价"></el-table-column>
                <el-table-column prop="amount" label="库存"></el-table-column>
                <el-table-column prop="sales" label="销量"></el-table-column>
                <el-table-column label="操作" width="100">
				<template slot-scope="scope" style="display:flex"> 
                        <el-button
                            size="small"
                            @click="handleAdd(scope.$index,scope.row)"
                            v-if="!(activeIndex === scope.row.productId)"
                            style="color:#20a0ff"
                        >添加</el-button>
                        <el-button size="small" v-if="activeIndex === scope.row.productId">已添加</el-button>
				</template>
			</el-table-column>
	  </el-table>
            <el-row style="margin-top:5px;">
                <el-col :span="12">
                    <el-pagination
                        background=""
                        layout="prev, pager, next"
                        :total="total"
                        :page-size="pageSize"
                        @current-change="handleCurrentChange"
                    ></el-pagination>
         </el-col>
                <el-col :span="12" style="padding: 2px 5px;">
                    <div style="float:right">
                        <el-button size="small" @click="back">取消</el-button>
                        <el-button size="small" @click="setUpPageButton()" type="primary">确认</el-button>
              </div>
          </el-col>
      </el-row>
        </div>
        <!-- 活动设置页 -->
        <div class="setUpPageDiv">
            <div
                class="setUpPage"
                v-if="IsSetUpPageShow"
                v-for="(item,index) in formArray"
                :key="index"
            >
                <!-- 设置成团人数 -->
                <el-form
                    ref="form"
                    :model="formArray[index]"
                    label-width="130px"
                    :label-position="'right'"
                    :rules="rules"
                >
                    <div class="settedNumber">
                        <el-checkbox
                            v-model="formArray[index].checked"
                            @change="isChecked(formArray[index])"
                        >成团人数 ：</el-checkbox>
                        <el-input-number
                            size="small"
                            v-model="formArray[index].pieceGroupNum"
                            :disabled="!formArray[index].checked"
                        ></el-input-number>人
                    </div>
                    <div class="settedPrice">
                        <el-form-item label="拼团价 ：" prop="promotionPrice">
                            <el-input
                                v-model="formArray[index].promotionPrice"
                                style="width: 30%;"
                                size="small"
                                :disabled="!formArray[index].checked"
                            ></el-input>元 可用
                            <el-input
                                v-model="formArray[index].point"
                                style="width: 30%;"
                                size="small"
                                :disabled="!formArray[index].checked"
                            ></el-input>德分
                        </el-form-item>
                        <el-form-item label="立减 ：">
                            <el-input
                                v-model="formArray[index].reduction"
                                style="width: 30%;"
                                size="small"
                                placeholder="请输入立减"
                                :disabled="!formArray[index].checked"
                            ></el-input>立减
                        </el-form-item>
                        <el-form-item label="净值 ：">
                            <el-input
                                v-model="formArray[index].netWorth"
                                style="width: 30%;"
                                size="small"
                                placeholder="请输入净值"
                                :disabled="!formArray[index].checked"
                            ></el-input>净值
                        </el-form-item>
                        <el-form-item label="推广费 ：">
                            <el-input
                                v-model="formArray[index].promoAmt"
                                style="width: 40%;"
                                size="small"
                                placeholder="请输入推广费"
                                :disabled="!formArray[index].checked"
                            ></el-input>推广费
                        </el-form-item>
                        <el-form-item label="服务费 ：">
                            <el-input
                                v-model="formArray[index].serverAmt"
                                style="width: 40%;"
                                size="small"
                                placeholder="请输入服务费"
                                :disabled="!formArray[index].checked"
                            ></el-input>服务费
                        </el-form-item>
                        <el-form-item label="拼主价/次数 ：">
                            <el-radio-group
                                v-model="formArray[index].unifiedSetup"
                                :disabled="!formArray[index].checked"
                                :change="emptyInfo(formArray[index])"
                            >
                                <el-radio label="0">不设置</el-radio>
                                <el-radio label="1">统一设置</el-radio>
                                <el-radio label="2">分别设置</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="" v-if="formArray[index].unifiedSetup === '1'">
                            <el-input
                                style="width: 20%;"
                                size="small"
                                v-model="formArray[index].memberPrice"
                                :disabled="!formArray[index].checked"
                            ></el-input>元
                            <el-input
                                style="width: 20%;"
                                size="small"
                                v-model="formArray[index].frequency"
                                :disabled="!formArray[index].checked"
                            ></el-input>次
                        </el-form-item>
                        <div class="flexBox">
                            <div class="flexLeft">
                                <el-form-item
                                    label="纯白人："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].pureMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].pureFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                                <el-form-item
                                    label="VIP/SP："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].vipMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].vipFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                            </div>
                            <div class="flexRight">
                                <el-form-item
                                    label="白人："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].whiteMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].whiteFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                                <el-form-item
                                    label="SO/店主："
                                    v-if="formArray[index].unifiedSetup === '2'"
                                >
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].merchantMemberPrice"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>元
                                    <el-input
                                        size="small"
                                        v-model="formArray[index].merchantFrequency"
                                        :disabled="!formArray[index].checked"
                                    ></el-input>次
                                </el-form-item>
                            </div>
                        </div>
                        <el-form-item label="">
                            <el-checkbox-group v-model="formArray[index].newFree">
                                <el-checkbox
                                    label="新人免单"
                                    name="type"
                                    :disabled="!formArray[index].checked"
                                ></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
        </div>
        <div v-if="IsSetUpPageShow" class="btnGroup">
            <el-button @click="closeSetUpPage" size="small">上一页</el-button>
            <el-button type="primary" @click="submitForm(formArray)" size="small">确认</el-button>
            <el-button @click="closeSetUpPage" size="small">取消</el-button>
        </div>
    </section>
</template>
<script>
import global from "../../common/common.vue";
export default {
  data() {
        return {
      flag: false /* 是否检验成功 */,
      formArray: [
        { unifiedSetup: "0" },
        { unifiedSetup: "0" },
        { unifiedSetup: "0" }
      ],
      rules: {
        promotionPrice: [
          { required: true, message: "请输入拼团价", trigger: "blur" }
        ]
      },
      checked: false,
      IsSetUpPageShow: false,
      labelPosition: "right",
      activeAmountArray: [] /* 活动库存数组 */,
      addarr: [], //参加活动的商品
      arr: [], //商品列表
      sup: [{ id: "", name: "全部" }], //商品供应商列表
      allclass: [{ id: "", name: "全部", categories: [] }], //商品分类
      brands: [{ id: "", name: "全部" }], //商品品牌
      goodstates: [
        //商品状态
        { id: "", name: "全部" },
        { id: "ONSALE", name: "已上架" },
        { id: "DRAFT", name: "草稿箱" },
        { id: "FORSALE", name: "预售" },
        { id: "INSTOCK", name: "已下架" }
            ],
      supplier: "", //商品供应商
      classify: "", //商品分类
      bd: "", //商品品牌
      state: "", //商品状态
      skuname: "", //商品名称
      skucode: "", //商品SKU
      currentPage: 1, //当前页
      pageSize: 6, //页大小
      total: 1, //商品列表总数
      activeIndex: "",
      supplierUrl: global.supplierUrl,
      category: "",
      brand: global.brandUrl,
      list: global.listUrl,
      create: global.createUrl,
      skuNumber: "", //sku条数
      categorylist: [] /* 二级分类数组 */,
      searchedByProductId: "" /* 根据商品id搜索 */,
      productId: "" /* 商品ID */,
      statusShow: {
        ONSALE: "上架",
        FORSALE: "预售",
        DRAFT: "草稿箱",
        INSTOCK: "下架"
        }
    };
    },
  mounted() {
       this.getSup();
       this.getBrand();
       this.getAllClass();
    this.handleSearch();
   },
  methods: {
    /* 时间转换 */
    changeTi(val) {
      let date = new Date(val);
      let yy = date.getFullYear() + "-";
      let mm =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      let dd =
        (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
      let hh =
        (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":";
      let min =
        (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) +
        ":";
      let ss =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      let aa = yy + mm + dd + hh + min + ss;
      return aa;
    },
    /* 设置页btn */
    setUpPageButton() {
      console.log("进入设置页");
      this.IsSetUpPageShow = true;
    },
    /* 关闭设置页 */
    closeSetUpPage() {
      this.IsSetUpPageShow = false;
    },
        //分页点击
    handleCurrentChange: function(val) {
      this.currentPage = val;
            this.handleSearch();
        },
        //添加按钮
    handleAdd: function(index, item) {
      this.activeIndex = item.productId;
      if (this.addarr.length === 1) {
                this.addarr = [];
                this.addarr.push(item);
        this.skuNumber = this.addarr[0].skuList;
          } else {
              this.addarr.push(item);
        this.skuNumber = this.addarr[0].skuList;
          }
      this.activeAmountArray.length = this.addarr[0].skuList.length;
        },
       //获得商品供应商
    getSup: function() {
      fetch(this.supplierUrl, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.sup = this.sup.concat(res.result);
                    // this.supplier=res.result[0].name;
          } else {
                    this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
                    })
        .catch(e => {
                this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
       },
       //获得商品分类
    getAllClass: function() {
      fetch(global.categoryUrl, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.allclass = this.allclass.concat(res.result);
          } else {
                    this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
                    })
        .catch(e => {
                this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
    },
    /* 获取二级分类 */
    selectCatedory(val) {
      let o = this.allclass.filter(v => v.id == val);
      let catedoryList = o[0].categories;
      let arr = [];
      console.log(val, o[0].categories);
      catedoryList.forEach(element => {
        let obj = {
          id: element.id,
          name: element.name
        };
        arr.push(obj);
      });
      this.category = "";
      this.categorylist = arr;
       },
       //获得所有商品品牌
    getBrand: function() {
      fetch(this.brand, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
                //console.log(res);
          if (res.isSuccess === 1) {
            this.brands = this.brands.concat(res.result);
                    //this.bd=res.result[0].name;
          } else {
                    this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
                    })
        .catch(e => {
                this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
       },
       //搜索
    handleSearch: function() {
      let _this = this;
      let spu, goodstate, skuname, skucode, brand, category, supname, productId;
      if (_this.supplier === "") {
        spu = "";
      } else {
               for (let ele of this.sup) {
          if (ele.name === this.supplier) spu = ele.code;
                }
           }
      for (let ele of this.goodstates) {
        if (ele.name === this.state) goodstate = ele.id;
           }
      //    for (let ele of this.allclass){
      //        if(ele.name === this.classify) category = ele.id;
      //    }
      for (let ele of this.brands) {
        if (ele.name === this.bd) brand = ele.id;
           }
      goodstate = this.state === "" ? "" : goodstate;
      brand = this.bd === "" || brand === "" ? 0 : brand;
      category = this.category === "" || category === "" ? 0 : this.category;
      skuname = this.skuname === "" ? "" : this.skuname;
      skucode = this.skucode === "" ? "" : this.skucode;
      productId = this.productId === "" ? null : this.productId;
      let formData = JSON.stringify({
        supcode: spu, //供应商
        supname: _this.supplier, //供应商名称
        goodstate: goodstate, //状态
        skuname: skuname, //商品名称
        skucode: skucode, //商品sku
        pageNum: _this.currentPage, //当前页码
        brand: brand, //商品品牌
        category: category, //商品分类
        productId
                });
      fetch(this.list, {
        method: "POST", //请求方法
        body: formData //请求体
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
                    _this.total = res.count;
            _this.arr = res.result;
            _this.arr.forEach(element => {
              element.status = this.statusShow[element.status];
            });
          } else {
                    _this.$message({
              message: res.errorMsg,
              type: "error"
            });
          }
                    })
        .catch(e => {
                _this.$message({
            message: e,
            type: "error"
          });
        });
    },
    /* 是否选中 */
    isChecked(tag) {
      console.log(tag.checked);
    },
    /* 切换单选按钮清空数据 */
    emptyInfo(info) {
      if (info.unifiedSetup === "0" || info.unifiedSetup === null) {
        info.memberPrice = "";
        info.frequency = "";
        info.pureMemberPrice = "";
        info.pureFrequency = "";
        info.vipMemberPrice = "";
        info.vipFrequency = "";
        info.whiteMemberPrice = "";
        info.whiteFrequency = "";
        info.merchantMemberPrice = "";
        info.merchantFrequency = "";
      } else if (info.unifiedSetup === "1") {
        info.pureMemberPrice = "";
        info.pureFrequency = "";
        info.vipMemberPrice = "";
        info.vipFrequency = "";
        info.whiteMemberPrice = "";
        info.whiteFrequency = "";
        info.merchantMemberPrice = "";
        info.merchantFrequency = "";
      } else {
        info.memberPrice = "";
        info.frequency = "";
      }
       },
    /* 提交表单接口 */
    submitFormUrl(data) {
      fetch(this.create, {
        method: "POST",
        body: JSON.stringify(data),
        headers: { "Content-Type": "application/json;charset=UTF-8" }
               })
        .then(res=>res.json())
        .then(res => {
          if (res.errorCode == 200) {
                this.$message({
              message: "创建成功！",
              type: "success"
            });
            this.formArray = [
              { unifiedSetup: "0" },
              { unifiedSetup: "0" },
              { unifiedSetup: "0" }
            ];
            this.$router.push("/fightList");
          } else {
            this.$message({
              message:res.message,
              type: "error"
            });
          }
        })
        .catch(e => {
          console.log(e);
          this.$message({ message: e, type: "error" });
        });
    },
    /* 提交按钮 */
    submitForm(form) {
      let formArray = [];
      form.forEach((item, index) => {
        if (item.checked === true) {
          formArray[index] = item;
        }
      });
      let newformArray = formArray.filter(item => item);
      let data = JSON.parse(sessionStorage.getItem("groupDatas"));
      for (let i = 0; i < data.orgGroupQua.length; i++) {
        if (data.orgGroupQua[i] === "VIP|SR") data.orgGroupQua[i] = "DS";
        else if (data.orgGroupQua[i] === "SO|店主") data.orgGroupQua[i] = "SP";
        else if (data.orgGroupQua[i] === "白人") data.orgGroupQua[i] = "RC";
        else if (data.orgGroupQua[i] === "纯白人") data.orgGroupQua[i] = "PW";
                }
      for (let i = 0; i < data.joinGroupQua.length; i++) {
        if (data.joinGroupQua[i] === "VIP|SR") data.joinGroupQua[i] = "DS";
        else if (data.joinGroupQua[i] === "SO|店主")
          data.joinGroupQua[i] = "SP";
        else if (data.joinGroupQua[i] === "白人") data.joinGroupQua[i] = "RC";
        else if (data.joinGroupQua[i] === "纯白人") data.joinGroupQua[i] = "PW";
               }
      data.joinGroupQua = data.joinGroupQua.join("|");
      data.orgGroupQua = data.orgGroupQua.join("|");
      data.isDeliveryReduction = data.isDeliveryReduction === "计算" ? 0 : 1;
      let productIds = this.addarr[0].productId;
      let productArray = [];
      this.addarr[0].skuList.forEach((item, index) => {
        let pSkuNum = this.activeAmountArray[index];
        let msg = {
          sId: item.skuId,
          productId: productIds,
          pSkuNum
        };
        productArray.push(msg);
      });
      let str;
      let array = productArray.some(item => {
        if (item.pSkuNum == null) return (str = "请设置活动库存");
                        });
      if (array) return this.$message.error(str);

      if (newformArray.length < 1) {
        this.$message({
          message: "请配置成团信息",
          type: "error"
        });
      } else {
        let res = newformArray.some((item, index) => {
          if (item.pieceGroupNum === 0 ) return (str = "请设置成团人数");
          if (item.promotionPrice === undefined) return (str = "请设置拼团价");
        });
        if (res) return this.$message.error(str);
        data.pgSkus = productArray;
        data.partSpecs = newformArray;
        data.pGTime = [
          this.changeTi(data.pGTime[0]),
          this.changeTi(data.pGTime[1])
        ];
        data.pGTime = data.pGTime.join("/");
        this.submitFormUrl(data);
                    }
       },
      //上一页
    back: function() {
           this.$router.back(-1);
      }
    }
};
</script>
<style>
.el-col-4 {
    text-align: center;
}
.dottedLine {
  box-sizing: border-box;
  border-bottom: 1px dashed rgb(201, 201, 201);
}
.supplierBox {
  display: flex;
}
.searchBtn {
  /* height: 35px; */
  margin-left: 80px;
}
.borderBottom p {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(223, 230, 236);
  text-align: center;
  width: 190%;
  margin-left: -45%;
  padding-bottom: 10px;
  margin-bottom: 0%;
}
.borderBottom p:last-child {
  box-sizing: border-box;
  border-bottom: transparent;
}
.setUpPageDiv {
  width: 100%;
  display: flex;
}
.setUpPage {
  box-sizing: border-box;
  border: 1px solid rgb(226, 226, 226);
  padding: 10px;
  margin-top: 15px;
}
.settedNumber {
  text-align: center;
}
.selectWidth {
  width: 80%;
}
.settedPrice {
  border: 1px solid rgb(253, 253, 253);
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 15px;
}
.btnGroup {
  margin-left: 45%;
  margin-top: 15px;
}
.flexBox {
  overflow: hidden;
  width: 222%;
  margin-left: -8%;
}
.flexBox .el-input {
  width: 50px;
}
.flexLeft {
  width: 28%;
  float: left;
  margin-right: -44px;
  margin-left: -20px;
}
.flexRight {
  width: 28%;
  float: left;
}
.el-table .cell .setAmount {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(223, 230, 236);
  width: 126%;
  margin-left: -20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 9px;
  margin-top: 6px;
  line-height: 30px;
}

.el-table .cell .setAmount .el-input-number__decrease {
  right: 16px;
  bottom: 10px;
}
.el-table .cell .setAmount .el-input-number__increase {
  right: 16px;
}
.el-table .cell .setAmount:last-child {
  box-sizing: border-box;
  border-bottom: transparent;
}
.borderBottom .el-table td{
  padding: 12px 0;
}
</style>

