<template>
  <section>
    <div v-if="!isCreatePageShow">
      <el-button type="primary" @click="addRecommend()" class="add_recommend" style="margin-left: 50px">添加推荐</el-button>
      <el-button type="primary" @click="addRecommend('addStrongPush')" class="add_recommend">添加强推</el-button>
      <!-- 推荐商品列表 -->
      <el-table :data="tableData" border="" style="width: 100%">
        <el-table-column prop="id" label="推荐编号" width="100"></el-table-column>
        <el-table-column prop="name" label="推荐名称" width="auto"></el-table-column>
        <el-table-column prop="code" label="关联推荐页面" width="130"></el-table-column>
        <el-table-column prop="strongPush" label="关联类型" width="80"></el-table-column>
        <el-table-column prop="nummber" label="推荐商品数量" width="120"></el-table-column>
        <el-table-column prop="createdAt" label="创建日期" width="100"></el-table-column>
        <el-table-column prop="updatedAt" label="修改日期" width="100"></el-table-column>
        <el-table-column label="操作" prop="state" width="130">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="editRecommend(scope.row)" style="color:#7511a9">编辑</el-button>
            <el-button type="text" size="small" @click="copeRecommend(scope.row)">复制</el-button>
            <el-button type="text" size="small" @click="deteleRecommend(scope.row)" style="color:red">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 商品推荐列表分页 -->
      <el-pagination
        :page-size="size"
        layout="prev, pager, next"
        :total="total"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
    <el-row class = 'showBox' v-else>
      <el-col :span="24" class = 'showBox'>
        <div class="create_recommend">
          <!-- 推荐名称 -->
          <p>创建商品</p>
          <el-row>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
              <el-col :span="7.5">
                <div class="inputBox">
                  <span v-text="recommendedName.label" id="span"></span>
                  <el-input v-model="formInline.name" :placeholder="recommendedName.placeholder"></el-input>
                </div>
              </el-col>
              <el-col :span="9">
                <div class="inputBox">
                  <span v-text="relevantRecommendationPages.label"></span>
                  <el-input v-model="formInline.code" :placeholder="relevantRecommendationPages.placeholder"></el-input>
                </div>
              </el-col>
            </el-form>
          </el-row>
          <!-- 选择商品/已选商品 标签 -->
          <el-tabs v-model="activeName2" type="card" @tab-click="handleClick">
            <el-tab-pane label="选择商品" name="first" :disabled = "hasChooseCommodity">
              <el-row>
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                  <el-col :span="5" style="margin-right: 1%">
                    <div style="margin-bottom: 10px">商品ID</div>
                    <el-input v-model="id" placeholder="请输入商品ID"></el-input>
                  </el-col>
                  <el-col :span="5" style="margin-right: 1%">
                    <div style="margin-bottom: 10px">商品名称</div>
                    <el-input v-model="name" placeholder="请输入商品名称"></el-input>
                  </el-col>
                  <el-col :span="5">
                    <div style="margin-bottom: 10px">供应商</div>
                    <el-select v-model="supplier" placeholder="请输入供应商">
                      <el-option
                        v-for="item in sup"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                      ></el-option>
                    </el-select>
                  </el-col>
                </el-form>
              </el-row>
              <el-row>
                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                  <el-col :span="5" style="margin-right: 1%">
                    <div style="margin-bottom: 10px">商品品牌</div>
                    <el-select v-model="bd" placeholder="请选择" size="small" style="width:100%">
                      <el-option
                        v-for="item in brands"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                        v-html="item.name"
                      ></el-option>
                    </el-select>
                  </el-col>
                  <el-col :span="8" style="margin-right: 1%">
                    <div style="margin-bottom: 10px">商品分类</div>
                    <div class="flex">
                        <el-select
                          v-model="classify"
                          placeholder="请选择"
                          size="small"
                          style="width:49%"
                          @change="selectCatedory"
                        >
                          <el-option
                            v-for="item in allclass"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id"
                            v-html="item.name"
                          ></el-option>
                        </el-select>
                        <el-select
                          v-model="category"
                          filterable
                          size="small"
                          placeholder="二级分类"
                          style="width:49%;"
                        >
                          <el-option
                            v-for="(item,index) in categorylist"
                            :key="index"
                            :value="item.id"
                            :label="item.name"
                          ></el-option>
                        </el-select>
                      </div>
                  </el-col>
                  <el-col :span="3">
                    <div style="height: 18px"></div>
                    <el-button type="primary" @click="search">搜索</el-button>
                  </el-col>
                </el-form>
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="已选商品" name="second" :disabled = "hasNoChooseCommodity"></el-tab-pane>
            <!-- 商品表格 -->
            <el-table :data="tableDataSelected" border="" style="width: 100%" v-loading="hasTableLoading">
              <el-table-column label="选择" width="80px">
                <template slot-scope="scope">
                  <el-checkbox
                    label=""
                    name="type"
                    @change="handleChecked(scope.row)"
                    v-model="scope.row.checked"
                  ></el-checkbox>
                </template>
              </el-table-column>
              <el-table-column prop="id" label="商品id" width="140"></el-table-column>
              <el-table-column prop="category" label="商品类别" width="120">
                <template slot-scope="scope" prop="category">
                  <p v-for="(item,index) in scope.row.category" :key="index">{{item}}</p>
                </template>
              </el-table-column>
              <el-table-column prop="brand" label="商品品牌" width="120"></el-table-column>
              <el-table-column prop="supplier" label="供应商" width="120"></el-table-column>
              <el-table-column prop="name" label="商品名称" ></el-table-column>
              <el-table-column prop="status" label="商品状态" width="100"></el-table-column>
              <el-table-column prop="price" label="售价" width="80"></el-table-column>
              <el-table-column prop="amount" label="库存" width="80"></el-table-column>
              <el-table-column prop="sales" label="销量" width="100"></el-table-column>
              <el-table-column label="操作" prop="state" v-if='activeName2 == "second"'  width="100">
                <template slot-scope="scope">
                  <el-button type="text" size="small"  @click="deleteSelect(scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
            <p @click="allSelected" class="smallBtn">全选</p>
            <el-pagination
              :page-size="sizeNum"
              layout="prev, pager, next"
              :total="totalNum"
              :current-page="pageNum"
              @current-change="handleSelectChange"
            ></el-pagination>
            <div class="btnBox">
              <el-button type="primary" @click="submit" v-loading="isComfirmLoading">确认</el-button>
              <el-button @click="cancel">取消</el-button>
            </div>
          </el-tabs>
        </div>
      </el-col>
    </el-row>
    
  </section>
</template>
<script>
import global from "../../common/common.vue";
export default {
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.getSup();
      vm.getBrand();
      vm.getAllClass();
      vm.getRecommendList();
    })
  },
  data() {
      return {
      hasChooseCommodity: false,
      hasNoChooseCommodity: false,
      hasTableLoading: false,
      isComfirmLoading: false,
      isComfirm: false,
      recommendedName: {
        label: '推荐名称',
        placeholder: '请输入推荐名称'
      },
      relevantRecommendationPages: {
        label: '关联推荐页面',
        placeholder: '请输入关联推荐页面'
      },
      strongPush: 0,
      size: 10,
      page: 1,
      total: 10,
      pageNum: 1,
      totalNum: 1,
      sizeNum: 5,
      isCreatePageShow: false,
      dialogFormVisible: false /* 编辑弹框是否显示 */,
      form: {} /* 编辑弹框表单内容 */,
      labelPosition: "right",
      tableData: [],
      formInline: {},
      activeName2: "first",
      tableDataSelected: [] /* 可被选择的数据 */,
      selectIdArray: [] /* 被选中的id */,
      supplier: "" /* 供应商 */,
      classify: "",
      category: "",
      categorylist: "",
      bd: "",
      id: "",
      name: "",
      sup: [{ id: "", name: "全部" }], //商品供应商列表
      allclass: [{ id: "", name: "全部", categories: [] }], //分类列表
      brands: [{ id: "", name: "全部" }], //品牌列表
      flag: "add" /* 默认添加add  编辑 edit */,
      count: 0,
      isSelected: false,
      statusShow:{ONSALE:'上架',FORSALE:"预售"},/* 展示商品状态 */
      loading: true,/* 商品加载 */
      loadings: true
    };
  },
  methods: {
    trim(str) {
      return str.replace(/(^\s*)|(\s*$)/g, ""); 
    },
    /* 删除已选择商品 */
    deleteSelect(row){
      console.log(row.id,this.flag);
      this.$confirm("是否删除该商品？","提示",{
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(()=>{
        var myHeaders = new Headers({
          "Content-type": "application/json;charset-8"
        });
        fetch(global.deleteProduct +"?recommendId="+this.flag +"&productId="+ row.id, {
          method: "POST",
          headers: myHeaders,
        })
        .then(res => res.json())
        .then(res=>{
          if(res.errorCode == 200){
            this.$message({
              message:"删除成功",
              type:"success"
            })
            this.getEditRecommend(this.flag);
          }else{
            this.$message({
              message:"删除失败",
              type:"error"
            })
          }
        })

      }).catch(()=>{
         this.$message({
            type: 'info',
            message: '已取消删除'
          });         
      })
    },
    /* 全选 */
    allSelected() {
      if (this.isSelected) {
        this.tableDataSelected.forEach(element => {
          element.checked = false;
          let index = this.selectIdArray.indexOf(element.id);
          this.selectIdArray.splice(index, 1);
        });
      } else {
        this.tableDataSelected.forEach(element => {
          element.checked = true;
          let index = this.selectIdArray.indexOf(element.id);
          if(index == -1){
            this.selectIdArray.push(element.id);
          }
        });
      }
      this.isSelected = !this.isSelected;
      console.log(this.selectIdArray);
    },
    /* 分页 */
    handleCurrentChange(val) {
      this.page = val;
      this.getRecommendList();
    },
    /* 可选商品分页 */
    handleSelectChange(val) {
      this.pageNum = val;
      if (this.activeName2 == "first") {
        this.getAddSelected();
      } else {
        this.getEditRecommend(this.flag);
      }
    },
    /* 时间转换 */
    changeTime: function(val) {
      let date = new Date(val);
      let yy = date.getFullYear() + "-";
      let mm =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      let dd =
        (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
      let hh =
        (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":";
      let min =
        (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) +
        ":";
      let ss =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      //let aa = yy + mm + dd + hh + min + ss;
      let aa = yy + mm + dd;
      return aa;
    },
    /* 获取添加时可被选择数据 */
      getAddSelected(handleClick) {
      if (handleClick !== 'handleClick') {
        if (this.hasChooseCommodity || this.hasNoChooseCommodity) return false
        this.hasTableLoading = true
        this.hasChooseCommodity = true
        this.hasNoChooseCommodity = true
      }
      let formData = JSON.stringify({
        pageNum: this.pageNum,
        pageSize: this.sizeNum,
        recommendId: this.flag,
        supplier:this.supplier,
        brand:this.bd,
        category:this.category,
        id:this.id,
        name:this.name,
      });
      var myHeaders = new Headers({
        "Content-type": "application/json;charset-8"
      });
      fetch(global.getSelectedProduct, {
        method: "POST",
        headers: myHeaders,
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.errorCode == 200) {
            this.loadings = false;
            res.data.productSearchResult.forEach(element => {
              element.category = element.category.split(",");
              element.status = this.statusShow[element.status];
              if(this.selectIdArray.indexOf(element.id) == -1){
                element.checked = false;
              }else{
                element.checked = true;
              }
            });
            this.tableDataSelected = res.data.productSearchResult;
            console.log('未选择', this.activeName2)
            this.totalNum = res.data.selectCount;
            let a = this.tableDataSelected.filter(element => {
              return element.checked;
            });
            if (a.length == this.tableDataSelected.length) {
              /* 全选 */
              this.isSelected = true;
            } else {
              this.isSelected = false;
            }
          } else {
            this.$message({
              message: res.message,
              type: "error"
            });
          }
            this.hasTableLoading = false
            this.hasChooseCommodity = false
            this.hasNoChooseCommodity = false
        });
        this.loadings = true;
    },
    /* 添加推荐 */
    addRecommend(type) {
      this.formInline = {};
      if (type === 'addStrongPush') {
        this.strongPush = 1
        this.formInline = Object.assign(this.formInline, {code: 'freshman'})
        this.recommendedName = Object.assign(this.recommendedName, {
          label: '强推名称',
          placeholder: '请输入强推名称'
        })
        this.relevantRecommendationPages = Object.assign(this.relevantRecommendationPages, {
          label: '关联强推页面',
          placeholder: '请输入关联强推页面'
        })
      } else {
        this.strongPush = 0
        this.recommendedName = Object.assign(this.recommendedName, {
          label: '推荐名称',
          placeholder: '请输入推荐名称'
        })
        this.relevantRecommendationPages = Object.assign(this.relevantRecommendationPages, {
          label: '关联推荐页面',
          placeholder: '请输入关联推荐页面'
        })
      }
      this.activeName2 = "first"; //切换页面
      this.flag = "";
      this.isCreatePageShow = true;
      this.supplier = "";
      this.bd = "";
      this.classify = "";
      this.getAddSelected();
    },
    /* 编辑请求对应商品 */
    getEditRecommend(id, type, strongPush) {
        if (type !== 'handleClick') {
          if (this.hasChooseCommodity || this.hasNoChooseCommodity) return false
          this.hasTableLoading = true
          this.hasChooseCommodity = true
          this.hasNoChooseCommodity = true
        }
        console.log('page------', this.pageNum);
        if (strongPush) {
            strongPush === '普通' ? this.strongPush = 0 : this.strongPush = 1
        }
      fetch(
        global.getCurrentRecommend +
          "?recommendId=" +
          id +
          "&pageNum=" +
          this.pageNum +
          "&pageSize=" +
          this.sizeNum,
        {
          method: "GET"
        }
      )
        .then(res => res.json())
        .then(res => {
          if (res.errorCode == 200) {
            if (type === 'edit') this.isCreatePageShow = true;
            this.activeName2 = "second"; //切换页面
            this.selectIdArray = [];
            res.data.result.productSearchResultList.forEach(element => {
              element.checked = true;
              element.status = this.statusShow[element.status];
              // this.selectIdArray.push(element.id);
              element.category = element.category.split(",");
            });
            this.selectIdArray = res.data.ids;
            this.tableDataSelected = res.data.result.productSearchResultList;
            console.log('已选择', this.activeName2)
            /* 编辑商品列表获取total */
            this.totalNum = res.data.totle;
            this.formInline.name = res.data.result.name;
            this.formInline.code = res.data.result.code;
            let a = this.tableDataSelected.filter(element => {
              return element.checked;
            });
            if (a.length == this.tableDataSelected.length) {
              /* 全选 */
              this.isSelected = true;
            } else {
              this.isSelected = false;
            }

          } else {
            this.$message({
              message: "获取数据失败",
              type: "info"
            });
          }
            this.hasTableLoading = false
            this.hasChooseCommodity = false
            this.hasNoChooseCommodity = false
        });
    },
    /* 编辑对应商品 */
    editRecommend(row) {
      this.flag = row.id;
      this.getEditRecommend(row.id, 'edit', row.strongPush);
    },
    handleClick(tab, event) {
      if (this.hasChooseCommodity || this.hasNoChooseCommodity) return false
      this.hasTableLoading = true
      this.hasChooseCommodity = true
      this.hasNoChooseCommodity = true
      if (tab.index == 0) {
        /* 可被选择的商品 */
        this.getAddSelected('handleClick');
      } else {
        /* 已经选择商品 */
        this.pageNum = 1;
        if(!this.flag){
          this.hasTableLoading = false
          this.hasChooseCommodity = false
          this.hasNoChooseCommodity = false
          this.tableDataSelected = [];
          return
        }
        this.getEditRecommend(this.flag, 'handleClick');
      }
    },
    cancel() {
      //关闭创建商品页面
      this.hasTableLoading = false
      this.isComfirmLoading = false
      this.isComfirm = false
      this.strongPush = 0
      this.size = 10
      this.page = 1
      this.total = 10
      this.pageNum = 1
      this.totalNum = 1
      this.sizeNum = 5
      this.isCreatePageShow = false
      this.dialogFormVisible = false
      this.form = {}
      this.labelPosition= "right"
      this.tableData = []
      this.formInline = {}
      this.activeName2 = "first"
      this.tableDataSelected = []
      this.selectIdArray= []
      this.supplier = ""
      this.classify = ""
      this.category = ""
      this.categorylist= ""
      this.bd = ""
      this.id = "",
      this.name = ""
      this.flag = "add"
      this.count = 0
      this.isSelected = false
      this.statusShow = {ONSALE:'上架',FORSALE:"预售"}
      this.getRecommendList();
    },
    /* 获取商品推荐列表 */
    getRecommendList() {
      fetch(
        global.getRecommendedList +
          "?pageNum=" +
          this.page +
          "&pageSize=" +
          this.size,
        {
          method: "GET"
        }
      )
        .then(res => res.json())
        .then(res => {
          this.loading = false;
          res.data.recommendList.forEach(element => {
            element.createdAt = this.changeTime(element.createdAt);
            element.updatedAt = this.changeTime(element.updatedAt);
            element = Object.assign(element, {strongPush: element.strongPush ? '强推' : '普通'})
          });
          this.tableData = res.data.recommendList;
          this.total = res.data.pageTotle;
          if(typeof this.flag == 'number'){
            this.getEditRecommend(this.flag);
          }
        });
        setTimeout(_ => {
          this.isComfirm = false
          this.isComfirmLoading = false
        }, 500)
    },
    /* 删除列表中推荐商品 */
    deteleRecommend(row) {
      this.$confirm("是否删除该商品？此操作无法撤回。", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          var myHeaders = new Headers({
            "Content-type": "application/json;charset-8"
          });
          fetch(global.deleteRecommendList + "?recommendId=" + row.id, {
            method: "POST",
            headers: myHeaders
          })
            .then(res => res.json())
            .then(res => {
              if (res.errorCode == 200) {
                this.$message({
                  message: "删除成功",
                  type: "success"
                });
                this.getRecommendList();
              } else {
                this.$message({
                  message: "删除失败",
                  type: "error"
                });
              }
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    /* 复选框选中或者不选中事件 */
    handleChecked(row) {
      let index = this.selectIdArray.indexOf(row.id);
      if (index === -1) {
        this.selectIdArray.push(row.id);
      } else {
        this.selectIdArray.splice(index, 1);
      }
      console.log(this.selectIdArray);
    },
    /* 保存 */
    submit() {
      if (this.isComfirm) return false
      this.isComfirm = true
      this.isComfirmLoading = true
      if (this.formInline.name == null) {
        this.$message({
          showClose: true,
          message: this.recommendedName.placeholder,
          type: 'error'
        });
        this.isComfirm = false
        this.isComfirmLoading = false
        return false
      } else {
        let name = this.trim(this.formInline.name)
        if (name.length === 0) {
          this.$message({
            showClose: true,
            message: this.recommendedName.placeholder,
            type: 'error'
          });
          this.isComfirm = false
          this.isComfirmLoading = false
          return false
        }
      }
      if (this.formInline.code == null) {
        this.$message({
          showClose: true,
          message: this.relevantRecommendationPages.placeholder,
          type: 'error'
        });
        this.isComfirm = false
        this.isComfirmLoading = false
        return false
      } else {
        let code = this.trim(this.formInline.code)
        if (code.length === 0) {
          this.$message({
            showClose: true,
            message: this.relevantRecommendationPages.placeholder,
            type: 'error'
          });
          this.isComfirm = false
          this.isComfirmLoading = false
          return false
        }
      }
      if (this.selectIdArray.length === 0) {
        this.$message({
          showClose: true,
          message: '请至少选择一个商品',
          type: 'error'
        });
        this.isComfirm = false
        this.isComfirmLoading = false
        return false
      }
      this.formInline = Object.assign(this.formInline, {
        name: this.trim(this.formInline.name),
        code: this.trim(this.formInline.code)
      })
      if (typeof this.flag == "number") {
        this.formInline.recommendId = this.flag;
      }
      this.formInline.productLists = this.selectIdArray;
      const isEdit = typeof this.flag == "number"
      this.formInline = Object.assign(this.formInline, {strongPush: this.strongPush})
      fetch(
        isEdit
          ? global.editRecommendList
          : global.addRecommend,
        {
          method: "POST",
          headers: { "Content-type": "application/json;charset-8" },
          body: JSON.stringify(this.formInline)
        }
      )
        .then(res => res.json())
        .then(res => {
          if (res.errorCode == 200) {
            if (!isEdit) {
              this.flag = res.data
                this.$message({
                message: '添加成功',
                type: "success"
              });
            } else {
             this.$message({
                message: res.data,
                type: "success"
              });
            }
            
            this.pageNum = 1;
            this.getRecommendList();
          } else {
            this.isComfirm = false
            this.isComfirmLoading = false
            this.$message({
              message: res.message,
              type: "error"
            });
          }
        })
        .catch(e=> {
          this.isComfirm = false
          this.isComfirmLoading = false
          this.$message({
              message: '操作失败',
              type: "error"
            });
        })
    },
    /* 复制商品 */
    copeRecommend(row) {
      console.log(row.id);
      fetch(global.copeRecommend + "?id=" + row.id, {
        method: "GET"
      })
        .then(res => res.json())
        .then(res => {
          if (res.errorCode == 200) {
            this.$message({
              message: res.data,
              type: "success"
            });
            this.getRecommendList();
          } else {
            this.$message({
              message: res.data,
              type: "error"
            });
          }
        });
    },
    /* 获取商品品牌  */
    getBrand: function() {
      fetch(global.brandUrl, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.brands = this.brands.concat(res.result);
          } else {
            this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
        })
        .catch(e => {
          this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
    },
    /* 获取商品分类 */
    getAllClass: function() {
      fetch(global.categoryUrl, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.allclass = this.allclass.concat(res.result);
          } else {
            this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
        })
        .catch(e => {
          this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
    },
    /* 获取二级分类 */
    selectCatedory(val) {
      let o = this.allclass.filter(v => v.id == val);
      let catedoryList = o[0].categories;
      let arr = [];
      console.log(val, o[0].categories);
      catedoryList.forEach(element => {
        let obj = {
          id: element.id,
          name: element.name
        };
        arr.push(obj);
      });
      this.category = "";
      this.categorylist = arr;
    },
    /* 获得商品供应商 */
    getSup: function() {
      fetch(global.supplierUrl, {
        method: "get"
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.sup = this.sup.concat(res.result);
          } else {
            this.$message({
              message: "查询不到数据，请稍候重试",
              type: "error"
            });
          }
        })
        .catch(e => {
          this.$message({
            message: "网络数据有误，请重新刷新",
            type: "error"
          });
        });
    },
    /* 搜索 */
    search() {
      let brandId = "";
      let supId = "";
      let categoryId = "";
      for (let ele of this.brands) {
        if (ele.value === this.bd) brandId = ele.id;
      }
      for (let ele of this.sup) {
        if (ele.value === this.supplier) supId = ele.id;
      }
      for (let ele of this.allclass) {
        if (ele.value === this.classify) categoryId = ele.id;
      }
      let formData = JSON.stringify({
        id: this.id === "" ? undefined : this.id,
        name: this.name === "" ? undefined : this.name,
        brand: this.bd === "" ? undefined : this.bd /* 品牌 */,
        supplier: this.supplier === "" ? undefined : this.supplier /* 供应商 */,
        category:
          this.category === "" ? undefined : this.category /* 二级分类 */,
        pageNum: this.page,
        pageSize: this.size,
        recommendId: this.flag /* 传入id */
      });
      fetch(global.getSelectedProduct, {
        method: "POST",
        body: formData,
        headers: { "Content-Type": "application/json;charset=UTF-8" }
      })
        .then(res => res.json())
        .then(res => {
          res.data.productSearchResult.forEach(element => {
              element.status = this.statusShow[element.status];
              element.checked = false;
              element.category = element.category.split(",");
            });
          this.tableDataSelected = res.data.productSearchResult;
          this.totalNum = res.data.selectCount;
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.inputBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  span {
    width: 145px;
  }
  #span {
    width: 90px;
  }
}
section {
  width: 100%;
  position: relative;
}
.showBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.smallBtn {
  margin: 10px 0;
  background-color: rgb(32, 160, 255);
  color: white;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.btnBox {
  width: 100%;
  margin-left: 40%;
  margin-top: 20px;
}
.add_recommend {
  float: right;
  margin: 20px 0;
}

.create_recommend {
  height: 800px;
  background-color: white;
  width: 100%;
}
.create_recommend > p {
  border-bottom: 1px solid rgb(174, 174, 174);
  padding: 20px 0;
}
.productID{
  margin-left: 14px;
  width: 94%;
}
.productName{
  margin-left: 27px;
  width: 90%;
}
.productClassify{
  margin-left: 27px;
  width: 90%;
}
.el-row {
    margin-bottom: 20px;
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
</style>

