<template>
    <section>
        <el-row style="line-height:30px; margin-top:20px; margin-left: 0px">
            <el-col :span="7" style="display:flex;justify-content:flex-end" class="addActivityclass">
                <el-button type="primary"  @click='handleAdd(false,true)' icon='plus' >添加预约活动</el-button>
            </el-col>
        </el-row>
        <el-row style="margin-bottom: 10px;margin-top: 10px">
        </el-row>
        <el-row>
            <el-col :span="6">
                <span  style='display:inline-block;width:100px;text-align:center'>活动标题</span>
                <el-input v-model="name" placeholder="请输入内容" style="width:60%;" @blur="blurSearch(name)"></el-input>
            </el-col>
            <el-col :span="6">
                <span  style='display:inline-block;width:100px;text-align:center'>活动状态</span>
                <el-select v-model="status" placeholder="请选择" style='width:60%'  @change="selectActivityStatus(status)">
                    <el-option v-for="item in options" :key="item.id" :label="item.value" :value="item.value"></el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row style="margin-bottom: 15px">
        </el-row>
        <div>
            <el-table :data="tableData">
                <el-table-column prop="reserveId" label="活动ID" width="auto"></el-table-column>
                <el-table-column prop="name" label="活动名称" width="auto"></el-table-column>
                <el-table-column  label="预约起止时间" width="auto">
                    <template slot-scope="scope">
                        <span>{{ scope.row.effectFromTime | changeTime }}</span>
                        <span>至</span>
                        <span>{{ scope.row.effectToTime | changeTime }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="支付起止时间" width="auto">
                    <template slot-scope="scope">
                        <span>{{ scope.row.payFromTime | changeTime }}</span>
                        <span>至</span>
                        <span>{{ scope.row.payToTime | changeTime }}</span>
                    </template>
                </el-table-column>
                <el-table-column  label="状态" width="auto">
                    <template slot-scope="scope">
                        <span>{{ scope.row.status | changeStatus }}</span>
                    </template>
                </el-table-column>
                <el-table-column  label="发布时间" width="auto">
                    <template slot-scope="scope">
                        <span>{{ scope.row.publishTime | changeTime }}</span>
                    </template>
                </el-table-column>
                <el-table-column  label="操作" width="auto">
                    <template slot-scope='scope'>
                        <el-button size='small' type="text" @click="update(scope.row.reserveId,true,true)" v-if="scope.row.status!==3" style="color:#7511a9">编辑</el-button>
                        <el-button size='small' type="text" @click="handleEnd(scope.row)" v-if="scope.row.status===2" style="color:#7d7d77">终止</el-button>
                        <el-button size='small' type="text"  @click="update(scope.row.reserveId,true,false)" v-if="scope.row.status===3" style="color:#08ada5">查看</el-button>
                        <el-button size='small' type="text" @click="handleStart(scope.row)" v-if="scope.row.status===4">启用</el-button>
                        <el-button size='small' type="text"  @click="deleteReserve(scope.row)" v-if="scope.row.status!==2" style="color:red">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <!--预约活动分页-->
            <el-pagination
                    :page-size="size"
                    layout="prev, pager, next"
                    :total="total"
                    @current-change="handleCurrentChange"
            ></el-pagination>
        </div>
        <el-dialog :visible.sync="changeFormVisible">
            <el-row>
                <span style='font-size:18px'>设置开启活动库存</span>
            </el-row>
            <el-table :data="tableDataSelected" highlight-current-row  v-loading="listLoading" style="margin-top: 10px" border>
                <el-table-column prop="skuId" label="skuId" width="150"></el-table-column>
                <el-table-column prop="productName" label="商品名称" width="400"></el-table-column>
                <el-table-column prop="amount" label="sku库存" width="150"></el-table-column>
                <el-table-column prop="pAmount" label="活动库存" width="180">
                    <template slot-scope="scope">
                        <div class="item_box">
                            <el-input size="small" v-model="scope.row.pAmount"  style="width: auto" type="number"></el-input>　
                        </div>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    :page-size="size"
                    layout="prev, pager, next"
                    :total="total1"
                    @current-change="handleCurrent"
            ></el-pagination>
           <!-- <el-button type="primary" @click="submitAmount">确定</el-button>-->
            <el-button type="primary" @click="cancelAmount">取消</el-button> <br/>
        </el-dialog>
    </section>
</template>
<script>
    import global from '../../common/common.vue'
    export default {
        data() {
            return {
                startReserveId: 0,
                changeAmount: 0,
                changeFormVisible: false,
                activityName: "first",
                isCreatePageShow: false,
                listLoading: false,
                reserveList: [],
                tableData: [],
                tableDataSelected: [],
                name: '',
                status: '',
                id: '',
                options: [
                    {id: '1', value: '即将开始'},
                    {id: '2', value: '进行中'},
                    {id: '3', value: '已结束'},
                    {id: '4', value: '已终止'}
                ],
                page: 1,
                size: 10,
                currentPage: 1,
                total: 1,
                total1: 1,
                totalNum: 1,
                pageNum: 1,
                reserveId: 0
            }
        },
        methods: {
            /*添加预约*/
            handleAdd(bool,bool2) {
                /*点击添加预约后跳转*/
                this.$router.push({
                    path: '/addReserve',
                    query: {
                        isShow: bool,
                        isSubmit: bool2
                    }
                })
            },
            blurSearch(val){
                this.name=val;
                this.getReserveList();
            },
            selectActivityStatus(val){
                if(val==='即将开始'){
                    this.status = 1;
                    this.getReserveList();
                    this.status = '即将开始';
                }else if(val === '进行中'){
                    this.status = 2;
                    this.getReserveList();
                    this.status = '进行中';
                }else if(val === '已结束'){
                    this.status = 3;
                    this.getReserveList();
                    this.status = '已结束';
                } else if(val === '已终止'){
                    this.status = 4;
                    this.getReserveList();
                    this.status = '已终止';
                }
            },
            handleStart(val){
                this.$confirm("是否启用该预约活动？此操作无法撤回。", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(() => {
                    var myHeaders = new Headers({
                        "Content-type": "application/json;charset-8"
                    });
                    fetch(global.startStatusUrl + "?reserveId=" + val.reserveId, {
                        method: "POST",
                        headers: myHeaders,
                        body: JSON.stringify({})
                    })
                        .then(res => res.json())
                        .then(res => {
                            if (res.errorCode === 200) {
                                this.$message({
                                    message: "启用成功",
                                    type: "success"
                                });
                                this.getReserveList();
                            } else {
                                this.$message({
                                    message: "启用失败",
                                    type: "error"
                                });
                            }
                            this.getReserveList();
                        });
                })
                    .catch(() => {
                        this.$message({
                            type: "info",
                            message: "已取消启用"
                        });
                    });
            },
            handleEnd(val){
                this.$confirm("是否终止该预约活动？此操作无法撤回。", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(() => {
                    var myHeaders = new Headers({
                        "Content-type": "application/json;charset-8"
                    });
                    fetch(global.endStatusUrl + "?reserveId=" + val.reserveId, {
                        method: "POST",
                        headers: myHeaders
                    })
                        .then(res => res.json())
                        .then(res => {
                            if (res.errorCode === 200) {
                                this.$message({
                                    message: "终止成功",　　
                                    type: "success"
                                });
                                this.getReserveList();
                            } else {
                                this.$message({
                                    message: "终止失败",
                                    type: "error"
                                });
                            }
                            this.getReserveList();
                        });
                })
                    .catch(() => {
                        this.$message({
                            type: "info",
                            message: "已取消终止"
                        });
                    });

            },
            update(reserveId,bool,boo2){
                this.$router.push({
                    path: '/addReserve',
                    query: {
                        reserveId: reserveId,
                        isShow: bool,
                        isSubmit: boo2
                    }
                })
            },
            cancelAmount(){
              this.changeFormVisible = false;
                this.$message({
                    type: "info",
                    message: "已取消启用"
                });
              this.getReserveList();
            },
            getReserveList () {
                fetch(
                    global.getReserveListUrl +
                    "?pageIndex=" +
                    this.page +
                    "&pageSize=" +
                    this.size +
                    "&name=" +
                    this.name +
                    "&status=" +
                    this.status,
                    {
                        method: "GET"
                    }
                )
                    .then(res => res.json())
                    .then(res => {
                        console.log(res.data);
                        this.tableData = res.data.reserveList;
                        this.total = res.data.reserveListCount;
                    });
            },
            handleCurrentChange(val) {
                this.page = val;
                this.getReserveList();
            },
            handleCurrent(val){
                this.page = val;
            },
            deleteReserve(row){
                this.$confirm("是否删除？此操作无法撤回。", "提示", {
                    confirmButtonText: "确定",
                    cancelButtonText: "取消",
                    type: "warning"
                }).then(() => {
                    var myHeaders = new Headers({
                        "Content-type": "application/json;charset-8"
                    })
                    fetch(global.deleteReserveUrl + "?reserveId=" + row.reserveId, {
                        method: "POST",
                        headers: myHeaders
                    })
                        .then(res => res.json())
                        .then(res => {
                            if (res.errorCode == 200) {
                                this.$message({
                                    message: "删除成功",
                                    type: "success"
                                });
                                this.getReserveList();
                            } else {
                                this.$message({
                                    message: "删除失败",
                                    type: "error"
                                });
                            }
                        });
                })
                    .catch(() => {
                        this.$message({
                            type: "info",
                            message: "已取消删除"
                        });
                    });

            }
        },
        filters: {
            changeStatus:function(val){
                switch(val){
                    case 1 : return '即将开始';break;
                    case 2 : return '进行中';break;
                    case 3 : return '已结束';break;
                    case 4 : return '已终止';break;
                    default : return '全部状态';break;
                }
            },
            changeTime: function (val) {
                let time = new Date(val);
                let yy = time.getFullYear();
                let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
                let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
                let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours();
                let min = time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes();
                let ss = time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds();
                return yy.toString() + '-' + mm.toString() + '-' + dd.toString() + ' ' + hh.toString() + ':' + min.toString() + ':' + ss.toString()
            }
        },
        created() {
            this.getReserveList();
        }
    }
</script>
<style>
    .addActivityclass{
        margin-left: -160px
    }
</style>