<template>
    <section>
        <div class="addSecKill" v-if="secKillTableShow">
            <div class="btnBoxC">
                <el-button type="primary" @click="addSecKill('add','')">新建活动</el-button>
            </div>
            <el-table :data="secKillTableData" style="width: 100%" border>
                <el-table-column prop="id" label="活动编号"></el-table-column>
                <el-table-column prop="title" label="活动名称"></el-table-column>
                <el-table-column prop="creatTime" label="创建时间"></el-table-column>
                <el-table-column prop="actTim" label="活动时间" width="350"></el-table-column>
                <el-table-column prop="statusStr" label="状态"></el-table-column>
                <el-table-column label="操作" prop="state" width="220">
                    <template slot-scope="scope" >
                      <el-button type="success" size="small" v-if="scope.row.status === 'UPLOADABLE'" @click="changeState(scope.row,'star')">发布</el-button>
                      <el-button type="warning" size="small" v-if="scope.row.status === 'PROCESSING'" @click="changeState(scope.row,'end')">结束</el-button>
                      <el-button type="info" size="small" @click="addSecKill('edit',scope.row)" v-if="scope.row.status !== 'CLOSED'" >编辑</el-button>
                      <el-button type="primary" size="small" @click="addSecKill('view',scope.row)">查看</el-button>
                      <el-button type="danger" size="small" v-if="scope.row.status === 'UPLOADABLE'" @click="changeState(scope,'delete')">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
              background
              layout="prev, pager, next"
              :total="seckTotal"
              @current-change="seckCurrentChange">
          </el-pagination>
        </div>
        <div class="addSecKillShow" v-if="addSecKillShow">
            <p>活动管理 > 秒杀</p>
            <el-form :model="addSecKillForm" label-width="200px">
                <el-form-item label="活动名称：">
                    <div class="actNameSelect">
                        <el-checkbox-group
                          @change = 'checkedThemesValue'  
                          v-model="checkedThemes"
                          :min="1">
                          <el-checkbox v-for="(theme,index) in themes" :label="index" :key="theme">
                            <div v-if="index === 0">
                              <div class="radio_item">
                                  <span>文字主题</span>
                                  <div> <el-input size="small" v-model="addSecKillForm.title"></el-input> </div>
                              </div>
                            </div>
                            <div v-if="index === 1">
                              <div class="radio_item">
                                    <span>图片主题</span>
                                    <div>
                                        <div v-if='preImgList.length>0'>
                                            <ul style='padding:0;margin:0;list-style:none;display:flex;flex-direction:row;'>
                                                <li v-for="(item,index) in preImgList" :key='index' style='padding:0;margin:0;list-style:none;margin-left:5px;'>
                                                    <img :src="item.img" alt="" style='width:100px;height:69px;'>
                                                    <div>
                                                        <el-button type='text' size='small' @click='deleteImg(index,"pre")'>删除</el-button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uploadImgBtn" id="uploadImgBtn" v-if='preImgList.length<1'>
                                            <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                                            <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage($event,'pre')">
                                        </div>
                                        <div class='imgTitle'>预告图片</div>
                                    </div>
                                   
                                    <div>
                                        <div v-if='actImgList.length>0'>
                                            <ul style='padding:0;margin:0;list-style:none;display:flex;flex-direction:row;'>
                                                <li v-for="(item,index) in actImgList" :key='index' style='padding:0;margin:0;list-style:none;margin-left:5px;'>
                                                    <img :src="item.img" alt="" style='width:100px;height:69px;'>
                                                    <div>
                                                        <el-button type='text' size='small' @click='deleteImg(index,"act")'>删除</el-button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="uploadImgBtn" id="uploadImgBtn" v-if='actImgList.length<1'>
                                            <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                                            <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage($event,'act')">
                                        </div>
                                        <div class='imgTitle'>活动图片</div>
                                    </div>
                                </div>
                            </div>
                          </el-checkbox>
                        </el-checkbox-group>
                    </div>
                </el-form-item>
                <el-form-item label="活动时间：">
                    <el-date-picker v-model="addSecKillForm.timeRange" size='small' type="datetimerange" range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" style="width:60%">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="邮费：">
                    <el-radio-group v-model="addSecKillForm.isFreeDelivery">
                        <el-radio label="true">包邮</el-radio>
                        <el-radio label="false">不包邮</el-radio>
                    </el-radio-group>
                </el-form-item>
                <!-- <el-form-item label="是否计算收益：">
                    <el-radio-group v-model="addSecKillForm.isCountEarning">
                        <el-radio  label="true">计算</el-radio>
                        <el-radio  label="false">不计算</el-radio>
                    </el-radio-group>
                </el-form-item> -->
                <el-form-item label="是否展示倒计时：">
                    <el-radio-group v-model="addSecKillForm.isShowTime">
                        <el-radio label="true">展示</el-radio>
                        <el-radio label="false" >不展示</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="是否展示秒杀库存进度条：">
                    <el-radio-group v-model="addSecKillForm.isShowProgress">
                        <el-radio  label="true">展示</el-radio>
                        <el-radio  label="false">不展示</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="定向人群：">
                    <el-radio-group v-model="addSecKillForm.identities">
                        <el-radio  label="PW|RC|DS|SP">不限</el-radio>
                        <el-radio  label="PW|RC">非会员（新人+白人）</el-radio>
                        <el-radio  label="DS|SP">会员（VIP+店主）</el-radio>
                    </el-radio-group>
                </el-form-item>
                <div class="btnBoxC" v-if="!isEdit">
                    <el-button @click="addPro" type="primary" size="small">添加商品</el-button>
                </div>
                <el-table  :data="hadSelectTabel" border style="width: 100%" class='hadSelectedTabelClass' :height="hadSelectTabel.length === 0 ? 'auto' : 500">
                    <el-table-column prop label="商品图" fixed>
                      <template slot-scope="scope">
                        <img :src="scope.row.img" min-width="50" height="50">
                      </template>
                    </el-table-column>
                    <el-table-column prop='name' label="商品名称" width="200" fixed>
                      <template slot-scope="scope">
                        <p>{{scope.row.name}}</p>
                      </template>
                    </el-table-column>
                    <el-table-column prop='productId' label="商品ID"></el-table-column>
                    <el-table-column prop label="SKU">
                      <template slot-scope="scope">
                        <p v-for="(item,index) in scope.row.skuList" :key="index">{{item.skuId}}</p>
                      </template>
                    </el-table-column>
                    <el-table-column prop label="规格" width="150">
                      <template slot-scope="scope">
                        <p v-for="(item,index) in scope.row.skuList" :key="index">{{item.spec}}</p>
                      </template>
                    </el-table-column>
                    <el-table-column prop label="价格">
                      <template slot-scope="scope">
                        <p v-for="(item,index) in scope.row.skuList" :key="index">{{item.skuPrice}}</p>
                      </template>
                    </el-table-column>
                    <el-table-column prop label="秒杀价格" width="150">
                      <template slot-scope="scope">
                        <el-input-number  controls-position="right" :max="item.skuPrice" :min="0" size="small" v-for="(item,index) in scope.row.skuList" :key="index" 
                         v-model="item.secPrices"
                         style="width:80%"
                        @blur="mathPrice($event,'killPrice',scope.row,index)" />
                      </template>
                    </el-table-column>
                    <el-table-column prop label="秒杀兑换价" width="300">
                      <template slot-scope="scope">
                          <div v-for="(item,index) in scope.row.skuList" :key="index" class="mathPointBox">
                            <el-input-number size="small"
                            :min="0"
                            style="width:45%"
                            @blur="mathPrice($event,'conversionPrice',scope.row,index)" 
                            controls-position="right"  v-model="item.conversionPrices"/>
                            <span> + </span>
                            <el-input size="small"
                              style="width:35%"
                              disabled
                              controls-position="right"  v-model="item.mathPoint"/><span>德分</span>
                            </div>
                      </template>
                    </el-table-column>
                    <el-table-column prop='points' label="立减" width="150">
                      <template slot-scope="scope">
                        <el-input-number  v-if="!isView" controls-position="right"
                          v-for="(item,index) in scope.row.skuList" :key="index"
                          v-model="item.points"
                          :min="0"
                          size="small"
                          style="width:90%"
                        ></el-input-number>

                        <el-input-number  v-if="isView" controls-position="right"
                          v-for="(item,index) in scope.row.skuList" :key="index"
                          v-model="item.reductions"
                          size="small"
                          :min="0"
                          style="width:90%"
                        ></el-input-number>
                      </template>
                    </el-table-column>
                    <el-table-column prop='promoAmts' label="推广费" width="150">
                      <template slot-scope="scope">
                        <el-input-number  controls-position="right"
                          v-for="(item,index) in scope.row.skuList" :key="index"
                          v-model="item.promoAmts"
                          size="small"
                          :min="0"
                          style="width:80%"
                        ></el-input-number>
                      </template>
                    </el-table-column>
                    <el-table-column prop='serverAmts' label="服务费" width="150">
                      <template slot-scope="scope">
                        <el-input-number  controls-position="right"
                          v-for="(item,index) in scope.row.skuList" :key="index"
                          v-model="item.serverAmts"
                          size="small"
                          :min="0"
                          style="width:80%"
                        ></el-input-number>
                      </template>
                    </el-table-column>
                    <el-table-column prop='netWorths' label="净值" width="150">
                      <template slot-scope="scope">
                        <el-input-number  controls-position="right"
                          v-for="(item,index) in scope.row.skuList" :key="index"
                          v-model="item.netWorths"
                          size="small"
                          :min="0"
                          style="width:80%"
                        ></el-input-number>
                      </template>
                    </el-table-column>
                    <el-table-column prop='skuAmount' label="商品库存" width="100">
                      <template slot-scope="scope">
                        <p  v-for="(item,index) in scope.row.skuList" :key="index">{{item.skuAmount}}</p>
                      </template>
                    </el-table-column>
                    <el-table-column prop='' label="活动库存" width="150">
                      <template slot-scope="scope">
                        <el-input-number size="small" controls-position="right" v-for="(item,index) in scope.row.skuList" :key="index" :min="0" v-model="item.actAmount" style="width:90%" :id="item.id + 'i' + item.skuId + 'd' + item.productId" @change="handleChange($event, [item.id + 'i' + item.skuId + 'd' + item.productId, index, item] )"></el-input-number>
                      </template>
                    </el-table-column>
                    <el-table-column prop='' label="调整库存" width="150" v-if="isEdit">
                      <template slot-scope="scope">
                        <el-input-number size="small" controls-position="right" v-for="(item,index) in scope.row.skuList" :key="index"  v-model="item.amountAdjust" style="width:90%"></el-input-number>
                      </template>
                    </el-table-column>
                    
                    <el-table-column prop='' label="限制购买数" width="150">
                      <template slot-scope="scope">
                        <el-input-number  size="small" controls-position="right" v-for="(item,index) in scope.row.skuList" :min="0"  :key="index"  v-model="item.limitAmounts" style="width:90%"></el-input-number>
                      </template>
                    </el-table-column>
                    <el-table-column prop='sales' label="销量">
                      <template slot-scope="scope">
                        <p v-if="!isView">{{scope.row.sales}}</p>
                        <p v-else v-for="(item,index) in scope.row.skuList" :key="index">{{item.sales}}</p>
                      </template>
                    </el-table-column>
                    <el-table-column prop='statu' label="状态">
                      <template slot-scope="scope">
                        <p >{{scope.row.statu}}</p>
                      </template>
                    </el-table-column>
                    <el-table-column prop='statu' label="操作" v-if="!isEdit">
                      <template slot-scope="scope">
                        <el-button size='small' @click='delHadSelect(scope.row,scope.$index)'>删除</el-button>
                      </template>
                    </el-table-column>
                </el-table>
                <el-pagination
                    :current-page = 'currentPage'
                    :hide-on-single-page="true"
                    background
                    layout="prev, pager, next"
                    :total="hadSelectTotal">
                </el-pagination>

                <div class="btnBoxC">
                    <el-button type="primary" v-if="!isView || isEdit" @click="confirmAdd(addSecKillForm,isEdit)" size="small" v-loading="isComfirm">确认</el-button>
                    <el-button @click="cancelAdd()" size="small">取消</el-button>
                </div>
            </el-form>
            <!-- 商品选项表 -->
            <el-dialog :visible.sync="dialogFormVisible" width="60%">
                <div class="searchBox">
                  <el-input v-model="productId" placeholder="请输入商品ID" size="small" ></el-input>
                  <el-input v-model="skuname" placeholder="请输入商品名称" size="small" ></el-input>
                  <!-- 商品品牌 -->
                  <el-select v-model="bd" filterable placeholder="请选择商品品牌" size="small" > 
                    <el-option 
                      v-for="item in brands"
                      :key="item.id"
                      :label="item.name"
                      :value="item.name"
                      v-html="item.name"
                    ></el-option>
                  </el-select>
                  <!-- 商品状态 -->
                  <el-select v-model="state" filterable placeholder="请选择商品状态" size="small" >
                    <el-option
                      v-for="(item,index) in goodstates"
                      :key="index"
                      :label="item.name"
                      :value="item.name"
                      v-html="item.name"
                    ></el-option>
                  </el-select>
                </div>
                <div class="searchBox">
                  <!-- 供应商 -->
                  <el-select v-model="supplier" filterable placeholder="请选择供应商" size="small" >
                    <el-option v-for="item in sup" :key="item.id" :label="item.name" :value="item.name"></el-option>
                  </el-select>
                  <!-- 商品分类 -->
                  <el-select v-model="classify" filterable placeholder="请选择商品分类" size="small"  @change="selectCatedory" >
                    <el-option
                      v-for="item in allclass"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                  <el-select v-model="category" filterable placeholder="二级分类"   size="small" >
                    <el-option
                      v-for="item in categorylist"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                  <!-- 搜索按钮 -->
                  <el-button size="small" @click="searchPro">搜索</el-button>
                </div>
                <!-- 搜索表格 -->
                <el-table  :data="tableDataSelected" tooltip-effect="dark"  style="width: 100%" >
                    <el-table-column label="选择" width="80px">
                      <template slot-scope="scope">
                        <el-checkbox
                          label=""
                          name="type"
                          @change="handleChecked(scope.row)"
                          v-model="scope.row.checked"
                        ></el-checkbox>
                      </template>
                    </el-table-column>
                     <el-table-column prop="img" label="图片">
                       <template slot-scope='scope'>
                          <img :src="scope.row.img" alt="" class="imgStyle">
                      </template>
                     </el-table-column>
                    <el-table-column prop="productId" label="商品ID"></el-table-column>
                    <!-- <el-table-column prop="productId" label="SKU"></el-table-column> -->
                    <el-table-column prop="name" label="商品名称"></el-table-column>
                    <el-table-column prop="category" label="商品类别"></el-table-column>
                    <el-table-column prop="brand" label="商品品牌"></el-table-column>
                    <el-table-column prop="statu" label="商品状态"></el-table-column>
                    <el-table-column prop="price" label="售价"></el-table-column>
                    <el-table-column prop="amount" label="库存"></el-table-column>
                    <el-table-column prop="sales" label="销量"></el-table-column>
                </el-table>
                <el-pagination
                  background
                  layout="prev, pager, next"
                  :total="searchTotal"
                  :page-size="searchSize"
                  @current-change="searchCurrentChange"
                ></el-pagination>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="cancelSavaSelecte" size="small">取 消</el-button>
                    <el-button type="primary" @click="saveSelected(addSecKillForm)" size="small">确 定</el-button>
                </div>
            </el-dialog>
        </div>
    </section>
</template>
<script>
import 'quill/dist/quill.core.css'
import '../../common/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import * as qiniu from 'qiniu-js'
import b64toBlob from 'b64-to-blob'
import global from "../../common/common.vue";
import {deletedFlashSale, getSelectSystemSkuId} from '@/service/hanweiUrlApi'

export default {
  data() {
    return {
      isComfirm: false,
      currentPage: 1,
      checkedThemes:[],
      themes:["文字主题","图片主题"],
      force:"",
      classify: "", //商品分类
      supplier: "", //商品供应商
      category: "",/* 二级分类 */
      bd: "", //商品品牌
      state: "", //商品状态
      skuname: "", //商品名称
      productId:"",/* 搜索商品id */
      skuname:"",/* 搜索商品名称 */
      brands: [{ id: "", name: "全部" }], /* 商品品牌下拉菜单 */
      sup: [{ id: "", name: "全部" }], /* 供应商下拉菜单 */
      allclass: [{ id: "", name: "全部分类", categories: [{}] }], /* 商品分类下拉菜单 */
      goodstates: [
        { id: "", name: "全部" },
        { id: "ONSALE", name: "已上架" },
        { id: "DRAFT", name: "草稿箱" },
        // { id: "FORSALE", name: "预售" },
        { id: "INSTOCK", name: "已下架" }
      ],/* 商品状态下拉菜单 */
      categorylist: [] /* 二级分类数组 */,
      searchCurrentPage:1,/* 搜索其实页码 */
      searchSize:6,/* 搜索每页大小 */
      searchTotal:0,/* 搜索总数 */
      tableDataSelected: [], /* 可被选择的数据 */
      selectIdArray: [],/* 被选中的id */
      isSelected: false,/* 单个商品是否被选中 */
      /* *********************************检索可被搜索的数据************************************ */
      statusShow: {
        ONSALE: "上架",
        FORSALE: "预售",
        DRAFT: "草稿箱",
        INSTOCK: "下架"
      },/* 回显状态 */
      hadSelectTabel:[],
      hadSelectTotal:0,/* 被选商品总数 */
      seckTotal:0,//秒杀分页总数
      seckPage:0,//秒杀分页页码
      seckSize:10,//秒杀分页大小
      configId:'',/* 当前配置id */
      isView:false,/* 是否是查看列表信息 */
      isEdit:false,/* 是否是编辑列表信息 */

      multipleSelection:[],/* 被选中的商品 */
      dialogFormVisible: false,
      secKillTableShow: true,
      addSecKillShow: false,
      secKillTableData: [],
      addSecKillForm: {},
      dialogImageUrl: '',
      dialogVisible: false,
      preImgList: [],
      actImgList:[],
      uploadImgToken: '',
      dataURL: '',
      newUrl: global.newUrl,
      draftUrl: global.draftUrl,
      url:'',
      queryUpToken:global.queryUpToken,
      skuList: []
    };
  },
  methods: {
    handleChange(event, [id, index, item]) {
      let indexB = 0
      let obj = {}
      for (let [i, ele] of Object.entries(this.hadSelectTabel)) {
        if (ele.productId === item.productId) {
          indexB = i
          break
        }
      }
      obj = Object.assign(this.hadSelectTabel[indexB].skuList[index], {
        actAmount: event
      })
      this.$set(this.hadSelectTabel[indexB].skuList, index, obj )
      const input = document.getElementById(id)
      if (input) input.style.border = 'none'
    },
    requiredSkuList () { // 根据sku运行活动库存大于商品库存
      const res = this.$http(getSelectSystemSkuId, {});
        res.then(data => {
          if (!data.httpRequestError) {
              if (data && data.data) {
                  this.skuList = data.data
              } else {
                  this.$message({
                      message: '获取特殊skuId数据失败',
                      type: "error"
                  });
              }
          } else {
              this.$message({
                  message: data.httpRequestError || "系统异常",
                  type: "error"
              });
          }
      })
    },
    /* 是否选中文字主题 */
    checkedThemesValue(val){
      console.log(val);
    },
    /* 动态计算德分 */
    mathPrice(e,type,row,index){
      if(row.skuList[index].conversionPrices != undefined){
        if(row.skuList[index].secPrices < row.skuList[index].conversionPrices){
          return this.$message.error("兑换价需小于活动价")
        }else{
          row.skuList[index].mathPoint =((row.skuList[index].secPrices-row.skuList[index].conversionPrices)*10).toFixed(1);
        }
      }
      
    },
    /* 时间转换 */
    changeTime:function(val){
        let date = new Date(val);
        let yy = date.getFullYear() + '-';
        let mm = ((date.getMonth()+1) < 10 ? '0'+(date.getMonth()+1) :(date.getMonth()+1)) + '-';
        let dd = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
        let hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours())+ ':';
        let min = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        let ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
        let aa= yy  + mm  + dd  + hh  + min + ss;
        return aa
    },
    /* 秒杀获取商品信息 */
    getSecInfo(id,type){
      fetch(global.viewSec+id,{ method:"GET"})
      .then(res=>res.json())
      .then(res=>{
          this.configId =  res.data.id;
          this.addSecKillForm = {
            identities:res.data.identities,/* 定向人群 */
            isCountEarning:true,/* 是否计算收益 */
            isShowProgress:res.data.isShowProgress+'',/* 是否显示进度条 */
            isShowTime:res.data.isShowTime+'',/* 是否显示倒计时 */
            isFreeDelivery:res.data.isFreeDelivery+'',/* 是否包邮 */
            timeRange:[res.data.validFrom,res.data.validTo],
            title:res.data.title,
            resource:res.data.title !='' ? "1" : '2',
          };
          console.log(res.data.products);
          let a = res.data.products.map(item=>{
            return {
                productId:item.productId,/* 商品ID */
                statu : res.data.statusStr, /* 状态中文 */
                img : item.productImg,/* 商品图片 */
                name : item.productName,/* 商品名称 */
                skuList : item.skus.map(element =>{
                  return {
                    mathPoint:((element.skuPricing.promotionPrice - element.skuPricing.conversionPrice)*10).toFixed(1),
                    productId:item.productId,/* 商品ID */
                    skuId : element.skuPricing.skuId,/* skuId */
                    actAmount:element.amount,/* 活动库存 */
                    skuAmount:element.orgiAmount,/* 库存 */
                    conversionPrices:element.skuPricing.conversionPrice,/* 兑换价 */
                    limitAmounts:element.limitAmount, /* 限制购买数 */
                    netWorths:element.skuPricing.netWorth, /* 净值 */
                    skuPrice:element.orgiPrice,/* 原价 */
                    secPrices:element.skuPricing.promotionPrice, /* 活动价 */
                    promoAmts:element.skuPricing.promoAmt,/* 推广费 */
                    reductions:element.skuPricing.reduction,/* 立减 */
                    serverAmts:element.skuPricing.serverAmt,/* 服务费 */
                    spec:element.orgiSpec,/* sku */
                    sales :element.sales,/* 销量 */
                    amountAdjust :'0',/* 调整库存 */
                    id:element.skuPricing.id, /* id */
                  }
                })
            }
          })
          this.hadSelectTabel = a;
          /* 复选框处理 */
          if(res.data.img != null && res.data.title === ''){
            this.actImgList = [{ img:res.data.img }];
            this.preImgList = [{ img:res.data.subImg }];
            this.checkedThemes = [1];
          }else if(res.data.img != null && res.data.title != '' ){
            this.checkedThemes = [0,1];
            this.actImgList = [{ img:res.data.img }];
            this.preImgList = [{ img:res.data.subImg }];
          }else if(res.data.title != '' && res.data.img === null){
            this.checkedThemes = [0];
            this.actImgList = [];
            this.preImgList = [];
          }         
      })
    },
    /* 清空添加信息表单 */
    cleanFormInfo(){
      this.addSecKillForm = {
        identities:'',
        isShowProgress:'',
        isShowTime:'',
        resource:'',
        timeRange:[],
        title:'',
      };
      this.preImgList = [];
      this.actImgList = [];
      this.hadSelectTabel = [];
      this.checkedThemes = [];
      // this.selectClean();
    },
    addSecKill(type,row) {
      this.force = row.status === 'PROCESSING' ?   false : true;
      this.cleanFormInfo();
      if(type === 'view'){
        /* 查看 */
        this.getSecInfo(row.id,type);
        this.isView = true;
        // console.log(this.isView, 'isView???')
      }else if(type === 'edit'){
        /* 编辑 */
        this.requiredSkuList()
        this.getSecInfo(row.id,type);
        this.isView = true;
        this.isEdit = true;
      }else{
        /* 添加 */
        this.requiredSkuList()
        this.isView = false;
        this.isEdit = false;
      }
      this.secKillTableShow = false;
      this.addSecKillShow = true;
    },
    addPro() {
      this.dialogFormVisible = true;
    },
    /* 获取秒杀列表 */
    listPc(){
      fetch(global.listPc+"?page="+this.seckPage+"&size="+this.seckSize,{
        method:"GET"
      }).then(res=>res.json())
      .then(res=>{
        if(res.errorCode === 200){
          res.data.list.forEach(item=>{
            item.creatTime = this.changeTime(item.createdAt);
            item.actTim = this.changeTime(item.validFrom) + ' - ' + this.changeTime(item.validTo);
          })
          this.secKillTableData = res.data.list;
          this.seckTotal = res.data.total;
        }else{
          this.$message.error("获取列表失败，请稍后重试");
        }
      
      })
    },
    /* 秒杀列表分页 */
    seckCurrentChange(val) {
        this.seckPage = val-1;
        this.listPc();
    },
    /* 结束秒杀活动 */
    changeState(row,type){
      if (type && type === 'delete') {
        this.$confirm('此操作将会删除当前活动，请知悉~')
        .then(_ => {
            const res = this.$http(deletedFlashSale, {
                params: {
                    id: row.row.id
                }
            });
            res.then(data => {
                if (!data.httpRequestError) {
                    if (data.data) {
                        this.secKillTableData.splice(row.$index, 1)
                        this.$message({
                            message: '操作成功',
                            type: 'success'
                        });
                    } else {
                        this.$message({
                            message: '操作失败',
                            type: "error"
                        });
                    }
                } else {
                    this.$message({
                        message: data.httpRequestError || "系统异常",
                        type: "error"
                    });
                }
            });
        })
        .catch(_ => {});
      } else {
        let url = type === 'end' ? global.closeSec :global.uploadSec;
        fetch(url + "?id="+row.id,{ method:"GET"})
        .then(res=>res.json())
        .then(res=>{
          if(res.errorCode === 200) {
            let errorMsg ;
            type === 'star' ? errorMsg = '活动发布成功' :errorMsg = '活动结束成功';
            this.$message.success(errorMsg);
          }
          this.listPc();
        })
      }
    },
    /* 清空筛选数据 */
    selectClean(){
      this.classify = ""; //商品分类
      this.supplier = ""; //商品供应商
      this.category = "";/* 二级分类 */
      this.bd = "";//商品品牌
      this.state = ""; //商品状态
      this.skuname = ""; //商品名称
      this.productId = "";/* 搜索商品id */
      this.skuname = "";/* 搜索商品名称 */
      this.brands = [{ id: "", name: "全部" }];/* 商品品牌下拉菜单 */
      this.sup = [{ id: "", name: "全部" }]; /* 供应商下拉菜单 */
      this.allclass = [{ id: "", name: "全部分类", categories: [{}] }];/* 商品分类下拉菜单 */
      this.goodstates = [
      { id: "", name: "全部" },
      { id: "ONSALE", name: "已上架" },
      { id: "DRAFT", name: "草稿箱" },
      { id: "FORSALE", name: "预售" },
      { id: "INSTOCK", name: "已下架" }
      ];/* 商品状态下拉菜单 */
      this.categorylist = [] ;/* 二级分类数组 */ 
    },
    /* 保存被选中的商品 */
    saveSelected(){
      if(this.selectIdArray.length === 0){
        this.$message.error("请选择活动商品");
      }else{
        
        this.dialogFormVisible = false;
        this.selectIdArray.forEach(item =>{
          item.statu = this.statusShow[item.status];
          item.skuList.forEach(element=>{
            element.limitAmount = ' ';
            element.amountAdjust = undefined;
            element.point = undefined;
            // element.mathPoint = undefined;
            element.reduction = undefined;/* 立减 */
            element.netWorth = undefined;/* 净值 */
            element.serverAmt = undefined;/* 服务费 */
            element.promoAmt = undefined;/* 推广费 */
            element.price = undefined;/* 活动价 */
            element.conversionPrice = undefined;/* 兑换价 */
            element.productId = item.productId;
            element.secPrice = ' ';
          })

        })

        this.hadSelectTabel = this.selectIdArray;
        this.hadSelectTotal = this.hadSelectTabel.length;

      }
      // this.selectClean();
    },
    /* 取消选择选中的商品 */
    cancelSavaSelecte(){
      // console.log(this.selectIdArray);
      this.dialogFormVisible = false;
      // this.tableDataSelected.forEach(item=>{
      //     item.checked = false;
      // })
      // this.selectIdArray = [];
      // this.hadSelectTabel = [];
    },
    /* 获取所有商品品牌 */
    getBrand(){
      fetch(global.brandUrl,{method:"GET"})
      .then(res=>res.json())
      .then(res=>{
        let errorMsg = '请求不到商品品牌数据，请稍后重试';
        res.isSuccess === 1 ? this.brands = this.brands.concat(res.result) : this.$message.error(errorMsg);
      })
    },
    /* 获取商品供应商 */
    getSup(){
        fetch(global.supplierUrl,{ method:'GET',})
        .then(res=>res.json())
        .then(res=>{
            let errorMsg = '请求不到商品供应商数据，请稍后重试';
            res.isSuccess === 1 ? this.sup=this.sup.concat(res.result): this.$message.error(errorMsg);
        })
    },
    /* 获取所有分类 */
    getAllClass() {
        fetch(global.categoryUrl, { method: "GET"})
        .then(res => res.json())
        .then(res => {
          let errorMsg = '请求不到商品所有分类，请稍后重试';
          res.isSuccess === 1 ? this.allclass = this.allclass.concat(res.result) : this.$message.error(errorMsg);
        })
    },
    /* 获取二级分类 */
    selectCatedory(val) {
        let o = this.allclass.filter(v => v.id == val);
        let catedoryList = o[0].categories;
        let arr = [];
        catedoryList.forEach(element => {
            let obj = { id: element.id, name: element.name };
            arr.push(obj);
        });
        this.category = "";
        this.categorylist = arr;
    },
    /* 搜索分页 */
    searchCurrentChange: function(val) {
      this.searchCurrentPage = val;
      this.searchPro();
    },
    /* 搜索所有信息 */
    searchPro(){
      let spu, goodstate, skuname, brand, category, supname, productId;
      if (this.supplier === "") {
        spu = "";
      } else {
        for (let ele of this.sup) {
          if (ele.name === this.supplier) spu = ele.code;
        }
      }
      for (let ele of this.goodstates) {
        if (ele.name === this.state) goodstate = ele.id;
      }
      for (let ele of this.brands) {
        if (ele.name === this.bd) brand = ele.id;
      }
      goodstate = this.state === "" ? "" : goodstate;
      brand = this.bd === "" || brand === "" ? 0 : brand;
      category = this.category === "" || category === "" ? 0 : this.category;
      skuname = this.skuname === "" ? "" : this.skuname;
      productId = this.productId === "" ? null : this.productId;
      let formData = JSON.stringify({
        supcode: spu, //供应商
        supname: this.supplier, //供应商名称
        goodstate: goodstate, //状态
        skuname: skuname, //商品名称
        pageNum: this.searchCurrentPage, //当前页码
        brand: brand, //商品品牌
        category: category, //商品分类
        productId
      });
      goodstate = this.state === "" ? "" : goodstate;
      brand = this.bd === "" || brand === "" ? 0 : brand;
      category = this.category === "" || category === "" ? 0 : this.category;
      skuname = this.skuname === "" ? "" : this.skuname;
      productId = this.productId === "" ? null : this.productId;
      fetch(global.listUrl,{
        method:"POST",
        body:formData
      }).then(res=>res.json())
      .then(res=>{
        if(res.isSuccess === 1){
          res.result.forEach(element=>{
            element.statu = this.statusShow[element.status];
            this.selectIdArray.indexOf(element.productId) == -1 ?  element.checked = false : element.checked = true;
          })
          this.tableDataSelected = res.result;
          this.searchTotal = res.count;
        }
      })
    },
    /* 复选框选中或者不选中事件 */
    handleChecked(row) {
      let index = this.selectIdArray.indexOf(row);
      index === -1 ?  this.selectIdArray.push(row) :this.selectIdArray.splice(index, 1);
      console.log(this.hadSelectTabel,this.selectIdArray);
    },
    skuProvider(source, config, mode) {
      return source.flatMap(item => item[mode]).map(config[mode]);
    },
    /* 确认提交表单数据 */
    async confirmAdd(form,type){
      const result = await this.$confirm('确认提交？')
        .then(_ => false)
        .catch(_ => true);
      if (this.isComfirm || result) return false
      this.isComfirm = true
      /* 校验 */
      let errorMsg = '';
      let actAmountArrCount = 0
      if(this.checkedThemes.length === 0){
        errorMsg = "请选择活动名称"
      }else if((this.checkedThemes[0] === 0 || this.checkedThemes[1] === 1)&& form.title === ''){
        errorMsg = "请输入文字主题";
      }else if((this.checkedThemes[0] === 1 || this.checkedThemes[1] === 1) && this.preImgList.length === 0){
        errorMsg = "请选择预告图片";
      }else if((this.checkedThemes[0] === 1 || this.checkedThemes[1] === 1) && this.actImgList.length === 0){
        errorMsg = "请选择活动图片";
      }else if(form.timeRange === null || form.timeRange.length === 0){
        errorMsg = "请选择活动时间";
      }else if(form.isFreeDelivery === '' || form.isFreeDelivery === undefined){
        errorMsg = "请选择是否包邮";
      }else if(form.isShowTime === '' || form.isShowTime === undefined){
        errorMsg = "请选择是否展示倒计时";
      }else if(form.isShowProgress === '' || form.isShowProgress === undefined){
        errorMsg = "请选择是否展示秒杀库存进度条";
      }else if(form.identities === ''){
        errorMsg = "请选择定向人群";
      }else if(this.hadSelectTabel.length === 0){
        errorMsg = "请选择活动商品";
      }
      // return console.log(this.hadSelectTabel);
      this.hadSelectTabel.forEach(item =>{
        item.skuList.forEach((ele, index) =>{
          if(ele.secPrices === undefined || ele.secPrices === ""){
            errorMsg = "请输入秒杀价格"
          }else if(ele.conversionPrices === undefined || ele.conversionPrices === "" ){
            errorMsg = "请输入秒杀兑换价"
          }else if( (type && ele.reductions === undefined) ||  (type && ele.reductions === '') ){
            errorMsg = "请输入立减值"
          }else if ( (!type && ele.points === undefined) ||  (!type && ele.points === '')){
            errorMsg = "请输入立减值"
          }else if(ele.netWorths === undefined || ele.netWorths === ""){
            errorMsg = "请输入净值"
          }else if(ele.promoAmts === undefined || ele.promoAmts === ""){
            errorMsg = "请输入推广费"
          }else if(ele.serverAmts === undefined || ele.serverAmts === ""){
            errorMsg = "请输入服务费"
          }else if(ele.serverAmts === undefined || ele.serverAmts === ""){
            errorMsg = "请输入服务费"
          }else if (ele.actAmount === '' || ele.actAmount === undefined){
            errorMsg = "请输入活动库存"
          }else if(ele.actAmount - 0 > ele.skuAmount - 0){
            const id = ele.id + 'i' + ele.skuId + 'd' + ele.productId
            const input = document.getElementById(id)
            if (input) input.style.border = '1px solid red'
            actAmountArrCount++
          }else if(ele.limitAmounts === 0 || ele.limitAmounts === undefined){
            errorMsg = "请设置限制购买数"
          }
        })
      })
      if(errorMsg != ''){
        this.isComfirm = false
        return this.$message.error(errorMsg);
      }
      if (actAmountArrCount > 0) {
        this.isComfirm = false
        return this.$message.error(`操作失败：活动库存不能大于商品库存，红色圈记总共${actAmountArrCount}处，请修复`);
      }
      let skus = this.skuProvider(this.hadSelectTabel, { 
        'skuList': s => ({
          id:!type?null:s.id,
          skuId:s.skuId,
          limitAmount:s.limitAmounts,
          productId:s.productId,
          reduction:!type? s.points : s.reductions,/* 立减 */
          netWorth:s.netWorths,/* 净值 */
          serverAmt:s.serverAmts,/* 服务费 */
          promoAmt:s.promoAmts,/* 推广费 */
          price:s.secPrices,/* 活动价 */
          conversionPrice:s.conversionPrices,/* 兑换价 */
          amount: !type? s.actAmount : s.actAmount+s.amountAdjust /* 活动库存 */
        })
      }, type ? 'skuList' : 'skuList');
      let obj =  {
        force:type? this.force : true,
        id:!type?null:parseInt(this.configId),
        title:this.checkedThemes.indexOf(0) != -1 ? form.title  : '',/* 文字主题 */
        img:this.checkedThemes.indexOf(1) != -1  ? this.actImgList[0].img : null,/* 活动图片 */
        subImg:this.checkedThemes.indexOf(1) != -1  ? this.preImgList[0].img : null,/* 活动图片 */
        validFrom:type ? form.timeRange[0] : form.timeRange[0].getTime(),
        validTo:type ? form.timeRange[1] : form.timeRange[1].getTime(),
        isShowTime:form.isShowTime, /* 是否展示倒计时 */
        isShowProgress:form.isShowProgress, /* 是否展示进度条 */
        identities:form.identities, /* 定向人群 */
        isCountEarning:'true',/* 是否计算收益 */
        isFreeDelivery:form.isFreeDelivery,/* 是否邮费 */
        skus,
      }
      // return console.log(obj);
      fetch(!type?global.saveProduct:global.updateProductSec,{
        method:"POST",
        body:JSON.stringify(obj),
        headers:{ "Content-Type": "application/json;charset=UTF-8" },
      }).then(res=>res.json())
      .then(res=>{
        if(res.errorCode === 200) {
          type ? this.$message.success("更新成功") :this.$message.success("保存成功")
          this.secKillTableShow = true;
          this.addSecKillShow = false;
          this.selectIdArray = [];/* 清空已经选择的列表 */
          this.tableDataSelected.forEach(element =>{
            element.checked = false;
          })
          this.listPc();
        }else{
          this.$message.error(res.moreInfo);
        }
        this.isComfirm = false
      })
      .catch(e => {
        this.$message.error(e);
        this.isComfirm = false
      })
    },
    /* 取消添加 */
    cancelAdd(){
      this.cleanFormInfo();
      this.secKillTableShow = true;
      this.addSecKillShow = false;
      this.selectIdArray = [];
      this.tableDataSelected.forEach(item=>{
          item.checked = false;
      })
    },
    /* 删除已选商品 */
    delHadSelect(row,index){
      this.tableDataSelected.forEach(item=>{
        if(item.productId === row.productId) {
          item.checked = false;
        }
      })
      this.selectIdArray.splice(index,1);
    },
    /* *********************************图片上传系列方法*************************************** */
    /* 上传图片相关方法 */
    fileImage(ev,type) {
      this.files = ev.target.files
      this.filesIndex = this.files.length > 9 ? 9 : this.files.length
      this.doPictrues(this.files[0],type)
    },
    doPictrues(file,type) {
      let imgSize, reader
      imgSize = file.size / 1024
       if (imgSize > 5120) {
        this.$message.error("请上传大小不要超过5MB的图片");
      } else {
        let splitTemp
        reader = new FileReader()
        reader.readAsDataURL(file) // 读出 base64
        reader.onloadend = () => {
          this.dataURL = reader.result // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
          splitTemp = this.dataURL.split(';base64,')
          let contentType = splitTemp[0].replace('data:', '')
          let b64Data = splitTemp[1]
          let blob = b64toBlob(b64Data, contentType)
          this.uploadPhoto(blob,type)
        }
      }
    },
    //获取token
    getQiniuToken: function() {
      const _this = this;
      let formData = new FormData()
      formData.append('json', JSON.stringify({}))
      fetch(this.queryUpToken, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            _this.uploadImgToken = res.result.key;
            _this.url = res.result.bucketHostName;
          } else {
            _this.$message({
              message: res.errorMsg,
              duration: 2000,
              type: 'warning'
            })
          }
        })
    },
    // 上传图片到七牛云
    uploadPhoto(file,type) {
      const IMG_HOST = this.url;
      let img = new Image()
      img.src = URL.createObjectURL(file)
      let vm = this
      let fileName =
        Date.now() +
        Math.random()
          .toString()
          .slice(-5)
      let putExtra = {
        mimeType: ['image/png', 'image/jpeg', 'image/gif']
      }
      let config = {
        useCdnDomain: true
      }
      return new Promise((resolve, reject) => {
        let observable = qiniu.upload(
          file,
          fileName,
          vm.uploadImgToken,
          putExtra,
          config
        )
        let observer = {
          error(err) {
            console.log('observer error err')
          },
          complete(res) {
            console.log('observer complete')
            if(type === 'pre'){
                vm.preImgList.push({ img: IMG_HOST + res.key,})
            }else{
                vm.actImgList.push({ img: IMG_HOST + res.key,})
            }
            
            vm.completeNum++
            if (
              vm.completeNum < vm.filesIndex - 1 ||
              vm.completeNum == vm.filesIndex - 1
            ) {
              vm.doPictrues(vm.files[vm.completeNum])
            }
          }
        }
        let subscription = observable.subscribe(observer) // 上传开始
      })
    },
    //图片删除
    deleteImg: function(val,type) {
        type === 'pre' ? this.preImgList.splice(val, 1) :this.actImgList.splice(val, 1)
    },
  },
  created() {
    this.requiredSkuList()
    this.getBrand();
    this.getSup();
    this.getAllClass();
    this.searchPro();
    this.getQiniuToken()
    this.listPc();
  },
};
</script>
<style scoped>
.btnBoxC {
  margin: 10px auto;
  text-align: center;
}
.addSecKill .btnBoxC {
  text-align: right;
  margin: 20px 0;
}
.actNameSelect .el-radio-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.actNameSelect .el-radio:first-child {
  flex: 1;
  display: flex;
}
.actNameSelect .el-radio:nth-child(2) {
  flex: 3;
  display: flex;
}
.actNameSelect .radio_item {
  margin: 2px 0 0 10px;
  display: flex;
}
.actNameSelect .radio_item span {
  flex: 1;
  margin-left: -10px;
}
.actNameSelect .radio_item div {
  flex: 6;
  margin-left: 6px;
}
.actNameSelect .radio_item div .el-input {
  margin-top: -10px;
  width: 80%;
}
.searchBox {
  display: flex;
  margin-bottom: 20px;
}
.searchBox .el-select {
  width: 160px;
  margin-right: 20px;
}
.searchBox .el-input {
  width: 160px;
  margin-right: 20px;
}
.uploadImgBtn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  background: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border: 1px solid #ccc;
}

.uploadImgBtn .uploadImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.selectWidth {
  width: 80%;
}
.hadSelectedTabelClass .el-input-number,.hadSelectedTabelClass .el-input{
  box-sizing: border-box;
  margin: 5px 0;
}
.hadSelectedTabelClass .cell p {
  line-height:32px;
  margin:0;
  padding:0;
  box-sizing: border-box;
  padding: 5px 0;
}
.imgTitle{
  text-align:center;
  margin-top:10px;
}
.mathPointBox span{
  line-height: 40px;
}
.imgStyle{
  width: 60px;
  height: 60px;
}
</style>
