<template>
    <section style='padding:10px;'>
        <el-row>
            <span style='font-size:18px;'><b>{{obj.pName}}</b></span> 
        </el-row>
        <el-row style='margin-top:8px;'>
            <span>拼团时间 : {{obj.effectFrom | transferTi}} ~ {{obj.effectTo | transferTi}}</span>
        </el-row>
        <el-row  style='margin:10px auto;'>
            <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
        </el-row>
        <el-row style='text-align:center;fontSize:20px;' type='flex' justify='center'>
            <el-col :span='4'>
                 <span>剩余库存/活动库存</span>   
                 <p>{{obj.pUsableSkuNum}} / {{obj.pSkuNum}}</p>    
            </el-col>
            <el-col :span='4'>
                 <span>已成团/已开团</span>   
                 <p>{{obj.successPieceCount}} / {{obj.successCount}}</p>  
            </el-col>
            <el-col :span='4'>
                <span>成团订单/已支付订单</span> 
                <p>{{obj.successGroup}} / {{obj.paidOrderCount}}</p>  
            </el-col>
            <el-col :span='4'>
                <span>已拼团</span>  
                <p>{{obj.count}} 人次</p>
            </el-col>
            <el-col :span="4">
                <span> 失败团/取消订单</span>
                <p>{{obj.pieceFailCount}} / {{obj.cancelled}}</p>
            </el-col>
        </el-row>
        <el-row  style='margin:10px auto;'>
            <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
        </el-row>
        <el-row id='tableList' style='text-align:center'>
            <el-col :span='5'>
                <div><b>订单状态</b></div>
                <div style='overflow-y: auto'>
                     <el-table style='fontSize:14px;' :data='orderList' height='282'>
                        <el-table-column label='状态' prop='status'>
                        </el-table-column>
                        <el-table-column label='订单数量' prop='count'>
                        </el-table-column>
                     </el-table>
                </div>
            </el-col>
            <el-col :span='10' style=' margin:auto 20px;'>
                <div><b>拼团排名</b></div>
                <div style='overflow-y: auto'>
                    <el-table style='fontSize:14px;' :data='obj.pieceSuccess' height='282'>
                    <el-table-column type="index" width="55">
                    </el-table-column>
                    <el-table-column label='拼主' prop='nickname'>
                    </el-table-column>
                     <el-table-column label='CPID' prop='cpid'>
                    </el-table-column>
                    <el-table-column label='开团且成团数' prop='pgCount' width='120'>
                    </el-table-column>
                    <el-table-column label='订单数' prop='orderCount'>
                    </el-table-column>
                    <!-- <el-table-column label='拉新数'>
                    </el-table-column> -->
                </el-table>
                </div>

            </el-col>
            <el-col :span='8'>
                <div><b>成团排名</b></div>
                <div style='overflow-y: auto'>
                    <el-table style='fontSize:14px;' :data='obj.fast' height='282'>
                     <el-table-column type="index" width="55">
                    </el-table-column>
                    <el-table-column label='拼主' prop='nickname'>
                    </el-table-column>
                    <el-table-column label='开团CPID' prop='groupOpenMemberId'  width='120'>
                    </el-table-column>
                    <el-table-column label='耗时' prop='during'>
                        <template slot-scope='scope'>
                            <span>{{scope.row.during}}s</span>
                        </template>
                    </el-table-column>
                </el-table>
                </div>
            </el-col>
            <el-col :span='8'>
                <div><b>小时排名</b></div>
                <div style='overflow-y: auto'>
                    <el-table style='fontSize:14px;' :data='obj.hourRanks' height='282'>
                    <el-table-column label='日期' prop='dateTime' width='auto'>
                        <template slot-scope='scope'>
                            {{scope.row.dateTime | transferD}}
                        </template>
                    </el-table-column>
                    <el-table-column label='整点小时' prop='hourTime' width='94'>
                    </el-table-column>
                    <el-table-column label='订单数量' prop='orderCount'  width='94'>
                    </el-table-column>
                    <el-table-column label='订购数量' prop='buyCount' width='94'>
                    </el-table-column>
                </el-table>
                </div>
            </el-col>
        </el-row>
        <el-row  style='margin:10px auto;'>
            <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
        </el-row>
        <el-row>
            <el-col :span='24'>
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;'>订单号</span>
                    <el-input style='width:60%' v-model = 'inputVal1'></el-input>
                </el-col>
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;'>CPID</span>
                    <el-input style='width:60%' v-model = 'inputVal2'></el-input>
                </el-col>
                <el-col :span='4'>
                    <el-button @click='handleSearch' type="primary" size='medium'>查询拼团</el-button>
                </el-col>
            </el-col>
            <el-col :span='24' style='margin-top:10px;'>
                <el-table :data="data"  border   style="width: 100%;margin-top:10px; font-size:13px;" v-loading="listLoading" v-if='data.length !== 0'>
                    <el-table-column  prop="pieceGroupTranCode"  label="拼团编码"  width='auto'>
                    </el-table-column>
                    <el-table-column  prop="productName"  label="商品名称" width='auto'>
                    </el-table-column>
                    <el-table-column  prop="groupOpenMemberId" label="开团CPID" width='auto'>
                    </el-table-column>
                    <el-table-column  prop="groupOpenMemberNickName" label="开团人姓名" width="auto">
                    </el-table-column>
                    <el-table-column  prop="groupHeadId" label="团长CPID" width='auto'>
                    </el-table-column>
                    <el-table-column  prop="groupHeadIdName" label="团长姓名" width='100'>
                    </el-table-column>
                    <el-table-column  prop="pieceGroupNum" label="成团人数" width='100'>
                    </el-table-column>
                    <el-table-column  prop="groupOpenTime" label="开团时间" width='170'>
                        <template slot-scope='scope'>
                            {{scope.row.groupOpenTime | transferTi}}
                        </template>
                    </el-table-column>
                    <el-table-column  prop="promotionPgInfoUpdatedAt" label="成团时间" width='170'>
                        <template slot-scope='scope'>
                            {{scope.row.promotionPgInfoUpdatedAt |transferTi }}
                        </template>
                    </el-table-column>
                    <el-table-column  label="管理"  width='90'>
                        <template slot-scope='scope'>
                            <el-button type='text' size='small' @click='handleClick(scope.row)'>查看详情</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
         <el-dialog :visible.sync='formVisible' :close-on-click-modal="false" customClass="cusWidth">
            <el-table :data='formData' style='font-size:12px;'> 
                <el-table-column prop='groupCode' label='拼团编码' width='auto'>
                </el-table-column>
                <el-table-column prop='productName' label='拼团商品' width='auto'>
                </el-table-column>
                <el-table-column prop='memberId' label='拼团人会员编号' width='auto'>
                </el-table-column>
                <el-table-column prop='memberName' label='拼团人员' width='auto'>
                </el-table-column>
                <el-table-column prop='orderNo' label='订单编号' width='170'>
                </el-table-column>
                <el-table-column prop='pizNo' label='支付单号' width='166'>
                </el-table-column>
                <el-table-column prop='ptSuccessTime' label='支付时间' width='150'>
                    <template slot-scope='scope'>
                        {{scope.row.ptSuccessTime | transferTi}}
                    </template>
                </el-table-column>  
            </el-table>
            
        </el-dialog>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
export default {
    beforeRouteLeave (to, from, next) {
       if(this.$route.query.isTrue){
             clearInterval(webWorkeTimer)
        }
        this.webWorke = null
        next()

    },
    data(){
        return{
            listLoading:false,
            obj:{},
            formVisible:false,
            formData:[],
            webWorke: Function,
            inputVal1:'',//订单号
            inputVal2:'',//CPID
            data:[],
            orderList:[]
        }
    },
    mounted() {
        this.testFn()
        if(this.$route.query.isTrue == true){
            console.log(this.$route.query.isTrue);
            this.worke()
        } else{
            this.webWorke = null
        }     
    },
    methods:{
        worke(){ // 开始worke进程
           window.that = this
           window.webWorkeTimer = ''
           this.webWorke = this.$worker.run(
               ()=> 999
           )
            .then(res => {
                webWorkeTimer = setInterval(()=> that.testFn(), 5*60*1000)

            })
            .catch(console.error)
        },
        testFn() {
            fetch(global.selectTranInfo+`?pCode=${this.$route.query.pCode}`,{
                method:'get'
            }).then(res=>res.json()
            ).then(res=>{
                this.obj = res;
                this.orderList = [
                    {status:'待付款',count:res.submit},
                    {status:'待成团',count:res.paidNoStock},
                    {status:'已成团',count:res.successGroup},
                    {status:'已发货',count:res.shipped},
                    {status:'已取消',count:res.cancelled},
                    {status:'售后中',count:res.postSale},
                ];
                console.log(111);
            }).catch(e=>{
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })
        },
        handleSearch(){
            if(this.inputVal1 ==='' && this.inputVal2 ===''){
                 this.$message({
                    message:'请先输入订单号或CPID',
                    type:'error'
                })
                return false
            }else{
               this.listLoading = true;
                let formData = new FormData();
                let cpid,orderNo;
                orderNo = this.inputVal1 === '' ? undefined:this.inputVal1;
                cpid = this.inputVal2 === '' ? undefined:this.inputVal2;
                formData.append("json", JSON.stringify
                    ({
                       pCode:this.$route.query.pCode,
                       cpid: cpid,
                       orderNo:orderNo,
                    })
                )       
                fetch(global.ptActivity,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    this.listLoading = false;                
                    this.data = res.result;
                }).catch(e=>{
                    this.listLoading = false;
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })   
                })
            }
        },
        handleClick:function(val){
            this.formVisible = true;
            fetch(global.PtDetailUrl+'/'+val.pieceGroupTranCode,{
                method:'GET'
            }).then(res=>res.json()
            ).then(res=>{
                this.formData = res.result;
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
               })
            }) 
        },
    },
    filters:{
        transferTi(val){
            return val == null ? null:  dayjs(val).format('YYYY-MM-DD HH:mm:ss')
        },
        transferD(val){
             return val == null ? null:  dayjs(val).format('YYYY-MM-DD')
        }
    }
}
</script>
<style>

.el-col-8>div,.el-col-5>div,.el-col-10>div{
    margin-bottom:5px;
}
.customWidth{
    width:70%;
}
.cusWidth{
    width:70%;
}
</style>

