<template>
    <section>
        <h3>活动模块 > 时间轴</h3>
        <div style="margin: 20px 0">
            <span>活动时间： </span>
            <el-date-picker
                    size="small"
                    v-model="timeRange"
                    type="datetimerange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>
        </div>
        <el-table :data="tableData"  style="width: 100%">
            <el-table-column prop="createdate"  label="活动时间节点"  width="280">
                <template slot-scope="scope">
                    <el-date-picker
                        size="small"
                        v-model="scope.row.createdate"
                        type="datetime"
                        placeholder="选择日期时间">
                    </el-date-picker>
                </template>
            </el-table-column>
            <el-table-column label="名称(空格表示在前端另起一行)" >
                <template slot-scope="scope">
                    <el-input  
                        v-model="scope.row.name"
                        size="small"
                        style="width:200px;"
                        @change="changed(scope.$index,scope.row,$event)" 
                        prop="name">
                    </el-input>
                </template>
            </el-table-column>
            <el-table-column prop="address" label="节点时间">
                <template slot-scope="scope">
                    <el-input  
                        v-model="scope.row.tim"
                        size="small"
                        style="width:200px;"
                        @change="changed(scope.$index,scope.row,$event)" 
                        prop="tim">
                    </el-input>
                </template>
            </el-table-column>
            <el-table-column  label="操作">
                <template slot-scope="scope">
                    <el-button  type="danger" size="small" @click="takeEffect(scope.store.table.data,scope.$index)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div>
            <el-button type="primary" style="margin: 20px 0" @click="addNone" size="small">添加</el-button>
        </div>

        <div class="btnBoxC">
            <el-button   @click="backTo">取消</el-button>
            <el-button  type="primary" @click="confirm(tableData)">确认</el-button>
        </div>
    </section>
</template>
<script>
    import global from "../../common/common.vue";
    export default {
        data() {
            return {
                timeRange: '',/* 活动时间 */
                tableData:[
                    {
                        createdate:"",
                        name:"",
                        tim:"",
                    }
                ],
            }
        },
        methods: {
            /* 删除 */
            takeEffect(tab,index){
                tab.splice(index,1);
                console.log(tab);
            },
            addNone(){
                var obj={}
                this.tableData.push(obj)
            },
            changed(index,row,ev){
                console.log(index,row,ev)
            },
            /* 会跳到大型促销界面 */
            backTo(){
                console.log("123");
            },
            /* 确认编辑时间轴 */
            confirm(form){
                
                let msg = '';
                form.forEach((item,index)=>{
                    console.log(item.createdate);
                    let ind = index+1;
                    // item.tim === '' ? msg ='请填写节点时间' : '';
                    item.name === '' ? msg =  '请填写表格中第'+ind+'列的名称' : '';
                    item.createdate == '' || item.createdate == null ? msg ='请选择表格中第'+ind+'时间节点' : '';
                })
                if(msg !== ''){
                    return this.$message.error(msg)
                }
                
                console.log(this.timeRange,form);
                let obj = {};
            }
        },
    };
</script>
<style >
    .btnBoxC{
        text-align: center;
    }
    .el-table .cell{
        line-height: 50px;
    }
</style>

