<template>
  <section>
    <el-button type="primary" class="addList" @click="addList()">
      <i class="el-icon-edit"></i>添加
    </el-button>
    <el-table :data="tableData" stripe style="width: 100%">
      <el-table-column prop="title" label="标题" width="180"></el-table-column>
      <el-table-column prop="describes" label="描述" width="180"></el-table-column>
      <el-table-column label="有效期" width="200">
        <template slot-scope="scope">
          <div class="effectiveTime">
            <p>{{scope.row.effectiveBegin}}</p>
            <span>至</span>
          </div>
          <p>{{scope.row.effectiveEnd}}</p>
        </template>
      </el-table-column>
      <el-table-column prop="state" label="状态"></el-table-column>
      <el-table-column prop="updater" label="修改人"></el-table-column>
      <el-table-column prop="updatedAt" label="修改时间" width="200"></el-table-column>
      <el-table-column label="操作" width="200">
        <template slot-scope="scope">
          <el-button size="small" type="primary" @click="update(scope.row)">编辑</el-button>
          <el-button
            size="small"
            type="success"
            @click="deactivate(scope.row)"
            v-if="scope.row.state == '已启用'"
          >停用</el-button>
          <el-button
            size="small"
            type="warning"
            @click="deactivate(scope.row)"
            v-if="scope.row.state == '已停用'"
          >启用</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :page-size="size"
      layout="prev, pager, next"
      :total="total"
      @current-change="handleCurrentChange"
    ></el-pagination>
    <!-- 编辑/添加弹框 -->
    <el-dialog title="详情" :visible.sync="dialogFormVisible" v-if="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item label="标题" :label-width="formLabelWidth" prop="title">
          <el-input v-model="form.title" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="描述" :label-width="formLabelWidth" prop="describes">
          <el-input type="textarea" v-model="form.describes" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="有效期" required :label-width="formLabelWidth">
          <div class="block">
            <el-date-picker
              v-model="timeRange"
              type="daterange"
              align="right"
              unlink-panels
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :picker-options="pickerOptions2"
            ></el-date-picker>
          </div>
        </el-form-item>
        <el-form-item label="白人成团" :label-width="formLabelWidth" prop="toNumber">
          <div class="effectiveTime">
            <el-input v-model.number="form.toNumber" auto-complete="off"></el-input>
            <p class="someFunny">次成为VIP</p>
          </div>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editCancel()">取 消</el-button>
        <el-button type="primary" @click="editForm()" v-if="isEdit">保 存</el-button>
        <el-button type="primary" @click="addForm()" v-if="isAdd">添 加</el-button>
        <el-button
          type="primary"
          @click="saveAndActiveForm()"
          v-if="form.state == false && isEdit"
        >保存并启用</el-button>
      </div>
    </el-dialog>
  </section>
</template>
<script>
import global from "../../common/common.vue";
export default {
  data() {
    return {
      /* 选择日期固定写法 */
      pickerOptions2: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      timeRange: [new Date(), new Date()],
      tableData: [],
      dialogTableVisible: false,
      dialogFormVisible: false,
      labelPosition: "right",
      form: {}, //编辑数据
      formLabelWidth: "120px",
      page: 0,
      size: 5,
      total: 0,
      formLabelAlign: {},
      isAdd: false,
      isEdit: false,
      rules: {
        title: [{ required: true, message: "请输入标题", trigger: "blur" }],
        describes: [
          { required: true, message: "请输入描述", trigger: "blur" },
          { min: 1, max: 40, message: "长度在 1 到 40 个字符", trigger: "blur" }
        ],
        toNumber: [
          { required: true, message: "成团次数不能为空" },
          { type: "number", message: "该字段必须为数字" }
        ],
        timeRange: [
          {
            type: "daterange",
            required: true,
            message: "请选择日期",
            trigger: "change"
          }
        ]
      }
    };
  },
  methods: {
    //时间转换
    changeTime: function(val) {
      let date = new Date(val);
      let yy = date.getFullYear() + "-";
      let mm =
        (date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1) + "-";
      let dd =
        (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";
      let hh =
        (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ":";
      let min =
        (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()) +
        ":";
      let ss =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      let aa = yy + mm + dd + hh + min + ss;
      return aa;
    },
    /* 分页 */
    handleCurrentChange(val) {
      this.page = val - 1;
      this.getToVipList();
    },
    /* 获取vip资格设置列表 */
    getToVipList() {
      fetch(global.toVipList + "?page=" + this.page + "&size=" + this.size, {
        method: "GET"
      })
        .then(res => {
          return res.json();
        })
        .then(res => {
          res.data.promotionToVipList.forEach(item => {
            item.effectiveBegin = this.changeTime(item.effectiveBegin);
            item.effectiveEnd = this.changeTime(item.effectiveEnd);
            item.updatedAt = this.changeTime(item.updatedAt);
            item.state === false
              ? (item.state = "已停用")
              : (item.state = "已启用");
          });
          this.tableData = res.data.promotionToVipList;
          this.total = res.data.total;
        });
    },
    /* 编辑 */
    update(row) {
      this.isEdit = true;
      this.isAdd = false;
      this.dialogFormVisible = true;
      /* 获取当前id数据 */
      fetch(global.currentEdit + "?id=" + row.id, {
        method: "GET"
      })
        .then(res => {
          return res.json();
        })
        .then(res => {
          /* 渲染到弹窗 */
          this.form = res.data;
          this.timeRange = [res.data.effectiveBegin, res.data.effectiveEnd];
        });
    },
    /* 取消编辑 */
    editCancel() {
      this.dialogFormVisible = false;
      this.$message("取消");
    },
    /* 保存提交 */
    editForm() {
      let formData = JSON.stringify({
        id: this.form.id,
        title: this.form.title,
        describes: this.form.describes,
        toNumber: this.form.toNumber,
        updater: this.form.updater,
        effectiveBegin: new Date(this.timeRange[0]).getTime().toString(),
        effectiveEnd: new Date(this.timeRange[1]).getTime().toString()
      });
      var myHeaders = new Headers({
        "Content-type": "application/json;charset-8"
      });
      let a = this.checkNull(this.form.toNumber, "成团人数");
      let b = this.checkNull(this.timeRange, "时间范围");
      let c = this.checkNull(this.form.describes, "描述");
      let d = this.checkNull(this.form.title, "标题");
      fetch(global.editVip, {
        method: "POST",
        headers: myHeaders,
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.errorCode == 200) {
            this.dialogFormVisible = false;
            this.getToVipList();
            this.$message({
              message: "编辑成功",
              type: "success"
            });
          } else {
            this.$message({
              message: res.message,
              type: "error"
            });
          }
        });
    },
    /* 保存并启用 */
    saveAndActiveForm() {
      // this.editForm();
      // this.isOpenOrClose(this.form.id,!this.form.state);
      let obj = JSON.stringify({
         id: this.form.id,
        title: this.form.title,
        describes: this.form.describes,
        toNumber: this.form.toNumber,
        effectiveBegin: new Date(this.timeRange[0]).getTime().toString(),
        effectiveEnd: new Date(this.timeRange[1]).getTime().toString()
      });
      let a = this.checkNull(this.form.toNumber, "成团人数");
      let b = this.checkNull(this.timeRange, "时间范围");
      let c = this.checkNull(this.form.describes, "描述");
      let d = this.checkNull(this.form.title, "标题");
      fetch(global.saveAndWork,{
        method:"POST",
        headers:{"Content-type": "application/json;charset-8"},
        body:obj
      })
      .then(res => res.json())
        .then(res => {
          if (res.errorCode == 200) {
            this.dialogFormVisible = false;
            this.getToVipList();
            this.$message({
              message: "保存并启动成功",
              type: "success"
            });
          } else {
            this.$message({
              message: res.message,
              type: "error"
            });
          }
        });
    },
    /* 启用&停用 按钮*/
    deactivate(row) {
      var currentState;
      if (row.state == "已启用") {
        this.$confirm("是否停用？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            currentState = false;
            this.isOpenOrClose(row.id,currentState)
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消"
            });
          });
      } else {
        this.$confirm("是否启用？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            currentState = true;
            this.isOpenOrClose(row.id,currentState)
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消"
            });
          });
      }
    },
    /* 禁用或停用事件 */
    isOpenOrClose(id, state) {
      let obj = JSON.stringify({ id, state });
      var myHeaders = new Headers({
        "Content-type": "application/json;charset-8"
      });
      fetch(global.currentChangeState, {
        method: "POST",
        headers: myHeaders,
        body: obj
      })
        .then(res => res.json())
        .then(res => {
          if (res.errorCode == 200) {
            this.$message({
              message: res.data,
              type: "success"
            });
            this.getToVipList();
          }
        });
    },
    /* 添加弹窗并清空数据 */
    addList(form) {
      this.isAdd = true;
      this.isEdit = false;
      this.dialogFormVisible = true;
      this.form = {
        toNumber: ""
      };
      this.timeRange = [,];
    },
    /* 校验是否为空 */
    checkNull(str, messageToast) {
      if (typeof str == "undefined" || str == "") {
        this.$message({
          message: messageToast + "不能为空",
          type: "warning"
        });
        return false;
      } else {
        return true;
      }
    },
    /* 添加按钮 */
    addForm() {
      this.isEdit = false;
      this.isAdd = true;
      /* 调用添加接口 */
      var myHeaders = new Headers({
        "Content-type": "application/json;charset-8"
      });
      let obj = JSON.stringify({
        title: this.form.title,
        describes: this.form.describes,
        toNumber: this.form.toNumber,
        effectiveBegin: new Date(this.timeRange[0]).getTime().toString(),
        effectiveEnd: new Date(this.timeRange[1]).getTime().toString(),
        type: "PIECE_TO_VIP"
      });
      let a = this.checkNull(this.form.toNumber, "成团人数");
      let b = this.checkNull(this.timeRange, "时间范围");
      let c = this.checkNull(this.form.describes, "描述");
      let d = this.checkNull(this.form.title, "标题");
      console.log(a, b, c, d);
      if (a === true && b === true && (c === true) & (d === true)) {
        fetch(global.addRule, {
          method: "POST",
          headers: myHeaders,
          body: obj
        })
          .then(res => res.json())
          .then(res => {
            if (res.errorCode == 200) {
              this.$message({
                message: res.data,
                type: "success"
              });
              this.dialogFormVisible = false;
              this.getToVipList();
            }
          });
      }
    }
  },
  created() {
    this.getToVipList();
  }
};
</script>
<style scoped>
.effectiveTime {
  display: flex;
}
.effectiveTime span {
  box-sizing: border-box;
  padding: 14px 0 0 0;
  margin-left: 10px;
}
.addList {
  margin: 10px 0;
}
.someFunny {
  width: 460px;
  margin: 0 10px;
}
</style>
