<template>
    <section>
        <div>
            <div style='padding-top:10px;padding-left:10px;padding-right:10px;'>
                 <el-row style='font-size:16px;'>分类管理</el-row>
                 <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;'>
                    <el-col :span="6">
                        <span class='text'>分类名称:</span>
                        <el-input v-model="type" placeholder="分类名称" style="width:60%;"></el-input>
                    </el-col>
                    <el-col :span='6'>
                        <el-button icon="search" type="primary" size="medium" @click="getList(type)">查询</el-button>
                        <el-button @click="handleAdd('新增')" size="medium" type="primary" icon='plus'>添加</el-button>
                    </el-col>
                </el-row>
                 <el-row>
                     <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                        <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
                    </el-col>
                 </el-row>
            </div>
            <div style='padding:0 10px;'>
                <el-row :span='24'>
                     <el-col :span='24'>
                         <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width:100%;margin-top:5px;" border>
                            <el-table-column type="index"  width="50">
                            </el-table-column>
                            <el-table-column prop="type" label="分类名称" width="auto">
                            </el-table-column>
                            <el-table-column prop="createdAt" label="创建时间" width="auto">
                                <template slot-scope='scope'>
                                    <span>{{scope.row.createdAt|transfer}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column prop="icon" label="分类图标" width="auto">
                                <template slot-scope='scope'>
                                    <img :src="scope.row.icon" alt="" style='width:40px;height:40px' v-if='scope.row.icon'>
                                </template>
                            </el-table-column>
                            <el-table-column label="排序" width="auto" >
                                <template slot-scope="scope">
                                    <div style='display:flex;flex-direction:column;justify-content:flex-start'>
                                        <el-button icon='caret-top' type='text' style='width:10px;padding:0px !important' @click="sort(scope.row,'up')" :disabled="scope.$index === 0"></el-button>
                                        <el-button icon='caret-bottom' type='text' style='width:10px;margin-left:0px !important;padding:0px !important' @click="sort(scope.row,'down')" :disabled="scope.$index === (total-1)"></el-button>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope" style="display:flex">
                                    <el-button type='text' @click="handleAdd('编辑',scope.row)">编辑</el-button>
                                    <el-button type='text' @click="deleteIssue(scope.row)" style="color:red">删除</el-button>  
                                </template>
                            </el-table-column>
                        </el-table>
                     </el-col>
                </el-row>    
                 <!-- 添加、编辑-->
                <el-dialog :title="caption" :visible.sync="formVisible" :close-on-click-modal="false" customClass="classWidth">
                    <el-form :model="form" label-width="100px"  ref="form" :rules='rules'>
                        <el-form-item label="分类名称" prop='type'>
                            <el-col :span="16">
                                <el-input v-model="form.type"></el-input>
                            </el-col>   
                        </el-form-item>
                        <el-form-item label="分类图标" prop='icon' >
                            <div style='display:flex;flex-flow:row|nowrap'>
                                <div v-if="caption === '编辑'" >
                                    <img :src="form.icon" alt="" style='width:100px;height:100px;' v-if='form.icon'> 
                                </div>
                                <div v-if="caption === '编辑' && form.icon" style='margin:auto 40px;'>
                                    <span>修改为</span>
                                </div>
                                <div v-if="form.iconCls !== ''" >
                                    <img :src="form.iconCls" alt="" style='width:100px;height:100px;'> 
                                </div>
                                <div class="uploadImgBtn" id="uploadImgBtn" v-else >
                                    <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                                    <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage">
                                </div>
                            </div>
                        </el-form-item>
                         <el-form-item>
                           <el-button type="primary" size='small' @click="submit('form')">提交</el-button> 
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>  
        </div>
    </section>
</template>
<script scoped>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
import * as qiniu from 'qiniu-js'
import b64toBlob from 'b64-to-blob'
export default {
    data(){
        return {
            type:'',
            firstEle: null,
            isTypes: true,
            listLoading:false,
            tableData:[],
            formVisible: false,
            form:{
                id:'',
                type:'',
                icon:'',  
                iconCls:'',  
            },
            id:1,
            total:1,
            rules:{
                type:[{ required: true, message: '请输入问题名称', trigger: 'blur' }],
                // icon:[{ required: true, message: '请上传图标', trigger: 'blur' }],
            },
            caption:'',
            uploadImgToken:'',
            bucketHostName:'',
        }
    },
    mounted(){
        this.getList();
        this.getQiniuToken();
    },
    methods:{
        getList:function(type){
           this.listLoading = true;
           let url;
           url = this.type ==='' ? global.selectAllType : global.selectAllType+'?type='+this.type,
           fetch(url,{
               method : 'POST',
               body:JSON.stringify({})
           }).then(res=>res.json()
           ).then(res=>{
                this.listLoading = false;
                this.tableData = res;
                this.total = this.tableData.length;
           }).catch(e=>{
               this.listLoading = false;
               this.$message({
                    message:"获取列表失败",
                    type:'error'
                })
           })
        },
        //添加接口
        submit:function(form){
            console.log(this.form);
            this.$refs[form].validate((valid) =>{
                if (valid) {
                    let data = Object.assign({},  {
                           type : this.form.type,
                           icon : this.form.iconCls
                    })
                    let url;
                    let formData = new FormData();
                    if(this.caption == '编辑'){
                        url = global.updateQuestionType;
                        data = Object.assign({id:this.form.id},data)
                    }else{
                        url = global.insertQuestionType;
                    }
                    formData.append("json", JSON.stringify(data))
                    fetch(url,{
                        method:'POST',
                        body:formData
                    }).then(res=>res.json()
                    ).then(res=>{
                        this.formVisible = false;
                        if(res){
                            this.$message({
                                message:this.caption+'成功',
                                type:'info'
                            });
                        }else{
                            this.$message({
                                message:this.caption+'失败',
                                type:'error'
                            });
                        }
                        this.getList(this.type);
                    }).catch(e=>{
                        this.formVisible = false;
                        this.$message({
                            message:'网络错误,请重试!',
                            type:'error'
                        })
                    })
                    
                }else{
                 return false;
                }
            })
           
        },
        handleAdd(val,val1){
            if(val === '编辑'){
                this.caption = '编辑';
                this.form =Object.assign({},{
                    id:val1.id,
                    icon:val1.icon,
                    iconCls :'',
                    type:val1.type
                })
            }else{
                this.caption = '新增';
                this.form = Object.assign({},{
                    id:'',
                    icon:'',    
                    type:'',
                    iconCls:'',
                })
            }
            console.log(this.form,888);
            this.formVisible = true;
        },
        sort(val,val2){
            let title;
            let formData = new FormData();
            formData.append("json", JSON.stringify
                    ({
                        nowSort : val.sort,
                        sort : val2,
                        id:val.id,
                    })
            )
            fetch(global.typeSort,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res){
                    this.$message({
                        message:'修改成功',
                        type:'info'
                    })
                    this.getList();
                }else{
                    this.$message({
                        message:'修改失败',
                        type:'error'
                    }) 
                }
            }).catch(e=>{
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })
        },
        handleChange(){
            this.getList();
        },
        deleteIssue(val){
             this.$confirm('是否确认删除?', '提示', {}).then(() => {
                 fetch(global.deletedQuestionType + '?id='+val.id,{
                     type:'POST',
                 }).then(res=>res.json()
                 ).then(res=>{
                     if(res){
                         this.$message({
                             message:'删除成功',
                             type:'info'
                         })
                         this.getList(this.type);
                     }else{
                          this.$message({
                             message:'删除失败',
                             type:'error'
                         })
                     }
                 }).catch(e=>{
                     this.$message({
                         message:'删除操作出错',
                         type:'error'
                     })
                 })
             }).catch(()=>{})
        },
        fileImage(ev) {
            let file, imgSize, reader
            file = ev.target.files[0];
            imgSize=file.size/1024;
            let splitTemp;
            reader = new FileReader();
            reader.readAsDataURL(file); // 读出 base64
            reader.onloadend = ()=> {
                this.dataURL1 = reader.result;  // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                splitTemp = this.dataURL1.split(';base64,')
                let contentType = splitTemp[0].replace('data:', '')
                let b64Data = splitTemp[1]
                let blob = b64toBlob(b64Data, contentType)
                this.uploadPhoto(blob)
            }
        },
         // 上传图片到七牛云
        uploadPhoto(file) {
            const IMG_HOST = this.bucketHostName;
            let img = new Image()
            img.src = URL.createObjectURL(file)
            let vm = this
            let fileName = Date.now() +  Math.random().toString().slice(-5)
            let putExtra = {
                mimeType: ['image/png', 'image/jpeg', 'image/gif']
            }
            let config = {
                useCdnDomain: true
            }
            return new Promise((resolve, reject) => {
                let observable = qiniu.upload(
                    file,
                    fileName,
                    vm.uploadImgToken,
                    putExtra,
                    config
                )
                let observer = {
                error(err) {
                    console.log('observer error err')
                },
                complete(res) {
                    console.log('observer complete')
                    vm.imgObj={
                        img: IMG_HOST + res.key,
                        width: img.width,
                        height: img.height
                    }
                    vm.form.iconCls = vm.imgObj.img;
                    console.log(vm.form.iconCls,999);
                 }
              }
                let subscription = observable.subscribe(observer) // 上传开始
            })
        },
         //获取token
        getQiniuToken: function() {
            const _this = this;
            let formData = new FormData()
            formData.append('json', JSON.stringify({}))
            fetch(global.queryUpToken, {
                method: 'POST',
                body: formData
            })
                .then(res => res.json())
                .then(res => {
                if (res.isSuccess === 1) {
                    _this.uploadImgToken = res.result.key;
                    _this.bucketHostName = res.result.bucketHostName;
                } else {
                    _this.$message({
                        message: res.errorMsg,
                        duration: 2000,
                        type: 'warning'
                    })
                }
            })
        },
    },
    filters:{
        transfer(val){
             return val == null ? null:  dayjs(val).format('YYYY-MM-DD HH:mm:ss')
        }
    },
}
</script>
<style>
    .text{
		display:inline-block;
		width:80px;
	}
	
    .classWidth{
        width:35%
    }
    .uploadImgBtn {
        width: 100px;
        height: 100px;
        cursor: pointer;
        position: relative;
        background: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        border: 1px solid #ccc;
        }

        .uploadImgBtn .uploadImg {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        }
</style>

