<template>
    <section>
        <div>
            <div style='padding-top:10px;padding-left:10px;padding-right:10px;'>
                 <el-row style='font-size:16px;'>问题管理</el-row>
                 <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;'>
                    <el-col :span="6">
                        <span class='text'>问题名称:</span>
                        <el-input v-model="title" placeholder="问题名称" style="width:60%;"></el-input>
                    </el-col>
                     <el-col :span="6">
                        <span class='text'>问题分类:</span>
                        <el-select v-model='type' @change="handleChange(type)" style="width:60%;">
                                <el-option
                                    v-for="item in issueData"
                                    :key="item.id"
                                    :label="item.type"
                                    :value="item.type">
                                </el-option>
                            </el-select>
                    </el-col>
                    <el-col :span='6'>
                        <el-button icon="search" type="primary" size="medium" @click="getList(type)">查询</el-button>
                        <el-button @click="handleAdd('新增')" size="medium" type="primary" icon='plus'>添加</el-button>
                    </el-col>
                </el-row>
                 <el-row>
                     <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                        <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
                    </el-col>
                 </el-row>
            </div>
            <div style='padding:0 10px;'>
                <el-row :span='24'>
                     <el-col :span='24'>
                         <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width:100%;margin-top:5px;" border>
                            <el-table-column type="index"  width="50">
                            </el-table-column>
                            <el-table-column prop="title" label="问题名称" width="auto">
                            </el-table-column>
                            <el-table-column prop="createdAt" label="创建时间" width="auto">
                                <template slot-scope='scope'>
                                    <span>{{scope.row.createdAt|transfer}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column label="排序" width="auto" >
                                <template slot-scope="scope">
                                    <div style='display:flex;flex-direction:column;justify-content:flex-start'>
                                        <el-button icon='caret-top' type='text' style='width:10px;padding:0px !important' @click="sort(scope.row,'up')" :disabled="scope.$index === 0"></el-button>
                                        <el-button icon='caret-bottom' type='text' style='width:10px;margin-left:0px !important;padding:0px !important' @click="sort(scope.row,'down')" :disabled="scope.$index === (total-1)"></el-button>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="helpful" label="已解决" width="auto">
                            </el-table-column>
                            <el-table-column prop="unhelpful" label="未解决" width="auto">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope" style="display:flex">
                                    <el-button type='text' @click="handleAdd('编辑',scope.row)">编辑</el-button>
                                    <el-button type='text' @click="deleteIssue(scope.row)" style="color:red">删除</el-button>  
                                </template>
                            </el-table-column>
                        </el-table>
                     </el-col>
                </el-row>    
                 <!-- 添加-->
                <el-dialog :title="caption" :visible.sync="addFormVisible" :close-on-click-modal="false" customClass="vissWidth">
                    <el-form :model="addForm" label-width="140px"  ref="addForm" :rules='rules'>
                        <el-form-item label="问题名称" prop='title'>
                            <el-col :span="16">
                                <el-input v-model="addForm.title"></el-input>
                            </el-col>   
                        </el-form-item>
                         <el-form-item label="问题分类" prop='type'>
                            <el-select v-model='addForm.type'>
                                <el-option
                                    v-for="item in issueData"
                                    :key="item.id"
                                    :label="item.type"
                                    :value="item.type">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="问题内容" prop='content'>
                            <el-col :span='22'>
                                <quill-editor ref="myTextEditor" v-model="addForm.content" :options="editorOption" v-loading="loading1" @change='changeImg' class='myTextEditor'></quill-editor>
                            </el-col>
                        </el-form-item>
                         <el-form-item>
                           <el-button type="primary" size='small' @click="submit('addForm')">提交</el-button> 
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>  
        </div>
    </section>
</template>
<script scoped>
import global from '../../common/common.vue'
import 'quill/dist/quill.core.css'
import '../../common/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import dayjs from 'dayjs'
export default {
    data(){
        return {
            type:'',
            firstEle: null,
            isTypes: true,
            title:'',
            listLoading:false,
            issueData:[],
            tableData:[],
            addFormVisible: false,
            editFormVisible : false,
            addForm:{
                id:'',
                title:'',
                content:'',    
                type:'',
            },
            id:1,
            total:1,
            editorOption: {
                placeholder: 'Hello World'
            },
            rules:{
                title:[{ required: true, message: '请输入问题名称', trigger: 'blur' }],
                content:[{ required: true, message: '请填写内容', trigger: 'blur' }],
                type:[{ required: true, message: '请选择问题分类', trigger: 'change' }],
            },
            caption:'',
            currentRow:null,
            loading1:false,
        }
    },
    mounted(){
        this.getIssue();
    },
    components: {
        quillEditor
    },
    methods:{
        changeImg(){
            let imgList = document.querySelectorAll('img');
            if(imgList.length>1){
                for(let i = 1;i < imgList.length;i++){
                    if(this.showSize(imgList[i].getAttribute('src'))>1024){
                        this.$message({
                            message:'图片不能大于1M',
                            type:'error'
                        })
                        imgList[i].parentNode.removeChild(imgList[i]);
                        break;
                    }
                
                }
            }
        },
        showSize(base64url) {
            //获取base64图片大小，返回MB数字
            var str = base64url.replace('data:image/jpeg;base64,', '');
            var equalIndex = str.indexOf('=');
            if(str.indexOf('=')>0) {
                str=str.substring(0, equalIndex);
            }
            var strLength=str.length;
            var fileLength=parseInt(strLength-(strLength/8)*2)*1024;
            // 由字节转换为KB
            var size = "";
            size = (fileLength/(1024 * 1024)).toFixed(2);
            var sizeStr = size + "";                        //转成字符串
            var index = sizeStr.indexOf(".");                    //获取小数点处的索引
            var dou = sizeStr.substr(index + 1 ,2)            //获取小数点后两位的值
            if(dou == "00"){                                //判断后两位是否为00，如果是则删除00                
                return sizeStr.substring(0, index) + sizeStr.substr(index + 3, 2)
            }
            return parseInt(size);
        },
        getList:function(type){
           this.listLoading = true;
           let formData = new FormData();
           let typeId;
            for(let ele of this.issueData){
                if(ele.type === type)typeId = ele.id;
            }
           formData.append("json", JSON.stringify
                ({
                    title : this.title === '' ? undefined : this.title,
                    typeId : typeId,
                })
           )
           fetch(global.customerDetail,{
               method : 'POST',
               body : formData
           }).then(res=>res.json()
           ).then(res=>{
                this.listLoading = false;
                this.tableData = res;
                this.total = this.tableData.length;
           }).catch(e=>{
               this.listLoading = false;
               this.$message({
                    message:"获取列表失败",
                    type:'error'
                })
           })
        },
        getIssue(val){
           fetch(global.customerType,{
               method : 'get',
           }).then(res=>res.json()
           ).then(res=>{
               this.issueData = res;
               this.type = this.issueData[0].type;
           }).catch(e=>{
               this.$message({
                    message:"获取信息失败",
                    type:'error'
                })
           })
        },  
        //添加接口
        submit(addForm){
            this.$refs[addForm].validate((valid) =>{
                if (valid) {
                    let formData = new FormData();
                    let typeId,url;
                    for(let ele of this.issueData){
                        if(ele.type===this.addForm.type)typeId = ele.id;
                    }
                    let data = Object.assign({},  {
                            typeId:typeId,
                            title:this.addForm.title,
                            content:this.addForm.content
                    })
                    if(this.caption == '编辑'){
                        url = global.updateQuestion;
                        data = Object.assign({id:this.addForm.id},data)
                    }else{
                        url = global.insertQuestion;
                    }
                    formData.append("json", JSON.stringify(data))
                        fetch(url,{
                            method:'POST',
                            body:formData
                        }).then(res=>res.json()
                        ).then(res=>{
                            this.addFormVisible = false;
                            if(res){
                                this.$message({
                                    message:this.caption+'成功',
                                    type:'info'
                                });
                            }else{
                                this.$message({
                                    message:this.caption+'失败',
                                    type:'error'
                                });
                            }
                            this.getList(this.type);
                        }).catch(e=>{
                            this.addFormVisible = false;
                            this.$message({
                                message:'网络错误,请重试!',
                                type:'error'
                            })
                        })
                    
                }else{
                 return false;
                }
            })
           
        },
        handleAdd(val,val1){
            if(val === '编辑'){
                this.caption = '编辑';
                this.addForm =Object.assign({},val1)
                this.loading1 = true;
                fetch(global.selectContentById+'?id='+val1.id,{
                     method:'GET',
                     headers: {'Content-Type': 'application/json;charset=UTF-8'}
                }).then(res=>res.json())
                .then(res=>{
                    this.loading1 = false;
                   this.addForm.content = res.result;
                }).catch(e=>{console.log(e);})
            }else{
                this.caption = '新增';
                this.addForm = Object.assign({},{
                    title:'',
                    content:'',    
                    type:'',
                })
            }
            this.addFormVisible = true;
        },
        sort(val,val2){
           let title;
           title = val2 === 'up' ? '升序' : '降序';
            let formData = new FormData();
            formData.append("json", JSON.stringify
                    ({
                        nowSortNum : val.sortNum,
                        sort : val2,
                        typeId:val.typeId,
                        id:val.id,
                    })
            )
            fetch(global.sortNum,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess === 1){
                    this.$message({
                        message:'修改成功',
                        type:'info'
                    })
                    this.getList(this.type);
                }else{
                    this.$message({
                        message:'修改失败',
                        type:'error'
                    }) 
                }
            }).catch(e=>{
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })
        },
        handleChange(val){
            this.getList(val);
        },
        deleteIssue(val){
             this.$confirm('是否确认删除?', '提示', {}).then(() => {
                 fetch(global.deleteDetail + '?id='+val.id,{
                     type:'POST',
                 }).then(res=>res.json()
                 ).then(res=>{
                     if(res){
                         this.$message({
                             message:'删除成功',
                             type:'info'
                         })
                         this.getList(this.type);
                     }else{
                          this.$message({
                             message:'删除失败',
                             type:'error'
                         })
                     }
                 }).catch(e=>{
                     this.$message({
                         message:'删除操作出错',
                         type:'error'
                     })
                 })
             }).catch(()=>{})
        },

    },
    filters:{
        transfer(val){
             return val == null ? null :  dayjs(val).format('YYYY-MM-DD HH:mm:ss')
        }
    },
}
</script>
<style>
    .text{
		display:inline-block;
		width:80px;
	}
	
    .vissWidth{
        width:60%
    }
    
</style>

