<template>
  <section>
   <div v-if="tableListShow">
      <div class="btnBoxR" >
      <el-button type="primary" @click="addRedPackets" class="add">
        <i class="el-icon-plus"></i> 添加红包雨
      </el-button>

      <el-button type="primary" @click="addPrizeDraw" class="add">
        <i class="el-icon-plus"></i> 添加抽奖
      </el-button>
    </div>
    <section>
      <el-form :label-position="labelPosition" label-width="100px" :model="searchForm">
        <div class="searchOne">
          <el-form-item label="活动id：">
            <el-input v-model="searchForm.promotionId" size="small"></el-input>
          </el-form-item>
          <el-form-item label="活动类型：">
            <el-select v-model="searchForm.promotionType" clearable  placeholder="请选择" size="small">
              <el-option
                v-for="item in promotionTypeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="活动状态：">
            <el-select v-model="searchForm.state" clearable  placeholder="请选择" size="small">
              <el-option
                v-for="item in promotionTypeState"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </div>
        <div class="searchOne">
          <el-form-item label="起止时间：" >
              <el-date-picker
               size="small"
                style="width:355px;"
                v-model="searchForm.activityRange"
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
              </el-date-picker>
          </el-form-item>
          <el-button class="searchBtn" type="primary" size="small" @click="searchAllActivity(searchForm)">搜索</el-button>
        </div>
      </el-form>
    </section>
    <!-- 活动列表页 -->
    <el-table :data="tableData" border="" style="width: 100%" >
      <el-table-column prop="promotionId" label="活动ID" ></el-table-column>
      <el-table-column prop="promotionType" label="活动类型" >
          <template slot-scope="scope">
              <span>{{scope.row.promotionType | changeType}}</span>
          </template>
      </el-table-column>
      <el-table-column prop="state" label="活动状态" >
          <template slot-scope="scope">
              <span>{{ scope.row.state | changeStatus }}</span>
          </template>
      </el-table-column>
      <el-table-column prop="triggerStartTime" label="开始日期" width="230"></el-table-column>
      <el-table-column prop="triggerEndTime" label="结束日期" width="230"></el-table-column>
      <el-table-column prop="createUser" label="创建账号"></el-table-column>
      <el-table-column prop="createdAt" label="创建时间" width="230"></el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button @click="queryAct(scope.row)" type="text" size="small" v-if="scope.row.state === 2" style="color:#08ada5">查看</el-button>
          <el-button type="text" size="small" @click="updateAct(scope.row)" v-if="scope.row.state !== 2" style="color:#7511a9">编辑</el-button>
          <el-button type="text" size="small" @click="deletedAct(scope.row)" v-if="scope.row.state !==1" style="color:red">删除</el-button>
          <el-button type="text" size = "small" @click="closeAct(scope.row)" v-if="scope.row.state ===1" style="color:#7d7d77">结束</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :page-size="size"
      layout="prev, pager, next"
      :total="total"
      @current-change="allactivityhandleCurrentChange"
    ></el-pagination>
   </div>
      <!-- 添加活动页 -->
    <section class="addActivitySection" v-if="redPacketsSettedShow || prizeDrawSettedShow ">
      <el-form>
        <div class="settedBox">
          <div  v-if="redPacketsSettedShow">
            <p class="tipone">红包雨德分数设置 ：</p>
            <div class="pointSetted row">
              <ul :style="'width:' + ((days.length)*150 + 100)+'px'">
                <li>日期</li>
                <li v-for="item in rangArr" :key="item">{{item}}</li>
              </ul>
              <ul :style="'width:' + ((days.length)*150 + 100)+'px'">
                <li>德分总数</li>
                <li v-for="(item,index) of pointTotalArr" :key="index">
                    <el-input-number
                      :min="0"
                      size="mini"
                      style="width:100%"
                      controls-position="right"
                      v-model="pointTotalArr[index]"
                      v-if="!isgetCurrent">
                    </el-input-number>
                </li>
              </ul>
              <ul :style="'width:' + ((days.length)*150 + 100)+'px'">
                <li class="fixLi"><p>每人上限</p><p>(白人)</p></li>
                <li v-for="(item,index) in nomalLimArr" :key="index">
                  <el-input-number  size="mini" style="width:100%" controls-position="right"  :min="0" v-model="nomalLimArr[index]" v-if="!isgetCurrent"> </el-input-number>
                  <input
                    type="number"
                    min="0"
                    v-model="nomalLimArr[index]"
                    disabled
                    v-if="isgetCurrent && !isUpdateCur"
                  >
                </li>
              </ul>
              <ul :style="'width:' + (days.length+1)*150+'px'">
                <li class="fixLi"><p>每人上限</p> <p>(非白人)</p> </li>
                <li v-for="(item,index) in vipLimArr" :key="index">
                  <el-input-number size="mini" style="width:100%" controls-position="right"  :min="0" 
                  v-model="vipLimArr[index]" 
                  v-if="!isgetCurrent"></el-input-number>
                </li>
              </ul>
            </div>
            <div class="btnBoxC">
              <el-button type="primary" @click="addRedPacketsData">确认</el-button>
              <el-button @click="cancelAddRedPacketsData">取消</el-button>
            </div>
          </div>

          <div v-if="prizeDrawSettedShow">
            <p class="tiptwo">抽奖设置 :</p>
            <p class="tiptwo">温馨提示 : 每一列德分设置概率 = 中奖概率数 * 前端排序列数</p>
            <div class="bonusSetted row">
              <ul :style="'width:'+( (days.length) * 150 + 550) + 'px;'">
                  <li :style="'width:'+150+'px'">图片</li>
                  <li :style="'width:'+150+'px'">日期</li>
                  <li v-for="item in rangArr" :key="item">{{item}}</li>
                  <li :style="'width:'+150+'px'">前端排序</li>
                  <li :style="'width:'+100+'px'">奖品总计</li>
              </ul>

              <!-- 抽奖德分 概率设置 -->
              <ul :style="'width:'+ ((days.length) * 150 + 550) + 'px;'" class="probability" v-for="(item,index) in pointArr" :key="index">
                <li :style="'width:'+150+'px'">
                  <el-popover placement="left" title="" trigger="hover">
                    <img :src="pointPicArr[index]" style="max-height:500px;max-width: 500px"/>
                    <img slot="reference" :src="pointPicArr[index]" style="max-height: 50px;max-width: 50px;">
                   </el-popover>
                </li>
                <li :style="'width:'+150+'px'">
                  <div class="fixAdd">
                    <div>
                      <el-input-number size="mini" controls-position="right"  v-model="pointArr[index].point" style="width:60%" ></el-input-number> 
                      <span>德分</span>
                    </div>
                    <div>
                      <div @click="addPicture(index)" class="loadPicture">上传图片<input class="uploadImg" type="file" name="file" multiple  @change="fileImage($event,'prize',index)"></div>
                      <div v-if="pointArr[index].isLoad">✔</div>
                    </div>
                  </div>
                </li>
                <li :style="'width:'+ ((rangArr.length) * 150) +'px;'" >
                   <span v-if="days.length != 1">中奖概率</span> <el-input-number size="mini" controls-position="right"  v-if="!isgetCurrent" v-model="pointArr[index].pro" :style="'width:'+100+'px'" ></el-input-number>%
                </li>
                <li :style="'width:'+150+'px'"><el-input  size="mini" v-model="pointArr[index].sort" class="widthSix"></el-input></li>
                <li :style="'width:'+100+'px'"></li>
              </ul>

              <!-- 抽奖奖品设置 -->
              <div class="clearnFor">
                <ul :style="'width:'+ ((days.length) * 150 + 550) +'px;'" class="probability"  v-for="(item,indexs) in productArr" :key="indexs">
                  <li :style="'width:'+150+'px'">
                    <el-popover placement="left" title="" trigger="hover">
                      <img :src="prizePicArr[indexs]" style="max-height:500px;max-width: 500px"/>
                      <img slot="reference" :src="prizePicArr[indexs]" style="max-height: 50px;max-width: 50px;">
                    </el-popover>
                  </li>
                  <li :style="'width:'+150+'px'">
                    <div class="fixAdd">
                      <div>{{isAddPrizeDraw ? indexs+1 : prizeProductList[indexs].prize}}等奖</div>
                      <div>
                        <div @click="addProduct(indexs)">添加商品</div>
                        <div v-if="productArr[indexs].isLoad">✔</div>
                      </div>
                    </div>
                  </li>
                  <li v-for="(itemRang,indexRang) in rangArr" :key="indexRang" :style="'width:'+150+'px'">
                    <!-- {{doubleDimensionalArray[indexRang][indexs]}} -->
                    <el-input-number controls-position="right" size="mini" v-model="doubleDimensionalArray[indexRang][indexs]"  @change="getMsg()" class="widthEight" />
                  </li>
                  <li :style="'width:'+150+'px'">
                      <el-input  size="mini" v-model="productArr[indexs].sort" class="widthSix"> </el-input>
                  </li>
                  <li :style="'width:'+100+'px'" v-text="prizeTotal[indexs]"></li>
                </ul>
              </div>

            </div>
            <div class="btnBoxC">
              <el-button type="primary" v-if="!isViewPrizeDraw" @click="addPrizeDrawData">确认</el-button>
              <el-button @click="cancelAddPrizeDrawData">取消</el-button>
            </div>
          </div>
        </div>
      </el-form>
    </section>

    <!-- 添加红包雨 -->
    <section v-if="redPacketsShow">
      <p class="title">基础设置：</p>
      <el-form ref="redPacketsForm" :model="redPacketsForm" label-width="120px">
        <el-form-item label="活动时间：">
            <el-date-picker
              size="small"
              style="width:420px;"
              v-model="redPacketsRange"
              type="datetimerange"
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期">
            </el-date-picker>
        </el-form-item>
        
        <el-form-item label = "每日场次时间：">
          <el-button type="primary" @click="addEverydayTim()" size="small">添加</el-button>
          <div class="addEverydayTimesArr">
            <div class="everydayTimeRange"  v-for="(item,index) of everydayTimesRange" :key="index">
              <el-time-picker
                size="small"
                style="width:420px;"
                is-range
                v-model="everydayTimesRange[index].rang"
                range-separator="至"
                start-placeholder="开始时间"
                end-placeholder="结束时间"
                placeholder="选择时间范围">
              </el-time-picker>
              <i class="el-icon-delete" @click="deleteRange(item,index)"></i>
            </div>
          </div>
        </el-form-item>

        <!-- <el-form-item label = "红包攻略：">
          <quill-editor ref="myTextEditor" v-model="contentOfStrategy"  :options="editorOption"></quill-editor>
        </el-form-item> -->
        <el-form-item label = "活动规则：">
          <quill-editor ref="myTextEditor" v-model="contentOfRule"  :options="editorOption"></quill-editor>
        </el-form-item>
        <el-form-item label = "KV主图：">
            <div v-if='imgList.length>0'>
                <ul style='padding:0;margin:0;list-style:none;display:flex;flex-direction:row;'>
                    <li v-for="(item,index) in imgList" :key='index' style='padding:0;margin:0;list-style:none;margin-left:5px;'>
                        <img :src="item.img" alt="" style='width:100px;height:100px;'>
                        <div>
                            <el-button type='text' size='small' @click='deleteImg(index)'>删除</el-button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uploadImgBtn"  v-if='imgList.length<1'>
                <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                <input class="uploadImg" type="file" name="file" multiple  @change="fileImage($event,'rainKV','rain')">
            </div>
        </el-form-item>
        <div style="display: flex">
            <el-form-item label="分享标题：" style="width: 40%">
                <el-input v-model="shareContentTitel" clearable placeholder="请输入分享标题" style="width: 100%" @change="handleInputChange('shareContentTitel')"></el-input>
            </el-form-item>
            <el-form-item label="分享文案：" style="width: 60%">
                <el-input v-model="shareContentRed" clearable placeholder="请输入分享文案" style="width: 100%" @change="handleInputChange('shareContentRed')"></el-input>
            </el-form-item>
        </div>
        <div class="btnBoxC">
          <el-button type="primary" @click="redPacketsNextPage()" size="small">下一页</el-button>
          <el-button  @click="canceRedPackets()" size="small">取消</el-button>
        </div>
      </el-form>
    </section>
   
    <!-- 添加抽奖 -->
    <section v-if="prizeDrawShow">
      <el-form ref="prizeDrawForm" :model="prizeDrawForm" label-width="180px">
        <el-form-item label="活动时间：">
          <el-date-picker
            :disabled="!isAddPrizeDraw"
            size="small"
            style="width:420px;"
            v-model="prizeDrawRange"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
            <div class="formItemBox_lottery">
              <el-form-item label="每日抽奖次数：">
                <el-input-number controls-position="right" :min="0" v-model="lotteryTimes" size="small"></el-input-number> 次
              </el-form-item>
              <el-form-item label="每次抽奖消耗的德分数：">
                <el-input-number controls-position="right"  :min="0" v-model="consumptionScore" size="small"></el-input-number> 德分
              </el-form-item>
            </div>
            <div class="formItemBox_lottery lottery_two">
              <el-form-item label="展示样式：">
                  <el-select :disabled="!isAddPrizeDraw" v-model="showStyle" clearable placeholder="请选择" size="small">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="奖品设置：">
                <el-input-number :disabled="!isAddPrizeDraw" :min="0" controls-position="right" v-model="xPoint" size="small" @change="getPoint"></el-input-number> 德分 +
                <el-input-number :disabled="!isAddPrizeDraw" :min="0" controls-position="right" v-model="yProduct" size="small" @change="changeProduct"></el-input-number> 个商品
              </el-form-item>
            </div>
        <el-form-item label="抽奖攻略：">
          <quill-editor ref="myTextEditor" v-model="activityStrategy"  :options="editorOption"></quill-editor>
        </el-form-item>
        
        <el-form-item label="活动规则：">
          <quill-editor ref="myTextEditor" v-model="activityRule"  :options="editorOption"></quill-editor>
        </el-form-item>

        <el-form-item label = "KV主图：">
            <div v-if='imgList.length>0'>
                <ul style='padding:0;margin:0;list-style:none;display:flex;flex-direction:row;'>
                    <li v-for="(item,index) in imgList" :key='index' style='padding:0;margin:0;list-style:none;margin-left:5px;'>
                        <img :src="item.img" alt="" style='width:100px;height:100px;'>
                        <div>
                            <el-button type='text' size='small' @click='deleteImg(index)'>删除</el-button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uploadImgBtn" id="uploadImgBtn" v-if='imgList.length<1'>
                <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage($event,'prizeKV','prize')">
            </div>
        </el-form-item>
        <div style="display: flex">
          <el-form-item label="分享标题：" style="width: 40%">
              <el-input v-model="shareContentTitel" clearable placeholder="请输入分享标题" style="width: 100%" @change="handleInputChange('shareContentTitel')"></el-input>
          </el-form-item>
          <el-form-item label="分享文案：" style="width: 60%">
              <el-input v-model="shareContentLuck" clearable placeholder="请输入分享文案" style="width: 100%" @change="handleInputChange('shareContentLuck')"></el-input>
          </el-form-item>
        </div>
        <div class="btnBoxC">
          <el-button type="primary" @click="prizeDrawFormNextPage()">下一页</el-button>
          <el-button  @click="cancelPrizeDrawForm()">取消</el-button>
        </div>
      </el-form>
    </section>
    
    <!-- 抽奖添加商品弹窗 -->
    <el-dialog title="添加商品" :visible.sync="addProductShow" customClass='eWidth'>
      <el-form  label-width="100px" :label-position="labelPositionLeft">
        <div class="searchBox">
          <el-form-item label="商品ID：">
            <el-input size="small" style="width:200px" v-model="productId"></el-input>
          </el-form-item>
          <el-form-item label="商品名称：">
            <el-input size="small" style="width:200px" v-model="name"></el-input>
          </el-form-item>
        </div>
        <el-form-item label="商品分类：">
          <div class="flex productClassify">
              <el-select v-model="classify" placeholder="请选择" size="small" style="width:200px"   @change="selectCatedory">
                  <el-option v-for="item in allclass" :key="item.id" :label="item.name" :value="item.id" v-html="item.name"></el-option>
              </el-select>
              <el-select v-model="category" filterable  size="small" placeholder="二级分类" style="width:200px;" >
                  <el-option v-for="(item) in categorylist" :key="item.id" :value="item.id" :label="item.name" ></el-option>
              </el-select>
          </div>
        </el-form-item>
        <div class="searchBox">
          <el-form-item label="商品品牌：">
              <el-select v-model="bd" placeholder="请选择" size="small" style="width:200px">
                  <el-option  v-for="item in brands" :key="item.id" :label="item.name" :value="item.id" v-html="item.name" ></el-option>
              </el-select>
          </el-form-item>
          <el-form-item label="">
            <el-button @click="handleSearch" type="primary" size="small">搜索</el-button>
          </el-form-item>
        </div>
      </el-form>
      <el-table :data='productList'>
         <el-table-column label="商品ID"  prop="productId"></el-table-column>
         <el-table-column label="商品图片"  prop="img">
           <template slot-scope="scope">
             <img :src="scope.row.img"  width="50" height="50" />
           </template>
         </el-table-column>
         <el-table-column label="商品类别" prop="category"></el-table-column>
         <el-table-column label="商品品牌" prop="brand"></el-table-column>
         <el-table-column label="商品名称" prop="name"></el-table-column>
         <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="text" size="small"  @click="handleClick(scope.row)" v-if="!scope.row.isChecked">确定</el-button>
            <el-button type="text" size="small" v-if="scope.row.isChecked" style="color:#7d7d77">已选择</el-button>
          </template>
         </el-table-column>
      </el-table>
        <el-pagination
          :page-size="pageSize"
          layout="prev, pager, next"
          :total="productPageTotal"
          :current-page="productPage"
          @current-change="handleCurrentChange"
        ></el-pagination>
      <!--<div slot="footer" class="dialog-footer">
        <el-button @click="addProductShow = false">取 消</el-button>
        <el-button type="primary" @click="addProductShow = false">确 定</el-button>
      </div>-->
    </el-dialog>
  </section>
</template>
<script>
  import global from "../../common/common.vue";
  import 'quill/dist/quill.core.css'
  import '../../common/quill.snow.css'
  import 'quill/dist/quill.bubble.css'
  import {quillEditor} from 'vue-quill-editor'
  import * as qiniu from 'qiniu-js'
  import b64toBlob from 'b64-to-blob'

  export default {
  data() {
    return {
      prizeTotal: [],
      pointPicArr: [],
      prizePicArr: [],
      shareContentTitel: '',
      shareContentRed: '',
      shareContentLuck: '',
      fullscreenLoading: false,/* 上传图片全屏加载 */
      prizeProductList:[], /* 抽奖奖品Id */
      labelPositionLeft:'left',
      promotionTypeOptions:[{ value:0,label:"红包雨"},{value:1, label:"抽奖"}],
      promotionTypeState:[{value:0,label:"未开始"},{value:1,label:"进行中"},{value:2,label:"已结束"}],
      options:[{ value:"tuntable", label:"八宫格" }],
      pageNum: 1,
      subArr: [[]],
      amount: '',
      prize: '',
      pointArr: [],
      productArr: [],
      pointObj: {point: '',pointPro: ''},
      xPoint: undefined,
      yProduct: undefined,
      size: 10,
      tableListShow:true,
      searchForm:{},/* 查询表单 */
      labelPosition:'right',
      productList: [],/* 可选商品 */
      addProductShow:false,
      prizeDrawShow:false,
      prizeDrawSettedShow:false,
      redPacketsSettedShow:false,
      redPacketsShow:false,
      dialogImageUrl: '',
      dialogVisible: false,
      imgList: [],
      uploadImgToken: '',
      dataURL: '',
      url:'',
      name: '',
      redPacketsForm:{
        name:"123"
      }, /* 红包雨表单 */
      redPacketsRange:[],/* 红包雨时间范围 */
      everydayTimesRange:[{
          rang: '',name: ''
      }],/* 红包雨每日场次 */
      editorOption: {
        placeholder: '仅限输入5000字'
      },/* 富文本提示 */
      contentOfStrategy: '',/* 攻略 */
      contentOfRule:'',/* 规则 */
      prizeDrawForm:{},
      prizeDrawRange:"",
      lotteryTimes: undefined,
      consumptionScore: undefined,
      total: 1,
      productPageTotal:1,/* 被选商品总数 */
      promotionId: '',
      rainIdArr: [],
      rainTimeIdArr: [],
      promotionType: 0,
      activityStrategy: '',
      activityRule: '',
      showStyle: '',
      bd: "",
      productId: '',
      classify: "",
      category: "",
      allclass: [{ id: "", name: "全部", categories: [] }], //分类列表
      brands: [{ id: "", name: "全部" }], //品牌列表
      categorylist: "",
      id: "",
      tableData: [],
      totalPage: 1,
      bonusSettedArr_point: ["2德分", "6德分", "8德分", "10德分"],
      dataValue: [],
      rangArr: [],
      addStatus: false, //添加活动页面
      isgetCurrent: false, //查看页面
      isUpdateCur: false, //编辑页面
      // curMsg: "", //当前信息
        flag: 'add',  //判断是添加还是编辑
      currentDet: {},
      days: "",
      page: 1,
      pageSize: 10,
      productPage:1,
      addSkuId: '',
      triggerStartTimeArr: [],
      pointTotalArr: [], //德分总数
      nomalLimArr: [], //白人上限
      vipLimArr: [], //非白人上限
      firstRankArr: [], //一等奖
      secondRank: [], //二等奖
      thirdRank: [], //三等奖
      rainList: [], //红包德分设置
      lotteryList: [], //抽奖设置
      // flag: '',     //判断是德分还是奖品
      point_one: "",
      sortOrder: '',
      point_two: "",
      point_six: "",
      point_eight: "",
      point_ten: "",
      rainConfigIdMap: new Map(),
      lotteryConfigIdMap: new Map(),
      actStatus:1,
      addPrize: '', /* 当前选择几等奖 */
      productMsg: '',
      state: '',
      lotteryTimeStampArray:[],/* 抽奖时间戳数组 */
      doubleDimensionalArray:[],/* 奖品二维数组 */
      prizePictureList:[],/* 抽奖选择图片 */
      isRedPacketsEdit :false,/* 是红包雨编辑吗 */
      isAddPrizeDraw : true,/* 是抽奖添加嘛 */
      isViewPrizeDraw :false,/* 是抽奖查看嘛 */
      configId:undefined,/* 当前配置Id */
      rainIdList : [],/* 红包雨第二层id数组 */
      lotteryIdList : [],/* 抽奖第二层id数组 */
    };
  },
  methods: {
    handleInputChange (type) {
      this[type] = this[type].replace(/^\s+|\s+$/g,'')
    },
    /* 获取所有活动列表 */
    searchAllActivity(form){
      this.getActivityLists();
    },
    /* 获取德分 */
    getPoint(val){
      console.log(val);
      this.pointArr = [];
      for(let i = 0; i<val; i++){ this.pointArr.push( {point:undefined,pro:undefined,sort:undefined,isLoad:false})}
      console.log(this.pointArr);
    },
     /* 抽奖下一页 */
    changeProduct(val){
      this.productArr = [];
      for(let i = 0; i<val; i++){ this.productArr.push({sort:undefined,img:"",isLoad:false})}
      console.log(this.productArr);
    },
    /* 时间转换 */
    changeTime:function(val,code){
        let date = new Date(val);
        let yy = date.getFullYear() + '-';
        let mm = ((date.getMonth()+1) < 10 ? '0'+(date.getMonth()+1) :(date.getMonth()+1)) + '-';
        let dd = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
        let hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours())+ ':';
        let min = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        let ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
        let aa= yy  + mm  + dd + hh + min + ss ;
        let bb = hh + min + ss;
        let cc = yy  + mm  + dd;
        if(code === 1){
          return aa;
        }else if(code === 2){
          return bb
        }else{
          return cc;
        }
    },
    /* 查看当前信息  */
    getCurrentAct(row) {
     return console.log(row.promotionId);
      fetch(global.getCurrentActUrl + "?id=" + row.id, {
        method: "GET"
      })
        .then(res => res.json())
        .then(res => {
          console.log(res.data);
          this.addStatus = true;
          this.isgetCurrent = true;
          this.setted(res.data.triggerStartTime, res.data.triggerEndTime); //调用setted创建表格
          let curPointTotal = []; //查询当前德分总数
          let curNomalLim = []; //查询当前每人上限（白人）
          let curVipLim = []; //查询当前每人上限（非白人）
          let curFirstRank = []; //查询一等奖设置
          let curSecondRank = []; //查询二等奖设置
          let curThirdRank = []; //查询三等奖设置
          for (let i = 0; i < res.data.rainConfigList.length; i++) {
            curPointTotal.push(res.data.rainConfigList[i].pointTotal);
            curNomalLim.push(res.data.rainConfigList[i].normalLimit);
            curVipLim.push(res.data.rainConfigList[i].vipLimit);
            this.rainConfigIdMap.set(i, res.data.rainConfigList[i].rainId);
            //-------------
            curFirstRank.push(res.data.lotteryConfigList[i].firstRank);
            curSecondRank.push(res.data.lotteryConfigList[i].secondRank);
            curThirdRank.push(res.data.lotteryConfigList[i].thirdRank);
            this.lotteryConfigIdMap.set(
              i,
              res.data.lotteryConfigList[i].lotteryId
            );
          }
          this.pointTotalArr = curPointTotal;
          this.nomalLimArr = curNomalLim;
          this.vipLimArr = curVipLim;
          this.firstRankArr = curFirstRank;
          this.secondRank = curSecondRank;
          this.thirdRank = curThirdRank;
          this.point_two = res.data.firstProbability;
          this.point_six = res.data.secondProbability;
          this.point_eight = res.data.thirdProbability;
          this.point_ten = res.data.fourthProbability;
          this.id = res.data.id;
          this.dataValue[0] = res.data.triggerStartTime; // startTime = this.; //开始时间
          this.dataValue[1] = res.data.triggerEndTime; // endTime = this.dataValue[1]; //结束时间
        });
    },
    /*删除当前活动*/
    deletedAct(val){
      // promotionType  1 :抽奖  0红包雨
      this.$confirm("是否删除该活动？此操作无法撤回。", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        let url = val.promotionType === 1 ? global.deleteActUrl : global.deleteRedRainUrl ;
        fetch(url + "/" + val.promotionId, {
          method: "POST",
          headers: { "Content-type": "application/json;charset-8"}
        }).then(res => res.json())
          .then(res => {
            if (res.errorCode === 200) {
              this.$message.success("删除成功")
              this.getActivityLists();
            } else {
              this.$message.error(res.message)
            }
          });
      }).catch(()=>{
        this.$message.info("已取消删除")
      })
    },
    /* 编辑当前页面 */
    updateAct(row) {
      this.configId = row.promotionId; /* 当前配置id */
      // row.promotionType  0:红包雨   1:抽奖
      if(row.promotionType === 0){
        //红包雨
        this.isRedPacketsEdit = true;
        this.tableListShow = false;
        this.redPacketsShow = true;
        this.getDetailEdit(row.promotionId);
        
      }else{
        //抽奖
        this.isViewPrizeDraw = false;
        this.isAddPrizeDraw = false;
        this.tableListShow = false;
        this.prizeDrawShow = true;
        this.getPrizeDrawDetail(row.promotionId)
      }
    },
    /* 获取抽奖活动信息 */
    getPrizeDrawDetail(promotionId){
      fetch(global.getPrizeDrawDetail + "/" + promotionId,{
        method : 'GET',
      }).then(res=>res.json())
      .then(res=>{
        let response = res.data.promotionPacketListVO;
        let basicSetting = response.promotionLottery[0] ;
        this.pointPicArr = []
        this.prizePicArr = []
        this.prizeDrawRange = [new Date(response.triggerStartTime),new Date(response.triggerEndTime)];/* 显示抽奖活动时间范围 */
        this.lotteryTimes = basicSetting.lotteryTimes;/* 显示每日抽奖次数 */
        this.consumptionScore = basicSetting.consumptionScore;/* 显示每次抽奖消耗德分数 */
        this.showStyle = basicSetting.showStyle;/* 显示展示样式 */
        /* 处理几条德分 几条奖品*/
        let xPointArray = [],yProductArray=[];
        basicSetting.lotteryProbabilityList.map(item=>{
          return item.lotteryType === 1 ? yProductArray.push(item) : xPointArray.push(item)
        })
        this.xPoint = xPointArray.length;
        this.yProduct = yProductArray.length;
        this.activityStrategy = response.activityStrategy;/* 显示抽奖攻略 */
        this.activityRule = response.activityRule;/* 显示抽奖规则 */
        this.imgList = [{img:response.banner}]; /* 显示抽奖主图 */
        const shareContentRes = response.shareContent || ''
        const signIndex = shareContentRes.indexOf('&')
        this.shareContentLuck = shareContentRes.substring(signIndex + 1, shareContentRes.length)
        this.shareContentTitel = shareContentRes.substring(0, signIndex)
        /* 表格德分显示 */
        this.pointArr = xPointArray.map((item,index)=>{
        this.pointPicArr.push(item.image)
          return {
            point : item.prize,
            pro : item.probability,
            sort : item.sortOrder,
            isLoad : true,
          }
        })
        /* 表格奖品显示排序以及图片 */
        this.productArr = yProductArray.map((item,index)=>{
          this.prizePicArr.push(item.image)
          return {
            sort : item.sortOrder,
            img : item.image,
            isLoad : true,
          }
        })
        /* 表格奖品具体数值显示 */
        let arr = new Array();
        for( let i = 0  ; i<response.promotionLottery.length ; i++){
          arr[i] = new Array();
          for(let j = 0 ;j<this.yProduct;j++){
            arr[i][j] = '';
          }
        }
        response.promotionLottery.forEach((item,index)=>{
          item.lotteryProbabilityList.forEach((ele,idx)=>{
            arr[index][idx] = ele.amount;
          })
        })
        this.doubleDimensionalArray = arr;
        this.getMsg()
        /* 德分对图片填充 */
        this.prizePictureList = xPointArray.map(item=>{return item.image})
        /* 奖品对应商品填充 */
        this.prizeProductList = yProductArray.map((item,index)=>{
          return {
            prize : item.prize,
            skuId : item.skuId,
            img : item.image
          }
        })
        /* 获取lotteryId */
        this.lotteryIdList = response.promotionLottery.map(item=>{
          return {
            lotteryId:item.lotteryId,
            lotteryIdConfigIdL:item.lotteryProbabilityList.map(ele=>{
              return ele.id
            })
          }
        })
      })
    },
    /* 获取红包雨活动数据 */
    getDetailEdit(promotionId){
      fetch(global.editRedPacketUrl+"/"+promotionId,{
        method:"POST",
        headers: {'Content-Type': 'application/json;charset=UTF-8'},
        body:JSON.stringify()
      }).then(res => res.json())
      .then(res =>{
        let response = res.data.promotionPacketListVO;
        const shareContentRes = response.shareContent || ''
        const signIndex = shareContentRes.indexOf('&')
        this.shareContentRed = shareContentRes.substring(signIndex + 1, shareContentRes.length)
        this.shareContentTitel = shareContentRes.substring(0, signIndex)
        this.contentOfRule = response.activityRule; /* 显示红包雨活动规则 */
        this.imgList = [{img:response.banner}]; /* 红包雨主KV */
        this.redPacketsRange = [new Date(response.triggerStartTime),new Date(response.triggerEndTime)]; /* 活动时间范围显示 */
        this.everydayTimesRange = response.rainConfigList[0].rainTimeConfig.map((item,index)=>{
          return {
            name:"",
            rang:[item.startTime,item.endTime],
          }
        });/* 显示时间数组 */
        this.pointTotalArr = response.rainConfigList.map((item,index)=>{ return item.pointTotal}) ;/* 显示德分总数 */
        this.nomalLimArr = response.rainConfigList.map((item,index)=>{ return item.normalLimit}) ;/* 显示白人每人上限 */
        this.vipLimArr = response.rainConfigList.map((item,index)=>{ return item.vipLimit}) ;/* 显示非白人每人上限 */
        this.rainIdList = response.rainConfigList.map((item,index)=>{
          return {
            rainId:item.rainId,
            rainTimeConfigIdL:item.rainTimeConfig.map(ele=>{
              return ele.id
            })
          }
        })
      })
    },
    /* 查看当前信息 */
    queryAct(row) {
      if(row.promotionType === 0){
        //红包雨
        this.isRedPacketsEdit = true;/* 红包雨编辑 */
        this.tableListShow = false;
        this.redPacketsShow = true;
        this.getDetailEdit(row.promotionId);
      }else{
        //抽奖
        this.isViewPrizeDraw = true;
        this.isAddPrizeDraw = false;
        this.tableListShow = false;
        this.prizeDrawShow = true;
        this.getPrizeDrawDetail(row.promotionId)
      }
    },
    /* 结束当前活动 */
    closeAct(row){
      this.$confirm("确认要提前结束活动吗？","提示",{
        confirmButtonText:"确认",
        cancelButtonText:"取消",
        type:"warning"
      }).then(()=>{
        fetch(global.endActUrl+"/"+row.promotionId,{
          method:"POST",
          headers:{ "Content-type":"application/json;charset-8"},
          body:JSON.stringify()
        })
        .then(res => res.json())
        .then(res =>{
          if(res.errorCode === 200 ){
            this.$message.success("结束成功");
            this.getActivityLists();
          }else{
            this.$message.error(res.message);
          }
        })
      })
    },
    setted: function(startTime, endTime) {
      let range = Math.ceil((endTime - startTime) / 1000 / 60 / 60 / 24); //时间范围
      var startTimes = new Date(startTime);
      let daysArr = [];
      this.days = range;
      for (let i = 0; i < range; i++) {
        let rangsItem = startTimes.getMonth() + 1 + "." +startTimes.getDate();
        daysArr.push(rangsItem);
        //plus one day
        startTimes.setDate(startTimes.getDate() + 1);
      }
      this.rangArr = daysArr;
      this.pointTotalArr.length = this.rangArr.length;
      this.nomalLimArr.length = this.rangArr.length;
      this.vipLimArr.length = this.rangArr.length;
      this.firstRankArr.length = this.rangArr.length;
      this.secondRank.length = this.rangArr.length;
      this.thirdRank.length = this.rangArr.length;
      return daysArr;
    },
    isAddActivity: function() {
      this.addStatus = false;
      this.isgetCurrent = false;
      this.curMsg = "";
    },
    /* 添加红包雨活动 */
    addRedPacketsData(){
        // return console.log(this.isRedPacketsEdit)
        /* 校验 */
        let errorMsg = '';
        this.vipLimArr.forEach((item,index)=>{ item === undefined || item === '' ? errorMsg = '请将非白人上限德分数填写完整':""});
        this.nomalLimArr.forEach((item,index)=>{ item === undefined || item === '' ? errorMsg = '请将白人上限德分数填写完整':""});
        this.pointTotalArr.forEach((item,index)=>{ item === undefined || item === '' ? errorMsg = '请将德分总数填写完整':""});
        
        if(errorMsg != ''){
          return this.$message.error(errorMsg);
        }

        /* 每日场次时间整理 */
        let sta = this.redPacketsRange[0].getTime();
        let end = this.redPacketsRange[1].getTime();
        let range = Math.ceil((end - sta) / 1000 / 60 / 60 / 24); //时间范围
        var startTimes = new Date(sta);
        let daysArr = [];
        for (let i = 0; i < range; i++) {
          let rangsItem = startTimes.getTime();
          daysArr.push(rangsItem);
          startTimes.setDate(startTimes.getDate() + 1);
        }
        let arr = [];
        this.everydayTimesRange.forEach((item,index)=>{
          let obj = {
            sta :this.changeTime(item.rang[0],2),
            end :this.changeTime(item.rang[1],2),
          }
          arr.push(obj);
        })
        let a = daysArr.map((item,index)=>{
          return {
            rainId: this.isRedPacketsEdit ? this.rainIdList[index].rainId :null,/* rainId */
            promotionDate : item, /* 红包雨德分设置日期 */
            pointTotal :this.pointTotalArr[index],/* 德分总数 */
            normalLimit : this.nomalLimArr[index],/* 白人上限 */
            vipLimit : this.vipLimArr[index],/* 非白人上限 */
            rainTimeConfig : arr.map((ele,idx)=>{
              return {
                id : this.isRedPacketsEdit ? this.rainIdList[index].rainTimeConfigIdL[idx]:null,
                startTime : new Date(this.changeTime(item,3) + ele.sta).getTime(),
                endTime : new Date(this.changeTime(item,3) + ele.end).getTime()
              }
            }),/* 每日场次时间 */
          }
        })
        let obj = {
          id:this.isRedPacketsEdit ? this.configId : null,
          promotionType : 0,/* 活动类型 0：红包雨 1：抽奖 */
          triggerStartTime :this.redPacketsRange[0].getTime(),/* 活动开始时间 */
          triggerEndTime :this.redPacketsRange[1].getTime(),/* 活动结束时间 */
          activityRule : this.contentOfRule,/* 红包雨活动规则 */
          activityStrategy : '',/* 红包雨活动攻略 */
          banner : this.imgList[0].img ,/* KV主图 */
          rainConfigList : a,
          shareContent: `${this.shareContentTitel}&${this.shareContentRed}`
        }
        // return console.log(obj);
        fetch(global.saveRedPacketUrl,{
            method: 'POST',
            body: JSON.stringify(obj),
            headers: {'Content-Type': 'application/json;charset=UTF-8'}
        }).then(res=>res.json())
        .then(res=>{
            if(res.errorCode === 200){
              this.isRedPacketsEdit ? this.$message.success("更新红包雨活动成功"):this.$message.success("添加红包雨活动成功");
              this.promotionId = '';
              this.rainIdArr = [];
              this.rainTimeIdArr = [];
              this.redPacketsSettedShow = false;
              this.redPacketsShow = false;
              this.tableListShow = true;
              this.getActivityLists();
              this.canceRedPackets();
            }else{
              this.$message.error(res.message);
            }
        })
    },
    /* 取消添加红包雨活动 */
    cancelAddRedPacketsData(){
      if(!this.isRedPacketsEdit){
        this.pointTotalArr = []; /* 清空总得分 */
        this.nomalLimArr = [] ;/* 清空白人上限 */
        this.vipLimArr = [] ; /* 清空非白人上限 */
      }
      
      this.redPacketsSettedShow = false;
      this.redPacketsShow = true;
    },
    /* 数组是否为从1开始的连续数列 */
    isContinuous(array){
        let i=0;
        let isContinuation=true;
        for(var e in array){
            i++;
            if(array[e]!=i){
                isContinuation=false;
                break;
            }
        }
        return isContinuation;
    },
    /* -- */
    getMsg(){
      setTimeout(_ => {
        this.prizeTotal = []
        this.doubleDimensionalArray.map(item => {
          item.map((ele, index) => {
            if (!this.prizeTotal[index]) this.prizeTotal[index] = 0
            this.prizeTotal[index] += Number(ele) || 0
          })
        })
      }, 99)
    },
    /* 添加抽奖活动 */
    addPrizeDrawData(){
      // return console.log(this.doubleDimensionalArray);
      /* 校验 */
      let errorMsg = '';
      let reg = /^[+]{0,1}(\d+)$/;
      this.productArr.forEach((item,index)=>{
        item.sort === undefined || item.sort === '' ? errorMsg = '请填写前端排序' : "";
        this.prizeProductList[index] === undefined ? errorMsg = "请添加第" + (index+1) + "等奖的奖励商品" :"" ;
      })
      this.doubleDimensionalArray.forEach((item,index)=>{
        item.forEach((ele,idx)=>{
          if(ele != null){
             !reg.test(ele) ? errorMsg = '每日奖品数必须为正整数' :''
          }
        })
      })

      this.doubleDimensionalArray.forEach((item,index)=>{
        item.forEach((ele,idx)=>{ ele === undefined ? errorMsg = '请将每日奖品设置填写完整' :''})
      })
      this.pointArr.forEach((item,index)=>{
        item.sort === undefined || item.sort === '' ? errorMsg = '请填写前端排序' : "";
        !reg.test(item.pro) ? errorMsg = '中奖概率必须为整数' : "";
        item.pro === undefined || item.pro === '' ? errorMsg = '请填写中奖概率' : "";
        !reg.test(item.point) ? errorMsg = '德分必须为整数' : "";
        item.point === undefined || item.point === '' ? errorMsg = '请填写德分' : "";
        this.prizePictureList[index] === undefined ? errorMsg = "请上传第" + (index+1) + "组德分奖励图片" :"" ;
      })
      if(errorMsg != ''){ return this.$message.error(errorMsg)}
      /* 整理德分数组 */
      let pointArray = this.pointArr.map((item,index)=>{
        return {
          prize : item.point, /* 中奖德分 */
          probability : item.pro, /* 中奖概率 */
          lotteryType : 0 ,/* 中奖类型 德分 0 */
          skuId : null ,/* 德分 无skuid */
          sortOrder :item.sort.length > 1 ? item.sort.split(',') : item.sort, /* 前端排序 */
          image :this.prizePictureList[index],/* 被选择商品的图片 */
          amount :null ,/* 德分奖励没有奖品分数 */
        }
      })
      let a = [];let pointSortAlone = [];
      pointArray.map((item,index)=>{
        if(item.sortOrder.length > 1){
          let b = item.sortOrder.map(ele=>{
            return{
              prize :item.prize,
              probability : item.probability,
              lotteryType : 0,
              skuId : null ,
              sortOrder : ele,
              image :this.prizePictureList[index],
              amount :null ,
            }
          })
          a.push(b)
        }else{ pointSortAlone.push(item); }
      })
      let pointSortArray = [];
      a.forEach(item=>[
        item.forEach(ele=>{
          pointSortArray.push(ele)
        })
      ])
      pointArray = pointSortArray.concat(pointSortAlone);
      /* 校验概率总共是否为100 */
      let errMsg = '';
      let proSum = 0 ;
      pointArray.forEach(item=>{
        proSum += parseInt(item.probability);
      })
      this.xPoint === 0 ? proSum = 100 :'' ;
      errMsg = proSum === 100 ? '' : '概率总共应为100';
      if(errMsg != ''){return this.$message.error(errMsg);}
      /* 整理奖品数组 */
      let productArray = this.productArr.map((item,index)=>{
        return{
          prize:this.isAddPrizeDraw ? (index+1) :  this.prizeProductList[index].prize, /* 几等奖 */
          probability: null ,/* 无概率 */
          lotteryType:1,/* 中奖类型 奖品 1 */
          skuId:this.prizeProductList[index].skuId,
          sortOrder:item.sort.length > 1 ? item.sort.split(',') : item.sort, /* 前端排序 */
          image:this.prizeProductList[index].img,
          amount :this.lotteryTimeStampArray.map((ele,idx)=>{
            return this.doubleDimensionalArray[idx][index]
          })
        }
      })
      let c = [] ; let prizeSortALone = [];
      productArray.map((item,index)=>{
        if(item.sortOrder.length > 1){
          let d = item.sortOrder.map(ele=>{
            return {
              prize:item.prize,
              probability: null ,
              lotteryType:1,
              skuId:item.skuId,
              sortOrder:ele,
              image:item.image,
              amount:item.amount
            }
          })
          c.push(d);
        }else{
          prizeSortALone.push(item)
        }
      })
      /* 前端排序1-8整理 */
      let prizeSortArray = [];
      c.forEach(item=>{item.forEach(ele=>{ prizeSortArray.push(ele)})});
      productArray = prizeSortArray.concat(prizeSortALone);
      let aa = productArray.concat(pointArray);
      let bb = aa.map(item=>{return item.sortOrder});
      errMsg = this.isContinuous(bb.sort()) && bb.length === 8 ? '' : '前端顺序以 1-8 递增排列' ;
      if(errMsg != ''){return this.$message.error(errMsg);}
      this.doubleDimensionalArray.forEach(item=>{
        item.forEach(ele=>{
          errMsg = ele === '' || ele === undefined ? '每日奖品对应数尚未配置完整'  : '';
        })
      })
      if(errMsg != ''){return this.$message.error(errMsg);}
      let obj =  this.lotteryTimeStampArray.map((item,index)=>{
          return {
            lotteryId : this.isAddPrizeDraw ? null : this.lotteryIdList[index].lotteryId, /* lotteryId */
            promotionDate :item, /* 抽奖日期 */
            lotteryTimes: this.lotteryTimes, /* 每日抽奖次数 */
            showStyle: this.showStyle ,/* 展示样式 */
            consumptionScore: this.consumptionScore, /* 每日抽奖消耗德分数 */
            probabilities : aa.map((item,idx)=>{
              return {
                probabilityId : this.isAddPrizeDraw ? null : this.lotteryIdList[index].lotteryIdConfigIdL[idx],
                amount :item.lotteryType === 1 ? item.amount[index] : null,
                image : item.image,
                lotteryType : item.lotteryType,
                prize : item.prize,
                probability : item.probability,
                skuId : item.skuId,
                sortOrder : item.sortOrder,
              }
            }),
          }
        })
      let postObj = {
        id: this.isAddPrizeDraw ? null : this.configId,
        triggerStartTime:this.prizeDrawRange[0].getTime(),/* 活动开始时间 */
        triggerEndTime:this.prizeDrawRange[1].getTime(), /* 活动结束时间 */
        promotionType : 1 ,/* 活动类型：抽奖 */
        activityRule: this.activityRule,/* 抽奖规则 */
        activityStrategy:this.activityStrategy, /* 抽奖攻略 */
        banner :this.imgList[0].img,/* kv主图 */
        lotteryVOList : obj,
        shareContent: `${this.shareContentTitel}&${this.shareContentLuck}`
      }
      
      // return console.log(postObj);

      fetch(global.saveListUrl, {
        method: 'POST',
        body: JSON.stringify(postObj),
        headers: {'Content-Type': 'application/json;charset=UTF-8'}
      }).then(res => res.json()
      ).then(res => {
        this.listLoading = false;
        if (res.errorCode === 200) {
            this.isAddPrizeDraw ? this.$message.success("添加抽奖活动成功") :this.$message.success("更新抽奖活动成功");
            this.prizeDrawSettedShow = false;
            this.prizePictureList = [];
            this.prizeProductList = [];
            this.productList.forEach(item=> item.isChecked = false);
            this.prizeDrawShow = false;
            this.tableListShow = true;
            this.cleanPrizeDrawInfo();
            this.getActivityLists();
        } else {
          this.$message.error(res.message)
        }
      })
    },
    /* 取消添加抽奖活动 */
    cancelAddPrizeDrawData(){
      this.prizeDrawSettedShow = false;
      this.prizeDrawShow = true;
    },
    /* 获取活动清单 */
    getActivityLists: function() {
      let activityForm = {
        promotionId:this.searchForm.promotionId === '' ? null : this.searchForm.promotionId,

        promotionType:this.searchForm.promotionType === '' ? null : this.searchForm.promotionType,
        state:this.searchForm.state === '' ? null : this.searchForm.state,
        triggerStartTime:this.searchForm.activityRange === null || this.searchForm.activityRange === undefined ? null : this.searchForm.activityRange[0].getTime() ,
        triggerEndTime:this.searchForm.activityRange === null || this.searchForm.activityRange === undefined? null : this.searchForm.activityRange[1].getTime() ,
        pageIndex: this.page,
        pageSize: this.pageSize
      };

      fetch(global.getActivityListUrl,{
          method: "POST",
          body: JSON.stringify(activityForm),
          headers: { "Content-Type": "application/json;charset=UTF-8" }
        }
      ).then(res => res.json())
      .then(res => {
        let resData = res.data.activityList;
        this.total = res.data.activityCount;
        this.tableData = resData;
        res.data.activityList.forEach((element,index)=>{
          element.triggerStartTime = this.changeTime(element.triggerStartTime,1);
          element.triggerEndTime = this.changeTime(element.triggerEndTime,1);
          element.createdAt = this.changeTime(element.createdAt,1);
        });
      });
    },
    /* 所有活动分页 */
    allactivityhandleCurrentChange(val){
      this.page = val;
      this.getActivityLists();
    },
    /* 被选择商品分页 */
    handleCurrentChange(val){
      console.log(val);
      this.productPage = val;
      this.handleSearch();
    },
    /* 添加红包雨 */
    addRedPackets(){
      this.isRedPacketsEdit = false;/* 更改是否为红包雨编辑 */
      this.tableListShow = false;
      this.redPacketsShow = true;
      console.log("添加红包雨")
    },
    /* 添加每日场次时间 */
    addEverydayTim(){
      console.log(this.everydayTimesRange.length);
      if(this.everydayTimesRange.length >= 23){
        this.$message.error("每日场次不能超过24场");
      }else{
        this.everydayTimesRange.push({ rang: '', name: '' });
      }
    },
    /* 删除当前时间组件 */
    deleteRange(item,index){
      // console.log(index);
      this.everydayTimesRange.splice(index, 1);
    },

    fileImage(ev,type,index){
      this.fullscreenLoading = true;
      this.files = ev.target.files;
      this.filesIndex = this.files.length > 9 ? 9 : this.files.length;
      this.doPictrues(this.files[0],type,index)
    },
    doPictrues(file,type,index) {
      let imgSize, reader;
      imgSize = file.size / 1024;
       if (imgSize > 5120) {
        this.$message.error("图片大小不能超过5MB")
      } else {
        let splitTemp;
        reader = new FileReader();
        reader.readAsDataURL(file); // 读出 base64
        reader.onloadend = () => {
          this.dataURL = reader.result; // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
          splitTemp = this.dataURL.split(';base64,');
          let contentType = splitTemp[0].replace('data:', '');
          let b64Data = splitTemp[1];
          let blob = b64toBlob(b64Data, contentType);
          this.uploadPhoto(blob,type,index)
        }
      }
    },
    // 上传图片到七牛云
    uploadPhoto(file,type,index) {
      const IMG_HOST = this.url;
      let img = new Image();
      img.src = URL.createObjectURL(file);
      let vm = this;
      let fileName = Date.now() + Math.random().toString().slice(-5);
      let putExtra = { mimeType: ['image/png', 'image/jpeg', 'image/gif'] };
      let config = {useCdnDomain: true};
      return new Promise((resolve, reject) => {
        let observable = qiniu.upload( file, fileName,vm.uploadImgToken, putExtra, config);
        let observer = {
          error(err) {
            console.log('observer error err')
          },
          complete(res) {
            console.log('observer complete');
            vm.fullscreenLoading = false;
            
            if(type === 'prize'){
              vm.prizePictureList[index] = IMG_HOST + res.key;
              vm.$message.success("第"+(index+1)+"组德分奖励图片上传成功");
              vm.pointArr[index].isLoad = true;
              vm.$set(vm.pointPicArr, index, IMG_HOST + res.key)
            }else{
              vm.imgList.push({ img: IMG_HOST + res.key, });
              vm.imgList = vm.imgList.slice(0,1);
            }
            vm.completeNum++;
            if (
              vm.completeNum < vm.filesIndex - 1 ||
              vm.completeNum == vm.filesIndex - 1
            ) {
              vm.doPictrues(vm.files[vm.completeNum])
            }
          }
        };
        let subscription = observable.subscribe(observer) // 上传开始
      })
    },
    //获取token
    getQiniuToken: function() {
      const _this = this;
      let formData = new FormData();
      formData.append('json', JSON.stringify({}));
      fetch(global.queryUpToken, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            _this.uploadImgToken = res.result.key;
            _this.url = res.result.bucketHostName;
          } else {
            _this.$message({
              message: res.errorMsg,
              duration: 2000,
              type: 'warning'
            })
          }
        })
    },
    //图片删除
    deleteImg(val) {
      this.imgList.splice(val, 1)
    },
    /* 红包雨下一页 */
    redPacketsNextPage(){
        let everyTimeLength = this.everydayTimesRange.length;
        let isBoolean = false;
        if(everyTimeLength > 0){
          for(let i=0;i<everyTimeLength;i++){
            if(this.everydayTimesRange[i].rang[0] === undefined || this.everydayTimesRange[i].rang[1] === undefined){
              isBoolean=true;
            }
          }
        }
        const shareContentRed = this.shareContentRed.replace(/(^\s*)|(\s*$)/g, "")
        const shareContentTitel = this.shareContentTitel.replace(/(^\s*)|(\s*$)/g, "")
        if(this.redPacketsRange === null || this.redPacketsRange[1] === undefined){
          this.$message.error("活动时间尚未配置");
        }else if(this.redPacketsRange[0].getTime() === this.redPacketsRange[1].getTime()){
          this.$message.error("活动时间间隔不得小于1天");
        }else if(isBoolean === true){
          this.$message.error("每日场次时间尚未配置");
        }else if(this.contentOfRule === undefined || this.contentOfRule === ''){
          this.$message.error("活动规则尚未配置");
        }else if(this.contentOfRule.length > 5000){
          this.$message.error("活动规则长度不能超过5000");
        }else if(this.imgList.length === 0){
          this.$message.error("KV主图尚未配置");
        }else if(this.shareContentTitel.includes('&')) {
          this.$message.error("分享标题不能有符号【&】");
        } else if(this.shareContentRed.length === 0) {
          this.$message.error("请输入分享文案");
        }else if (this.shareContentRed.includes('&')) {
          this.$message.error("分享文案内容不能有符号【&】");
        }
        else{
          /* 每日场次时间整理 */
          let sta = this.redPacketsRange[0].getTime();
          let end = this.redPacketsRange[1].getTime();
          let range = Math.ceil((end - sta) / 1000 / 60 / 60 / 24); //时间范围
          var startTimes = new Date(sta);
          let daysArr = [];
          for (let i = 0; i < range; i++) {
            let rangsItem = startTimes.getTime();
            daysArr.push(rangsItem);
            startTimes.setDate(startTimes.getDate() + 1);
          }
          let arr = [];
          this.everydayTimesRange.forEach((item,index)=>{
            let obj = {
              sta :this.changeTime(item.rang[0],2),
              end :this.changeTime(item.rang[1],2),
            }
            arr.push(obj);
          })
          let a = daysArr.map((item,index)=>{
            return {
              rainTimeConfig : arr.map((ele,idx)=>{
                return {
                  startTime : new Date(this.changeTime(item,3) + ele.sta).getTime(),
                  endTime : new Date(this.changeTime(item,3) + ele.end).getTime()
                }
              }),/* 每日场次时间 */
            }
          })
          let b = a[0].rainTimeConfig[0].startTime
          if(sta > b){
            return this.$message.error("每日场次时间不能早于活动开始时间");
          }
          let sAry = [];let eAry = [];
          let ary = a[0].rainTimeConfig;
          let errorMsg = '';
          ary.map(item =>{ return sAry.push(item.startTime)});
          ary.map(item =>{ return eAry.push(item.endTime)});
          sAry = sAry.slice(1,sAry.length);
          eAry = eAry.slice(0,eAry.length-1);
          sAry.forEach((item,index)=>{
            if(eAry[index] > sAry[index]){
              return errorMsg = "每日场次起始时间不能早于前一场结束时间";
            }
          })
          if(errorMsg != ''){
            return this.$message.error(errorMsg);
          }
          let arrRange = this.setted(this.redPacketsRange[0],this.redPacketsRange[1]);
          this.redPacketsShow = false;
          this.redPacketsSettedShow = true;
          this.days = arrRange;
          console.log(arrRange);
        }
    },
    /* 红包雨取消 */
    canceRedPackets(){
      /* 清空红包雨表单 */
      this.redPacketsShow = false;
      this.tableListShow = true;
      //清空表单信息
      this.redPacketsRange = [];/* 活动时间清空 */
      this.everydayTimesRange=[{rang: '',name: ''}];/* 每日场次时间重置为初始状态 */
      this.contentOfStrategy = '';/* 攻略置空 */
      this.contentOfRule='';/* 规则置空 */
      this.imgList = [];/* KV主图置空 */
      this.shareContentRed = ''
      this.shareContentTitel = ''
    },
    /* 添加抽奖 */
    addPrizeDraw(){
      this.isAddPrizeDraw = true;
      this.tableListShow = false;
      this.prizeDrawShow = true;
    },
    /* 抽奖下一页 */
    prizeDrawFormNextPage(){
      let errorMsg = '';
      let reg = /^[+]{0,1}(\d+)$/;
      const shareContentLuck = this.shareContentLuck.replace(/(^\s*)|(\s*$)/g, "")
      const shareContentTitel = this.shareContentTitel.replace(/(^\s*)|(\s*$)/g, "")
      if( this.prizeDrawRange === null || this.prizeDrawRange[0] === undefined){
        errorMsg = '活动时间尚未配置';
      }else if(this.prizeDrawRange[0].getTime() === this.prizeDrawRange[1].getTime()){
        errorMsg = '活动时间间隔不得小于1天';
      }else if(this.isAddPrizeDraw && this.prizeDrawRange[1].getTime() < new Date()){
        errorMsg = '活动结束时间必须大于当前时间';
      }else if(this.lotteryTimes === undefined || this.lotteryTimes === ''){
        errorMsg = '每日抽奖次数尚未配置';
      }else if(!reg.test(this.lotteryTimes)){
        errorMsg = '抽奖次数必须为正整数'
      }else if(this.consumptionScore === undefined || this.consumptionScore === '' ){
        errorMsg = '每日抽奖消耗德分数尚未配置';
      }else if(!reg.test(this.consumptionScore)){
        errorMsg = '每日抽奖消耗德分数必须为正整数';
      }else if(this.showStyle === undefined || this.showStyle === '' ){
        errorMsg = '展示样式尚未配置';
      }else if(this.xPoint === undefined || this.xPoint === "" || this.yProduct === undefined || this.yProduct === ""){
        errorMsg = '奖品设置尚未配置';
      }else if(!reg.test(this.xPoint) || !reg.test(this.yProduct)){
        errorMsg = '奖品设置德分和商品必须为正整数';
      }else if((parseInt(this.xPoint)+parseInt(this.yProduct)) > 8){
        errorMsg = '德分和商品总数不能超过8';
      }else if((parseInt(this.xPoint)+parseInt(this.yProduct)) === 0){
        errorMsg = '奖品设置总数必须大于1';
      }else if(this.activityStrategy === undefined || this.activityStrategy === ""){
        errorMsg = '抽奖攻略尚未配置';
      }else if(this.activityStrategy.length > 5000){
        errorMsg = '抽奖攻略长度不能超过2000'
      }else if(this.activityRule === undefined || this.activityRule === ''){
        errorMsg =  '活动规则尚未配置';
      }else if(this.activityRule.length > 5000){
        errorMsg = '活动规则长度不能超过2000'
      }else if(this.imgList.length <= 0){
        errorMsg =  'kv主图尚未配置';
      }else if(this.shareContentTitel.includes('&')) {
        this.$message.error("分享标题不能有符号【&】");
      } else if(this.shareContentLuck.length === 0) {
        this.$message.error("请输入分享文案");
      }else if (this.shareContentLuck.includes('&')) {
        this.$message.error("分享文案内容不能有符号【&】");
      } else {
        let startTim = this.prizeDrawRange[0];
        let endTim = this.prizeDrawRange[1];
        let days = this.setted(startTim,endTim);
        this.days = days;
        this.prizeDrawSettedShow = true;
        this.prizeDrawShow = false;
      
        let sta = this.prizeDrawRange[0].getTime();
        let end = this.prizeDrawRange[1].getTime();
        let range = Math.ceil((end - sta) / 1000 / 60 / 60 / 24); //时间范围
        var startTimes = new Date(sta);
        let daysArr = [];
        for (let i = 0; i < range; i++) {
          let rangsItem = startTimes.getTime();
          daysArr.push(rangsItem);
          startTimes.setDate(startTimes.getDate() + 1);
        }
        this.lotteryTimeStampArray = daysArr;
        /* 点下一页创建好二维数组 */
        if(this.isAddPrizeDraw){
          let arr = new Array();
          for( let i = 0  ; i<this.days.length ; i++){
            arr[i] = new Array();
            for(let j = 0 ;j<this.yProduct;j++){
              arr[i][j] = undefined;
            }
          }
          this.doubleDimensionalArray = arr;
        }
        for(let i = 0 ;i<this.yProduct ;i++){
          this.prizeProductList.push('');
        }
        /* 重新加载被选择列表 没个 isChecked 状态为false 并且商品选中列表为空。勾选状态onload为 false */
        if(this.isAddPrizeDraw){
          this.getActivityLists(); 
          this.productList.forEach(item=>{
            item.isChecked = false;
          });
          this.prizeProductList  = [];
          this.productArr.forEach(item=>{
            item.isLoad = false;
          })
        }
      }
    },
    cleanPrizeDrawInfo(){
      this.prizeDrawRange = ''; /*  清空抽奖活动时间 */
      this.lotteryTimes = undefined; /* 清空抽奖次数 */
      this.consumptionScore = undefined ; /* 清空每次抽奖消耗的德分数 */
      this.showStyle = '';/* 清空展示样式 */
      this.xPoint = undefined ; /* 清空设置几个德分 */
      this.yProduct = undefined ; /* 清空设置几个商品 */
      this.activityStrategy = '' ; /* 清空抽奖攻略 */
      this.activityRule = '';/* 清空抽奖规则 */
      this.imgList = [] ;/* 清空抽奖图片设置 */
    },
    /* 抽奖取消 */
    cancelPrizeDrawForm(){
      /* 清空抽奖表单 */
      this.cleanPrizeDrawInfo();
      this.tableListShow = true;
      this.prizeDrawShow = false;
      this.shareContentLuck = ''
      this.shareContentTitel = ''
    },
    /* 获取商品分类 */
    getAllClass() {
      fetch(global.categoryUrl, { method: "get"})
      .then(res => res.json())
      .then(res => {
        res.isSuccess === 1 ? this.allclass = this.allclass.concat(res.result) : this.$message.error("查询不到数据，请稍候重试");
      })
    },
    /* 获取二级分类 */
    selectCatedory(val) {
        let o = this.allclass.filter(v => v.id == val);
        let catedoryList = o[0].categories;
        let arr = [];
        catedoryList.forEach(element => {
            let obj = {
                id: element.id,
                name: element.name
            };
            arr.push(obj);
        });
        this.category = "";
        this.categorylist = arr;
    },
    getBrand() {
      fetch(global.brandUrl, { method: "get" })
      .then(res => res.json())
      .then(res => {
        res.isSuccess === 1 ? this.brands = this.brands.concat(res.result) : this.$message.error("查询不到数据，请稍候重试") ;
      })
    },
    handleSearch(){
      let brandId = "";
      let categoryId = "";
      for (let ele of this.brands) { if (ele.value === this.bd) brandId = ele.id;}
      for (let ele of this.allclass) { if (ele.value === this.classify) categoryId = ele.id;}
      let formData = JSON.stringify({
        productId: this.productId === "" ? undefined : this.productId,
        skuname: this.name === "" ? undefined : this.name,
        brand: this.bd === "" ? undefined : this.bd,
        category:this.category === "" ? undefined : this.category,
        pageNum: this.productPage
      });
      fetch(global.listUrl, {
        method: "POST",
        body: formData,
        headers: { "Content-Type": "application/json;charset=UTF-8" }
      }).then(res => res.json())
        .then(res => {
          res.result.forEach(item=>{ item.isChecked = false; })
          this.productList = res.result;
          this.productList.forEach((item,index)=>{
            item.isChecked = this.prizeProductList.filter(v => v.productId === item.productId).length;
          })
          this.productPageTotal = res.count;
        });
    },
    /* 抽奖添加图片 */
    addPicture(index){
      console.log(index)
    },
    /* 抽奖添加商品 */
    addProduct(index){
      console.log(index)
      this.addPrize = index;
    　this.addProductShow = true;
    },
    /* 确认选择图片 */
    handleClick(val){
      if(val.skuList.length >1){
        this.$message.error("奖品不支持多规格商品");
      }else{
        let isExit = this.prizeProductList.indexOf(JSON.stringify(val.skuList[0].skuId)) ;
        if(isExit != -1){
          this.$message.error("该商品已被选为其他奖品");
        }else{
          let o = {
            skuId : val.skuList[0].skuId,
            img: val.img,
            productId : val.productId,
          }
         
          let prize ;
          prize = this.isAddPrizeDraw ? '' :this.prizeProductList[this.addPrize].prize;
          o.prize = prize;
          this.prizeProductList[this.addPrize] = o;

          this.productList.forEach((item,index)=>{
            item.isChecked = this.prizeProductList.filter(v => v.productId === item.productId).length;
          })
          this.$message.success("选择奖品成功");
          this.productArr[this.addPrize].isLoad = true;
          this.$set(this.prizePicArr, this.addPrize, val.img)
        }
      }
    },
  },
  filters: {
    changeStatus:function(val) {
        switch (val) {
            case 0 :
                return '即将开始';
                break;
            case 1 :
                return '进行中';
                break;
            case 2 :
                return '已结束';
                break;
            default :
                return '全部状态';
                break;
        }
    },
    changeType:function(val){
        switch (val) {
            case 0 :
                return '红包雨';
                break;
            case 1 :
                return '抽奖';
                break;
        }
    },
    changTime:function (val) {
              let time = new Date(val);
              let yy = time.getFullYear();
              let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
              let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
              return yy + '-' + mm + '-' + dd
          },
  },
  components: {quillEditor},
  created() {
    this.getBrand();
    this.getAllClass();
    this.handleSearch();
    this.getQiniuToken();
    this.getActivityLists();
  }
};
</script>
<style>
* {
  margin: 0;
  padding: 0;
}
.title{
  margin: 0 0 20px;
}
.searchOne{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 200px;
}
.searchBtn{
  height: 50%;
}
.eWidth{
  width: 70%;
}
input{
  border-radius: 5px;
}
.itemBox{
  height: 50px;
  width: 100%;
  background-color: salmon;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
input {
  text-align: center;
}
.add {
  margin-bottom: 10px;
}
.add .icon{
  font-size: 30px;
  line-height: 10px;
}
.btnBoxC{
  text-align: center;
  margin-top: 10px;
}
.btnBoxR{
  text-align: right;
}
.everydayTimeRange{
  margin-bottom: 15px;
}
.addEverydayTimesArr{
  float: left;
  margin-right: 20px;
}
.el-icon-delete{
  color: gray;
  font-size: 20px;
  vertical-align: -3px;
  cursor: pointer;
}
.everydayTimeRange:first-child .el-icon-delete{
  display: none;
}
.settedBox {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 83%;
  margin-top: 10px;
}
.tipone {
  margin-bottom: 10px;
}
.tiptwo {
  margin: 20px 0 10px;
}
.settedBox ul {
  /* width: 3000px; */
  overflow: hidden;
}
.settedBox ul li {
  list-style: none;
  float: left;
}
.settedBox > li input {
  width: 80px;
  border: none;
}
.settedBox > li > p {
  margin-top: -40px;
}
.grade {
  width: 80px;
  border-top: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
}
.grade li {
  border-right: 1px solid rgb(235, 235, 235);
  height: 80px;
  box-sizing: border-box;
  width: 80px;
}
.grade input {
  box-sizing: border-box;
  border: 1px solid rgb(185, 181, 181);
  width: 80px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  outline: none;
  text-indent: 0.2em;
}
.probability li {
  box-sizing: border-box;
  border-right: 1px solid rgb(235, 235, 235);
  border-top: 1px solid rgb(235, 235, 235);
  height: 80px;
  width: 500px;
  line-height: 80px;
  text-align: center;
}
.probability li:first-child {
  border-top: none;
}
.probability li input {
  display: inline-block;
  /* width: 80px; */
  height: 38px;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  /* margin-left: 6px; */
  border: 1px solid #b9b5b5;
}
.probability li:first-child,
.grade li:first-child {
  border-right: 1px solid rgb(235, 235, 235);
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: 80px;
  box-sizing: border-box;
}
.probability li:nth-child(1) {
  border-top: 1px solid rgb(235, 235, 235);

}
.overScorll{
  /* background-color: salmon; */
  overflow: scroll;
}
.pointSetted,
.bonusSetted {
  width: 100%;
  overflow: scroll;
  border: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
  /* background-color: salmon; */
}
.pointSetted ul {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
}
.pointSetted ul li {
  border-right: 1px solid rgb(235, 235, 235);
  width: 150px;
  box-sizing: border-box;
}
/* .pointSetted ul li p {
  margin-top: -45px;
} */
.pointSetted .fixLi {
  display: flex;
  flex-direction: column;
}
.pointSetted .fixLi p:first-child{
  height: 40px;
  line-height: 50px;
}
.pointSetted .fixLi p:nth-child(2){
  height: 40px;
  line-height: 30px;
}
.pointSetted ul:first-child,
.bonusSetted ul:first-child {
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}
.pointSetted ul li input {
  display: inline-block;
  width: 90%;
  height: 38px;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  margin-left: 6px;
  border: 1px solid #b9b5b5;
}
.pointSetted ul:first-child li,
.bonusSetted ul:first-child li {
  width: 150px;
  border-right: 1px solid rgb(235, 235, 235);
  text-align: center;
  box-sizing: border-box;
}
.pointSetted ul li:first-child {
  width: 100px;
  text-align: center;
  border-right: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
}
/* .addBtn {
  float: right;
} */
section {
  margin-top: 10px;
  position: relative;
}
.dataRange {
  display: flex;
  margin: 10px 0 0 100px;
}
.dataRange > .el-button {
  margin-left: 30px;
}
.addActivitySection {
  position: absolute;
  top: -10px;
  width: 100%;
  background-color: white;
  z-index: 1000;
 
  box-sizing: border-box;
}
.btnGroup {
  width: 150px;
  margin: 0 auto;
  margin-top: 36px;
}
.uploadImgBtn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  background: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border: 1px solid #ccc;
}

.uploadImgBtn .uploadImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* 这是一个用做回显的盒子的样式 */
.pic {
  width: 100px;
  height: 100px;
}
.pic img {
  width: 100%;
  height: 100%;
}
.fixAdd{
  display: flex;
  flex-direction: column;
}
.fixAdd > div:first-child {
  height: 40px;
  line-height: 50px;
}
.fixAdd > div:nth-child(2) {
  height: 30px;
  line-height: 25px;
  display: flex;  
  text-align: center;
}
.fixAdd > div:nth-child(2) div:first-child{
  background-color: rgb(32, 160, 255);
  width: 100px;
  color: white;
  letter-spacing: 1px;
  border-radius: 18px;
  margin-top: 5px;
  margin-left: 22px;
  margin-right: 8px;
}
.fixAdd > div:nth-child(2) div:nth-child(2){
  color: rgb(152, 182, 128);
  margin-top: 5px;
}
.formItemBox_lottery{
  display: flex;
}
.formItemBox_lottery .el-input{
  width: 130px;
}
.formItemBox_lottery .el-form-item:first-child{
  margin-right: 80px;
}
.lottery_two .el-form-item:first-child{
  margin-right: 100px;
}
.loadPicture input{
  background-color: transparent;
  position: relative;
  top: -30px;
  width: 90px;
  height: 10px;
  opacity: 0;  
}
.clearnFor ul:first-child{
 height: 80px;
}
.widthEight{ width: 80%;}
.widthSix{width: 60%;}
.searchBox{
  /* background-color: salmon; */
  display: flex;
}

.el-input-number.is-controls-right .el-input__inner {
    padding-left: 10px;
}
.pointSetted .el-input-number.is-controls-right .el-input-number__decrease, .pointSetted  .el-input-number__decrease,.pointSetted .el-input-number__increase{
  left: 110px;
}
.pointSetted  .el-input-number.is-controls-right .el-input__inner {
  padding-right: 31px;
}
.bonusSetted .el-input-number.is-controls-right .el-input__inner{
  padding-left: 0;
}

</style>