<template>
  <section>
    <el-table :data="tableData" border="" style="width: 100%">
      <el-table-column prop="id" label="活动编号" width="150"></el-table-column>
      <el-table-column prop="winningTime" label="中奖时间" width="200"></el-table-column>
      <el-table-column prop="winningRank" label="中奖奖品" width="150"></el-table-column>
      <el-table-column  label="中奖人" width="150">
         <template slot-scope="scope">
          <p>{{scope.row.name}} </p>
          <p>{{scope.row.phone}}</p>
        </template>
      </el-table-column>
      <el-table-column  label="中奖人收货人信息">
        <template slot-scope="scope">
          <p>{{scope.row.name}} {{scope.row.phone}}</p>
          <p>{{scope.row.address}}</p>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination :page-size="pageSize" layout="prev, pager, next" :total="totalPage"></el-pagination>
  </section>
</template>

<script>
export default {
  data() {
    return {
      pageSize:10,//每页显示数
      totalPage:10,//总数
      tableData: [
        {
          id: 0,
          winningTime: 1551369600000,
          winningRank: 3,
          name: "李四",
          phone: "15485184000",
          address: "湖北省荆州市"
        }
      ]
    };
  },
  methods: {
    /* 获取中奖清单 */
    getWinnerList:function(page){
      let currentPage = page  && page != "" ? page :1;
      fetch(global.getWinnerListUrl +"?page="+page+"&size="+this.pageSize,
      {
        method:"GET"
      }
      )
      .then(res => res.json())
      .then(res =>{
        console.log(res);
      })
    }
  },
  onload: {}
};
</script>

<style lang="scss" scoped>
p {
  line-height: 20px;
}
</style>







