/* .video-js .vjs-big-play-button {
 display: none !important;
}
.vjs-tech {
  position: relative !important;
}
.vjs-custom-skin > .video-js .vjs-control-bar .vjs-play-control span{
  display: none !important;
}
.vjs-custom-skin > .video-js .vjs-big-play-button {
  display: none !important;
} */
.vjs-custom-skin > .video-js .vjs-control-bar .vjs-time-control {
  display: none !important;
}
video {
  object-fit:fill !important;
}