<template>
    <section>
        <el-col :span="24" class="demo-input-suffix col find-form" >
			<!-- <span class="text">用户名：</span>
            <el-input v-model="username" placeholder="请输入用户名"  style="width:300px;"></el-input>
            <span class="text" style="margin-left: 20px;">手机号：</span>
            <el-input v-model="phone" placeholder="请输入手机号" style="width:300px;"></el-input> -->
            <span class="text">CPID</span>
            <el-input v-model="cpId" placeholder="请输入用户名CPID"  style="width:300px;"></el-input>
            <span class="find">
                <el-button type="primary" @click="handleSubmit">查找</el-button>
            </span>
            <span class="find">
                <el-button type="primary" @click="dialogTableVisible=true" :disabled="isRecharge" v-if="isShowRecharge">充值</el-button>
            </span>
		</el-col>
        <!--列表-->
		<el-table :data="tableData" highlight-current-row v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" border> 
			<el-table-column prop="cpId" label="CPID" width="100">
			</el-table-column>
			<el-table-column prop="nameCN" label="姓名" width="100">
			</el-table-column>
			<el-table-column prop="phoneNo1" label="手机号" width="auto">
			</el-table-column>
			<el-table-column prop="uplineCpId" label="UPLINE" width="auto">
			</el-table-column>
			<el-table-column prop="createdAtStr" label="加入时间" width="auto" >
			</el-table-column>
			<el-table-column prop="sourceStr" label="来源(从哪个平台加入)" width="180">
			</el-table-column>
			<el-table-column label="操作"  width="160">
				<template slot-scope="scope" style="display:flex"> 
					<el-button type="danger" size="small" @click="handleDel(scope.row)" >清除</el-button>
				</template>
			</el-table-column>
		</el-table>
        <el-dialog title="德分/积分 充值" :visible.sync="dialogTableVisible">
            <el-row :gutter="20">
                <el-col style="width:10%"><p>平台:</p></el-col>
                <el-col :span="20">
                    <el-select v-model="sourceId" placeholder="请选择充值对象" style="width: 30%;marginRight: 10px"  >
                        <el-option
                        v-for="(item, index) in platform"
                        :key="index"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
            </el-row>
            <el-row :gutter="20" v-for="(item, index) in investArr" :key="index">
                <el-col style="width:10%"><p>{{item.name}}:</p></el-col>
                <el-col :span="8">
                    <el-input-number v-model="item.value" :step="1" step-strictly></el-input-number>
                </el-col>
            </el-row>
            <div class="btns">
                <el-button :type="item.type" v-text="item.name" v-for="(item, index) in btnArr" v-loading="isSubmitRecharge && index === 1"
                 :key="index" :style="{marginRight: index === 0 ? '4%' : 0}" @click="submitRecharge(item.name)"></el-button>
            </div>
        </el-dialog>
    </section>
</template>
<style scoped>
    .find{
        margin-left: 30px;
    }
    .find-form{
        margin-top:20px;
        margin-bottom:20px;
    }
</style>
<script>
import global from '../../common/common.vue';
import {httpRequest} from '../../service/fetch.js';
import {agentRequest} from '@/utils'

export default {
    data(){
        return {
            isShowRecharge: true,
            isSubmitRecharge: false,
            isRecharge: true,
            dialogTableVisible: false,
            username: '',
            phone: '',
            listLoading: false,
            tableData: [],
            cpId: '',
            investArr: [{
                name: '德分',
                value: 0
            },{
                name: '积分',
                value: 0
            }],
            btnArr: [{
                type: 'info',
                name: '取 消'
            },{
                type: 'primary',
                name: '确 定'
            }],
            sourceId: '',
            platform: [{
                label: '汉德森',
                value: 1
            },{
                label: '薇莱芙',
                value: 2
            },{
                label: '汉薇',
                value: 3
            }]
        }
    },
    methods: {
        handleSubmit(){
            this.getData(this.cpId)
        },
        selsChange(sels) {
			this.sels = sels;
        },

        handleDel(row){
            console.log(row, 'row')
            let delUser = this.tableData.find(item => item.cpId == row.cpId);
            this.$confirm(`确认清除此账号吗？`,'提示',{
            }).then(()=>{   
                httpRequest(global.personalDel + delUser.cpId, {
                    // method:"get", 
                })
                .then(res=> {
                    console.log(res, 'del')
                    if (res.status == 200){ 
                        this.$message({
                            message: '删除成功',
                            type: 'success'
                        });
                        window.reload();
                    } else{
                        this.$message({
                            message: 'ERROR:' + res.status,
                            type: 'warning'
                        });
                    }
                });
            }).catch(()=>{
                
            })
        },
        getData(cpId){ 
            httpRequest(global.personalSearch, {
                body: {
                  cpId
                },
                method:"post", 
            })
            .then(res=>  {
                console.log(res)
                if (res.status == 200){
                    if (!res.data) {
                        this.$message({
                            message: '没有找到该用户',
                            type: 'warning'
                        });
                        return;
                    }
                    this.tableData = res.data.map(item => {
                        item.createdAtStr = this.changeti(item.createdAt);
                        switch(item.source){
                            case 1:
                                item.sourceStr = '汉德森';
                                break;
                            case 2:
                                item.sourceStr = '薇莱芙';
                                break;
                            case 3:
                                item.sourceStr = '汉薇';
                                break;
                        }
                        return item;
                    }); 
                }else{
                    this.$message({
                        message: 'ERROR:' + res.status,
                        type: 'warning'
                    });
                }
            });

        },

        changeti(val){
             let time = new Date(val);
            let yy = time.getFullYear();
            let mm = (time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1);
            let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate();
            let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours();
            let min = time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes();
            let ss = time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds();
            return yy + '-' + mm + '-' + dd + ' ' + hh + ':' + min + ':' + ss
        },
        async submitRecharge(name) {
            const domain = window.location.host
            if (domain.indexOf('hdscenter') > 0) {
                return false
            }
            if (this.isSubmitRecharge) return true
            this.isSubmitRecharge = true
            if (name === '取 消') {
                this.isSubmitRecharge = false
                this.dialogTableVisible = false
            } else {
                if(this.sourceId === '') {
                    this.$message({
                        message: '请选择充值平台',
                        type: 'warning'
                    })
                    this.isSubmitRecharge = false
                    return false
                }
                if(this.investArr[0].value === '' || this.investArr[0].value == null) {
                    this.$message.error('德分存在非法输入')
                    this.isSubmitRecharge = false
                    return false
                }
                if(this.investArr[1].value === '' || this.investArr[1].value == null) {
                    this.$message.error('积分存在非法输入')
                    this.isSubmitRecharge = false
                    return false
                }
                const res = await agentRequest({ // 充值德分
                    api: 'sellerpc/account/award',
                    methods: 'post',
                    body: {
                        sourceId: this.sourceId,
                        cpId: this.cpId.replace(/(^\s*)|(\s*$)/g, ""),
                        point: this.investArr[0].value + '',
                        commission: this.investArr[1].value + ''
                    }
                }, this)
                if (res) {
                    this.$message({
                        message: '操作成功',
                        type: 'success'
                    });
                    this.isSubmitRecharge = false
                    this.dialogTableVisible = false
                } else {
                    this.$message.error('操作失败，请稍后重试~')
                    this.isSubmitRecharge = false
                }
            }
        }
    },
    mounted() {
        // this.getData();
    },
    created() {
        const domain = window.location.host
        if (domain.indexOf('hdscenter') > 0) {
            this.isShowRecharge = false
        }
    },
    watch: {
        cpId () {
            const cpId = this.cpId.replace(/(^\s*)|(\s*$)/g, "")
            if (cpId.length > 0) {
                this.isRecharge = false
            } else this.isRecharge = true
        },
        dialogTableVisible () {
            if (!this.dialogTableVisible) {
                this.sourceId = ''
                this.investArr[0] = Object.assign(this.investArr[0], {
                    value: ''
                })
                this.investArr[1] = Object.assign(this.investArr[1], {
                    value: ''
                })
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.btns {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
</style>
