<template>
  <div class="banner">
    <headerC ref="headerC" :changeCurrentPageBanner="changeCurrentPageBanner" :getBanerList="getBanerList"/>
    <tableC ref="tableC" :getBanerList="getBanerList" :search="search"/>
  </div>
</template>

<script>
import headerC from '@/views/activityManagement/HWbanner/components/header'
import tableC from '@/views/activityManagement/HWbanner/components/table'
import {mapActions} from 'vuex'
import {agentRequest} from '@/utils'

export default {
  data() {
    return {
      
    }
  },
  components: {
    headerC,
    tableC
  },
  created() {
    this.getBanerList(1)
  },
  methods: {
    ...mapActions([
      'saveBannerTableData',
      'saveBannerPageTotal',
      'saveBannerTableLoading',
      'saveIsDefaultSearch'
    ]),
   async getBanerList(page) { // banner首页列表
      this.saveIsDefaultSearch(true)
      this.saveBannerTableLoading(true)
      const res = await agentRequest({
        api: 'sellerpc/index/banner/list',
        params: `?pageable=true&page=${page}&size=20`
      }, this)
      if (res) {
        this.saveBannerTableData(res.bannerList || [])
        this.saveBannerPageTotal(res.totalCount || [])
      } else {
        this.$message.error('获取数据失败，请稍后重试~')
      }
      setTimeout(_ => {
        this.saveBannerTableLoading(false)
      }, 150)
    },
    search(page) {
      this.$refs.headerC.search(page)
    },
    changeCurrentPageBanner(page) {
      this.$refs.tableC.changeCurrentPageBanner(page)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>


