<template>
  <div class="handlePage">
    <HandleHeader ref="HandleHeader" :pageType="pageType" :SearchRef="SearchRef" v-show="isTableFull"/>
    <Search :getJoinProductList="getJoinProductList" :getFormDatas="getFormDatas" :pageType="pageType" :max="max" :isDisplay="false" :checkboxDisabled="true" ref="searchRef"/>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {localforageDo} from '@/utils'
import Search from '@/views/activityManagement/commodityPromotion/components/Search'
import HandleHeader from '@/views/activityManagement/commodityPromotion/components/HandleHeader'
import {seeOreditActivity} from '@/service/hanweiUrlApi'

  export default {
    beforeRouteEnter (to, from, next) {
      next(vm=>{
        vm.pageType = vm.$route.query.type
        vm.pCode = vm.$route.query.pCode
        sessionStorage.setItem("activityPcode", vm.pCode)
        vm.seeOreditActivity()
        localforageDo({
          key: "excelData",
          value: [],
          type: "set"
        });
      })
    },
    beforeRouteLeave (to, from, next) {
      localforageDo({
        key: "neWpopupTableSelectData",
        value: [],
        type: "set"
      });
      localforageDo({
        key: "activityData",
        value: [],
        type: "set"
      });
      localforageDo({
        key: "activityDataMain",
        value: [],
        type: "set"
      });
      localforageDo({
        key: "sendDatas",
        value: [],
        type: "set"
      });
      next()
    },
    data() {
      return {
        max: 0,
        pageType: '',
        SearchRef: Function,
        pCode: ''
      }
    },
    computed: {
      ...mapGetters([
        'isTableFull'
      ])
    },
    components: {
      Search,
      HandleHeader
    },
    methods: {
      ...mapActions([
        'changeElCheckboxNum', 'changeStrArr'
      ]),
      getJoinProductList(popupPage) {
        this.$refs.HandleHeader.getJoinProductList(popupPage)
      },
      getFormDatas() {
        return this.$refs.HandleHeader.getFormDatas()
      },
      seeOreditActivity() {
        const config = {
          method: "get",
          params: {
            pCode: this.pCode
          }
        };
        const res = this.$http(seeOreditActivity, config);
        res.then(data => {
          if (!data.httpRequestError) {
            if (data.data) {
              this.changeElCheckboxNum({type: 'is', value: 999999999999})
              this.changeStrArr({type: 'is', value: []})
              this.getJoinProductList()
              const activityDataMain = localforageDo({
                key: "activityDataMain",
                type: "get"
              });
              activityDataMain.then(data => {
                if (data && data.length > 0) {
                  data[0].type ? (this.max = 4) : (this.max = 6);
                } else {
                  if (sessionStorage.getItem("activityType") == 1) {
                    this.max = 4
                  } else {
                    this.max = 6
                  }
                }
              });
              const commodityClassificationData = localforageDo({
                key: "commodityClassificationData",
                type: "get"
              });
              if (commodityClassificationData) {
                const activityData = data.data;
                let arr = [];
                let obj = {};
                if (activityData.length > 0) {
                  let activityProductList = activityData[0].activityProductList;
                  activityProductList.map(item => {
                    item.xquarkSkulist.map(ele => {
                      ele = Object.assign(ele, {isHttpAdd: true})
                      obj = { ...obj, ...item };
                      obj = { ...obj, ...ele };
                      arr.push(obj);
                    });
                  });
                }
                localforageDo({
                  key: "neWpopupTableSelectData",
                  value: arr,
                  type: "set"
                });
                localforageDo({
                  key: "activityData",
                  value: arr,
                  type: "set"
                });
                localforageDo({
                  key: "activityDataMain",
                  value: data.data,
                  type: "set"
                });
                localforageDo({
                  key: "sendDatas",
                  value: data.data[0].activityProductList,
                  type: "set"
                });
              } else
                this.$message({
                  type: "error",
                  message: "操作失败"
                });
            } else
              this.$message({
                type: "error",
                message: "操作失败"
              });
          } else {
            this.$message({
              message: data.httpRequestError || "系统异常",
              type: "error"
            });
          }
        });
      }
    },
    mounted() {
      this.SearchRef = this.$refs.searchRef
    }
  }
</script>

<style lang="scss" scoped>
</style>

