<template>
  <section style="padding:10px;">
    <el-row>
      <el-button icon="el-icon-plus" type="success" @click="publishNewActivities">发布新活动</el-button>
    </el-row>
    <el-row :gutter="10" style="margin-top:20px;margin-bottom:20px;">
      <el-col :span="10">
        <span>专区活动名称:</span>
        <el-input v-model="activityName" style="width:70%" placeholder="请输入活动名称" clearable></el-input>
      </el-col>
      <el-col :span="6">
        <span>活动状态:</span>
        <el-select v-model="value" placeholder="请选择" style="width:70%">
          <el-option v-for="item in options" :key="item.value" :value="item.status"></el-option>
        </el-select>
      </el-col>
      <el-col :span="3">
        <el-button
          type="primary"
          icon="el-icon-search"
          @click.native="getActivityList('search')"
          v-loading="tableLoading"
        >搜索</el-button>
      </el-col>
    </el-row>
    <TableP
      :elTableData="elTableData"
      :elTableColumnData="elTableColumnData"
      :elButtonData="elButtonData"
      ref="tableP"
      :handleDo="handleDo"
      :total="total"
      :tableLoading="tableLoading"
      :handleCurrentChange="handleCurrentChange"
      :typeTem= "'TableP'"
    ></TableP>
  </section>
</template>
<script>
import { mapActions } from "vuex";
import TableP from "@/components/TableP";
import { dateChangeover, transferredMeaning, localforageDo } from "@/utils";
import {
  queryActivityList,
  deleteOrStopActivity,
  getCommodityClassification
} from "@/service/hanweiUrlApi";

export default { // 商品促销
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.getActivityList('search')
      vm.getCommodityClassification();
    })
  },
  beforeRouteLeave(to, from, next) {
    this.getCommodityClassification();
    this.saveElTableEditData([]);
    next();
  },
  data() {
    return {
      tableLoading: false,
      page: 0,
      size: 10,
      total: 0,
      value: "所有状态",
      options: [
        { status: "所有状态", id: "0" },
        { status: "即将开始", id: "1" },
        { status: "进行中", id: "2" },
        { status: "已结束", id: "3" },
        { status: "已终止", id: "4" }
      ],
      activityName: "",
      elTableData: [],
      elTableColumnData: [
        { title: "序号", width: "100", target: "index" },
        { title: "活动名称", width: 200, target: "pName" },
        { title: "开始时间", width: 168, target: "effectFrom" },
        { title: "结束时间", width: 168, target: "effectTo" },
        { title: "状态", width: 95, target: "status" },
        { title: "发布时间", width: 168, target: "publish" }
      ],
      elButtonData: [
        { title: "统一样式", status: ["统一样式"] },
        { title: "查看", status: ["已结束", "已终止"], color: '#08ada5'},
        { title: "编辑", status: ["即将开始", "进行中"], color: '#7511a9'},
        { title: "删除", status: ["即将开始", "已结束", "已终止"], color: 'red'},
        { title: "终止", status: ["进行中"], color: '#ffa500'}
      ]
    };
  },
  components: {
    TableP
  },
  methods: {
    ...mapActions(["saveElTableEditData", 'changeElCheckboxNum']),
    popup([content, config, index, obj]) {
      // 弹窗
      this.$confirm(content, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          const res = this.$http(deleteOrStopActivity, config);
          res.then(data => {
            if (!data.httpRequestError) {
              if (data.data) {
                if (config.params.status === 1) {
                  obj.splice(index, 1);
                  this.total--;
                  obj.map((item, index) => {
                    item = Object.assign(item, { index: index + 1 });
                  });
                } else {
                  let endTime = dateChangeover([
                    obj[index].effectTo,
                    ,
                    "dateStamp"
                  ]);
                  let nowTime = dateChangeover([new Date(), , "dateStamp"]);
                  endTime < nowTime || nowTime === endTime
                    ? (obj[index] = Object.assign(obj[index], {
                        status: "已结束"
                      }))
                    : (obj[index] = Object.assign(obj[index], {
                        status: "已终止"
                      }));
                }
                this.$message({
                  type: "success",
                  message: "操作成功"
                });
              } else
                this.$message({
                  type: "error",
                  message: "操作失败"
                });
            } else {
              this.$message({
                message: data.httpRequestError || "系统异常",
                type: "error"
              });
            }
          });
        })
        .catch(_ => {});
    },
    getCommodityClassification() {
      // 获取产品分类
      const res = this.$http(getCommodityClassification, { methods: "get" });
      res.then(data => {
        if (!data.httpRequestError) {
          if (data.result) {
            localforageDo({
              key: "commodityClassificationData",
              value: data.result,
              type: "set"
            });
          }
        }
      });
    },
    deleteOrStopActivity([index, data, type]) {
      let status = 0;
      let content = "";
      switch (type) {
        case "删除":
          status = 1;
          content = "此操作将删除活动, 是否继续?";
          break;
        case "终止":
          status = 2;
          content = "此操作将终止活动, 是否继续?";
      }
      const config = {
        method: "get",
        params: {
          pCode: data[index].pCode,
          status
        }
      };
      this.popup([content, config, index, data]);
    },
    publishNewActivities() {
      this.$router.push({
        path: "/activityManagement/commodityPromotion/publishNewActivities"
      });
    },
    handleDo([index, data, name]) {
      // 操作
      switch (name) {
        case "编辑":
          this.$router.push({
            path: "/activityManagement/commodityPromotion/handle",
            query: {
              type: 'edit',
              pCode: data[index].pCode
            }
          });
          break;
        case "删除":
          this.deleteOrStopActivity([index, data, "删除"]);
          break;
        case "终止":
          this.deleteOrStopActivity([index, data, "终止"]);
          break;
        case "查看":
          this.$router.push({
            path: "/activityManagement/commodityPromotion/handle",
            query: {
              type: 'see',
              pCode: data[index].pCode
            }
          });
      }
    },
    async getActivityList(search) {
      this.tableLoading = true;
      if (search === "search") {
        this.page = 0;
        this.$refs.tableP.changeCurrentPage();
      }
      const status = transferredMeaning({
        data: this.options,
        targetAttributeName: "status",
        correspondingAttributeName: "id",
        value: this.value,
        returnType: "string"
      });
      const config = {
        method: "get",
        params: {
          name: this.activityName || null,
          status: status,
          page: this.page,
          size: this.size
        }
      };
      const res = this.$http(queryActivityList, config);
      res.then(data => {
        if (!data.httpRequestError) {
          if (data.data) {
            this.total = data.data.count;
            let res = data.data.activityList;
            res.map((item, index) => {
              item = Object.assign(item, {
                effectFrom: dateChangeover([item.effectFrom, , "dateformat"]),
                effectTo: dateChangeover([item.effectTo, , "dateformat"]),
                publish: dateChangeover([item.publish, , "dateformat"]),
                index: index + 1
              });
            });
            this.elTableData = res;
            if (this.page < this.total % this.size) this.page++;
          } else
            this.$message({
              type: "error",
              message: "操作失败"
            });

          this.tableLoading = false;
        } else {
          this.$message({
            message: data.httpRequestError || "系统异常",
            type: "error"
          });
          this.tableLoading = false;
        }
      });
    },
    handleCurrentChange(page) {
      this.page = page - 1;
      this.getActivityList();
    }
  }
};
</script>

<style lang="scss" scoped>
</style>


