<template>
  <div class="publishNewActivities">
    <PublishNewActivitiesP :step="step" :btns="btns" :handleClick="handleClick">
      <PublishNewActivitiesF v-show="step === 1" ref="PublishNewActivitiesF"/>
      <PublishNewActivitiesS
        v-show="step === 2"
        ref="PublishNewActivitiesS"
        :isComputed="isComputed"
        :max="max"
      />
    </PublishNewActivitiesP>
    <el-dialog :title="elDialog.title" :visible.sync="dialogVisible" width="30%">
      <span v-text="elDialog.content"></span>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">{{elDialog.btnName}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import global from "../../../common/common";
import * as qiniu from "qiniu-js";
import b64toBlob from "b64-to-blob";
import { localforageDo, dateChangeover, transferredMeaning, subtraction } from "@/utils";
import { saveActivity } from "@/service/hanweiUrlApi";
import PublishNewActivitiesF from "@/views/activityManagement/commodityPromotion/components/PublishNewActivitiesF";
import PublishNewActivitiesS from "@/views/activityManagement/commodityPromotion/components/PublishNewActivitiesS";
import PublishNewActivitiesP from "@/views/activityManagement/commodityPromotion/components/PublishNewActivitiesP";
import { mapGetters, mapActions } from 'vuex';

export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.changeElCheckboxNum({type: 'is', value: 999999999999})
      vm.changeStrArr({type: 'is', value: []})
      localforageDo({
        key: "activityData",
        value: [],
        type: "set"
      });
      localforageDo({
        key: "neWpopupTableSelectData",
        value: [],
        type: "set"
      });
      localforageDo({
        key: "activityDataMain",
        value: [],
        type: "set"
      });
      localforageDo({
        key: "excelData",
        value: [],
        type: "set"
      });
    });
  },
  data() {
    return {
      isSaveBtn: false,
      max: 0,
      skucode: '',
      isPassNum: 0,
      errorArr: [],
      activitystockNum: 0,
      form: {},
      isComputed: 0,
      elDialog: {
        title: "提示",
        content: "",
        btnName: ""
      },
      dialogVisible: false,
      step: 1,
      btns: [
        {
          disabled: true,
          name: "上一步",
          isShow: true,
          loading: false
        },
        {
          disabled: false,
          name: "下一步",
          isShow: true,
          loading: false
        },
        {
          disabled: false,
          name: "保存",
          isShow: false,
          loading: false
        }
      ],
      selectData: [
        {
          title: "商品分类",
          value: "",
          options: [],
          clearable: true
        },
        {
          title: "商品状态",
          value: "",
          options: [
            { status: "草稿", id: "DRAFT" },
            { status: "预售", id: "FORSALE" },
            { status: "下架", id: "INSTOCK" },
            { status: "上架", id: "ONSALE" }
          ],
          clearable: true
        }
      ]
    };
  },
  components: {
    PublishNewActivitiesF,
    PublishNewActivitiesS,
    PublishNewActivitiesP
  },
  methods: {
    ...mapActions([
      'changeElCheckboxNum', 'changeStrArr', 'changeTableHeight', 'changeTableFull'
    ]),
    exitFull() {
      this.changeTableHeight(500)
      this.changeTableFull(true)
      scroll(0, 0)
    },
    handleClick(item, index) {
      if (sessionStorage.getItem("activityType") == 1) {
        this.max = 4
      } else {
        this.max = 6
      }
      this.form = this.$refs.PublishNewActivitiesF.getFormDatas();
      switch (item.name) {
        case "上一步":
          this.exitFull()
          this.step = 1;
          this.btns = [
            {
              disabled: true,
              name: "上一步",
              isShow: true,
              loading: false
            },
            {
              disabled: false,
              name: "下一步",
              isShow: true,
              loading: false
            },
            {
              disabled: false,
              name: "保存",
              isShow: false,
              loading: false
            }
          ];
          break;
        case "下一步":
          if (!this.check()) return false;
          this.btns = [
            {
              disabled: false,
              name: "上一步",
              isShow: true,
              loading: false
            },
            {
              disabled: true,
              name: "下一步",
              isShow: true,
              loading: true
            },
            {
              disabled: false,
              name: "保存",
              isShow: false,
              loading: false
            }
          ];
          if (
            this.form.radioResourceLocation.option - 0 === 1 &&
            this.form.imgData[0].src.includes("http") &&
            !this.form.imgData[0].src.includes("blob")
          ) {
            this.btns = [
              {
                disabled: false,
                name: "上一步",
                isShow: true,
                loading: false
              },
              {
                disabled: true,
                name: "下一步",
                isShow: false,
                loading: false
              },
              {
                disabled: false,
                name: "保存",
                isShow: true,
                loading: false
              }
            ];
            this.step = 2;
            return false;
          }
          if (
            this.form.radioResourceLocation.option === 0 &&
            this.form.imgData[1].src.includes("http") &&
            !this.form.imgData[1].src.includes("blob") &&
            this.form.imgData[2].src.includes("http") &&
            !this.form.imgData[2].src.includes("blob")
          ) {
            this.btns = [
              {
                disabled: false,
                name: "上一步",
                isShow: true,
                loading: false
              },
              {
                disabled: true,
                name: "下一步",
                isShow: false,
                loading: false
              },
              {
                disabled: false,
                name: "保存",
                isShow: true,
                loading: false
              }
            ];
            this.step = 2;
            return false;
          }
          this.upLoadPic();
          break;
        case "保存":
          this.save();
          break;
      }
    },
    check() {
      let content = "";
      let name = this.form.name.replace(/\s+/g, "");
      if (name.length === 0) {
        content = "【活动名称】一栏不能为空";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (name.length > 10) {
        content = "【活动名称】字符设置过多，不能超过10个字符";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (this.form.time.length < 1) {
        content = "【活动时间】一栏不能为空";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (this.form.radioResourceLocation.option === "") {
        content = "请选择活动资源位";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (
        this.form.radioResourceLocation.option === 1 &&
        this.form.imgData[0].src.length < 2
      ) {
        content = "您选择了橱窗型资源位，请完成图片选择";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (
        this.form.radioResourceLocation.option === 0 &&
        (this.form.imgData[1].src.length < 2 ||
          this.form.imgData[2].src.length < 2)
      ) {
        content = "您选择了banner广告型资源位，请完成两张图片选择";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (this.form.checkboxDatas.option.length === 0) {
        content = "请选择定向人群";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (this.form.radioData[0].value === "") {
        content = "请选择是否展示倒计时";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (this.form.radioData[1].value === "") {
        content = "请选择是否计算收益";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (this.form.radioData[2].value === "") {
        content = "请选择运费类型";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      if (this.form.content.length > 3) {
        content = "列表商品主图的角标文案字符设置过多，仅限3个字符";
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content,
          btnName: "我知道了"
        });
        return false;
      }
      return true;
    },
    checkData(datas) {
      let atr = [
        "activityprice",
        "conversionprice",
        "reduction",
        "serverAmt",
        "promoAmt",
        "netWorth",
        "activitystock",
        "buylimit"
      ];
      if (this.skucode !== datas.skucode) {
        atr.map(str => {
          const value = datas[str]
          const currentPage = sessionStorage.getItem('currentPage') || 1
          const id = `page${currentPage}${str}${datas.pId}${datas.skucode}`
          const inputS = document.getElementById(id)
          if (inputS) inputS.style.border = '1px solid #dcdfe6'
          if (!isNaN(Number(value)) && value !== '' && value != null) {
            if (datas[str] < 0) {
              if (inputS) inputS.style.border = '1px solid red'
              this.errorArr.push({
                atr: str,
                value: datas[str],
                index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                type: 'datas[str] < 0'
              })
              this.isPassNum++
            } else if (str === 'activityprice') {
              if (datas[str] === 0) {
                if (inputS) inputS.style.border = '1px solid red'
                this.errorArr.push({
                  atr: str,
                  value: datas[str],
                  index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                  type: 'datas[str] === 0'
                })
                this.isPassNum++
              } else {
                let subtrahend = datas[str]
                let minuend = datas['conversionprice']
                subtrahend = (Number((subtrahend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
                minuend = (Number((minuend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
                let point = (subtrahend - minuend) * 10
                point = point.toFixed(2)
                if (point != datas.point) {console.log(point, datas.point)
                  let arr = ['activityprice', 'conversionprice']
                  arr.map((item, i) => {
                    let idS = `page${currentPage}${item}${datas.pId}${datas.skucode}`
                    let input = document.getElementById(idS)
                    if (input) input.style.border = '1px solid red'
                    this.errorArr.push({
                      atr: str,
                      value: datas[str],
                      index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                      type: 'point != datas.point'
                    })
                    this.isPassNum++
                  })
                } else if (datas.point < 0) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map(item => {
                    if (inputS) inputS.style.border = '1px solid red'
                    this.errorArr.push({
                      atr: str,
                      value: datas[str],
                      index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                      type: 'datas.point < 0'
                    })
                    this.isPassNum++
                  })
                } else if ((datas.point + '').indexOf('.') > 0) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map(item => {
                    if (inputS) inputS.style.border = '1px solid red'
                    this.errorArr.push({
                      atr: str,
                      value: datas[str],
                      index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                      type: "(datas.point + '').indexOf('.') > 0"
                    })
                    this.isPassNum++
                  })
                }
              }
            }
            if (str === 'activitystock') {
              const reg = /^[0-9]\d*$/
              if (!reg.test(datas[str])) {
                if (inputS) inputS.style.border = '1px solid red'
                this.errorArr.push({
                  atr: str,
                  value: datas[str],
                  index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                  type: '非整数'
                })
                this.isPassNum++
              }else if (datas[str] == 0) {
                if (inputS) inputS.style.border = '1px solid orange'
                this.activitystockNum++
              } else if (datas[str] > datas["stock"]) {
                if (inputS) inputS.style.border = '1px solid red'
                this.errorArr.push({
                  atr: str,
                  value: datas[str],
                  index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                  type: 'datas[str] === 0 || datas[str] > datas["stock"]'
                })
                this.isPassNum++
              }
            }
          if (str === 'buylimit') {
            const reg = /^[0-9]\d*$/
            if (!reg.test(datas[str])) {
              if (inputS) inputS.style.border = '1px solid red'
              this.errorArr.push({
                atr: str,
                value: datas[str],
                index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
                type: '非整数'
              })
              this.isPassNum++
            }
          }
        } else {
          if (inputS) inputS.style.border = '1px solid red'
          this.errorArr.push({
            atr: str,
            value: datas[str],
            index: `page:${currentPage}pId:${datas.pId}&skucode:${datas.skucode}`,
            type: 'other'
          })
          this.isPassNum++
        }
      });
        this.skucode = datas.skucode;
      }
    },
    async save() {
      if (this.isSaveBtn) return false
      this.isSaveBtn = true
      const isComputed = sessionStorage.getItem('isComputed')
      this.btns[2] = Object.assign(this.btns[2], {loading: true})
      const min = sessionStorage.getItem('minNum') - 0 + 1
      const activityType = sessionStorage.getItem("activityType")
      if (this.elCheckboxNum < min) {
        this.dialogVisible = true;
        this.elDialog = Object.assign(this.elDialog, {
          content: activityType == 1 ? `保存失败：您选择了橱窗型，首页展示至少需要选择2个产品，请继续添加首页展示产品` : `保存失败：您选择了banner活动型，首页展示至少需要选择1个产品，请继续添加首页展示产品`,
          btnName: "我知道了"
        });
        this.btns[2] = Object.assign(this.btns[2], {loading: false})
        this.isSaveBtn = false
        return false
      }
      let customerType = this.form.checkboxDatas.option;
      customerType = customerType.join(",");
      let activityData = await localforageDo({
        key: "activityData",
        type: "get"
      });
      let length = 0;
      let arr = [];
      let count = 1;
      let xquarkSkulist = [];
      let obj = {};
      let regUpperCase = /^[A-Z]+$/;
      this.isPassNum = 0
      this.errorArr = []
      this.activitystockNum = 0
      this.skucode = ''
      let maxCheck = 1
      let pIdStr = ''
      activityData.map((item, index) => {
        this.checkData(item)
        if (pIdStr !== item.pId) {
          if (item.show) {
            maxCheck++
            pIdStr = item.pId
          }
        }
        length = item.xquarkSkulist.length;
        let xquarkSkulistObj = {
          skucode: item.skucode,
          spec: item.spec,
          sourceSkuCode: item.sourceSkuCode,
          originalprice: item.originalprice - 0,
          activityprice: item.activityprice - 0,
          conversionprice: item.conversionprice - 0,
          point: item.point - 0,
          reduction: isComputed == 0 ? 0 : item.reduction - 0,
          serverAmt: isComputed == 0 ? 0 : item.serverAmt - 0,
          promoAmt: isComputed == 0 ? 0 : item.promoAmt - 0,
          netWorth: isComputed == 0 ? 0 : item.netWorth - 0,
          activitystock: item.activitystock - 0,
          buylimit: item.buylimit - 0,
          show: item.show == null ? false : item.show,
          isDeleted: item.isDeleted || false,
          stock: item.stock - 0,
          fzSkuCode: item.fzSkuCode,
          productId: item.productId,
          fzId: item.fzId
        };
        xquarkSkulist.push(xquarkSkulistObj);
        obj = {
          img: item.img || null,
          productamount: item.productamount || null,
          name: item.name,
          productprice: item.productprice || null,
          pId: item.pId,
          productStatus:
            (regUpperCase.test(item.productStatus)
              ? item.productStatus
              : transferredMeaning({
                  data: this.selectData[1].options,
                  targetAttributeName: "status",
                  correspondingAttributeName: "id",
                  value: item.productStatus,
                  returnType: "string"
                })) || null,
          sourceId: item.sourceId || null,
          xquarkSkulist: xquarkSkulist || null
        };
        count++;
        if (count - 1 === length) {
          if (obj.xquarkSkulist.length > 0) arr.push(obj);
          count = 1;
          xquarkSkulist = [];
          obj = {};
        }
      });
      if (this.errorArr.length > 0) console.log(this.errorArr, '红色圈记的原因')
      if (this.isPassNum > 0 || this.activitystockNum > 0) {
        if (this.isPassNum > 0) {
          this.isSaveBtn = false
          this.btns[2] = Object.assign(this.btns[2], {loading: false})
          let content = `操作失败：请修复红色圈记异常数据`;
          this.dialogVisible = true;
          this.elDialog = Object.assign(this.elDialog, {
            content,
            btnName: "我知道了"
          });
          return false
        }
        let doubleCount = 0
        let pIdArr = []
        let totalSkuCodeCount = 0
        let content = ''
        arr.map(item => {
          if (item.xquarkSkulist.length > 1 && !pIdArr.includes(item.pId)) doubleCount ++
          if (!pIdArr.includes(item.pId)) pIdArr.push(item.pId)
          totalSkuCodeCount += item.xquarkSkulist.length
        })
        this.activitystockNum === 0
         ? content = `此次提交总共${totalSkuCodeCount}条数据，其中${doubleCount}个多规格商品，和${pIdArr.length - doubleCount}个单规格商品，请知悉～`
         : content = `此次提交总共${totalSkuCodeCount}条数据，其中${doubleCount}个多规格商品，和${pIdArr.length - doubleCount}个单规格商品，程序发现总共${this.activitystockNum}处活动库被设置为【0】，如果需要调整，请关注橙色圈记的输入框，请知悉～`
        const res = await this.$confirm(content, "温馨提示", {
          confirmButtonText: "保存并提交",
          cancelButtonText: "取消",
          type: "warning"
        }).then(_ => {
          return true
        })
        .catch(_=>{
          this.isSaveLoading = false
          return false
        })
        if (!res) {
          this.isSaveBtn = false
          this.btns[2] = Object.assign(this.btns[2], {loading: false})
          return false
        }
      }
      if (this.elCheckboxNum - 1 > this.max) {
        this.$message({
          showClose: true,
          message: `保存失败：最多选择${this.max}个首页展示产品`,
          type: 'warning'
        });
        this.isSaveBtn = false
        this.btns[2] = Object.assign(this.btns[2], {loading: false})
        return false
      }
      const config = {
        method: "post",
        body: {
          pName: this.form.name,
          effectFrom: dateChangeover([this.form.time[0], , "dateStamp"]) + "",
          effectTo: dateChangeover([this.form.time[1], , "dateStamp"]) + "",
          customerType: customerType,
          cornerTab: this.form.content,
          activityProductList: arr,
          type: this.form.radioResourceLocation.option,
          timeShow: this.form.radioData[0].value - 0,
          calculateYield: this.form.radioData[1].value - 0,
          carriageFree: this.form.radioData[2].value - 0,
          bannerImgHome: this.form.imgData[1].src,
          bannerImgList: this.form.imgData[0].src || this.form.imgData[2].src
        }
      };
      const res = this.$http(saveActivity, config);
      res.then(data => {
        if (!data.httpRequestError) {
          if (data.data) {
            this.isSaveBtn = false
            this.btns[2] = Object.assign(this.btns[2], {loading: false})
            this.$message({
              showClose: true,
              message: "保存成功",
              type: "success"
            });
            this.exitFull()
            this.$router.push("/activityManagement/commodityPromotion");
          } else {
            this.isSaveBtn = false
            this.btns[2] = Object.assign(this.btns[2], {loading: false})
            this.$message({
              showClose: true,
              message: `操作失败：${data.moreInfo}`,
              type: "warning"
            });
          }
        } else {
          this.isSaveBtn = false
          this.btns[2] = Object.assign(this.btns[2], {loading: false})
          this.$message({
            message: data.httpRequestError || "系统异常",
            type: "error"
          });
        }
      })
    },
    upLoadPic() {
      const vm = this
      let formData = new FormData();
      formData.append("json", JSON.stringify({}));
      console.log(vm.form.imgData)
      fetch(global.queryUpToken, {
        method: "POST",
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            let uploadImgToken = res.result.key;
            let url = res.result.bucketHostName;
            vm.form.imgData.forEach((item, indexN) => {
              if (item.src.length > 2) {
                vm.upLoadQiniu([
                  item.file,
                  item,
                  uploadImgToken,
                  url,
                  indexN
                ]);
              }
            });
          }
        })
        .catch(e => {
          console.log(e, 888)
          this.$message({
            message: "网络错误,请重试!",
            type: "error"
          });
        });
    },
    upLoadQiniu([file, item, uploadImgToken, url, indexN]) {
      let splitTemp;
      let reader = new FileReader();
      reader.readAsDataURL(file); // 读出 base64
      reader.onloadend = () => {
        this.dataURL = reader.result; // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
        splitTemp = this.dataURL.split(";base64,");
        let contentType = splitTemp[0].replace("data:", "");
        let b64Data = splitTemp[1];
        let blob = b64toBlob(b64Data, contentType);
        this.uploadPhoto([blob, item, uploadImgToken, url, indexN]);
      };
    },
    // 上传图片到七牛云
    uploadPhoto([file, item, uploadImgToken, url, indexN]) {
      const IMG_HOST = url;
      let img = new Image();
      img.src = URL.createObjectURL(file);
      let vm = this;
      let fileName =
        Date.now() +
        Math.random()
          .toString()
          .slice(-5);
      let putExtra = {
        mimeType: ["image/png", "image/jpeg", "image/gif"]
      };
      let config = {
        useCdnDomain: true
      };
      return new Promise((resolve, reject) => {
        let observable = qiniu.upload(
          file,
          fileName,
          uploadImgToken,
          putExtra,
          config
        );
        let observer = {
          error(err) {
            console.log("observer error err");
            vm.$message({
              message: "上传图片失败，请稍后重试~",
              type: "warning"
            });
          },
          complete(res) {
            item = Object.assign(item, { src: IMG_HOST + res.key });
            console.log("observer complete");
            if (
              vm.form.radioResourceLocation.option - 0 === 1 &&
              indexN - 0 === 0
            ) {
              vm.btns = [
                {
                  disabled: false,
                  name: "上一步",
                  isShow: true,
                  loading: false
                },
                {
                  disabled: true,
                  name: "下一步",
                  isShow: false,
                  loading: false
                },
                {
                  disabled: false,
                  name: "保存",
                  isShow: true,
                  loading: false
                }
              ];
              vm.step = 2;
            }
            if (
              vm.form.radioResourceLocation.option - 0 === 0 &&
              indexN - 0 === 2
            ) {
              vm.btns = [
                {
                  disabled: false,
                  name: "上一步",
                  isShow: true,
                  loading: false
                },
                {
                  disabled: true,
                  name: "下一步",
                  isShow: false,
                  loading: false
                },
                {
                  disabled: false,
                  name: "保存",
                  isShow: true,
                  loading: false
                }
              ];
              vm.step = 2;
            }
          }
        };
        let subscription = observable.subscribe(observer); // 上传开始
      });
    }
  },
  computed: {
    ...mapGetters([
      'elCheckboxNum'
    ])
  },
  watch: {
    step() {
      if (this.step == 2 ) this.isComputed = this.form.radioData[1].value;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>


