<template>
    <!-- 销售报表 -->
    <section style='padding:10px;'>
        <el-row :gutter="10" v-loading="loading" style='display:flex;flex-decoration:row;align-items:flex-end'>
            <el-col :span="7">
                <span style='display:inline-block;width:100px;text-align:right'>报表类型:</span>
                <el-select v-model="type" filterable placeholder="报表类型" >
                    <el-option v-for="item in typeList" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="7">
                <span style='display:inline-block;width:100px;text-align:right'>订单月份:</span>
                <el-date-picker v-model="valueM" type="month" format="yyyy-MM" placeholder="选择订单月份" style="width:70%;">
                </el-date-picker>
            </el-col>
            <el-col :span="7" style='margin-left:5%;'>
                <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../../common/common.vue'
import moment from "moment"

export default {
    data() {
        return {
            typeList: [
                { value: 'hds', label: 'HDS订单报表' }, //报表类型列表
                { value: 'vivi', label: 'VIviLife订单报表' },
                { value: 'hv', label: 'HV订单报表' },
                { value: 'rank',label:"三网用户职级"}
            ],
            type: '', //报表类型
            valueM: '', //订单月份
            downloading: false, //下载加载状态
            loading: false, //加载中状态
        }
    },
    methods: {
        //下载表格
        downloadExcel() {
            let _this = this;
            if(_this.loading) return;
            if(!this.type){
                this.$message({
                    message: '请先选择报表类型',
                    type: 'error'
                });
                return false
            }
            if(!this.valueM || !moment(this.valueM).isValid()){
                this.$message({
                    message: '请先选择订单月份',
                    type: 'error'
                });
                return false
            }
            let formData = JSON.stringify({
                type: this.type,
                orderMonth: moment(this.valueM).format('YYYYMM'),
            });
            let page_url = global.saleReport + `?json=${formData}`;
            console.log(page_url);
            _this.loading = true;
            this.$ajax({
                headers: {
                  'Content-Type': 'application/excel; charset=UTF-8'
                },
                method:"get",
                url:page_url,
                responseType:"blob",
            }).then((req)=>{
                this.loading = false
                if(req.status !=200){
                    _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                    })
                }
                _this.$message({
                    message: '数据请求成功，请注意浏览器下载信息',
                    type: 'info'
                })
                let title = _this.typeList.filter((item)=>{
                    return !!(item.value == _this.type);
                })[0].label;
                let t = new Date();
                let yy = t.getFullYear();
                let mm = t.getMonth() + 1;
                let dd = t.getDate();
                let date = yy + '年' + mm + '月' + dd + '日';
                let filename = title + date + '.xlsx';
                req = req.data;
                if (typeof window.chrome !== 'undefined') {
                    // Chrome version
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(req);
                    link.download = filename;
                    link.click();
                } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE version
                    var blob = new Blob([req], { type: 'application/force-download' });
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    // Firefox version
                    var file = new File([req], filename, { type: 'application/force-download' });
                    window.open(URL.createObjectURL(file));
                }
            });
        },
    }
};
</script>
<style>
.el-col-7 {
    line-height: 56px;
}

.el-select {
    /* float:right; */
    width: 70%;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
</style>