<template>
<div>
	<el-row class="container">
		<el-col :span="24" class="header" v-if="layout"  v-show="isTableFull">
			<el-col :span="10" class="logo" :class="collapsed?'logo-collapse-width':'logo-width'">
				<i class='el-icon-menu' @click='handleClick'></i>	
				{{collapsed?'':sysName}}
			</el-col>
			<el-col :span="10">
				<div class="tools" @click.prevent="collapse">
					<i class="fa fa-align-justify"></i>
				</div>
			</el-col>
			<el-col :span="4" class="userinfo">
				<el-dropdown trigger="hover">
					<span class="el-dropdown-link userinfo-inner">{{sysUserName}}<img :src="this.sysUserAvatar" /></span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item>我的消息</el-dropdown-item>
						<el-dropdown-item @click.native='handleChange'>修改密码</el-dropdown-item>
						<el-dropdown-item>设置</el-dropdown-item>
						<el-dropdown-item divided @click.native="logout">退出登录</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</el-col>
		</el-col>
		<el-col :span="24" class="main " :style="{top: isTableFull && layout ? '60px' : '2px'}">
			<aside :class="collapsed?'menu-collapsed':'menu-expanded'" v-show="isTableFull" v-if="layout">
				 <el-menu class="el-menu-vertical-demo sidebar" :collapse="collapsed"  unique-opened router>
					<template v-for="(item,index) in datas">
						<template v-if="item.children">	
							<el-submenu :index="item.path+'?'+index" :key="index">
								<template slot="title">
									<i :class="item.iconCls"></i><span slot="title">{{ item.name }}</span>
								</template>
								<template v-for="(subItem,ii) in item.children" >
									<el-submenu v-if="subItem.children" :index="subItem.path+'?'+subItem.id" :key="ii">
										<template slot="title">{{ subItem.name }}</template>
										<el-menu-item v-for="(threeItem,i) in subItem.children" :key="i" :index="threeItem.path">
											{{ threeItem.name }}
											<sup class="el-badge__content el-badge__content--undefined msgNumNotice" v-if="threeItem.name === '审核文章' && unauditedArticleNum > 0" v-text="unauditedArticleNum"></sup>
										</el-menu-item>
									</el-submenu>
									<el-menu-item v-else :index="subItem.path" :key="ii">
										{{ subItem.name }}
									</el-menu-item>
								</template>
							</el-submenu>
						</template> 
						<template v-else>
							<el-menu-item :index="item.path" :key="index">
								<i :class="item.iconCls"></i><span slot="title">{{ item.name }}</span>
							</el-menu-item>
						</template>
					</template>
				</el-menu>			
			</aside>
			<section class="content-container" :style="{padding: isTableFull && layout ? '20px' : '2px'}"> <!--配合商品促销，表格全屏-->
				<div class="tags" v-if="routerArr.length > 0" style="margin-bottom: 5px" v-show="isTableFull">
					<el-tag :key="index" v-for="(tag, index) in routerArr" closable :disable-transitions="false" @close="handleClose(tag, tag.name)" :class=" activeList === tag.name ? 'tags-li' : '' ">
						<router-link :to="tag.path"  @click.native="changeStyle(tag.name)" :style="{color: activeList === tag.name ? '#fff' : '#000'}">{{tag.name}}</router-link>	
					</el-tag>
					<div class="tags-close-box">
						<el-dropdown @command="handleCommand">
							<el-button size="mini" type="primary" style="font-size:14px">
								关闭选项<i class="el-icon-arrow-down el-icon--right"></i>
							</el-button>
							<el-dropdown-menu size="mini" slot="dropdown">
								<el-dropdown-item command="others">关闭其他</el-dropdown-item>
								<el-dropdown-item command="all">隐藏</el-dropdown-item>
								<el-dropdown-item command="back">关闭当前</el-dropdown-item>
							</el-dropdown-menu>
						</el-dropdown>
					</div>
				</div>
				<div class="grid-content bg-purple-light">
					<el-col :span="24" class="content-wrapper">
						<transition name="fade" mode="out-in">
							<router-view></router-view>
						</transition>
					</el-col>
				</div>
			</section>
		</el-col>
	</el-row>
	<!--修改密码界面-->
		<el-dialog title="新增" :visible.sync="changeFormVisible" :close-on-click-modal="false"  style="width:100%">
			<el-form :model="changeForm" label-width="80px"  ref="changeForm">
				<el-form-item label="原密码" required>
					<el-input v-model="changeForm.oldpwd" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="新密码" required >
					<el-input v-model="changeForm.newpwd" auto-complete="off" placeholder="请输入6位以字母、数字组合的密码"></el-input>
				</el-form-item>
				<el-form-item label="确认密码" required>
					<el-input v-model="changeForm.confirmpwd" auto-complete="off" placeholder="请输入6位以字母、数字组合的密码"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click.native="changeFormVisible = false">取消</el-button>
				<el-button type="primary" @click.native="handleSubmit" :loading="loading">提交</el-button>
			</div>
		</el-dialog>
</div>
</template>

<script>
	import headPortrait from '../assets/user.png' 
	import routes from '../routes.js'
	import global from '../common/common.vue'
	import {getUnauditedArticleNumUrl} from '@/service/sqApi'
	import {mapGetters, mapActions} from  'vuex'
	export default {
		beforeRouteEnter (to, from, next) {
			next(vm => {
				if (sessionStorage.getItem('layout') != null) vm.layout = Boolean(sessionStorage.getItem('layout') - 0)
			})
		},
		data() {
			return {
				unauditedArticleNum: 0,
				layout: true,
				sysName:'后台管理系统',
				collapsed:false,
				sysUserName: '',
				sysUserAvatar: '',
				activeIndex: 0,
				bonusTitle:"红包雨",
				form: {
					name: '',
					region: '',
					date1: '',
					date2: '',
					delivery: false,
					type: [],
					resource: '',
					desc: ''
				},
				changeFormVisible:false,
				changeForm:{
					oldpwd:'',
					newpwd:'',
					confirmpwd:''
				},
				loading : false,              //加载中
				arr : '',
				datas : [],
				updateUsersPassword : global.updatePasswordUrl ,  //修改密码接口
				getUserPermission : global.getUserPermissionUrl
			}
		},
		created() {
			this.getUnauditedArticleNum()
			this.worke()
		},
		methods: {
			...mapActions([
				'addRouterPath',
				'saveActiveList'
			]),
			worke(){ // 开始worke进程
				window.that = this
				window.webWorkeTimer = ''
				this.webWorke = this.$worker.run(
						_=> 999
				)
				.then(_ => {
						webWorkeTimer = setInterval(_=> that.getUnauditedArticleNum(), 35000)

				})
				.catch(console.error)
			},
			async getUnauditedArticleNum() { // 获取未审核文章的数量
				const res = this.$http(getUnauditedArticleNumUrl, {method: 'get'})
				res.then(data=>{
					if (!data.httpRequestError) this.unauditedArticleNum = data.result.count
				})
			},
			handleCommand(command) {//关闭标签
				switch(command) {
					case 'others'
					: for(let [item, ele] of this.routerArr.entries()) {
						if(ele.name === this.activeList) {
							this.addRouterPath([ele])
							break
						}
					}
					break;
					case 'all'
					: this.addRouterPath([])
					break;
					case 'back'
					: this.routerArr.map((item, index) => {
							if(item.name === this.activeList) {
								this.routerArr.splice(index, 1)
							}
						})
						this.$router.back(-1)
					break
				}
			},
			changeStyle(name) {
				this.saveActiveList(name)
			},
			onSubmit() {
				// console.log('submit!');
			},
			handleopen() {
				//console.log('handleopen');
			},
			handleclose() {
				//console.log('handleclose');
			},
			handleselect: function (a, b) {
			},
			//退出登录
			logout: function () {
				var _this = this;
				this.$confirm('确认退出吗?', '提示', {
					//type: 'warning'
				}).then(() => {
					sessionStorage.removeItem('user');
					_this.$router.push('/login');
				}).catch(() => {

				});
			},
			//折叠导航栏
			collapse:function(){
				this.collapsed=!this.collapsed;
			},
			showMenu(i,status){
				this.$refs.menuCollapsed.getElementsByClassName('submenu-hook-'+i)[0].style.display=status?'block':'none';
			},
			handleClose(tag, name){//关闭列表
				let index = this.routerArr.indexOf(tag)
				this.routerArr.splice(index, 1);
				if(name === this.activeList && this.routerArr[index]){
					this.saveActiveList(this.routerArr[index].name)
					this.$router.push(this.routerArr[index].path)
				}
				else if( name === this.activeList && this.routerArr.length > 0 ) {
					this.saveActiveList(this.routerArr[index - 1].name)
					this.$router.push(this.routerArr[index - 1].path)
				}
			},
			//修改密码页面显示
			handleChange:function(){
				this.changeFormVisible =true;
				this.changeForm={
					oldpwd:'',
					newpwd:'',
					confirmpwd:''
				}
			},
			//修改密码提交
			handleSubmit:function(){
				let reg = /^[a-zA-Z0-9_-]{6}$/;
				let re = new RegExp(reg);
				this.changeFormVisible = false;
				this.loading=true;
				let pwd = this.autoUserDatas();	
				let id = this.arr.id;	 
				if(this.changeForm.oldpwd ==='' || this.changeForm.newpwd === '' || this.changeForm.confirmpwd === ''){
					this.$message({
						message:'输入框不能为空',
						type:'warning'
					})
					this.loading=false;
				}else if(pwd !== this.changeForm.oldpwd){
					this.$message({
						message:'原密码不正确',
						type:'error'
					})
					this.loading=false;
				}else if(this.changeForm.newpwd !== this.changeForm.confirmpwd){
					this.$message({
						message:'两次密码输入不一致，请重新输入',
						type:'error'
					})
					this.loading=false;
				}else if(this.changeForm.newpwd === pwd){
					this.$message({
						message:'新密码与旧密码一致',
						type:'warning'
					})
					this.loading=false;
				}else{
					if(re.test(this.changeForm.newpwd)){
						 let formData = new FormData();
						formData.append("json", JSON.stringify
							({
								oldPassword : pwd,       
								newPassword : this.changeForm.newpwd,
								id:id,
							})
						)
						fetch(this.updateUsersPassword,{
							 method:"POST",   //请求方法
               				 body:formData,   //请求体
						}).then(res=>res.json()
						).then(res=>{
							this.loading=false;
							if(res.isSuccess===1){
								this.$message({
									message:'修改成功',
									type:'info'
								})
								let [i, password] = [0, [...this.$md5('password')]]
								for (let [item, ele] of [...this.changeForm.newpwd].entries()) {
									password.splice(item + i, 0, ele)
									i++
								}
								password.push([this.changeForm.newpwd.length])
								let datas = JSON.parse(localStorage.getItem('datas'));
								datas = Object.assign(datas,{p:password});
								localStorage.setItem(
									'datas',
									JSON.stringify(datas)
								)
							}else if(res.isSuccess===0){
								this.$message({
									message:'修改失败',
									type:'info'
								})
							}else if(res.isSuccess===-1){
								this.$message({
									message:'与原密码一致',
									type:'warning'
								})
							}
						}).catch(e=>{
							this.loading=false;
							this.$message({
								message:e,
								type:'error'
							})
						})
					}else{
						this.$message({
							message:'密码格式有误,请重新输入',
							type:'error'
						})
					}
				}
			},
			 //解密
			autoUserDatas() {
				if(localStorage.getItem('datas')) {
					let [newArr, i, password] = [[], 0, JSON.parse(localStorage.getItem('datas'))]
					for(let [item, ele] of [...password.p].entries()) {
					if(item % 2 === 0) {
						newArr.push(ele)
						i++
					}
					if(i === [...password.p][[...password.p].length-1][0]) break;
					}
					return newArr.join('')	 
			 }
		   },
		   //根据用户获取不同权限
		   getUser:function(){
			   let userMsg = JSON.parse(localStorage.getItem('datas'));
			   let formData = new FormData();
			   formData.append("json", JSON.stringify
							({
								id : userMsg.id
							})
			   )
				fetch(this.getUserPermission,{
					method:'POST',
					body:formData
			   }).then(res=>res.json()
				).then(res=>{
					if(res.isSuccess === 1){
						localStorage.setItem(
							'userList',
							JSON.stringify(res.result)
						)
						var i, nodes = []; 
						let re = res.result;						
						for(i = 0; i < re.length; i++){
							nodes.push({
								id : re[i].id,
								parentId : re[i].pid,
								name : re[i].name,
								component :  re[i].code,
								descpt : re[i].descpt,
								path : re[i].page,
								iconCls : re[i].icon,	
							});   
						}
						let arr = this.buildTree(nodes);
					
						if(arr instanceof Array){
							this.datas = arr;
						}else{
							this.datas.push(arr);	
						}
					
					}else{
						this.$message({
							message:'格式有误，请重试!',
							type:'error'
						})
					}
				
				}).catch(e=>{
					this.$message({
						message:'网络错误，请重试！',
						type:'error'
					})
				})
		   },
		   //生成树形结构
			buildTree:function (nodes){
				if(Object.prototype.toString.call(nodes) !== '[object Array]' || nodes.length === 0){
				return null;
				}
				
				var i, j, child, parent, hasParent,
				
				//节点数量
				len = nodes.length,
				
				//顶级节点数组，如果只有一个顶级节点，该数组只有一个元素，并且该顶级节点是根节点。
				tops = [];
				
				//如果只有一个节点，则返回该节点
				if(len === 1){
				return nodes[0];
				}
				
				//进行两轮遍历，构造树的父节点和子节点
				for(i = 0; i < len; i++){
				child = nodes[i];
				hasParent = false;
				
				//如果child没有父节点，则child是顶级节点
				if(!child.parentId){
					tops.push(child);
					continue;
				}
				
				for(j = 0; j < len; j++){
					parent = nodes[j];
					
					if(parent.id === child.parentId){
					//添加子节点
					if(!parent.children){
						parent.children = [];
					}
					parent.children.push(child);
					parent.leaf = false;				
					hasParent = true;
					break;
					}
				}
				
				//如果child没有父节点，则child是顶级节点
				if(!hasParent){
					tops.push(child);
				}
				}
				
				//如果只有一个顶级节点，则返回该节点，否则返回数组。
				return tops.length === 1 ? tops[0] : tops;
			},
			handleClick:function(){
				this.$router.push({ path: '/main' });
			}
		},
		mounted() {	
			this.getUser();	
		
			let user = JSON.parse(localStorage.getItem('datas'))
			this.arr = user;
			if (user) {
				this.sysUserName = user.u || '';
				this.sysUserAvatar = headPortrait || '无头像';
			}
		},
		computed: {
			...mapGetters([
				'routerArr',
				'activeList',
				'isTableFull'
			])
		}
	}

</script>

<style scoped lang="scss">
	@import '~scss_vars';
	.msgNumNotice {
		left: 0;
    position: relative;
    top: -12px;
	}
	.tags-close-box {
		justify-content:center;
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		box-sizing: border-box;
		padding-top: 1px;
		text-align: center;
		width: 85px;
		height: 30px;
		background: #fff;
		box-shadow: -3px 0 15px 3px rgba(0,0,0,.1);
		z-index: 10;
		text-align: center;
	}
	.el-dropdown{
		display: flex
	}
	.container {
		position: absolute;
		top: 0px;
		bottom: 0px;
		width: 100%;
		.header {
			height: 60px;
			line-height: 60px;
			background: $color-primary;
			color:#fff;
			.userinfo {
				text-align: right;
				padding-right: 35px;
				float: right;
				.userinfo-inner {
					display: flex;
					cursor: pointer;
					color:#fff;
					img {
						width: 40px;
						height: 40px;
						border-radius: 20px;
						margin: 10px 0px 10px 10px;
						float: right;
					}
				}
			}
			.logo {
				//width:230px;
				height:6
				0px;
				font-size: 22px;
				padding-left:20px;
				padding-right:20px;
				border-color: rgba(238,241,146,0.3);
				border-right-width: 1px;
				border-right-style: solid;
				img {
					width: 40px;
					float: left;
					margin: 10px 10px 10px 18px;
				}
				.txt {
					color:#fff;
				}
				
			}
			.userinfo{
					    width: 9.66667% !important;
			}
			.logo-width{
				width:230px;
			}
			.logo-collapse-width{
				width:65px
			}
			.tools{
				padding: 0px 23px;
				width:14px;
				height: 60px;
				line-height: 60px;
				cursor: pointer;
			}
		}
		.main {
			display: flex;
			// background: #324057;
			position: absolute;
			bottom: 0px;
			
			// overflow: hidden;
			// overflow-y: hidden;
			aside {
				flex:0 0 230px;
				width: 230px;
				// position: absolute;
				// top: 0px;
				// bottom: 0px;
				.el-menu{
					height: 100%;
				}
				.collapsed{
					width:60px;
					.item{
						position: relative;
					}
					.submenu{
						position:absolute;
						top:0px;
						left:60px;
						z-index:99999;
						height:auto;
						display:none;
					}

				}
			}
			.el-submenu [class^=el-icon-]{
				margin-right: 10px;
				width:14px;
				z-index:100;
			}
			.menu-collapsed{
				flex:0 0 60px;
				width: 65px;
			}
			.menu-expanded{
				flex:0 0 230px;
				width: 230px;
			}
			.menu-expanded>ul:first-child{
				width: 229px !important;
				min-height: 100% !important;
				height: auto !important;
			}
			
			.content-container {
				flex:1;
				overflow-x:hidden;
				.breadcrumb-container {
					//margin-bottom: 15px;
					.title {
						width: 200px;
						float: left;
						color: #475669;
					}
					.breadcrumb-inner {
						float: right;
					}
				}
				.content-wrapper {
					background-color: #fff;
					box-sizing: border-box;
				}
				.tags {
					position: relative;
					height: 30px;
					overflow: hidden;
					background: #fff;
					padding-right: 120px;
					// margin-bottom: 1%;
				}
				.el-tag{
					height:23px;
					line-height:23px;
					margin: 3px 5px 2px 3px;
					padding: 0 5px 0 12px;
					font-size:12px;
					background-color:#fff;
					color:#666;
					border:1px solid #e9eaec;
				}
				a 	{
					text-decoration: none;
				}
				.breadcrumb-container{
					background:#fff;
				}
				.tags-li {
					font-size: 14px;
					border: 1px solid #409eff;
					background-color: #409eff;
				}
			}

		}
		// .sidebar{
		// 	overflow-y: scroll;
		// }
	}
</style>