<template>
  <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-position="left" label-width="0px" class="demo-ruleForm login-container" v-if="isShowPage">
    <h3 class="title">系统登录</h3>
    <el-form-item prop="account">
      <el-input type="text" v-model="ruleForm2.account" auto-complete="off" placeholder="账号" required="required"></el-input>
    </el-form-item>
    <el-form-item prop="checkPass">
      <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off" placeholder="密码" required="required"></el-input>
    </el-form-item>
    <el-form-item>
      <Verify @success="success"></Verify>
    </el-form-item>

    <el-checkbox v-model="checked" class="remember">记住密码</el-checkbox>
    <el-form-item style="width:100%;">
      <el-button type="primary" style="width:100%;" @click="login" :loading="logining">登录</el-button>
    </el-form-item>
  </el-form>
</template>


<script>
import { requestLogin } from '../api/api'
import axios from 'axios'
import verificationCode from '../api/verificationCode'
import global from '../common/common.vue'
//import NProgress from 'nprogress'
import Verify from '../components/Verify'
import {specialLogin} from '../service/hdsApi'
import {localforageDo} from '@/utils'
export default {
  beforeRouteEnter (to, from, next) {
    next(async vm => {
      const query = vm.$route.query
      if (JSON.stringify(query) === '{}' || !query.token || query.token === '') {
        vm.isShowPage = true
      } else {
        vm.isShowPage = false
        const loading = vm.$loading({
          lock: true,
          text: '认证中。。。',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        const config = {
          params: {
            param: query.token
          }
        }
        const res = await vm.$http(specialLogin, config)
        if (res.httpRequestError) {
          loading.close()
          vm.$message.error('网络异常');
          vm.$router.replace('/')
          vm.isShowPage = true
        }else {
          if (res.statue) {
            localStorage.setItem(
              'datas',
              JSON.stringify({
                id: res.id,
                u: '',
                p: '',
                n: res.msg,
                t: 0
              })
            )
            sessionStorage.setItem('code', 'ok')
            sessionStorage.setItem('layout', query.layout - 0)
            loading.close()
            vm.$router.push({ path: query.page })
          } else {
            loading.close()
            vm.$message.error('认证失败');
            vm.$router.replace('/')
            vm.isShowPage = true
          }
        }
      }
    })
  },
  data() {
    return {
      isShowPage: false,
      logining: false,
      ruleForm2: {
        account: '',
        checkPass: '',
        checkName: '',
        verifyCode: '',
        name:'',
      },
      rules2: {
        account: [
          { required: true, message: '请输入账号', trigger: 'blur' }
          //{ validator: validaePass }
        ],
        checkPass: [
          { required: true, message: '请输入密码', trigger: 'blur' }
          //{ validator: validaePass2 }
        ],
        checkName: []
      },
      checked: sessionStorage.getItem('checked') === 'ok',
      resId: '',
      loginUrl: global.loginUrl,
      verifySuccess: false
    }
  },
  components: {
    Verify
  },
  created() {
    localforageDo({type: 'clear'})
  },
  methods: {
    success() {
      this.verifySuccess = true
    },
    addUserDatas() {
      let [i, password] = [0, [...this.$md5('password')]]
      for (let [item, ele] of [...this.ruleForm2.checkPass].entries()) {
        password.splice(item + i, 0, ele)
        i++
      }
      password.push([this.ruleForm2.checkPass.length])
      localStorage.setItem(
        'datas',
        JSON.stringify({
          id: this.resId,
          u: this.ruleForm2.account,
          p: password,
          n: this.name,
          t: this.checked ? 1 : 0
        })
      )
      sessionStorage.setItem('code', 'ok')
      this.$router.push({ path: '/main' })
      this.logining = false
    },
    //解密
    autoUserDatas() {
      if (localStorage.getItem('datas')) {
        let [newArr, i, password] = [
          [],
          0,
          JSON.parse(localStorage.getItem('datas'))
        ]
        for (let [item, ele] of [...password.p].entries()) {
          if (item % 2 === 0) {
            newArr.push(ele)
            i++
          }
          if (i === [...password.p][[...password.p].length - 1][0]) break
        }
        if (password.t === 1) {
          this.checked = true
          this.ruleForm2.account = password.u
          this.ruleForm2.checkPass = newArr.join('')
        } else this.checked = false
      }
    },
    login() {
      this.logining = true
      if (
        this.ruleForm2.account.length === 0 ||
        this.ruleForm2.checkPass.length === 0
      ) {
        this.$message({
          message: '输入框的内容不能为空',
          type: 'error'
        })
        this.logining = false
        return false
      } else if (!this.verifySuccess) {
        this.$message({
          message: '您滑动验证',
          type: 'error'
        })
        this.logining = false
        return false
      } else {
        let formData = new FormData()
        formData.append(
          'json',
          JSON.stringify({
            username: this.ruleForm2.account,
            password: this.ruleForm2.checkPass
          })
        )
        fetch(this.loginUrl, {
          method: 'POST', //请求方法
          body: formData //请求体
        })
          .then(res => res.json())
          .then(res => {
            switch (res.isSuccess) {
              case -1:
                this.$message({
                  message: res.errorMsg,
                  type: 'error'
                })
                this.logining = false
                break
              case 0:
                this.$message({
                  message: res.errorMsg,
                  type: 'error'
                })
                this.logining = false
                break
              case 1: {
                this.resId = res.result.id;
                this.name = res.result.name;
                this.addUserDatas()
              }
            }
            this.logining = false
          })
          .catch(e => {
            this.$message({
              message: '请重新刷新页面',
              type: 'error'
            })
            this.logining = false
            //this.addUserDatas();      //临时登录通过，上线必须注释这段
          })
      }
    }
  },
  mounted: function() {
    let _this = this
    document.body.addEventListener('keydown', function(event) {
      let eve = event || window.event
      if (eve.keyCode === 13) _this.login()
    })
    document.body.addEventListener('click', function(event) {
      let eve = event || window.event
      if (eve.target.getAttribute('class') === 'el-message__img') {
        eve.target.parentNode.remove()
      }
    })
    this.autoUserDatas()
  },
  destroyed: function() {
    this.login = () => {}
  },
  watch: {
    checked () {
      this.checked ? sessionStorage.setItem('checked', 'ok') : sessionStorage.setItem('checked', 'ng')
    }
  }
}
</script>

<style lang="scss" scoped>
.login-container {
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: 80px auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 25px #cac6c6;
  .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
  }
  .remember {
    margin: 0px 0px 35px 0px;
  }
  .yanzm {
    width: 100% !important;
  }
}
</style>