<template>
    <section>
        <div>
            <img :src="picture" alt="" style='width:100%;height:100%'>
            <!-- <div id='main-content'>
                <h1> hi!  {{username}}</h1>
                <h1>欢迎进入汉德森后台管理系统！</h1>
                <p>
                    {{dateTime}}
                </p>
            </div> -->
        </div>
    </section>
    
</template>

<script>
	import bus from '../common/bus';
    import headPortrait from '../assets/user.png'
    import background from '../assets/background.jpg'  
    import dayjs from 'dayjs'
    export default {
        name: 'dashboard',
        data() {
            return {
				avatar:headPortrait,
                picture:background,
                dateTime:'',
                username:'',
            }
        },
        mounted(){
           var nowDate = new Date();
           this.dateTime = dayjs(nowDate).format('YYYY-MM-DD HH:mm:ss');
           this.username = JSON.parse(localStorage.getItem('datas')).u;
        },
        methods:{

        }
        
    }

</script>
