<template>
  <div class="report">
    <el-row>
      <el-col :span="8" class="elCol" v-for="(item, index) in grop" :key="index">
        <div v-text="item.title"></div>
        <el-select v-model="item.value" :placeholder="item.placeholder" :disabled="item.options.length === 0" :clearable="item.clearable" :width="item.width" v-if="item.type === 'select'" v-loading="item.loading" filterable @change="getListDatas(item)">
          <el-option
            v-for="obj in item.options"
            :key="obj.value"
            :label="obj.label"
            :value="obj.value">
          </el-option>
        </el-select>
        <el-date-picker
          v-model="item.value"
          type="daterange"
          align="right"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="item.pickerOptions"
          :disabled="item.disabled"
          :clearable="item.clearable"
          :width="item.width"
          v-if="item.type === 'picker'">
        </el-date-picker>
      </el-col>
    </el-row>
    <el-button type="primary" @click="downloadExcel" :exportBtnLoading="exportBtnLoading" :loading="downloading" :disabled="grop[5].value.length !== 2 || downloading">
      导出<i class="el-icon-download el-icon--right"></i>
    </el-button>
  </div>
</template>

<script>
import {getLargeArea, getSmallArea, getIndustryType, downloadReport} from '@/service/hdsApi'
import {dateChangeover} from '@/utils'

export default {
  data() {
    return {
      downloading: false,
      exportBtnLoading: false,
      grop: [{
        title: '大区：',
        value: '',
        type: 'select',
        placeholder: '请选择大区',
        clearable: false,
        width: '90%',
        options:[],
        loading: false
      },
      {
        title: '小区：',
        value: '',
        type: 'select',
        placeholder: '请选择小区',
        clearable: false,
        width: '90%',
        options:[],
        loading: false
      },{
        title: '业绩归属城市：',
        value: '',
        type: 'select',
        placeholder: '请选择业绩归属城市',
        clearable: false,
        width: '90%',
        options:[],
        loading: false
      },{
        title: '行业：',
        value: '',
        type: 'select',
        placeholder: '请选择行业',
        clearable: false,
        width: '90%',
        options:[],
        loading: false
      },{
        title: '状态：',
        value: '',
        type: 'select',
        placeholder: '请选择状态',
        clearable: false,
        width: '90%',
        options:[{
          label: '全部',
          value: 'all'
        },{
          label: '等待审核',
          value: 'audit_waited'
        },{
          label: '通过',
          value: 'audit_success'
        },{
          label: '未通过',
          value: 'audit_failed'
        }],
        loading: false
      },{
        title: '申请日期：',
        value: [],
        type: 'picker',
        disabled: false,
        clearable: true,
        width: '90%',
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      }]
    }
  },
  methods: {
    downloadExcelBeforeCheck() {
      let bl = true
      let message = ''
      this.grop.map((item, index) => {
        switch (index) {
          case 0 :
            if (item.value === '') {
              if (message === '' ) message = "请选择大区"
              bl = false
            }
            break
          case 1 :
            if (item.value === '' && this.grop[0].value !== 'all' && item.options.length > 0) {
              if (message === '' ) message = "请选择小区"
              bl = false
            }
            break
          case 2 :
            if (item.value === '' && this.grop[1].value !== 'all' && item.options.length > 0) {
              if (message === '' ) message = "请选择业绩归属城市"
              bl = false
            }
            break
          case 3 :
            if (item.value === '') {
              if (message === '' ) message = "请选择行业"
              bl = false
            }
            break
          case 4 :
            if (item.value === '') {
              if (message === '' ) message = "请选择状态"
              bl = false
            }
            break
        }
      })
      if (message !== '') {
        this.$message({
          message,
          type: 'error'
        })
      }
      return bl
    },
    downloadExcel() {
      if (this.downloadExcelBeforeCheck()) {
        let _this = this
        let page_url;
        let formData = new FormData();
        formData = JSON.stringify({
          regionId: this.grop[0].value === '' || this.grop[0].value === 'all' ? null : this.grop[0].value,
          zoneId: this.grop[1].value === '' || this.grop[1].value === 'all' ? null : this.grop[1].value,
          homeCityId: this.grop[2].value === '' || this.grop[2].value === 'all' ? null : this.grop[2].value,
          category: this.grop[3].value === 'all' ? null : this.grop[3].value,
          strDate: dateChangeover([this.grop[5].value[0], 'YYYY-MM-DD', 'dateformat']),
          endDate: dateChangeover([this.grop[5].value[1], 'YYYY-MM-DD', 'dateformat']),
          status: this.grop[4].value === 'all' ? null : this.grop[4].value
        })
        page_url = downloadReport + `?json=${formData}`;
        let req = new XMLHttpRequest();
        req.open("get", page_url, true);
        req.addEventListener("loadstart", function (evt) {
            _this.$message({
                message: '报表正在生成中，请耐心等待',
                type: 'info'
            })
          _this.downloading = true
        }, false);
          req.addEventListener("loadend", function (evt) {
          _this.downloading = false
        }, false);
        req.addEventListener("ontimeout", function (evt) {  
          _this.$message({
              message: '下载失败,请检查网络状态并重新尝试着刷新页面',
              type: 'error'
            })
            this.downloading = false
        }, false);
        req.addEventListener("onerror", function (evt) {
          _this.$message({
              message: '下载失败,请检查网络状态并重新尝试着刷新页面',
              type: 'error'
            })
            this.downloading = false
        }, false);
        req.addEventListener("onabort", function (evt) {
          _this.$message({
              message: '下载失败,请检查网络状态并重新尝试着刷新页面',
              type: 'error'
            })
            this.downloading = false
        }, false);
        req.addEventListener("onload", function (evt) {
          _this.$message({
              message: '数据请求成功，请注意浏览器下载信息',
              type: 'info'
            })
            this.downloading = false
        }, false);
        req.responseType = "blob";
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 200) {
              let  t = new Date();
              let  yy = t.getFullYear();
              let  mm = t.getMonth()+1;
              let  dd = t.getDate();
              let date = yy+'年'+mm+'月'+dd+'日';
              let filename = '优选商家报表'+date+'.xlsx'
              if (typeof window.chrome !== 'undefined') {
                  // Chrome version
                  var link = document.createElement('a');
                  link.href = window.URL.createObjectURL(req.response);
                  link.download = filename;
                  link.click();
              } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                  // IE version
                  var blob = new Blob([req.response], { type: 'application/force-download' });
                  window.navigator.msSaveBlob(blob, filename);
              } else {
                  // Firefox version
                  var file = new File([req.response], filename, { type: 'application/force-download' });
                  window.open(URL.createObjectURL(file));
              }
            }
            if (req.status === 0 || req.status === 500) {
                _this.$message({
                    message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                    type: 'error'
                  })
                  this.downloading = false
            }
        };
        // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
        req.send();
      }
    },
    getListDatas (data) {
      let api = ''
      let id = null
      let index = 0
      let method = 'post'
      let flag = ''
      const username = JSON.parse(localStorage.getItem('datas')).u
      switch (data.title) {
        case '大区':
          api = getLargeArea
          break
        case '大区：':
          api = getSmallArea
          id = this.grop[0].value
          index = 1
          flag = 'xiaoqu'
          break
        case '小区：':
          api = getSmallArea
          id = this.grop[1].value
          index = 2
          flag = 'dianpu'
          break
        case '行业':
          id = this.grop[2].value
          api = `${getIndustryType}?id=${id}`
          index = 3
          method = 'get'
          break
      }
      if (api !== '' && this.grop[index].value !== '全部') {
        this.grop[index] = Object.assign(this.grop[index], {
          loading: true
        })
        const formData = new FormData();
        formData.append("json", JSON.stringify({
            username,
            id,
            flag
          })
        )
        fetch(api,{
          method,
          body: method === 'post' ? formData : null
        })
        .then(res=>res.json())
        .then(res=>{
          let bl = false
          let arr = []
          let options = []
          let field = {
            label: 'departmentname',
            value: 'id'
          }
          switch(data.title) {
            case '大区':
              if (res && res.result) {
                arr = res.result || []
              } else bl = true
              break
            case '大区：':
              if (res && res.result && this.grop[0].value !== 'all') {
                arr = res.result.contents || []
              } else if (this.grop[0].value !== 'all') bl = true
              break
            case '小区：':
              if (res && res.result && this.grop[1].value !== 'all') {
                arr = res.result.contents || []
              } else if (this.grop[1].value !== 'all') bl = true
              break
            case '行业':
              if (res && res.result) {
                arr = res.result || []
                field = {
                  label: 'category',
                  value: 'id'
                }
              } else bl = true
              break
          }
          if (bl) {
            this.grop.map(item => {
              item = Object.assign(item, {
                loading: false
              })
            })
            this.$message({
              message: `请求${data.title}数据失败，请稍后重试~`,
              type: 'error'
            })
          }
          if (data.title !== '大区' && arr.length > 1) {
            options.push({
              label: '全部',
              value: 'all'
            })
          }
          arr.map(item => {
            options.push({
              label: item[field.label],
              value: item[field.value]
            })
          })
          this.grop[index] = Object.assign(this.grop[index], {
            options,
            loading: false,
            value: ''
          })
        })
        .catch((e)=>{
          this.grop.map(item => {
            item = Object.assign(item, {
              loading: false
            })
          })
          this.$message({
            message: '网络异常，请稍后重试~',
            type: 'error'
          })
        })
      }
    }
  },
  created() {
    this.getListDatas({
      title: '大区'
    })
    this.getListDatas({
      title: '行业'
    })
  }
}
</script>

<style lang="scss" scoped>
.report {
  .elCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
      margin-bottom: 5%;
    }
  }
}
</style>
