<template>
  <div class="search">
    <div class="inputArea">
      <div class="inputBox">
        导入时间：
        <el-date-picker
          v-model="searchData.time"
          type="datetimerange"
          align="right"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="searchData.pickerOptions">
        </el-date-picker>
      </div>
      <div class="inputBox">
        导入结果：
        <el-select v-model="searchData.orderSource" placeholder="请选择订单来源">
          <el-option
            v-for="item in searchData.orderSourceOption"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>
    <el-button :type="item.type" size="medium" v-for="item in btn" :key="item.text" @click="handleBtn(item.text)" v-loading="btnLoading[item.label]" :style="{margin: item.text === '筛选' ? '0 0 20px 0' : '0 0 20px 20px'}">
      {{item.text}}<i :class="item.class" v-if="item.class !== ''"></i>
    </el-button>
    <el-dialog
      title="温馨提示"
      :visible.sync="centerDialogVisible"
      width="30%"
      center>
      <span v-text="contentDialogVisible"></span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="comfirmDialogVisible">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {searchLog} from '@/service/sprintUrlApi'
import {dateChangeover, transferredMeaning} from '@/utils'

export default {
  data() {
    return {
      centerDialogVisible: false,
      contentDialogVisible: '',
      searchData: {
        orderSource: '3',
        orderSourceOption: [{
          value: '3',
          label: '全部'
        },{
          value: '0',
          label: '成功'
        },{
          value: '1',
          label: '全部失败'
        },{
          value: '2',
          label: '部分失败'
        }],
        time: [],
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },

      },
      btn: [{
        loading: false,
        type: 'success',
        class: 'el-icon-search',
        text: '筛选',
        label: 'search'
      }]
    }
  },
  computed: {
    ...mapGetters([
      'paginationConfigP',
      'tableCurrentPage',
      'btnLoading'
    ])
  },
  methods: {
    ...mapActions([
      'saveTableDatap',
      'saveElTableColumn',
      'saveTableBtnsP',
      'saveTableConfigP',
      'savePaginationConfigP',
      'saveTableLoadingP',
      'saveBtnLoading',
      'saveTableCurrentPage'
    ]),
    handleBtn (type) {
      switch (type) {
        case '筛选':
          this.saveTableCurrentPage(1)
          this.searchLog()
        break
      }
    },
    comfirmDialogVisible () {
      this.centerDialogVisible = false
    },
    async searchLog () { // 查询导入订单
      if (this.tableLoadingP) return false
      this.saveTableLoadingP(true)
      const config = {
        params: {
          startTime: this.searchData.time ? dateChangeover([this.searchData.time[0],,'dateformat']) : '',
          endTime: this.searchData.time ? dateChangeover([this.searchData.time[1],,'dateformat']) : '',
          result: this.searchData.orderSource,
          page: this.tableCurrentPage - 1,
          size: this.paginationConfigP.pageSize
        }
      }
      const res = await this.$http(searchLog, config);
      if (!res.httpRequestError) {
        if (res.data) {
          let data = res.data.list || []
          data.map(item => {
            item = Object.assign(item, {
              importTime: dateChangeover([item.importTime,,'dateformat']),
              importResult: transferredMeaning({
                data: this.searchData.orderSourceOption,
                targetAttributeName: 'value',
                correspondingAttributeName: 'label',
                value: item.importResult,
                returnType: 'string'
              }),
              statue: transferredMeaning({
                data: this.searchData.orderSourceOption,
                targetAttributeName: 'value',
                correspondingAttributeName: 'label',
                value: item.statue,
                returnType: 'string'
              })
            })
          })
          this.saveTableDatap(res.data.list || [])
          this.savePaginationConfigP({
            total: res.data.count || 0
          })
        } else {
          this.$message({
            message: '请求失败',
            type: "error"
          });
        }
      } else {
        this.$message({
          message: res.httpRequestError || '系统异常',
          type: "error"
        });
      }
      this.saveTableLoadingP(false)
    }
  }
}
</script>

<style lang="scss" scoped>
.search {
  display: flex;
  flex-wrap: wrap;
  .inputArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .inputBox {
      margin: 0 0 20px 0;
      .input {
        width: 55%;
      }
    }
  }
}
</style>