<template>
  <div>
    <el-dialog :title="title" :visible.sync="dialogTableVisible" ref="elDialog" :close-on-click-modal="false">
      <div class="elRadio" v-for="item in elRadio" :key="item.label">
        <el-radio
          v-model="value"
          :label="item.label">
          {{item.text}}
        </el-radio>
        <el-tooltip class="item" v-if="item.label === 1" effect="dark" content="点我可下载非ERP导入模板" placement="top">
          <span @click="downExcel()">（<a href="javascript:void(0)">下载非ERP导入模板</a>）</span>
        </el-tooltip>
      </div>
      <div class="btn">
        <el-button :type="item.type" v-for="item in btn" :key="item.text" v-text="item.text" :plain="item.plain"
          :style="{margin: item.text === '确 定' ? '0 20px 0 0' : '0 0 0 20px'}" @click="handleBtn(item.text)"></el-button>
      </div>
      <div class="input">
        <input
          type="file"
          name="upload"
          @change="inputChange"
          ref="input"
          accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        >
      </div>
    </el-dialog>
    <el-dialog
      ref="elDialogRef"
      :title="dialogPopup.title"
      :visible.sync="dialogPopup.centerDialogVisible"
      width="40%"
      center>
      <span v-text="dialogPopup.msg"></span>
      <span slot="footer" class="dialog-footer" v-if="dialogPopup.btnShow">
        <el-button type="primary" @click="seeDetails()">{{dialogPopup.btnName}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import XLSX from "xlsx";
import {importExcelErp, importExcelNoErp} from '@/service/sprintUrlApi'
import {mapActions} from 'vuex'
import {downExcelTemplate} from '@/utils'

export default {
  props: {
    search: {
      required: false,
      type: Function,
      default: _ => {}
    }
  },
  data () {
    return {
      dialogPopup: {
        title: '',
        centerDialogVisible: false,
        msg: '',
        btnShow: true,
        btnName: '查看详情'
      },
      title: '订单导入',
      dialogTableVisible: false,
      value: 0,
      elRadio: [{
        label: 0,
        text: 'ERP模板导入'
      },{
        label: 1,
        text: '非ERP模板导入'
      }],
      btn: [{
        type: 'primary',
        text: '确 定',
        plain: false
      },{
        type: 'danger',
        text: '取 消',
        plain: true
      }]
    }
  },
  mounted() {
    this.$refs.elDialog.$el.style.zIndex = 88888888
  },
  methods: {
    ...mapActions([
      'saveBtnLoading'
    ]),
    downExcel () {
      const data = [{ //表格内容
          '订单编号': '',
          '收件人': '',
          '联系方式': '',
          '详细地址': '',
          '买家留言': '',
          '商品名称': '',
          '规格名称': '',
          '规格编码': '',
          '商品数量': ''
      }];
      downExcelTemplate(data, '非Erp导入模板')
    },
    handleBtn (text) {
      this.changeDialogTableVisible(false)
      if (text === '确 定') {
        this.$refs.input.click()
      }
    },
    changeDialogTableVisible (bl) {
      this.dialogTableVisible = bl
    },
    inputChange (file) {
      const files = file.target.files;
      if (files.length > 0) {
        const fileReader = new FileReader();
        fileReader.onload = ev => {
          try {
            const data = ev.target.result;
            const workbook = XLSX.read(data, {
              type: "binary"
            });
            const sheetArray = XLSX.utils.sheet_to_json(
              workbook.Sheets[workbook.SheetNames[0]]
            );
            if (sheetArray.length > 0) {
              if (this.checkExcelData(sheetArray)) {
                this.importData(files[0])
                file.target.value = null
              }
            }
            else {
              this.dialogPopup = Object.assign(this.dialogPopup, {
                title: '导入失败',
                centerDialogVisible: true,
                msg: `工作表名【${workbook.SheetNames[0]}】无数据`,
                btnName: '我知道了'
              })
              file.target.value = null
            }
          } catch (err) {
            console.log(err);
            this.dialogPopup = Object.assign(this.dialogPopup, {
              title: '导入失败',
              centerDialogVisible: true,
              msg: `导入失败：${err}`,
              btnName: '我知道了'
            })
            file.target.value = null
            return false;
          }
        };
        fileReader.readAsBinaryString(files[0]);
      }
    },
    checkExcelData (data) {
      let bl = true
      let erpArr = ['系统订单号',	'运单号',	'快递公司',	'快递模板名称',	'仓库名称',	'买家昵称',	'收件人',	'联系方式',	'详细地址',	'订单编号',	'插旗颜色',	'店铺名称',	'卖家备注',	'买家留言',	'快递单备注',	'订单状态',	'订单类型',	'子订单编号',	'商品名称',	'商品简称',	'商家编码',	'规格名称',	'规格编码',	'商品数量',	'单价',	'实收金额', '优惠金额', '运费', '下单时间', '付款时间', '发货时间', '打发货单时间', '打快递单时间', '打发货单操作人', '打快递单操作人', '省', '市', '区', '原始单号']
      let noErpArr = ['订单编号', '收件人', '联系方式', '详细地址', '买家留言', '商品名称', '规格名称', '规格编码', '商品数量']
      let erpErpMustFillArr = ['系统订单号', '收件人', '联系方式', '详细地址', '订单编号', '子订单编号', '规格编码', '商品数量', '单价', '实收金额', '优惠金额', '运费', '原始单号']
      let noErpMustFillArr = ['收件人', '联系方式', '详细地址', '规格编码', '商品数量']
      let maxLen = erpArr.length
      let msg = ''
      let len = Object.getOwnPropertyNames(data[0]).length - 1
      let arr = erpErpMustFillArr
      if (this.value) {
        maxLen = noErpArr.length
        arr = noErpMustFillArr
      }
      if (len > maxLen) {
        this.value ? msg = '导入失败：您选择的是【非Erp模版】导入，检测到您上传的模版不是【非Erp模版】哦' : msg = '导入失败：您选择的是【Erp模版】导入，检测到您上传的模版不是【Erp模版】哦'
      } else if (len < noErpMustFillArr.length || (len < noErpArr.length && !this.value)) {
        let str = noErpMustFillArr.join('，')
        msg = `导入失败：检测到您上传的模版字段过少，必填字段：【${str}】`
      }
      if (msg.length > 1) {
        this.dialogPopup = Object.assign(this.dialogPopup, {
          title: '导入失败',
          centerDialogVisible: true,
          msg,
          btnName: '我知道了'
        })
        bl = false
        return bl
      }
      for (let i = 0; i < data.length; i++) {
        let obj = data[i]
        for (let j = 0; j < arr.length; j++) {
          let atr = arr[j]
          if (!obj[atr]) {
            let str = arr.join('，')
            msg = `导入失败：检测到您上传的模版中第${i + 1}行的字段【${atr}】数据存在空内容，必填字段：【${str}】`
            this.dialogPopup = Object.assign(this.dialogPopup, {
              title: '导入失败',
              centerDialogVisible: true,
              msg,
              btnName: '我知道了'
            })
            bl = false
            return bl
          }
        }
      }
      return bl
    },
    importData (flie) {
      this.saveBtnLoading({
        import: true
      })
      let formData = new FormData();
      formData.append('file', flie)
      formData.append('user', JSON.parse(localStorage.getItem('datas')).u)
      let url = this.value ? importExcelNoErp : importExcelErp
      return fetch(url, {
          method:'POST',
          body:formData
      }).then(res=>res.json()
      ).then(res=>{
        const moreInfo = res.moreInfo || ''
        const lotIndex = moreInfo.indexOf('lot')
        const lot = moreInfo.substring(lotIndex + 4, moreInfo.length)
        const msg = moreInfo.substring(0, lotIndex - 1)
        if (res.data) {
          this.search()
          this.dialogPopup = Object.assign(this.dialogPopup, {
            title: '导入成功',
            centerDialogVisible: true,
            msg: '',
            btnName: '查看详情',
            type: this.value ? '非erp' : 'erp',
            lot
          })
        } else {
          this.dialogPopup = Object.assign(this.dialogPopup, {
            title: '导入失败',
            centerDialogVisible: true,
            msg: msg || '未知错误',
            btnName: '查看详情',
            type: this.value ? '非erp' : 'erp',
            lot
          })
        }
        this.saveBtnLoading({
          import: false
        })
      }).catch(e=>{
          console.log(e, 'error')
          this.dialogPopup = Object.assign(this.dialogPopup, {
            title: '导入失败',
            centerDialogVisible: true,
            msg: `导入失败：${e}`,
            btnName: '我知道了'
          })
          this.saveBtnLoading({
            import: false
          })
          return null;
      })
    },
    seeDetails () {
      this.dialogPopup = Object.assign(this.dialogPopup, {
        centerDialogVisible: false
      })
      if (this.dialogPopup.btnName === '查看详情') {
        this.$router.push({
          path: '/externalOrder/logDetails',
          query: {
            type: this.dialogPopup.type,
            lot: this.dialogPopup.lot
          }
        })
      }
    }
  },
  watch: {
    'dialogPopup.centerDialogVisible': function () {
      if (this.dialogPopup.centerDialogVisible && this.$refs.elDialogRef) {
        this.$refs.elDialogRef.$el.style.zIndex = 99999999
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.elRadio {
  margin-bottom: 10px;
}
.btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.input {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
</style>

