<template>
  <div class="search">
    <div class="inputArea">
      <div class="inputBox">
        导入时间：
        <el-date-picker
          v-model="searchData.time"
          type="datetimerange"
          align="right"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="searchData.pickerOptions">
        </el-date-picker>
      </div>
      <div class="inputBox">
        订单来源：
        <el-select v-model="searchData.orderSource" placeholder="请选择订单来源">
          <el-option
            v-for="item in searchData.orderSourceOption"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </div>
    </div>
    <el-button :type="item.type" size="medium" v-for="item in btn" :key="item.text" @click="handleBtn(item.text)" v-loading="btnLoading[item.label]"
    :style="{margin: item.text === '筛选' ? '0 0 20px 0' : '0 0 20px 20px'}" v-show="item.showList.includes(activeObj.name)">
      {{item.text}}<i :class="item.class" v-if="item.class !== ''"></i>
    </el-button>
    <div style="width: 100%"><TableC ref="tableRef" :handleClick="handleClick" :handleCurrentChange="handleCurrentChange" :handleSizeChange="handleSizeChange" :handleSelect="handleSelect"/></div>
    <el-dialog
      title="温馨提示"
      :visible.sync="centerDialogVisible"
      width="30%"
      center>
      <span v-text="contentDialogVisible"></span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="comfirmDialogVisibleMethod()" v-loading="isComfirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import TableC from '@/views/externalOrder/components/table'
import {mapGetters, mapActions} from 'vuex'
import {dateChangeover, transferredMeaning} from '@/utils'
import {orderExamine} from '@/service/sprintUrlApi'

export default {
  props: {
    seachExamine: {
      required: true,
      type: Function
    },
    activeObj: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      isComfirm: false,
      passOrNgArr: [],
      orderExamineDatas: {
        type: '',
        lot: ''
      },
      centerDialogVisible: false,
      contentDialogVisible: '',
      searchData: {
        orderSource: '2',
        orderSourceOption: [{
          value: '2',
          label: '全部'
        },{
          value: '0',
          label: 'ERP'
        },{
          value: '1',
          label: '非ERP'
        }],
        time: [],
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      },
      btn: [{
        loading: false,
        type: 'success',
        class: 'el-icon-search',
        text: '筛选',
        label: 'search',
        showList: ['0', '1', '2', '3']
      },{
        loading: false,
        type: 'primary',
        class: '',
        text: '通过',
        label: 'import',
        showList: ['0', '3']
      },{
        loading: false,
        type: 'warning',
        class: '',
        text: '拒绝',
        label: 'export',
        showList: ['0', '3']
      }]
    }
  },
  components: {
    TableC
  },
  methods: {
    ...mapActions([
      'savePaginationConfigP',
      'saveTableDatap',
      'saveTableSelectBtnP',
      'saveTableCurrentPage'
    ]),
    search () {
      const data = this.getSearchData()
      this.seachExamine(data)
    },
    handleBtn (type) {
      switch (type) {
        case '筛选':
          this.saveTableCurrentPage(1)
          this.search()
        break
        case '通过':
        break
        case '拒绝':
        break
      }
      if (type === '通过' || type === '拒绝') {
        this.passOrNgArr = []
        this.tableDatap.map(item => {
          if (item.checkState ===  '待审核' && item.checked) {
            this.passOrNgArr.push(item.lot)
          }
        })
        if (this.passOrNgArr.length === 0) {
          this.$message({
            message: `请先选择需要${type}的数据`,
            type: 'warning'
          });
          return false
        }
        this.contentDialogVisible = `确认审核${type}吗？`
        this.centerDialogVisible = true
        this.orderExamineDatas = Object.assign(this.orderExamineDatas, {
          type: type === '通过' ? 'agree' : 'disAgree',
          lot: this.passOrNgArr.join(',')
        })
      }
    },
    getSearchData () {
      return {
        source: this.searchData.orderSource,
        startTime: this.searchData.time ? dateChangeover([this.searchData.time[0],,'dateformat']) : '',
        endTime: this.searchData.time ? dateChangeover([this.searchData.time[1],,'dateformat']) : ''
      }
    },
    handleClick (type, obj) {
      switch(type) {
        case '通过' :
          this.orderExamineDatas = Object.assign(this.orderExamineDatas, {
            type: 'agree',
            lot: obj.row.lot
          })
          this.contentDialogVisible = `确认审核${type}吗？`
          this.centerDialogVisible = true
          break
        case '拒绝' :
          this.orderExamineDatas = Object.assign(this.orderExamineDatas, {
            type: 'disAgree',
            lot: obj.row.lot
          })
          this.contentDialogVisible = `确认审核${type}吗？`
          this.centerDialogVisible = true
          break
        case '查看详情' :
          this.$router.push({
            path: '/externalOrder/logDetails',
            query: {
              type: obj.row.sourceFrom,
              lot: obj.row.lot
            }
          })
          break
      }
    },
    async comfirmDialogVisibleMethod () {
      if (this.isComfirm) return false
      this.isComfirm = true
      if (this.orderExamineDatas.type === 'agree' || this.orderExamineDatas.type === 'disAgree') {
        const config = {
          params: {
            lot: this.orderExamineDatas.lot
          }
        }
        const res = await this.$http(`${orderExamine}/${this.orderExamineDatas.type}`, config);
        if (!res.httpRequestError) {
          if (res.data) {
            this.$message({
              message: '操作成功',
              type: 'success'
            });
            this.search()
          } else {
            this.$message({
              message: res.moreInfo || '请求失败',
              type: "error"
            });
          }
        } else {
          this.$message({
            message: res.httpRequestError || '系统异常',
            type: "error"
          });
        }
      }
      this.isComfirm = false
      this.centerDialogVisible = false
    },
    handleSizeChange (pageSize) {
      this.savePaginationConfigP({
        pageSize
      })
      this.search()
    },
    handleCurrentChange (pageNum) {
      if (sessionStorage.getItem('reduceHttp') - 0) return false
      sessionStorage.setItem('reduceHttp', 1)
      setTimeout(_ => {
        sessionStorage.setItem('reduceHttp', 0)
      }, 99)
      this.saveTableCurrentPage(pageNum)
      this.search()
    },
    handleSelect () {
      let count = 0
      let bl = false
      let tableDatap = JSON.stringify(this.tableDatap)
      tableDatap = JSON.parse(tableDatap)
      if (this.tableSelectBtnP.text === '全选') {
        bl = true
        this.saveTableSelectBtnP({
          text: '取消全选',
          type: 'warning',
          show: true,
          disabled: false
        })
      } else {
        this.saveTableSelectBtnP({
          show: true,
          text: '全选',
          type: 'primary',
          disabled: false
        })
      }
      tableDatap.map(item => {
        if (item.checkState === '待审核') {
          item = Object.assign(item, {
            checked: bl
          })
          if (!item.checked) count++
        }
      })
      if (count === this.tableDatap.length) {
        this.saveTableSelectBtnP({
          show: true,
          text: '全选',
          type: 'primary',
          disabled: false
        })
      }
      this.saveTableDatap(tableDatap)
    }
  },
  computed: {
    ...mapGetters([
      'paginationConfigP',
      'tableCurrentPage',
      'btnLoading',
      'tableDatap',
      'tableSelectBtnP'
    ])
  },
  watch: {
    centerDialogVisible () {
      if (!this.centerDialogVisible) this.isComfirm = this.centerDialogVisible
    } 
  }
}
</script>

<style lang="scss" scoped>
.search {
  display: flex;
  flex-wrap: wrap;
  .inputArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .inputBox {
      margin: 0 0 20px 0;
      .input {
        width: 55%;
      }
    }
  }
}
</style>