<template>
  <div class="search">
    <div class="inputBox" v-for="item in searchData.order" :key="item.text">
      {{item.text}}
      <el-input
        class="input"
        :placeholder="item.placeholder"
        v-model="item.value"
        clearable>
      </el-input>
    </div>
    <div class="inputBox">
      订单来源：
      <el-select v-model="searchData.orderSource" placeholder="请选择订单来源">
        <el-option
          v-for="item in searchData.orderSourceOption"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class="inputBox">
      导入时间：
      <el-date-picker
        v-model="searchData.time"
        type="datetimerange"
        align="right"
        unlink-panels
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
        :picker-options="searchData.pickerOptions">
      </el-date-picker>
    </div>
    <el-button :type="item.type" size="medium" class="btn" v-for="item in btn" :key="item.text"  :disabled="item.label === 'export' && tableDatap.length === 0"
    @click="handleBtn(item.text)" v-loading="btnLoading[item.label] || (item.label === 'export' && downloading)"  v-show="item.isShow.includes(activeObj.name)">
      {{item.text}}<i :class="item.class" v-if="item.class !== ''"></i>
    </el-button>
    <div style="width: 100%"><TableC ref="tableRef" :handleSizeChange="handleSizeChange" :handleCurrentChange="handleCurrentChange" :handleSelect="handleSelect"/></div>
    <Popup ref="Popup" :search="search"/>
  </div>
</template>

<script>
import TableC from '@/views/externalOrder/components/table'
import Popup from '@/views/externalOrder/components/popup'
import {mapGetters, mapActions} from 'vuex'
import {dateChangeover, downloadExcel} from '@/utils'
import {exportErpData, exportNotErpData} from '@/service/sprintUrlApi'

export default {
  props: {
    activeObj: {
      required: true,
      type: Object
    },
    searchExportOrder: {
      required: true,
      type: Function
    }
  },
  data() {
    return {
      downloading: false,
      searchData: {
        order: [{
          value: '',
          text: '订单编号：',
          placeholder: '请输入订单编号'
        },{
          value: '',
          text: '汉薇订单号：',
          placeholder: '请输入汉薇订单号'
        }],
        orderSource: '',
        orderSourceOption: [{
          value: '',
          label: '全部'
        },{
          value: '1',
          label: 'ERP'
        },{
          value: '2',
          label: '非ERP'
        }],
        time: [],
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      },
      btn: [{
        loading: false,
        type: 'success',
        class: 'el-icon-search',
        text: '筛选',
        label: 'search',
        isShow: ['0', '1', '2', '3']
      },{
        loading: false,
        type: 'primary',
        class: 'el-icon-upload el-icon--right',
        text: '订单导入',
        label: 'import',
        isShow: ['0', '1', '2', '3']
      },{
        loading: false,
        type: 'warning',
        class: 'el-icon-download',
        text: '物流批量导出',
        label: 'export',
        isShow: ['3']
      },{
        loading: false,
        type: 'info',
        class: 'el-icon-search',
        text: '日志查询',
        label: 'query',
        isShow: ['0', '1', '2', '3']
      }]
    }
  },
  components: {
    TableC,
    Popup
  },
  methods: {
    ...mapActions([
      'saveBtnLoading',
      'savePaginationConfigP',
      'saveTableCurrentPage',
      'saveTableDatap',
      'saveTableSelectBtnP'
    ]),
    search () {
      const data = this.getSearchData()
      this.searchExportOrder(data)
    },
    async handleBtn (type) {
      let erpOrderList = []
      let noErpOrderList = []
      let exportType = 0
      switch (type) {
        case '筛选':
          this.saveTableCurrentPage(1)
          this.search()
        break
        case '订单导入':
          this.$refs.Popup.changeDialogTableVisible(true)
        break
        case '物流批量导出':
          if (this.downloading) return false
          this.downloading = true
          this.tableDatap.map(item => {
            if (item.leadType ===  'ERP' && item.checked) {
              erpOrderList.push(item.thirdOrderNo)
            } else if (item.leadType ===  '非ERP' && item.checked) {
              noErpOrderList.push(item.hvOrderNo)
            }
          })
          if ((erpOrderList.length > 0 || noErpOrderList.length > 0) && this.tableSelectBtnP.text === '全选') {
            const result = await this.$confirm('您已经勾选了部分数据，请告诉我您的答案', '导出选择', {
              confirmButtonText: '导出勾选数据',
              cancelButtonText: '全部导出',
              type: 'warning'
            }).then(() => {
              return true
            }).catch(() => {
              return false
            });
            if (result) {
              exportType = 1
            }
          }
          erpOrderList = erpOrderList.join(',')
          noErpOrderList = noErpOrderList.join(',')
          if (!exportType || (exportType === 1 && erpOrderList !== '' && erpOrderList != null)) {
            downloadExcel({ // type为0，全部导出，type为1，指定导入
              url: `${exportErpData}?orderList=${erpOrderList}&type=${exportType}`,
              that: this,
              title: 'Erp日志'
            })
          }
          if (!exportType || (exportType === 1 && noErpOrderList !== '' && noErpOrderList != null)) {
            setTimeout(_ => {
              downloadExcel({ // type为0，全部导出，type为1，指定导入
                url: `${exportNotErpData}?orderList=${noErpOrderList}&type=${exportType}`,
                that: this,
                title: '非Erp日志'
              })
            }, 300)
          }
        break
        case '日志查询':
          this.$router.push('/externalOrder/journal')
        break
      }
    },
    getSearchData () {
      return {
        thirdOrderNo: this.searchData.order[0].value.replace(/\s+/g, ''),
        hvOrderNo: this.searchData.order[1].value.replace(/\s+/g, ''),
        source: this.searchData.orderSource,
        startTime: this.searchData.time ? dateChangeover([this.searchData.time[0],,'dateformat']) : '',
        endTime: this.searchData.time ? dateChangeover([this.searchData.time[1],,'dateformat']) : ''
      }
    },
    handleSizeChange (pageSize) {
      this.savePaginationConfigP({
        pageSize
      })
      this.search()
    },
    handleCurrentChange (pageNum) {
      if (sessionStorage.getItem('reduceHttp') - 0) return false
      sessionStorage.setItem('reduceHttp', 1)
      setTimeout(_ => {
        sessionStorage.setItem('reduceHttp', 0)
      }, 99)
      this.saveTableCurrentPage(pageNum)
      this.search()
    },
    handleSelect () {
      let count = 0
      let bl = false
      let tableDatap = JSON.stringify(this.tableDatap)
      tableDatap = JSON.parse(tableDatap)
      if (this.tableSelectBtnP.text === '全选') {
        bl = true
        this.saveTableSelectBtnP({
          text: '取消全选',
          type: 'warning',
          show: true,
          disabled: false
        })
      } else {
        this.saveTableSelectBtnP({
          show: true,
          text: '全选',
          type: 'primary',
          disabled: false
        })
      }
      tableDatap.map(item => {
        item = Object.assign(item, {
          checked: bl
        })
        if (!item.checked) count++
      })
      if (count === this.tableDatap.length) {
        this.saveTableSelectBtnP({
          show: true,
          text: '全选',
          type: 'primary',
          disabled: false
        })
      }
      this.saveTableDatap(tableDatap)
    }
  },
  computed: {
    ...mapGetters([
      'btnLoading',
      'tableDatap',
      'tableSelectBtnP'
    ])
  }
}
</script>

<style lang="scss" scoped>
.search {
  display: flex;
  flex-wrap: wrap;
  .inputBox {
    margin-bottom: 10px;
    .input {
      width: 55%;
    }
  }
  .btn {
    margin: 0 0 10px 20px;
  }
}
</style>


