<template>
  <div class="table">
    <el-table :data="tableDatap" :border="tableConfigP.border" :style="{width: tableConfigP.width || '100%'}" v-loading="tableLoadingP">
      <el-table-column v-for="(item, index) in elTableColumn" :key="index" :fixed="item.fixed" :label="item.label" :width="item.width" >
        <template slot-scope="scope">
          <span v-text="scope.row[item.prop]" v-if="item.type === 'normal'"></span>
          <template v-if="item.type === 'btn'">
            <template v-for="(itemB, indexB) in tableBtnsP">
              <el-button type="text" :key="indexB" v-if="itemB.isShowList.includes(scope.row[itemB.atr]) || itemB.isShowList.includes('Maple')"
              :disabled="itemB.disabled" v-loading="itemB.loading" v-text="itemB.text" :style="{color: itemB.color}" @click="handleClick(itemB.text, scope)"></el-button>
            </template>
          </template>
          <el-checkbox v-model="scope.row.checked" v-if="item.type === 'select'" :disabled="scope.row.disabled"></el-checkbox>
        </template>
      </el-table-column>
    </el-table>
    <div class="footer" :style="{marginTop: paginationConfigP.marginTop, justifyContent: tableSelectBtnP.show ? 'space-between' : paginationConfigP.justifyContent}">
      <el-button :type="tableSelectBtnP.type" v-text="tableSelectBtnP.text" @click="handleSelect" v-show="tableSelectBtnP.show" v-if="paginationConfigP.total > 0" :disabled="tableSelectBtnP.disabled"></el-button>
      <el-pagination
        v-if="paginationConfigP.show && paginationConfigP.total > 0"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="tableCurrentPage"
        :page-sizes="paginationConfigP.PageSizesArr"
        :page-size="paginationConfigP.pageSize"
        :layout="paginationConfigP.layout"
        :total="paginationConfigP.total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  props: {
    handleSizeChange: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handleCurrentChange: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handleClick: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handleSelect: {
      required: false,
      type: Function,
      default: _ => {}
    }
  },
  computed: {
    ...mapGetters([
      'tableDatap',
      'elTableColumn',
      'tableBtnsP',
      'tableConfigP',
      'paginationConfigP',
      'tableLoadingP',
      'tableSelectBtnP',
      'tableCurrentPage'
    ])
  },
  methods: {
    ...mapActions([
      'saveTableCurrentPage'
    ])
  }
}
</script>

<style lang="scss" scoped>
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>


