<template>
<section style='padding:10px;'>
  <form-common ref='formCommon'></form-common>
   <el-row :gutter="10" v-loading="loading">
    <el-col :span="7">
           <span class='tt'>当前日期:</span>
              <el-date-picker
                v-model="valueM"
                type="date"
                :picker-options="pickerOptions"
                placeholder="选择日期" style="width:70%;" @change="changeMonth(valueM)" >
              </el-date-picker>
    </el-col>
    <el-col :span="7" style='display:flex;flex-decoration:row;flex-wrap:wrap'>
             <span class='tt' style='margin-right:5px;'>比较日期:</span>
             <div style='width:70%'>
                <el-date-picker v-model="valueC"  type="month" placeholder="选择日期" style="width:60%;" @change="changeCompare(valueC)"  :picker-options="pickerOptions1">
                </el-date-picker>
                <span style='width:35%;'>{{compareDate}}</span>
             </div>
             
    </el-col>
     <el-col :span="7">
             <span class='tt'>是否包含补单:</span>
              <el-select v-model="type" filterable placeholder="请选择" style='width:70%'>
                <el-option v-for="(item,index) in typeList" :key="index"   :value="item">
                </el-option>
            </el-select>
    </el-col>
     <el-col :span="7" style='margin-left:5%;'>
           <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>
           <el-button type="primary" icon="plus" @click='jumpTo' v-show='isShow'>业绩目标维护</el-button>    
     </el-col>
  </el-row>
</section>
</template>

<script>
import global from '../../common/common.vue'
import FormCommon from '../report/FormCommon.vue'
  export default {
    data() {
      return {
        typeList:['是','否'], //补单
        type:'',              //补单类型
        valueM:'',			      //订单月份
        valueC:'',   //比较日期         
        downloading:false,
        loading: false,
        compareDate:''   ,
        pickerOptions:{
            disabledDate: (time) => {
                return time.getTime() > Date.now() - 8.64e6;
            }
        },
        pickerOptions1:{
            disabledDate: (time) => {
              if(this.valueM === ''){
                 return time.getTime() > Date.now() - 8.64e7;
              }else{
                 return time.getTime() > new Date(this.valueM);
              }
               
            }
        },
        isShow:true
      }
    },
    mounted(){
      this.getIsshow()
    },
    components: {
        FormCommon
    },
    methods:{
        //获取订单月份
        changeMonth:function(value){    
            let date = new Date(value);
            let  Y = date.getFullYear();
            let  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
            let  D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
            this.valueM = Y + '-' + M + '-' + D + '' ; 
            if(M-1>0){
               this.valueC = Y + '-' + (M-1) + '' ;  
            } else{
               this.valueC = Y-1 + '-' + 12 + '' ;  
            }
           
            this.changeCompare(this.valueC);
        },
        //比较日期获取
        changeCompare(val){
           let date = new Date(val);//比较日期
           let  Y = date.getFullYear();
           let  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
           let  D = this.mGetDate(Y,M); //比较日期天数
           let  dang = new Date(this.valueM); // 当前日期
           let  y = dang.getFullYear();
           let  m = (dang.getMonth()+1 < 10 ? '0'+(dang.getMonth()+1) : dang.getMonth()+1);
           let  d = dang.getDate() < 10 ? '0' + dang.getDate() : dang.getDate();
           let  dd = this.mGetDate(y,m) //当前月份的天数
           if(D == dd){
              this.compareDate = Y + '-' + M + '-' + d;
           }else{
             let N = Math.abs(dd-D);
             if( dd > D ){
               if(d<=20){
                 this.compareDate = Y + '-' + M + '-' + d;
               }else{
                  if((d-20) <= N)this.compareDate = Y + '-' + M + '-' + 20;
                  else this.compareDate = Y + '-' + M + '-' + (d - N);
               }
             }else{
                if( d < 20 ){
                  this.compareDate = Y + '-' + M + '-' + d;
                }else{
                  this.compareDate = Y + '-' + M + '-' + (d - 0 + N);
               }
             }
           }  
           
        },
        downloadExcel() {
            let userAgent = navigator.userAgent;
            let type;
            let {store,region,subRegion,valueL,valueS,valueShop}=this.$refs.formCommon;
            let _this = this
            if(valueL === '全部') {
              if( this.valueM === '' || this.type === '' || this.compareDate =='NaN-NaN-NaN') {
                this.$message({
                  message: '大区选择全部，当前日期、比较日期和是否包含补单需要全部选择',
                  type: 'error'
                });
                return false
              }
            }else  if(valueS==='全部'){
              if(this.valueM === '' || valueL === '' || valueS === '' || this.type === ''||this.compareDate =='NaN-NaN-NaN') {
                    this.$message({
                      message: '大区、小区、当前日期、比较日期和是否包含补单需要全部选择',
                      type: 'error'
                    });
                    return false
              }
            }else{
              if(this.type === '' || this.valueM === '' || valueL === '' || valueS === '' || valueShop ===''||this.compareDate =='NaN-NaN-NaN') {
                this.$message({
                  message: '大区、小区、所属店铺、当前日期、比较日期和是否包含补单需要全部选择',
                  type: 'error'
                });
                return false
              }
            }
            //  客户类型选择全部，type为空
            //  大区选择全部，store为空  
            type = _this.type === '是' ? true:false;       
            if(valueL === '全部') { subRegion = null; region = null; store = null};
            if(valueS == '全部')  { subRegion = null;store = null };
            if(valueShop == '全部'){ store = null };
            let page_url;
            let formData = new FormData();
            formData = JSON.stringify({
              regionId : region,
              zoneId : subRegion,
              storeId : store,
              currentDate : _this.valueM,
              diffDate : _this.compareDate,
              hasMakeUp : type
            })
            page_url = global.getPerformance + `?json=${formData}`;
            let req = new XMLHttpRequest();
            req.open("get", page_url, true);
            req.addEventListener("loadstart", function (evt) {
               _this.$message({
                    message: '报表正在生成中，请耐心等待',
                    type: 'info'
                })
              _this.downloading = true
            }, false);
             req.addEventListener("loadend", function (evt) {
                
              _this.downloading = false
            }, false);
            req.addEventListener("ontimeout", function (evt) {  
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onerror", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onabort", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onload", function (evt) {
              _this.$message({
                  message: '数据请求成功，请注意浏览器下载信息',
                  type: 'info'
                })
                this.loading = false
            }, false);
            req.responseType = "blob";
            req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                  let  t = new Date();
                  let  yy = t.getFullYear();
                  let  mm = t.getMonth()+1;
                  let  dd = t.getDate();
                  let date = yy+'年'+mm+'月'+dd+'日';
                  let filename = '业绩刷新报表'+date+'.xlsx'
                  if (typeof window.chrome !== 'undefined') {
                      // Chrome version
                      var link = document.createElement('a');
                      link.href = window.URL.createObjectURL(req.response);
                      link.download = filename;
                      link.click();
                  } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                      // IE version
                      var blob = new Blob([req.response], { type: 'application/force-download' });
                      window.navigator.msSaveBlob(blob, filename);
                  } else {
                      // Firefox version
                      var file = new File([req.response], filename, { type: 'application/force-download' });
                      window.open(URL.createObjectURL(file));
                  }
                }
                if (req.status === 0 || req.status === 500) {
                   _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                      })
                      this.loading = false
                }
            };
            // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
            req.send();
        },
        //根据年月获取天数
        mGetDate(year, month){
            var d = new Date(year, month, 0);
            return d.getDate();
        },
        jumpTo(){
            this.$router.push({
              path: '/defend',
            })
        },
        getIsshow(){
           let userList =JSON.parse(localStorage.getItem('userList'));
            let res = userList.some(item=>{
              return item.page === '/defend'
            })
            this.isShow = res ? true : false;
        }
    }
}
</script>
<style>
  .el-col-7{
      line-height:56px;
  }
  .tt{
      display:inline-block;
      width:100px;
      text-align:right
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>