<template>
    <section style='padding:10px;'>
        <span style='font-size:16px;'>业绩刷新目标维护</span>
        <el-row style='margin:20px auto;'>
            <el-col :span='6'>
                <span class='te'>所属店铺:</span>
                <el-select v-model="city" filterable placeholder="请选择" style="width:60%;">
                    <el-option v-for="item in cityList" :key="item.homeCityId"   :value="item.homeCityName">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="6">
                <span class='te'>目标月份:</span>
                <el-date-picker  v-model="valueM" type="month" placeholder="选择日期" style="width:60%;" @change="changeMonth(valueM)">
                </el-date-picker>  
            </el-col>
            <el-col :span="25" style="margin-top: 10px">
                <el-button type="primary" size="medium" @click='getList'>查询</el-button>
                <el-button icon='plus' type="primary" size="medium" @click="handleEdit('新增')">新增</el-button>
                <el-button type="primary" size="medium" ><a :href='downloadUrl' style='text-decoration:none; color:#fff; '>
                    模板文件下载
                </a></el-button>
                
                <el-button type="primary" size="medium" @click="uploadExcall" icon='upload2'>
                    <input type="file" ref="input" @change="uploadChange" style="display:none">批量导入
                </el-button>
               
                <el-button type="primary" size="medium" @click='back'>返回</el-button>
                  <div style='color:#f00;font-size:12px;margin-top:5px;'>*请一次性导入所有店铺数据</div>
            </el-col>
            <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
            </el-col>
        </el-row>
        <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width: 100%;margin-top:5px;font-size:14px;" border>
            <el-table-column prop="orderMonth" width="auto" label='年月'>
            </el-table-column>
            <el-table-column prop="storeId" label="店铺号" width="auto">
            </el-table-column>
            <el-table-column prop="storeName" label="店铺名称" width="auto">
            </el-table-column>
            <el-table-column prop="aims" label="目标" width="auto">
            </el-table-column>
            <el-table-column label="操作" width='auto'>
            <template slot-scope="scope" style="display:flex">
                 <el-button type='text' @click="handleEdit('编辑',scope.row)">编辑</el-button>
                <el-button type='text'  @click='deleteMsg(scope.row)' style="color:red">删除</el-button>
            </template>
            </el-table-column>
        </el-table>
        <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange">
		</el-pagination>
        <el-dialog :title="title" :visible.sync="dialogVisible" :close-on-click-modal="false" customClass="aWidth">
            <el-row style='margin:10px auto'>
                <span style='display:inline-block;width:80px;text-align:center;'>店铺</span>
                <el-select v-model="obj.city" filterable placeholder="请选择店铺" style="width:70%;" :disabled="disabled">
                    <el-option v-for="item in cityList" :key="item.homeCityId"   :value="item.homeCityName">
                    </el-option>
                </el-select>
            </el-row>
            <el-row style='margin:10px auto'>
                <span style='display:inline-block;width:80px;text-align:center;'>月份</span>
                <el-date-picker  v-model="obj.dates" type="month" placeholder="选择日期" style="width:70%;" @change="changeDate(obj.dates)" :disabled="disabled">
                </el-date-picker>  
            </el-row>
            <el-row style='margin:10px auto'>
                <span style='display:inline-block;width:80px;text-align:center;'>目标</span>
                <el-input type='number' style='width:70%' v-model='obj.input' @keyup.native="handleChange()" placeholder="例：1000.00"  />
            </el-row>
            <el-row style='padding:20px;'>
                <el-button type='primary' size="small"  @click='handleSubmit'>保存</el-button>
                <el-button type='primary' size="small" @click='dialogVisible = false'>取消</el-button>
            </el-row>
        </el-dialog>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import { parse } from 'semver';
export default {
    data(){
        return {
            cityList:[],
            city:'',
            valueM:'',
            tableData:[],
            listLoading:false,
            dialogVisible:false,
            downloadUrl:'',
            pageSize:10,
            total:1,
            currentPage:1,
            title:'',
            obj:{
                id:'',
                city:'',
                dates:'',
                input:'',
            },
            disabled:false
        }
    },
    mounted(){
        this.downloadUrl = global.templateurl;
        var date = new Date();
        this.valueM = date .getFullYear() + '-' +((date .getMonth()+1) < 9 ? '0' +(date.getMonth()+1) : (date.getMonth()+1));
        this.getCityList();
        this.getList();
    },
    methods:{
        handleEdit(val,val1){
           this.dialogVisible = true;
            this.obj = Object.assign({},{id:'', city:'',dates:'',input:''});
           if(val1) {
               let orderMonth = '' + val1.orderMonth;
               this.obj.city = val1.storeName;
               this.obj.dates = orderMonth.substr(0,4) + '-' +  orderMonth.substr(4);
               this.obj.input = val1.aims;
               this.obj.id = val1.id;
           }
           if(val === '新增'){
                this.disabled = false;
                this.title = '新建' ;
           }else {
               this.title = '编辑' ;
               this.disabled = true;
           }
        },
        handleCurrentChange:function(val){
            this.currentPage=val;
            this.getList();
        },
        //获取订单月份
        changeMonth:function(value){    
            var date = new Date(value);
            var  Y = date.getFullYear() + '-';
            var  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
            this.valueM = Y + M + '' ;   
        },  
        changeDate(value){
            let date = new Date(value);
            var  Y = date.getFullYear() + '-';
            var  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
            this.obj.dates = Y + M + '' ;
        },
        handleAdd(){
            this.dialogVisible = true;
        },
        uploadChange(e) {
            let file = e.target.files[0]
            let formData = new FormData()
            formData.append('fileUpload', file)
                fetch(global.importurl, {
                    method: 'POST',
                    body: formData
                }).then(res=>res.json())
                .then(res=> {
                    this.$refs.input.value = '';
                    if(res.isSuccess === 1){
                        this.$message({
                            message:'上传数据成功',
                            type:'info'
                        })
                        this.getList();
                    }else{
                         this.$message({
                            message:res.result,
                            type:'error'
                        })
                    }
                })
                .catch(e => {
                    this.$refs.input.value = '';
                   console.log(e);
                })
        },
        uploadExcall() {
            let input = this.$refs.input
            input.click()
        },
        //获取列表
        getList(){
            let month = this.valueM.replace('-','');
            month = parseInt(month);
            let url ,storeId ='';
            for(let ele of this.cityList){
                if(ele.homeCityName === this.city ) storeId = ele.homeCityId;
            }
            this.city === '' ? url = `?month=${month}&page=${this.currentPage}&limit=${this.pageSize}` :  url = `?month=${month}&page=${this.currentPage}&limit=${this.pageSize}&storeId=${storeId}`
            fetch(global.aims + url,{
                method:'GET',
            }).then(res=>res.json()
            ).then(res=>{
                this.listLoading = false;
                if(res.code === 200){
                    for(let ele of res.list){
                        let cityList =JSON.parse(localStorage.getItem('store')); 
                        for(let el of cityList.storeList){
                            if(ele.storeId === el.homeCityId) {ele.storeName = el.homeCityName; }
                        }    
                    }
                    this.tableData = res.list;
                    this.total= res.totals === 0 ? 1:res.totals;
                }else{
                    this.$message({
                        message:'获取业绩列表失败',
                        type:'error'
                    })
                }
                
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })
        },
        //删除业绩目标
        deleteMsg(val){
            this.$confirm('确认删除该条数据?','提示',{}).then(()=>{
                let url = `?id=${val.id}`
                fetch(global.aims + url,{
                    method:'DELETE',
                    headers: { 'Content-Type' : 'application/x-www-form-urlencoded' }
                }).then(res=>res.json()
                ).then(res=>{
                    this.dialogVisible = false
                    if(res.isSuccess === 1){
                        this.getList();
                    }else{
                        this.$message({
                            message:'删除失败',
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试',
                        type:'error'
                    })
                })
            }).catch(()=>{})
        },
        //返回
        back:function(){
           this.$router.back(-1);
        },
        handleSubmit(){
            if(this.obj.city === ''){
                this.$message({
                    message:'请选择店铺',
                    type:'error'
                })
                return false
            }else if(this.obj.dates === ''){
                this.$message({
                    message:'请选择月份',
                    type:'error'
                })
                return false
            }else if(this.obj.input === ''){
                this.$message({
                    message:'请填写目标',
                    type:'error'
                })
                return false
            }else{
                let storeId,orderMonth,aims;
                for(let ele of this.cityList){
                    if(ele.homeCityName === this.obj.city) storeId = ele.homeCityId;
                }
                orderMonth = this.obj.dates.replace('-','');
                aims = parseFloat(this.obj.input);
                let url,type;
                if(this.title === '新建'){
                     url = `?storeId=${storeId}&orderMonth=${orderMonth}&aims=${aims}`;
                     type = 'POST'
                }else{
                     type = 'PUT'
                     url = `?id=${this.obj.id}&aims=${aims}`
                }
                fetch(global.aims + url,{
                    method:type,
                    headers: { 'Content-Type' : 'application/x-www-form-urlencoded' }
                }).then(res=>res.json()
                ).then(res=>{
                    this.dialogVisible = false
                    if(res.isSuccess === 1){
                        this.getList();
                    }else{
                        this.$message({
                            message:this.title+'失败',
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试',
                        type:'error'
                    })
                })
            }
            
        },
        getCityList(){
            fetch(global.stores,{
                method:'GET'
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess === 1){
                      localStorage.setItem(
                        'store',
                        JSON.stringify({storeList: res.result})
                    )
                    this.cityList = res.result;
                }else{
                    this.$message({
                        message:'获取店铺信息失败',
                        type:'error'
                    })
                }
              
            }).catch(e=>{
                this.$message({
                    message:'网络错误，请重试',
                    type:'error'
                })
            })
        },
        handleChange(){
           this.obj.input = (this.obj.input.match(/^\d*(\.?\d{0,2})/g)[0]) || null
        },
    },
}
</script>
<style>
.te{
    display:inline-block;
    width:80px;
    text-align: right
}
.aWidth{
    width:30%
}
</style>
