<template>
  <el-row :gutter="10" v-loading="loading">
    <el-col :span="7" >
        <span style='display:inline-block;width:100px;text-align:right'>大区:</span>
        <el-select v-model="valueL" filterable placeholder="请选择" @change="changeLargearea('大区')" >
            <el-option v-for="item in largeArea" :key="item.id"  :value="item.departmentname" >
            </el-option>
        </el-select>  
    </el-col> 
     <el-col :span="7" >
        <span style='display:inline-block;width:100px;text-align:right'>小区:</span>
        <el-select v-model="valueS" filterable placeholder="请选择" @change="changeLargearea('小区')" :disabled="disabled1">
            <el-option v-for="item in smallArea" :key="item.id"   :value="item.departmentname">
            </el-option>
        </el-select>  
    </el-col> 
     <el-col :span="7" >
        <span style='display:inline-block;width:100px;text-align:right'>所属店铺:</span> 
        <el-select v-model="valueShop" filterable placeholder="请选择" @change="changeLargearea('所属店铺')" :disabled="disabled2">
            <el-option v-for="item in options" :key="item.id"   :value="item.departmentname">
            </el-option>
        </el-select>  
    </el-col>
  </el-row>
 
</template>

<script>
import global from '../../common/common.vue'
  export default {
    data() {
      return {
        options: [],           //所属店铺数据
        bigAreaId:'',
        smallAreaId:'',
        valueL: '',           //大区
        valueS:'',            //小区
        valueShop:'',         //所属店铺
        largeArea:[],                    //大区数据
        smallArea:[],         //小区数据              
        loading: false,
        disabled1:false,
        disabled2:false,
        region:'',
        subRegion:'',
        store:'', 
      }
    },
    mounted(){
      this.getMessage();  
    },
    methods:{ 
       //  根据大区获取小区   根据小区获取店铺
        changeLargearea:function(type){
          let flag='';
          let [id, compare, arr] = [0, '', []]
          this.valueL === '全部' ? (this.disabled1 = true , this.disabled2 = true) : (this.disabled1 = false,this.disabled2 = false) ;
          if(this.valueL!=='全部' || this.valueS==='全部'){
               switch (type) {
                  case '大区' : 
                     compare = this.valueL; 
                     for (let ele of this.largeArea.values()) {
                        if(ele.departmentname === this.valueL) this.region = ele.id;    
                     }
                     arr = this.largeArea; 
                     flag = "xiaoqu";
                     this.valueS = '';
                     this.valueShop = '';
                     this.smallArea = [];
                     this.options = [];
                     break;
                  case '小区' : 
                    compare = this.valueS; 
                    for (let ele of this.smallArea.values()) {
                        if(ele.departmentname === this.valueS) this.subRegion = ele.id;    
                    }
                    arr = this.smallArea; 
                    this.valueS == '全部' ? this.disabled2 = true : this.disabled2 = false; 
                    flag = "dianpu";
                    this.valueShop = '';
                    this.options = [];
                    break;
                  case '所属店铺' : 
                    compare = this.valueShop; 
                    for (let ele of this.options.values()) {
                        if(ele.departmentname === this.valueShop) this.store = ele.id;    
                    }
                    arr = this.options; 
                    break;
                }
                for (let ele of arr.values()) {
                    if(ele.departmentname === compare) id = ele.id;
                }
                let username = JSON.parse(localStorage.getItem('datas')).u;
                let formData = new FormData();
                formData.append("json", JSON.stringify
                    ({
                        id:id,
                        flag:flag,
                        username : username
                    })
                )
                if(id !==0 ){
                   fetch(global.getSubRegionByIdUrl,
                    {
                        method:"POST",   //请求方法
                        body:formData,   //请求体
                    })
                  .then(res=>res.json()).then(res=>{
                    // console.log(res);
                    switch (type) {
                      case '大区' : 
                        if(res.result.contents.length>1){
                          this.smallArea=[{id:'all',departmentname:'全部'}];
                        }else if(res.result.contents.length===0){
                          this.smallArea = res.result.contents;
                          break;
                        }
                        this.smallArea=this.smallArea.concat(res.result.contents); break;
                      case '小区' :
                        this.options=[];
                        if(res.result.contents.length>1 && res.result.level!=='province'){
                            this.options=[{id:'all',departmentname:'全部'}];
                        } else if(res.result.contents.length===1){
                            this.options = res.result.contents;
                            break;
                        }
                          this.options=this.options.concat(res.result.contents); 
                        break;
                    }      
                  }).catch((e)=>{
                      this.$message({
                        message: '请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                      })
                  })
                }  
          }
        },
        //获取店铺
        changeShop:function(value){
           return  this.valueShop=value;
        },
        //根据用户账号获取权限
          getMessage:function(){
             var account=JSON.parse(localStorage.getItem('datas')).u;
             let formData = new FormData();
          	formData.append("json", JSON.stringify
          		({  
          			username:account,
          		})
            )
            fetch(global.getRegionUrl,{
              method:'POST',
              body:formData
            }).then(res=>res.json()
            ).then(res=>{
              this.loading=false;
              if(res.isSuccess===1){
                 this.largeArea=res.result;
              }
            }).catch(e=>{
              this.loading=false;
            })
         
        }
    },
}
</script>
<style scoped>
  .el-col-7{
      line-height:56px;
  }
  .el-select{
    /* float:right; */
    width:70%;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
