<template>
    <!-- HV对账单 -->
    <section style='padding:10px;'>
        <el-row :gutter="10" v-loading="loading" style='display:flex;flex-decoration:row;align-items:flex-end'>
            <el-col :span="7">
                <span style='display:inline-block;width:100px;text-align:right'>供应商:</span>
                <el-select v-model="type" filterable placeholder="供应商">
                    <el-option v-for="item in supplierList" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span='7'>
                <span style='display:block;width:80px;text-align:right'>开始日期:</span>
                <el-date-picker placeholder="选择日期" v-model='beginDate' style='width:60%' type="date" :picker-options='pickerOptions' ></el-date-picker>
            </el-col>
            <el-col :span='7'>
                <span style='display:block;width:80px;text-align:right'>结束日期:</span>
                <el-date-picker placeholder="选择日期" v-model='endDate' style='width:60%' type="date" :picker-options='pickerOptions' ></el-date-picker>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="7" style='margin-left:5%;'>
                <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import moment from 'moment'
export default {
    data() {
        return {
            supplierList: [{ value: "all", label: '全部' }],
            type: '', //客户类型
            allType:"",
            beginDate:null,
            endDate:null,
            pickerOptions:{
                disabledDate: (time) => {
                    return false;
                }
            },
            downloading: false, //下载加载状态
            loading: false, //加载中状态                                     
        }
    },
    created(){
        let _self = this;
        let userInfoStr = localStorage.getItem('datas')
        let userInfo = JSON.parse(userInfoStr);
        let username = userInfo.u;
        this.$ajax({
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            },
            method:"get",
            url:global.suppliers + `?username=${username}`,
            dataType:"json",
        }).then((req)=>{
            let {result=[]} = req.data;
            if(result && result.length){
                let temp = result.map((item,index)=>{
                    return {
                        value: item.id,
                        label: item.supplierName
                    }
                })
                this.allType=temp.map((item,index)=>{
                    return item.label;
                })
                this.supplierList.push.apply(this.supplierList,temp);
            }
        })
    },
    methods: {
        //下载表格
        downloadExcel() {
            let _this = this;
            if(!this.type){
                this.$message({
                    message: '请先选择供应商',
                    type: 'error'
                });
                return false
            }
            if(!this.beginDate || !moment(this.beginDate).isValid()){
                this.$message({
                    message: '请先选择开始日期',
                    type: 'error'
                });
                return false
            }
            if(!this.endDate || !moment(this.endDate).isValid()){
                this.$message({
                    message: '请先选择结束日期',
                    type: 'error'
                });
                return false
            }
            if(moment(this.endDate).isSame(this.beginDate) || moment(this.endDate).isBefore(this.beginDate)){
                this.$message({
                    message: '结束日期必须大于开始时间',
                    type: 'error'
                });
                return false
            }
            let supplierNames = [];
            if(this.type =="all"){
                supplierNames = this.allType;
            }else{
                supplierNames = [this.supplierList.filter((item,index)=>{
                    if(item.value==this.type) return true;
                })[0].label];
            }
            let formData = JSON.stringify({
                supplierNames,
                beginDate:moment(this.beginDate).format('YYYY-MM-DD HH:mm:ss'),
                endDate:moment(this.endDate).format('YYYY-MM-DD HH:mm:ss')
            })
            let page_url = global.reconciliationOfHv + `?json=${formData}`;
            console.log(page_url);
            this.$ajax({
                headers: {
                  'Content-Type': 'application/excel; charset=UTF-8'
                },
                method:"get",
                url:page_url,
                responseType:"blob",
            }).then((req)=>{
                this.loading = false
                if(req.status !=200){
                    _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                    })
                }
                _this.$message({
                    message: '数据请求成功，请注意浏览器下载信息',
                    type: 'info'
                })
                let t = new Date();
                let yy = t.getFullYear();
                let mm = t.getMonth() + 1;
                let dd = t.getDate();
                let date = yy + '年' + mm + '月' + dd + '日';
                let filename = 'HV对账报表' + date + '.xlsx';
                req = req.data;
                if (typeof window.chrome !== 'undefined') {
                    // Chrome version
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(req);
                    link.download = filename;
                    link.click();
                } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE version
                    var blob = new Blob([req], { type: 'application/force-download' });
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    // Firefox version
                    var file = new File([req], filename, { type: 'application/force-download' });
                    window.open(URL.createObjectURL(file));
                }
            });
        },
    }
};
</script>
<style>
.el-col-7 {
    line-height: 56px;
}

.el-select {
    /* float:right; */
    width: 70%;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
</style>