<template>
    <section style='padding:10px;'>
        <el-row style='margin:20px auto;display:flex;flex-decoration:row;align-items:flex-end'>
            <el-col :span='6'>
                 <span style='display:inline-block;width:80px;text-align:right'>资格证号:</span>
                 <el-input type='number' placeholder="例：1000002" v-model='inputNum' style='width:70%'></el-input>
            </el-col>
            <el-col :span="6">
                <span style='display:inline-block;width:80px;text-align:right'>业绩月:</span>
                <el-date-picker  v-model="valueM" type="month" placeholder="选择日期" style="width:70%;" @change="changeMonth(valueM)" >
                </el-date-picker>  
            </el-col>
            <el-col :span='6'>
               <el-button type="primary" icon="upload" @click="download" :loading="downloading">导出</el-button>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../common/common.vue'
export default {
    data(){
        return {
            inputNum:'',
            valueM:'',
            downloading:false,
        }
    },
    methods:{
          //获取订单月份
        changeMonth:function(value){    
            let date = new Date(value);
            let  Y = date.getFullYear();
            let  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
            this.valueM = Y + '-' + M  + '' ;  
        },
        download(){
            this.inputNum =  this.inputNum.replace(' ','');
            if(this.inputNum !=='' && this.valueM !==''){
                fetch(global.typeUrl + `?cpId=${this.inputNum}&type=sp`,{
                    method:'GET',
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.downloadExcel();
                    }else{
                        this.$message({
                            message:res.errorMsg,
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试!',
                        type:'error'
                    })
                })
            }else{
                this.$message({
                    message:'请输入资格证号或选择时间',
                    type:'error'
                })
            }
        },

        downloadExcel() {
            let userAgent = navigator.userAgent;
            let page_url;
            let formData = new FormData();
            let _this = this;
            formData = JSON.stringify({
                cpid : parseInt(this.inputNum),
                achievementMonth  : this.valueM + '-01'
            })
                page_url = global.leadermarketqueryreport + `?json=${formData}`;
                let req = new XMLHttpRequest();
                req.open("get", page_url, true);
                req.addEventListener("loadstart", function (evt) {
                _this.$message({
                        message: '报表正在生成中，请耐心等待',
                        type: 'info'
                    })
                _this.downloading = true
                }, false);
                req.addEventListener("loadend", function (evt) {
                    
                _this.downloading = false
                }, false);
                req.addEventListener("ontimeout", function (evt) {  
                _this.$message({
                    message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                    type: 'error'
                    })
                    this.loading = false
                }, false);
                req.addEventListener("onerror", function (evt) {
                _this.$message({
                    message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                    type: 'error'
                    })
                    this.loading = false
                }, false);
                req.addEventListener("onabort", function (evt) {
                _this.$message({
                    message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                    type: 'error'
                    })
                    this.loading = false
                }, false);
                req.addEventListener("onload", function (evt) {
                _this.$message({
                    message: '数据请求成功，请注意浏览器下载信息',
                    type: 'info'
                    })
                    this.loading = false
                }, false);
                req.responseType = "blob";
                req.onreadystatechange = function () {
                    if (req.readyState === 4 && req.status === 200) {
                    let  t = new Date();
                    let  yy = t.getFullYear();
                    let  mm = t.getMonth()+1;
                    let  dd = t.getDate();
                    let date = yy+'年'+mm+'月'+dd+'日';
                    let filename = '领导人市场查询表'+date+'.xlsx'
                    if (typeof window.chrome !== 'undefined') {
                        // Chrome version
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(req.response);
                        link.download = filename;
                        link.click();
                    } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        // IE version
                        var blob = new Blob([req.response], { type: 'application/force-download' });
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        // Firefox version
                        var file = new File([req.response], filename, { type: 'application/force-download' });
                        window.open(URL.createObjectURL(file));
                    }
                    }
                    if (req.status === 0 || req.status === 500) {
                    _this.$message({
                            message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                            type: 'error'
                        })
                        this.loading = false
                    }
                };
                // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
                req.send();
           
        },
    }
}
</script>

