<template>
    <!-- 月结报表 -->
    <section style='padding:10px;'>
        <el-row :gutter="10" v-loading="loading" style='display:flex;flex-decoration:row;align-items:flex-end'>
            <el-col :span="7">
                <span style='display:inline-block;width:100px;text-align:right'>订单月份:</span>
                <el-date-picker v-model="valueM" type="month" placeholder="选择日期" style="width:70%;" @change="changeMonth(valueM)">
                </el-date-picker>
            </el-col>
            <el-col :span="7" style='margin-left:5%;'>
                <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import moment from 'moment'

export default {
    data() {
        return {
            type: '', //客户类型
            typeId: '', //客户类型id
            valueM: '', //业绩月
            downloading: false, //下载加载状态
            loading: false, //加载中状态                                     
        }
    },
    components: {
    },
    methods: {
        //获取订单月份
        changeMonth: function(value) {
            var date = new Date(value);
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
            this.valueM = Y + M + '';
        },
        //下载表格
        downloadExcel() {
            let _this = this;
            if(!this.valueM || !moment(this.valueM).isValid()){
                this.$message({
                    message: '请先选择订单月份',
                    type: 'error'
                });
                return false
            }
            let settleMonth = moment(this.valueM).format('YYYYMM');
            let page_url = global.settleOfMonth +`?settleMonth=${settleMonth}`;
            _this.loading = true;
            this.$ajax({
                headers: {
                  'Content-Type': 'application/excel; charset=UTF-8'
                },
                method:"get",
                url:page_url,
                responseType:"blob",
            }).then((req)=>{
                this.loading = false
                if(req.status !=200){
                    _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                    })
                }
                _this.$message({
                    message: '数据请求成功，请注意浏览器下载信息',
                    type: 'info'
                })
                let t = new Date();
                let yy = t.getFullYear();
                let mm = t.getMonth() + 1;
                let dd = t.getDate();
                let date = yy + '年' + mm + '月' + dd + '日';
                let filename = '月结报表' + date + '.xlsx';
                req = req.data;
                if (typeof window.chrome !== 'undefined') {
                    // Chrome version
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(req);
                    link.download = filename;
                    link.click();
                } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE version
                    var blob = new Blob([req], { type: 'application/force-download' });
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    // Firefox version
                    var file = new File([req], filename, { type: 'application/force-download' });
                    window.open(URL.createObjectURL(file));
                }
            });
        },
    }
};
</script>
<style>
.el-col-7 {
    line-height: 56px;
}

.el-select {
    /* float:right; */
    width: 70%;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
</style>