<template>
<section style='padding:10px;'>
    <form-common ref='formCommon'></form-common>
    <el-row :gutter="10" v-loading="loading" style='display:flex;flex-decoration:row;align-items:flex-end'>
      <el-col :span="7" >
        <span style='display:inline-block;width:100px;text-align:right'>客户类型:</span>
        <el-select v-model="type" filterable placeholder="请选择客户类型" @change="changeType(type)">
            <el-option v-for="item in typeList" :key="item.id"   :value="item.value">
            </el-option>
        </el-select> 
      </el-col> 
      <el-col :span='7'>
        <span style='display:inline-block;width:100px;text-align:right'>订单状态:</span>
          <el-select v-model="status" filterable placeholder="请选择订单状态" @change="changeStatus(status)" >
              <el-option v-for="item in statusList" :key="item.id"   :value="item.value">
              </el-option>
          </el-select> 
      </el-col>
      <el-col :span="7">
         <span style='display:inline-block;width:100px;text-align:right'>业绩月:</span>
          <el-date-picker
            v-model="valueM"
            type="month"
            placeholder="选择日期" style="width:70%;" @change="changeMonth(valueM)">
          </el-date-picker>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="7" style='margin-left:5%;'>
            <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>  
      </el-col>
    </el-row>
</section>

 
</template>

<script>
import global from '../../common/common.vue'
import FormCommon from '../report/FormCommon.vue'
  export default {
    data() {
      return {
        typeList:[{id:'all',value:'全部'},
                  {id:'RC',value:'业务代表'},          //客户类型列表    
                  {id:'DS',value:'资深业务代表'},
                  {id:'SP',value:'服务提供商'}], 
        type:'',                                         //客户类型
        typeId:'',                                       //客户类型id
        statusList:[{id:'all',value:'全部'},
                    {id:'0',value:'待付'},               //订单状态
                    {id:'1',value:'完成'},
                    {id:'2',value:'已取消'},
                    {id:'3',value:'待发货'},
                    {id:'4',value:'发货中'},
                    {id:'5',value:'已发货'}
        ],
        status:'',                                       //订单状态
        statusId:'',                                     //订单状态id    
        valueM:'',			                                 //业绩月
        downloading:false,                               //下载加载状态
        loading: false,                                  //加载中状态                                     
      }
    },
     components: {
        FormCommon
    },
    methods:{
        //获取订单状态
        changeStatus:function(value){
          for(var i=0;i<this.statusList.length;i++){
              if(value == this.statusList[i].value)  this.statusId=this.statusList[i].id; 
          }
        },
        //获取客户类型
        changeType:function(value){
          for(var i=0;i<this.typeList.length;i++){
              if(value == this.typeList[i].value)  this.typeId=this.typeList[i].id; 
          }
        },
        //获取订单月份
        changeMonth:function(value){
            var date = new Date(value);
            var  Y = date.getFullYear() + '-';
            var  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
            this.valueM = Y + M + '' ;
        },
        //下载表格
        downloadExcel() {
            let userAgent = navigator.userAgent;
            let status, type,joinDate;
            let {store,region,subRegion,valueL,valueS,valueShop}=this.$refs.formCommon;
            region = this.$refs.formCommon.region;
            subRegion = this.$refs.formCommon.subRegion;
            store = this.$refs.formCommon.store;
            valueL =  this.$refs.formCommon.valueL;
            valueS =  this.$refs.formCommon.valueS;
            valueShop =  this.$refs.formCommon.valueShop;
            let _this = this;   
            if(valueL === '全部'){
              if(this.valueM === '' || this.type === '' || this.status === ''){
                   this.$message({
                    message: '大区选择全部，客户类型、订单状态和业绩月需要全部选择',
                    type: 'error'
                  });
                  return false
              }
            }else if(valueS==='全部'){
                if(this.valueM === '' || this.type === '' || this.status === '' || valueL === '' || valueS === ''){
                   this.$message({
                    message: '大区、小区、客户类型、订单状态和业绩月需要全部选择',
                    type: 'error'
                  });
                  return false
              }
            }else{
                if(this.valueM === '' || this.type === '' || this.status === '' || valueL === '' || valueS === '' || valueShop === ''){
                   this.$message({
                    message: '大区、小区、所属店铺、客户类型、订单状态和业绩月需要全部选择',
                    type: 'error'
                  });
                  return false
                }
            }
            status = this.statusId;              //状态id
            // type = this.typeId;                  //类型id
            this.statusId === 'all' ? status = undefined : status = this.statusId;
            this.typeId === 'all' ? type = undefined : type = this.typeId;
            if(valueL === '全部') { subRegion = undefined; region = undefined; store = undefined};
            if(valueS == '全部'){ subRegion = undefined;store = undefined };
            if(valueShop == '全部'){ store = undefined };
            joinDate=_this.valueM.replace('-','')
            let page_url;
            let formData = new FormData();
            formData = JSON.stringify({
              type:type,
              status:status,
              joinDate:joinDate,
              region:region,
              subRegion:subRegion,
              store:store,
            })
             page_url = global.orderFormUrl + `?json=${formData}`;
            let req = new XMLHttpRequest();
            req.open("get", page_url, true);
            req.addEventListener("loadstart", function (evt) {
               _this.$message({
                    message: '报表正在生成中，请耐心等待',
                    type: 'info'
                })
              _this.downloading = true
            }, false);
            req.addEventListener("loadend", function (evt) {
                
              _this.downloading = false
            }, false);
            req.addEventListener("ontimeout", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onerror", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onabort", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onload", function (evt) {
              _this.$message({
                  message: '数据请求成功，请注意浏览器下载信息',
                  type: 'info'
                })
                this.loading = false
            }, false);
            req.responseType = "blob";
            req.onreadystatechange = function () {
                 if (req.readyState === 4 && req.status === 200) {
                    let  t = new Date();
                    let  yy = t.getFullYear();
                    let  mm = t.getMonth()+1;
                    let  dd = t.getDate();
                    let date = yy+'年'+mm+'月'+dd+'日';
                    let filename = '订单数据表'+date+'.xlsx'
                    if (typeof window.chrome !== 'undefined') {
                      // Chrome version
                      var link = document.createElement('a');
                      link.href = window.URL.createObjectURL(req.response);
                      link.download = filename;
                      link.click();
                  } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                      // IE version
                      var blob = new Blob([req.response], { type: 'application/force-download' });
                      window.navigator.msSaveBlob(blob, filename);
                  } else {
                      // Firefox version
                      var file = new File([req.response], filename, { type: 'application/force-download' });
                      window.open(URL.createObjectURL(file));
                  }
                }
                if (req.status === 0 || req.status === 500) {
                   _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                      })
                      this.loading = false
                }
            };
            req.send();
        },
    }
}
</script>
<style>
  .el-col-7{
      line-height:56px;
  }
  .el-select{
    /* float:right; */
    width:70%;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
