<template>
     <section  style='padding:10px;'>
         <el-row :gutter="10" style='display:flex;flex-decoration:row;align-items:flex-end'>
             <el-col :span='8'>
                 <span style='display:inline-block;width:100px;text-align:right'>月份:</span>
                 <el-date-picker  v-model="valueM" type="month" placeholder="选择月份" style="width:70%;">
              </el-date-picker>
             </el-col>
             <el-col :span='8'>
                  <span style='display:inline-block;width:100px;text-align:right'>付款完成时间:</span>
                   <el-date-picker
                        v-model="completeTime"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期" style='width:70%'>
                    </el-date-picker>
             </el-col>
             <el-col :span='4' style='margin-left:5%;'>
                 <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>
             </el-col>
         </el-row>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
export default {
    data(){
        return{
            valueM:'',
            completeTime:[],
            downloading:false,
        }
    },
    methods:{
        downloadExcel(){
            if(this.completeTime.length === 0 || this.completeTime[0] == null){
                this.$message({
                    message:'请选择付款完成时间',
                    type:'error'
                })
                return false
            }else{
                this.downloading = true;
                let formData = new FormData();
                let username = JSON.parse(localStorage.getItem('datas')).u;
                formData=JSON.stringify({
                    startDate:dayjs(this.completeTime[0]).format('YYYY-MM-DD'),
                    endDate:dayjs(this.completeTime[1]).format('YYYY-MM-DD'),
                    month: this.valueM ? dayjs(this.valueM).format('YYYY-MM') +'-01' : undefined,
                })
                fetch(global.details + `?json=${formData}&username=${username}`, {
                    method: 'GET',
                    mode:'cors',
                    responseType: 'arrayBuffer',
                })
                .then(res=> {
                   let result = res.headers.get('Content-Type').split(';')[0]
                   if(result === 'application/excel'){
                        res.blob().then(blob=>{
                            let url = window.URL.createObjectURL(new Blob([blob],{type:'application/octet-stream'}))
                            let link = document.createElement('a')
                            link.style.display = 'none'
                            link.href = url;
                            let name = decodeURI(res.headers.get('Content-Disposition'));
                            name = name.split('=')[1];
                            link.setAttribute('download', name)
                            document.body.appendChild(link)
                            link.click();
                            this.downloading = false;
                        })
                    }else{
                        this.$message({
                            message:'下载数据失败',
                            type:'error'
                        })
                    }      
                })
                .catch(e => {
                   console.log(e);
                })
            }
        }
    }
}
</script>
