<template>
<section style='padding:10px;'>
     <form-common ref='formCommon'></form-common>
    <el-row :gutter="10" v-loading="loading" style='display:flex;flex-decoration:row;align-items:flex-end'>
      <el-col :span="7" >
        <span style='display:inline-block;width:100px;text-align:right'>客户类型:</span>
        <el-select v-model="type" filterable placeholder="请选择" @change="changeType(type)">
            <el-option v-for="(item,index) in typeList" :key="index"   :value="item">
            </el-option>
        </el-select>  
      </el-col> 
      <el-col :span="7">
        <span style='display:inline-block;width:100px;text-align:right'>加入月份:</span>
          <el-date-picker
            v-model="valueM"
            type="month"
            placeholder="选择日期" style="width:70%;" @change="changeMonth(valueM)">
          </el-date-picker>
      </el-col>
      <el-col :span="7" style='margin-left:3%;'>
            <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>  
      </el-col>
    </el-row>
</section>
</template>
<script>
import global from '../../common/common.vue'
import FormCommon from '../report/FormCommon.vue'
  export default {
    data() {
      return { 
        typeList:['全部','SP','DS'], //客户类型列表
        type:'',              //客户类型
        valueM:'',			      //订单月份   
        downloading:false,
        loading: false,
        disabled1:false,
        disabled2:false,
      }
    },
    components: {
        FormCommon
    },
    methods:{ 
        //获取客户类型
        changeType:function(value){
          return this.type = value;
        },
        //获取订单月份
        changeMonth:function(value){    
            var date = new Date(value);
            var  Y = date.getFullYear() + '-';
            var  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1);
            // var  D = date.getDate() < 10 ? '0'+date.getDate() : date.getDate();
            this.valueM = Y + M  + '' ;   
        },
        downloadExcel() {
            let userAgent = navigator.userAgent;
            let  type;
            let {store,region,subRegion,valueL,valueS,valueShop}=this.$refs.formCommon;
            let _this = this
            if(valueL === '全部') {
              if( this.valueM === '' || this.type === '') {
                this.$message({
                  message: '大区选择全部，客户类型和订单月份需要全部选择',
                  type: 'error'
                });
                return false
              }
            }else  if(valueS === '全部'){
                if(this.type === '' || this.valueM === '' || valueL === '' || valueS === '' ) {
                this.$message({
                  message: '大区、小区、客户类型和订单月份需要全部选择',
                  type: 'error'
                });
                return false
              }
            }else{
              if(this.type === '' || this.valueM === '' || valueL === '' || valueS === '' || valueShop==='') {
                this.$message({
                  message: '大区、小区、所属店铺、客户类型和订单月份需要全部选择',
                  type: 'error'
                });
                return false
              }
            }
            //  客户类型选择全部，type为空
            //  大区选择全部，store为空
            this.type === '全部' ? type = null : type = _this.type
            if(valueL === '全部') { subRegion = null; region = null; store = null};
            if(valueS == '全部'){ subRegion = null;store = null };
            if(valueShop == '全部'){ store = null };
            let page_url;
            let formData = new FormData();
            formData = JSON.stringify({
              customerType:type,
              joinDate:_this.valueM + '-01',
              regionId:region,
              zoneId:subRegion,
              storeId:store,
            })
            page_url = global.customerFormUrl + `?json=${formData}`;
            let req = new XMLHttpRequest();
            req.open("get", page_url, true);
            // req.addEventListener("progress", function (evt) {
            //    console.log(evt.loaded, evt.total)
            // }, false);
            req.addEventListener("loadstart", function (evt) {
               _this.$message({
                    message: '报表正在生成中，请耐心等待',
                    type: 'info'
                })
              _this.downloading = true
            }, false);
             req.addEventListener("loadend", function (evt) {
                
              _this.downloading = false
            }, false);
            req.addEventListener("ontimeout", function (evt) {  
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onerror", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onabort", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
            }, false);
            req.addEventListener("onload", function (evt) {
              _this.$message({
                  message: '数据请求成功，请注意浏览器下载信息',
                  type: 'info'
                })
                this.loading = false
            }, false);
            req.responseType = "blob";
            req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                  let  t = new Date();
                  let  yy = t.getFullYear();
                  let  mm = t.getMonth()+1;
                  let  dd = t.getDate();
                  let date = yy+'年'+mm+'月'+dd+'日';
                  let filename = '加入人员查询表'+date+'.xlsx'
                  if (typeof window.chrome !== 'undefined') {
                      // Chrome version
                      var link = document.createElement('a');
                      link.href = window.URL.createObjectURL(req.response);
                      link.download = filename;
                      link.click();
                  } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                      // IE version
                      var blob = new Blob([req.response], { type: 'application/force-download' });
                      window.navigator.msSaveBlob(blob, filename);
                  } else {
                      // Firefox version
                      var file = new File([req.response], filename, { type: 'application/force-download' });
                      window.open(URL.createObjectURL(file));
                  }
                }
                if (req.status === 0 || req.status === 500) {
                   _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                      })
                      this.loading = false
                }
            };
            // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
            req.send();
        },
    }
}
</script>
<style scoped>
  .el-col-7{
      line-height:56px;
  }
  .el-select{
    /* float:right; */
    width:70%;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
