<template>
    <section  style='padding:10px;'>
         <el-row :gutter="10">
             <el-button type="primary" size="medium" @click='downloadExcel'>下载模板</el-button>
             <el-button type="primary" size="medium" @click="uploadExcal" icon='upload2'>
                 <input type="file" ref="input" @change="uploadChange" style="display:none" :loading="loading">导入数据
            </el-button>
         </el-row>
    </section>
</template>
<script>
import global from '../../common/common.vue'
export default {
    data(){
        return {
            loading:false
        }
    },
    methods:{
        uploadChange(e) {
            this.loading = true;
            let file = e.target.files[0]
            let formData = new FormData()
            formData.append('fileUpload', file)
                fetch(global.simulator, {
                    method: 'POST',
                    body: formData,
                    mode:'cors',
                    responseType: 'arrayBuffer',
                })
                .then(res=> {
                    this.$refs.input.value = ''
                    res.blob().then(blob=>{
                        let url = window.URL.createObjectURL(new Blob([blob],{type:'application/octet-stream'}))
                        let link = document.createElement('a')
                        link.style.display = 'none'
                        link.href = url;
                        let name = decodeURI(res.headers.get('Content-Disposition'));
                        name = name.split('=')[1];
                        link.setAttribute('download', name)
                        document.body.appendChild(link)
                        link.click();
                    })
                })
                .catch(e => {
                   this.$refs.input.value = '';
                   console.log(e);
                })
        },
        uploadExcal() {
            let input = this.$refs.input
            input.click()
        },
        downloadExcel(){
            let userAgent = navigator.userAgent;
            let req = new XMLHttpRequest();
            req.open("get", global.template, true);
            req.responseType = "blob";
            req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                    let filename = '五代业绩模拟器模版'+'.xlsx'
                    if (typeof window.chrome !== 'undefined') {
                        // Chrome version
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(req.response);
                        link.download = filename;
                        link.click();
                    } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        // IE version
                        var blob = new Blob([req.response], { type: 'application/force-download' });
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        // Firefox version
                        var file = new File([req.response], filename, { type: 'application/force-download' });
                        window.open(URL.createObjectURL(file));
                    }
                }
                if (req.status === 0 || req.status === 500) {
                        this.$message({
                            message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                            type: 'error'
                        })
                        this.loading = false
                }
            };
            // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
            req.send();
        },
    }
}
</script>
