<template>
    <section style='padding:0 10px;'>
        <!-- <span>销售周数据统计表</span> -->
        <el-row :gutter='10'>
            <el-col :span='7'>
                <span style='display:inline-block;width:80px;text-align:right'>开始时间:</span>
                <el-date-picker v-model='startDate' style='width:60%' type="date" disabled></el-date-picker>
            </el-col>
            <el-col :span='7'>
                <span style='display:inline-block;width:80px;text-align:right'>当前时间:</span>
                <el-date-picker v-model='nowDate' style='width:60%' type="date" :picker-options='pickerOptions' @change='handleChange'></el-date-picker>
            </el-col>
            <el-col :span='7'>
                <el-button type="primary" icon="upload" :loading="downloading" @click="downloadExcel">导出</el-button>
            </el-col>
            <el-col :span='12'>
                <span style='fontSize:10px;color:red;margin-left:20px;'>*请于每周五12点来导出数据，此时数据是最准确的</span>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
export default {
    data(){
        return {
            startDate:'',
            nowDate:'',
            downloading:false,
            pickerOptions:{
                disabledDate: (time) => {
                    return time.getTime() > Date.now() || time.getDay() !== 5;
                }
            }
        }
    },
    mounted(){
        this.nowDate = Date.now();
    },
    methods:{
        handleChange(){
            let date = new Date(this.nowDate);
            this.startDate = dayjs(date.getTime(date)- 7 * 24 * 3600 * 1000).format('YYYY-MM-DD');
        },
         downloadExcel(){
            if(this.nowDate ==''){
                this.$message({
                    message:'请选择当前时间',
                    type:'error'
                })
                return false
            }else{
                this.downloading = true;
                fetch(global.salesOfWeek + `?beginDate=${this.startDate}&endDate=${dayjs(this.nowDate).format('YYYY-MM-DD')}` , {
                    method: 'GET',
                    mode:'cors',
                    responseType: 'arrayBuffer',
                })
                .then(res=> {
                    if(res.status == 200){
                         res.blob().then(blob=>{
                            let url = window.URL.createObjectURL(new Blob([blob],{type:'application/octet-stream'}))
                            let link = document.createElement('a')
                            link.style.display = 'none'
                            link.href = url;
                            let name = decodeURI(res.headers.get('Content-Disposition'));
                            name = name.split('=')[1];
                            link.setAttribute('download', name)
                            document.body.appendChild(link)
                            link.click();
                            this.downloading = false;
                        })
                    }else{
                        this.$message({
                            message:'下载数据失败',
                            type:'error'
                        })
                    }    
                })
                .catch(e => {
                   console.log(e);
                })
            }
        }
    }
}
</script>
