<template>
	<section>
		<el-row>
			<el-col :span='24' style="margin:10px auto;border-bottom:1px solid gray;">
				<div class="btn" @click="switchL('角色列表')" :class="isRole?'active':''"><router-link to='#' >角色列表</router-link></div>
				<div class="btn" @click="switchL('开通角色')" :class="isAdd?'active':''"><router-link to='#' >开通角色</router-link></div>
			</el-col>
		</el-row>
		<!-- 角色列表 -->
		<div class='roleList' v-show="isRole" v-loading="loading" >
			<el-table :data="tableData" border >
				<el-table-column type="index" width="60">
			    </el-table-column>	
				<el-table-column prop="roleName" label="角色名称"  fit="true"> 
				</el-table-column>
				<el-table-column prop="descpt" label="角色描述"  fit="true"> 
				</el-table-column>
				<el-table-column prop="updateTime" label="添加时间"  fit="true">
					<template slot-scope="scope">
						<i class="el-icon-time"></i>
						<span style="margin-left: 10px">{{ scope.row.updateTime |  changeTime}}</span>
					</template>
				</el-table-column>
				<el-table-column label="操作" fit="true" width='150'>
					<template slot-scope="scope">
						<el-button size="mini" @click="handleEdit(scope.$index,scope.row)">编辑</el-button>
						<el-button  size="mini"  type="danger" @click="handleDelete(scope.$index,scope.row)">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
			<el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange">
			</el-pagination>
		</div>
		<!--编辑界面-->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false" >
			<el-form :model="editForm" label-width="80px"  ref="editForm">
				<el-form-item label="角色编号" >
					<el-input v-model="editForm.id" auto-complete="off" :disabled=true></el-input>
				</el-form-item>
				<el-form-item label="角色名称" >
					<el-input v-model="editForm.roleName" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="角色描述" >
					<el-input v-model="editForm.descpt" auto-complete="off"></el-input>
				</el-form-item>
				<el-form-item label="权限">
					<el-tree :data="editData" ref="tree" :props="editDefaultProps"  show-checkbox  style="border:none;" node-key="id" :default-checked-keys="ids" ></el-tree>
				</el-form-item>
				<el-form-item label="添加时间">
					<template>
						<i class="el-icon-time"></i>
						<span>{{ editForm.updateTime | changeTime}}</span>
					</template>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click.native = "editFormVisible = false">取消</el-button>
				<el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>
		<!-- 开通角色 -->
		<div class="addRole" v-show="isAdd" >
			<el-form ref="form" :model="form" label-width="80px">
				<el-form-item label="角色名称:">
					<el-col :span='6'><el-input v-model="form.roleName"  width="50%"></el-input></el-col>
				</el-form-item>
				<el-form-item label="角色编号:">
					<el-col :span='6'><el-input v-model="form.code" width="50%"></el-input></el-col>
				</el-form-item>
				<el-form-item label="角色描述:">
					<el-input v-model="form.descpt"></el-input>
				</el-form-item>	
				<el-form-item label="权限:">				
					<el-tree :data="data" ref="openUserTree" :props="defaultProps"   show-checkbox  style="border:none;" node-key="id" ></el-tree>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="onSubmit">立即创建</el-button>
					<el-button>取消</el-button>
				</el-form-item>
			</el-form>
		</div>
	</section>
</template>

<script>
 import global from '../../common/common.vue'
 import dayjs from 'dayjs'
  export default {
    data() {
      return {
		loading: false,
		isRole:true,   //角色列表界面
		isAdd:false,    //开通角色界面
        tableData: [],
		form: {
			roleName:'',              //角色名称
			descpt:'',                //角色描述
			code:'',                   //角色编号
			insertUid:1,
		},
		data: [],
		defaultProps: {
			children: 'children',
			label: 'name'
		},
		pageSize:20,
		total:1,
		currentPage:1,
		editFormVisible:false,
		editForm:{
			id:'',
			roleName:'',
			descpt:'',
			
		},
		editData:[],
		editDefaultProps: {
				children: 'children',
				label: 'name'
		},
		permIds:'',
		editLoading:false,
		ids:[],
		deleteRoles : global.deleteRolesUrl,
		addRole : global.addRoleUrl,
		getRolesList : global.getRolesListUrl,
		permList : global.permListUrl,
		updateRoles : global.updateRolesUrl,
	 }
	},
	mounted(){
		this.getList();
		this.getData();
	
	},
	methods: {
		//编辑
		handleEdit(index, row) {
			let rows = row;
			let arr = [];
			this.editFormVisible = true;			
			this.editForm = Object.assign({}, rows);
			this.ids = [];
			let idsObj = [];
			let obj = {};
			setTimeout(()=>{
				this.$refs.tree.setCheckedKeys([]);
				for(let ele of rows.perVOList){
					if(ele.pid !== 0) {
						obj = Object.assign({},{id:ele.id});
						this.ids.push(ele.id)
						idsObj.push(obj);
					}
				}
				this.$refs.tree.setCheckedNodes(idsObj);
			},50)
		},		
		//删除
		handleDelete(index, row) {
			let _this = this;
			this.$confirm('确认修改该记录吗?', '提示', {}).then(() => {
				let id = row.id;
				let formData = new FormData();
				formData.append("json", JSON.stringify
					({  
						id:id,
					})
				)
				fetch( this.deleteRoles ,{
					method:'POST',
					body:formData,
				}).then(res=>res.json()
				).then(res=>{
					if(res.isSuccess === 1){
						_this.$message({
							message:'删除成功',
							type:'success'
						})
						_this.getList();
					}else{
						_this.$message({
							message:res.errorMsg,
							type:'success'
						})
					}
				}).catch(e=>{
					_this.$message({
						message:'网络错误，请重试！',
						type:'error'
					})
				})

			}).catch(() => {
				this.$message({
					type: 'info',
					message: '已取消删除'
				})
			});
			
		},
		//开通角色
		onSubmit:function() {
			let _this = this;
			_this.getCheckedKeys('openUser');
			if(_this.form.roleName === ''){
				_this.$message({
					message:'角色名称不能为空',
					type:'error'
				});
				return false;
			}else if(_this.form.code === ''){
				_this.$message({
					message:'角色编号不能为空',
					type:'error'
				});
				return false;
			}else if(_this.form.descpt === ''){
				_this.$message({
					message:'角色描述不能为空',
					type:'error'
				});
				return false;
			}else if(_this.permIds === ''){
				_this.$message({
					message:'角色权限不能为空',
					type:'error'
				});
				return false;
			}else{
				_this.loading = true;
				let formData = new FormData();
				formData.append("json", JSON.stringify
					({  
						roleName : _this.form.roleName,
						descpt : _this.form.descpt,
						code : _this.form.code,
						insertUid : _this.form.insertUid,
						permIds  : _this.permIds,
					
					})
				)
				fetch(this.addRole,{
					method:'POST',
					body:formData
				}).then(res=>res.json()
				).then(res=>{
					_this.loading = false;
					if(res.isSuccess === 1){
						_this.$message({
							message:'创建成功！',
							type:'success'
						})
						
					}else{
						_this.$message({
							message:res.errorMsg,
							type:'error'
						})
					}
					_this.isRole = true;
					_this.isAdd = false;
					_this.getList();
				}).catch(e=>{
					_this.$message({
						message:'网络错误，请重试！',
						type:'error'
					})
				})
			}
		},
		//根据勾选的选项获取对应的id
		getCheckedKeys(name) {
			switch(name) {
				case 'edit' : this.permIds=this.$refs.tree.getCheckedKeys().join(',');
					break;
				case 'openUser' : this.permIds=this.$refs.openUserTree.getCheckedKeys().join(',');
					break;
			}
		},	
		switchL(value){
			switch(value){
				case '角色列表':this.isRole=true;this.isAdd=false;break;
				case '开通角色':this.isAdd=true;this.isRole=false;break;
			}
		},	
		//获取角色列表
		getList:function(){
			let _this=this;
			this.loading=true;
			let formData = new FormData();
			formData.append("json", JSON.stringify
				({  
					pageSize : this.pageSize,
					currentPage : this.currentPage
				})
			)
			fetch( this.getRolesList,{
				method:'POST',
				body:formData
			}).then(res=>res.json()
			).then(res=>{
				if(res.isSuccess === 1){
					this.loading=false;
					this.tableData = res.result.records;
					this.total = res.result.total;
					
				}else{
					this.$message({
						message:res.errorMsg,
						type:'error'
					})
				}
			}).catch(e=>{
				this.$message({
					message:'网络错误,请重试',
					type:'error'
				})
			})
		},
		handleCurrentChange:function(val){
			this.currentPage=val;
			this.getList();
		},
		//获取权限列表
		getData:function(){
			var _this = this;
			fetch(this.permList,{
				method:'GET'
			}).then(res=>res.json()
			).then(res=>{
				let re=res.result;
				if(res.isSuccess === 1){
					var i, nodes = [];
				for(i = 0; i < re.length; i++){
					nodes.push({
						id: re[i].id,
						parentId: re[i].pid,
						name : re[i].name,
						code : re[i].code,
						descpt : re[i].descpt,
						insertTime : re[i].insertTime,
						istype : re[i].istype === 0 ? '菜单' : '功能',
						page : re[i].page,
						updateTime : re[i].updateTime,
						zindex : re[i].zindex,

					});
					
				}
					_this.data = this.buildTree(nodes);
					_this.editData = _this.data;
				}else{
					this.$message({
						message:res.errorMsg,
						type:'error'
					})
				}
            }).catch(e=>{
				_this.$message({
					message:'网络错误，请稍后重试',
					type:'error'
				})
			})
		},
		//编辑提交
		editSubmit:function(){
			let _this = this;
			_this.getCheckedKeys('edit');
			let formData = new FormData();
			formData.append("json", JSON.stringify
				({  
					id : _this.editForm.id,
					roleName :  _this.editForm.roleName,
					descpt : _this.editForm.descpt,
					code : _this.editForm.code,
					insertUid : 1, 
					permIds :  _this.permIds
				})
			)
		
			fetch(this.updateRoles,{
				method:'POST',
				body:formData
			}).then(res=>res.json()
			).then(res=>{
				_this.loading = false;
				this.editFormVisible = false;
				if(res.isSuccess === 1){
					_this.$message({
						message:'修改成功！',
						type:'success'
					})
					_this.getList();
				}else{
					_this.$message({
						message:res.errorMsg,
						type:'error'
					})
				}
				
			}).catch(e=>{
				_this.$message({
					message:'网络错误，请重试！',
					type:'error'
				})
			})

		},
		//生成树形结构
		buildTree:function(nodes){
			if(Object.prototype.toString.call(nodes) !== '[object Array]' || nodes.length === 0){
				return null;
			}
				
			var i, j, child, parent, hasParent,
			
			//节点数量
			len = nodes.length,
			
			//顶级节点数组，如果只有一个顶级节点，该数组只有一个元素，并且该顶级节点是根节点。
			tops = [];
			
			//如果只有一个节点，则返回该节点
			if(len === 1){
			return nodes[0];
			}
			
			//进行两轮遍历，构造树的父节点和子节点
			for(i = 0; i < len; i++){
			child = nodes[i];
			hasParent = false;
			
			//如果child没有父节点，则child是顶级节点
			if(!child.parentId){
				tops.push(child);
				continue;
			}
			
				for(j = 0; j < len; j++){
					parent = nodes[j];
					
					if(parent.id === child.parentId){
					//添加子节点
					if(!parent.children){
						parent.children = [];
					}
					parent.children.push(child);
					parent.leaf = false;				
					hasParent = true;
					break;
					}
				}
				
			//如果child没有父节点，则child是顶级节点
				if(!hasParent){
					tops.push(child);
				}
			}
			
			//如果只有一个顶级节点，则返回该节点，否则返回数组。
			return tops.length === 1 ? tops[0] : tops;
		}
		
	
	},
	filters:{
		changeTime:function(val){
			return dayjs(val).format('YYYY-MM-DD HH:mm:ss');
		},
	}
  }
</script>
<style>
	.btn{
		display:inline-block;	
		width:100px;
		height:36px;
		text-align:center;
	}
	
	.btn>a{
		line-height:36px;
		text-decoration: none;
		margin-right:5px;
		font-size:16px;
		color:black;
	}
	.active{
		background-color: #409eff;
		z-index:100;
	}
	.active>a{
		color:white;
		z-index:100;
	}
	
</style>