<template>
	<section>
		<!--工具条-->
		<el-col :span="24" class="demo-input-suffix col" >
			<div style="margin-right:20px;"><span class="text">用户名：</span><el-input v-model="username" placeholder="请输入用户名"  style="width:300px;"></el-input></div>
			<div><span class="text">手机号：</span><el-input v-model="mobile" placeholder="请输入手机号" style="width:300px;"></el-input></div>
		</el-col>
		<el-col :span="8" class='col'>
			<span class="text">添加时间：</span>
			<el-date-picker v-model="updateTime" type="date" placeholder="选择日期"> </el-date-picker>		
		</el-col>
		<el-col :span="2" class='col'>
			<el-button @click="resetFields">重置</el-button>
		</el-col>
		<el-col :span="2" class='col'>
			<el-button type="primary" @click="handleSubmit">提交</el-button>
		</el-col>
		<el-col :span="24" class='col'>
			<hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
		</el-col>
		<el-col :span="24" style="margin-top:-8px;margin-bottom:10px;" class='col'>
			<el-col :span="2" class='col'>
				<el-button type="primary" @click='handleAdd'>用户开通</el-button>
			</el-col>
			<el-col :span="2" class='col'>
				<el-button type="primary" @click="batchRemove">解锁</el-button>
			</el-col>	
		</el-col>
		<!--列表-->
		<el-table :data="tableData" highlight-current-row v-loading="listLoading" @selection-change="selsChange" style="width: 100%;" border> 
			<el-table-column type="index" width="60">
			</el-table-column>	
			<el-table-column prop="username" label="用户名" width="100">
			</el-table-column>
			<el-table-column prop="name" label="姓名" width="100">
			</el-table-column>
			<el-table-column prop="mobile" label="手机号" width="auto">
			</el-table-column>
			<el-table-column prop="email" label="邮箱" width="auto">
			</el-table-column>
			<el-table-column prop="roleNames" label="角色名称" width="auto" >
			</el-table-column>
			<el-table-column prop="updateTime" label="添加时间" width="180">
			</el-table-column>
			<el-table-column prop="isJob" label="是否在职" width="auto">
				<template slot-scope="scope">
					<el-switch v-model="scope.row.isJob" :disabled="scope.row.isDel" active-color="#13ce66" inactive-color="#ff4949" on-text="在职" @change="changeState(scope.row.id,scope.row.isJob)">
					</el-switch>
				</template>
			</el-table-column>
			<el-table-column label="操作"  width="160">
				<template slot-scope="scope" style="display:flex"> 
					<el-button size="small" @click="handleEdit(scope.row)"  :disabled="scope.row.isDel">编辑</el-button>
					<el-button type="danger" size="small" @click="handleDel(scope.row)" v-if="!scope.row.isDel">删除</el-button>
					<el-button type="primary" size="small" @click="handleDel(scope.row)" v-if="scope.row.isDel">恢复</el-button>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange">
		</el-pagination>
		<!--编辑界面-->
		<el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false" customClass="addWidth">
			<el-form :model="editForm" label-width="100px" :rules="editFormRules" ref="editForm">
				<el-form-item label="id" >
					<span>{{editForm.id}}</span>
				</el-form-item>
				<el-form-item label="用户名" prop='username'> 
					<el-input v-model="editForm.username" auto-complete="off" style='width:80%'></el-input>
				</el-form-item>
				<el-form-item label="手机号" prop='mobile'>
					<el-input v-model="editForm.mobile" auto-complete="off" style='width:80%'></el-input>
				</el-form-item>
				<el-form-item label="邮箱" prop='email'>
					<el-input v-model="editForm.email" auto-complete="off" style='width:80%'></el-input>
				</el-form-item>
				<el-form-item label="当前角色" >
					<span>{{editForm.roleNames}}</span>
				</el-form-item>
				<el-form-item label="角色名称" >
					<el-select v-model="editForm.selectedRole" multiple placeholder="请选择" style='width:50%'>
						<el-option v-for="item in options" :key="item.id" :label="item.roleName" :value="item.roleName">
						</el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="部门" prop='departmentName'>
					<!-- 块模式 -->
					<select-tree :departmentName="departmentName" :options="departList" :props="defaultProps" style='width:50%' ref="selectTree"/>
				</el-form-item>
				<el-form-item label="添加时间" >
					<i class="el-icon-time"></i>
					<span>{{ editForm.updateTime}}</span>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click.native="editFormVisible = false">取消</el-button>
				<el-button type="primary" @click.native="editSubmit('editForm')" :loading="editLoading">提交</el-button>
			</div>
		</el-dialog>

		<!--新增界面-->
		<el-dialog title="新增" :visible.sync="addFormVisible" :close-on-click-modal="false" customClass="addWidth">
			<el-form :model="addForm" label-width="80px"  ref="editForm">
				<el-form-item label="用户名" required  :rules="{ required: true, message: '用户名不能为空',trigger: 'blur'}">
					<el-input v-model="addForm.username" auto-complete="off"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click.native="addFormVisible = false">取消</el-button>
				<el-button type="primary" @click.native="addSubmit" :loading="addLoading">提交</el-button>
			</div>
		</el-dialog>
	</section>
</template>

<script>
	import util from '../../common/js/util'
	 import dayjs from 'dayjs'
	//import NProgress from 'nprogress'
	import global from '../../common/common.vue'
	import SelectTree from '@/components/SelectTree.vue';
	export default {
		components: {
			SelectTree,
		},
		data() {
			return {
				departmentName:'',
				departList:[],
				defaultProps: {
					parent: 'subcompanyid1',   // 父级唯一标识
					// value: 'id',          // 唯一标识
					label: 'departmentname',       // 标签显示
					children: 'children', // 子级
				},
				isDel : true,
				total : 1,                      //页码
				pageSize : 20,                  //页大小
				currentPage : 1,                //当前页
				username : '',                  //用户名
				mobile : '',                    //手机号
				updateTime :'' ,                //添加日期 
				listLoading : false,
				sels : [],                      //列表选中列
				editFormVisible : false,        //编辑界面是否显示
				editLoading : false,            //编辑界面加载状态
				editFormRules : {               //编辑页面表单验证
					username: [
						{ required: true, message: '请输入用户名', trigger: 'blur' }
					],
					mobile:[
						{ required: true, message: '请输入手机号', trigger: 'blur' }
					],
					email:[
						{ required: true, message: '请输入邮箱', trigger: 'blur' }
					],
					departmentname:[
						{ required: true, message: '请选择部门', trigger: 'blur' }
					],
				},			
				editForm : {
					username:'',
					mobile:'',
					email:'',
					selectedRole:[],
				},                  //编辑界面数据
				addFormVisible : false,         //新增界面是否显示
				addLoading : false,
				addFormRules : {
					name: [
						{ required: true, message: '请输入姓名', trigger: 'blur' }
					]
				},
				//新增界面数据
				addForm : {
					username:''
				},
				//用户信息表
				tableData : [],
				options : [],                    //角色名称下拉框
			}
		},
		methods: {
			//获取用户列表
			getUsers:function(value1,value2,value3) {
				this.listLoading=true;
				let username=value1;
				let mobile=value2;
				let updateTime=value3;
				let formData = new FormData();
				formData.append("json", JSON.stringify
					({
						username : username,
						mobile : mobile,
						updateTime : updateTime,
						currentPage : this.currentPage,
						pageSize : this.pageSize
					})
				)
				fetch(global.getUserListUrl,
              	  {
					method:"POST",   //请求方法
					body:formData,   //请求体
				  }).then(res=>res.json()
				  ).then((res)=>{
					 this.listLoading=false;
					 if(res.isSuccess===1){
						  this.total=Number(res.result.total);              //总数据
						  var re=res.result.records;
						  for(var i=0;i<re.length;i++){
							re[i].updateTime=this.timestampToTime(re[i].updateTime) 
						  }
						  this.tableData = re;
						  for(let ele of this.tableData){
							  ele.isJob = !ele.isJob;
						  }
					 }else if(res.isSuccess===0){
						 this.$message({
								message: '查询不到数据',
								type: 'warning'
						  });
					 }
				  }).catch((e)=>{
					  this.$message({
                        message: '请重新刷新页面',
                        type: 'error'
					  });
					  this.listLoading=false;
				  })		
			},
			//删除
			handleDel: function (row) {
				// console.log(row,1);
				let _this = this;
				let rows = row;
				this.$confirm('确认修改该记录吗?', '提示', {}).then(() => {
					_this.changeCurrent(rows.id);
				}).catch(() => {
					this.$message({
						type: 'info',
						message: '已取消修改'
					})
				});
			},
			//显示编辑界面
			handleEdit: function (row) {
				this.editForm = Object.assign({},{username:'', mobile:'', email:'', selectedRole:[] , departmentname:''});
				let arr = row.roleNames?row.roleNames.split(","):[];
				row.selectedRole = arr;
				this.editForm = Object.assign({}, row);
				this.editFormVisible = true;
				this.departmentName = row.departmentname;
			},
			//显示新增界面
			handleAdd: function () {
				this.addFormVisible = true;
				this.addForm = {
					username:'',
					mobile:'',
					email:'',
					roleNames:'',
					updateTime:'',
					isJob:true
				};
			},
			//编辑
			editSubmit: function (editForm) {
				this.$refs[editForm].validate((valid) => {
					if (valid) {
						this.$confirm('确认提交吗？', '提示', {}).then(() => {
							let roleId= [];
							
							for(let ele of this.options){
								for(let el of this.editForm.selectedRole){
									if(ele.roleName === el) roleId.push(ele.id) 
								}
							}
							this.editLoading = true;
							let department = this.$refs.selectTree.getSelectValue();
							let departmentId;
							for(let ele of this.departList){
								if(ele.departmentname === department){
									departmentId = ele.id;
									break;
								}else{
									if(ele.children){
										for(let el of ele.children){
											if(el.departmentname === department) {
												departmentId = el.id;break;
											}else{
												if(el.children){
													for(let e of el.children){
														if(e.departmentname === department){
															departmentId = e.id;break;
														}else{
															if(e.children){
																for(let child of e.children){
																	if(child.departmentname === department){
																		departmentId = child.id;break;
																	}
																}
															}
														}
													}
												}
											
											}
										}
									}
								}
								
							}
							let formData = new FormData();							
							formData.append("json", JSON.stringify
								({
									id : this.editForm.id,
									username : this.editForm.username,
									mobile : this.editForm.mobile,
									email : this.editForm.email,
									roleId : roleId.join(','),
									updateTime : this.editForm.updateTime,
									isJob : this.editForm.isJob,
									departmentId:departmentId
								})
							)
							fetch(global.updateUsersUrl,{
								method:"POST",   //请求方法
								body:formData,   //请求体
							}).then(res=>res.json()
							).then(res=>{
								this.editLoading = false;
								//console.log(res);
								this.editFormVisible=false;
								if(res.isSuccess==1){
									this.$message({
										message: '修改成功',
										type: 'success'
									 });	 
									this.getUsers(this.username,this.mobile,this.updateTime);
								}else if(isSuccess==0){
									this.$message({
										message: '修改失败',
										type: 'info'
									 });	 
								}else{
									this.$message({
											message: '验证失败，请重新输入！',
											type: 'info'
									});	
								}								
							}).catch((e)=>{	
								this.$message({
									message: '请重新刷新页面',
									type: 'error'
								});
								this.editLoading = false;
							})
						}).catch(()=>{
							
						});
					}else{
						 console.log('error submit!!');
            			 return false;
					}
				});
			},
			//新增
			addSubmit: function () {
				this.$confirm('确认提交吗？', '提示', {}).then(() => {
					this.addLoading = true;
					let formData = new FormData();						
					formData.append("json", JSON.stringify({
							username:this.addForm.username,
					    })
					)
					fetch(global.insertUsersUrl,{
						method:"POST",   //请求方法
						body:formData, 
					}).then(res=>res.json()
					).then(res=>{
						this.addLoading = false;
						this.addFormVisible=false;
						if(res.isSuccess===1){
							this.$message({
								message:res.errorMsg,
								type:'info'
							})
							this.getUsers();
						}else if(res.isSuccess===0){
							this.$message({
								message:'这个用户不存在',
								type:'warning'
							})
						}
					
					}).catch(e=>{
						this.addLoading = false;
						this.addFormVisible = false;
						this.$message({
								message:e,
								type:'error'
							})
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消提交'
						})
					});
				});
					
			},
			selsChange: function (sels) {
				this.sels = sels;
			},
			//批量解锁
			batchRemove: function () {
				var ids = this.sels.map(item => item.id).toString();
				this.$confirm('确认解锁所有账号吗？', '提示', {
					type: 'warning'
				}).then(() => {
					this.listLoading = true;
					let list=[];
					for(var i=0;i<this.tableData.length;i++){
						if(this.tableData[i].isDel===true){
							this.changeCurrent(i);
						}
					}
				}).catch(() => {
					this.$message({
						type: 'info',
						message: '已取消批量解锁'
					})
				});
			},
			//重置
			resetFields:function(){
				this.username='';  //用户名
				this.mobile=''; //手机号
				this.updateTime='' ; //添加日期 
				this.getUsers();
			},
			handleSubmit:function(){
				// console.log(this.updateTime);
				if(this.updateTime===''){
					this.updateTime==='';
				}else{
					var date = new Date(this.updateTime);
					var  Y = date.getFullYear() + '-';
					var  M = (date.getMonth()+1 < 10 ? '0' + (date.getMonth()+1) : date.getMonth() + 1 ) + '-';
					var  D=  (date.getDate() < 10 ? '0' + date.getDate() : date.getDate());
					this.updateTime=Y+M+D; 
			    }
				//console.log(this.username,this.mobile,this.updateTime);	
				this.getUsers(this.username,this.mobile,this.updateTime);
			},
			handleCurrentChange:function(val){
				this.currentPage=val;
				this.getUsers(this.username,this.mobile,this.updateTime);
			},
			//时间戳转为yy-mm-dd hh-mm-ss
			timestampToTime(timestamp) {	
				if(timestamp)	{
					let date = new Date(timestamp);
					return dayjs(date).format('YYYY-MM-DD HH:mm:ss');
				}else{
					return  '';
				}
			},
			//改变是否在职状态
			changeState:function(id,value){
				//console.log(id,value);
				let a=value ? 0:1;
				let formData = new FormData();
				formData.append("json", JSON.stringify
					({  
						id:id,
						is_job:a
					})
				)
				fetch(global.updateUsersJobUrl,{
					method:'POST',
					body:formData
				}).then(res=>res.json()
				).then(res=>{
					if(res.isSuccess==1){
						//console.log(res);
						this.getUsers(this.username,this.mobile,this.updateTime);
						this.$message({
							message:'修改成功',
							type:'success'
						});
					}else{
						this.$message({
							message:'修改失败',
							type:'info'
						});
					}		
				}).catch(e=>{
					this.$message({
                        message: '请重新刷新页面',
                        type: 'error'
                      });
				})
			},
			//修改当前状态
			changeCurrent:function(index){
				    let indexs = index;
					var _this=this;
					let is_del;
					for(let ele of _this.tableData){
						if(ele.id === indexs){ is_del = !ele.isDel;}
					}
					let id = indexs;
					let formData = new FormData();
					formData.append("json", JSON.stringify
						({  
							id : id,
							is_del : is_del
						})
					)
					fetch(global.updateUsersDelUrl,{
						method:'POST',
						body:formData
					}).then(res=>res.json()
					).then(res=>{
						//console.log(res);
						this.getUsers(this.username,this.mobile,this.updateTime);
						if(res.isSuccess==1){	
							this.$message({
								message:'修改成功',
								type:'success'
							});
						}else{
							this.$message({
								message:'修改失败',
								type:'info'
							});
					}		
					}).catch(e=>{
						this.$message({
							message: '请重新刷新页面',
							type: 'error'
						});
						//console.log(1,e);
					})
			},
			//获取角色名称下拉框
			getOptions:function(){
				fetch(global.getRoListUrl,{
					method:'GET',
				}).then(res=>res.json()
				).then(res=>{
					if(res.isSuccess === 1){
						this.options = res.result;
					}else{

					}
				}).catch(e=>{
					this.$message({
						message:'网络错误，请重试！',
						type:'error'
					})
				})
			},
			// 获取部门列表
			getDepartmentList(){
				fetch(global.getAllDepartment,{
					method:'GET'
				}).then(res=>res.json()
				).then(res=>{
					this.departList = res.result;
				}).catch(e=>{
					this.$message({
						message:'获取部门列表失败',
						type:'error'
					})
				})
			}
		},
		mounted() {
			this.getUsers();
			this.getOptions();
			this.getDepartmentList();
		}
	}

</script>

<style>
	.col{padding-bottom: 0px;display:flex;margin-top:10px;}
	.text{
		display:inline-block;
		width:80px;
		line-height:36px
	}
	
	.addWidth{
		width:40%;
	}
</style>