<template>
  <section>
    <div class="hello" style='margin-top:5px;' v-loading='loading'>
      <tree-grid :columns="columns" :tree-structure="true" :data-source="dataSource"></tree-grid>
    </div>
    
  </section>
</template>

<script>
import {TreeGrid} from '../../components/treeTable'
import global from '../../common/common.vue'
export default {
  name: 'hello',
  data () {
    return {
      columns: [
          {
            text: '权限名称',
            dataIndex: 'name'
          },
          {
            text: '权限分类',
            dataIndex: 'istype'
          },
          {
            text: '权限路径',
            dataIndex: 'page'
          },
          {
            text: '权限code',
            dataIndex: 'code'
          },
          {
            text: '优先级',
            dataIndex: 'zindex'
          }
        ],
      dataSource: [],
      addFormVisible:false,    //添加权限显示
      loading:false,
      updateForm:{},
      addForm:{                //添加权限
          name:'',
          istype:'',
          page:'',
          code:'',
          zindex:'',
          descpt:''
      },
      id:'',
      // url:'http://10.128.128.122:8080/auth/'
       getPermissionList : global.getPermissionListUrl
    }
  },
  components: {
    TreeGrid
  },
  mounted(){
     this.getList();
  },
  methods:{
    getList:function(){
      var _this = this;
      _this.loading = true;
			fetch(this.getPermissionList,{
				method:'GET'
			}).then(res=>res.json()
			).then(res=>{
        let re=res.result;
        _this.loading = false;
				if(res.isSuccess === 1){
          var i, nodes = []; 
          for(i = 0; i < re.length; i++){
              nodes.push({
                  id: re[i].id,
                  parentId: re[i].pid,
                  name : re[i].name,
                  code : re[i].code,
                  descpt : re[i].descpt,
                  insertTime : re[i].insertTime,
                  istype : re[i].istype === 0 ? '菜单' : '功能',
                  page : re[i].page,
                  updateTime : re[i].updateTime,
                  zindex : re[i].zindex,
                  pid : re[i].pid
              });
              
          }
           _this.dataSource=this.buildTree(nodes);
          
				}else{
					this.$message({
						message:res.errorMsg,
						type:'error'
					})
				}
            }).catch(e=>{
				_this.$message({
					message:'网络错误，请稍后重试',
					type:'error'
				})
			})
    },
    //权限分类
    transform:function(val){
       return val == 0 ? '菜单' :'功能';
    },
    //生成树形结构
    buildTree:function(nodes){
        if(Object.prototype.toString.call(nodes) !== '[object Array]' || nodes.length === 0){
          return null;
        }
        
        var i, j, child, parent, hasParent,
        
          //节点数量
          len = nodes.length,
        
          //顶级节点数组，如果只有一个顶级节点，该数组只有一个元素，并且该顶级节点是根节点。
          tops = [];
        
        //如果只有一个节点，则返回该节点
        if(len === 1){
          return nodes[0];
        }
        
        //进行两轮遍历，构造树的父节点和子节点
        for(i = 0; i < len; i++){
          child = nodes[i];
          hasParent = false;
          
          //如果child没有父节点，则child是顶级节点
          if(!child.parentId){
            tops.push(child);
            continue;
          }
          
          for(j = 0; j < len; j++){
            parent = nodes[j];
            
            if(parent.id === child.parentId){
              //添加子节点
              if(!parent.children){
                parent.children = [];
              }
              parent.children.push(child);
              parent.leaf = false;				
              hasParent = true;
              break;
            }
          }
          
          //如果child没有父节点，则child是顶级节点
          if(!hasParent){
            tops.push(child);
          }
        }
        
        //如果只有一个顶级节点，则返回该节点，否则返回数组。
        return tops.length === 1 ? tops[0] : tops;
    },
   
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
