<template>
    <section style='padding:10px;'>
        <el-row style='margin:20px auto;'>
            <el-col :span='6'>
                <span class='te'>用户名:</span>
                <el-input v-model='username' style='width:70%'></el-input>
            </el-col>
            <el-col :span="6">
                <span class='te'>sku:</span>
                <el-input v-model='sku' style='width:70%'></el-input>
            </el-col>
            <el-col :span="12">
                <el-button type="primary" size="medium" @click='getList'>查询</el-button>
                <el-button icon='plus' type="primary" size="medium" @click="handleEdit('新增')">新增</el-button>
                <el-button type="primary" size="medium" ><a :href='downloadUrl' style='text-decoration:none; color:#fff; '>
                    模板文件下载
                </a></el-button>
                
                <el-button type="primary" size="medium" @click="uploadExcall" icon='upload2'>
                    <input type="file" ref="input" @change="uploadChange" style="display:none">批量导入
                </el-button>
            </el-col>
            <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
            </el-col>
        </el-row>
        <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width: 100%;margin-top:5px;font-size:14px;" border>
            <el-table-column prop="userName" width="auto" label='用户名'>
            </el-table-column>
            <el-table-column prop="userMobile" label="用户手机号" width="auto">
            </el-table-column>
            <el-table-column prop="sku" label="sku" width="auto">
            </el-table-column>
            <el-table-column label="操作" width='auto'>
            <template slot-scope="scope" style="display:flex">
                 <el-button type='text' @click="handleEdit('编辑',scope.row)">编辑</el-button>
                <el-button type='text'  @click='deleteMsg(scope.row)' style="color:red">删除</el-button>
            </template>
            </el-table-column>
        </el-table>
        <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange">
		</el-pagination>
        <el-dialog :title="title" :visible.sync="dialogVisible" :close-on-click-modal="false" customClass="aWidth">
            <el-form :model="obj" :rules="rules" ref="ruleForm" label-width="100px">
                <el-form-item  label="用户名" prop="userName">
                     <el-input v-model='obj.userName' style='width:68%'></el-input>
                </el-form-item>
                 <!-- <el-form-item  label="手机号" prop="userMobile">
                     <el-input v-model='obj.userMobile' style='width:68%'></el-input>
                </el-form-item> -->
                 <el-form-item  label="sku" prop="sku">
                     <el-input v-model='obj.sku' style='width:68%'></el-input>
                </el-form-item>
                <el-form-item>
                      <el-button type='primary' size="small"  @click="handleSubmit('ruleForm')">保存</el-button>
                <el-button type='primary' size="small" @click='dialogVisible = false'>取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import { parse } from 'semver';
export default {
    data(){
        return {
           username:'',
           sku:'',
            tableData:[],
            listLoading:false,
            dialogVisible:false,
            downloadUrl:'',
            pageSize:20,
            total:1,
            currentPage:1,
            title:'',
            obj:{
                id:'',
                userName:'',
                userMobile:'',
                sku:'',
            },
            rules:{
                userName: [
						{ required: true, message: '请输入用户名', trigger: 'blur' }
                ],
                sku:[
                    { required: true, message: '请输入sku', trigger: 'blur' }
                ],
            },
        }
    },
    mounted(){
        this.downloadUrl = global.downTemplate;
        this.getList();
    },
    methods:{
        handleEdit(val,val1){
           this.dialogVisible = true;
            this.obj = Object.assign({},{id:'', userName:'',userMobile:'',sku:''});
           if(val1) {
               this.obj.userName = val1.userName;
               this.obj.userMobile = val1.userMobile;
               this.obj.sku = val1.sku;
               this.obj.id = val1.id;
           }
           if(val === '新增'){
                this.title = '新建' ;
           }else {
               this.title = '编辑' ;
           }
        },
        handleCurrentChange:function(val){
            this.currentPage=val;
            this.getList();
        },
        uploadChange(e) {
            let file = e.target.files[0]
            let formData = new FormData()
            formData.append('fileUpload', file)
                fetch(global.importExcel, {
                    method: 'POST',
                    body: formData
                }).then(res=>res.json())
                .then(res=> {
                    this.$refs.input.value = '';
                    if(res.isSuccess === 1){
                        this.$message({
                            message:'上传数据成功',
                            type:'info'
                        })
                        this.getList();
                    }else{
                         this.$message({
                            message:res.result,
                            type:'error'
                        })
                    }
                })
                .catch(e => {
                    this.$refs.input.value = '';
                })
        },
        uploadExcall() {
            let input = this.$refs.input
            input.click()
        },
        //获取列表
        getList(){
            // let username = this.username ? this.username : undefined;
            // let sku = this.sku ? this.sku : undefined;
            let url;
            if(this.username ===''){
                if(this.sku ===''){
                    url=`?page=${this.currentPage}&limit=${this.pageSize}`
                }else{
                    url=`?page=${this.currentPage}&limit=${this.pageSize}&sku=${this.sku}`
                }
            }else{
                if(this.sku ===''){
                    url=`?page=${this.currentPage}&limit=${this.pageSize}&username=${this.username}`
                }else{
                    url=`?page=${this.currentPage}&limit=${this.pageSize}&sku=${this.sku}&username=${this.username}`
                }
            }
            fetch(global.page +  url,{
                method:'GET',
            }).then(res=>res.json()
            ).then(res=>{
                this.listLoading = false;
                if(res.code === 200){
                    this.tableData = res.list;
                    this.total= res.totals === 0 ? 1:res.totals;
                }else{
                    this.$message({
                        message:'获取业绩列表失败',
                        type:'error'
                    })
                }
                
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })
        },
        //删除业绩目标
        deleteMsg(val){
            this.$confirm('确认删除该条数据?','提示',{}).then(()=>{
                fetch(global.sku + '/'+val.id,{
                    method:'DELETE',
                    // headers: { 'Content-Type' : 'application/json' }
                }).then(res=>res.json()
                ).then(res=>{
                    this.dialogVisible = false
                    if(res.isSuccess === 1){
                        this.getList();
                    }else{
                        this.$message({
                            message:'删除失败',
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试',
                        type:'error'
                    })
                })
            }).catch(()=>{})
        },
        handleSubmit(ruleForm){
              this.$refs[ruleForm].validate((valid) =>{
                  if (valid) {
                        let type,url;
                        if(this.title === '编辑'){
                            type='PUT';
                            url=JSON.stringify(Object.assign({},{username:this.obj.userName,sku:this.obj.sku,id:this.obj.id}))
                        }else { 
                            type='POST';
                            url='['+JSON.stringify(Object.assign({},{username:this.obj.userName,sku:this.obj.sku}))+']'
                        }
                        fetch(global.sku ,{
                            method:type,
                            body:url,
                            headers: { 'Content-Type' : 'application/json' }
                        }).then(res=>res.json()
                        ).then(res=>{
                            this.dialogVisible = false
                            if(res.isSuccess === 1){
                                this.$message({
                                    message:this.title+'成功',
                                    type:'info'
                                })
                                this.getList();
                            }else{
                                this.$message({
                                    message:res.errorMsg,
                                    type:'error'
                                })
                            }
                        }).catch(e=>{
                            this.$message({
                                message:'网络错误，请重试',
                                type:'error'
                            })
                        })
                  }
              })
            
        },
        handleChange(){
           this.obj.input = (this.obj.input.match(/^\d*(\.?\d{0,2})/g)[0]) || null
        },
    },
}
</script>
<style>
.te{
    display:inline-block;
    width:80px;
}
.aWidth{
    width:30%
}
</style>
