<template>
    <section>
        <el-form ref='form' :model="obj" :rules="rules" label-width="100px">
            <el-form-item label='是否启用:' prop='status' required>
                <el-radio v-model="obj.status" label='是'>是</el-radio>
                <el-radio v-model="obj.status" label='否'>否</el-radio>
            </el-form-item>
            <el-form-item label='起止时间:' required>
                <el-col :span="8">
                <el-form-item prop="startDate">
                    <el-date-picker type="datetime" placeholder="选择日期" v-model="obj.startAt" style="width: 100%;"></el-date-picker>
                </el-form-item>
                </el-col>
                <el-col  :span="1" style='text-align:center'>-</el-col>
                <el-col :span="8">
                <el-form-item prop="endDate">
                    <el-date-picker type="datetime" placeholder="选择日期" v-model="obj.endAt" style="width: 100%;" :picker-options="pickerOptions1"></el-date-picker>
                </el-form-item>
                </el-col>
            </el-form-item>
            <el-form-item label='图片:' required prop='img'>
                <template>
                    <div class="uploadImgBtn" id="uploadImgBtn">
                        <img :src="obj.imgUrl" alt="" style='width:100px;height:100px;' v-show='obj.imgUrl' ref='img'> 
                        <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;' v-show='!obj.imgUrl'></i>
                        <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage" >
                    </div>
                </template>
            </el-form-item>
            <el-form-item label='跳转类型:'  required>
                <el-select v-model='obj.redirectType' @change="func">
                    <el-option  v-for="item in typeList" :key="item.id"  :value="item.name">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label='分类选择:' prop='type' required v-if="obj.redirectType == '分类'">
                <el-button size='medium' type="info" @click='funcBtn' >选择分类</el-button>
            </el-form-item>
            <el-form-item label='URL:' prop='url'>
                <el-input v-model='obj.redirectUrl' style='width:60%'></el-input>
            </el-form-item>
        </el-form>
    </section>
</template>
<script>
import global from '../common/common.vue'
import * as qiniu from 'qiniu-js'
import b64toBlob from 'b64-to-blob'
import getQiniuToken from '../common/js/util.js'
export default {
    props:{
        obj:{
            type:Object,
            required:true,
        },
        changeObj: {
            type: Function,
            required: true
        },
        func:{
            type:Function,
            required:true
        },
        funcBtn:{
            type:Function,
            required:true
        }
    },
    mounted(){
         this.obj = Object.assign(this.obj,{ type : this.obj.type == '' ? '自定义' : this.obj.type})
    },
    data(){
        return {
            rules:{
            },
            typeList:[
                {name:'自定义',id:0},
                {name:'商品',id:1},
                {name:'分类',id:2},
            ],
            uploadImgToken:'',
            bucketHostName:'',
            pickerOptions1:{
                disabledDate: (time) => {
                    return time.getTime() < new Date(this.obj.startAt) - 8.64e7;
                }
            }, 
        }
    },
    methods:{
        fileImage(ev) {
            let file, imgSize, reader;
            file = ev.target.files[0];
            imgSize=file.size/1024;
            let splitTemp;
            reader = new FileReader();
            reader.readAsDataURL(file); // 读出 base64
            reader.onloadend = ()=> {
                this.dataURL1 = reader.result;  // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
                splitTemp = this.dataURL1.split(';base64,')
                let contentType = splitTemp[0].replace('data:', '')
                let b64Data = splitTemp[1]
                let blob = b64toBlob(b64Data, contentType)
                this.uploadPhoto(blob);
               
            }
        },
         // 上传图片到七牛云
        async uploadPhoto(file) {
            let img = new Image()
            img.src = URL.createObjectURL(file)
            let vm = this
            let fileName = Date.now() +  Math.random().toString().slice(-5)
            let putExtra = {
                mimeType: ['image/png', 'image/jpeg', 'image/gif']
            }
            let config = {
                useCdnDomain: true
            }
            let QiniuToken = await getQiniuToken.getQiniuToken();
            if(QiniuToken){          
                let uploadImgToken = QiniuToken.key;     
                const IMG_HOST = QiniuToken.bucketHostName;
                return new Promise((resolve, reject) => {
                    let observable = qiniu.upload(
                        file,
                        fileName,
                        uploadImgToken,
                        putExtra,
                        config
                    )
                    let observer = {
                    error(err) {
                        localStorage.removeItem('QiniuToken')
                        vm.uploadPhoto()
                        console.log('observer error err')
                    },
                    complete(res) {
                        console.log('observer complete')
                        let imgObj={
                            img: IMG_HOST + res.key,
                            width: img.width,
                            height: img.height
                        }
                        vm.obj.imgUrl = imgObj.img;
                        // vm.changeObj({ img: imgObj.img})               
                        vm.$refs.img.src = imgObj.img;
                    }
                }
                    let subscription = observable.subscribe(observer) // 上传开始
                })
            }else{
                this.$message({
                    message:'网络错误，请重试！',
                    type:'error'
                })
            }
            
        },

    }
}
</script>
<style>
 .uploadImgBtn {
        width: 100px;
        height: 100px;
        cursor: pointer;
        position: relative;
        background: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        border: 1px solid #ccc;
        }

.uploadImgBtn .uploadImg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
</style>

