<template>
  <div class="table">
    <el-table
      :data="elTableData"
      :border="elTableBorder"
      style="width: 100%"
      :span-method="objectSpanMethod"
      v-loading="tableLoading"
      :cell-style="cellStyle"
      :header-cell-style="rowClass"
      @selection-change="handleSelectionChange"
      ref="multipleTable"
      :height="elTableData.length === 0 ? 'auto' : tableHeight"
    >
      <template v-for="(itemT, indexT) in elTableColumnData">
        <el-table-column
          :key="indexT"
          :width="itemT.width || 150"
          :type="itemT.type"
          v-if="itemT.isInput || itemT.isCheckbox || itemT.isImg"
          :prop="itemT.target"
          :label="itemT.title"
          :fixed="itemT.fixed"
        >
          <template slot-scope="scope">
            <div style="justify-content: center;display: flex;align-items: center;">
              <el-input
                @focus="handleEdit(scope, 'page' + currentPage + itemT.target + scope.row.pId + scope.row.skucode)"
                v-model="elTableData[scope.$index][itemT.target]"
                v-if="itemT.isInput"
                size="mini"
                :disabled="itemT.disabled"
                @change="inputCheck($event, [scope.row[itemT.target], 'change',itemT.target, scope.$index, scope.row])"
                @blur="inputCheck($event, [scope.row[itemT.target], 'blur',itemT.target, scope.$index, scope.row])"
                :id= "'page' + currentPage + itemT.target + scope.row.pId + scope.row.skucode"
              ></el-input>
              <i
                class="el-icon-edit"
                v-if="itemT.isInput && itemT.isEdit && false"
                :style="{marginLeft:'6px', color: elTableData[scope.$index].borderArr && elTableData[scope.$index].borderArr.includes(itemT.target) && itemT.disabled ? 'red' : 'none'}"
                @click="handleEdit(scope)"
              ></i>
            </div>
            <el-checkbox
              v-model="elTableData[scope.$index][itemT.target]"
              v-if="itemT.isCheckbox"
              :disabled="checkboxDisabled"
              @change="elCheckbox([scope.row[itemT.target], itemT.target, scope.$index, scope.row])"
            ></el-checkbox>
            <img
              v-lazy="elTableData[scope.$index][itemT.target]"
              v-if="itemT.isImg"
              :key="elTableData[scope.$index][itemT.target]"
            >
          </template>
        </el-table-column>
        <el-table-column
          :key="indexT"
          :width="itemT.width || 150"
          :type="itemT.type"
          v-else
          :prop="itemT.target"
          :label="itemT.title"
          :fixed="itemT.fixed"
        ></el-table-column>
      </template>
      <el-table-column
        :label="elTableColumnArea.label"
        :width="elTableColumnArea.width"
        :fixed="elTableColumnArea.fixed"
        v-if="elButtonData.length > 0"
      >
        <template slot-scope="scope">
          <el-button
            v-for="(itemB, indexB) in elButtonData"
            :key="indexB"
            :style="{margin: itemB.isMargin ? 0 : '', color: itemB.color}"
            v-show="itemB.status.includes(elTableData[scope.$index].status || false) || itemB.status === 'btn'"
            :size="itemB.size || 'mini'"
            :type="itemB.type || 'text'"
            v-text="itemB.title"
            :disabled="itemB.disabled || false"
            @click.native.prevent="handleDo([scope.$index, elTableData, itemB.title, scope.row])"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <div style="justify-content: space-between;display: flex;align-items: center;margin: 10px 0;">
      <el-pagination
        :style="{textAlign: location}"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        @prev-click="handlePrevClick"
        @next-click="handleNextClick"
        :current-page.sync="currentPage"
        :page-sizes="pageSizes"
        :page-size="pageSize"
        :layout="layout"
        :total="total"
        v-show="elTableData.length > 0"
      ></el-pagination>
      <div>
        <el-button
          type="warning"
          v-if="othersOption.hasSelect"
          @click.native="handleAll('add')"
          :disabled="elTableData.length === 0"
        >批量添加</el-button>
        <el-button
          type="info"
          v-if="othersOption.hasSelect"
          @click.native="handleAll('cancel')"
          :disabled="elTableData.length === 0"
        >批量取消</el-button>
      </div>
    </div>
    <div style="text-align:right" v-if="othersOption.hasComfirm">
      <el-button type="primary" @click.native="confirm(elTableData.length)">确认</el-button>
    </div>
    <el-dialog title="增加活动库存" :visible.sync="dialogTableVisible" :width="'30%'">
      <div class="content">
        <p>温馨提示：请在当前活动库存【{{nowActiveInventory}}】基础上增减</p>
        <div>
          <span>活动库存：</span>
          <el-input-number v-model="activeInventory"></el-input-number>
        </div>
        <div class="btn">
          <el-button
            type="primary"
            @click="activeInventoryComfirm"
            v-loading="isActiveInventoryLoading"
          >确定</el-button>
          <el-button @click="activeInventoryCancel">取消</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
/**
 * http://element-cn.eleme.io/#/zh-CN/component/table
 * http://element-cn.eleme.io/#/zh-CN/component/pagination
 */
import { localforageDo } from "@/utils";
import { checkActiveInventory } from "@/service/hanweiUrlApi";
import { mapGetters, mapActions } from 'vuex'

export default {
  data() {
    return {
      dialogTableVisible: false,
      currentPage: 1,
      allSelect: false,
      activeInventory: 0,
      nowActiveInventory: 0,
      activeInventoryDatas: [],
      isActiveInventoryLoading: false,
      skucode: ""
    };
  },
  props: {
    checkboxDisabled: {
      required: false,
      type: Boolean,
      default: false
    },
    typeTem: {
      required: false,
      type: String,
      default: ""
    },
    pageSizes: {
      required: false,
      type: Array,
      default: _ => [10, 20, 30, 40, 50, 100]
    },
    elTableData: {
      required: true,
      type: Array
    },
    elTableColumnData: {
      required: true,
      type: Array
    },
    elButtonData: {
      required: false,
      type: Array,
      default: []
    },
    elTableBorder: {
      required: false,
      type: Boolean,
      default: true
    },
    tableLoading: {
      required: true,
      type: Boolean
    },
    othersOption: {
      required: false,
      type: Object,
      default: _ => ({
        hasComfirm: false,
        hasSelect: false
      })
    },
    pageSize: {
      required: false,
      type: Number,
      default: 10
    },
    total: {
      required: true,
      type: Number
    },
    elTableColumnProp: {
      required: false,
      type: String,
      default: "id"
    },
    layout: {
      required: false,
      type: String,
      default: "total, prev, pager, next, jumper"
    },
    location: {
      required: false,
      type: String,
      default: "left"
    },
    elTableColumnFixed: {
      required: false,
      type: Object,
      default: _ => ({
        firstColumn: {
          type: String | Boolean,
          location: true
        },
        lastColumn: {
          type: String | Boolean,
          location: "right"
        }
      })
    },
    elTableColumnArea: {
      required: false,
      type: Object,
      default: _ => ({
        width: 'auto',
        label: "操作"
      })
    },
    handleSizeChange: {
      required: false,
      type: Function,
      default: _ => {}
    },
    objectSpanMethod: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handleCurrentChange: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handlePrevClick: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handleNextClick: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handleDo: {
      required: false,
      type: Function,
      default: _ => {}
    },
    handleSelectionChange: {
      required: false,
      type: Function,
      default: _ => {}
    },
    confirm: {
      required: false,
      type: Function
    },
    handleAll: {
      required: false,
      type: Function
    },
    handleEdit: {
      required: false,
      type: Function
    },
    max: {
      required: false,
      type: Number,
      default: 0
    }
  },
  created() {
    sessionStorage.setItem('currentPage', 1)
  },
  methods: {
    ...mapActions([
      'changeElCheckboxNum',
      'changeStrArr'
    ]),
    changeCurrentPage() {
      this.currentPage = 1;
      sessionStorage.setItem('currentPage', 1)
    },
    cellStyle({ row, column, rowIndex, columnIndex }) {
      return "text-align:center";
    },
    rowClass({ row, rowIndex }) {
      return "text-align:center";
    },
    async toggleSelection() {
      if (this.elTableData) {
        let val = [];
        this.elTableData.forEach(row => {
          val.push(row);
          this.$refs.multipleTable.toggleRowSelection(row, !this.allSelect);
        });
        this.allSelect = !this.allSelect;
        const popupTableSelectData = await localforageDo({
          key: "popupTableSelectData",
          type: "get"
        });
        popupTableSelectData.length > 0
          ? localforageDo({
              key: "popupTableSelectData",
              value: [],
              type: "set"
            })
          : localforageDo({
              key: "popupTableSelectData",
              value: val,
              type: "set"
            });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    async inputCheck(ev, [value, type, str, index, obj]) {
      // 德分point = （商品活动价 activityprice- 兑换价conversionprice）* 10
      let activityData = await localforageDo({
        key: "activityData",
        type: "get"
      });
      let borderArr = this.elTableData[index].borderArr;
      const id = `page${this.currentPage}${str}${obj.pId}${obj.skucode}`
      const inputS = document.getElementById(id)
      this.elTableData[index] = Object.assign(this.elTableData[index], {
        [str]: (Number((value + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
      });
      if (str === 'activityprice' || str === 'conversionprice') {
        let subtrahend = this.elTableData[index]['activityprice']
        let minuend = this.elTableData[index]['conversionprice']
        subtrahend = (Number((subtrahend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
        minuend = (Number((minuend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
        let point = (subtrahend - minuend) * 10
        obj = Object.assign(obj, {
          point: point.toFixed(2) - 0
        })
      }
      if (inputS) inputS.style.border = '1px solid #dcdfe6'
      if (obj.sourceId && str === 'activitystock') {
        for (let [index, item] of activityData.entries()) {
          if (item.skucode === obj.skucode) {
            if (ev.target) ev.target.value = item.activitystock
          }
        }
      } else {
        for (let [index, item] of activityData.entries()) {
          if (item.skucode === obj.skucode) {
            item = Object.assign(item, {
              point: obj.point,
              [str]: (Number((obj[str] + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
            })
          }
        }
      }
      localforageDo({
        key: "activityData",
        value: activityData,
        type: "set"
      });
      localforageDo({
        key: "neWpopupTableSelectData",
        value: activityData,
        type: "set"
      });
    },
    async elCheckbox([bl, atr, index, obj]) {
      let activityData = await localforageDo({
        key: "activityData",
        type: "get"
      });
      if (bl) {
        if (this.elCheckboxNum > this.max) {
          obj = Object.assign(obj, {show: false})
          this.$message({
            showClose: true,
            message: `最多选择${this.max}个首页展示产品`,
            type: 'warning'
          });
        } else {
          if (!this.atrArr.includes(obj.pId)) {
            this.changeStrArr({type: 'push', value: obj.pId})
            this.changeElCheckboxNum({type: 'add'})
          }
        }
      } else {
        this.changeStrArr({type: 'del', value: obj.pId})
      }
      activityData.map((item, i) => {
        if (item.skucode == obj.skucode) {
          item = Object.assign(item, {
            [atr]: obj.show
          });
        }
      });
      localforageDo({ key: "activityData", value: activityData, type: "set" });
      localforageDo({
        key: "neWpopupTableSelectData",
        value: activityData,
        type: "set"
      });
    },
    activeInventoryComfirm() {
      this.isActiveInventoryLoading = true;
      let [value, skucode, type, atr, index] = this.activeInventoryDatas;
      if (this.activeInventory === 0) {
        this.isActiveInventoryLoading = false;
        return false;
      }
      if (this.activeInventory) {
        let activeInventory = this.activeInventory + this.nowActiveInventory;
        activeInventory = activeInventory - 0;
        const config = {
          method: "get",
          params: {
            skuCode: skucode + '',
            count: this.activeInventory
          }
        };
        const res = this.$http(checkActiveInventory, config);
        res.then(async data => {
          if (!data.httpRequestError) {
            if (data.data) {
              let activityData = await localforageDo({
                key: "activityData",
                type: "get"
              });
              this.elTableData.map((item, i) => {
                if (index == i) {
                  activityData[i] = {
                    ...activityData[i],
                    ...{
                      [atr]: activeInventory
                    }
                  };
                  item = Object.assign(item, {
                    [atr]: activeInventory
                  });
                }
              });
              localforageDo({
                key: "activityData",
                value: activityData,
                type: "set"
              });
              this.isActiveInventoryLoading = false;
              this.dialogTableVisible = false;
            } else {
              this.isActiveInventoryLoading = false;
              this.$message({
                message: `操作失败：${data.moreInfo}`,
                type: "error"
              });
            }
          } else {
            this.isActiveInventoryLoading = false;
            this.$message({
              message: data.httpRequestError || "系统异常",
              type: "error"
            });
          }
        });
      } else {
        this.isActiveInventoryLoading = false;
        this.$message({
          showClose: true,
          message: "非法输入，请输入数字",
          type: "error"
        });
      }
    },
    activeInventoryCancel() {
      this.dialogTableVisible = false;
    },
    checkData(datas) {
      let atr = [
        "activityprice",
        "conversionprice",
        "reduction",
        "serverAmt",
        "promoAmt",
        "netWorth",
        "activitystock",
        "buylimit"
      ];
      if (this.skucode !== datas.skucode) {
        atr.map(str => {
          const value = datas[str]
          const currentPage = sessionStorage.getItem('currentPage') || 1
          const id = `page${currentPage}${str}${datas.pId}${datas.skucode}`
          const inputS = document.getElementById(id)
          if (inputS) inputS.style.border = '1px solid #dcdfe6'
          if (!isNaN(Number(value)) && value !== '' && value != null) {
            if (datas[str] < 0) {
              if (inputS) inputS.style.border = '1px solid red'
            } else if (str === 'activityprice') {
              if (datas[str] === 0) {
                if (inputS) inputS.style.border = '1px solid red'
              } else {
                let subtrahend = datas[str]
                let minuend = datas['conversionprice']
                subtrahend = (Number((subtrahend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
                minuend = (Number((minuend + '').replace(/\s+/g, "")) || 0).toFixed(2) - 0
                let point = (subtrahend - minuend) * 10
                point = point.toFixed(2)
                if (point != datas.point) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map((item, i) => {
                    let idS = `page${currentPage}${item}${datas.pId}${datas.skucode}`
                    let input = document.getElementById(idS)
                    if (input) input.style.border = '1px solid red'
                  })
                } else if (datas.point < 0) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map(item => {
                    if (inputS) inputS.style.border = '1px solid red'
                  })
                } else if ((datas.point + '').indexOf('.') > 0) {
                  let arr = ['activityprice', 'conversionprice']
                  arr.map(item => {
                    if (inputS) inputS.style.border = '1px solid red'
                  })
                }
              }
            }
            if (str === 'activitystock') {
              const reg = /^[0-9]\d*$/
              if (!reg.test(datas[str])) {
                if (inputS) inputS.style.border = '1px solid red'
              }else if (datas[str] > datas["stock"]) {
                if (inputS) inputS.style.border = '1px solid red'
              }
            }
          if (str === 'buylimit') {
            const reg = /^[0-9]\d*$/
            if (!reg.test(datas[str])) {
              if (inputS) inputS.style.border = '1px solid red'
            }
          }
        } else {
          if (inputS) inputS.style.border = '1px solid red'
        }
      });
        this.skucode = datas.skucode;
      }
    },
  },
  watch: {
    dialogTableVisible() {
      if (!this.dialogTableVisible) this.activeInventory = 0;
    },
    elTableData() {
      if (this.typeTem === "") {
        this.skucode = ''
        if (this.elTableData.length === 0) {
          this.changeElCheckboxNum({type: 'is', value: 999999999999})
          this.changeStrArr({type: 'is', value: []})
          return false
        }
        setTimeout(_=> {
          this.changeElCheckboxNum({type: 'is', value: 999999999999})
          this.changeStrArr({type: 'is', value: []})
          const activityData = localforageDo({
            key: "activityData",
            type: "get"
          });
          activityData.then(data => {
            if (data) {
              data.map((item, index) => {
                if (!this.atrArr.includes(item.pId) && item.show) {
                  this.changeStrArr({type: 'push', value: item.pId})
                  this.changeElCheckboxNum({type: 'add'})
                }
                this.checkData(item)
              })
            }
          })
        }, 500)
      }
    },
    currentPage() {
      sessionStorage.setItem('currentPage', this.currentPage)
    }
  },
  computed: {
    ...mapGetters([
      'elCheckboxNum',
      'atrArr',
      'tableHeight'
    ])
  }
};
</script>

<style lang="scss" scoped>
img {
  width: 100%;
  height: auto;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .btn {
    margin-top: 20px;
  }
}
</style>


