<template>
    <section>
        <el-form ref='form' :model='content' :inline='true' :rules="rules">
            <div style="display:flex;width:40%;align-items: center;margin-bottom: 10px;">
                <span style="color:red;margin-right:8px">*</span>
                <span style="width:70px">tab名称</span>
                <el-input v-model='content.name' style="display:inline;flex:1"></el-input>
                <el-button type="primary" icon='plus' @click='handleClick' :disabled="content.freshmanProducts.length==30" :loading="loading" style="margin-left:28px">添加商品</el-button>
            </div>
        </el-form>
        <el-table :data='content.freshmanProducts' highlight-current-row border :span-method="arraySpanMethod" v-loading="hasTabLoading">
            <el-table-column label='商品ID' prop='productId' width='auto' fixed>
            </el-table-column>
            <el-table-column label='商品名称' prop='productName' width='120'>
            </el-table-column>
            <el-table-column label='规格' prop='spec' width='90'>
            </el-table-column>
            <el-table-column label='兑换价' prop='sourceConversionPrice' width='80'>
            </el-table-column>
            <el-table-column label='价格' prop='sourcePrice' width='80'>
            </el-table-column>
            <el-table-column label='商品库存' prop='amount' width='80'>
            </el-table-column>
            <el-table-column label='活动销量' prop='sales' width='80'>
            </el-table-column>
            <el-table-column label='活动库存' prop='freshStock' width='100'>
                <template slot-scope="scope">
                    <div v-if="scope.row.newFreshStock != null">
                        <span v-text="scope.row.freshStock"></span>
                        <i  class='el-icon-edit' @click="handleIcon(scope.row)" style='margin-left:2px;' :id="'freshStock' + scope.row.skuCode + activeName"></i>
                    </div>
                    <el-input v-model='scope.row.freshStock' size='mini' v-else @input="inputVerify(scope,'freshStock' + scope.row.skuCode + activeName)" :id="'freshStock' + scope.row.skuCode + activeName"></el-input>
                </template> 
            </el-table-column>
            <el-table-column label='专区价格' prop='freshManPrice' width='120'>
                <template slot-scope='scope'>
                    <el-input v-model='scope.row.freshManPrice' style='width:70%' @input="inputVerify(scope,'freshManPrice' + scope.row.skuCode + activeName)" :id="'freshManPrice' + scope.row.skuCode + activeName" size="mini"></el-input>元
                </template>
            </el-table-column>
            <el-table-column label='专区兑换价' prop="freshConversionPrice" width='150'>
                 <template slot-scope='scope'>
                    <el-input v-model='scope.row.freshConversionPrice' size='mini' style='width:55%' @input="inputVerify(scope,'freshConversionPrice' + scope.row.skuCode + activeName)" :id="'freshConversionPrice' + scope.row.skuCode + activeName"></el-input>元+
                    <div style='height:5px'></div>
                    <el-input v-model='scope.row.freshPoint' size='mini' style='width:55%' disabled></el-input>德分
                </template>
            </el-table-column>
            <el-table-column label='专区立减' prop='reduction' width='120'>
                <template slot-scope='scope'>
                    <el-input v-model='scope.row.reduction' style='width:70%' @input="inputVerify(scope,'reduction' + scope.row.skuCode + activeName)" :id="'reduction' + scope.row.skuCode + activeName" size="mini"></el-input>
                </template>
            </el-table-column>
            <el-table-column label='专区推广费' prop='promoAmt' width='120'>
                <template slot-scope='scope'>
                    <el-input v-model='scope.row.promoAmt' style='width:70%' @input="inputVerify(scope,'promoAmt' + scope.row.skuCode + activeName)" :id="'promoAmt' + scope.row.skuCode + activeName" size="mini"></el-input>
                </template>
            </el-table-column>
            <el-table-column label='专区服务费' prop='serverAmt' width='120'>
                <template slot-scope='scope'>
                    <el-input v-model='scope.row.serverAmt' style='width:70%' @input="inputVerify(scope,'serverAmt' + scope.row.skuCode + activeName)" :id="'serverAmt' + scope.row.skuCode + activeName" size="mini"></el-input>
                </template>
            </el-table-column>
            <el-table-column label='专区净值' prop='netWorth' width='120'>
                <template slot-scope='scope'>
                    <el-input v-model='scope.row.netWorth' style='width:70%' @input="inputVerify(scope,'netWorth' + scope.row.skuCode + activeName)" :id="'netWorth' + scope.row.skuCode + activeName" size="mini"></el-input>
                </template>
            </el-table-column>
            <el-table-column label='操作' width='50' fixed="right">
                <template slot-scope='scope'>
                    <el-button type='text' @click='handleDelete(scope)' style="color:red">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </section>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import {subtraction} from '@/utils'

export default {
    props:{
        hasTabLoading: {
            required: true,
            type: Boolean
        },
        arraySpanMethod: {
            required: true,
            type: Function
        },
        tabs:{
            type: String,
            required: true
        },
        handleAdd:{
            type: Function,
            required: true
        },
        content:{
            type:Object,
            required:true
        },
        activeName:{
            type:String,
            required:true
        },
        deleteActivedIndex: {
            type:Function,
            required:true
        },
        loading:{
            type:Boolean,
            required:true,
        },
        activeInventoryComfirm: {
            type: Function,
            required: true
        },
        mergeCell: {
            type: Function,
            required: true
        }
    },
    data(){
        return {
            rules:{
                name:[
                    //  { required: true, message: '请输入活动名称', trigger: 'blur' },
                ]
            },
        }
    },
    computed: {
        ...mapGetters([
            'freshmanProducts',
            'sendFreshmanProducts'
        ]),
    },
    methods:{
        ...mapActions([
            'saveFreshmanProducts'
        ]),
        handleDelete(row) {
            this.$confirm('确定删除该商品？','提示',{
            }).then(async () => {
                let intIndex = 0
                let freshmanProductSkusArr = []
                switch (this.activeName) {
                    case 'first': intIndex = 1;
                        break;
                    case 'second': intIndex = 2;
                        break;
                    case 'third': intIndex = 3;
                        break;
                    case 'fourth': intIndex = 4;
                        break;
                }
                let dataMap = JSON.parse(JSON.stringify(this.sendFreshmanProducts))
                for (let [index, item] of Object.entries(dataMap[`tabname${intIndex}`].freshmanProducts)) {
                    if (item.freshmanProductSkus) {
                        for (let [int, ele] of Object.entries(item.freshmanProductSkus)) {
                            if (ele.skuCode === row.row.skuCode) {
                                ele = Object.assign(ele, {
                                    status: 0
                                })
                                freshmanProductSkusArr = item.freshmanProductSkus
                            }
                        }
                    }
                }
                this.deleteActivedIndex(row.row.productId, freshmanProductSkusArr)
                this.saveFreshmanProducts({ type: 'sendFreshmanProducts', value: dataMap })
                let atrArr = ['freshStock', 'freshManPrice', 'freshConversionPrice', 'reduction', 'promoAmt', 'serverAmt', 'netWorth']
                atrArr.map(item => {
                    let id = item + row.row.skuCode + this.activeName
                    let input = document.getElementById(id)
                    if(input) input.style.border = '1px solid #dcdfe6'
                })
                this.content.freshmanProducts.splice(row.$index, 1)
                this.mergeCell(this.content.freshmanProducts, 'freshmanProducts')
             }).catch(()=>{})
        },
        handleClick(){
            this.handleAdd();
        },
        inputVerify(scope, id) {
            let atr = scope.column.property
            let value = scope.row[atr]
            let intIndex = 0
            let freshPoint = null
            let input = document.getElementById(id)
            input.style.border = '1px solid #dcdfe6'
            switch(this.activeName) {
                case 'first' : intIndex = 1;
                break;
                case 'second' : intIndex = 2;
                break;
                case 'third' : intIndex = 3;
                break;
                case 'fourth' : intIndex = 4;
                break;
            }
            if (scope.row.freshManPrice != null && scope.row.freshConversionPrice != null && scope.row.freshManPrice != '' && scope.row.freshConversionPrice != '') {
                let subtrahend = scope.row.freshManPrice
                let minuend = scope.row.freshConversionPrice
                scope.row.freshPoint = (subtraction(subtrahend, minuend)) * 10
                freshPoint = (subtraction(subtrahend, minuend)) * 10
            }
            let dataMap = JSON.parse(JSON.stringify(this.sendFreshmanProducts))
            for(let [index, item] of Object.entries(dataMap[`tabname${intIndex}`].freshmanProducts)) {
                if (item.freshmanProductSkus) {
                    for (let [int, ele] of Object.entries(item.freshmanProductSkus)) {
                        if (ele.skuCode === scope.row.skuCode) {
                            ele = Object.assign(ele, {
                                [atr] : value == null ? null : (value + '').replace(/ /g,'') === '' ? (value + '').replace(/ /g,'') : value - 0,
                                freshPoint
                            })
                            break
                        }
                    }
                }
            }
            this.saveFreshmanProducts({type: 'sendFreshmanProducts', value: dataMap})
        },
        handleIcon(data) {
            this.activeInventoryComfirm(true, data)
        }
    }
}
</script>
<style>
.tabs{
    width:120%;
}
</style>
