<template>
  <div class="videoBox">
    <!-- <img :src="poster" @load="imgLoad($event)" v-if="poster.length > 1"/>
    <video-player class="vjs-custom-skin" :options="playerOptions" ref="videoPlayer"
    @play="onPlayerPlay($event)" @pause="onPlayerPause($event)" @ended="onPlayerEnded($event)"  ></video-player>
    <div class="playIcon" v-show="isPlayIcon" @click="play">
      <div class="triangle_border_right">
          <span></span>
      </div>
    </div> -->
    <video
    id="my-video"
    :src="video_url"
    controls = ""
    :poster="poster"
    preload="auto"
    webkit-playsinline="true"
    playsinline="true"
    x-webkit-airplay="allow"
    x5-playsinline
    x5-video-player-type="h5"
    x5-video-player-fullscreen="true"
    x5-video-orientation="portraint"
    style="object-fit:fill"
    
    >
   </video>
  </div>
</template>
<script>
require('video.js/dist/video-js.css')
require('vue-video-player/src/custom-theme.css')
require('videojs-contrib-hls.js/src/videojs.hlsjs')
require('@/styles/videoPlayS.css')
let playState = 'play', player_play = 0, player_pause = 0
export default {
  props: {
    video_url: {
      type: String,
      required: true
    },
    utils: {
      type: Object,
      required: false
    },
    poster: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      playerOptions: {
        height: '360',
        autoplay: false,
        muted: false,
        language: 'en',
        sources: [{
          type: 'video/mp4',
          src: this.video_url
        },
        {
          type: 'video/webm',
          src: this.video_url
        },
        {
          type: 'video/ogg',
          src: this.video_url
        }],
        poster: this.poster.length > 1 ? this.poster : '',
        controlBar: {
          fullscreenToggle: true
        }
      },
      isPlayIcon: true
    }
  },
  mounted() {
  },
  methods: {
    onPlayerPlay() {
      if (playState === 'play') {
        clearTimeout(player_play)
        clearTimeout(player_pause)
        player_play = setTimeout(() => {
          this.$refs.videoPlayer.player.play()
          this.$refs.videoPlayer.player.requestFullscreen()
          playState = 'pause'
          this.isPlayIcon = false
        }, 33)
      }
    },
    onPlayerPause() {
      if (playState === 'pause') {
        clearTimeout(player_pause)
        clearTimeout(player_play)
        player_pause = setTimeout(() => {
          this.$refs.videoPlayer.player.pause()
          playState = 'play'
          this.isPlayIcon = true
        }, 33)
      }
    },
    onPlayerEnded() {
      this.isPlayIcon = true
    },
    imgLoad(ev) {
      this.playerOptions = Object.assign(this.playerOptions, {height: ev.target.clientHeight})
    },
    play() {
      this.$refs.videoPlayer.player.play()
      this.isPlayIcon = false
    }
  },
  created() {
    // if (this.utils.isAndroid) this.playerOptions = Object.assign(this.playerOptions, {controlBar: {fullscreenToggle: true}})
  },
  beforeDestroy() {
    playState = 'play'
  }
}
</script>
<style lang="scss" scoped>
@function px2rem ($px) {
  @return $px / 750px * 10rem;
}
.videoBox {
    position: relative;
    img {
      width: 100%;
      position: absolute;
      z-index: -999;
    }
  }
  // .playIcon{
  //   position: absolute;
  //   width: px2rem(110px);
  //   height: px2rem(110px);
  //   background: rgba(52,52,52, .6);
  //   top: 40%;
  //   left: 45%;
  //   border-radius: 15%;
  //   z-index: 999;
  //   .triangle_border_right{
  //     width: 0;
  //     height: 0;
  //     border-width:px2rem(20px) 0 px2rem(20px) px2rem(40px);
  //     border-style:solid;
  //     border-color:transparent transparent transparent rgba(255,255,255,1);
  //     position: absolute;
  //     top: 33%;
  //     left: 35%;
  //   }
  // }
  .video-js .vjs-big-play-button {
 display: none !important;
}
.vjs-tech {
  position: relative !important;
}

.vjs-custom-skin > .video-js .vjs-big-play-button {
  display: none !important;
}
#my-video{
  width:100%;
}
</style>
