<template>
    <div class="hotSearch">
        <span>词条名称：</span>
        <el-input placeholder="请输入关键字搜索" v-model="key" clearable style="width: 30%; margin-right: 25px;"></el-input>
        <el-button v-for="(item, index) in btn" :key="index" :type="item.type" style="margin-right: 25px"
         :disabled="item.disabled" v-loading="item.loading" @click="btnClick(item)">
            {{item.name}}<i :class="item.class"></i>
         </el-button>
    </div>
</template>

<script>
import {searchWord} from '@/service/hanweiUrlApi'

export default {
    data() {
        return {
            key: '',
            btn: [{
                type: 'primary',
                class: 'el-icon-search',
                loading: false,
                name: '搜索',
                disabled: false
            },{
                type: 'success',
                class: 'el-icon-plus',
                loading: false,
                name: '新增词条',
                disabled: false
            },{
                type: 'info',
                class: 'el-icon-search',
                loading: false,
                name: '词条数',
                disabled: false
            },{
                type: 'danger',
                class: 'el-icon-delete',
                loading: false,
                name: '批量删除',
                disabled: false
            }]
        }
    },
    methods: {
        btnClick (item) {
            this.search({})
        },
        async search ({type, key, pageable}) {
            const config = {
                params: {
                    type: type || 'override',
                    size: 8,
                    page: 0,
                    key: 23,
                    pageable: pageable || true
                } 
            }
            const res = await this.$http(searchWord, config);
            if (!res.httpRequestError) {
                if (res.data) {
                    console.log(res.data)
                } else {
                    this.$message({
                        message: '请求失败',
                        type: "error"
                    });
                }
            } else {
                this.$message({
                    message: res.httpRequestError || '系统异常',
                    type: "error"
                });
            }
        }
    }
}
</script>

