<template>
  <div class="header">
    <el-col :span="24" class="elColSpan">
      <div class="grid-content bg-purple-light">
        <div class="grid-title">首页banner配置</div>
        <router-link to="hwBannerAdd" style="display:block;margin-right:10px">
          <el-button type="success" size="mini" icon="el-icon-plus" class="grid-btn">新增</el-button>
        </router-link>
      </div>
    </el-col>
    <el-col :span="24" class="elColSpan" style="margin-bottom: 10px">
      <el-row class="grid-content bg-purple-empty">
        <el-col :span="8" class="elCol">
          <div class="bannerTitle">banner标题:</div>
          <el-input
            placeholder="请输入banner标题"
            v-model="bannerInput"
            size="small"
            clearable>
          </el-input>
        </el-col>
        <el-col :span="8" class="elCol">
          <div class="bannerTitle" style="width:90px">投放状态:</div>
          <el-select v-model="putState" placeholder="请选择" size="small" clearable>
            <el-option
              v-for="item in putDatas"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="8">
          <el-button type="primary" icon="el-icon-search" size="small" v-loading="bannerLoading" @click="search(1)">筛选</el-button>
        </el-col>
      </el-row>
    </el-col>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {transferredMeaning, agentRequest} from '@/utils'

export default {
  props: {
    changeCurrentPageBanner: {
      type: Function,
      required: true
    },
    getBanerList: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      bannerInput: '',
      putState: '',
      putDatas: [{
        value: '1',
        label: '所有状态'
      },{
        value: '2',
        label: '进行中'
      },{
        value: '3',
        label: '即将开始'
      },{
        value: '4',
        label: '已结束'
      }]
    }
  },
  computed: {
    ...mapGetters([
      'bannerTableData',
      'pageTotalBanner',
      'bannerLoading',
      'isDefaultOrSeach'
    ])
  },
  methods: {
    ...mapActions([
      'saveBannerTableData',
      'saveBannerPageTotal',
      'saveBannerTableLoading',
      'saveIsDefaultSearch'
    ]),
    async search(page) { // banner首页列表刷选
      const bannerInput = this.bannerInput.replace(/\s+/g, "")
      if (bannerInput === '' && this.putState === '') {
        this.getBanerList(1)
        return false
      }
      if (this.bannerLoading) return false
      this.saveBannerTableLoading(true)
      const res = await agentRequest({
        methods: 'post',
        api: 'sellerpc/index/banner/search',
        params: `?pageable=true&page=${page}&size=20`,
        body: {
          dropStatus: this.putState,
          title: this.bannerInput
        }
      }, this)
      if (res) {
        if (res.bannerList) {
          this.changeCurrentPageBanner(page)
          this.saveIsDefaultSearch(false)
        }
        this.saveBannerTableData(res.bannerList || [])
        this.saveBannerPageTotal(res.totalCount || [])
      } else {
        this.$message.error('查询失败，请稍后重试~')
      }
      setTimeout(_ => {
        this.saveBannerTableLoading(false)
      }, 300)
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  .elColSpan {
    margin-top: 10px;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bg-purple-empty {
    background: white;
    border: 1px solid #eee;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-title {
    font-size: 20px;
    margin-left: 10px;
  }
  .grid-btn {
    margin-right: 15%;
  }
  .elCol {
    display:flex;
    align-items: center;
  }
  .bannerTitle {
    width: 150px;
    text-align: center;
  }
}
</style>


