<template>
  <el-dialog title="选择商品" :visible.sync="dialogTableVisibleProduct" width="85%">
      <el-row :gutter="30">
        <el-col :span="30">
          <el-select v-model="obj.value" placeholder="请选择分类" style="width: 30%;marginRight: 10px"  v-loading="obj.loading" :disabled="obj.options.length === 0 || obj.disabled"
          clearable filterable v-for="(obj, index) in classifyOptionsBanner" :key="obj.id" @change="selectChange(index)">
            <el-option
              v-for="item in obj.options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <el-input v-for="(item, index) in searchInputBanner" :key="index"
            :style="{width: index === 0 ? '30%' : '20%', marginRight: '10px', marginTop: index !== 0 ? '1%' : '0'}"
            :placeholder="item.placeholder"
            v-model="item.value"
            clearable>
          </el-input>
          <el-button type="primary" icon="el-icon-search" size="medium" v-loading="tableLoading" @click="handleSelect(1)">搜索</el-button>
        </el-col>
      </el-row>
      <el-table
        v-loading="tableLoading"
        :data="tableData"
        border
        :cell-style="cellStyle"
        :header-cell-style="rowClass"
        style="width: 100%;margin-top:30px">
        <template v-for="(item, index) in elTableColumn">
          <el-table-column
            :key="index"
            :fixed="item.isFixed"
            :prop="item.prop"
            :label="item.label"
            :width="item.width"
            v-if="item.type !== 'btn' && item.type !== 'img'"
            >
          </el-table-column>
          <el-table-column
          :key="index"
          :fixed="item.isFixed"
          :prop="item.prop"
          :label="item.label"
          :width="item.width"
          v-if="item.type === 'img'">
          <template slot-scope="scope">
            <img  v-lazy="scope.row.img" :key="scope.row.img"/>
          </template>
        </el-table-column>
          <el-table-column
          :key="index"
          :fixed="item.isFixed"
          :prop="item.prop"
          :label="item.label"
          :width="item.width"
          v-if="item.type === 'btn'">
          <template slot-scope="scope">
            <el-button @click="handleClick(scope.row)" type="text" size="small" :disabled="scope.row.id === selectRowId">{{scope.row.id === selectRowId ? '已选择' : '选择'}}</el-button>
          </template>
        </el-table-column>
        </template>
      </el-table>
      <el-pagination
        background
        @current-change="currentChange"
        :current-page.sync="currentPageBanner"
        :page-size = "10"
        v-if="tableData.length > 0"
        layout="prev, pager, next"
        :total="pageTotal">
      </el-pagination>
    </el-dialog>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {agentRequest, dateChangeover, transferredMeaning} from '@/utils'

export default {
  data() {
    return {
      status: [
        { name: "草稿", label: "DRAFT" },
        { name: "预售", label: "FORSALE" },
        { name: "下架", label: "INSTOCK" },
        { name: "上架", label: "ONSALE" }
      ],
      selectRowId: '',
      pageTotal: 0,
      currentPageBanner: 1,
      dialogTableVisibleProduct: false,
      tableLoading: false,
      tableData: [],
      elTableColumn: [{
        label: '商品图片',
        width: '100',
        isFixed: true,
        type: 'img',
        prop: 'img'
      },{
        label: '商品名称',
        width: '150',
        prop: 'name',
        isFixed: false
      },{
        label: '状态',
        width: 'auto',
        isFixed: false,
        prop: 'status'
      },{
        label: '价格',
        width: '150',
        prop: 'price',
        isFixed: false
      },{
        label: '库存',
        width: '150',
        prop: 'amount',
        isFixed: false
      },{
        label: '销售',
        width: '150',
        isFixed: false,
        prop: 'sales'
      },{
        label: '发布时间',
        width: '200',
        isFixed: false,
        prop: 'createdAt'
      },{
        label: '操作',
        width: '80',
        isFixed: false,
        type: 'btn'
      }]
    }
  },
  computed: {
    ...mapGetters([
      'classifyOptionsBanner',
      'searchInputBanner',
      'selectRowData'
    ])
  },
  methods: {
    ...mapActions([
      'saveClassifyOptionsBanner',
      'saveSearchInputBanner',
      'saveSelectRowData'
    ]),
    changeDialogTableVisibleProduct (bl) {
      if (bl) {
        this.search({
          page: 1,
          categoryId: 0
        })
      }
      this.dialogTableVisibleProduct = bl
    },
    async search({page, key, productId, categoryId}) {
      if (this.tableLoading) return false
      this.tableLoading = true
      const res = await agentRequest({
        methods: 'post',
        api: 'sellerpc/index/banner/product/searchByPc',
        params: `?pageable=true&page=${page}&size=10`,
        body: {
          key: key || null,
          productId: productId || null,
          categoryId: categoryId || null
        }
      }, this)
      if (res && res.list) {
        this.currentPageBanner = page
        this.tableData = res.list
        this.pageTotal = res.categoryTotal
        this.tableLoading = false
      } else {
        this.$message.error('查询数据失败，请稍后重试~')
        this.tableLoading = false
      }
      this.isSubmitLoading = false
    },
    cellStyle ({row, column, rowIndex, columnIndex}) {
      return "text-align:center"
    },
    rowClass ({row, rowIndex}) {
      return "text-align:center"
    },
    selectChange (index) {
      if (index === 0 && this.classifyOptionsBanner[0].value !== '') {
        let classifyOptionsBanner = this.classifyOptionsBanner
        classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
          loading: true,
          disabled: false
        })
        this.getCategoryList([2,this.classifyOptionsBanner[0].value,false])
      }
      if (index === 0 && this.classifyOptionsBanner[0].value == '') {
        let classifyOptionsBanner = this.classifyOptionsBanner
        classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
          value: '',
          disabled: true
        })
        this.getCategoryList([2,this.classifyOptionsBanner[0].value,false])
      }
    },
    async getCategoryList ([level, parentCategoryId, isAlertError, type]) {
      let classifyOptionsBanner = []
      , arr = []
      const res = await agentRequest({ 
        /*
        banner分类 level: 0,1,2  0=所有分类, 1=1级分类, 2=二级分类
        1级分类params 为 null, 2级分类, params 为 1级分类的ID
        */
        api: `sellerpc/index/banner/category/list`,
        methods: 'post',
        params: null,
        body: {
          level: level || null,
          parentCategoryId: parentCategoryId || null,
        }
      }, this)
      if (res) {
        if (type === 'init') {
          res.map(item => {
            arr.push({
              label: item.name,
              value: item.id
            })
          })
          classifyOptionsBanner = this.classifyOptionsBanner
          classifyOptionsBanner[0] = Object.assign(classifyOptionsBanner[0], {
            options: arr
          })
          this.saveClassifyOptionsBanner(classifyOptionsBanner)
        } else {
            res.map(item => {
              arr.push({
                label: item.name,
                value: item.id
              })
            })
            classifyOptionsBanner = this.classifyOptionsBanner
            classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
              options: arr,
              value: '',
              loading: false
            })
            this.saveClassifyOptionsBanner(classifyOptionsBanner)
        }
      } else {
        if (isAlertError) this.$message.error('获取分类数据失败，请稍后重试~')
      }
    },
    currentChange() {
      let key = this.searchInputBanner[0].value
      let productId = this.searchInputBanner[1].value
      key = key.replace(/^\s+|\s+$/g,'')
      productId = productId.replace(/^\s+|\s+$/g,'')
      let categoryId = this.classifyOptionsBanner[1].value === '' ? this.classifyOptionsBanner[0].value : this.classifyOptionsBanner[1].value
      if (key === '' && productId === '' && categoryId === '') {
        this.search({
          page: this.currentPageBanner,
          categoryId: 0
        })
      } else this.handleSelect(this.currentPageBanner)
    },
    handleSelect(page) {
      let key = this.searchInputBanner[0].value
      let productId = this.searchInputBanner[1].value
      key = key.replace(/^\s+|\s+$/g,'')
      productId = productId.replace(/^\s+|\s+$/g,'')
      let categoryId = this.classifyOptionsBanner[1].value === '' ? this.classifyOptionsBanner[0].value : this.classifyOptionsBanner[1].value
      if (key === '' && productId === '' && categoryId === '') {
        this.search({
          page,
          categoryId: 0
        })
        return false
      }
      if (categoryId == '0') {
        this.search({
          page,
          categoryId: 0
        })
      } else {
        this.search({
          page,
          key: key === '' ? null : key,
          productId: productId === '' ? null : productId,
          categoryId: categoryId === '' ? null : categoryId
        })
      }
    },
    handleClick(data) {
      this.selectRowId = data.id
      this.saveSelectRowData({
        name: data.name,
        id: data.id
      })
      this.dialogTableVisibleProduct = false
    }
  },
  watch: {
    dialogTableVisibleProduct() {
      if (this.dialogTableVisibleProduct) {
        let classifyOptionsBanner = this.classifyOptionsBanner
        classifyOptionsBanner[0] = Object.assign(classifyOptionsBanner[0], {
          value: ''
        })
        classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
          value: ''
        })
        this.saveClassifyOptionsBanner(classifyOptionsBanner)
        let searchInputBanner = this.searchInputBanner
        searchInputBanner[0] = Object.assign(searchInputBanner[0], {
          value: ''
        })
        searchInputBanner[1] = Object.assign(searchInputBanner[1], {
          value: ''
        })
        this.saveSearchInputBanner(searchInputBanner)
      }
    },
    tableData() {
      this.tableData.map(item => {
        const atr = transferredMeaning({
          data: this.status,
          targetAttributeName: "label",
          correspondingAttributeName: "name",
          value: item.status,
          returnType: "string"
        });
        item = Object.assign(item, {
          createdAt: dateChangeover([item.createdAt, ,'dateformat']),
          status: atr
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
img {
  width: 100%;
  height: auto;
}
</style>


