<template>
  <div class="table">
    <el-table
      v-loading="bannerLoading"
      :data="bannerTableData"
      border
      :height="tableHeight"
      :cell-style="cellStyle"
      :header-cell-style="rowClass"
      style="width: 100%">
      <template v-for="(item, index) in elTableColumn">
        <el-table-column
          :key="index"
          :fixed="item.isFixed"
          :prop="item.prop"
          :label="item.label"
          :width="item.width"
          v-if="item.type === 'normal'">
        </el-table-column>
        <el-table-column
          :key="index"
          :fixed="item.isFixed"
          :prop="item.prop"
          :label="item.label"
          :width="item.width"
          v-if="item.type === 'picAndName'">
          <template slot-scope="scope">
            <div class="picAndName">
              <el-popover
              placement="right"
              title=""
              trigger="hover">
              <img :src="bannerTableData[scope.$index].imgUrl"  style="max-width: 500px"/>
              <img slot="reference" :src="bannerTableData[scope.$index].imgUrl" :alt="bannerTableData[scope.$index].imgUrl" style="height: 40px;">
              </el-popover>
              <el-tooltip class="item" effect="dark" :content="bannerTableData[scope.$index].title" placement="top">
                <div v-text="bannerTableData[scope.$index].title" style="margin-left: 5px"></div>
              </el-tooltip>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          :key="index"
          :fixed="item.isFixed"
          :prop="item.prop"
          :label="item.label"
          :width="item.width"
          v-if="item.type === 'adjust' && isDefaultOrSeach">
          <template slot-scope="scope">
            <div class="triangle_border_up triangle_border"  @click="handleMove([scope.row, 'up', scope.row.isAdjustUp])" :style="{borderColor: scope.row.isAdjustUp || scope.row.indexBannerDropStatusType === '已结束' ? 'transparent transparent #ccc' : 'transparent transparent blue'}">
              <span></span>
            </div>
            <div class="triangle_border_down triangle_border"  @click="handleMove([scope.row, 'down', scope.row.isAdjustDown])" :style="{borderColor: scope.row.isAdjustDown || scope.row.indexBannerDropStatusType === '已结束'  ? '#ccc transparent transparent' : 'blue transparent transparent'}">
              <span></span>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          :key="index"
          :fixed="item.isFixed"
          :prop="item.prop"
          :label="item.label"
          :width="item.width"
          v-if="item.type === 'btn'">
          <template slot-scope="scope">
            <template v-for="(item, index) in handleBtn">
              <el-button @click="handleClick([item.name, scope.row])" type="text" size="small" :key="index" v-text="item.name" :style="{color: item.color}"
              v-if="item.hasShow.includes(scope.row.indexBannerDropStatusType)" :disabled="isDisabledId === scope.row.id && ['编辑', '查看'].includes(item.name)"></el-button>
            </template>
          </template>
        </el-table-column>
      </template>
    </el-table>
    <el-pagination
      background
      @current-change="currentChange"
      :current-page.sync="currentPageBanner"
      :page-size = "20"
      v-if="bannerTableData.length > 0"
      layout="prev, pager, next"
      :total="pageTotalBanner">
    </el-pagination>
    <el-dialog
      title="温馨提示"
      :visible.sync="dialogVisibleMsg"
      width="30%">
      <span v-text="errorMsg"></span>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisibleMsg = false">我知道了</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import {transferredMeaning, agentRequest} from '@/utils'

export default {
  props: {
    getBanerList: {
      type: Function,
      required: true
    },
    search: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      tableHeight: '770px',
      isDisabledId: -999,
      errorMsg: '',
      dialogVisibleMsg: false,
      handleBtn: [{
        name: '编辑',
        hasShow: ['即将开始', '进行中'],
        color: '#7511a9'
      },{
        name: '查看',
        hasShow: ['已结束'],
        color: '#08ada5'
      },{
        name: '删除',
        hasShow: ['已结束', '即将开始'],
        color: 'red'
      },{
        name: '结束',
        hasShow: ['进行中'],
        color: '#7d7d77'
      }],
      jumpType: [{
        name: '单个商品',
        label: 'PRODUCT'
      },{
        name: '二级分类',
        label: 'SECOND_CATEGORY'
      },{
        name: '自定义',
        label: 'CUSTOMER'
      },{
        name: '模块ID',
        label: 'MODULE'
      },{
        name: '不跳转',
        label: 'NO_JUMP'
      }],
      currentPageBanner: 1,
      elTableColumn: [{
        label: '序号',
        width: 'auto',
        isFixed: true,
        prop: 'index',
        type: 'normal'
      },{
        label: 'banner图片&标题',
        width: '300',
        isFixed: false,
        type: 'picAndName'
      },{
        label: '调整',
        width: '100',
        isFixed: false,
        type: 'adjust'
      },{
        label: '跳转类型',
        width: '150',
        isFixed: false,
        prop: 'jumpType',
        type: 'normal'
      },{
        label: '投放状态',
        width: '150',
        isFixed: false,
        prop: 'indexBannerDropStatusType',
        type: 'normal'
      },{
        label: '开始时间',
        width: '200',
        isFixed: false,
        prop: 'startAt',
        type: 'normal'
      },{
        label: '结束时间',
        width: '200',
        isFixed: false,
        prop: 'endAt',
        type: 'normal'
      },{
        label: '发布时间',
        width: '200',
        isFixed: false,
        prop: 'createdAt',
        type: 'normal'
      },{
        label: '操作',
        width: '150',
        isFixed: false,
        type: 'btn'
      }]
    }
  },
  methods: {
    ...mapActions([
      'saveBannerTableData',
      'saveBannerPageTotal',
      'saveBannerTableLoading'
    ]),
    cellStyle ({row, column, rowIndex, columnIndex}) {
      return "text-align:center"
    },
    rowClass ({row, rowIndex}) {
      return "text-align:center"
    },
    async handleMove ([data, type, isAdjust]) {
      if (isAdjust || data.indexBannerDropStatusType === '已结束') {
        this.$message({
          message: '无法调节',
          type: 'warning'
        });
        return false
      }
      if (this.bannerLoading) return false
      this.saveBannerTableLoading(true)
      const res = await agentRequest({
        methods: 'post',
        api: 'sellerpc/index/banner/change/sequence',
        params: `?pageable=true&page=${this.currentPageBanner}&size=20`,
        body: {
          direction: type,
          id: data.id
        }
      }, this)
      if (res) {
        this.saveBannerTableData(res.bannerList || [])
        this.saveBannerPageTotal(res.totalCount || [])
      } else {
        this.$message.error('操作失败，请稍后重试~')
      }
      setTimeout(_ => {
        this.saveBannerTableLoading(false)
      }, 300)
    },
    async handleClick ([name, data]) {
      console.log(name, data)
      if (this.isDisabledId === data.id) return false
      this.isDisabledId = data.id
      switch (name) {
        case '编辑' :
          this.$router.push({
            path: '/hwBannerAdd',
            query: {
              type: 'edit',
              id: data.id
            }
          })
        break
        case '查看' :
          this.$router.push({
            path: '/hwBannerAdd',
            query: {
              type: 'see',
              id: data.id
            }
          })
        break
        case '结束' :
          this.$confirm('此操作将会结束该banner，请确认是否继续', '温馨提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消'
          }).then(async _ => {
            const res = await agentRequest({ // 结束banner
              api: 'sellerpc/index/banner/end',
              params: `?id=${data.id}`
            }, this)
            if (res) {
              this.bannerTableData[data.index - 1] = Object.assign(this.bannerTableData[data.index - 1], {
                indexBannerDropStatusType: '已结束'
              })
              this.$message({
                message: '操作成功',
                type: 'success'
              });
            } else {
              this.$message.error('操作失败，请稍后重试~')
            }
          }).catch(() => {})
        break
        case '删除' :
          this.$confirm('此操作将会删除该banner，请确认是否继续', '温馨提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消'
          }).then(async _ => {
            const res = await agentRequest({ // 删除banner
              api: 'sellerpc/index/banner/deleted',
              params: `?id=${data.id}`
            }, this)
            if (res) {
              this.$message({
                message: '操作成功',
                type: 'success'
              });
              this.currentChange()
            } else {
              this.$message.error('操作失败，请稍后重试~')
            }
          }).catch(() => {})
        break
      }
      this.isDisabledId = -999
    },
    currentChange () {
      this.isDefaultOrSeach
      ? this.getBanerList(this.currentPageBanner)
      : this.search(this.currentPageBanner)
    },
    changeCurrentPageBanner (page) {
      this.currentPageBanner = page || 1
    }
  },
  computed: {
    ...mapGetters([
      'bannerTableData',
      'pageTotalBanner',
      'bannerLoading',
      'isDefaultOrSeach'
    ])
  },
  watch: {
    bannerTableData() {
      this.bannerTableData.length < 10 ? this.tableHeight = `${(this.bannerTableData.length + 1) * 77}px` : this.tableHeight = '770px'
      const fNum = 1 + (this.currentPageBanner - 1) * 20
      const lNum = 20 + (this.currentPageBanner - 1) * 20
      const upArr = [fNum]
      const downArr = [lNum, this.pageTotalBanner]
      const num = (this.currentPageBanner - 1) * 20 + 1
      for(let [index, item] of Object.entries(this.bannerTableData)) {
        const atr = transferredMeaning({
          data: this.jumpType,
          targetAttributeName: "label",
          correspondingAttributeName: "name",
          value: item.jumpType,
          returnType: "string"
        });
        item = Object.assign(item, {
          index: index - 0 + num,
          jumpType: atr,
          isAdjustUp: upArr.includes(index - 0 + num),
          isAdjustDown: downArr.includes(index - 0 + num)
        })
      } 
    }
  }
}
</script>

<style lang="scss" scoped>
.table {
  .triangle_border {
    margin:0 auto;
    border-style:solid;
    position: relative;
    width:0;
    height:0;
  }
  .triangle_border_up{
    border-width:0 8px 24px;
  }
  .triangle_border_down{
    margin-top: 5px;
    border-width:24px 8px 0;
  }
  .picAndName {
    display: flex;
    align-items: center;
  }
}
</style>




