<template>
    <!-- 秒结积分 -->
    <section style='padding:10px;' class="older-belonger" v-loading="loading">
        <el-row :gutter="10"  style='display:flex;flex-decoration:row;align-items:flex-end'>
            <el-col :span="7">
                <span style='display:inline-block;width:100px;text-align:right'>订单月份:</span>
                <el-date-picker v-model="valueM" type="month" format="yyyy-MM" placeholder="选择日期" style="width:70%;">
                </el-date-picker>
            </el-col>
            <el-col :span="7">
                <span style='display:inline-block;width:100px;text-align:right'>用户工号:</span>
                <el-input size="small" class="older-belonger-input" v-model="cpId" placeholder="用户工号"></el-input>
            </el-col>
            <el-col :span="7">
                <span style='display:inline-block;width:100px;text-align:right'>订单号:</span>
                <el-input size="small" class="older-belonger-input" v-model="orderid" placeholder="订单号"></el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="7" style='margin-left:5%;'>
                <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../../common/common.vue'
import moment from 'moment'

export default {
    data() {
        return {
            cpId:null,
            orderid:null,
            valueM: null, //订单月份
            downloading: false, //下载加载状态
            loading: false, //加载中状态
        }
    },
    methods: {
        //下载表格
        downloadExcel() {
            let _this = this;
            let ordermonth = null;
            if(this.valueM && moment(this.valueM).isValid()){
                ordermonth = moment(this.valueM).format('YYYYMM');
            }
            if(_this.loading) return;
            if(!ordermonth && !this.cpId && !this.orderid ){
                this.$message({
                    message: '请至少填写订单月份、用户工号和订单号中的一个',
                    type: 'error'
                });
                return false
            }
            let formData = JSON.stringify({
                ordermonth,
                cpId: this.cpId,
                orderid: this.orderid
            })
            let page_url = global.orderAndBelong + `?json=${formData}`;
            console.log(page_url)
            _this.loading = true;
            this.$ajax({
                headers: {
                  'Content-Type': 'application/excel; charset=UTF-8'
                },
                method:"get",
                url:page_url,
                responseType:"blob",
            }).then((req)=>{
                this.loading = false
                if(req.status !=200){
                    _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                    })
                }
                _this.$message({
                    message: '数据请求成功，请注意浏览器下载信息',
                    type: 'info'
                })
                let t = new Date();
                let yy = t.getFullYear();
                let mm = t.getMonth() + 1;
                let dd = t.getDate();
                let date = yy + '年' + mm + '月' + dd + '日';
                let filename = '订单归属人报表' + date + '.xlsx';
                req = req.data;
                if (typeof window.chrome !== 'undefined') {
                    // Chrome version
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(req);
                    link.download = filename;
                    link.click();
                } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE version
                    var blob = new Blob([req], { type: 'application/force-download' });
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    // Firefox version
                    var file = new File([req], filename, { type: 'application/force-download' });
                    window.open(URL.createObjectURL(file));
                }
            });
        },
    }
};
</script>
<style>
.older-belonger-input .el-input__inner{
    max-width:80%;
    height:36px !important;
}

.el-col-7 {
    line-height: 56px;
}

.el-select {
    /* float:right; */
    width: 70%;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
</style>