<template>
    <!-- 物流报表 -->
    <section style='padding:10px;'  v-loading="loading">
        <el-row>
            <el-col :span="10">
                <span style='display:inline-block;width:100px;text-align:right'>报表类型:</span>
                <el-select v-model="type" filterable placeholder="报表类型" >
                    <el-option v-for="item in typeList" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row :gutter="10" style='display:flex;flex-decoration:row;align-items:flex-end'>
            <el-col :span="10">
                <span style='display:block;width:100px;text-align:right'>开始时间:</span>
                <el-date-picker v-model="valueBegin" :default-value="nowDate" type="datetime" placeholder="选择开始时间" style="width:70%;" >
                </el-date-picker>
            </el-col>
            <el-col :span="10">
                <span style='display:block;width:100px;text-align:right'>结束时间:</span>
                <el-date-picker v-model="valueEnd" type="datetime" placeholder="选择结束时间" :default-value="nowDate" style="width:70%;" >
                </el-date-picker>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="7" style='margin-left:5%;'>
                <el-button type="primary" icon="upload" @click="downloadExcel" :loading="downloading">导出</el-button>
            </el-col>
        </el-row>
    </section>
</template>
<script>
import global from '../../../common/common.vue'
import moment from "moment"

export default {
    data() {
        return {
            typeList: [
                { value: 'hds', label: 'HDS物流报表' }, //报表类型列表 
                { value: 'vivi', label: 'ViviLife物流报表' },
                // { value: 'hv', label: 'HV物流报表' }, 待添加
                { value: 'hdsunit', label: 'HDS套装物流报表' },
                { value: 'viviunit', label: 'ViviLife套装物流报表' }
            ],
            type: '', //报表类型
            valueBegin: '', //开始时间
            valueEnd: '', //结束时间
            downloading: false, //下载加载状态
            loading: false, //加载中状态,
            nowDate: moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'                           
        }
    },
    methods: {
        //下载表格
        downloadExcel() {
            let _this = this;
            if(!this.type){
                this.$message({
                    message: '请先选择报表类型',
                    type: 'error'
                });
                return false
            }
            if(!this.valueBegin || !moment(this.valueBegin).isValid()){
                this.$message({
                    message: '请先选择开始时间',
                    type: 'error'
                });
                return false
            }
            if(!this.valueEnd || !moment(this.valueEnd).isValid()){
                this.$message({
                    message: '请先选择结束时间',
                    type: 'error'
                });
                return false
            }
            if(moment(this.valueEnd).isSame(this.valueBegin) || moment(this.valueEnd).isBefore(this.valueBegin)){
                this.$message({
                    message: '结束时间必须大于开始时间',
                    type: 'error'
                });
                return false
            }
            let formData = JSON.stringify({
                type: this.type,
                beginDate: moment(this.valueBegin).format('YYYY-MM-DD HH:mm:ss'),
                endDate: moment(this.valueEnd).format('YYYY-MM-DD HH:mm:ss')
            })
            let page_url = global.logisticsReport + `?json=${formData}`;
            _this.loading = true;
            this.$ajax({
                headers: {
                  'Content-Type': 'application/excel; charset=UTF-8'
                },
                method:"get",
                url:page_url,
                responseType:"blob",
            }).then((req)=>{
                this.loading = false
                if(req.status !=200){
                    _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                    })
                }
                _this.$message({
                    message: '数据请求成功，请注意浏览器下载信息',
                    type: 'info'
                })
                let title = _this.typeList.filter((item)=>{
                    return !!(item.value == _this.type);
                })[0].label;
                let t = new Date();
                let yy = t.getFullYear();
                let mm = t.getMonth() + 1;
                let dd = t.getDate();
                let date = yy + '年' + mm + '月' + dd + '日';
                let filename = title + date + '.xlsx';
                req = req.data;
                if (typeof window.chrome !== 'undefined') {
                    // Chrome version
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(req);
                    link.download = filename;
                    link.click();
                } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                    // IE version
                    var blob = new Blob([req], { type: 'application/force-download' });
                    window.navigator.msSaveBlob(blob, filename);
                } else {
                    // Firefox version
                    var file = new File([req], filename, { type: 'application/force-download' });
                    window.open(URL.createObjectURL(file));
                }
            });
        },
    }
};
</script>
<style>
.el-col-10 {
    line-height: 56px;
}

.el-select {
    /* float:right; */
    width: 70%;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
</style>