<template>
  <div>
    <el-col style='margin-bottom:5px;margin-top:5px;'>
        <el-button style='background-color:#20a0ff;color:#fff;' @click='handleAdd(0)'>开通权限</el-button>
    </el-col>
    <el-table :data="data"  border style="width:100%;" :row-style="showTr" >
      <el-table-column v-for="(column, index) in columns" :key="column.dataIndex"  :label="column.text" width='auto'>
        <template slot-scope="scope">
          <span  v-if="spaceIconShow(index)">
             <span v-for="(space, levelIndex) in scope.row._level" class="ms-tree-space" :key="levelIndex"></span>
          </span>
          <button class="button is-outlined is-primary is-small" v-if="toggleIconShow(index,scope.row)" @click="toggle(scope.$index)">
            <i v-if="!scope.row._expanded" class="el-icon-caret-right" aria-hidden="true"></i>
            <i v-if="scope.row._expanded" class="el-icon-caret-bottom" aria-hidden="true"></i>
          </button>
          <span v-else-if="index===0" class="ms-tree-space"></span>
          {{scope.row[column.dataIndex]}}
        </template>
      </el-table-column>
      <el-table-column label="操作" v-if="treeType === 'normal'" width="270">
        <template slot-scope="scope">
          <button type="button" class="el-button el-button--default el-button--small"  @click='handleEdit(scope.row)'>
            <!-- <router-link :to="{ path: requestUrl + 'edit', query: {id: scope.row.Oid} }" tag="span"> -->
              编辑
            <!-- </router-link> -->
          </button>
          <button type="button" class="el-button el-button--success el-button--small" @click='handleAdd(scope.row.id)'>
            <!-- <router-link :to="{ path: requestUrl, query: { parentId: scope.row.parentOId } }" tag="span"> -->
              添加子节点
            <!-- </router-link> -->
          </button>
          <el-button  size="small" type="danger"  @click="handleDelete(scope.row)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
     <!-- 更新权限 -->
    <el-dialog title="更新权限" :visible.sync="editFormVisible" :close-on-click-modal="true">
      <el-form ref="obj" :model="editForm" label-width="100px" :rules="rules2">
         <el-form-item label="权限名称" prop='name'>
            <el-input v-model="editForm.name"  size='small' style='width:95%'></el-input>
         </el-form-item>
         <el-form-item label="权限分类" required prop='istype'>
            <el-radio-group v-model="editForm.istype">
                <el-radio label="菜单" name='istype'></el-radio>
                <el-radio label="功能" name='istype'></el-radio>
            </el-radio-group>
         </el-form-item> 
         <el-form-item label="权限路径" required prop='page'>
            <el-input v-model="editForm.page"   size='small' style='width:95%'></el-input>
         </el-form-item>
         <el-form-item label="权限code" required prop='code'>
            <el-input v-model="editForm.code"   size='small' style='width:95%'></el-input>
         </el-form-item> 
         <el-form-item label="权限优先级" required prop='zindex'>
            <el-input v-model="editForm.zindex"   size='small' style='width:95%' placeholder="请添写大于0的整数数字" type='number'></el-input>
         </el-form-item> 
         <el-form-item label="文本域" required prop='descpt'>
            <el-input v-model="editForm.descpt"   size='small' style='width:95%' type='textarea'></el-input>
         </el-form-item>  
        <el-form-item>
            <el-button type="primary" @click='editSubmit'>提交</el-button>
            <el-button @click='reset'>重置</el-button>
         </el-form-item> 
      </el-form>
    </el-dialog>
    <!-- 添加权限 -->
    <el-dialog title="添加权限" :visible.sync="addFormVisible" :close-on-click-modal="true">
      <el-form ref="obj" :model="addForm" label-width="100px" :rules="rules1">
         <el-form-item label="权限名称" prop='name'>
            <el-input v-model="addForm.name"  size='small' style='width:95%'></el-input>
         </el-form-item>
         <el-form-item label="权限分类"  prop='istype'>
            <el-radio-group v-model="addForm.istype">
                <el-radio label="菜单" name='istype'></el-radio>
                <el-radio label="功能" name='istype'></el-radio>
            </el-radio-group>
         </el-form-item> 
         <el-form-item label="权限路径"  prop='page'>
            <el-input v-model="addForm.page"   size='small' style='width:95%'></el-input>
         </el-form-item>
         <el-form-item label="权限code"  prop='code'>
            <el-input v-model="addForm.code"   size='small' style='width:95%'></el-input>
         </el-form-item> 
         <el-form-item label="权限优先级"  prop='zindex'>
            <el-input v-model="addForm.zindex"   size='small' style='width:95%' placeholder="请添写大于0的整数数字" type='number'></el-input>
         </el-form-item> 
         <el-form-item label="文本域"  prop='descpt'>
            <el-input v-model="addForm.descpt"   size='small' style='width:95%' type='textarea'></el-input>
         </el-form-item>  
        <el-form-item>
            <el-button type="primary" @click='addSubmit'>提交</el-button>
            <el-button @click='reset'>重置</el-button>
         </el-form-item> 
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
  import Utils from '../utils/index.js'
  import global from '../../../common/common.vue'
//  import Vue from 'vue'
  export default {
    name: 'tree-grid',
    inject : ['reload'],                   //注入reload
    props: {
// 该属性是确认父组件传过来的数据是否已经是树形结构了，如果是，则不需要进行树形格式化
      treeStructure: {
        type: Boolean,
        default: function () {
          return false
        }
      },
// 这是相应的字段展示
      columns: {
        type: Array,
        default: function () {
          return []
        }
      },
// 这是数据源
      dataSource: {
        type: Array,
        default: function () {
          return []
        }
      },
// 这个作用是根据自己需求来的，比如在操作中涉及相关按钮编辑，删除等，需要向服务端发送请求，则可以把url传过来
      requestUrl: {
        type: String,
        default: function () {
          return ''
        }
      },
// 这个是是否展示操作列
      treeType: {
        type: String,
        default: function () {
          return 'normal'
        }
      },
// 是否默认展开所有树
      defaultExpandAll: {
        type: Boolean,
        default: function () {
          return false
        }
      }
    },
    data () {
      return {
        editFormVisible:false,
        addFormVisible:false,    //添加权限显示
        editForm:{
          name:'',
          istype:'',
          page:'',
          code:'',
          zindex:'',
          descpt:''
        }, 
        addForm:{
          name:'',
          istype:'',
          page:'',
          code:'',
          zindex:'',
          descpt:''
        },
        rules2:{
          name:[{ required: true, message: '请输入权限名称', trigger: 'blur' }],
          istype:[{ required: true, message: '请输入权限名称', trigger: 'blur' }],
          page:[{ required: true, message: '请输入权限名称', trigger: 'blur' }],
          code:[{ required: true, message: '请输入权限名称', trigger: 'blur' }],
          zindex:[{ required: true, message: '请输入权限名称', trigger: 'blur' }],
          descpt:[{ required: true, message: '请输入权限名称', trigger: 'blur' }]
        },
        rules1:{
          name:[{ required : true, message : '请输入权限名称', trigger : 'blur' }],
          istype:[{ required : true, message : '请输入权限名称', trigger : 'blur' }],
          page:[{ required : true, message : '请输入权限名称', trigger : 'blur' }],
          code:[{ required : true, message : '请输入权限名称', trigger : 'blur' }],
          zindex:[{ required : true, message : '请输入权限名称', trigger : 'blur' }],
          descpt:[{ required : true, message : '请输入权限名称', trigger : 'blur' }]
        },
        id:'',
        pid:'',
        deletePermissionTree : global.deletePermissionTreeUrl,
        updatePermission : global.updatePermissionUrl,
        insertPermission : global.insertPermissionUrl,
      }
    },
    computed: {
    // 格式化数据源
      data: function () {
        let me = this
        if (me.treeStructure) {
          let data = Utils.MSDataTransfer.treeToArray(me.dataSource, null, null, me.defaultExpandAll)
          //console.log(data)
          return data
        }
        return me.dataSource
      }
    },
    methods: {
    // 显示行
      showTr: function (row, index) {
        let show = (row._parent ? (row._parent._expanded && row._parent._show) : true)
        row._show = show
        return show ? '' : 'display:none;'
      },
    // 展开下级
      toggle: function (trIndex) {
        let me = this
        let record = me.data[trIndex]
        record._expanded = !record._expanded
      },
    // 显示层级关系的空格和图标
      spaceIconShow (index) {
        let me = this
        if (me.treeStructure && index === 0) {
          return true
        }
        return false
      },
    // 点击展开和关闭的时候，图标的切换
      toggleIconShow (index, record) {
        let me = this
        if (me.treeStructure && index === 0 && record.children && record.children.length > 0) {
          return true
        }
        return false
      },
      //删除
      handleDelete (val) {
        this.$confirm('此操作将永久删除该记录, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'error'
        }).then(() => {
          let formData = new FormData();
          formData.append("json", JSON.stringify
            ({
                id : val.id,
            })
          )
          fetch(this.deletePermissionTree,{
              method:'POST',
              body:formData
          }).then(res=>res.json()
          ).then(res=>{
            if(res.isSuccess==1){
                this.$message({
                  type: 'success',
                  message: '删除成功!'
                })
                this.reload();
            }else{
                this.$message({
                  type: 'error',
                  message: '删除失败!'
                })
            }
          })
         
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      },
      //重置
      reset:function(){
        let form = {name:'',istype:'',page:'',code:'',zindex:'',descpt:''};
        this.addForm = Object.assign({},form);
        
      },
      //编辑提交
      editSubmit:function(){
        if(this.editForm.name === ''){
          this.$message({
            message:'请输入权限名称!',
            type:'error'
          })
        }else if( this.editForm.istype === ''){
          this.$message({
            message:'请选择权限分类!',
            type:'error'
          })
        }else if(this.editForm.page === ''){
          this.$message({
            message:'请输入权限路径!',
            type:'error'
          })
        }else if(this.editForm.code === ''){
          this.$message({
            message:'请输入权限code!',
            type:'error'
          })
        }else if(this.editForm.zindex === ''){
            this.$message({
              message:'请输入权限优先级!',
              type:'error'
            })
        }else if(this.editForm.descpt === ''){
          this.$message({
              message:'请输入权限文本域!',
              type:'error'
            })
        }else{
            let formData = new FormData();
            let istype = this.editForm.istype === '菜单' ? 0 : 1;
            formData.append("json", JSON.stringify
              ({
                  name :  this.editForm.name,
                  istype : istype,
                  page : this.editForm.page,
                  code :  this.editForm.code,
                  zindex :  this.editForm.zindex,
                  descpt : this.editForm.descpt,
                  id : this.editForm.id,
                  pid : this.pid
              })
            )
            fetch(this.updatePermission,{
              method:'POST',
              body:formData
            }).then(res=>res.json()
            ).then(res=>{
              this.editFormVisible = false;
              if(res.isSuccess === 1){
                this.$message({
                  message:'更新成功!',
                  type:'info'
                })
              
                this.reload();
              }else{
                this.$message({
                    message:'更新失败，请重试!',
                    type:'error'
                })
              }
            }).catch(e=>{
              this.$message({
                message:'网络错误，请重试!',
                type:'error'
              })
            })  
          }
        
      } ,
      
      //编辑
      handleEdit:function(val){
        this.editFormVisible = true;
        this.editForm = val;
        this.pid = val.pid;
      },
      //添加
      handleAdd:function(val){
        this.id = val;
        this.addForm={
          name:'',
          istype:'',
          page:'',
          code:'',
          zindex:'',
          descpt:''
        },
        this.addFormVisible = true;
      },
      //添加提交
      addSubmit:function(){
          let formData = new FormData();
          let pid = this.id;
          let istype = this.addForm.istype === '菜单' ? 0 : 1;
          formData.append("json", JSON.stringify
            ({
                name : this.addForm.name,
                istype : istype,
                page : this.addForm.page,
                code :  this.addForm.code,
                zindex :  this.addForm.zindex,
                descpt : this.addForm.descpt,
                pid : pid,
            })
          )
          if(this.addForm.name === ''){
            this.$message({
              message:'请输入权限名称!',
              type:'error'
            })
          }else if( this.addForm.istype === ''){
            this.$message({
              message:'请选择权限分类!',
              type:'error'
            })
          }else if(this.addForm.page === ''){
            this.$message({
              message:'请输入权限路径!',
              type:'error'
            })
          }else if(this.addForm.code === ''){
            this.$message({
              message:'请输入权限code!',
              type:'error'
            })
          }else if(this.addForm.zindex === ''){
              this.$message({
                message:'请输入权限优先级!',
                type:'error'
              })
          }else if(this.addForm.descpt === ''){
            this.$message({
                message:'请输入权限文本域!',
                type:'error'
              })
          }else{
            fetch(this.insertPermission,{
              method:'POST',
              body:formData
            }).then(res=>res.json()
            ).then(res=>{
              if(res.isSuccess === 1){
                this.$message({
                  message:'创建成功!',
                  type:'info'
                })
                this.addFormVisible = false;
                this.reload();
              }else{
                this.$message({
                    message:'创建失败，请重试!',
                    type:'error'
                })
              }
            }).catch(e=>{
              this.$message({
                message:'网络错误，请重试!',
                type:'error'
              })
            })  
          }
          
        }
    }
  }
</script>
<style scoped>
  .ms-tree-space{position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 14px;
    height: 14px;}
  .ms-tree-space::before{content: ""}
  table td{
    line-height: 26px;
  }
</style>
