<template>
    <section>
        <el-row style='margin-top:10px;'>
            <el-col :span='3' class='text'>
                <span> 基本信息:</span>
            </el-col>
            <el-col :span='10'>
                <el-row class='t2'>
                    <el-col :span='4' class='title'>标题</el-col>
                    <el-col :span='12'>
                        <el-input v-model='title'></el-input>
                    </el-col>
                </el-row>
                <el-row class='t2'>
                    <el-col :span='4' class='category'>分类</el-col>
                    <el-col :span='10'>
                        <span>汉薇官方</span>
                    </el-col>
                </el-row>
                <el-row class='t2'>
                    <el-col :span='4' class='authorId'>作者</el-col>
                    <el-col :span='10'>
                        <span>汉薇官方</span>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row style='margin-top:10px;'>
            <el-col :span='3' class='text'>
                <span>正文:</span>
            </el-col>
            <el-col :span='17'>
                <div>
                    <quill-editor ref="myTextEditor" v-model="content" :options="editorOption"></quill-editor>
                </div>
            </el-col>
        </el-row>
        <el-row style='margin-top:10px;'>
            <el-col :span='3' class='text'>
                <span>展示图片:</span>
            </el-col>
            <el-col :span='10'>
                <div v-if='imgList.length>0'>
                    <ul style='padding:0;margin:0;list-style:none;display:flex;flex-direction:row;'>
                        <li v-for="(item,index) in imgList" :key='index' style='padding:0;margin:0;list-style:none;margin-left:5px;'>
                            <img :src="item.img" alt="" style='width:100px;height:100px;'>
                            <div>
                                <el-button type='text' size='small' @click='recommend(index)'>设为主图</el-button>
                                <el-button type='text' size='small' @click='deleteImg(index)' style="color:red">删除</el-button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uploadImgBtn" id="uploadImgBtn" v-if='imgList.length<9'>
                    <i class='el-icon-plus' style='color:#ccc;line-height:100px;margin-left:43px;'></i>
                    <input class="uploadImg" type="file" name="file" multiple id="file" @change="fileImage">
                </div>
                <el-col>
                    <span>最多可上传九张图片</span>
                </el-col>
            </el-col>
        </el-row>
        <el-row style='margin-top:10px;'>
            <el-col :span="3">&nbsp;</el-col>
            <el-col :span='5' style='text-align:center'>
                <el-button class="editor-btn" type="primary" @click="submit">立刻发布</el-button>
            </el-col>
            <el-col :span='5' style='text-align:center'>
                <el-button class="editor-btn" type="info" style='background-color:#909399;border-color: #909399' @click='scratch'>暂存草稿</el-button>
            </el-col>
        </el-row>
    </section>
</template>

<script>
import 'quill/dist/quill.core.css'
// import 'quill/dist/quill.snow.css'
import '../../common/quill.snow.css'
import 'quill/dist/quill.bubble.css'
import { quillEditor } from 'vue-quill-editor'
import * as qiniu from 'qiniu-js'
import b64toBlob from 'b64-to-blob'
import global from '../../common/common.vue'
export default {
  name: 'editor',
  data: function() {
    return {
      content: '',
      files: '',
      filesIndex: 0,
      completeNum: 0,
      editorOption: {
        placeholder: 'Hello World'
      },
      title: '',
      category: '汉薇官方',
      authorId: '汉薇官方',
      dialogImageUrl: '',
      dialogVisible: false,
      imgList: [],
      uploadImgToken: '',
      dataURL: '',
      newUrl: global.newUrl,
      draftUrl: global.draftUrl,
      url:'',
      queryUpToken:global.queryUpToken
    }
  },
  components: {
    quillEditor
  },
  mounted() {
    this.getQiniuToken()
    this.getDetailEdit()
  },
  methods: {
    getDetailEdit() {
      if (this.$route.query.id) {
        var editMessage = JSON.parse(
          window.sessionStorage.getItem(this.$route.query.id)
        )
        this.title = editMessage.title
        this.content = editMessage.content
        this.imgList = editMessage.imgList
      }
    },
    onEditorChange({ editor, html, text }) {
      this.content = html
    },
    //立即发布按钮
    submit() {
      if(this.title === ''){
          this.$message({
              message:'请输入标题',
              type:'error'
          })
          return false
      }else if(this.title.length > 30){
          this.$message({
              message:'标题限制30个字以内',
              type:'error'
          })
          return false
      }else if(this.content ===''){
          this.$message({
              message:'请输入内容',
              type:'error'
          })
          return false
      }else if(this.content.length > 2000){
          this.$message({
              message:'内容限制2000字以内',
              type:'error'
          })
          return false
      }else if(this.imgList.length ===0){
          this.$message({
              message:'请选择上传图片',
              type:'error'
          })
          return false
      }else{
        let url = this.newUrl
        let formData = new FormData()
        let data = {
            title: this.title,
            categoryType: 'hw_official',
            authorId: '2000002',
            content: this.content,
            images: this.imgList,
            themeId: '6',
            cpId: '2000002'
        }
        if (this.$route.query.id) {
            url = global.updateUrl
            Object.assign(data, { id: this.$route.query.id })
        }
        formData.append('json', JSON.stringify(data))
        fetch(url, {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(res => {
            if (res.isSuccess === 1) {
                this.$router.push({ path: '/community/content' })
            } else {
                this.$message({
                    message: res.errorMsg,
                    type: 'error'
                })
            }
        }).catch(e => {
            this.$message({
                message: '网络错误,请重试!',
                type: 'error'
            })
        })
      }
      
    },
    //存入草稿
    scratch() {
     if(this.title === '' && this.content ==='' && this.imgList.length ===0){
          this.$message({
              message:'至少输入一个内容',
              type:'error'
          })
          return false
      }else{
          let formData = new FormData()
           let  data ={
                    title: this.title,
                    categoryType: 'hw_official',
                    authorId: '2000002',
                    content: this.content,
                    images: this.imgList,
                    themeId: '6',
                    cpId: '2000002'
                }
             if (this.$route.query.id) {
                Object.assign(data, { id: this.$route.query.id })
            }
            formData.append('json', JSON.stringify(data))
            fetch(this.draftUrl, {
                method: 'POST',
                body: formData
            })
            .then(res => res.json())
            .then(res => {
            if (res.isSuccess === 1) {
                this.$router.push({ path: '/community/content' })
            } else {
                this.$message({
                message: res.errorMsg,
                type: 'error'
                })
            }
            })
            .catch(e => {
                this.$message({
                    message: '网络错误,请重试!',
                    type: 'error'
                })
            })
        }
   
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    fileImage(ev) {
      this.files = ev.target.files
      this.filesIndex = this.files.length > 9 ? 9 : this.files.length
      this.doPictrues(this.files[0])
    },
    doPictrues(file) {
      let imgSize, reader
      imgSize = file.size / 1024
       if (imgSize > 5120) {
        this.$message.error("请上传大小不要超过5MB的图片");
      } else {
        let splitTemp
        reader = new FileReader()
        reader.readAsDataURL(file) // 读出 base64
        reader.onloadend = () => {
          this.dataURL = reader.result // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
          splitTemp = this.dataURL.split(';base64,')
          let contentType = splitTemp[0].replace('data:', '')
          let b64Data = splitTemp[1]
          let blob = b64toBlob(b64Data, contentType)
          this.uploadPhoto(blob)
        }
      }
    },
    //获取token
    getQiniuToken: function() {
      const _this = this;
      let formData = new FormData()
      formData.append('json', JSON.stringify({}))
      fetch(this.queryUpToken, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            _this.uploadImgToken = res.result.key;
            _this.url = res.result.bucketHostName;
          } else {
            _this.$message({
              message: res.errorMsg,
              duration: 2000,
              type: 'warning'
            })
          }
        })
    },
    // 上传图片到七牛云
    uploadPhoto(file) {
      const IMG_HOST = this.url;
      let img = new Image()
      img.src = URL.createObjectURL(file)
      let vm = this
      let fileName =
        Date.now() +
        Math.random()
          .toString()
          .slice(-5)
      let putExtra = {
        mimeType: ['image/png', 'image/jpeg', 'image/gif']
      }
      let config = {
        useCdnDomain: true
      }
      return new Promise((resolve, reject) => {
        let observable = qiniu.upload(
          file,
          fileName,
          vm.uploadImgToken,
          putExtra,
          config
        )
        let observer = {
          error(err) {
            console.log('observer error err')
          },
          complete(res) {
            console.log('observer complete')
            vm.imgList.push({
              img: IMG_HOST + res.key,
              width: img.width,
              height: img.height
            })
            vm.completeNum++
            if (
              vm.completeNum < vm.filesIndex - 1 ||
              vm.completeNum == vm.filesIndex - 1
            ) {
              vm.doPictrues(vm.files[vm.completeNum])
            }
          }
        }
        let subscription = observable.subscribe(observer) // 上传开始
      })
    },
    //图片删除
    deleteImg: function(val) {
      this.imgList.splice(val, 1)
    },
    //设为主图
    recommend: function(val) {
      let a = this.imgList[val]
      this.imgList.splice(val, 1)
      this.imgList.unshift(a)
    }
  }
}
</script>
<style scoped>
.editor-btn {
  margin-top: 20px;
}
.text {
  font-size: 16px;
}
.t2 {
  line-height: 36px;
}
.t2 > :nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.uploadImgBtn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  background: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border: 1px solid #ccc;
}

.uploadImgBtn .uploadImg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* 这是一个用做回显的盒子的样式 */
.pic {
  width: 100px;
  height: 100px;
}
.pic img {
  width: 100%;
  height: 100%;
}
</style>