<template>
    <section>
        <div>
            <div style='padding-top:10px;padding-left:10px;padding-right:10px;'>
                 <el-row style='font-size:16px;'>类目管理</el-row>
                 <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;'>
                    <el-col :span="6">
                        <span class='text'>类目名称:</span>
                        <el-input v-model="name" placeholder="请输入名称" style="width:60%;"></el-input>
                    </el-col>
                    <el-col :span="6">
                        <span class='text'>类目编号:</span>
                        <el-input v-model="number"  placeholder="请输入编号" style='width:60%;'> </el-input>
                    </el-col>
                    <el-col :span="6">
                        <span class='text'>是否启用:</span>
                        <el-select v-model="status" filterable placeholder="请选择" style="width:60%;">
                            <el-option v-for="(item,index) in stateList" :key="index" :value="item.value" >
                            </el-option>
                        </el-select>  
                    </el-col>
                    <el-col :span='6'>
                        <el-button icon="search" type="primary" size="medium" @click='getList'>筛选</el-button>
                        <el-button @click='handleAdd' size="medium" type="primary" icon='plus'>添加</el-button>
                    </el-col>
                    
                </el-row>
                 <el-row>
                     <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                        <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
                    </el-col>
                 </el-row>
            </div>
            <div style='padding:0 10px;'>
                <div style='display:flex;justify-content:space-between;'>
                    <span>新建列表</span>
                </div>
                <!-- 新建列表 -->
                <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width: 100%;margin-top:5px;" border>
                    <el-table-column prop="id" width="auto" label='编号'>
			        </el-table-column>
                    <el-table-column prop="themeName" label="类目名称" width="auto">
                    </el-table-column>
                    <el-table-column prop="status" label="是否显示" width="auto" >
                        <template slot-scope="scope">
                            <el-switch v-model="scope.row.status"  active-color="#13ce66" inactive-color="#ff4949" @change='handleChange(scope.row)'>
                            </el-switch>
                        </template>
                    </el-table-column>
                     <el-table-column prop="status" label="排序" width="auto" >
                        <template slot-scope="scope">
                            <div style='display:flex;flex-direction:column;justify-content:flex-start'>
                                <el-button icon='caret-top' type='text' style='width:10px;padding:0px !important' @click="sort(scope.row,'up')" :disabled="scope.$index === 0"></el-button>
                                <el-button icon='caret-bottom' type='text' style='width:10px;margin-left:0px !important;padding:0px !important' @click="sort(scope.row,'down')" :disabled="scope.$index === (total-1)"></el-button>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope" style="display:flex">
                             <el-button type='text' @click='handleEdit(scope.row)'>编辑</el-button>
                             <!-- <el-button type='text' @click="deleteTheme(scope.row)">删除</el-button>   -->
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange">
		        </el-pagination>
                 <!-- 添加-->
                <el-dialog title="新建" :visible.sync="addFormVisible" :close-on-click-modal="false" customClass="visWidth">
                    <el-form :model="addForm" label-width="140px"  ref="addForm">
                        <el-form-item label="类目名称" required>
                            <el-col :span="16">
                                <el-input v-model="addForm.themeName"></el-input>
                            </el-col>   
                        </el-form-item>
                        <el-form-item label="类名编码" required>
                            <el-col :span='16'>
                                <el-input v-model="addForm.themeCode" ></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="是否显示" required>
                            <el-radio-group v-model="addForm.status">
                                <el-radio label="是"></el-radio>
                                <el-radio label="否"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                         <el-form-item>
                           <el-button type="primary" size='small' @click='addTheme'>提交</el-button> 
                        </el-form-item>
                    </el-form>
                </el-dialog>
                <!-- 编辑 -->
                <el-dialog title="编辑" :visible.sync="editFormVisible" :close-on-click-modal="false" customClass="visWidth">
                    <el-form :model="editForm" label-width="140px"  ref="addForm">
                        <el-form-item label="类目名称" required>
                            <el-col :span="16">
                                <el-input v-model="editForm.themeName" ></el-input>
                            </el-col>   
                        </el-form-item>
                        <el-form-item label="类名编码" required>
                            <el-col :span='16'>
                                <el-input v-model="editForm.themeCode" disabled></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="是否显示" required>
                            <el-radio-group v-model="editForm.status">
                                <el-radio label="是"></el-radio>
                                <el-radio label="否"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" size='small' @click='updateTheme'>提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>  
        </div>
    </section>
</template>
<script scoped>
import global from '../../common/common.vue'
export default {
    data(){
        return {
            stateList:[
                {id:'',value:'全部'},
                {id:'1',value:'是'},
                {id:'0',value:'否'},
            ],
            name:'',
            number:'',
            status:'',
            listLoading:false,
            tableData:[],
            addFormVisible: false,
            editFormVisible : false,
            addForm:{
                themeName:'',
                themeCode:'',    
                status:'',
            },
            editForm:{
                id:'',
                themeName:'',
                themeCode:'',    
                status:'',
            },
            currentPage:1,
            pageSize:20,
            total : 1,
            queryTheme : global.queryThemeUrl,
            updateThemeurl : global.updateThemeUrl,
            addThemeurl : global.addThemeUrl,
            toUpdateTheme : global.toUpdateThemeUrl,
        }
    },
    mounted(){
        this.getList();
    },
    methods:{
        getList:function(){
           this.listLoading = true;
           let statusId;
           for(let ele of this.stateList){
               if(ele.value === this.status) statusId = ele.id;
           }
           let formData = new FormData();
           formData.append("json", JSON.stringify
                ({
                    themeName : this.name === '' ? undefined : this.name,
                    themeCode : this.number === '' ? undefined : this.number,
                    status : statusId === '' ? undefined : statusId,
                    currentPage : this.currentPage,
                    pageSize : this.pageSize
                })
           )
           fetch(this.queryTheme,{
               method : 'POST',
               body : formData
           }).then(res=>res.json()
           ).then(res=>{
                this.listLoading = false;
                for(let ele of res.result.records){
                    ele.status = ele.status ? true : false;
                }
                this.tableData = res.result.records;
                this.total = res.result.total;
                
           }).catch(e=>{
               this.listLoading = false;
               this.$message({
                    message:"网络错误，请重试!",
                    type:'error'
                })
           })
        },
        //添加接口
        addTheme:function(){
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({
                    themeName : this.addForm.themeName,
                    themeCode : this.addForm.themeCode,    
                    status : this.addForm.status === '是' ? 1 : 0,
                })
            )
            // console.log(this.addForm.themeName,this.addForm.themeCode,this.addForm.status);
           if(this.addForm.themeName === ''){
               this.$message({
                   message:'类目名称不能为空!',
                   type:'error'
               })
               return false
           }else if(this.addForm.themeCode === ''){
               this.$message({
                   message:'类目编码不能为空!',
                   type:'error'
               })
               return false
           }else if(this.addForm.status === ''){
               this.$message({
                   message:'请选择是否显示!',
                   type:'error'
               })
               return false
           }else{
                fetch(this.addThemeurl,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    this.addFormVisible = false;
                    if(res.isSuccess === 1){
                        this.$message({
                            message:'添加成功!',
                            type:'info'
                        });
                    }else{
                        this.$message({
                            message:res.result,
                            type:'error'
                        });
                    }
                    // this.addTheme = Object.assign({themeName:'', themeCode:'',status:''});   请缓存
                    this.getList();
                }).catch(e=>{
                    this.addFormVisible = false;
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }
        },
        //编辑接口
        updateTheme:function(){
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({
                    id : this.editForm.id,
                    themeName : this.editForm.themeName,
                    themeCode : this.editForm.themeCode,    
                    status : this.editForm.status === '是' ? 1 : 0
                })
            )
            if(this.editForm.themeName === ''){
               this.$message({
                   message:'类目名称不能为空!',
                   type:'error'
               })
               return false
           }else if(this.editForm.themeCode === ''){
               this.$message({
                   message:'类目编码不能为空!',
                   type:'error'
               })
               return false
           }else if(this.editForm.status === ''){
               this.$message({
                   message:'请选择是否显示!',
                   type:'error'
               })
               return false
           }else{
                this.$confirm('确认修改该记录吗?', '提示', {}).then(() => {
                    fetch(this.toUpdateTheme,{
                        method:'POST',
                        body:formData
                    }).then(res=>res.json()
                    ).then(res=>{
                        this.editFormVisible = false;
                        if(res.isSuccess === 1){
                            this.$message({
                                message:'修改成功!',
                                type:'info'
                            })
                        }else{
                            this.$message({
                                message:res.result,
                                type:'error'
                            })
                        }
                        this.getList();
                    }).catch(e=>{
                        this.editFormVisible = false;
                        this.$message({
                            message:'网络错误,请重试!',
                            type:'error'
                        })
                    })
                }).catch(()=>{
                    this.editFormVisible = false;
                    this.$message({
                        message:'已取消修改!',
                        type:'error'
                    })
                })
                
           }
        },
        handleAdd:function(){
            this.addForm = Object.assign({},{
                themeName:'',
                themeCode:'',    
                status:''
            })
            this.addFormVisible = true;
        },
        handleEdit:function(val){
            this.editFormVisible = true;
            this.editForm.id = val.id;
            this.editForm.themeName = val.themeName;
            this.editForm.themeCode = val.themeCode;
            this.editForm.status = val.status == 1 ? '是' : '否';
        },
        handleCurrentChange:function(val){
            this.currentPage=val;
            this.getList();
        },
        handleChange(val){
           if(!val.status){
                this.$confirm('关闭此类目，前端此类目下的所有心得都隐藏，是否关闭?', '提示', {}).then(() => {
                let formData = new FormData();
                formData.append("json", JSON.stringify
                    ({
                        id : val.id,
                        status : !val.status == true ? 0 : 1
                    })
                )
                fetch(this.updateThemeurl,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.$message({
                            message:'修改成功!',
                            type:'info'
                        })
                       this.getList();
                    }else{
                        this.$message({
                            message:res.errorMsg,
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }).catch(() => {
               this.tableData.findIndex(item => {
                    if (item.id === val.id) {
                        item.status = true;
                    }
                })
            });
           }else{
                this.$confirm('启动此类目，前端此类目下的所有心得都公开，是否启动?', '提示', {}).then(() => {
                let formData = new FormData();
                formData.append("json", JSON.stringify
                    ({
                        id : val.id,
                        status : !val.status == true ? 0 : 1
                    })
                )
                fetch(this.updateThemeurl,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.$message({
                            message:'修改成功!',
                            type:'info'
                        })
                    }else{
                        this.$message({
                            message:res.errorMsg,
                            type:'error'
                        })
                    }
                    this.getList();
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }).catch(() => {
               this.tableData.findIndex(item => {
                    if (item.id === val.id) {
                        item.status = false;
                    }
                })
            });
           }
           
            
        },
        sort(val,val2){
           let title;
           title = val2 === 'up' ? '升序' : '降序';
            this.$confirm('是否确认'+title+'?', '提示', {}).then(() => {
                let formData = new FormData();
                formData.append("json", JSON.stringify
                        ({
                            themeIdPersont : val.id + '',
                            sort : val2
                        })
                )
                fetch(global.sort,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess===1){
                        this.$message({
                            message:res.result,
                            type:'info'
                        })
                        this.getList();
                    }else{
                       this.$message({
                            message:res.result,
                            type:'error'
                        }) 
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试!',
                        type:'error'
                    })
                })
            }).catch(()=>{})
        },
    }
}
</script>
<style>
    .text{
		display:inline-block;
		width:80px;
	}
	
    .visWidth{
        width:35%
    }
</style>

