<template>
    <section>
        <div class="detail">
            <div class="left">
                <img :src="detail.headImg" alt="">
                <p class="name">{{detail.nickName}}</p>
                <p class="time"><span>发布时间</span>{{detail.createdAt | formData}}</p>
            </div>
            <div class="right">
                <h3>{{detail.title}}</h3>
                <div class="content">
                    <div v-html="detail.content" class="con"></div>
                    <img :src="detail.headImg" alt="">
                </div>
                <div class="comment">
                    <span>全部评论</span>
                    <ul class='uls'>
                        <li v-for='(item,index) in detail.articleAppraises' :key='index' class='lis'>
                            <div class="head">
                                <img :src="item.headImg" alt="">
                                <p>{{item.nickName || '没有昵称'}}</p>
                            </div>
                            <div class="right">
                                <div>{{item.appContent}}</div>
                                <div class="time">
                                    <span>{{item.createdAt}}</span>
                                    <div>
                                        <el-button type='text' @click="handleClick(item.id,'1')" :disabled="item.status == 1 || item.status === '2'">隐藏</el-button>
                                        <el-button type='text' @click="handleClick(item.id,'2')" :disabled="item.status == 2" style="color:red">删除</el-button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import global from '../../common/common'
import dayjs from 'dayjs'
export default {
  data() {
    return {
      detail: {}
    }
  },
  mounted() {
    this.getDetailMessage()
  },
  methods: {
    handleClick(id, status) {
      var sta = ''
      if (status == 1) {
        sta = '确认隐藏该记录吗?'
      } else {
        sta = '确认删除该记录吗?'
      }
      this.$confirm(sta, '提示', {}).then(() => {
        let formData = new FormData()
        formData.append(
          'json',
          JSON.stringify({
            id: id,
            status: status
          })
        )
        fetch(global.oneOperation, {
          method: 'POST', //请求方法
          body: formData //请求体
        })
          .then(res => res.json())
          .then(res => {
            if (res.isSuccess == 1) {
              this.detail.articleAppraises.findIndex(item => {
                if (item.id === id) {
                  item.status = status
                }
              })
              this.$message({
                message: res.result,
                type: 'success'
              })
            } else {
              this.$message({
                message: res.errorMsg,
                type: 'error'
              })
            }
          })
          .catch(err => {
            this.listLoading = false
            this.$message({
              message: '未知错误',
              type: 'error'
            })
          })
      })
    },
    getDetailMessage() {
      let formData = new FormData()
      formData.append(
        'json',
        JSON.stringify({
          id: this.$route.query.id
        })
      )
      fetch(global.commentDetail, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess == 1) {
            this.detail = res.result
          } else {
            this.$message({
              message: res.errorMsg,
              type: 'error'
            })
          }
        })
        .catch(err => {
          this.listLoading = false
          this.$message({
            message: '未知错误',
            type: 'error'
          })
        })
    }
  },
  filters: {
    formData(val) {
      return dayjs(val).format('YYYY-MM-DD HH:mm:ss')
    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  display: flex;

  .left {
    text-align: center;
    padding: 20px;
    img {
      border-radius: 50%;
    }
    .name {
      margin-top: 40px;
    }
  }
  .right {
    flex: 1;
    h3 {
      text-align: center;
    }
    .content {
      margin-left: 20px;
      .con {
        margin: 10px 0;
      }
    }
    .comment {
      margin-top: 20px;
      .uls {
        width: 100%;
        .lis {
          width: 100%;
          display: flex;
          margin-bottom: 15px;
          .head {
            text-align: center;
            img {
              width: 40px;
              height: 40px;
            }
            p {
              font-size: 12px;
            }
          }
          .right {
            margin-left: 10px;
            flex: 1;
            .time {
              padding-right: 30px;
              display: flex;
              justify-self: center;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
</style>



