<template>
  <section>
    <div style='padding:10px;'>
      <el-row style='font-size:16px;'>评论管理</el-row>
      <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;'>
        <el-col :span="8">
          <span class='text'>用户昵称:</span>
          <el-input v-model="nickName" placeholder="请输入昵称" style='width:60%;'> </el-input>
        </el-col>
        <el-col :span="8">
          <span class='text'>用户编号:</span>
          <el-input v-model="cpId" placeholder="请输入编号" style='width:60%;'> </el-input>
        </el-col>
        <el-col :span="8">
          <span class='text'>评论状态:</span>
          <el-select v-model="status" filterable placeholder="请选择" style="width:60%;">
            <el-option v-for="(item,index) in stateList" :key="index" :value="item.value" :label="item.label">
            </el-option>
          </el-select>
        </el-col>
      </el-row>
      <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;'>
        <el-col :span='8'>
          <span class='text'>帖子标题:</span>
          <el-input v-model="title" placeholder="请输入内容" style='width:60%;'> </el-input>
        </el-col>
        <el-col :span='10'>
          <span class='text'>评价时间:</span>
          <el-date-picker v-model="startDate" type="date" placeholder="选择日期" style='width:35%'>
          </el-date-picker>
          <span>~</span>
          <el-date-picker v-model="endDate" type="date" placeholder="选择日期" style='width:35%' :picker-options="pickerOptions">
          </el-date-picker>
        </el-col>
        <el-col :span='6'>
          <el-button icon="search" type="primary" size="medium" @click="search">筛选</el-button>

        </el-col>
      </el-row>
      <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
        <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
      </el-col>
    </div>
    <div style='padding:10px;'>
      <div>
        <span>评论列表</span>
      </div>
      <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width: 100%;margin-top:5px;font-size:14px;" border @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="id" width="80" label='帖子ID'>
        </el-table-column>
        <el-table-column prop="nickName" label="用户昵称" width="100">
        </el-table-column>
        <el-table-column prop="title" label="帖子标题" width="100">
        </el-table-column>
        <el-table-column prop="content" label="评价内容" width="150">
        </el-table-column>
        <el-table-column label="评价时间" width="200">
          <template slot-scope="scope">
            <span>{{ scope.row.replyTime | funFormat }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="status" label="状态" width="100">
          <template slot-scope="scope">
            <span>{{ scope.row.status | statusFun }}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column prop="countThumbs" label="评论被回复数" width="auto">
                </el-table-column> -->
        <el-table-column label="操作" width='170'>
          <template slot-scope="scope" style="display:flex">
            <el-button type='text' @click='handleClick(scope.row)' style="color:#08ada5">查看详情</el-button>
            <el-button type='text' :disabled="scope.row.status === '1' || scope.row.status === '2'" @click="handleItem(scope.row,'1')">隐藏</el-button>
            <el-button type='text' :disabled="scope.row.status == 2" @click="handleItem(scope.row,'2')" style="color:red">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-row style='display:flex;'>
        <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize" @current-change="handleCurrentChange">
        </el-pagination>
        <span style="margin-left:20px; line-height:35px;">批量操作</span>
        <el-select v-model="chose" filterable placeholder="请选择" style="width:120px;margin:0 10px;">
          <el-option v-for="(item,index) in choseList" :key="index" :value="item.value" :label="item.label">
          </el-option>
        </el-select>
        <el-button type="info" icon="el-icon-message" circle @click="batchOperationFun" size='small'>确定</el-button>
      </el-row>
    </div>
  </section>
</template>
<script>
import p1 from '../../assets/user.png'
import global from '../../common/common.vue'
import dayjs from 'dayjs'
export default {
  data() {
    return {
      status: '',
      title: '',
      startDate: '',
      endDate: '',
      stateList: [
        { value: null, label: '所有' },
        { value: '0', label: '正常' },
        { value: '1', label: '已隐藏' },
        { value: '2', label: '已删除' }
      ],
      tableData: [],
      listLoading: false,
      currentPage: 1,
      pageSize: 10,
      total: 1,
      visible: false,
      form: {},
      imgList: [p1, p1, p1, p1, p1, p1, p1, p1, p1],
      cpId: '',
      nickName: '',
      batchOperation: [],
      arr: [],
      choseList: [{ value: '1', label: '隐藏' }, { value: '2', label: '删除' }],
      chose: '',
      pickerOptions:{
        disabledDate: (time) => {
                return time.getTime() < this.startDate;
            }
      }
    }
  },
  beforeRouteEnter(to, from, next) {
    if (from.path == '/community/commentDetail') {
      to.meta.keepAlive = true
    } else {
      to.meta.keepAlive = false
    }
    next()
  },
  beforeRouteLeave(to, from, next) {
    if (to.path == '/community/comment') {
      from.meta.keepAlive = true
    }
    next()
  },
  mounted() {
    this.getArticleList()
  },
  methods: {
    handleCurrentChange: function(val) {
      this.currentPage = val
      this.getArticleList()
    },
    closeModal() {
      this.form = {}
    },
    handleSelectionChange(val) {
      this.batchOperation = val
    },
    batchOperationFun() {
      var status = this.chose
      if (status == 1) {
        this.batchOperation = this.batchOperation
          .filter(item => item.status == 0)
          .map(({ id, status }) => ({ id }))
        if (this.batchOperation.length > 0) {
          this.batchOperationSy({ ids: this.batchOperation, status: status })
        } else {
          this.$message({
            message: '请选择需要隐藏的项目',
            type: 'error'
          })
        }
      } else {
        this.batchOperation = this.batchOperation
          .filter(item => item.status != 2)
          .map(({ id, status }) => ({ id }))

        if (this.batchOperation.length > 0) {
          this.batchOperationSy({ ids: this.batchOperation, status: status })
        } else {
          this.$message({
            message: '请选择需要删除的项目',
            type: 'error'
          })
        }
      }
    },
    batchOperationSy(arr) {
      var sta = ''
      if (arr.status == 1) {
        sta = '确认要批量隐藏记录吗?'
      } else {
        sta = '确认要批量删除该录吗?'
      }
      this.$confirm(sta, '提示', {}).then(() => {
        let formData = new FormData()
        formData.append('json', JSON.stringify(arr))
        fetch(global.commentbatchOperation, {
          method: 'POST', //请求方法
          body: formData //请求体
        })
          .then(res => res.json())
          .then(res => {
            if (res.isSuccess == 1) {
              this.getArticleList()
            } else {
              this.$message({
                message: res.errorMsg,
                type: 'error'
              })
            }
          })
          .catch(err => {
            this.listLoading = false
            this.$message({
              message: '网络错误,请重试!',
              type: 'error'
            })
          })
      })
    },
    search() {
      this.startDate = this.startDate && dayjs(this.startDate).format('YYYY-MM-DD');
      this.endDate = this.endDate && dayjs(this.endDate).format('YYYY-MM-DD')
      this.getArticleList()
    },
    handleClick: function(val) {
      this.$router.push({
        path: '/community/commentDetail',
        query: { id: val.id }
      })
    },
    handleItem(obj, status) {
      var sta = ''
      if (status == 1) {
        sta = '确认隐藏该记录吗?'
      } else {
        sta = '确认删除该记录吗?'
      }
      this.$confirm(sta, '提示', {}).then(() => {
        let formData = new FormData()
        formData.append(
          'json',
          JSON.stringify({
            id: obj.id,
            status: status
          })
        )
        fetch(global.oneOperation, {
          method: 'POST', //请求方法
          body: formData //请求体
        })
          .then(res => res.json())
          .then(res => {
            if (res.isSuccess == 1) {
              this.tableData.findIndex(item => {
                if (item.id === obj.id) {
                  item.status = status
                }
              })
              this.$message({
                message: res.result,
                type: 'success'
              })
            } else {
              this.$message({
                message: res.errorMsg,
                type: 'error'
              })
            }
          })
          .catch(err => {
            this.listLoading = false
            this.$message({
              message: '未知错误',
              type: 'error'
            })
          })
      })
    },
    getArticleList() {
      this.listLoading = true
      let formData = new FormData()
      formData.append(
        'json',
        JSON.stringify({
          currentPage: this.currentPage,
          pageSize: this.pageSize,
          nickName: this.nickName,
          cpId: this.cpId,
          status: this.status,
          title: this.title,
          startDate: this.startDate,
          endDate: this.endDate
        })
      )

      fetch(global.articleLists, {
        method: 'POST', //请求方法
        body: formData //请求体
      })
        .then(res => res.json())
        .then(res => {
          this.listLoading = false
          if (res.isSuccess == 1) {
            this.tableData = res.result.records
            this.total = res.result.total
          } else {
            this.tableData = []
            this.$message({
              message: res.errorMsg,
              type: 'error'
            })
          }
        })
        .catch(err => {
          this.listLoading = false
          this.$message({
            message: '未知错误',
            type: 'error'
          })
        })
    }
  },
  filters: {
    funFormat(val) {
      return dayjs(val).format('YYYY-MM-DD')
    },
    statusFun(val) {
      if (val == 1) {
        return '已隐藏'
      } else if (val == 2) {
        return '已删除'
      } else {
        return ' 正常'
      }
    }
  }
}
</script>
<style scoped lang="scss">
.text {
  display: inline-block;
  width: 80px;
}
ul,
li {
  list-style: none;
}
.uls {
  width: 100%;
  .lis {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    .head {
      text-align: center;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        font-size: 12px;
      }
    }
    .right {
      margin-left: 10px;
      flex: 1;
      .time {
        margin-top: 10px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
</style>

