<template>
  <section style='padding:10px;'>
    <el-row style='font-size:16px;'>官方内容</el-row>
    <div style='margin-top:10px;'>
      <el-row style='display:flex;flex-direction:row;align-items:flex-end;margin-top:20px;flex-wrap: wrap'>
        <el-col :span="6">
          <span class='text'>发布动态:</span>
          <el-select v-model="publish" placeholder="请选择" style='width:60%'>
            <el-option v-for="item in publishList" :key="item.publish" :label="item.label" :value="item.publish">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="6">
          <span class='text'>状态:</span>
          <el-select v-model="state" placeholder="请选择" style='width:60%'>
            <el-option v-for="item in options" :key="item.state" :label="item.label" :value="item.state">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span='12'>
          <span class='text'>发布时间:</span>
          <el-date-picker v-model="startDate" type="date" placeholder="选择日期" style='width:35%'>
          </el-date-picker>
          ~
          <el-date-picker v-model="endDate" type="date" placeholder="选择日期" style='width:35%' :picker-options="pickerOptions">
          </el-date-picker>
        </el-col>
        <el-col :span='6' style='margin-top:15px;'>
          <el-button icon="search" type="primary" size="medium" @click="search">筛选</el-button>
          <el-button icon="plus" type="primary" size="medium" @click="addClick">新建</el-button>
        </el-col>
      </el-row>

    </div>
    <el-col :span="24" style='margin-top:36px;'>
      <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
    </el-col>
    <div style='margin-top:10px;'>
      <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width: 100%;margin-top:5px;font-size:14px;" border>
        <el-table-column type="selection" width="50">
        </el-table-column>
        <el-table-column prop="id" width="80" label='帖子ID'>
        </el-table-column>
        <el-table-column prop="cpId" label="发布ID" width="100">
        </el-table-column>
        <el-table-column prop="title" label="标题" width="auto">
        </el-table-column>
        <el-table-column prop="categoryType" label="分类" width="auto"> 
          <template slot-scope='scope'>
            <span>{{scope.row.categoryType}}</span>
          </template>
			  </el-table-column>
        <el-table-column label="发布时间" width="auto">
          <template slot-scope="scope">
            {{scope.row.createdAt | changeTime}}
          </template>
        </el-table-column>
        <el-table-column label="状态" width="auto">
          <template slot-scope="scope">
            {{scope.row | funStatus}}
          </template>
        </el-table-column>
        <el-table-column label="相关" width="auto">
          <template slot-scope="scope">
            点赞 {{scope.row.thumbCount}}
            评论 {{scope.row.replyCount}}
          </template>
        </el-table-column>
        <el-table-column label="操作" width='305'>
          <template slot-scope="scope" style="display:flex">
            <el-button type='text' @click='showDetail(scope.row)' style="color:#08ada5">查看详情</el-button>
            <el-button type='text' @click='handleClick(scope.row)' v-if='scope.row.status !=4' style="color:#7511a9">编辑</el-button>
            <el-button  type='text' @click='recommend(scope.row)' v-if="scope.row.status == 2 && scope.row.recommend == 0" size='medium ' style="color:#042f5d">推荐</el-button> 
            <el-button  type='text' @click="deleteT(scope.row)" v-if="scope.row.status =='2' && scope.row.recommend == 1" size='medium ' style="color:#17670854">取消推荐</el-button>
            <el-popover placement="top-start" trigger="hover"  v-if="scope.row.status !=0 && scope.row.status !=4">
                <div style="text-align: center; margin: 0;" v-for='item in sortList' :key='item.id'>
                    <el-button size="medium " type="text" @click='updateTheme(scope.row,item.themeName)' slot="reference">{{item.themeName}}</el-button>
                </div>
                <el-button slot="reference"  type='text' style='margin-left:5px;margin-right:5px;' size='medium'>重新分类</el-button>
            </el-popover>
            <el-button type='text' @click='handleDelete(scope.row)' v-if="scope.row.status!=4" style="color:red">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize" @current-change="handleCurrentChange">
      </el-pagination>
      <!-- 查看详情 -->
      <el-dialog  :visible.sync="visible" :close-on-click-modal="false">
        <section class="alcontent">
          <div class="left">
            <img :src="detail.headImg" alt="" style="width:30%">
            <p>汉宝</p>
            <p>创建时间：{{detail.createdAt | changeTime}}</p>
          </div>
          <div class="right" style="width:60%">
            <div>
              <span>收藏：{{detail.collectionCount}}</span>
              <span>点赞：{{detail.thumbCount}}</span>
              <span>分享：{{detail.collectionCount}}</span>
            </div>
            <h4 class="title">{{detail.title}}</h4>
            <section v-html='detail.content'></section>
            <div>
              <ul style='list-style: none;padding:0;margin:0; display: flex;flex-direction:row;flex-wrap:wrap;'>
                <li v-for="(item,index) in detail.imgList" :key="index" style='list-style: none;padding:0;margin:0;'>
                  <img :src="item.img" alt="" style="width:100px;height:100px;margin-top:5px;margin-left:5px;">
                </li>
              </ul>
            </div>
            <div>
              <span>全部评论</span>
              <ul class='uls'>
                <li v-for='item in detail.cShareReplys' :key='item.id' class='lis'>
                  <div class="head">
                    <img :src="item.headImg" alt="">
                    <p>{{item.nickName || '没有昵称'}}</p>
                  </div>
                  <div class="right">
                    <div>{{item.appContent}}</div>
                    <div class="time">
                      <span>{{item.createdAt}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </el-dialog>
    </div>
  </section>
</template>
<script>
import dayjs from 'dayjs'
import global from '../../common/common.vue'
export default {
  data() {
    return {
      publishList: [
        { publish: '0', label: '所有' },
        { publish: '1', label: '过去7天发布' },
        { publish: '2', label: '过去30天发布' },
        { publish: '3', label: '过去60天发布' }
      ],
      publish: '',
      startDate: '',
      endDate: '',
      pickerOptions: {
        disabledDate: time => {
          return time.getTime() < this.startDate
        }
      },
      tableData: [],
      listLoading: false,
      total: 1,
      pageSize: 10,
      currentPage: 1,
      visible: false,
      options: [
        {
          state: '',
          label: '所有'
        },
        {
          state: '0',
          label: '草稿'
        },
        {
          state: '2',
          label: '已发布'
        },
        {
          state: '4',
          label: '已删除'
        }
      ],
      state: null,
      dynamic: '',
      publishDate: '',
      detail: {},
      sortList:[],
    }
  },
  mounted() {
    this.getTypeList();
    this.getTableDate()
  },
  filters: {
    changeTime: function(val) {
      let time = new Date(val)
      let yy = time.getFullYear()
      let mm =
        time.getMonth() + 1 < 10
          ? '0' + (time.getMonth() + 1)
          : time.getMonth() + 1
      let dd = time.getDate() < 10 ? '0' + time.getDate() : time.getDate()
      let hh = time.getHours() < 10 ? '0' + time.getHours() : time.getHours()
      let min =
        time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes()
      let ss =
        time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds()
      return (
        yy.toString() +
        '-' +
        mm.toString() +
        '-' +
        dd.toString() +
        ' ' +
        hh.toString() +
        ':' +
        min.toString() +
        ':' +
        ss.toString()
      )
    },
    funStatus(val) {
      switch (String(val.status)) {
        case '0':
          return '草稿'
          break
        case '1':
          return '待审核'
          break
        case '2':
         if(val.recommend == 1){return '已推荐';}
         else return '已发布';
        //  { val.recommend == 1 ? return '已推荐' : return '已发布';}
          break;
        case '3':
          return '审核不通过'
          break
        case '4':
          return '已删除'
          break
      }
    },
  },
  methods: {
    search() {
      if (this.publish == '0') {
        this.dynamic = ''
      } else if (this.publish == '1') {
        this.dynamic = dayjs()
          .subtract(7, 'day')
          .format('YYYY-MM-DD')
      } else if (this.publish == '2') {
        this.dynamic = dayjs()
          .subtract(30, 'day')
          .format('YYYY-MM-DD')
      } else if (this.publish == '3') {
        this.dynamic = dayjs()
          .subtract(60, 'day')
          .format('YYYY-MM-DD')
      }
      var startFormit = ''
      var endFormit = ''
      if (this.startDate) {
        startFormit = dayjs(this.startDate).format('YYYY-MM-DD HH:mm:ss')
      }
      if (this.endDate) {
        endFormit = dayjs(this.endDate).format('YYYY-MM-DD HH:mm:ss')
      }
      this.publishDate = startFormit + endFormit
      this.getTableDate()
    },
    handleCurrentChange: function(val) {
      this.currentPage = val;
      this.getTableDate()
    },
    //编辑和查看详情
    showDetail(val) {
      this.visible = true
      this.detail = val
    },
    handleClick: function(val) {
      window.sessionStorage.setItem(val.id, JSON.stringify(val))
      this.$router.push({
        path: '/community/addContent',
        query: { id: val.id }
      })
    },
    //删除
    handleDelete: function(val) {
      this.$confirm('确认删除该记录吗?', '提示', {})
        .then(() => {
          let formData = new FormData()
          formData.append(
            'json',
            JSON.stringify({
              id: val.id
            })
          )
          fetch(global.deleteUrl, {
            method: 'POST',
            body: formData
          })
            .then(res => res.json())
            .then(res => {
              if (res.isSuccess == 1) {
                this.tableData.findIndex(item => {
                  if (item.id === val.id) {
                    item.status = 4
                  }
                })
                this.$message({
                  message: '删除成功',
                  type: 'success'
                })
              } else {
                this.$message({
                  message: res.errorMsg,
                  type: 'error'
                })
              }
            })
            .catch(e => {
              this.$message({
                message: '未知错误！',
                type: 'error'
              })
            })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    getTableDate() {
      this.listLoading = true
      let data = {
        status: this.state,
        dynamic: this.dynamic,
        publishDate: this.publishDate,
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        authorId: '2000002',
        cpId: '2000002'
      }
      let formData = new FormData()
      formData.append('json', JSON.stringify(data))
      fetch(global.hvContentList, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          this.listLoading = false
          if (res.isSuccess == 1) {
            for(let ele of res.result.realyResult){
               ele.categoryType = this.transferType(ele.categoryType);
            }
            this.tableData = res.result.realyResult;
            this.total = res.result.totalCount;
          } else {
            this.$message({
              message: res.errorMsg,
              type: 'error'
            })
          }
        })
        .catch(e => {
          this.listLoading = false
        })
    },
    //添加
    addClick() {
      this.$router.push({
        path: '/community/addContent'
      })
    },
     //推荐按钮
    recommend:function(val){
        this.$confirm('确认推荐该文章么?','提示',{}).then(()=>{
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({
                  id : val.id,
                  cpId : val.cpId,
                  status : '2'
                })
            )
            fetch(global.toArticleCommonUrl,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess === 1){
                  this.$message({
                      message:res.result.CheckArticleResult,
                      type:'info'
                  })
                }else{
                    this.$message({
                        message:res.result,
                        type:'error'
                    })
                }
                this.getTableDate();
            }).catch(e=>{
                this.editFormVisible = false;
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        }).catch(()=>{})
    },
     //取消推荐
    deleteT:function(val){
        this.$confirm('确认取消推荐?', '提示', {}).then(() => {
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({
                    shareId : val.id,
                })
            )                 
            fetch(global.deleteGroom,{
                method : 'POST',
                body : formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess == 1){
                    this.$message({
                        message:'取消推荐成功',
                        type:'info'
                    }) 
                }else{
                    this.$message({
                        message:'取消推荐失败',
                        type:'error'
                    }) 
                }
                this.getTableDate();
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试！',
                    type:'error'
                })
            })  
        }).catch(() => {
          
        });
    },
    getTypeList:function(){
        let formData = new FormData();
        formData.append("json", JSON.stringify
                ({})
        )
        fetch(global.getClassifyList,{
            method:'POST',
            body:formData
        }).then(res=>res.json()
        ).then(res=>{
            if(res.isSuccess === 1){
                this.sortList = res.result;
            }
        }).catch(e=>{
            this.$message({
                message:'网络错误,请重试!',
                type:'error'
            })
        })
    },
    //重新分类
    updateTheme(val,val1){
        let themeBefore,themeAfter;
        console.log(val.categoryType!==null)
        for(let ele of this.sortList){
          if(val1 === ele.themeName ) themeAfter = ele.themeCode;
          if(val.categoryType!==null){
              if(val.categoryType === ele.themeName ) themeBefore = ele.themeCode;
          }
        }
        if(val.categoryType === val1){
            this.$message({
                message:'不可选择同样分类',
                type:'warning'
            })
            return false
        }else{
            this.$confirm('确认再次分类到'+ val1+'类目吗？','提示',{}).then(()=>{
            let formData = new FormData();
            formData.append("json", JSON.stringify
                    ({
                        shareId : val.id + '',
                        themeBefore : themeBefore==undefined ? "":themeBefore,
                        themeAfter : themeAfter
                    })
            )
            fetch(global.changeTheme,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess===1){
                    this.$message({
                        message:'重新分类成功',
                        type:'info'
                    })
                      this.tableData.findIndex(item => {
                        if (item.id === val.id) {
                            item.categoryType = val1;
                        }
                      })
                }else{
                    this.$message({
                        message:'重新分类失败',
                        type:'error'
                    })
                }
            }).catch(e=>{
                this.$message({
                    message:'网络错误，请重试!',
                    type:'error'
                })
            })

            }).catch(()=>{})
        }
        
    },
    transferType(val){
        for(let ele of this.sortList){
            if(ele.themeCode == val){
                return ele.themeName;
            }
        }
    },
  }
}
</script>
<style scoped lang='scss'>
.text {
  display: inline-block;
  width: 80px;
}
.alcontent {
  margin-top: 20px;
  display: flex;
  .right {
    margin-left: 10px;
  }
  .left {
    margin: 0 20px 0 10px;
    width: 200px;
    text-align: center;
    img {
      border-radius: 50%;
    }
  }
}

.uls {
  width: 100%;
  .lis {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    .head {
      text-align: center;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        font-size: 12px;
      }
    }
    .right {
      margin-left: 10px;
      flex: 1;
      .time {
        padding-right: 30px;
        margin-top: 10px;
      }
    }
  }
}
</style>

