<template>
   <section>
        <el-row style='margin-top:20px;'>
            <span>德分奖励机制设置列表:</span>
        </el-row>
        <el-row>
            <el-table :data="tableData" highlight-current-row  style="width: 100%;margin-top:5px;font-size:14px;" border>
                <el-table-column prop="name" label="内容" width="auto">
                </el-table-column>
                <el-table-column prop="publish" label="普通帖" width="120">
                    <template slot-scope='scope'>
                        <label v-if='scope.row.isEdit'>{{scope.row.publish}}</label>
                        <el-input type='number' v-model='scope.row.publish' v-else></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="publishAndRecommend" label="普通发布就被推荐" width="130">
                    <template slot-scope='scope'>
                        <label v-if='scope.row.isEdit'>{{scope.row.publishAndRecommend}}</label>
                        <el-input type='number' v-model='scope.row.publishAndRecommend' v-else></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="recommend" label="普通心得发布后再次被推荐" width="130">
                    <template slot-scope='scope'>
                        <label v-if='scope.row.isEdit'>{{scope.row.recommend}}</label>
                        <el-input type='number' v-model='scope.row.recommend' v-else></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="comment" label="评论" width="100">
                    <template slot-scope='scope'>
                        <label v-if='scope.row.isEdit'>{{scope.row.comment}}</label>
                        <el-input type='number' v-model='scope.row.comment' v-else></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="share" label="分享" width="100">
                    <template slot-scope='scope'>
                        <label v-if='scope.row.isEdit'>{{scope.row.share}}</label>
                        <el-input type='number' v-model='scope.row.share' v-else></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="thumb" label="点赞" width="100">
                    <template slot-scope='scope'>
                        <label v-if='scope.row.isEdit'>{{scope.row.thumb}}</label>
                        <el-input type='number' v-model='scope.row.thumb' v-else></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width='auto'>
                    <template slot-scope="scope" style="display:flex">
                        <el-button type='text' @click='handleEdit(scope.row)'>编辑</el-button>
                        <el-button type='text' @click='handleSubmit(scope.row)' v-if="scope.row.isEdit === false">保存</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
   </section>
</template>
<script>
import global from '../../common/common.vue'
export default {
    data(){
        return {
            tableData:[],
            selectPointAndLimints : global.selectPointAndLimints,
            point : global.pointUrl,              //保存德分数接口
            limits : global.limitsUrl,            //保存用户每日奖励次数上限接口
        }
    },
    mounted(){
        this.getData();
    },
    methods:{
        handleEdit:function(val){
            val.isEdit = false;
        },
        handleSubmit:function(val){
            val.isEdit = true;
            if(val.name === '德分数'){
                this.updateDpoint();
            }else{
                this.updateLimit();
            }       
        },
        getData:function(){
            let formData = new FormData();
            formData.append('json', JSON.stringify({}))
            fetch(this.selectPointAndLimints,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess === 1){
                    for(let ele of res.result){
                        ele.isEdit = true;
                    }
                    this.tableData = res.result;
                }else{
                    this.$message({
                        message:res.errorMsg,
                        type:'error'
                    })
                }
                
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        },
        //修改德分数
        updateDpoint:function(){
            let formData = new FormData();
            formData.append('json', JSON.stringify({
                comment: this.tableData[0].comment,
                publish: this.tableData[0].publish,
                publishAndRecommend: this.tableData[0].publishAndRecommend,
                recommend: this.tableData[0].recommend,
                share: this.tableData[0].share,
                thumb: this.tableData[0].thumb,
            })) 
            fetch(this.point,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess === 1){
                    this.$message({
                        message:res.result,
                        type:'info'
                    })
                }else{
                    this.$message({
                        message:res.errorMsg,
                        type:'info'
                    })
                }
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        },
        //修改每日上线数
        updateLimit:function(){
            let formData = new FormData();
            formData.append('json', JSON.stringify({
                comment: this.tableData[1].comment,
                publish: this.tableData[1].publish,
                publishAndRecommend: this.tableData[1].publishAndRecommend,
                recommend: this.tableData[1].recommend,
                share: this.tableData[1].share,
                thumb: this.tableData[1].thumb,
            })) 
            fetch(this.limits,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                if(res.isSuccess === 1){
                    this.$message({
                        message:res.result,
                        type:'info'
                    })

                }else{
                    this.$message({
                        message:res.errorMsg,
                        type:'info'
                    })
                }
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        }
    }
}
</script>

