<template>
    <section > 
        <div style='padding:10px;'>
            <el-row style='margin:5px 0;'><span style='font-size:16px;'>会员管理</span></el-row>
            <el-row class='tools'>
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>用户昵称:</span>
                    <el-input style='width:60%' v-model='nickName1'></el-input>
                </el-col>
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>用户ID号:</span>
                    <el-input style='width:60%' v-model='cpId'></el-input>
                </el-col>
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>手机号码:</span>
                    <el-input style='width:60%' v-model='phone'></el-input>
                </el-col>
                <el-col :span='9'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>注册时间:</span>
                    <el-date-picker v-model="startDate" type="date" placeholder="自从" style='width:35%'>
                    </el-date-picker>
                    <span style='line-height:36px;'>&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                    <el-date-picker v-model="endDate"  type="date" placeholder="为止" style='width:35%' :picker-options="pickerOptions">
                    </el-date-picker>
                </el-col>
                <!-- <el-col :span='5'>
                    <span style='display:inline-block;width:100px;line-height:36px;'>最近登录时间:</span>
                    <el-select v-model="date" filterable placeholder="请选择" style="width:60%;">
                        <el-option v-for="(item,index) in datelist" :key="index" :value="item.value">
                        </el-option>
                    </el-select>
                </el-col> -->
                <!-- <el-col :span='5'>
                    <span>员工工号:</span>
                    <el-input style='width:60%'></el-input>
                </el-col>
                <el-col :span='5'>
                    <span>员工类别:</span>
                     <el-select v-model="type" filterable placeholder="请选择" style="width:60%;">
                        <el-option v-for="(item,index) in typelist" :key="index" :value="item.value">
                        </el-option>
                    </el-select>
                </el-col> -->
                <el-col :span='5'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>用户状态:</span>
                     <el-select v-model="state" filterable placeholder="请选择" style="width:60%;">
                        <el-option v-for="(item,index) in statelist" :key="index" :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span='5'>
                    <el-button type='primary' icon='search' @click='handleSearch' size='medium'>筛选</el-button>
                    <el-button type='primary' icon='download' @click='batchExport' size='medium' :loading="downloading">批量导出</el-button>
                </el-col>
            </el-row>
            <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
            </el-col>
            <!-- <el-row style='margin-top:10px;'> -->
            <!--列表-->
		    <el-table :data="tableData" highlight-current-row border v-loading="listLoading" style="width: 100%;font-size:12px;"  ref="multipleTable"  @selection-change="handleSelectionChange">
                <el-table-column type="selection"  width="40" label='选择'>
                </el-table-column>
                <el-table-column prop="cpId" label="用户ID" width="100">
                </el-table-column>
                <el-table-column prop="img" label="头像" width="70">
                    <template slot-scope='scope'>
                        <img :src="scope.row.img" alt="" style='width:50px;height:50px;border-radius:50%'>
                    </template>
                </el-table-column>
                <el-table-column prop="nickName" label="用户昵称" width="auto">
                </el-table-column>	
                <el-table-column prop="phone" label="手机号码" width="auto">
                </el-table-column>
                <!-- <el-table-column prop="time" label="最后登录时间" width="auto">
                    </el-table-column> -->
                    <!-- <el-table-column prop="type" label="用户类型" width="auto">
                    </el-table-column>
                    <el-table-column prop="uId" label="员工编号" width="auto">
                    </el-table-column>
                    <el-table-column prop="uName" label="员工姓名" width="auto"> -->
                <!-- </el-table-column>	 -->
                <el-table-column prop="countConcern" label="关注数" width="75">
                </el-table-column>	
                <el-table-column prop="countFans" label="粉丝数" width="75">
                </el-table-column>
                <!-- <el-table-column prop="countDPoint" label="德分数" width="auto">
                </el-table-column> -->
                <el-table-column prop="status" label="状态" width="auto">
                    <template slot-scope='scope'>
                        <span>{{scope.row.status | transfer}}</span>
                    </template>
                </el-table-column>	
                <el-table-column prop="silenceStart" label="开始禁言时间" width="auto">
                    <template slot-scope='scope'>
                        {{ scope.row.silenceStart | treansferTime}}
                    </template>
                </el-table-column>	
                <el-table-column prop="silenceEnd" label="结束禁言时间" width="auto">
                    <template slot-scope='scope'>
                        {{ scope.row.silenceEnd | treansferTime}}
                    </template>
                </el-table-column>		
                <el-table-column prop="silenceTimes" label="已禁言次数" width="auto">
                </el-table-column>	
                <el-table-column label="操作"  width="180">
                    <template slot-scope="scope" style="display:flex">
                        <el-button  type='text' @click='handleView(scope.row)' size='small'  style="color:#08ada5">查看详情</el-button>
                        <el-button  type='text'  @click='clickTrust(scope.row)' size='small' :disabled="scope.row.status1=='0'">信任</el-button>
                        <el-popover placement="top-start" trigger="hover" >
                            <div style="text-align: center; margin: 0;" >
                                <el-button size="medium " type="text" @click='slienceClick(scope.row)' slot="reference"  style="color:red">禁言</el-button>
                                <el-button size="medium " type="text" @click='foreverSlience(scope.row)'  style="color:#ff6a6a">永久禁言</el-button>
                            </div>
                            <el-button slot="reference"  type='text' style='margin-left:5px;color:red' size='small' :disabled="scope.row.status1 == '1' ||scope.row.status1 == '2'">禁言</el-button>
                        </el-popover>
                        <!-- <el-button  type='text' :disabled="scope.row.status1 === '0'" @click='handleSlience(scope.row)'>禁言</el-button>     -->
                    </template>
                </el-table-column>
            </el-table>
            <div style='display:flex;'>
                <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange">
                </el-pagination>
            </div>
            
            <!-- </el-row> -->
            <!-- 查看详情 -->
            <el-dialog title='会员详情' :visible.sync='visible' :close-on-click-modal="true" customClass="sensWidth">
                <el-form ref="form" v-model="form" label-width="180px">
                    <template>
                        <div style='display:flex;flex-decoration:row;'>
                            <div style='margin-left:50px;'>
                                <img :src="form.img" alt="" style='width:100px;height:100px;border-radius:50%;'>
                                <p style='text-align:center'>{{form.nickName1}}</p>
                            </div>
                            <table border="1" cellspacing="0" class='tables' style='margin-left:100px;width:400px;height:150px;text-align:center'>
                                <tr>
                                    <td>用户ID</td>
                                    <td>{{form.cpId}}</td>
                                </tr>
                                <tr>
                                    <td>禁言次数</td>
                                    <td>{{form.silenceTimes}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>上次登录时间</td>
                                    <td>2018-01-15 19:57:41</td>
                                </tr> -->
                            </table>
                        </div>
                        <div>
                            <p>统计信息</p>
                            <el-table :data="form.tableData" highlight-current-row style="width: 100%;">	
                                <el-table-column prop="countDPoint" label="德分数" width="auto">
                                     <template slot-scope='scope'>
                                        <span>{{scope.row.countDPoint?scope.row.countDPoint:0}}</span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="totalThumb" label="获赞数" width="auto">
                                </el-table-column>
                                <el-table-column prop="countFans" label="粉丝数" width="auto">
                                </el-table-column>
                                <el-table-column prop="countConcern" label="关注数" width="auto">
                                </el-table-column>	
                                <el-table-column prop="CountFavorite" label="收藏数" width="auto">
                                </el-table-column>		
                            </el-table>
                        </div>
                    </template>
                   
                </el-form>
            </el-dialog>
            <el-dialog title='禁言' :visible.sync='visible2' :close-on-click-modal="true" customClass="sWidth">
                <el-row>
                     <el-date-picker v-model="startD" type="datetime" placeholder="自从" style='width:40%' :picker-options="pickerOptions0">
                    </el-date-picker>
                    ~
                    <el-date-picker v-model="endD"  type="datetime" placeholder="为止" style='width:40%' :picker-options="pickerOptions2">
                    </el-date-picker>
                </el-row>
               <el-row style='margin:10px auto;float:right'>
                   <el-button @click.native='visible2=false'  size="small">取消</el-button>
                   <el-button  size="small " @click='handleSlience' type="primary">确认</el-button>
               </el-row>
            </el-dialog>
            <el-dialog title='添加'  :close-on-click-modal="true" customClass="aWidth" :visible.sync='visible3'>
                <el-form ref="form" :model="addform" label-width="100px">
                    <el-form-item label="授权类型">
                        <template>
                            <el-select v-model="addform.date" filterable placeholder="请选择" style="width:90%;">
                                <el-option v-for="(item,index) in lists" :key="index" :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                </el-form>
                <div style='text-align:center'>
                    <el-button type='primary' size='small' @click='addSubmit'>&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;</el-button>
                </div>
                
            </el-dialog>
        </div>
    </section>
</template>
<script>
import global from '../../common/common.vue'
import dayjs from 'dayjs'
export default {
    data(){
        return{
            date:'',
            datelist:[
                {id:'0',value:'所有'},
                {id:'1',value:'最近7天内'},
                {id:'2',value:'最近30天内'},
                {id:'3',value:'最近60天内'},
            ],
            tableData:[],
            typelist:[
                {id:'0',value:'全部'},
                {id:'1',value:'普通员工'},
                {id:'2',value:'内部员工'},
            ],
            type:'',
            statelist:[
                {id:'',value:'全部'},
                {id:'0',value:'白名单'},
                {id:'1',value:'禁言'},
                {id:'1',value:'永久禁言'},
            ],
            state:'',
            startDate:'',
            endDate:'',
            listLoading:false,
            total:1,
            currentPage:1,
            pageSize:10,
            visible:false,
            form:{
                img:'',
                silenceTimes:'',
                cpId:'',
                tableData:[],
            },
            list:[],
            multipleSelection: [],
            nickName1:'',   //用户昵称
            userId:'',
            select : global.selectUrl,
            silence : global.silenceUrl,
            trust : global.trustUrl,
            batchexport : global.batchexportUrl,
            url:'',
            startD:'',
            endD:'',
            visible2:false  ,
            value:'', 
            pickerOptions:{
                disabledDate: time => {
                    return time.getTime() < this.startDate
                },
            },
            pickerOptions0:{
                disabledDate: time => {
                    return time.getTime() < Date.now() - 8.64e7;
                },
            },
             pickerOptions2:{
                disabledDate: time => {
                    return time.getTime() < this.startD - 8.64e7;
                },
            },
            phone:'',
            cpId:'',  
            addform:{
                cpId:'',
                date:'',
            },
            lists:[
                {id:'1',value:'普通白名单'},
                {id:'0',value:'VIP白名单'}
            ],
            visible3:false,
            downloading:false,
         }
    },
    mounted(){
        this.getData();
    },
    methods:{
        handleCurrentChange:function(val){
            this.currentPage = val;
            this.list=this.list.concat(this.multipleSelection);
            
            this.getData();
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
        // 查看详情
        handleView:function(val){
            this.form = Object.assign({},{img:'',nickName1:'',cpId:'',tableData:[]});
            this.visible = true;
            this.form.img = val.img;
            this.form.silenceTimes = val.silenceTimes;
            this.form.cpId= val.cpId;
            let obj = Object.assign({},{countDPoint:val.countDPoint,totalThumb:val.totalThumb,countFans:val.countFans,countConcern:val.countConcern,CountFavorite:val.CountFavorite});
            this.form.tableData.push(obj);
        },
        getData:function(){
            this.listLoading = true;
            let formData = new FormData();
            let nickName1,status1,dateTime,cpId,phone;
            nickName1 = this.nickName1 ==='' ? undefined : this.nickName1;
            cpId = this.cpId ==='' ? undefined : this.cpId;
            phone = this.phone ==='' ? undefined : this.phone;
            let date = new Date();
            //最近登录时间时间转换
            if(this.date === '最近7天内'){
                dateTime =  dayjs(date).subtract(7, 'day').format('YYYY-MM-DD')
            }else if(this.date === '最近30天内'){
                dateTime =  dayjs(date).subtract(30, 'day').format('YYYY-MM-DD')
            }else if(this.date === '最近60天内'){
                dateTime =  dayjs(date).subtract(60, 'day').format('YYYY-MM-DD')
            }
            switch(this.state){
                case '白名单' : status1 = '0';break;
                case '禁言' : status1 = '1';break;
                case '永久禁言' : status1 = '2';break;
                default : status1 = undefined;break;
            }
            formData.append("json", JSON.stringify
                ({
                    nickName:nickName1,
                    status:status1,
                    cpId : cpId,
                    phone : phone,
                    currentPage:this.currentPage,
                    pageSize:this.pageSize
                })
            )       
            fetch(this.select,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                this.listLoading = false;
                this.total = res.result.pop().totalMember;
                this.tableData = res.result;
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'网路错误,请重试!',
                    type:'error'
                })
            })
        },
        handleSearch:function(){
            this.currentPage = 1;
            this.getData();
        },
        //点击禁言
        slienceClick(val){
            this.value = val;
            this.visible2 = true;
            this.startD='';
            this.endD='';
        },
        //禁言
        handleSlience:function(){
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({
                    cpId:this.value.cpId,
                    silenceStart:dayjs(this.startD).format('YYYY-MM-DD HH:mm:ss'),
                    silenceEnd:dayjs(this.endD).format('YYYY-MM-DD HH:mm:ss'),
                })
            ) 
            fetch(this.silence,{
                method:'POSt',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                this.visible2 = false;
                if(res.isSuccess === 1){
                    this.$message({
                        message:res.result,
                        type:'info'
                    })
                   this.getData();
                }else{
                    this.$message({
                        message:res.errorMsg,
                        type:'error'
                    })
                }
            }).catch(e=>{
                this.visible2 = false;
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        },
        clickTrust(val){
            this.addform = Object.assign({},{cpId:'',date:''});
            if(val.status1 == null){
                this.visible3 = true;
                this.addform.cpId = val.cpId;
            }else{
                this.handleTrust(val);
            }
        },
       //信任
        handleTrust:function(val){
          this.$confirm('确认信任该用户吗?', '提示', {}).then(() => {
              let formData = new FormData();
              formData.append("json", JSON.stringify
                    ({
                        cpId : val.cpId,
                    })
                ) 
                fetch(this.trust,{
                    method:'POSt',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.$message({
                            message:res.result,
                            type:'info'
                        })
                       this.getData();
                    }else{
                        this.$message({
                            message:res.errorMsg,
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
          }).catch(()=>{ 
            
          })
           

        },
        //批量导出
        batchExport:function(){
           this.downloading = true
           this.list=this.list.concat(this.multipleSelection);
           let url,json=[];
           if(this.list.length === 0){
               url = this.batchexport+'?json=[]';
           }else{
               for(let ele of this.list){
                    if(json.indexOf(ele.cpId)== -1){
                        json.push(ele.cpId);
                    }
               }
               url = this.batchexport+'?json=['+json+']';
           }
            let req = new XMLHttpRequest();
            req.open("get", url, true);
            let _this=this;
            req.addEventListener("loadstart", function (evt) {
               _this.$message({
                    message: '表格正在生成中，请耐心等待',
                    type: 'info'
                })
              _this.downloading = true
            }, false);
             req.addEventListener("loadend", function (evt) {
                _this.list = [];
                _this.downloading = false
            }, false);
            req.addEventListener("ontimeout", function (evt) {  
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                _this.loading = false
            }, false);
            req.addEventListener("onerror", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                _this.loading = false
            }, false);
            req.addEventListener("onabort", function (evt) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                _this.loading = false
            }, false);
            req.addEventListener("onload", function (evt) {
              _this.$message({
                  message: '数据请求成功，请注意浏览器下载信息',
                  type: 'info'
                })
                _this.loading = false
            }, false);
            req.responseType = "blob";
            req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                  let  t = new Date();
                  let  yy = t.getFullYear();
                  let  mm = t.getMonth()+1;
                  let  dd = t.getDate();
                  let date = yy+'年'+mm+'月'+dd+'日';
                  let filename = '批量导出用户'+date+'.xls'
                  if (typeof window.chrome !== 'undefined') {
                      // Chrome version
                      var link = document.createElement('a');
                      link.href = window.URL.createObjectURL(req.response);
                      link.download = filename;
                      link.click();
                  } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                      // IE version
                      var blob = new Blob([req.response], { type: 'application/force-download' });
                      window.navigator.msSaveBlob(blob, filename);
                  } else {
                      // Firefox version
                      var file = new File([req.response], filename, { type: 'application/force-download' });
                      window.open(URL.createObjectURL(file));
                  }
                }
                if (req.status === 0 || req.status === 500) {
                   _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                      })
                      this.loading = false
                }
            };
            // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
            req.send();

        },
        //永久禁言
        foreverSlience(val){
          this.$confirm('确认要永久禁言?', '提示', {}).then(() => {
            let formData = new FormData();
              formData.append("json", JSON.stringify
                    ({
                        cpId:val.cpId
                    })
                ) 
                fetch(global.silenceForever,{
                    method:'POSt',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.$message({
                            message:res.result,
                            type:'info'
                        })
                        this.tableData.findIndex(item => {
                        if (item.cpId ===  val.cpId) {
                            item.status1 = '2'
                        }
                    })
                    }else{
                        this.$message({
                            message:res.errorMsg,
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
          }).catch(()=>{ 
            
          })
        },
        addSubmit(){
              let formData = new FormData();
              let isVip;
              this.visible3 = false;
              for(let ele of this.lists){
                if(ele.vaule === this.addform.date) isVip = ele.id;
               }
              formData.append("json", JSON.stringify
                    ({
                        cpId : this.addform.cpId ,
                        isVip : isVip
                    })
                ) 
                fetch(this.trust,{
                    method:'POSt',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.$message({
                            message:res.result,
                            type:'info'
                        })
                        this.getData();
                    }else{
                        this.$message({
                            message:res.errorMsg,
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            
        }
    },
    filters:{
        transfer:function(val){
            switch(val){
                case '1': return '禁言';break;
                case '0': return '白名单';break;
                case '2': return '永久禁言';break;
            }
        },
        treansferTime(val){
            if(val){
                return dayjs(val).format('YYYY-MM-DD HH:mm:ss');
            }else{
                return 'NA'
            }
            
        }
    }
}
</script>
<style>
.tools>.el-col{
    margin-top:15px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.tables,.tables tr th, .tables tr td { border:1px solid grey; }
.sWidth{
    width:40%;
}
.aWidth{
    width:30%;
}
</style>

