<template>
    <section style='padding:10px;'> 
        <div>
            <el-row style='margin:5px 0;'><span style='font-size:16px;'>白名单管理</span></el-row>
            <el-row class='tools'>
                <el-col :span='6'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>用户昵称:</span>
                    <el-input style='width:60%' v-model='nickName' placeholder="用户昵称"></el-input>
                </el-col>
                <el-col :span='6'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>用户ID号:</span>
                    <el-input style='width:60%' v-model='cpId' placeholder="用户ID号"></el-input>
                </el-col>
                <el-col :span='6'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>授权类型:</span>
                    <el-select v-model="date" filterable placeholder="请选择" style="width:60%;">
                        <el-option v-for="(item,index) in datelist" :key="index" :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span='6'>
                    <span style='display:inline-block;width:80px;line-height:36px;'>账号状态:</span>
                    <el-select v-model="status" filterable placeholder="请选择" style="width:60%;">
                        <el-option v-for="(item,index) in statusList" :key="index" :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span='10'>
                    <div style='display:flex;justify-content:space-around;'>
                        <el-button type='primary' icon='search' @click='getList' size='medium'>查询</el-button>
                        <el-button type='primary' icon='plus' @click='isVisible' size='medium'>添加</el-button>
                    
                        <el-button type='primary'  @click='downLoad' size='medium'>下载导入模板</el-button>
                        <el-button type='primary'  @click='upload' size='medium'><input type="file" ref="input1" @change="uploadChange" style="display:none">导入白名单表格</el-button>
                     </div>
                   
                </el-col>
            </el-row>
            <el-col :span="24" style=' margin-bottom:5px;margin-top:36px;'>
                <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
            </el-col>
           <!-- 列表 -->
		    <el-table :data="tableData" highlight-current-row v-loading="listLoading" border>
                <el-table-column prop="cpId" label="用户ID" width="100">
                </el-table-column>
                <el-table-column prop="nickName" label="用户昵称" width="auto">
                </el-table-column>	
                <el-table-column prop="mobile" label="手机号码" width="auto">
                </el-table-column>
                <el-table-column prop="isVip" label="授权类型" width="auto">
                    <template slot-scope='scope'>
                        <span>{{scope.row.isVip | transferVip}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="isDelete" label="状态" width="auto">
                    <template slot-scope='scope'>
                        <span>{{scope.row.isDelete | transferDel}}</span>
                    </template>
                </el-table-column>	
                <el-table-column label="操作"  width="180">
                    <template slot-scope='scope'>
                        <el-button  type='text'  @click='handleDelete(scope.row)' :disabled="scope.row.isDelete == '1'" style="color:red">删除</el-button>
                    </template>
                  
                </el-table-column>
            </el-table>
            <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange">
            </el-pagination>
            <!-- 添加 -->
            <el-dialog title='添加'  :close-on-click-modal="true" customClass="aWidth" :visible.sync='visible'>
                <el-form ref="form" :model="addform" label-width="100px">
                     <el-form-item label="用户ID">
                        <el-input v-model="addform.cpId" style='width:80%'></el-input>
                    </el-form-item>
                    <el-form-item label="授权类型">
                        <template>
                            <el-select v-model="addform.date" filterable placeholder="请选择" style="width:80%;">
                                <el-option v-for="(item,index) in list" :key="index" :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                </el-form>
                <div style='text-align:center'>
                    <el-button type='primary' size='small' @click='addSubmit'>&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;</el-button>
                </div>
                
            </el-dialog>
        </div>
    </section>
</template>
<script>
import global from '../../common/common.vue'
export default {
    data(){
        return{
            datelist:[
                {id:'',value:'全部'},
                {id:'1',value:'普通白名单'},
                {id:'0',value:'VIP白名单'}
            ],
            date:'',
            statusList:[
                {id:'',value:'全部'},
                {id:'0',value:'正常'},
                {id:'1',value:'删除'}
            ],
            status:'',
            tableData:[],
            nickName:'',
            cpId:'',
            currentPage:1,
            pageSize:10,
            total:1,
            listLoading:false,
            visible:false,
            addform:{
                cpId:'',
                date:''
            },
            list:[
                {id:'1',value:'普通白名单'},
                {id:'0',value:'VIP白名单'}
            ]

         }
    },
    mounted(){
      this.getList();
    },
    methods:{
        handleCurrentChange(val){
            this.currentPage = val;
            this.getList();
        },
        //获取list
        getList(){
            this.listLoading = true;
            let is_vip,is_delete;
            for(let ele of this.datelist){
                if(ele.value === this.date) is_vip = ele.id;
            }
            for(let ele of this.statusList){
                if(ele.value === this.status) is_delete = ele.id;
            }
            let formData = new FormData();
            formData.append('json',JSON.stringify({
                nickName : this.nickName,
                cpId : this.cpId,
                isVip : is_vip,
                isDelete : is_delete,
                currentPage:this.currentPage,
                pageSize:this.pageSize
            }))
            fetch(global.screenLookup,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                this.listLoading = false;
                this.tableData = res.result.records;
                this.total = res.result.total;
            }).catch(e=>{
                 this.listLoading = false;
                 this.$message({
                    message:'网路错误,请重试!',
                    type:'error'
                })
            })
        },
        //点击添加按钮
        isVisible(){
            this.visible = true;
            this.addform = Object.assign({},{cpId:'',date:''});
        },
        //添加提交
        addSubmit(){
            let isVip;
             for(let ele of this.list){
                if(ele.value == this.addform.date) isVip = ele.id;
            }
            if(this.addform.cpId === ''){
                this.$message({
                    message:'请输入用户ID',
                    type:'error'
                })
                return false
            }else if(this.addform.date === ''){
                this.$message({
                    message:'请选择授权类型',
                    type:'error'
                })
                return false
            }else{
                this.visible = false;
                let formData = new FormData();
                formData.append('json',JSON.stringify({
                    cpId : this.addform.cpId,
                    isVip : isVip
                }))
                fetch(global.addWhiteName,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess===1){
                        this.$message({
                            message:res.result,
                            type:'info'
                        })
                        this.getList();
                    }else{
                        this.$message({
                            message:res.result.errorMsg,
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网路错误,请重试!',
                        type:'error'
                    })
                })
            }
           
         
        },
        //下载导入模板
        downLoad(){
            let req = new XMLHttpRequest();
            req.open("post",global.downloadExcelTemplate, true);
             req.responseType = "blob";
            req.onreadystatechange = function () {
                if (req.readyState === 4 && req.status === 200) {
                  let filename = '白名单导入模板'+'.xls'
                  if (typeof window.chrome !== 'undefined') {
                      // Chrome version
                      var link = document.createElement('a');
                      link.href = window.URL.createObjectURL(req.response);
                      link.download = filename;
                      link.click();
                  } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                      // IE version
                      var blob = new Blob([req.response], { type: 'application/force-download' });
                      window.navigator.msSaveBlob(blob, filename);
                  } else {
                      // Firefox version
                      var file = new File([req.response], filename, { type: 'application/force-download' });
                      window.open(URL.createObjectURL(file));
                  }
                }
                if (req.status === 0 || req.status === 500) {
                   _this.$message({
                        message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                        type: 'error'
                      })
                      this.loading = false
                }
            };
            // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
            req.send();
        },
        //导入报名单表格
        upload(){
            let input1 = this.$refs.input1
            input1.click()
        },
        uploadChange(e){
            let file = e.target.files[0]
            let formData = new FormData()
            formData.append('filename', file)
            fetch(global.importSevsitiveWordByExcel, {
                method: 'POST',
                body: formData
            })
            .then(res => res.json())
            .then(res => {
                if (res.isSuccess === 1) {
                    this.$message({
                        message: res.result,
                        type: 'success'
                    })
                    this.getList()
                }else{
                     this.$message({
                        message: res.errorMsg,
                        type: 'error'
                    })
                }
            })
            .catch(e => {
            console.log(e)
            })
        },
        //删除
        handleDelete(val){
            this.$confirm('确认要删除?', '提示', {}).then(() => {
                let formData = new FormData();
                formData.append('json',JSON.stringify({
                    cpId : val.cpId,
                    isDelete : '1'
                }))
                fetch(global.updateStatus,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess===1){
                        this.$message({
                            message:res.result,
                            type:'info'
                        })
                        this.tableData.findIndex(item => {
                            if (item.cpId === val.cpId) {
                                item.isDelete = '1'
                            }
                        })
                    }else{
                        this.$message({
                            message:res.errorMsg,
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网路错误,请重试!',
                        type:'error'
                    })
                })
            }).catch(()=>{

            })
           
        },
        
    },
    filters:{
        transferVip:function(val){
            switch(val){
                case '0': return 'VIP白名单';break;
                case '1': return '普通白名单';break;
            }
        },
        transferDel:function(val){
            switch(val){
                case '0': return '正常';break;
                case '1': return '删除';break;
            }
        },
    }
}
</script>
<style>
.tools>.el-col{
    margin-top:15px;
}
.tables,.tables tr th, .tables tr td { border:1px solid grey; }
.aWidth{
    width:30%;
}
</style>

