<template>
  <section>
    <el-row style='margin:20px 0px;'>
      <span style='font-size:16px;font-weight:blod'>敏感词管理</span>
    </el-row>
    <el-row style='margin-top:10px;'>
      <el-col :span='6'>
        <span class='txt'>搜索:</span>
        <el-input style='width:60%' v-model="content"></el-input>
      </el-col>
      <el-col :span='6'>
        <span class='txt'>分类:</span>
        <el-select v-model="classify" filterable placeholder="请选择" style="width:60%;">
          <el-option v-for="(item,index) in classifyList" :key="index" :value="item.value" :label="item.label">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span='6'>
        <span class='txt'>状态:</span>
        <el-select v-model="status" filterable placeholder="请选择" style="width:60%;">
          <el-option v-for="(item,index) in stateList" :key="index" :value="item.value" :label="item.label">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span='6'>
        <el-button icon='search' round type="primary" size='medium' @click="search">筛选</el-button>
        <el-button @click='handleAdd' round type="primary" size='medium' icon='plus'>添加</el-button>
      </el-col>
    </el-row>
    <el-row style='margin-top:10px;'>
      <el-col :span='20'>
        <el-button type='primary'  @click="downExcall">下载导入模板</el-button>
        <el-button type='primary' icon='upload2' @click="uploadExcall"><input type="file" ref="input" @change="uploadChange" style="display:none">导入敏感词信息</el-button>
      </el-col>
      <el-col :span="24" style=' margin-bottom:5px;margin-top:20px;'>
        <hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
      </el-col>
    </el-row>
    <div style='display:flex;justify-content:space-between;margin-top:10px;'>
      <span>敏感词列表</span>

    </div>
    <el-row>
      <!--列表-->
      <el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width: 100%;" border>
        <el-table-column type="index" width="80" label='编号'>
        </el-table-column>
        <el-table-column prop="content" label="敏感词" width="auto">
        </el-table-column>
        <el-table-column label="分类" width="auto">
          <template slot-scope="scope">
            <span style="margin-left: 10px">{{ scope.row.category | senstatus}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createdAt" label="添加时间" width="auto">
        </el-table-column>
        <el-table-column prop="triggerTimes" label="被触发次数" width="auto">
        </el-table-column>
        <el-table-column label="操作" width="160">
          <template slot-scope="scope" style="display:flex">
            <el-button type='text' @click="handelEdit(scope.row)">编辑</el-button>
            <el-button type='text' @click="handelDelete(scope.row.id)" :disabled="scope.row.status==0" style="color:red">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize" @current-change="handleCurrentChange">
      </el-pagination>
    </el-row>
    <!-- 添加敏感词 -->
    <el-dialog title='添加敏感词' :visible.sync='visible' :close-on-click-modal="true" customClass="sensWidth">
      <el-form ref="form" v-model="form" label-width="180px">
        <el-form-item label='敏感词' required>
          <el-input v-model='form.sensitive' style='width:60%' :max='10000'></el-input>
        </el-form-item>
        <el-form-item label='敏感词' required>
          <el-select v-model="form.value" filterable placeholder="请选择" style="width:60%;">
            <el-option v-for="(item,index) in classifyList" :key="index" :value="item.value" :label="item.label">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <el-button size='small' type='primary' @click="sureAdd">确认</el-button>
    </el-dialog>
  </section>
</template>
<script>
import global from '../../common/common.vue'
export default {
  data() {
    return {
      classify: '',
      classifyList: [
        { value: '0', label: '政治敏感' },
        { value: '1', label: '色情' },
        { value: '2', label: '人身攻击' },
        { value: '3', label: '广告' },
        { value: '4', label: '所有' },
        { value: '5', label: '不文明用语' }
      ],
      status: null,
      stateList: [
        { value: null, label: '全部' },
        { value: 0, label: '已删除' },
        { value: 1, label: '使用中' }
      ],
      tableData: [],
      currentPage: 1,
      total: 1,
      pageSize: 10,
      content: '',
      listLoading: false,
      visible: false,
      form: {
        sensitive: '',
        value: ''
      }
    }
  },
  mounted() {
    this.getSensitibeWordslist()
  },
  methods: {
    search() {
      this.getSensitibeWordslist()
    },
    handelEdit(obj) {
      console.log(obj)
      this.form.value = obj.category
      this.form.sensitive = obj.content
      this.visible = true
    },
    handelDelete(id) {
      this.$confirm('确认要删除?', '提示', {})
        .then(() => {
          let formData = new FormData()
          formData.append(
            'json',
            JSON.stringify({
              id
            })
          )
          fetch(global.deletesensitveWord, {
            method: 'POST',
            body: formData
          })
            .then(res => res.json())
            .then(res => {
              this.$message({
                message: '操作成功',
                type: 'success'
              })
              this.tableData.findIndex(item => {
                if (item.id === id) {
                  item.status = 0
                }
              })
            })
            .catch(e => {
              this.$message({
                message: '网络错误,请重试！',
                type: 'error'
              })
            })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消审核'
          })
        })
    },
    getSensitibeWordslist() {
      this.listLoading = true
      let formData = new FormData()
      formData.append(
        'json',
        JSON.stringify({
          content: this.content,
          category: this.classify,
          status: this.status,
          currentPage: this.currentPage,
          pageSize: this.pageSize
        })
      )
      fetch(global.sensitiveWordList, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          this.listLoading = false
          if (res.isSuccess === 1) {
            this.tableData = res.result.records
            this.total = res.result.total
          }
        })
    },
    handleCurrentChange: function(val) {
      this.currentPage = val
      this.getSensitibeWordslist()
    },
    //添加敏感词
    handleAdd: function() {
      this.visible = true
    },
    downExcall() {
      let req = new XMLHttpRequest();
      req.open("get", global.downExcall, true);
      req.responseType = "blob";
      req.onreadystatechange = function () {
          if (req.readyState === 4 && req.status === 200) {
            let filename = '敏感词导入模板'+'.xls'
            if (typeof window.chrome !== 'undefined') {
                // Chrome version
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(req.response);
                link.download = filename;
                link.click();
            } else if (typeof window.navigator.msSaveBlob !== 'undefined') {
                // IE version
                var blob = new Blob([req.response], { type: 'application/force-download' });
                window.navigator.msSaveBlob(blob, filename);
            } else {
                // Firefox version
                var file = new File([req.response], filename, { type: 'application/force-download' });
                window.open(URL.createObjectURL(file));
            }
          }
          if (req.status === 0 || req.status === 500) {
              _this.$message({
                  message: '下载失败,请检查网络状态并重新尝试着刷新页面',
                  type: 'error'
                })
                this.loading = false
          }
      };
      // req.setRequestHeader("Content-Type", "Access-Control-Allow-Origin");
      req.send();
    },
    uploadExcall() {
      let input = this.$refs.input
      input.click()
    },
    uploadChange(e) {
      let file = e.target.files[0]
      let formData = new FormData()
      formData.append('filename', file)
      fetch(global.uploadExcall, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.$message({
              message: res.result,
              type: 'success'
            })
            this.getSensitibeWordslist()
          }
        })
        .catch(e => {
          console.log(e)
        })
    },
    //确认添加
    sureAdd() {
      if (!this.form.value) {
        this.$message({
          message: '请输入敏感词',
          type: 'error'
        })
        return
      }
      if (!this.form.sensitive) {
        this.$message({
          message: '请选择敏感词类型',
          type: 'error'
        })
        return
      }

      let formData = new FormData()
      formData.append(
        'json',
        JSON.stringify({
          content: this.form.sensitive,
          category: this.form.value
        })
      )
      fetch(global.newSenWords, {
        method: 'POST',
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            this.$message({
              message: '操作成功',
              type: 'success'
            })
            this.form.value = ''
            this.form.sensitive = ''
            this.currentPage = 1
            this.getSensitibeWordslist()
            this.visible = false
          }
        })
    }
  },
  filters: {
    senstatus(val) {
      switch (val) {
        case '0':
          return '政治敏感'
          break
        case '1':
          return '色情'
          break
        case '2':
          return '人身攻击'
          break
        case '3':
          return '广告'
          break
        case '4':
          return '所有'
          break
        case '5':
          return '不文明用语'
          break
      }
    }
  }
}
</script>
<style>
.txt {
  display: inline-block;
  width: 60px;
}
.sensWidth {
  width: 40%;
}
</style>

