<template>
   <section  style='scroll:no'>
       <!-- 工具条 --> 
       <el-row style='font-size:16px;'>审核文章</el-row>
       <el-row style='margin-top:10px;display:flex;flex-direction:row;align-items:flex-end;'>
            <el-col :span="7">
                <span class='text'>用户ID:</span>
                <el-input v-model="nickName" placeholder="请输入用户ID" style="width:60%;"></el-input>
            </el-col>
            <el-col :span="7">
                <span class='text'>分类:</span>
                <el-select v-model="sort" filterable placeholder="请选择" style="width:60%;" @change='handleChange'>
                    <el-option v-for="item in typeList" :key="item.id" :value="item.themeName">
                    </el-option>
                </el-select>
            </el-col>   
            <el-col :span="7">
                <span class='text'>状态:</span>
                <el-select v-model="status" filterable placeholder="请选择" style="width:60%;" :disabled='disabled'>
                    <el-option v-for="item in stateList" :key="item.id" :value="item.value" >
                    </el-option>
                </el-select>  
            </el-col>
            
       </el-row>
       <el-row style='margin-top:10px;'>
            <el-col :span="7">
                <span class='text'>标题:</span>
                <el-input v-model="title" placeholder="关键字" style="width:60%;"></el-input>
            </el-col>
             <el-col :span="9">
                <span class='text'>发布时间:</span>
                <el-date-picker v-model="startDate" type="date" placeholder="选择日期" style='width:33%;'> </el-date-picker>
                <span>~</span>
                <el-date-picker v-model="endDate" type="date" placeholder="选择日期" style='width:33%;' :picker-options="pickerOptions" > </el-date-picker>
            </el-col>
            <el-col :span="7">
                <span class='text'>分布时段:</span>
                <el-select v-model="period" filterable placeholder="请选择" style="width:60%;" :disabled="disabled1">
                    <el-option v-for="item in periodList" :key="item.item" :value="item.value" >
                    </el-option>
                </el-select>  
            </el-col>
       </el-row>
       <el-row style='margin-top:10px;'>
            <el-col :span='6'>
                <el-button type="primary" icon="search" @click='handleSearch'>筛选</el-button>
            </el-col>
       </el-row>
        <el-col :span="24" style='margin-top:36px;'>
			<hr style="width:100%;height:3px;border:none;border-top:2px solid #20a0ff;">
		</el-col>
        <!--列表-->
        <div>
            <span>文章列表</span>
        </div>
		<el-table :data="tableData" highlight-current-row v-loading="listLoading" style="width: 100%;" border >
			<el-table-column prop="id" width="80" label='帖子ID'>
			</el-table-column>	
			<el-table-column prop="authorId" label="用户ID" width="100">
			</el-table-column>
			<el-table-column prop="title" label="标题" width="140">
			</el-table-column>
            <el-table-column prop="categoryType" label="分类" width="100">  
			</el-table-column>
			<el-table-column prop="createdAt" label="创建时间" width="170">
                <template slot-scope="scope">
                    <span>{{ scope.row.createdAt | changeTime}}</span>
				</template>
			</el-table-column>	
            <el-table-column prop="img" label="图片" width="auto">
                <template  slot-scope="scope" >            
                   <el-popover placement="left" title="" trigger="hover" v-if="scope.row.type == 0">
                        <img :src="scope.row.img" style="max-height:500px;max-width: 500px"/>
                        <img slot="reference" :src="scope.row.img" style="max-height: 50px;max-width: 50px;">
                   </el-popover>
                    <el-popover placement="left" title="" trigger="hover" v-else>
                        <img :src="scope.row.img+'?vframe/png/offset/0'" style="max-height:500px;max-width: 500px"/>
                        <img slot="reference" :src="scope.row.img+'?vframe/png/offset/0'" style="max-height: 50px;max-width: 50px;">
                   </el-popover>
                    <el-popover placement="left" title="" trigger="hover" v-else>
                        <img :src="scope.row.image+'?vframe/png/offset/0'" style="max-height:500px;max-width: 500px"/>
                        <img slot="reference" :src="scope.row.image+'?vframe/png/offset/0'" style="max-height: 50px;max-width: 50px;">
                   </el-popover>
                    <!-- <img :src="scope.row.image+'?vframe/png/offset/0'" alt="" style="max-height: 50px;max-width: 50px;" v-else> -->
                 </template> 
			</el-table-column>
            <el-table-column  label="状态" width="auto" prop="status" >
			</el-table-column>	
            <el-table-column  label="相关" width="90">  
                <template slot-scope="scope">
                    点赞 {{scope.row.thumbCount}}
                    评论 {{scope.row.appraCount}}
                </template>
			</el-table-column>
            <el-table-column label='审核账号' width='156' prop='adminCode'>
                <template slot-scope='scope'>
                    <span>{{scope.row.adminCode?scope.row.adminCode:'无'}}</span>
                </template>
            </el-table-column>
            <el-table-column label='审核时间' width="170">
                 <template slot-scope="scope">
                    <span>{{ scope.row.examineAt | changeTime}}</span>
				</template>
            </el-table-column>
			<el-table-column label="操作"  width="250" fixed='right'>
				<template slot-scope="scope" style="display:flex">
                    <el-button  type='text' @click='handleClick(scope.row)' v-if="scope.row.status == '未审核'" size='medium '  style="color:#7511a9">审核</el-button> 
					<el-button  type='text' @click='handleClick(scope.row)' v-else size='medium '  style="color:#08ada5">查看详情</el-button>
                    <el-popover placement="top-start" trigger="hover" v-if="scope.row.status == '已通过' || scope.row.status == '已推荐'">
                        <div style="text-align: center; margin: 0;" v-for='item in sortList' :key='item.id'>
                            <el-button size="medium " type="text" @click='updateTheme(scope.row,item.themeName)' slot="reference">{{item.themeName}}</el-button>
                        </div>
                        <el-button slot="reference"  type='text' style='margin-left:5px;' size='medium '>重新分类</el-button>
                    </el-popover>
                    <el-button  type='text' @click='recommend(scope.row)' v-if="scope.row.status === '已通过' && scope.row.status !== '已推荐'" size='medium ' style="color:#042f5d">推荐</el-button> 
                    <el-button  type='text' @click="deleteT(scope.row)" v-if="scope.row.status !== '已删除' && scope.row.status ==='已推荐'" size='medium ' style="color:#17670854">取消推荐</el-button>
                    <el-button  type='text' @click="deleteS(scope.row)" v-if="scope.row.status !== '已删除' && scope.row.status !=='已推荐'" size='medium ' style="color:red">删除</el-button>  
				</template>
			</el-table-column>
		</el-table>
		<el-pagination background layout="prev, pager, next" :total="total" :page-size="pageSize"  @current-change="handleCurrentChange" :current-page='currentPage'>
		</el-pagination>
        <!-- 审核 -->
        <el-dialog title="详情/审核" :visible.sync="editFormVisible" :close-on-click-modal="false">
            <div style='display:flex;'>
                 <div style='text-align:center;width:190px;' >
                    <img :src="editForm.headImg" alt="" style='width:100px;height:100px;border-radius:50%;'>
                    <p>用户ID:{{editForm.authorId}}</p>
                    <p style='width:190px;'>创建时间:{{editForm.createdAt | changeTime}}</p>
                </div>
                <el-form v-model="editForm" label-width="60px"  ref="editForm" >
                    <el-form-item label="标题" >
                        <span>{{editForm.title}}</span>
                    </el-form-item>
                    <el-form-item label="正文" >
                        <pre v-html="editForm.content"></pre>
                    </el-form-item>
                    <el-form-item label="图片" >
                         <template >
                            <ul class='imgList'  v-loading="loading" v-if="editForm.isImg == '0'">
                                <li v-for='(item,index) in imgList' :key='index' class='img'>
                                  <el-popover placement="right" title="" trigger="hover">
                                        <img :src="item.img" style="max-height: 500px;max-width: 500px"/>
                                        <img slot="reference" :src="item.img" style="max-width: 100px;max-height:100px;">
                                   </el-popover>
                                </li>
                            </ul>
                             <VideoPlayer :video_url ='editForm.img' v-else  style='max-width:80%' :poster="editForm.img+'?vframe/png/offset/0'"/>
                         </template>
                    </el-form-item>
                    <div class="radioIsPass" v-if="editForm.status == '未审核'">
                        <span class="asterisk">*</span>
                        <el-radio v-model="radioIsPass" label="2">通过</el-radio>
                        <el-radio v-model="radioIsPass" label="3">不通过</el-radio>
                    </div>
                    <el-form-item label="类型" required v-if="editForm.status == '未审核'">
                        <el-select v-model="editForm.type" placeholder="请选择" style='width:60%'  :disabled="radioIsPass == 3">
                            <el-option v-for="item in editForm.typeList" :key="item.id" :value="item.themeName">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="类型"  v-else>
                        <span>{{editForm.categoryType}}</span>
                    </el-form-item>
                    <el-form-item label="原因" v-if="editForm.status == '未审核'">
                        <el-select v-model="noPassSelect.noPassType" placeholder="请选择" style='width:auto' :disabled="radioIsPass == 2">
                            <el-option v-for="item in noPassSelect.noPassList" :key="item.id" :value="item.reason">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="备注" prop="textareaMark" v-if="editForm.status == '未审核'" style="margin: 0">
                        <el-input type="textarea" v-model="textareaMark" :disabled="radioIsPass == 2"></el-input>
                    </el-form-item>
                </el-form>
            </div>
			<div slot="footer" class="dialog-footer" v-if="editForm.status == '未审核'">
				<el-button type="primary" @click.native="review(editForm.id)" size='small' v-if="editForm.status == '未审核'">提交</el-button>
			</div>
		</el-dialog>
   </section>
</template>
<script>
import global from '../../common/common.vue'
import VideoPlayer from '@/components/VideoPlayer'
import dayjs from 'dayjs'
import {getNoPassResultUrl} from '@/service/sqApi'

export default {
    data(){
        return{
            checkLoaddingIndex: -9,
            hasCheckLoadding: false, // 审核按钮loadding
            noPassSelect: { // 审核不通过的原因
                noPassList: [],
                noPassType: ''
            },
            textareaMark: '', // 备注
            radioIsPass: '', // 通过or不通过
            disabled1:false,
            periodList:[
                {value:'全天时段',item:'TWENTYFOUR'},
                {value:'9:00~10:00',item:'NINE'},
                {value:'10:00~11:00',item:'TEN'},
                {value:'11:00~12:00',item:'ELEVEN'},
                {value:'12:00~13:00',item:'TWELVE'},
                {value:'13:00~14:00',item:'THIRTEEN'},
                {value:'14:00~15:00',item:'FOURTEEN'},
                {value:'15:00~16:00',item:'FIFTEEN'},
                {value:'16:00~17:00',item:'SIXTEEN'},
                {value:'17:00~18:00',item:'SEVENTEEN'},
                {value:'18:00~19:00',item:'EIGHTEEN'},
                {value:'19:00~20:00',item:'NINETEEN'},
                {value:'20:00~21:00',item:'TWENTY'},
                {value:'21:00~22:00',item:'TWENTYONE'},
                {value:'22:00~23:00',item:'TWENTYTWO'},
                {value:'23:00~00:00',item:'TWENTYTHREE'},
                {value:'00:00~1:00',item:'ZERO'},
                {value:'1:00~2:00',item:'ONE'},
                {value:'2:00~3:00',item:'TWO'},
                {value:'3:00~4:00',item:'THREE'},
                {value:'4:00~5:00',item:'FOUR'},
                {value:'5:00~6:00',item:'FIVE'},
                {value:'6:00~7:00',item:'SIX'},
                {value:'7:00~8:00',item:'SEVEN'},
                {value:'8:00~9:00',item:'EIGHT'},
            ],
            period:'全天时段',
            title:'',               //关键字
            nickName:'',                          //用户
            startDate:'',                              //添加时间
            endDate:'',
            stateList:[
                {id:'',value:'全部'},
                {id:'1',value:'未审核'},
                {id:'2',value:'已通过'},
                {id:'3',value:'未通过'},
                {id:'4',value:'已删除'},
                {id:'recommend',value:'已推荐'},
            ],     //状态列表
            status:'',                            //状态
            sort:'',
            tableData:[],                         //列表 
            listLoading:false,                
            total:1,                              //总大小               
            pageSize:10,                          //页大小
            currentPage:1,                        //当前页
            editFormVisible:false,
            imgList:[],
            editForm:{
               title:'',
               content:'' ,
               id:'',
               status:'',
               authorId:'',
               typeList:[],
               type:'',
               headImg:'',
               authorId:'',
               createdAt:'',
               isImg:''
            } ,  
            typeList:[],  
            type:'',                               //类型    
            loading:false,     
            getArticleList : global.getArticleListUrl, 
            getImages : global.getImagesUrl,  
            toExamineShareArticle : global.toExamineShareArticleUrl,
            toArticleCommon : global.toArticleCommonUrl,
            intoTheme : global.intoThemeUrl,
            queryTheme : global.queryThemeUrl,
            getRecommendList : global.getRecommendList,
            getClassifyList:global.getClassifyList,
            articleList:[],
            recommendList:[],
            disabled:false,
            pickerOptions:{
                disabledDate: (time) => {
                    return time.getTime() < this.startDate;
                }
            },
            sortList:[]
        }
    },
    mounted(){
        this.getList();
        this.getTypeList();
    },
    components:{
        VideoPlayer
    },
    watch: {
        editFormVisible () {
            if(!this.editFormVisible) {
                this.radioIsPass = ''
                this.editForm = Object.assign(this.editForm, {type: ''})
                this.noPassSelect = Object.assign(this.noPassSelect, {noPassType: ''})
                this.textareaMark = ''
            }
        }
    },
    methods:{
        async getNoPassResult () { // 获取审核不通过的原因列表
            return this.$http(getNoPassResultUrl, {method: 'get'})
        },
        //切换当前页
        handleCurrentChange:function(val){
            this.currentPage=val;
            this.getList();
        },
        //查询
        handleSearch:function(){
            this.currentPage = 1;
            if(this.startDate !== '' && this.endDate === ''){
                this.$message({
                    message:'请输入结束时间',
                    type:'error'
                })
                return false
            }else if(this.startDate == '' && this.endDate !== ''){
                this.$message({
                    message:'请输入开始时间',
                    type:'error'
                })
                return false
            }else{
                this.getList()
            }
            
        },
        //点击查看详情
        async handleClick(val){
            this.checkLoaddingIndex = val.id
            this.hasCheckLoadding = true
            this.editForm.type = val.categoryType;
            this.imgList = [];
            this.editForm.title = val.title;
            this.editForm.content = val.content;
            this.editForm.id = val.id;
            this.editForm.status = val.status;
            this.editForm.authorId = val.authorId;
            this.editForm.categoryType = val.categoryType;
            this.editForm.headImg = val.headImg;
            this.editForm.createdAt = val.createdAt;
            this.editForm.isImg = val.type;
            this.editForm.img = val.img;
            if(val.type == 0){
                let formData = new FormData();
                formData.append("json", JSON.stringify
                    ({
                    shareId : val.id
                    })
                )
                fetch(this.getImages,{
                    method:'POST',
                    body : formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess === 1){
                        this.imgList = res.result;
                    }else{
                        this.imgList = [];    
                    }
                    if (val.status === '未审核') {
                        const result = this.getNoPassResult()
                        result.then(data=>{
                            if (data.httpRequestError) {
                                this.$message({
                                    message: data.httpRequestError,
                                    type: 'error'
                                })
                                this.hasCheckLoadding = false
                            } else {
                                this.noPassSelect.noPassList = data.result
                                this.hasCheckLoadding = false
                                this.editFormVisible = true;
                            }
                        })
                    } else {
                        this.hasCheckLoadding = false
                        this.editFormVisible = true;
                    }
                }).catch(e=>{
                    this.hasCheckLoadding = false
                    this.$message({
                        message:'网络错误,请重试！',
                        type:'error'
                    })
                })
            }
        },
        //获取列表
        getList:function(){
            this.listLoading = true;
            let statusId,endDate,nickName,startDate,title,type;
            if( this.nickName !== ''){
                nickName = this.nickName;
            }
            if(this.startDate !==''){
               startDate = dayjs(this.startDate).format('YYYY-MM-DD'); 
            }
            if(this.endDate !==''){
               endDate = dayjs(this.endDate).format('YYYY-MM-DD');
            }
            if(this.status !=="全部"){
                for(let ele of this.stateList){
                    if(this.status === ele.value) statusId = ele.id;
                }
            }else{
                statusId = undefined;
            }
            if(this.sort !=="全部"){
                for(let ele of this.typeList){
                    if(this.sort === ele.themeName) type = ele.themeCode;  
                }
                 if(type === '') type = undefined
            }
            title = this.title === ''? undefined : this.title; 
            let time;
            for(let ele of this.periodList) {
                if(this.period === ele.value)time=ele.item;
            }
            let formData = new FormData();
            formData.append("json", JSON.stringify
                ({
                    title : title,
                    cpId : nickName,
                    type : type,
                    status : statusId,
                    startDate : startDate,
                    endDate : endDate,
                    currentPage : this.currentPage,
                    pageSize : this.pageSize,
                    time:time
                })
            )
            fetch(this.getArticleList,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
                this.listLoading = false;
                for(let ele of res.result.records){
                    ele.categoryType = this.transferType(ele.categoryType);
                    switch(ele.status){
                        case '1': ele.status = '未审核';break;
                        case '2': ele.status = '已通过';break;
                        case '3': ele.status = '未通过';break;
                        case '4': ele.status = '已删除';break;
                        case 'recommend': ele.status = '已推荐';break;
                    }
                    
                }
                this.tableData = res.result.records;
                this.total = res.result.total;
            }).catch(e=>{
                this.listLoading = false;
                this.$message({
                    message:'网络错误，请重试！',
                    type:'error'
                })
            })
        },
        //审核按钮
        review:function(val){
            if (this.radioIsPass === '') {
                this.$message({
                    showClose: true,
                    message: '请选择是否通过',
                    type: 'warning'
                });
                return false
            }
            if ((this.editForm.type == null || this.editForm.type === '') && this.radioIsPass != 3) {
                this.$message({
                    showClose: true,
                    message: '请选择类型',
                    type: 'warning'
                });
                return false
            }
            if (this.radioIsPass == 3) {
                if (this.noPassSelect.noPassType.length < 1) {
                    this.$message({
                        showClose: true,
                        message: '请选择审核不通过的原因',
                        type: 'warning'
                    });
                    return false
                }
                this.textareaMark = this.textareaMark.replace(/(^\s*)|(\s*$)/g, "");
                if (this.textareaMark.length == 0 && this.noPassSelect.noPassType === '其他') {
                    this.$message({
                        showClose: true,
                        message: '请填写审核不通过的备注',
                        type: 'warning'
                    });
                    return false
                }
            }
            let reasonId = null
            const vm = this
            for (let [index, item] of Object.entries(this.noPassSelect.noPassList)) {
                if (item.reason === this.noPassSelect.noPassType) {
                    reasonId = item.id
                    break
                }
            }
            let title ;
            this.radioIsPass == 2 ? title='确认审核通过' : title='确认审核不通过';
            this.$confirm(title, '提示', {})
          .then(_ => {
            vm.shareArticle(val, reasonId);
          })
          .catch(_ => {});
        },
        //shareArticle 审核文章内容 
        shareArticle(id, reasonId){
            let formData = new FormData();
            let _this = this;
            let themeId,categoryType;
            for(let ele of _this.editForm.typeList){
                if(_this.editForm.type === ele.themeName) {
                    themeId = ele.id;
                    categoryType = ele.themeCode;
                }
            }
            formData.append("json", JSON.stringify
                ({
                   id,
                   status : this.radioIsPass,
                   authorId : _this.editForm.authorId,
                   adminCode:JSON.parse(localStorage.getItem('datas')).u + '-'+JSON.parse(localStorage.getItem('datas')).n,
                   themeId:themeId,
                   categoryType:categoryType,
                   reasonId: reasonId,
                   remark: this.textareaMark
                })
            )
            fetch(_this.toExamineShareArticle,{
                method : 'POST',
                body : formData
            }).then(res=>res.json()
            ).then(res=>{
                _this.editFormVisible = false;
                if(res.isSuccess == 1){
                    _this.$message({
                        message:res.result,
                        type:'info'
                    }) 
                   
                }else{
                     _this.$message({
                        message:res.errorMsg,
                        type:'error'
                    }) 
                }
                _this.getList();
                _this.type = '';
            }).catch(e=>{
                _this.editFormVisible = false;
                this.$message({
                    message:'网络错误,请重试！',
                    type:'error'
                })
            })
        },
        //推荐按钮
        recommend:function(val){
            let value = val;
            this.$confirm('确认推荐该文章么?','提示',{}).then(()=>{
                let formData = new FormData();
                formData.append("json", JSON.stringify
                    ({
                    id : value.id,
                    cpId : value.authorId,
                    status : '2'
                    })
                )
                fetch(this.toArticleCommon,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    // this.editFormVisible = false;
                    if(res.isSuccess === 1){
                    this.$message({
                        message:res.result.CheckArticleResult,
                        type:'info'
                    })
                    }else{
                        this.$message({
                            message:res.result,
                            type:'error'
                        })
                    }
                    this.getList();
                }).catch(e=>{
                    this.editFormVisible = false;
                    this.$message({
                        message:'网络错误,请重试!',
                        type:'error'
                    })
                })
            }).catch(()=>{})
        },
        transferType(val){
            for(let ele of this.editForm.typeList){
                if(ele.themeCode == val){
                   return ele.themeName;
                }
            }
        },
        //删除按钮
        deleteS:function(val){
            let _this = this;
            this.$confirm('确认删除当前心得?', '提示', {}).then(() => {
                let formData = new FormData();
                formData.append("json", JSON.stringify
                    ({
                        id : val.id,
                        authorId : val.authorId,
                        status : '4',
                        adminCode:JSON.parse(localStorage.getItem('datas')).u + '-'+JSON.parse(localStorage.getItem('datas')).n,
                    })
                )                 
                fetch(_this.toExamineShareArticle,{
                    method : 'POST',
                    body : formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess == 1){
                        _this.$message({
                            message:res.result,
                            type:'info'
                        }) 
                    }else{
                        _this.$message({
                            message:res.result,
                            type:'error'
                        }) 
                    }
                    _this.getList();
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试！',
                        type:'error'
                    })
                })  
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: '已取消删除'
                })
            });
        },
        //取消推荐
        deleteT:function(val){
            this.$confirm('确认取消推荐?', '提示', {}).then(() => {
                let formData = new FormData();
                formData.append("json", JSON.stringify
                    ({
                        shareId : val.id,
                    })
                )                 
                fetch(global.deleteGroom,{
                    method : 'POST',
                    body : formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess == 1){
                        this.$message({
                            message:'取消推荐成功',
                            type:'info'
                        }) 
                    }else{
                        this.$message({
                            message:'取消推荐失败',
                            type:'error'
                        }) 
                    }
                    if(this.sort === '推荐' || this.status === '已推荐'){
                        this.getRecommend();
                    }else{
                        this.getList();
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误,请重试！',
                        type:'error'
                    })
                })  
            }).catch(() => {
              
            });
        },
        //获取类型列表
        getTypeList:function(){
            let formData = new FormData();
            formData.append("json", JSON.stringify
                    ({})
            )
            fetch(this.getClassifyList,{
                method:'POST',
                body:formData
            }).then(res=>res.json()
            ).then(res=>{
               if(res.isSuccess === 1){
                   this.sortList = res.result;
                   this.editForm.typeList = res.result;
                   let arr = [{themeCode:'',themeName:'全部'},{themeCode:'',themeName:'推荐'}];
                   this.typeList = arr.concat(res.result);
               }
            }).catch(e=>{
                this.$message({
                    message:'网络错误,请重试!',
                    type:'error'
                })
            })
        },
        handleChange:function(){
            if( this.sort === '推荐'){
                this.disabled = true ; this.status = '已推荐';
            }else{
                this.disabled = false;
            }
        },
        //重新分类
        updateTheme(val,val1){
            let themeBefore,themeAfter;
            for(let ele of this.sortList){
                if(val.categoryType === ele.themeName ) themeBefore = ele.themeCode;
                if(val1 === ele.themeName ) themeAfter = ele.themeCode;
            }
            if(val.categoryType === val1){
                this.$message({
                    message:'不可选择同样分类',
                    type:'warning'
                })
                return false
            }else{
                this.$confirm('确认再次分类到'+ val1+'类目吗？','提示',{}).then(()=>{
                 let formData = new FormData();
                formData.append("json", JSON.stringify
                        ({
                            shareId : val.id + '',
                            themeBefore : themeBefore,
                            themeAfter : themeAfter
                        })
                )
                fetch(global.changeTheme,{
                    method:'POST',
                    body:formData
                }).then(res=>res.json()
                ).then(res=>{
                    if(res.isSuccess===1){
                        this.$message({
                            message:'重新分类成功',
                            type:'info'
                        })
                         this.tableData.findIndex(item => {
                            if (item.id === val.id) {
                                item.categoryType = val1;
                            }
                         })
                    }else{
                        this.$message({
                            message:'重新分类失败',
                            type:'error'
                        })
                    }
                }).catch(e=>{
                    this.$message({
                        message:'网络错误，请重试!',
                        type:'error'
                    })
                })

                }).catch(()=>{})
            }
            
        },
    },
    filters:{
        changeTime:function(val){
            if(val){
                let date = new Date(val);
                let yy = date.getFullYear() + '-';
                let mm = ((date.getMonth()+1) < 10 ? '0'+(date.getMonth()+1) :(date.getMonth()+1)) + '-';
                let dd = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
                let hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours())+ ':';
                let min = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
                let ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
                let aa= yy  + mm  + dd  + hh  + min + ss;
                return aa
            }else{
                return '无'
            }
          
        }
        
    }
}
</script>
<style lang="scss" scoped>
    .radioIsPass {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 22px;
        .asterisk {
            padding: 0 4px 0 10px;
            color: red;
        }
    }
	.text{
		display:inline-block;
		width:80px;
	}
	span{
		line-height:36px;
	}
    .img{
        margin:0px;
        padding:0px;
        list-style:none;
        display: flex; 
        flex-direction: column;
        /* width: calc(100%/4); */
    }
    .imgList{
        display: flex; 
        flex-wrap:wrap;
        padding-inline-start: 0px !important;
    }
    pre{ 
    white-space:pre-wrap; /* css3.0 */ 
    white-space:-moz-pre-wrap; /* Firefox */ 
    white-space:-pre-wrap; /* Opera 4-6 */ 
    white-space:-o-pre-wrap; /* Opera 7 */ 
    word-wrap:break-word; /* Internet Explorer 5.5+ */ 
    } 
    pre{
        font-family:Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
     Microsoft YaHei, SimSun, sans-serif;
    }
    pre{ 
    white-space:pre-wrap; /* css3.0 */ 
    white-space:-moz-pre-wrap; /* Firefox */ 
    white-space:-pre-wrap; /* Opera 4-6 */ 
    white-space:-o-pre-wrap; /* Opera 7 */ 
    word-wrap:break-word; /* Internet Explorer 5.5+ */ 
    } 
    pre{
        font-family:Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
     Microsoft YaHei, SimSun, sans-serif;
    }
</style>