<template>
  <div class="addBanner">
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col style="width:11%"><p class="spcP"><span class="asterisk">*</span>图片:</p></el-col>
      <el-upload
        :disabled="querytype === 'see'"
        :file-list="listArr"
        ref="uploadPic"
        action="https://upload.qiniup.com/"
        list-type="picture-card"
        accept="image/jpeg,image/gif,image/png"
        :limit="1"
        :data="uploadImgToken"
        :before-remove="beforeRemove"
        :on-success="handleAvatarSuccess"
        :on-error="handleError"
        :before-upload="beforeAvatarUpload">
        <i class="el-icon-plus"></i>
      </el-upload>
      <p style="text-align: left;margin-left: 11%;color: #988c8c59;">banner图片大小不能超过3MB</p>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col style="width:10%"><p><span class="asterisk">*</span>标题:</p></el-col>
      <el-col :span="8"><el-input v-model="title" style="width:70%" placeholder="请输入标题" :clearable="querytype !== 'see'" :disabled="querytype === 'see'"></el-input></el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col style="width:10%"><p><span class="asterisk">*</span>时间:</p></el-col>
      <el-col :span="8"><el-date-picker
          :clearable="querytype !== 'see'" :disabled="querytype === 'see'"
          v-model="time"
          :picker-options="pickerOptions"
          type="datetimerange"
          align="left"
          unlink-panels
          placeholder="请选择活动时间"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期">
        </el-date-picker>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col style="width:10%"><p><span class="asterisk">*</span>跳转类型:</p></el-col>
      <el-col :span="8">
        <el-select v-model="jumpType" @change="jumpChange('clear')" placeholder="请选择跳转类型" :clearable="querytype !== 'see'" :disabled="querytype === 'see'">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;padding:0">
      <el-col style="width:10%"><p><span class="asterisk"></span>跳转目标:</p></el-col>
      <el-col :span="15">
        <el-input v-model="jumpTypeLink" style="width:70%" :placeholder="jumpLinkPlaceholder" v-show="!isSecondLevelClassify" @focus="handleFocus" :clearable="querytype !== 'see'" :disabled="querytype === 'see' || isJumpIpt"></el-input>
        <el-select v-model="obj.value" placeholder="请选择分类" :style="{width: '25%', marginRight: obj.id === 3 ? '10px' : '0'}" v-loading="obj.loading" :disabled="obj.options.length === 0 || obj.disabled || querytype === 'see'"
        v-show="isSecondLevelClassify" filterable v-for="(obj, index) in classifyOptionsBanner" :key="obj.id" @change="selectChange(index)" :clearable="querytype !== 'see'">
          <el-option
            v-for="item in obj.options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top:20px;margin-bottom:20px;">
      <el-col style="width:10%"><p><span class="asterisk"></span>描述:</p></el-col>
      <el-col :span="8">
        <el-input
          :disabled="querytype === 'see'"
          type="textarea"
          :autosize="{ minRows: 2, maxRows: 4}"
          placeholder="请输入内容"
          v-model="description">
        </el-input>
      </el-col>
    </el-row>
    <div class="submit" v-if="querytype !== 'see'">
      <el-button type="primary" style="margin: auto;" @click="submit" v-loading="isSubmitLoading">提交</el-button>
    </div>
    <SelectProduct ref="SelectProduct"/>
    <el-dialog
      title="温馨提示"
      :visible.sync="dialogVisibleMsg"
      width="30%">
      <span v-text="errorMsg"></span>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisibleMsg = false">我知道了</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import global from "@/common/common";
import {mapGetters, mapActions} from 'vuex'
import {dateChangeover, agentRequest} from '@/utils'
import SelectProduct from '@/views/activityManagement/HWbanner/components/selectProduct'

export default {
  beforeRouteEnter (to, from, next) {
    next(async vm => {
      vm.getToken()
      if (vm.$route.query.type) {
        vm.querytype = vm.$route.query.type
        const res = await agentRequest({ // 编辑or查看banner信息
          api: 'sellerpc/index/banner/edit',
          params: `?id=${vm.$route.query.id}`
        }, vm)
        if (res && res.indexBanner && res.indexBanner.id === vm.$route.query.id) {
          const categoryStr = res.indexBanner.categoryStr
          vm.jumpType = res.indexBanner.jumpType
          if (categoryStr) {
            vm.categoryArr = categoryStr.split('>')
            vm.getCategoryList([1,,false,'editOrSee','editOrSeeHttpErr'])
            if (vm.categoryArr.length > 1) vm.getCategoryList([2,vm.categoryArr[0],false,'editOrSee','editOrSeeHttpErr'])
          }
          if (res.indexBanner.imgUrl) {
            vm.uploadPicIcon.style.display = 'none'
          }
          vm.listArr.push({
            url: res.indexBanner.imgUrl
          })
          vm.title = res.indexBanner.title
          if (res.indexBanner.productName && res.indexBanner.productId) {
            vm.jumpTypeLink = res.indexBanner.productName
            vm.saveSelectRowData({
              name: res.indexBanner.productName,
              id: res.indexBanner.productId
            })
          } else vm.jumpTypeLink = res.indexBanner.jumpTypeLink
          vm.time = [res.indexBanner.startAt, res.indexBanner.endAt]
          vm.description = res.indexBanner.description
          vm.jumpChange()
        } else {
          vm.$message.error('获取数据失败，请稍后重试~')
        }
      } else {
        vm.getCategoryList([1,,false,'init','editOrSeeHttpErr'])
      }
    })
  },
  data() {
    return {
      categoryArr: [],
      listArr: [],
      querytype: '',
      errorMsg: '',
      dialogVisibleMsg: false,
      isSubmitLoading: false,
      isSecondLevelClassify: false,
      isJumpIpt: false,
      jumpLinkPlaceholder: '请输入跳转目标',
      description: '',
      jumpTypeLink: '',
      time: '',
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() < Date.now() - 8.64e7;
        }
      },
      uploadImgToken: {
        token: ''
      },
      bucketHostName: '',
      uploadPicIcon: '',
      title: '',
      options: [{
          value: 'PRODUCT',
          label: '商品'
        }, {
          value: 'CUSTOMER',
          label: '自定义'
        }, {
          value: 'NO_JUMP',
          label: '不跳转'
        }, {
          value: 'SECOND_CATEGORY',
          label: '二级分类页面'
        }], 
        // {
        //   value: 'MODULE',
        //   label: '模块ID'
        // }],
      jumpType: ''
    }
  },
  methods: {
    ...mapActions([
      'saveClassifyOptionsBanner',
      'saveSearchInputBanner',
      'saveSelectRowData'
    ]),
    beforeRemove() {
      this.uploadPicIcon.style.display = 'inline-block'
      this.listArr = []
    },
    handleError () {
      this.getToken()
      this.$message({
        message: "上传失败，请稍后重试",
        type: "error"
      });
    },
    handleAvatarSuccess(res, file) {
      const imgUrl = this.bucketHostName + res.key
      this.listArr.push({
        url: imgUrl
      })
      this.uploadPicIcon.style.display = 'none'
    },
    beforeAvatarUpload(file) {
      const isFile3Mb = file.size / 1024 / 1024 < 3;
      if (!isFile3Mb) {
        this.$message.error('上传图片大小不能超过 3MB!');
      }
      return isFile3Mb;
    },
    async getToken() {
      const vm = this
      let formData = new FormData();
      formData.append("json", JSON.stringify({}));
      fetch(global.queryUpToken, {
        method: "POST",
        body: formData
      })
        .then(res => res.json())
        .then(res => {
          if (res.isSuccess === 1) {
            vm.uploadImgToken = Object.assign(vm.uploadImgToken, {
              token: res.result.key
            })
            vm.bucketHostName = res.result.bucketHostName;
          }
        })
        .catch(_ => {});
    },
    jumpChange(type) {
      if (type === 'clear') {
        this.isSecondLevelClassify = false
        this.isJumpIpt = false
        this.jumpTypeLink = ''
        this.jumpLinkPlaceholder = '请输入跳转目标'
        let classifyOptionsBanner = this.classifyOptionsBanner
        classifyOptionsBanner[0] = Object.assign(classifyOptionsBanner[0], {
          value: ''
        })
        classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
          value: ''
        })
        this.saveSelectRowData({
          name: '',
          id: ''
        })
        this.saveClassifyOptionsBanner(classifyOptionsBanner)
      }
      switch (this.jumpType) {
        case 'PRODUCT' :
          this.jumpLinkPlaceholder = '点我选择商品'
        break
        case 'CUSTOMER' :
          this.jumpLinkPlaceholder = '请输入链接URL'
        break
        case 'NO_JUMP' :
          this.jumpLinkPlaceholder = ''
          this.isJumpIpt = true
        break
        case 'SECOND_CATEGORY' :
          this.isSecondLevelClassify = true
          if (this.classifyOptionsBanner[0].options.length === 0) this.getCategoryList([1,,false,'init'])
        break
        case 'MODULE' :
          this.jumpLinkPlaceholder = '请输入模块ID'
        break
      }
    },
    handleFocus(ev) {
      if (this.jumpType === '') {
        this.$message({
          showClose: true,
          message: '请选择跳转类型',
          type: 'warning'
        })
      }
      if (this.jumpType === '' || this.jumpType === 'PRODUCT') {
        ev.target.blur()
      }
      if (this.jumpLinkPlaceholder === '点我选择商品') {
        if (this.classifyOptionsBanner[0].options.length === 0) this.getCategoryList([1,,false,'init'])
        this.$refs.SelectProduct.changeDialogTableVisibleProduct(true)
      }
    },
    async submit() {
      if (this.isSubmitLoading) return false
      this.isSubmitLoading = true
      let api = ''
      if (this.checkData()) {
        this.querytype === 'edit' ? api = 'sellerpc/index/banner/update' : api = 'sellerpc/index/banner/save'
        const res = await agentRequest({
          methods: 'post',
          api,
          body: {
            id: this.$route.query.id || null,
            title: this.title,
            imgUrl: this.listArr[0].url,
            jumpType: this.jumpType,
            jumpTypeLink: this.jumpTypeLink === this.selectRowData.name ? this.selectRowData.id : this.jumpTypeLink,
            startAt: dateChangeover([this.time[0], ,'dateformat']),
            endAt: dateChangeover([this.time[1], ,'dateformat']),
            description: this.description
          }
        }, this)
        if (res) {
          this.$router.replace('/hwBanner')
        } else {
          this.$message.error('提交失败，请稍后重试~')
        }
        this.isSubmitLoading = false
      }
    },
    tirm (str) {
      str = str || ''
      return str.replace(/(^\s*)|(\s*$)/g, "")
    },
    checkData() {
      this.title = this.tirm(this.title)
      this.jumpType = this.tirm(this.jumpType)
      this.jumpTypeLink = this.tirm(this.jumpTypeLink)
      const startAt = this.tirm(this.startAt)
      const endAt = this.tirm(this.endAt)
      if (this.listArr.length === 0) {
        this.errorMsg = '请选择图片'
        this.dialogVisibleMsg = true
        return false
      }
      if (this.title === '') {
        this.errorMsg = '请输入标题'
        this.dialogVisibleMsg = true
        return false
      }
      if (this.time.length !== 2) {
        this.errorMsg = '请选择时间'
        this.dialogVisibleMsg = true
        return false
      } else if (this.querytype === '') {
        const timeStart = dateChangeover([this.time[0], ,'dateStamp'])
        const timeEnd = dateChangeover([this.time[1], ,'dateStamp'])
        if (timeEnd - timeStart < 0 || timeEnd - timeStart === 0) {
          this.errorMsg = '活动开始时间必须早于活动结束时间，请重新设置'
          this.dialogVisibleMsg = true
          return false
        }
      }
      if (this.jumpType !== '' && this.jumpType !== 'NO_JUMP') {
        switch (this.jumpType) {
          case 'PRODUCT' :
            if (this.jumpTypeLink === '') {
              this.errorMsg = '您已选择跳转类型为商品，请完成跳转目标选择~'
              this.dialogVisibleMsg = true
              return false
            }
          break
          case 'CUSTOMER' :
            if (this.jumpTypeLink === '') {
              this.errorMsg = '您已选择跳转类型为自定义，请在【跳转目标】一栏中输入需要跳转的链接URL~'
              this.dialogVisibleMsg = true
              return false
            } else if (!this.jumpTypeLink.includes('//')) {
              this.errorMsg = '跳转目标存在非法输入 ，请输入正确的URL链接'
              this.dialogVisibleMsg = true
              return false
            }
          break
          case 'SECOND_CATEGORY' :
            if (this.jumpTypeLink === '') {
              this.errorMsg = '您已选择跳转类型为二级分类页面，请在【跳转目标】一栏选择二级分类页面~'
              this.dialogVisibleMsg = true
              return false
            }
          break
          case 'MODULE' :
            if (this.jumpTypeLink === '') {
              this.errorMsg = '您已选择跳转类型为模块ID，请在【跳转目标】一栏中输入需要跳转的模块ID~'
              this.dialogVisibleMsg = true
              return false
            }
          break
        }
      } else if (this.jumpType === ''){
        this.errorMsg = '请选择跳转类型'
        this.dialogVisibleMsg = true
        return false
      }
      return true
    },
    selectChange (index) {
      if (index === 0 && this.classifyOptionsBanner[0].value !== '') {
        let classifyOptionsBanner = this.classifyOptionsBanner
        classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
          loading: true,
          disabled: false
        })
        this.getCategoryList([2,this.classifyOptionsBanner[0].value,false])
      }
      if (index === 0 && this.classifyOptionsBanner[0].value == '') {
        let classifyOptionsBanner = this.classifyOptionsBanner
        classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
          value: '',
          disabled: true
        })
        this.getCategoryList([2,this.classifyOptionsBanner[0].value,false])
      }
      this.jumpTypeLink = this.classifyOptionsBanner[1].value === '' ? this.classifyOptionsBanner[0].value : this.classifyOptionsBanner[1].value
    },
    async getCategoryList ([level, parentCategoryId, isAlertError, type, ,editOrSeeHttpErr]) {
      let classifyOptionsBanner = []
      , arr = []
      const res = await agentRequest({ 
        /*
        banner分类 level: 0,1,2  0=所有分类, 1=1级分类, 2=二级分类
        1级分类params 为 null, 2级分类, params 为 1级分类的ID
        */
        api: `sellerpc/index/banner/category/list`,
        methods: 'post',
        params: null,
        body: {
          level: level || null,
          parentCategoryId: parentCategoryId || null,
        }
      }, this)
      if (res) {
        if (type === 'init') {
          res.map(item => {
            arr.push({
              label: item.name,
              value: item.id
            })
          })
          classifyOptionsBanner = this.classifyOptionsBanner
          classifyOptionsBanner[0] = Object.assign(classifyOptionsBanner[0], {
            options: arr
          })
          this.saveClassifyOptionsBanner(classifyOptionsBanner)
        } else if (type === 'editOrSee') {
          let id = ''
          res.map(item => {
            arr.push({
              label: item.name,
              value: item.id
            })
            if (item.id === this.categoryArr[0] && level - 0 === 1) {
              id = item.id
            }
            if (item.id === this.categoryArr[1] && level - 0 === 2) {
              id = item.id
            }
          })
          classifyOptionsBanner = this.classifyOptionsBanner
          if (level - 0 === 1 ) classifyOptionsBanner[0] = Object.assign(classifyOptionsBanner[0], {
            options: arr,
            value: id
          })
          if (level - 0 === 2 ) classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
            options: arr,
            value: id
          })
          this.saveClassifyOptionsBanner(classifyOptionsBanner)
        } else {
            res.map(item => {
              arr.push({
                label: item.name,
                value: item.id
              })
            })
            classifyOptionsBanner = this.classifyOptionsBanner
            classifyOptionsBanner[1] = Object.assign(classifyOptionsBanner[1], {
              options: arr,
              value: '',
              loading: false
            })
            this.saveClassifyOptionsBanner(classifyOptionsBanner)
        }
      } else {
        if (isAlertError) this.$message.error('请求分类数据失败，请稍后刷新重试~')
      }
    }
  },
  mounted() {
    this.uploadPicIcon = this.$refs.uploadPic.$el.children[1]
  },
  watch: {
    dialogVisibleMsg() {
      if (!this.dialogVisibleMsg) {
        this.isSubmitLoading = false
      }
    },
    selectRowData() {
      this.jumpTypeLink = this.selectRowData.name
    }
  },
  components: {
    SelectProduct
  },
  computed: {
    ...mapGetters([
      'classifyOptionsBanner',
      'searchInputBanner',
      'selectRowData'
    ])
  }
}
</script>

<style lang="scss" scoped>
.addBanner {
  .spcP {
    width: 90%;
  }
  .asterisk {
    color: red;
    padding-right: 5px;
    vertical-align: middle;
    display: inline-block;
  }
  p {
    margin: 0;
    padding: 0;
    text-align: right;
    line-height: 35px;
  }
  .submit {
    display: flex;
  }
}
</style>

